<div class="container-fluid">
  <section class="row">
    <div class="col-md-10" *ngIf="displayKeys.tableDetails.showTitle">
      <h1>{{displayKeys.tableDetails.title}}</h1>
    </div>
    <div *ngIf="displayKeys.selectAll.showSelectAll">
      <div class="pull-right mt-2" *ngIf="displayKeys.selectAll.option=='single'" role="group"
        (click)="SelectAlleventTrigger()">
        <a class="btn btn-secondary btn-md btnCss">
          {{displayKeys.selectAll.title}}</a>
      </div>
      <ng-template [ngIf]="displayKeys.selectAll.option=='multiple'">
        <ng-container *ngFor="let option of displayKeys.selectAll.option_details">
          <div class="pull-right mt-2" role="group" (click)="SelectAllMultipleEventTrigger(option)">
            <a class="btn btn-secondary btn-md btnCss">
              {{option.title}}</a>
          </div>
        </ng-container>
      </ng-template>
    </div>
  </section>
</div>

<table class="tableBodyScroll" id="printDiv" style="margin-top: 2px;">
  <thead>
    <tr style="line-height: 24px;">
      <th *ngIf="displayKeys.selectAll.showSelectAll" class="checkBoxCss">
        <!-- <input type="checkbox" class="form-checkbox" > -->

        <div class="field-checkbox-wrapper">
          <input type="checkbox" style="cursor: pointer;" class="form-checkbox"
            [checked]="displayKeys.selectAll.checked" (change)="toggleAllCheckBox()" id="ch2">
          <label for="ch2"></label>
        </div>
      </th>

      <th *ngFor="let key of keysArray" (click)="sortData(key)">
        <ng-template [ngIf]="key.filter">
          <span>
            {{key.header}}
            <i class="fa fa-sort-desc sortIcon" *ngIf="key.type=='desc'"></i>
            <i class="fa fa-sort-asc sortIcon" *ngIf="key.type=='asc'"></i>
          </span>
        </ng-template>
        <ng-template [ngIf]="!key.filter">
          <span>
            {{key.header}}
          </span>
        </ng-template>
      </th>
      <th *ngIf="displayKeys.actionSetting.showActionButton">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of recordsTrimmed ; let i=index" (click)="rowClick(i)" [id]="'editTableRow-'+i">
      <td *ngIf="displayKeys.selectAll.showSelectAll" class="checkBoxCss">
        <div class="field-checkbox-wrapper">
          <input type="checkbox" class="form-checkbox" style="cursor: pointer;" [checked]="data.checked"
            [(ngModel)]="data.checked" (ngModelChange)="checkboxVal(data)"
            (change)="toggleCheckbox($event,data,displayKeys.selectAll.key)" [id]="'checkbox-'+i">
          <label [for]="'checkbox-'+i"></label>
        </div>
      </td>
      <!--read view -->
      <ng-template [ngIf]="isEditRow!='editTableRow-'+i">
        <ng-container *ngFor="let key of keysArray">
          <td *ngIf="key.ngClassShow" [ngClass]="getClass(key.primaryKey,key.ngClassShow,data)">
            {{getTypeCheck(data,data[key["primaryKey"]],key)}}
          </td>
          <td *ngIf="!key.ngClassShow">
            {{getTypeCheck(data,data[key["primaryKey"]],key)}}
          </td>
        </ng-container>
      </ng-template>

      <!--edit view -->
      <ng-template [ngIf]="isEditRow=='editTableRow-'+i">
        <ng-container *ngFor="let key of keysArray" [ngSwitch]="key.inputType">
          <ng-container *ngSwitchCase="'dropdown'">
            <td *ngIf="key.ngClassShow" [ngClass]="getClass(key.primaryKey,key.ngClassShow,data)">
              <select (change)="onSelect($event.target.value)" [(ngModel)]="data[key['primaryKey']]">
                <option *ngFor="let value of  key['dataSource']" [value]="value">
                </option>
              </select>
            </td>
            <td *ngIf="!key.ngClassShow">
              <select (change)="onSelect($event.target.value,data)" [(ngModel)]="data[key['primaryKey']]">
                <option *ngFor="let item of data.arrayList" [value]="item">{{item}}
                </option>
              </select>
            </td>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <td *ngIf="key.ngClassShow " style="background: rgba(211, 212, 213, 0.5)"
              [ngClass]="getClass(key.primaryKey,key.ngClassShow,data)">

              <input *ngIf="key.inputType !='noEdit'" [type]="key.inputType" [(ngModel)]="data[key['primaryKey']]">
              <span *ngIf="key.inputType =='noEdit'"> {{getTypeCheck(data,data[key["primaryKey"]],key)}}</span>
            </td>
            <td *ngIf="!key.ngClassShow" style="background: rgba(211, 212, 213, 0.5)">
              <input class="inputCss" *ngIf="key.inputType !='noEdit'" [type]="key.inputType"
                [(ngModel)]="data[key['primaryKey']]">
              <span class="inputCss" *ngIf="key.inputType =='noEdit'" style="border:none">
                {{getTypeCheck(data,data[key["primaryKey"]],key)}}</span>

            </td>
          </ng-container>
        </ng-container>
      </ng-template>
      <!-- popup editView and or for trash -->
      <td *ngIf="displayKeys.actionSetting.showActionButton && isEditRow!='editTableRow-'+i ">

        <ng-template [ngIf]="displayKeys.actionSetting.isEditRowShow &&isEditRow!='editTableRow-'+i">
          <ng-container *ngFor="let option of displayKeys.actionSetting.options">
            <i class="fa fa-pencil" style="color: #0084f6;" aria-hidden="true" *ngIf="checkCondition(data)"
              (click)="editRow('editTableRow-'+i,data,option.optionType)"></i>
            <!-- <button class="button" *ngIf="checkCondition(data)"
              (click)="editRow('editTableRow-'+i,data,option.optionType)">{{option.title}}</button> -->
          </ng-container>
        </ng-template>
        <i class="fa fa-pencil" style="color: #0084f6;" aria-hidden="true"
          *ngIf="(!displayKeys.actionSetting.isEditRowShow) &&displayKeys.actionSetting.editOption=='button'&& checkCondition(data)"
          (click)="editRow('editTableRow-'+i,data)"></i>
        <!-- <button class="button"
          *ngIf="(!displayKeys.actionSetting.isEditRowShow) &&displayKeys.actionSetting.editOption=='button'&& checkCondition(data)"
          (click)="editRow('editTableRow-'+i,data)">{{ displayKeys.actionSetting.options[0].title}}</button> -->
        <div style="padding: 15px;font-size: 16px;font-weight: 500;"
          *ngIf="displayKeys.actionSetting.editOption=='icon'">
          <ng-template [ngIf]="true">
            <ng-container *ngFor="let option of displayKeys.actionSetting.options">
              <i class="fa fa-trash" *ngIf="option.viewName=='delete'&&isShow(option,data)" aria-hidden="true"
                (click)="handleEvent(data,option.viewName)" style="color: palevioletred; font-size: 1.4rem;">&nbsp;</i>
              <i class="fa fa-eye" *ngIf="option.viewName=='view' &&isShow(option,data)"
                (click)="handleEvent(data,option.viewName)" style="font-size: 1rem;color: #0084f6;">&nbsp;</i>
              <i class="fa fa-edit" *ngIf="option.viewName=='edit'&&isShow(option,data)"
                (click)="handleEvent(data,option.viewName)" style="font-size: 1.4rem;color:#0084f6"></i>
            </ng-container>
          </ng-template>
        </div>
        <div *ngIf="displayKeys.actionSetting.editOption=='link'">
          <ng-template [ngIf]="true">
            <ng-container *ngFor="let option of displayKeys.actionSetting.options">
              <a *ngIf="checkCondition(data)" (click)="handleEvent(data,option.viewName)"
                style="font-size: .8rem;color: #0084f6;">{{option.title}}</a>
            </ng-container>
          </ng-template>
        </div>
        <ng-template [ngIf]="displayKeys.actionSetting.editOption=='popup'  ">
          <drop-menu [dropType]="dropType" [info]="data" [menuOptions]="displayKeys.actionSetting.options"
            (selectedRecord)="recordSelected($event)"></drop-menu>
        </ng-template>
      </td>
      <!-- button editView -->
      <td *ngIf=" displayKeys.actionSetting.showActionButton && isEditRow=='editTableRow-'+i "
        style="  background: rgba(211, 212, 213, 0.5);">
        <ng-template [ngIf]="displayKeys.actionSetting.editOption=='button'">
          <ng-container *ngFor="let option of displayKeys.actionSetting.editOptions">
            <i class="fa fa-pencil" style="color: #0084f6;" *ngIf="checkCondition(data)" aria-hidden="true"
              (click)="editRow('editTableRow-'+i,data,option.optionType)"></i>
            <!-- <button class="button" *ngIf="checkCondition(data)"
              (click)="editRow('editTableRow-'+i,data,option.optionType)">{{option.title}}</button> -->
          </ng-container>
        </ng-template>
        <drop-menu *ngIf="displayKeys.actionSetting.editOption!='button'" [dropType]="dropType" [info]="data"
          [menuOptions]="displayKeys.actionSetting.options" (selectedRecord)="recordSelected($event)"></drop-menu>
      </td>
      <td
        *ngIf=" displayKeys.actionSetting.editOption!='button' && displayKeys.actionSetting.showActionButton && isEditRow=='editTableRow-'+i ">
        <drop-menu [dropType]="dropType" [info]="data" [menuOptions]="displayKeys.actionSetting.options"
          (selectedRecord)="recordSelected($event)"></drop-menu>
      </td>
    </tr>

    <ng-template [ngIf]="recordsTrimmed.length==0">
      <div class="illustration-container">
        <img alt="illustration" class="illustration-img" src="./assets/images/course_planner/blank-illustration.svg">
      </div>
      <!-- <div class="schedule-scroller">
        <ul class="ulCss ul-body ct-ongoing">
          <li style="width: 100%;">
            <label style="font-size: 16px;font-weight: 600;">{{displayKeys.displayMessage}}</label>
          </li>
        </ul>
      </div> -->
    </ng-template>
  </tbody>
</table>
<br>
<br>
<pagination (goPage)="fectchTableDataByPage($event)" (goNext)="fetchNext()" (goPrev)="fetchPrevious()"
  [pagesToShow]="_paginationService.getPagesToShow()" [page]="_paginationService.getPageIndex()"
  [perPage]="_paginationService.displayBatchSize" [sizeArr]="_paginationService.getSizeArr()"
  (sizeChange)="updateTableBatchSize($event)" [count]="recordCount">
</pagination>