<div class="middle-section clearFix" id="enquiryList" style="margin-top: -9px;">
  <section class="middle-top clearFix bulk-header">    
    <div class="row">
<h1 class="pull-left">
  Upload Student
 </h1> 
 <div class="flex outter_div">
  <div class="upload_section">
      <div class="display space">
          <div>
              <h1 class="title">Select a file to upload</h1>
          </div>
          <div>
            <a id="template_link">
              <button class="blue_button" value="Download Template" (click)="downloadTemplate()"><img src="../../../../assets/images/Group.svg">Download Template</button>
              </a>
          </div>
      </div>
      <div class="upload" *ngIf="!isUploadingXls">
          <div class="one">
              <h1>Upload Student Details</h1>
              <img src="../../../../assets/images/Group479.svg">
              
          </div>
          <div class="two">
              <p>Drag files to upload, or</p>
              <!-- <button class="blue_button">Choose File</button> -->
              <p-fileUpload customUpload="true" (uploadHandler)="uploadHandler($event)" [showCancelButton]="false">
              </p-fileUpload>
          </div>
      </div>

      <div class="uploadProcessAndFileName clearfix" *ngIf="isUploadingXls">
        <div class="file-uploaded">
          {{fileLoading}}
        </div>
        <div class="progress-bar-wrapper">
          <div class="upload-bar">
            <div id="progress-width"></div>
          </div>
          <span>{{progress}} %</span>
        </div>
      </div>


      <!-- <div class="after_upload" *ngIf="isUploadingXls">
          <h1>File Upload</h1>
          <p>{{fileLoading}}</p>
          <div>
              <p class="file_name"></p>
             <div class="display">
                 <div>
                  <p id="progress1-width">{{progress}}%</p>
                 </div>
                 <div>
                     <img src="../../../../assets/images/cross.svg" >
                
                     
                 </div>
             </div>
             <div class="display">
              <div>
              
              </div>
              <div>
                
                  <p class="time"></p>
                  
              </div>
          </div>
          </div> -->
          <!-- <div class="center">
              <button class="blue_button">Done</button>
          </div> -->
      <!-- </div> -->
    </div>
  <div class="note">
      <h1>Note : Instructions to be followed</h1>
      <div class="line"></div>
      <ol start="1">
          <li>
              Please click on the <b>"Download Template"</b> button for uploading student data.
              </li>
              <li>
                  Note the same file needs to be uploaded which was downloaded.
              </li>
              <li>
                  First read the Instructions mentioned on the downloaded file 
                 <b> (Sheet 1)</b> carefully.
              </li>
              <li>
                  Before adding any data, please select all cells and choose the format of cells as <b>"Text".</b>
              </li>
              <li>
                  Check mandatory fields should be filled properly.
              </li>
              <li>
                  Check uploaded file status report from <b>“Student Upload Report”.</b> 
              </li>
              <li>
                  If Student upload gets failed then download the sheet report from the<b> “Student Upload Report”</b> by clicking on<b> “Failure Count”</b> and check the failed reason in the last column. 

          </li>
      </ol>
  </div>
  <!-- table -->

</div>
<div class="outter_div" >
  <h1 class="title">Student Upload Report</h1>
  <div class="tablehead">
      <div>
          Created Date
      </div>
      <div>
          Status
      </div>
      <div>
          Total Count
      </div>
      <div>
          Success Count
      </div>
      <div>
          Failure Count
      </div>
  </div>
 <div class="scroll1">
  <div class="tablebody"  *ngFor="let record of bulkUploadRecords">
    <div title="{{record.created_date}}">
      {{record.created_date}} </div>
    <div title="{{record.statusValue}}">
       <span [ngClass]="{'completed': record.statusValue =='Completed','pending': record.statusValue == 'Pending'}">{{record.statusValue}}</span>
    </div>
    <div title="{{record.total_count}}">
      {{record.total_count}}
    </div>
    <div>
      <a *ngIf="record.success_count != 0 && downloadStudentReportAccess && record.success_path.includes('https://s3-')"
      id="success{{record.list_id}}" itle="Download Success Report" href="{{record.success_path}}">
      {{record.success_count}}
    </a>
    <a *ngIf="record.success_count != 0 && downloadStudentReportAccess && !record.success_path.includes('https://s3-')"
      id="success{{record.list_id}}" itle="Download Success Report" (click)="downloadSuccess(record)">
      {{record.success_count}}
    </a>
    <a *ngIf="record.success_count != 0 && !downloadStudentReportAccess" id="success{{record.list_id}}">
      {{record.success_count}}
    </a>
    <span *ngIf="record.success_count == 0">
      {{record.success_count}}
    </span>
    </div>
    <div >
      <a [ngClass]="{'failurCount':record.failure_count != 0}" *ngIf="record.failure_count != 0 && downloadStudentReportAccess  && record.failure_path.includes('https://s3-')"
      id="failure{{record.list_id}}" title="Download Failure Report" href="{{record.failure_path}}">
      {{record.failure_count}}
    </a>
    <a  [ngClass]="{'failurCount':record.failure_count != 0}" *ngIf="record.failure_count != 0 && downloadStudentReportAccess  && !record.failure_path.includes('https://s3-')"
      id="failure{{record.list_id}}" title="Download Failure Report" (click)="downloadFailure(record)">
      {{record.failure_count}}
    </a>
    <a [ngClass]="{'failurCount':record.failure_count != 0}" *ngIf="record.failure_count != 0 && !downloadStudentReportAccess" id="failure{{record.list_id}}">
      {{record.failure_count}}
    </a>
    <span *ngIf="record.failure_count == 0">
      {{record.failure_count}}
    </span>
    </div>
</div>
 </div>
 
</div>
</div>
</section>
</div>





<!-- <div class="middle-section clearFix" id="enquiryList" style="margin-top: -9px;">
  <section class="middle-top clearFix bulk-header">

    <div class="row">
      <h1 class="pull-left">
        Upload Student
      </h1>
      <aside class="pull-right">
        <input type="button" value="Student Upload Report" (click)="bulkStatusReporter()" class="btn" />
        <a id="template_link">
          <input type="button" value="Download Template" class="btn" (click)="downloadTemplate()" />
        </a>
        <input type="button" value="Add Student" routerLink='/view/students/add' class="btn" />
      </aside>
    </div>

  </section> -->

  <!--====================================middle <Main> section==========================-->
  <!-- <section class="middle-main clearFix" id="bulkEnquiryMain">
    <div class="file-upload-box">
      <div class="select-file-upload">
        <h5>Select a file to upload</h5>
        <div class="file-wrapper">
          <ul>
            <li> -->
              <!-- accept="application/vnd.ms-excel" -->
              <!-- <p-fileUpload customUpload="true" (uploadHandler)="uploadHandler($event)" [showCancelButton]="false">
              </p-fileUpload>
          <div class="uploadProcessAndFileName clearfix" *ngIf="isUploadingXls">
                <div class="file-uploaded">
                  {{fileLoading}}
                </div>
                <div class="progress-bar-wrapper">
                  <div class="upload-bar">
                    <div id="progress-width"></div>
                  </div>
                  <span>{{progress}} %</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </section> -->

  <!-- ================================================================================= -->
  <!-- ========================= Bulk Update Status =================================== -->
  <!-- <proctur-popup [hidden]="!isBulkUploadStatus">

    <span class="closePopup pos-abs fbold " id="popupCloseBtn" (click)="closeBulkStatus()" close-button>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="9310 2185 16 16">
        <g id="Group_1228" data-name="Group 1228" transform="translate(8298 1888)">
          <g id="Group_1213" data-name="Group 1213" transform="translate(34.189 -7.77)">
            <line id="Line_274" data-name="Line 274" class="cls-1" y2="19.798"
              transform="translate(992.81 305.77) rotate(45)" />
            <line id="Line_275" data-name="Line 275" class="cls-1" x1="19.798"
              transform="translate(978.81 305.77) rotate(45)" />
          </g>
          <rect id="Rectangle_686" data-name="Rectangle 686" style="stroke:none;" class="cls-2" width="16" height="16"
            transform="translate(1012 297)" />
        </g>
      </svg>
    </span>

    <h2 id="bulk-head" popup-header>Bulk Student Update Status</h2>

    <div class="bulk-enquiry-form" popup-content>

      <div class="row">
        <div class="">
          <table>
            <thead>
              <tr>
                <th>Created Date</th>
                <th>Status</th> -->
                <!-- <th>Comments</th> -->
                <!-- <th>Total Count</th>
                <th>Success Count</th>
                <th>Failure Count</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let record of bulkUploadRecords">
                <td>{{record.created_date}}</td>
                <td>{{record.statusValue}}</td>
                <td>{{record.total_count}}</td>
                <td>
                  <a *ngIf="record.success_count != 0 && downloadStudentReportAccess && record.success_path.includes('https://s3-')"
                    id="success{{record.list_id}}" itle="Download Success Report" href="{{record.success_path}}">
                    {{record.success_count}}
                  </a>
                  <a *ngIf="record.success_count != 0 && downloadStudentReportAccess && !record.success_path.includes('https://s3-')"
                    id="success{{record.list_id}}" itle="Download Success Report" (click)="downloadSuccess(record)">
                    {{record.success_count}}
                  </a>
                  <a *ngIf="record.success_count != 0 && !downloadStudentReportAccess" id="success{{record.list_id}}">
                    {{record.success_count}}
                  </a>
                  <span *ngIf="record.success_count == 0">
                    {{record.success_count}}
                  </span>
                </td>
                <td>
                  <a *ngIf="record.failure_count != 0 && downloadStudentReportAccess  && record.failure_path.includes('https://s3-')"
                    id="failure{{record.list_id}}" title="Download Failure Report" href="{{record.failure_path}}">
                    {{record.failure_count}}
                  </a>
                  <a *ngIf="record.failure_count != 0 && downloadStudentReportAccess  && !record.failure_path.includes('https://s3-')"
                    id="failure{{record.list_id}}" title="Download Failure Report" (click)="downloadFailure(record)">
                    {{record.failure_count}}
                  </a>
                  <a *ngIf="record.failure_count != 0 && !downloadStudentReportAccess" id="failure{{record.list_id}}">
                    {{record.failure_count}}
                  </a>
                  <span *ngIf="record.failure_count == 0">
                    {{record.failure_count}}
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>

  </proctur-popup>

</div> -->
