<section class="clearFix" style="padding-right: 2%;">
  <!-- Header and Navigation -->
  <section class="middle-top mb0 clearFix">
    <h1 class="pull-left">
      <!-- <a routerLink="/view/expense">
        Expense
      </a>
      <i style="font-family: 'FontAwesome';" class="fas fa-angle-right"></i> -->
      Manage Expense
    </h1>
  </section>

  <section>
    <div class="filter-search-data-container">

      <div class="filter-container">
        <div class="filter-item field-wrapper">
          <label for="filter">Filter</label>
          <select class="form-ctrl" name="filter" id="filter" [(ngModel)]="expenseFilter.dateFilter"
            (ngModelChange)="getExpenseRecords()">
            <option value="month">Current Month</option>
            <option value="date">Till Date</option>
            <option value="range">Date Range</option>
          </select>
        </div>
        <div class="filter-item field-wrapper datePickerBox" style="margin-left: 10px;"
          *ngIf="expenseFilter.dateFilter == 'range'">
          <label for="date-range">Select Date Range</label>
          <input type="text" value="" id="date-range" [(ngModel)]="dateFilterRange"
            (ngModelChange)="dateRangeChange($event)" class="form-ctrl widgetDatepicker bsDatepicker"
            style="padding: 6px;" readonly="true" name="date-range" placeholder="Date" bsDaterangepicker />
        </div>
      </div>

      <div class="search-data-container">
        <div class="activity-item field-wrapper">
          <input type="text" value="" id="search_bar" [(ngModel)]="expenseSearchInput" name="expenseSearchInput"
            (keyup)="searchDatabase(search)" placeholder="Search here..." class="search-box" #search>
        </div>
        <div class="activity-item">
          <button type="button" name="button" class="add-expense-btn" [routerLink]="['/view/expense/add-expense']">Add
            Expense</button>
        </div>
      </div>

    </div>
  </section>

  <div class="excel-container">
    <i class="fa fa-file-excel-o excel" aria-hidden="true" title="Export to excel" (click)="exportToExcel()"></i>
  </div>

  <section>
    <div class="list-table-container">
      <div class="list-header-container">
        <div class="list-header-item small-item">
          <span>Payment Date</span>
        </div>
        <div class="list-header-item small-item">
          <span>Reference No. </span>
        </div>
        <div class="list-header-item medium-item">
          <span>Payee</span>
        </div>
        <div class="list-header-item medium-item">
          <span>Item/Category</span>
        </div>
        <div class="list-header-item small-item align-center">
          <span>Total(Rs.)</span>
        </div>
        <div class="list-header-item small-item align-center">
          <span>Edit</span>
        </div>
      </div>
      <div class="list-value-outer-container">
        <div class="list-value-container" *ngFor="let expense of expenseRecordList">
          <div class="list-value-item small-item">
            <span>{{expense.payment_date}}</span>
          </div>
          <div class="list-value-item small-item">
            <span>{{expense.reference_no}}</span>
          </div>
          <div class="list-value-item medium-item">
            <span title="{{expense?.party_name}}">{{ (!expense.party_name) ? '-' : (expense.party_name.length > 30) ?
              (expense.party_name | slice:0:30) + '...' : expense.party_name}}</span>
          </div>
          <div class="list-value-item medium-item">
            <span title="{{expense?.category}}">{{ (!expense.category) ? '-' : (expense.category.length > 30) ?
              (expense.category | slice:0:30) + '...' : expense.category}}</span>
          </div>
          <div class="list-value-item small-item align-right" style="padding-right: 50px;">
            <span>{{expense.amount}}</span>
          </div>
          <div class="list-value-item small-item align-center">
            <i class="fa fa-pencil" aria-hidden="true" title="Edit Expense"
              (click)="editExpense(expense.expense_id)"></i>
          </div>
        </div>
        <div class="no-records" *ngIf="expenseRecordList.length  == 0">
          <span>No Records Found</span>
        </div>
      </div>
    </div>
  </section>
</section>