  <section class="middle-section clear-fix" id="middle-sectionId">
      <section class="middle-top mb0 clearFix sms-header">
      <h2 class="pull-left" style="font-weight: bold;">
        <span> Update Exam Marks</span>
      </h2>
    </section>
  
    <hr>
  
    <div class="header_container">
      <div class="header_item1">
        <h4>{{exam_info?.data.batch_name}}</h4>
      </div>
      <div class="header_item1 pull-right" style="position: absolute; right: 160px; top: 3.5rem;">
        <h4>
          <label class="upload_details">Total Students :
            <span class="txt_type " [ngClass]="{'txt_total_marks': examData.is_exam_grad_feature == 0}"> &nbsp;{{studentList?.length}} </span>
          </label> &nbsp;
          <span *ngIf="examData.is_exam_grad_feature == 0">Total Marks : {{examData.total_marks}}</span>
        </h4>
      </div>
      <div class="header_item1 pull-right">
  
        <span *ngIf="examData.is_exam_grad_feature == 0">
          <input type="button" value="Upload Marks" class="btn upload_details btn_upload_grades" style="border-radius: 4px;position: absolute; right: 20px; top: 2.7rem;"
            (click)="updateGradesOption()">
        </span>
        <span *ngIf="examData.is_exam_grad_feature == 1">
          <input type="button" value="Upload Grade" class="btn upload_details btn_upload_grades" style="border-radius: 4px;position: absolute; right: 20px; top: 2.7rem;"
            (click)="updateGradesOption()">
        </span>
      </div>
    </div>
  
  
    <section class="marks-section">
      <div class="update_exam_marks_container">
  
        <div class="marks_table_container">
          <!-- Header -->
          <div class="heading_container">
            <div style="width: 5%;" class="field-checkbox-wrapper">
              <input type="checkbox" value="" class="form-checkbox" id="MarkPresent" [checked]="checkForMArks()" (change)="markAllCheckBoxClick($event)">
              <label></label>
            </div>
            <div class="heading_item">
              <span>Student Id</span>
            </div>
            <div class="heading_item">
              <span>Student Name</span>
            </div>
            <div class="heading_item">
              <span>Attendance</span>
            </div>
            <div class="heading_item">
              <span>Standard/Class</span>
            </div>
  
            <div class="heading_item">
              <span *ngIf="examData.is_exam_grad_feature == 0">Marks Obtained</span>
              <span *ngIf="examData.is_exam_grad_feature == 1">Grade Obtained</span>
            </div>
            <div class="heading_item">
              <span>Remarks</span>
            </div>
          </div>
          <!-- Body Container -->
          <div class="value_container" *ngFor="let s of studentList; let i=index;">
            <div style="width: 5%;padding:5px;" class="field-checkbox-wrapper">
              <input type="checkbox" value="" class="form-checkbox" id="MarkPresent" [(ngModel)]="s.assigned" [disabled]="(s.attendance != 'P')">
              <label></label>
            </div>
            <div class="value_item">
              <span>{{s.student_disp_id}}</span>
            </div>
            <div class="value_item">
              <span>{{s.student_name}}</span>
            </div>
            <div class="value_item">
              <div class="btnGroup  btns">
                <button class="btn classLeaveBtn" *ngIf="s.attendance == 'L'">L</button>
                <button class="btn classAbsentBtn" *ngIf="s.attendance == 'A'">A</button>
                <button class="btn classPresentBtn" *ngIf="s.attendance == 'P'">P</button>
              </div>
            </div>
  
            <div class="value_item">
              <span>{{s.student_class}}</span>
            </div>
  
            <div class="value_item">
              <div *ngIf="examData.is_exam_grad_feature == 0" class="form-wrapper" style="width:50px;">
                <input type="number" class="side-form-ctrl paddingLess" [disabled]="(s.attendance != 'P')" [ngStyle]="{'background':(s.attendance != 'P')? '#969696':''}"
                  [(ngModel)]="s.marks_obtained">
              </div>
  
              <div *ngIf="examData.is_exam_grad_feature == 1" class="form-wrapper" style="width:70px;">
                <select id="" class="side-form-ctrl" [disabled]="(s.attendance != 'P')" [ngStyle]="{'background':(s.attendance == 'L' && s.isAttendanceUpdated == 'N') || (s.attendance == 'L') || (s.attendance == 'A')? '#969696':''}"
                  [(ngModel)]="s.grade_id" name="grade_id" [disabled]="(s.attendance == 'L' && s.isAttendanceUpdated == 'N') || (s.attendance == 'L') || (s.attendance == 'A')"
                  style="padding: 0px 0px">
                  <option value="-1"></option>
                  <option [value]="time.grade_id" *ngFor="let time of gradesList">
                    {{time.grade}}
                  </option>
                </select>
              </div>
            </div>
            <div class="value_item">
              <input type="text" class="side-form-ctrl paddingLess" [(ngModel)]="s.remarks" [disabled]="(s.attendance == 'A')||(s.attendance == 'L')" >
            </div>
          </div>
          <div class="value_container" *ngIf="studentList.length == 0">
            <div class="value_item" style="width: 100%;">
              <span>No Students Record</span>
            </div>
          </div>
        </div>
      </div>
    </section>
  
  
    <div style="padding-top: 10px;" class="clearfix">
      <aside class="pull-left popup-btn" style=" display: inline-flex; ">
        <input type="button" value="Back" class="btn" (click)="closeAttendance()" style="margin-left: 0px;border-radius: 4px;">
      </aside>
      <aside class="pull-right popup-btn" style=" display: inline-flex;border-radius: 4px; ">
        <input type="button" value="Cancel" class="btn" (click)="closeAttendance()" style="border-radius: 4px;">
        <input type="button" value="Update Marks" (click)="updateMarksOnServer('N')" class="fullBlue btn" style="border-radius: 4px;"
          [disabled]="isRippleLoad">
        <input type="button" value="Update Marks And Send SMS" (click)="updateMarksOnServer('Y')" class="fullBlue btn" style="border-radius: 4px;"
          [disabled]="isRippleLoad">
      </aside>
    </div>
  
  </section>
  
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog" style="width: 25%">
      <a id="downloadFileClick" class="hide"></a>
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header top_corner">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <span class="modal-title">Upload Student Marks</span>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <input class="fullBlue btn txt-download" id="btnDownload" type="button" value="Download" (click)="downloadMarksDetails()">
          </div>
          <br>
          <div class="text_line">
            <span>OR</span>
          </div>
          <div class="txt_upload text-center">Upload Marks</div>
          <br>
          <div>
            <p-fileUpload #fileUpload customUpload="true" type="submit" (uploadHandler)="uploadHandler($event,fileUpload)" [showCancelButton]="false">
            </p-fileUpload>
          </div>
        </div>
      </div>
  
    </div>
  </div>