
body {
    background: #EEEEF4;
    color: #999;
}

h1 {
    font-weight: 100;
    font-size: 27pt;
    color: #E43;
}

p {
    font-weight: 300;
}

.middle-section {
    padding: 5px 15px;
    width: 100%;
    box-sizing: border-box;
    .middle-top {
        h2 {
            color: black;
            font-weight: unset;
            padding-top: 20px;
        }
    }
    .form-wrapper {
        background: transparent;
        margin: 25px 0px;
        .btn {
            margin-top: 10px;
            width: 30%;
        }
        label {
            padding-left: 25px;
            font-size: 12px;
            font-weight: 400; //font-family: -webkit-body;
            color: 0084f6;
            text-decoration: none;
            text-transform: uppercase;
            -webkit-font-smoothing: antialiased;
            width: 100%;
        }
        .side-form-ctrl {
            background: white;
            border: 1px solid rgba(119, 119, 119, 0.4196078431372549);
            width: 85%;
            padding-left: 10px;
            margin-left: 10px;
            height: 30px;
            padding: 0px 5px;
            font-weight: 600;
            font-size: 14px;
            color: black;
            &.bsDatepicker {
                padding-left: 10px;
                margin-left: 25px;
                width: 60%;
            }
        }
    }
}

.master {
    margin-top: 10px;
    float: right;
    margin-bottom: 10px;
    margin-right: 16px;
}

.attendance-container {
    // height: 85vh;
    background: #efefef;
    padding: 5px;
    overflow: auto;
}

.filter-form {
    background: #fff;
    box-shadow: 0px 0px 2px 2px #dadada;
    border-radius: 10px;
    .row {
        margin: 5px 15px;
    }
    .form-wrapper {
        position: relative;
        &.datePickerBox {
            .side-form-ctrl {
                cursor: pointer;
                position: relative;
                z-index: 1;
                background: transparent;
            }
            &:after {
                content: '';
                background: url('../../../../assets/images/calendar.svg') no-repeat;
                position: absolute;
                right: 0;
                top: 20px;
                width: 21px;
                height: 21px;
                z-index: 0;
            }
        }
    }
    .form-wrapper {
        padding: 10px 5px;
        label {
            width: 100%;
            display: block;
        }
        .side-form-ctrl {
            cursor: pointer;
            position: relative;
            z-index: 1;
            background: transparent;
            width: 100%;
            padding: 3px;
            display: block;
            border: 1px solid #dadada;
        }
    }
    .form-wrapper {
        padding: 10px 5px;
        position: relative;
        &.datePickerBox {
            .side-form-ctrl {
                cursor: pointer;
                position: relative;
                z-index: 1;
                background: transparent;
                width: 100%;
                padding: 5px;
                display: block;
                border: 1px solid #dadada;
            }
            &:after {
                content: '';
                background: url('../../../../assets/images/calendar.svg') no-repeat;
                position: absolute;
                right: 10px;
                top: 30px;
                width: 21px;
                height: 21px;
                z-index: 0;
            }
        }
    }
    .popup-content {
        position: relative;
        left: 5%;
        overflow-x: hidden;
        table {
            overflow-y: auto;
            overflow-x: auto;
            width: 95%;
        }
        h5 {
            font-weight: 200px;
            text-align: center;
        }
        h2 {
            text-align: center;
        }
    }
    .main-student-table {
        ::-webkit-scrollbar {
            display: block;
        }
        .student-table {
            overflow-x: auto;
            height: 400px;
        }
    }
    .btn {
        display: inline-block;
    }
    .inner-main {
        display: inline;
        padding: 20px 0px 12px 0px;
        .inner-btn {
            display: inline-block;
        }
        .outer-btn {
            display: inline-block;
        }
    }
    .records {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }
    .form-field {
        display: inline-block;
        width: 80%;
    }
    .form-date {
        display: inline-block;
        width: 100%;
    }
    .table-content {
        height: 350px;
        ::-webkit-scrollbar {
            display: block;
        }
        .table-heading {
            overflow-x: auto;
            height: 350px;
        }
    }
    .filter-box {
        padding: 10px 0px;
        margin-bottom: 5px;
        background: #efefef;
    }
    .form-wrapper {
        .datePickerBox {
            padding-right: 10px;
            padding-bottom: 10px;
            width: 10%;
        }
    }
    .popup-header-content {
        h2 {
            text-align: center;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        h5 {
            text-align: center;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    .middle-section {
        padding: 5px 15px;
        width: 100%;
        box-sizing: border-box;
        .middle-top {
            h2 {
                color: black;
                font-weight: unset;
                padding-top: 20px;
            }
        }
        .form-wrapper {
            background: transparent;
            margin: 25px 0px;
            align-content: center;
            .btn {
                margin-top: -3px;
                width: 70%;
            }
            label {
                padding-left: 10px;
                font-size: 12px;
                font-weight: 400;
                color: 0084f6;
                text-decoration: none;
                text-transform: uppercase;
                -webkit-font-smoothing: antialiased;
                width: 100%;
            }
            .side-form-ctrl {
                background: white;
                border: 1px solid rgba(119, 119, 119, 0.4196078431372549);
                width: 100%;
                padding-left: 10px;
                margin-left: 10px;
                height: 30px;
                padding: 0px 5px;
                font-weight: 600;
                font-size: 14px;
                color: black;
                &.bsDatepicker {
                    padding-left: 10px;
                    margin-left: 10px;
                    width: 100%;
                }
            }
        }
    }
    /*popup scss*/
    .popupWrapper {
        position: fixed;
        width: 100%;
        height: 100%;
        bottom: 0;
        top: 0px;
        right: 0;
        left: 0px;
        background: rgba(230, 230, 230, 0.5);
        z-index: 100; // display: none;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all 0.5s ease-in;
        -moz-transition: all 0.5s ease-in;
        -ms-transition: all 0.5s ease-in;
        -o-transition: all 0.5s ease-in;
        transition: all 0.5s ease-in;
        .popup {
            max-width: 100%; // max-height: 350px;
            width: 100%;
            height: auto;
            left: 0;
            right: 0;
            top: 5%;
            bottom: 0;
            margin: auto; // transform: translateY(-50%);
        }
    }
    .popup-wrapper {
        padding: 32px 15px; // height: 100%;
        box-sizing: border-box;
        box-shadow: 1px 8px 20px 5px #9c9c9c;
        transition: unset;
        background: #fff;
        span {
            font-weight: 300;
            display: inline-block;
        }
        h2 {
            margin-bottom: 15px;
            font-size: 22px;
        }
        h4 {
            margin: 25px 0 15px;
            font-weight: 600;
        }
    }
    .closePopup {
        right: 10px;
        top: 10px;
        font-size: 18px;
        cursor: pointer;
        line-height: 20px;
        width: 26px;
        height: 26px;
        box-sizing: border-box;
        text-align: center;
        padding-top: 3px;
        display: none;
        &.bottomRight {
            bottom: 2px;
            top: auto;
            left: auto;
            right: 0;
        }
        &.topLeft {
            left: 0;
            right: auto;
            top: 1px;
            bottom: auto;
        }
        &.bottomLeft {
            left: 0;
            right: auto;
            bottom: 2px;
            top: auto;
        }
        svg {
            width: 16px;
            .cls-1 {
                stroke: #c1c1c1;
                stroke-width: 2px;
            }
        }
        &:hover {
            .cls-1 {}
        }
    }
    .popup-content {
        height: 100%;
        overflow: hidden;
        visibility: visible;
    }
    .fadeIn {
        opacity: 1;
        visibility: visible;
    } // =======================================css for mob popup
    .popupWrapperMob {
        position: fixed;
        width: 100%;
        height: 100%;
        bottom: 0;
        top: 0;
        right: 0;
        left: 0;
        z-index: 100;
        background: rgba(0, 0, 0, 0.5);
        visibility: hidden; // opacity: 0;
        -webkit-transition: all 0.5s ease-in;
        -moz-transition: all 0.5s ease-in;
        -ms-transition: all 0.5s ease-in;
        -o-transition: all 0.5s ease-in;
        transition: all 0.5s ease-in;
        .closePopup {
            right: -25px;
            top: -27px;
            display: block;
        }
    }
    .popup-mob {
        left: 0;
        width: 100%;
        max-height: 70%;
        background: #fff;
        padding: 30px;
        box-sizing: border-box;
        height: 100%;
        overflow: auto;
        z-index: 1;
        bottom: -70%;
        -webkit-transition: all 0.5s ease-in;
        -moz-transition: all 0.5s ease-in;
        -ms-transition: all 0.5s ease-in;
        -o-transition: all 0.5s ease-in;
        transition: all 0.5s ease-in;
    }
    .popupWrapperMob.showPopupMob {
        z-index: 100;
        visibility: visible;
        opacity: 1;
    }
    .popupWrapperMob.showPopupMob .popup-mob {
        bottom: 0;
    } ///////////
    .popup-content {
        ::-webkit-scrollbar {
            display: block;
            width: 7px;
            height: 7px;
        }
    }
}

.details-wrapper {
    max-height: 450px;
    overflow-x: auto;
    overflow-y: auto;
    ::-webkit-scrollbar{
        display:block;
    }
    tr {
        th {
            padding: 10px;
            &.marks {
                min-width: 185px;
                height: 83px;
            }
        }
        td {
            &.marks {
                min-width: 185px;
            }
        }
    }
}

.btn-sms-search {
    margin-top: 35px;
    text-align: center;
    margin-left: 280px;
    width: 100%
}

.search-filter-wrapper {
    .normal-field {
        padding: 7px 10px;
        border: 1px solid #ccc;
        width: 15%;
        box-sizing: border-box;
        margin-right: 10px;
        margin-bottom: 5px;
        float: right;
        height: 35px;
        font-size: 14px;
    }
}

.pop-header {
    padding-bottom: 12px;
}

.pull-right {
    margin-right: 12px;
    padding-bottom: 10px;
}
.stdnt-table{
    height:500px;
    overflow: hidden!important;
    ::-webkit-scrollbar{
        display:block;
    }
    .poor {
        background: white;
        margin-top:41px;
        margin-left:5px;
        margin-right:5px;
        height:300px;
        overflow-y: auto;
        overflow-x: auto;
    }
}
.stu-table {
    height:500px;
    ::-webkit-scrollbar{
        display:block;
    }
    table{
        tbody{
            height:450px;
            overflow-x: auto;
            overflow-y: auto;
        }
    }

}
.table-overflow{
    overflow:hidden;
}
