@import "./src/assets/css/common/variables.scss";

.middle-section{
    padding: 1%;
  }

  .header-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .course-menu-section-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 20px;
    // margin-top: 20px;
    border-top: 1px solid rgba(10,10,10,0.5);
    width: 100%;
    .course-menu-item{
      padding: 15px 10px;
      width: 31%;
      background: #fff;
      height: 120px;
      border-radius: 4px;
      cursor: pointer;
      text-align: left;
      margin: 1%;
      -webkit-box-shadow: 0px 3px 6px #696969;
      box-shadow: 0px 3px 6px #696969;
      .menu-title{
        width: 100%;
        justify-content: flex-start;
        font-size: 14px;
        font-weight: 600;
        display: flex;
        flex-direction: row;
        img{
          width: 25px;
          height: 25px;
        }
        span{
          margin-left: 10px;
          margin-top: 5px;
        }
      }
      .menu-description{
        padding: 10px;
        font-size: 12px;
      }
    }
  }

  .header-section{
    .header-title{
      text-align: left;
      font-size: 14px;
      font-weight: 600;
      color: #0084f6;
      padding-bottom: 10px;
      margin-top: 1em;
    }
  }

  .borderWithText {
      display: block;
      margin: 10px 0px;
      h2 {
          font-size: 15px;
          text-align: center;
          border-bottom: 2px solid #f1f1f1;
          position: relative;
          span {
              background-color: white;
              position: relative;
              top: 10px;
              padding: 0 10px;
          }
      }
  }


  .questionInfo {
      position: relative;
      left: 10%;
      top: -20px;
      height: 20px;
      width: 20px;
      z-index: 2;
      &.lefts {
          left: 80%;
          .tooltip-box-field {
              color: black;
              min-height: 22px;
              width: 140px !important;
              left: -135px !important;
              z-index: 1;
              padding: 5px 10px !important;
              top: -12px !important;
              &:after {
                  display: none;
              }
          }
      }
      .qInfoIcon {
          margin-left: 5px;
          width: 20px;
          height: 20px;
          border: 1px solid #ccc;
          border-radius: 50%;
          display: block;
          text-align: center;
          box-sizing: border-box;
          line-height: 20px;
          font-weight: 600;
          font-size: 12px;
          cursor: pointer;
          box-shadow: 0px 0px 1px 0px #ccc inset;
          color: #888;
          transition: all 0.2s linear;
          &:hover {
              border-color: $header-bg;
              box-shadow: 0px 0px 1px 0px $header-bg inset;
          }
      }
      &.hover {
          &.lefts {
              left: 80%;
              .tooltip-box-field {
                  color: black;
                  min-height: 22px;
                  width: 140px !important;
                  left: -135px !important;
                  z-index: 1;
                  padding: 5px 10px !important;
                  top: -12px !important;
                  &:after {
                      display: none;
                  }
              }
          }
      }
  }
  .closePopup {
      right: 4%;
      top: 8%;
      font-size: 18px;
      cursor: pointer;
      line-height: 20px;
      width: 26px;
      height: 10px;
      box-sizing: border-box;
      text-align: center;
      padding-top: 3px;
      display: none;
      &.bottomRight {
          bottom: 2px;
          top: auto;
          left: auto;
          right: 0;
      }
      &.topLeft {
          left: 0;
          right: auto;
          top: 1px;
          bottom: auto;
      }
      &.bottomLeft {
          left: 0;
          right: auto;
          bottom: 2px;
          top: auto;
      }
      svg {
          width: 16px;
          .cls-1 {
              stroke: #c1c1c1;
              stroke-width: 2px;
          }
      }
      &:hover {
          .cls-1 {
              stroke: #0084f6;
          }
      }
  }

  .textBox {
      width: 100%;
      height: 60px;
      padding: 10px;
      box-sizing: border-box;
      resize: none;
      &:focus {
          padding: 10px;
      }
  }

  .search-filter {
      .normal-field {
          padding: 7px 10px;
          border: 1px solid #ccc;
          box-sizing: border-box;
          margin: 0;
          float: left;
          height: 35px;
          font-size: 14px;
      }
      .field-wrapper {
          position: relative;
          padding-top: 0px !important;
          width: 30%;
          float: left !important;
          .form-ctrl {
              font: 400 12px 'Open sans',sans-serif;
              border-top: none !important;
              border-right: none !important;
              border-left: none !important;
          }
      }
      .field-wrapper label {
          position: absolute !important;
          left: 10% !important;
          top: 1% !important;
          &:after {
              left: 85% !important;
              top: 10px !important;
          }
      }
  }

  .notification-content-wrapper {
      padding: 0px 0px 0px 15px;
      max-height: 55vh;
      overflow-x: hidden;
      overflow-y: auto;
      .row {
          margin: 10px 0px 10px 0px;
      }
      .add-notificaton-wrapper {
          margin: 10px 0px 10px 0px;
          background: #efefef;
          padding: 5px 5px 5px 5px;
          .row {
              textarea {
                  padding: 5px 5px;
                  height: 75px !important;
                  background: white !important;
                  border: .2px solid rgba(0, 0, 0, 0.1607843137254902);
              }
              p {
                  margin-top: 5px;
                  font-size: 15px;
                  font-weight: 400;
              }
              .note-section{
                span{
                  font-size: 12px;
                }
              }
              .btn-Group {
                  padding-top: 50px;
                  color: #000;
                  height: 20px;
                  font-size: 10px;
                  border-radius: 3px;
                  text-align: center;
              }
          }
      }
      .content-section-wrapper {
          .common-tab {
              padding-top: 5px;
              ul {
                  font-size: 0;
                  border-bottom: 1px solid #f1f1f1;
                  li {
                      margin-right: 1px;
                      display: inline-block;
                      width: 10%;
                      max-width: 158px;
                      cursor: pointer;
                      a {
                          display: block;
                          padding: 10px 5px;
                          background: #eff7ff;
                          border: 1px solid #cccdcd;
                          color: $common-blue;
                          text-align: center;
                          font-size: 14px;
                          font-weight: 600;
                      }
                      &:hover,
                      &.active {
                          a {
                              background: $common-blue;
                              color: $bg-white;
                              border-color: $common-blue;
                              font-weight: normal;
                          }
                      }
                  }
              }
          }
          .main-content-wrapper {
              .filter-section {
                  margin-left: -15px;
                  .form-wrapper {
                      background: transparent;
                      margin: 0px;
                      &.datepicker {
                          span {
                              position: absolute;
                              top: 30px;
                              right: 20px;
                              font-weight: 300;
                              color: red;
                              cursor: pointer;
                          }
                      }
                      label {
                          font-size: 12px;
                          font-weight: 400;
                          color: black;
                          text-decoration: none;
                          text-shadow: none;
                          -webkit-font-smoothing: antialiased;
                      }
                      .side-form-ctrl {
                          background: transparent;
                          border: 1px solid rgba(119, 119, 119, 0.4196078431372549);
                          width: 100%;
                          padding: 5px 5px;
                          font-weight: 600;
                          font-size: 14px;
                          color: black;
                          &.bsDatepicker {
                              padding: 5px 5px 6px 5px;
                              width: 70%;
                          }
                      }
                      &.timepick {
                          .side-form-ctrl {
                              background: transparent;
                              border: 1px solid rgba(119, 119, 119, 0.4196078431372549);
                              width: 100%;
                              padding: 8px 5px;
                              font-weight: 600;
                              font-size: 14px;
                              color: black;
                          }
                      }
                  }
              }
              .checkbox-Group {
                  margin-top: 15px;
                  margin-bottom: 10px;
              }
              .table-content-wrapper {
                  max-height: 175px;
                  overflow-x: hidden;
                  overflow-y: scroll;
                  table {
                      &.table-wrapper {
                          max-height: 200px;
                          thead {
                              tr {
                                  th {
                                      padding: 5px 5px !important;
                                      .field-checkbox-wrapper {
                                          display: inline-block;
                                          margin-bottom: 0px
                                      }
                                  }
                              }
                          }
                          tbody {
                              tr {
                                  padding: 0px 0px !important;
                                  td {
                                      padding: 5px 5px !important;
                                      .field-checkbox-wrapper {
                                          display: inline-block;
                                          margin-bottom: 0px
                                      }
                                  }
                              }
                          }
                      }
                  }
                  ::-webkit-scrollbar {
                      display: block;
                      width: 7px;
                      height: 7px;
                  }
              }
              #divSendMessage {
                  .row {
                      margin: 10px 0px;
                  }
                  .deliverModeSection {
                      margin-left: -15px;
                  }
                  .message-table-wrapper {
                      max-height: 160px;
                      overflow-x: hidden;
                      overflow-y: scroll;
                      table {
                          &.message-table {
                              max-height: 200px;
                              thead {
                                  tr {
                                      .dateSection {
                                          width: 100px;
                                      }
                                  }
                              }
                              tbody {
                                  tr {
                                      padding: 0px 0px !important;
                                      td {
                                          padding: 5px 5px !important;
                                          &.dateSection {
                                              width: 100px;
                                          }
                                      }
                                  }
                              }
                          }
                      }
                      ::-webkit-scrollbar {
                          display: block;
                          width: 7px;
                          height: 7px;
                      }
                  }
                  .btn-loginGroup {
                      display: inline-block;
                  }
              }
          }
      }
  }

  .actb-wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      &>li {
          box-shadow: 0px 3px 10px rgba(0,0,0,0.16);
          background: #fff;
          margin-bottom: 16px;
          width: 90%;
          border-radius: 6px;
          overflow: hidden;
          margin: 5px;
          &.enquiry-state,
          &.fees-state {
              width: 48%;
              min-height: 250px;
          }
          .actb-top-header {
              padding: 10px 12px;
              background: #fafafa;
              border-bottom: 1px solid #dedddd;
              span.heading {
                  font-weight: 400;
                  font-size: 14px;
                  color: #414141;
                  // text-transform: uppercase;
                  padding-top: 4px;
                  display: inline-block;
              }
              button {
                  background: transparent;
                  &.drag-button {
                      cursor: all-scroll;
                      margin-left: 16px;
                  }
              }
              .enquiry-state-date {
                  font-size: 14px;
                  color: #666;
                  margin-right: 10px;
                  padding-top: 4px;
                  display: inline-block;
              }
              .schedSwitcher {
                  display: inline-flex;
                  width: 200px;
                  margin: 0px 25px;
                  padding-top: 4px; //height: 25px;
                  ul {
                      list-style: none;
                      width: 100%;
                      li {
                          background: #fff;
                          display: inline-block;
                          width: 45%;
                          padding: 6px 20px 6px;
                          border: 1px solid #0084f6;
                          cursor: pointer;
                          color: #0084f6;
                          border-radius: 4px;
                          margin-right: 8px;
                          &.active {
                              background: #0084f6;
                              color: #fff;
                          }
                      }
                  }
              }
          }
      }
  }

  .schedSwitcher {
      display: inline-flex;
      width: 200px;
      margin: 0px 25px;
      padding-top: 4px;
      ul {
          list-style: none;
          width: 100%;
          li {
              background: #fff;
              display: inline-block;
              width: 45%;
              padding: 6px 20px 6px;
              border: 1px solid #0084f6;
              cursor: pointer;
              color: #0084f6;
              &.active {
                  background: #0084f6;
                  color: #fff;
              }
          }
      }
  }

  .schedule-bottom {
      ul {
          &.subjectViewHead {
              background: #e0eaec;
              display: flex;
              li {
                  padding: 10px 25px;
                  font-weight: 600;
                  text-transform: capitalize;
                  color: black;
                  background: transparent;
                  font-size: 12px;
              }
              .timings {
                  width: 22%;
              }
              .subject {
                  width: 18%;
              }
              .course-name {
                  width: 15%;
              }
              .action {
                  width: 15%;
                  text-align: center;
              }
              .faculty-name {
                  width: 12%;
              }
              .topic-link{
                width: 18%;
                border: none;
              }
          }
      }
      .subjectViewContent {
          .ct-ongoing {
              border-bottom: 1px solid rgba(211, 212, 213, 0.5);
              // cursor: pointer;
              background: white;
              display: flex;
              li {
                  padding: 5px 24px 0px;
                  div {
                      color: rgb(30, 35, 40);
                      font-size: 12px;
                      margin-bottom: 8px;
                  }
              }
              .timings {
                  width: 22%;
              }
              .subject {
                  width: 18%;
              }
              .course-name {
                  width: 15%;
              }
              .action {
                  width: 15%;
                  justify-content: center;
                  i, img{
                    margin: 0px 5px;
                    max-width: 14px;
                    height: 14px;
                    cursor: pointer;
                  }
              }
              .faculty-name {
                  width: 12%;
              }
              .topic-link{
                width: 18%;
                border: none;
                div {

                }
              }

          }
      }
  }
