<div class="clear-fix">

  <div id="bulk" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Upload solution in Bulk</h4>
        </div>
        <div class="modal-body">
          <div class="assignment-details-item field-wrapper">
            <label for="uploadFileControl" style="font-size: 14px;margin-top: 7px;">Upload File</label>
            <input type="file" class="form-ctrl upload-file" id="uploadFileControl" name="uploadFileBox" accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,
          text/plain, application/pdf, image/*" [(ngModel)]="upFile" />
            <button type="button" name="button" class="upload-docs-btn" (click)="fillFiles()">Upload</button>
          </div>

          <div class="assignment-details-item field-wrapper">
            <input type="text" name="" class="assignment-input url" value="" placeholder="Link Title"
              [(ngModel)]="urlDetails.name">
            <input type="text" name="" class="assignment-input url" value="" placeholder="Provide Link"
              style="margin-left: 10px;" [(ngModel)]="urlDetails.url">
            <button type="button" name="button" class="upload-docs-btn" (click)="uploadURL()">Add</button>
          </div>

          <div class="attachment-container">
            <div class="link-attachment-container" *ngIf="bulkUrlList?.length > 0">
              <div class="link-attachment-item" *ngFor="let url of bulkUrlList">
                <i class="fa fa-globe" aria-hidden="true"></i>
                <span
                  title="{{url.display_name}}">{{(url.display_name.length > 45) ? (url.display_name | slice:0:45) + '...' : url.display_name}}</span>
                <i class="fa fa-times" aria-hidden="true" (click)="removeLink(url.display_name)" style="color:red;"></i>
              </div>
            </div>
            <div class="file-attachment-container">
              <div class="file-attachment-item" *ngFor="let file of fileArray">
                <i class="fa fa-file" aria-hidden="true"></i>
                <span>{{file.fileName}}.{{file.fileType}}</span>
                <i class="fa fa-times" aria-hidden="true" (click)="removeFile(file)" style="color:red;"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-default" (click)="uploadAttachments()">Update</button>
        </div>
      </div>

    </div>
  </div>

  <!-- Modal -->
  <div id="updateStudent" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Update Status</h4>
        </div>
        <div class="modal-body">
          <div class="update-status-container" *ngIf="editStatus && editStatus != '' && editStatus != null">
            <div class="student-container">
              <div class="name-status-container">
                <div class="name-container">
                  <span class="name">Student Name: </span>
                  <span
                    title="{{editStatus?.student_name}}">{{ (!editStatus.student_name) ? '-' : (editStatus.student_name.length > 30) ? (editStatus.student_name | slice:0:30) + '...' : editStatus.student_name}}</span>
                </div>
                <div class="status-container">
                  <span class="name">Student Status: </span>
                  <span
                    title="{{editStatus?.student_status}}">{{ (!editStatus.student_status) ? '-' : (editStatus.student_status.length > 30) ? (editStatus.student_status | slice:0:30) + '...' : editStatus.student_status}}</span>
                </div>
              </div>
              <div class="student-remarks-container">
                <span class="name">Student Remarks:</span>
                <span
                  title="{{editStatus?.student_comment}}">{{ (!editStatus.student_comment) ? '-' : (editStatus.student_comment.length > 30) ? (editStatus.student_comment | slice:0:30) + '...' : editStatus.student_comment}}</span>
              </div>
              <div class="url-list-container" *ngIf="editStudentAttachments.urlList?.length > 0">
                <div class="link-attachment-item" *ngFor="let url of editStudentAttachments.urlList">
                  <i class="fa fa-globe" aria-hidden="true"></i>
                  <span style="width: 40%;" *ngIf="url.attachment_display_name!=''">
                    {{ (url.attachment_display_name.length >50) ? (url.attachment_display_name | slice:0:50) + '...' : url.attachment_display_name }}
                  </span>
                  <span style="width: 40%;">
                    <a href="url.attachment_url">
                      {{ (url.attachment_url.length >50) ? (url.attachment_url | slice:0:50) + '...' : url.attachment_url }}
                    </a>
                  </span>
                </div>
              </div>
              <div class="attachment-list" *ngIf="editStudentAttachments.attachmentList?.length > 0">
                <div class="file-attachment-item" *ngFor="let file of editStudentAttachments.attachmentList">
                  <i class="fa fa-file" aria-hidden="true"></i>
                  <span>{{file.attachment_name}}</span>
                  <i class="fa fa-download" aria-hidden="true" style="color:#0084f6; cursor: pointer;"
                    (click)="downloadFile(file)"></i>
                </div>
                <a id="downloadFile" class="hide"></a>
              </div>
            </div>
          </div>
          <div class="faculty-container">
            <div class="name-status-container">
              <!-- <div class="status-container field-wrapper" *ngIf="editStatus?.teacher_status != null" style="flex-direction: column;">
                <label for="state-date">Faculty Status</label>
                <select name="" class="course-input marks-input form-ctrl" [(ngModel)]="editStatus.teacher_status" style="width:78%; margin-top: 5px;">
                  <option value="Open">Open</option>
                  <option value="Inreview">Under Evaluation</option>
                  <option value="Reviewed">Evaluated</option>
                </select>
              </div> -->
              <div class="marks-container field-wrapper" *ngIf="editStatus?.evaluation_required == 'Y' && !assignmentDetails.enable_grade">
                <label for="state-date" style="font-size: 12px;">Teacher Marks</label>
                <input type="text" name="" value="" class="form-ctrl marks-input"  placeholder="Teacher Marks" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"  [(ngModel)]="editStatus.evaluation_marks">
              </div>
              <div class="marks-container field-wrapper" *ngIf="editStatus?.evaluation_required == 'Y' && assignmentDetails.enable_grade">
                <label for="state-date" style="font-size: 12px;">Teacher Grade</label>
                <select name="" class="course-input marks-input form-ctrl" [(ngModel)]="editStatus.grade_id" style="width:78%; margin-top: 5px;">
                  <option value="">Select</option>
                  <option value="{{data.grade_id}}" *ngFor="let data of gradeDetails">{{data.grade}}</option>
                </select>
              </div>

              <div class="marks-remarks-container">
                <div class="remarks-container field-wrapper">
                  <label for="state-date" style="font-size: 12px;">Teacher Remarks</label>
                  <textarea name="name" rows="4" cols="40" class="form-ctrl" placeholder="Teacher Remarks"
                    [(ngModel)]="editStatus.teacher_comment"></textarea>
                </div>
              </div>

              <div class="assignment-details-item field-wrapper">
                <label for="updateUploadFile" style="font-size: 12px;margin-top: 7px;">Upload File</label>
                <input type="file" class="form-ctrl upload-file" id="updateUploadFile" name="uploadFileBox" accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,
              text/plain, application/pdf, image/*" [(ngModel)]="uploadFiles" />
                <button type="button" name="button" class="upload-docs-btn" (click)="updateUpdateFile()">Upload</button>
              </div>

              <div class="assignment-details-item field-wrapper">
                <input type="text" name="" class="assignment-input url" value="" placeholder="URL Name"
                  [(ngModel)]="UploadUrlDetails.name">
                <input type="text" name="" class="assignment-input url" value="" placeholder="URL"
                  style="margin-left: 10px;" [(ngModel)]="UploadUrlDetails.url">
                <button type="button" name="button" class="upload-docs-btn" (click)="updateUploadURL()">Upload</button>
              </div>

              <div class="url-list-container" *ngIf="editTeacherAttachments.urlList?.length > 0"
                style="padding-top: 10px; border-top: 1px solid #ccc;">
                <div class="link-attachment-item" *ngFor="let url of editTeacherAttachments.urlList">
                  <i class="fa fa-globe" aria-hidden="true"></i>
                  <span>{{url.attachment_display_name}}</span>
                  <i class="fa fa-times" aria-hidden="true" (click)="removeUpdateLink(url.attachment_display_name)"
                    style="color:red;"></i>
                </div>
              </div>
              <div class="attachment-list" *ngIf="editTeacherAttachments.attachmentList?.length > 0">
                <div class="file-attachment-item" *ngFor="let file of editTeacherAttachments.attachmentList">
                  <i class="fa fa-file" aria-hidden="true"></i>
                  <span *ngIf="file?.attachment_name">{{file.attachment_name}}</span>
                  <i class="fa fa-times" aria-hidden="true" (click)="removeFacultyAttachment(file.attachment_id)"
                    style="color:red;"></i>
                </div>
              </div>

              <div class="url-list-container" *ngIf="facultyUrlList?.length > 0"
                style="padding-top: 10px; border-top: 1px solid #ccc;">
                <div class="link-attachment-item" *ngFor="let url of facultyUrlList">
                  <i class="fa fa-globe" aria-hidden="true"></i>
                  <span>{{url.display_name}}</span>
                  <i class="fa fa-times" aria-hidden="true" (click)="removeNewlyAddedLink(url.display_name)"
                    style="color:red;"></i>
                </div>
              </div>
              <div class="attachment-list" *ngIf="facultyAttachments?.length > 0">
                <div class="file-attachment-item" *ngFor="let file of facultyAttachments">
                  <i class="fa fa-file" aria-hidden="true"></i>
                  <span>{{file.name}}</span>
                  <i class="fa fa-times" aria-hidden="true" (click)="removeNewlyAddedFile(file.name)"
                    style="color:red;"></i>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-default" (click)="updateStudentStatus()">Update</button>
        </div>
      </div>

    </div>
  </div>

  <!-- breadcrumb -->
  <section class="middle-top clearFix bulk-header">
    <div>
      <h1 class="pull-left">
        <!-- <a routerLink="/view/course" *ngIf="!jsonFlag.isProfessional" style="padding:0px; ">
          Course
        </a>
        <a routerLink="/view/batch" *ngIf="jsonFlag.isProfessional" style="padding:0px; ">
          Batch
        </a>
        <i style="font-family: 'FontAwesome';" class="fas fa-angle-right"></i> -->
        <a routerLink="/view/{{jsonFlag.type}}/online-assignment" style="padding:0px; ">
          Assignments
        </a>
        <i style="font-family: 'FontAwesome';" class="fas fa-angle-right"></i>
        <span>Student Submission Status</span>
      </h1>
    </div>
  </section>
  <div class="stat-item"  *ngIf="assignmentDetails">
      <span class="stat-heading" style="margin-left: 16px;font-weight: 600;">Assignment Title : </span>
      <span
        title="{{assignmentDetails.title}}">{{ (assignmentDetails?.title.length > 70) ? (assignmentDetails.title | slice:0:70) + '...' : assignmentDetails.title }}</span>
    </div>
  <section class="stats-container" *ngIf="assignmentDetails">

    <!-- <div class="stat-item">
      <span class="stat-heading">Assignment Title : </span>
      <span
        title="{{assignmentDetails.title}}">{{ (assignmentDetails?.title.length > 70) ? (assignmentDetails.title | slice:0:70) + '...' : assignmentDetails.title }}</span>
    </div> -->
    <div class="stat-item">
      <span class="stat-heading">Start Date : </span>
      <span>{{assignmentDetails?.start_date}} {{assignmentDetails.start_time}}</span>
    </div>
    <div class="stat-item">
      <span class="stat-heading">Due Date : </span>
      <span>{{assignmentDetails?.end_date}} {{assignmentDetails.end_time}}</span>
    </div>
    <div class="stat-item" *ngIf="assignmentDetails?.evaluation_required == 'Y'">
      <span class="stat-heading">Evaluation Marks : </span>
      <span>{{assignmentDetails?.evaluation_marks}}</span>
    </div>
    <div class="stat-item">
      <span class="stat-heading">No of Students Assigned : </span>
      <span>{{assignmentDetails.studentId_lists.length}}</span>
    </div>
  </section>


  <!-- filter container -->
  <section>
    <div class="filter-container" [hidden]="rowSelectedCount == 0">
      <div class="manage-assignment-btn-container">
        <button type="button" name="button" class="manage-assignment-btn" (click)='bulkUpload()'>Upload
          Solution</button>
      </div>
    </div>
  </section>

  <section>
    <div class="list-table-container">
      <div class="list-header-container">
        <div class="list-header-item small-item field-checkbox-wrapper" style="background: transparent;">
          <input type="checkbox" value="" name="check" [checked]="isAllChecked()" (change)="selectAllRows($event)"
            class="form-checkbox">
          <label></label>
        </div>
        <div class="list-header-item small-item">
          <span>Student Id</span>
        </div>
        <div class="list-header-item small-item">
          <span>Student Name</span>
        </div>
        <div class="list-header-item small-item">
          <span>Phone Number</span>
        </div>
        <div class="list-header-item small-item">
          <span>Status</span>
        </div>
        <div class="list-header-item small-item align-center">
          <span>Action</span>
        </div>
      </div>
      <div class="list-value-outer-container">
        <div class="list-value-container" *ngFor="let student of tempStudentList" [class.selected]="i == selectedRow">
          <div class="list-value-item small-item field-checkbox-wrapper">
            <input type="checkbox" name="recordcb[]" value="" name="check" class="rowCheckbox form-checkbox"
              [(ngModel)]="student.uiSelected" (ngModelChange)="rowCheckboxChange(student)">
            <label></label>
          </div>
          <div class="list-value-item small-item">
            <span>{{student.student_display_id}}</span>
          </div>
          <div class="list-value-item small-item">
            <span>{{student.student_name}}</span>
          </div>
          <div class="list-value-item small-item">
            <span
              title="{{student?.student_phone}}">{{ (!student.student_phone) ? '-' : (student.student_phone.length > 25) ? (student.student_phone | slice:0:25) + '...' : student.student_phone}}</span>
          </div>
          <div class="list-value-item small-item">
            <span
              title="{{student?.student_status}}">{{ (!student.student_status) ? '-' : (student.student_status.length > 25) ? (student.student_status | slice:0:25) + '...' : student.student_status}}</span>
          </div>
          <div class="list-value-item small-item align-center" style="display: flex;justify-content: center;">
            <button type="button" name="button" class="status-btn" [disabled]="(student.student_status!='Submitted' || student.teacher_status == 'Evaluated') || !assignmentDetails?.show_evaluate" (click)="updateStatus(student)">
              {{student.teacher_status == 'Evaluated' ? 'Evaluated' : 'Evaluate'}}
            </button>
          </div>
        </div>
        <div class="no-records" *ngIf="tempStudentList?.length  == 0">
          <span>No Records Found</span>
        </div>
      </div>
    </div>
  </section>