<!-- Main screen where content will be rendered -->

<div class="center-content">

  <div id="dropZone" #dropZone (drop)="onDrop($event)" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)"
    class="drop-area">

    <p-fileUpload #uploaders mode="advanced" *ngIf="dragoverflag" customUpload="true" multiple="multiple"
      (onSelect)="onSelect($event, uploaders)" (clear)="clearSelectedFiles($event)">
    </p-fileUpload>

  </div>


  <!-- Header for the Drive -->
  <header class="top-nav">

    <h1 class="pull-left">
      <a style="float: left;">
        Content Library
      </a>
      <div style="float: left;">
        &nbsp;<i style="font-family: 'FontAwesome';" class="fas fa-angle-right"></i> File Manager
        <span *ngIf="pathArray?.length>0">
          <i style="font-family: 'FontAwesome';" class="fas fa-angle-right"></i>
        </span>
        <span style="font-size: 14px;margin-top: 6px;">
          <a class="pathAnchor" *ngFor="let path of pathArray; let j = index" (click)="collapseString(j)">
            {{path}} /
          </a>
        </span>
      </div>
    </h1>
    <div class="pull-right" style="position: relative;top: 14px; width:15%;margin-bottom: 10px;">
      <span *ngIf="SelectedFilesArray?.length>0">
        <input type="button" value="Delete File" class="btn fullBlue"
          style="background: none;color: #0084f6;margin-right: 10px;" (click)="deleteFile()">
      </span>
      <i class="fa fa-upload" (click)="uploadBox()" title="Upload File"
        style="font-family: 'FontAwesome' ; display: inline-block; font-size: 19px; color: #52454596;" id="upload">
      </i>&nbsp;&nbsp;&nbsp;
      <i class="fa fa-folder-open" style="font-size: 19px; color: #52454596; margin-left: 1%; display: inline-block;"
        title="Create Folder" (click)="makeFolderOpen()"></i>
    </div>
  </header>

  <div class="files-cont">
    <!-- Files and Folder for Group to be Inserted  -->
    <div #DragContainer class="grid__container row row--no-right">
      <!-- Side Tree View For Folder Display -->
      <div class="col-sm-3 tree__view" (dragover)="onDragOverFolder($event, null)"
        (dragleave)="onDragLeaveFolder($event, null)">
        <h3></h3>
        <p-tree (onNodeCollapse)="onNodeCollapse($event)" (onNodeContextMenuSelect)="onNodeContextMenuSelect($event)"
          (onNodeExpand)="onNodeExpand($event)" (onNodeSelect)="onNodeSelect($event)" selectionMode="single"
          [styleClass]="'tree__view_list'" #expandingTree [value]="treeNodeData">
        </p-tree>

      </div>

      <!-- Preview Mode for Viewing the files on grid or list view -->
      <div class="col-sm-9" style="min-height: 90vh;max-height: 90vh;overflow-y: auto;">
        <div class="" (dragover)="onDragOverFolder($event, null)" (dragleave)="onDragLeaveFolder($event, null)">
          <div class="file table__header">
            <div class="file__img"></div>
            <div class="file__info" style="background: #e0eaec;">
              <h2 class="file__details file__header__name" style="font-weight: 600;color: black;">
                File Name
              </h2>

              <div class="file__details" style="width:15%;font-weight: 600;color: black;">
                Category
              </div>

              <div class="file__details file__owner" style="font-weight: 600;color: black;">
                Owner
              </div>

              <div class="file__details file__date" style="font-weight: 600;color: black;">
                Uploaded On
              </div>

              <div class="file__details file__size" style="font-weight: 600;color: black;">
                File Size
              </div>

              <div class="file__details" style="width: 10%;font-weight: 600;color: black;">
                View
              </div>
              <div class="file__details" style="width: 7%;font-weight: 600;color: black;">
                Action
              </div>
            </div>
          </div>
        </div>

        <div>
          <div (dragover)="onDragOverFolder($event, folder)" (dragleave)="onDragLeaveFolder($event, folder)"
            (click)="folderSelected(folder)" *ngFor="let folder of folderDisplayArr"
            class="file folder folder-file row">
            <div class="c-md-1" style="width: 1%;"></div>
            <div class="c-md-11" style="width: 96%;padding: 0;">
              <div class="file__img"></div>
              <div class="file__info">

                <h2 class="file__title" title="{{folder.label}}">
                  {{folder.label}}
                </h2>

                <div class="file__details" style="text-transform: capitalize;">
                  {{folder.type}}
                </div>

                <div class="file__details file__owner">{{folder.data.uploaded_by}}</div>

                <div class="file__details file__date">{{folder.data.uploaded_time}}</div>

                <div class="file__details file__size">{{folder.data.size}} MB</div>

                <div class="file__details file__Data">{{folder.data.downloads}}</div>

                <div style="width: 7%;float: right;margin-right: 20px;">
                  <!-- <i class="fa fa-trash" style="font-size: 17px; color: red;" title="Delete folder" (click)="getFilesDeleted(folder)"></i> -->
                  <span>-</span>
                </div>

              </div>
            </div>
          </div>

          <div *ngIf="fileDisplayArr.length != 0">
            <file-card (draggedover)="onDragOver($event)" (draggedleave)="onDragLeave($event)" [data]="folder" *ngFor="let folder of fileDisplayArr"
              (getFilesAndFolder)="getFilesAndFolder($event)" (status)="status($event)" (downloadStatus)="downloadStatus($event)" (getPopupValue)="getPopupValue($event)"
              (fileid)="fileId($event)" (fileArr)="fileArr($event)" (shareOptions)="handleOptions($event)" [fileDisplayArr]="fileDisplayArr"
              [selectedFolder]="selectedFolder" (filePath)="filePath($event)" (playYoutubeVideo)="getYoutubeLink($event)" (editYoutubeVideo)="editYoutubeVideo($event)" (ShowDeleteFileButton)="ShowDeleteFileButton($event)"
              (playVimeoVideo)="playVimeoVideo($event)" [vimeo_video_downlodable]="vimeo_video_downlodable" (getVimeoDownloadData)="getVimeoDownloadData($event)">
            </file-card>
          </div>

          <div class="file folder folder-file" *ngIf="isFolderEmpty == true">
            <h2 class="file__title" id="noFFs">
              No Files Or Folders Found
            </h2>
          </div>
        </div>

      </div>
      <!-- ======================================================= -->
    </div>
  </div>

</div>

<app-upload-popup *ngIf="addCategoryPopup" [manualUpload]="manualUpload" [selectedFiles]="selectedFiles"
  [currentFolder]="selectedFolder" [pathArray]="pathArray" (closePopupValue)="close($event)"
  (getFilesAndFolder)="getFilesAndFolder($event)" (filePath)="filePathUpload($event)"
  [currentFilesArray]="fileDisplayArr" (uploadStatus)="uploadStatus($event)" [editView]="editYoutubeFile">
</app-upload-popup>

<share-file *ngIf="getPopupOpen" (treeUpdater)="treeUpdater($event)" (closePopup)="closeSharePopup($event)"
  [fileIdGet]="fileIdGet" [fileName]="fileName" [shareOptions]="shareOptions"></share-file>


<proctur-popup [sizeWidth]="'small'" *ngIf="createFolderControl">

  <span class="closePopup pos-abs fbold show" close-button (click)="closeFolderControl()">
    <svg class="artdeco-icon" focusable="false" height="24px" preserveAspectRatio="xMinYMin meet" viewBox="0 0 24 24"
      width="24px" x="0" y="0">
      <path class="large-icon"
        d="M20,5.32L13.32,12,20,18.68,18.66,20,12,13.33,5.34,20,4,18.68,10.68,12,4,5.32,5.32,4,12,10.69,18.68,4Z"
        style="fill: currentColor"></path>
    </svg>
  </span>
  <div popup-header class="popup-header-content">
    <h2>Create Folder</h2>
  </div>
  <div popup-content class="popup-header-content">
    <div class="row">
      <div class="c-lg-8 field-wrapper">
        <label>Folder Name
          <!-- <div class="questionInfo inline-relative">
            <span class="qInfoIcon i-class"> ?</span>
            <div class="tooltip-box-field">
                Dot(.) is not allowed .
            </div>
          </div> -->
          <span style="padding-left: 10px;">* Dot(.) is not allowed .</span>
        </label>
        <input type="text" class="form-ctrl" [(ngModel)]="createFetchFolder.folderName">
      </div>
      <div class="c-lg-2" style="margin-top: 4%;">
        <input type="button" value="Create" class="btn fullBlue" (click)="createFolder()">
      </div>
    </div>
  </div>
</proctur-popup>

<div class="black-bg" *ngIf="jsonFlag.downloading">
  <span>Downloading...</span>
</div>

<div class="black-bg" *ngIf="jsonFlag.uploading">
  <span>Uploading...</span>
</div>
<div class="videoplayer" *ngIf="videoplayer">
  <iframe width="650" height="400" [src]="currentProjectUrl" frameborder="0" style="border-radius: 10px;"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
  </iframe>
</div>

<div class="black-bg" id="black-bg" *ngIf="videoplayer" (click)="closePlayer()"></div>

<proctur-popup [sizeWidth]="'small'" *ngIf="deletePopup">

  <span class="closePopup pos-abs fbold show" close-button (click)="closeDeletePopup()">
    <svg class="artdeco-icon" focusable="false" height="24px" preserveAspectRatio="xMinYMin meet" viewBox="0 0 24 24"
      width="24px" x="0" y="0">
      <path class="large-icon"
        d="M20,5.32L13.32,12,20,18.68,18.66,20,12,13.33,5.34,20,4,18.68,10.68,12,4,5.32,5.32,4,12,10.69,18.68,4Z"
        style="fill: currentColor"></path>
    </svg>
  </span>
  <div popup-header class="popup-header-content">
    <h2>Delete Files ({{SelectedFilesArray?.length}} Files Selected)</h2>
  </div>
  <div popup-content class="popup-header-content" style="font-size:14px">
    <!-- <div class="row"> -->
    <span style="font-weight: 600;font-size: 14px;">Are you sure, you want to delete files?
      <span *ngIf="fileSharedArray?.length>0" style="font-weight: 600;font-size: 14px;"> As file is shared with
        following : </span></span>
    <div style="margin-top: 10px;">
      <span *ngFor="let msg of fileSharedArray" style="font-size: 14px;">
        <span> {{msg.errorMessage}}</span><br>
      </span>
    </div>
    <!-- </div> -->
    <div style="text-align: right;margin-top: 10px;">
      <input type="button" value="Cancel" style="color: #0084f6;background: white;" class="btn fullBlue"
        (click)="closeDeletePopup()">
      <input type="button" value="Delete" class="btn fullBlue" (click)="confirmDelete()">
    </div>
  </div>
</proctur-popup>

<!-- Developed by- Nalini walunj
Popup to show vimeo uploaded successfully msg
-->
<div id="thankYou" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h1>Thank You</h1>
      </div>
      <div class="modal-body">
        <div class="new-modules-list">
          <div class="module-title">
            <span>
              Video is successfully Uploaded!
            </span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- Download option pop up
  Developed by Nalini -->
<div id="downloadOption" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Please select the size for downloading</h4>
      </div>
      <div class="modal-body">
        <section>
          <div class="table-container">
            <div class="heading-container">
              <div class="heading-item" style="text-align: left;width: 10%;">
                <span></span>
              </div>
              <div class="heading-item" style="width: 45%;text-align: left;">
                <span>Dimension (Width x Height)</span>
              </div>
              <div class="heading-item" style="width: 45%;">
                <span>Size</span>
              </div>
            </div>
            <div class="value-outer-container">
              <div class="value-container" style="padding: 10px;" *ngFor="let data of vimeoDownloadLinks; let i = index;">
                <div class="value-item" style="text-align: left;width: 10%;">
                  <div class="field-radio-wrapper" style="width: 25%;margin: 0;">
                    <input type="radio" [value]="i" [id]="'bothRadio-'+i" class="form-radio" [(ngModel)]="data.selected"
                    (ngModelChange)="changeSelectedSize(data)" name="select" id="select">
                      <label></label>
                  </div>
                </div>
                <div class="value-item" style="text-align: left;width: 45%;">
                  <span title="{{data.width}}">{{data.width}} x {{data.height}}</span>
                </div>
                <div class="value-item" style="width: 45%;">
                  <span title="{{data.size_short}}">{{data.size_short}}</span>
                </div>
              </div>
            </div>
          </div>
        </section>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-default" (click)="downloadVimeoVdo()">Download</button>
      </div>
    </div>
  </div>
</div>