@import url(http://fonts.googleapis.com/css?family=Bitter:400,700);
@import "./src/assets/css/common/variables.scss";
@import "./src/app/components/student-module/student-add/student-add.component.scss";
.notify-wrapper {
    min-height: 335px;
    max-height: 335px;
    overflow: hidden;
    .row {
        margin: 0px;
    }
}

 .hand_icon{
     cursor: pointer;
 }

/* ======================================================================================================== */
.middle-top{
  margin: 0px;
  padding-bottom: 0 !important;
}
.gradeLegend{
    background: black;
    color: white;
    text-align: center;
    width: 15%;
    margin-left: 44%;
    border-radius: 18px;
}
.gradeType{
    margin-top: 2%;
    background: black;
    width: 44%;
    margin-left: 30%;
    color: white;
    border-radius: 15px;
}
.footerCert{
    margin-top: 16%;
    background: #FA8072;
    color: white;
    font-size: 18px;
}
.headEnq {
    .headerBtn {
        display: inline-flex;
        border: 1px solid $common-blue;
        height: 35px; //width: 150px;
        padding: 8px 12px;
        cursor: pointer;
        color: $common-blue;
        box-shadow: 0px 0px 1px #0084f6;
        text-align: center;
        i {
            display: inline-block;
            margin-right: 10px;
            cursor: pointer;
        }
        p {
            display: inline-block;
            font-size: 14px;
            font-weight: 600;
            text-transform: capitalize;
            text-align: center;
            cursor: pointer;
        }
    }
    .optMenu {
        .enq-dropdown-content {
            position: absolute;
            background: white;
            z-index: 10;
            right: 2%;
            width: 150px;
            padding: 0px 5px;
            height: 80px;
            box-shadow: 0px 0px 2px 0px #313030;
            ul {
                list-style: none;
                .export-icon {
                    background: url('../../../../assets/images/expand.svg') no-repeat;
                    margin: 10px 0px 0px 2px;
                    background-size: 20px auto;
                    padding: 0px 0px 0px 25px;
                    cursor: pointer;
                    font-size: 14px;
                    color: #888;
                    &:hover {
                        color: $common-blue;
                    }
                }
                .upload-icon {
                    background: url('../../../../assets/images/upload.svg') no-repeat;
                    margin: 10px 0px 0px 2px;
                    background-size: 20px auto;
                    padding: 0px 0px 0px 25px;
                    cursor: pointer;
                    font-size: 14px;
                    color: #888;
                    &:hover {
                        color: $common-blue;
                    }
                }
                li {
                    height: 25px;
                    padding: 7px;
                    border-bottom: 1px solid rgba(119, 119, 119, 0.705);
                }
            }
        }
        &.shorted {
            .enq-dropdown-content {
                position: absolute;
                background: white;
                z-index: 10;
                right: 29%;
                width: 150px;
                padding: 0px 5px;
                height: 80px;
                box-shadow: 0px 0px 2px 0px #313030;
                ul {
                    list-style: none;
                    .export-icon {
                        background: url('../../../../assets/images/expand.svg') no-repeat;
                        margin: 10px 0px 0px 2px;
                        background-size: 20px auto;
                        padding: 0px 0px 0px 25px;
                        cursor: pointer;
                        font-size: 14px;
                        color: #888;
                        &:hover {
                            color: $common-blue;
                        }
                    }
                    .upload-icon {
                        background: url('../../../../assets/images/upload.svg') no-repeat;
                        margin: 10px 0px 0px 2px;
                        background-size: 20px auto;
                        padding: 0px 0px 0px 25px;
                        cursor: pointer;
                        font-size: 14px;
                        color: #888;
                        &:hover {
                            color: $common-blue;
                        }
                    }
                    li {
                        height: 25px;
                        padding: 7px;
                        border-bottom: 1px solid rgba(119, 119, 119, 0.705);
                    }
                }
            }
        }
    }
}

.btn-container{
  display: flex;
  flex-direction: row;
  .btn-item{
    position: relative;
    .btn{
      height: auto;
    }
  }
  .more-info-container{
    z-index: 100;
    background: white;
    position: absolute;
    top: 36px;
    left: -110px;
    width: 200px;
    border-radius: 4px;
    border: 1px solid #0084f6;
    .more-info-item{
      padding: 5px;
      font-size: 12px;
      font-weight: 600;
      border-bottom: 1px solid #0084f6;
      img{
          height: 1rem;
      }
    }
  }
}


/* =========================================================================================================== */

.adfilter-submitter {
    .submit {
        .search-btn{
          padding: 4px 10px;
          font-size: 14px;
          border-radius: 4px;
          background: #0084f6;
          border: 1px solid #0084f6;
          color: #fff;
        }
    }
    .cancel {
      width: 9%;
      margin-left: 1%;
        .cancel-btn{
          padding: 4px 10px;
          font-size: 14px;
          border: 1px solid rgba(10,10,10,0.3);
          border-radius: 4px;
          background: white;
        }

    }
}

/* ============================================================================================================== */

.sidenav {
    position: absolute;
    position: absolute;
    display: none;
    width: 0%;
    transition: 100ms ease-in-out;
    height: 90vh;
    overflow: hidden;
    right: 0;
    top: 60px;
    padding: 10px;
    bottom: 0;
    z-index: 1;
    z-index: 1;
    right: 0;
    background: white;
    border-left: 1px solid rgba(211, 212, 213, 0.5);
    box-shadow: -3px 0px 6px rgba(119, 119, 119, 0.26);
    ::-webkit-scrollbar {
        display: none;
        width: 7px;
        height: 7px;
    }
    .sidewrapper {
        height: 90vh;
        overflow-x: hidden;
        overflow-y: auto;
        ::-webkit-scrollbar {
            display: none;
            width: 7px;
            height: 7px;
        }
    }
}

.sidenav .closebtn {
    right: 20px;
    left: 88%;
    width: 30px;
    text-align: right;
    top: 15px;
    font-size: 20px;
    font-weight: 900;
    position: absolute;
    cursor: pointer;
    z-index: 100;
    margin-right: 0px;
    text-decoration: none;
    font-size: 25px;
    color: #808080;
    display: block;
    padding: 0;
}

#main {
    transition: margin-right .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.skeleton {
    height: 400px;
    background: white;
    .skel1:empty {
        margin: 10px 0px 0px 0px;
        width: 300px;
        height: 160px;
        background-image: radial-gradient( circle 50px at 50px 50px, lightgray 99%, transparent 0), linear-gradient(white 20px, transparent 0), linear-gradient(lightgray 20px, transparent 0), linear-gradient(lightgray 20px, transparent 0), linear-gradient(lightgray 20px, transparent 0), linear-gradient(lightgray 20px, transparent 0), linear-gradient(lightgray 20px, transparent 0), linear-gradient(lightgray 20px, transparent 0), linear-gradient(lightgray 20px, transparent 0);
        background-repeat: repeat-y;
        background-size: 200px 200px, 120px 20px, 100px 200px, 350px 200px, 350px 200px, 350px 200px, 350px 200px, 350px 200px, 350px 200px;
        background-position: 0 0, 0 0, 120px 0, 120px 40px, 120px 80px, 120px 120px;
        -webkit-animation: shine 1s infinite;
        animation: shine 1s infinite;
    }
    .skel2:empty {
        margin: auto;
        width: 350px;
        height: 300px;
        background-image: linear-gradient(rgba(255, 255, 255, 0.904) 20px, transparent 0), linear-gradient(lightgray 20px, transparent 0), linear-gradient(lightgray 20px, transparent 0), linear-gradient(lightgray 20px, transparent 0), linear-gradient(lightgray 20px, transparent 0), linear-gradient(lightgray 20px, transparent 0), linear-gradient(lightgray 20px, transparent 0), linear-gradient(lightgray 20px, transparent 0);
        background-repeat: repeat-y;
        background-size: 10px 20px, 350px 200px, 350px 200px, 350px 200px, 350px 200px, 350px 200px, 350px 200px, 350px 200px;
        background-position: 0 0, 0 0, 120px 0, 10px 40px, 10px 80px, 10px 120px;
        -webkit-animation: shine 1s infinite;
        animation: shine 1s infinite;
    }
}

@keyframes shine {
    to {
        background-position: 10px 0, 10px 0, 100px 0, 100px 40px, 100px 80px, 100px 120px;
    }
}

.tooltip-table {
    &:hover .tooltip-box-batch {
        visibility: visible;
        opacity: 1;
        left: -50px;
    }
    .tooltip-box-batch {
        position: absolute;
        min-width: 100px;
        max-width: 150px;
        min-height: 30px;
        max-height: 40px;
        background: rgb(245, 245, 237);
        border: 1px solid #ccc;
        left: 0px;
        z-index: 1;
        top: -8px;
        visibility: hidden;
        opacity: 0;
        transition: all 0.1s linear 0.1s;
        font-size: 11px;
        border-radius: 4px;
        padding: 2px;
        box-shadow: 0px 0px 10px rgb(22, 21, 21);
        overflow: hidden;
    }
}

.bulk-dropdown {
    position: relative;
    display: inline-block;
    .bulk-dropbtn {
        padding: 0px 0px 3px 0px;
        background: #fff;
        border: none;
        margin-left: 10px;
        display: inline-block;
        font-size: 14px;
        font-weight: 600;
        box-sizing: border-box;
        height: 35px;
        cursor: pointer;
        .caret {
            margin-left: 5px;
            display: inline-block;
            width: 0;
            height: 0;
            vertical-align: middle;
            border-top: 4px dashed;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent;
            box-sizing: border-box;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            cursor: pointer;
            user-select: none;
            font-family: inherit;
            text-transform: none;
            text-indent: 0px;
            text-shadow: none;
        }
    }
    .bulk-dropbtn-border {
        padding: 7px 12px;
        background: #fff;
        border-bottom: 1px solid #ccc;
        border-top: none;
        border-right: none;
        border-left: none;
        margin-left: 10px;
        display: inline-block;
        font-size: 14px;
        font-weight: 600;
        box-sizing: border-box;
        height: 35px;
        cursor: pointer;
        color: #0084f6;
        &:active {
            box-shadow: none;
        }
        &::focus {
            outline: none;
        }
    }
    /* Dropdown Content (Hidden by Default) */
    .bulk-dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 70px;
        left: 75%;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        text-align: left;
        cursor: pointer;
    }
    /* Links inside the dropdown */
    .bulk-dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    /* Change color of dropdown links on hover */
    .bulk-dropdown-content a:hover {
        background-color: #f1f1f1
    }
}

.multiselect-wrapper {
    padding: 5px;
    border: 1px solid $border-color;
    position: absolute;
    z-index: 100;
    background: white;
    min-width: 400px;
    min-height: 50px;
    top: 65px;
    .multiselect-wrapper-inner {
        padding: 10px;
        ul {
            li {
                height: 40px;
                padding: 10px 0px 0px 5px;
            }
        }
    }
}

.search-filter-wrapper {
    .normal-field {
        padding: 7px 10px;
        border: 1px solid #ccc;
        width: 50%;
        box-sizing: border-box;
        margin: 0;
        float: left;
        font-size: 14px;
    }
    .normal-btn {
        padding: 4px 10px;
        width: 13%;
        box-sizing: border-box;
        float: left;
        cursor: pointer;
        height: 30px;
    }
    .field-wrapper {
        position: relative;
        padding-top: 0px !important;
        width: 30%;
        float: left !important;
        .form-ctrl {
            font: 400 12px 'Open sans',sans-serif;
            border-top: none !important;
            border-right: none !important;
            border-left: none !important;
        }
    }
    .field-wrapper label {
        position: absolute !important;
        left: 10% !important;
        top: 1% !important;
        &:after {
            left: 85% !important;
            top: 10px !important;
        }
    }
    .field-wrapper {
        position: relative;
        padding-top: 1px;
        &.datePickerBox {
            .form-ctrl {
                position: relative;
                z-index: 1;
                background: transparent;
                padding: 7px 10px;
                border: 1px solid #ccc;
                box-sizing: border-box;
                margin: 0;
                float: left;
                border-right: 0;
                height: 35px;
                font: 400 12px 'Open sans',sans-serif;
                width: 85% !important;
            }
            label {
                position: absolute !important;
                left: 3% !important;
                top: -25% !important;
            }
            &:after {
                content: '';
                background: url('../../../../assets/images/calendar.svg') no-repeat;
                position: absolute;
                left: 75% !important;
                top: 5px !important;
                width: 21px;
                height: 21px;
                z-index: 0;
            }
        }
    }
}

.AdFilter-field {
    box-sizing: border-box;
    z-index: 1;
    box-shadow: rgb(226, 224, 224) 0px 2px 1px;
    padding: 0px 15px 20px;
    background: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
    .field-wrapper {
        margin: 15px 0;
    }
}

.openAdFilter {
    float: right;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 600;
    color: $common-blue;
}

.closeAdFilter {
    float: right;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 600;
    color: $redBtn;
    svg {
        width: 15px;
        height: 16px;
        display: inline-block;
        vertical-align: bottom;
        margin-right: 4px;
        .cls-1 {
            stroke: $redBtn;
            stroke-miterlimit: 10;
            stroke-width: 2;
        }
        .cls-2 {
            stroke: none;
        }
    }
}

.filter-res {
    // margin-top: 20px;
}

/* Data table Settings */

#student-table {
    margin-left: 0px !important;
    margin-top: 0px;
    margin-right: 15px !important;
    width: 100%;
    ::-webkit-scrollbar {
        display: block;
        width: 7px;
        height: 7px;
    }
}

@media screen and (max-width: 995px),
screen and (max-height: 768px) {
    #student-table {
        margin-left: 0px !important;
        margin-top: 0px;
        margin-right: 15px !important;
        width: 100%;
        .table-scroll-wrapper {}
        ::-webkit-scrollbar {
            display: block;
            width: 7px;
            height: 7px;
        }
    }
}

.table-scroll-wrapper {
    ::-webkit-scrollbar {
        display: block;
        width: 7px;
        height: 7px;
    }
    .student-table {
        table {
            .field-checkbox-wrapper {
                width: 22px !important;
                overflow: hidden;
                box-sizing: border-box;
                height: 22px !important;
                padding-left: 25px !important;
                margin-bottom: 0;
                margin-left: 5px;
                background: transparent;
                border-radius: 2px;
            }
            .field-checkbox-wrapper .form-checkbox {
                opacity: 0;
                position: absolute;
                left: 0;
                top: 0;
                width: 22px;
                height: 22px;
                z-index: 1;
            }
            .field-checkbox-wrapper .form-checkbox+label {
                vertical-align: middle;
                transition: all 0s;
                font-size: 14px;
                display: inline-block;
            }
            .field-checkbox-wrapper .form-checkbox+label:after {
                content: '';
                width: 22px;
                height: 22px;
                border: 2px solid #ccc;
                border-radius: 2px;
                position: absolute;
                left: 0;
                top: 0;
                transition: all 0s;
            }
            .field-checkbox-wrapper .form-checkbox:checked+label:after {
                border: 2px solid $common-blue;
            }
            .field-checkbox-wrapper .form-checkbox+label:before {
                transition: all 0s;
                width: 1px;
                height: 1px;
                left: 8px;
                top: 9px;
                position: absolute;
                content: '';
                border-top: 0;
                border-right: 0;
                border-left: 2px solid transparent;
                border-bottom: 2px solid transparent;
                transform: rotate(-45deg);
            }
            .field-checkbox-wrapper .form-checkbox:checked+label:before {
                border-left: 2px solid $common-blue;
                border-bottom: 2px solid $common-blue;
                width: 12px;
                height: 7px;
                left: 5px;
                top: 6px;
            }
            .field-checkbox-wrapper .form-checkbox:checked+label {
                color: $common-blue;
            }
        }
        .empty-table-wrapper {
            height: 100px;
            width: 100%;
            text-align: center;
        }
    }
}

.middle-main {
    position: relative;
    // &:before {
    //     content: '';
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     left: 0;
    //     top: 80px;
    //     z-index: 1;
    //     background: rgba(255, 255, 255, 0.74);
    //     transition: all 0.1s;
    //     opacity: 0;
    //     visibility: hidden;
    // }
    &.hasFilter {
        &:before {
            opacity: 1;
            visibility: visible;
        }
        .filter-fields {
            opacity: 1;
            visibility: visible;
            top: 100%;
        }
        .closeFilter {
            display: block;
        }
    }
}

.normal-field {
    padding: 7px 10px;
    border: 1px solid #ccc;
    width: 74%;
    box-sizing: border-box;
    margin: 0;
    float: left;
    border-right: 0;
    font-size: 14px;
}

.normal-btn {
    padding: 4px 10px;
    // width: 25%;
    box-sizing: border-box;
    float: left;
    background: #9c9b9b;
    color: #fff;
    cursor: pointer;
}

.filter-box {
    padding: 10px 0px;
    // background: #efefef;
}

.filter-right .btn {
    min-width: 100px;
}

.filter-search {
  position: relative;
  margin: 0px;
  margin-bottom: 10px;
//   background: #ffffff;
background: #f4f5f7;
  // z-index: 10;
}

.filter-fields {
    padding: 0 15px 20px;
    background: $bg-white;
    border: 1px solid #ccc;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
    left: 0;
    top: 100%;
    transition: all 0.3s;
    opacity: 1;
    box-shadow: 0px 2px 1px #e2e0e0;
    .field-wrapper {
        // margin: 15px 0;
    }
}

.filter-fields .form-ctrl {
    background: transparent;
    font: 400 12px 'Open sans',sans-serif;
    // border-bottom: solid 1px #d2d2d2;
}

.filter-fields .btn {
    margin: 0;
    width: 100%;
    margin-top: 20px;
    padding: 10px 12px;
    height: auto;
}

/*=======================filter type==============*/

.search-enquiry-type-filter {
    margin: 35px 0 10px;
}

.filter-label {
    font-weight: 600;
}

.filter-label label {
    font-weight: 600;
}

.type-filter li {
    display: inline-block;
    margin: 0 10px;
}

.pagination li,
.export-print li {
    display: inline-block;
    margin-left: 10px;
    font-size: 12px;
}

.export-print {
    margin-bottom: 10px;
    .print-icon {
        background: url('../../../../assets/images/print.svg') no-repeat;
        // ../../../../assets/images/print.svg
        color: #888;
    }
    .export-icon {
        background: url('../../../../assets/images/expand.svg') no-repeat;
        margin-left: 25px;
        position: relative;
        &:hover {
            .other-dropdown {
                visibility: visible;
                opacity: 1;
                top: 100%;
                z-index: 11;
            }
        }
    }
    .report-icon {
        background: url('../../../../assets/images/expensesg.svg') no-repeat;
        margin-left: 25px;
    }
    .report-icon,
    .print-icon,
    .export-icon {
        background-size: 20px auto;
        padding: 0px 0px 0px 22px;
        cursor: pointer;
        font-size: 14px;
        color: #888;
        &:hover {
            color: $common-blue;
        }
    }
    .other-dropdown {
        position: absolute;
        right: 0;
        top: 50%; // display: none;
        background: #fff;
        z-index: 0;
        width: 120px;
        text-align: left;
        box-shadow: 0px 2px 3px 0px #b9b9b9;
        visibility: hidden;
        opacity: 0;
        transition: all 0.6s;
        ul {
            li {
                display: block;
                text-align: left;
                padding: 8px 10px;
                cursor: pointer;
                border-bottom: 1px solid #ccc;
                margin: 0;
                color: #333;
                transition: all 0.4s linear 0.1s;
                &:hover {
                    background: #eee;
                }
            }
        }
    }
}

.filter-res label {
    font-size: 14px;
    font-weight: 600;
}

.filter-res.pagination {
    margin-top: 0px;
}

.pagination li {
    border-right: 1px solid #ccc;
    padding: 0 7px;
    margin: 0;
    line-height: 10px;
    font-weight: 600;
    cursor: pointer;
    a {
        line-height: 1;
        border: none;
        padding: 0px 12px;
    }
    span {
        line-height: 1;
        border: none;
        padding: 0px 12px;
    }
}

.pagination li:last-child {
    border-right: 0;
    padding-right: 0;
}

.closeFilter {
    float: right;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 600;
    color: $redBtn;
    cursor: pointer;
    svg {
        width: 15px;
        display: inline-block;
        vertical-align: bottom;
        margin-right: 4px;
        .cls-1 {
            stroke: $redBtn;
            stroke-miterlimit: 10;
            stroke-width: 2;
        }
    }
}

.filter-res {
    // margin-top: 20px;
}

/*===========================================action tooltip of table===================*/

.enquiry-action {
    position: relative;
    cursor: pointer;
    .cls-1,
    .cls-2 {
        fill: none;
        stroke: transparent;
    }
    svg {
        width: 18px;
    }
    .cls-2 {
        stroke: #7d7f80;
        stroke-miterlimit: 10;
    }
    &:hover {
        .action-icon {
            svg {
                .cls-2 {
                    stroke: $common-blue;
                    stroke-miterlimit: 10;
                }
            }
        }
    }
}

.action-menu {
    position: absolute;
    background: #fff;
    width: 350px;
    border-radius: 0;
    border: 1px solid #ccc;
    bottom: 15px;
    box-shadow: 0px 2px 4px 1px #ccc;
    transform: translateX(-50%);
    left: 50%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.6s;
}

.enquiry-action:hover .action-menu {
    visibility: visible;
    opacity: 1;
    bottom: 8px;
}

.action-menu-inner ul {
    font-size: 0;
    position: relative;
    padding: 5px 5px;
}

.action-menu-inner ul:after {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    bottom: -15px;
    margin: auto;
    border-top: 8px solid #fff;
    border-bottom: 8px solid transparent;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    width: 0;
    height: 0;
}

.action-menu-inner ul li {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    font-size: 12px;
    padding: 0 8px;
    box-sizing: border-box;
    cursor: pointer;
    width: 18%;
    &:last-child {
        width: 28%;
        svg {
            width: 33px;
        }
    }
    &.edit-detail-icon {
        svg * {
            fill: none;
            stroke: #8b8b8b;
        }
        svg .cls-1 {
            stroke: none;
            /* stroke: #8b8b8b; */
        }
    }
    &:hover {
        .cls-2,
        .cls-3 {
            fill: none;
            stroke: $common-blue;
        }
        color: $common-blue;
    }
}

.action-menu-inner ul li span {
    display: block;
    font-size: 9px;
    text-align: center;
    line-height: 10px;
}

.action-menu-inner .close {
    position: absolute;
    right: 4px;
    top: 2px;
}

.action-menu-inner i {
    display: block;
    height: 32px;
}

.enquiry-action li svg {
    width: 28px;
}

/**===============================search data=========================*/

.search-data {
    margin: 0px 0px;
    // padding: 0px 5px;
    // background: #efefef;
    th {
        padding: 15px 5px;
    }
    td {
        font-size: 14px;
        line-height: normal;
    }
    tr {
        th:first-child,
        td:first-child {
            padding: 15px 2px;
        }
        th:last-child {
            padding: 0;
        }
    }
}

/*=====================================mobile head menu css===========================*/

.table-head-menu {
    position: relative;
}

.table-head-menu span {
    cursor: pointer;
    padding: 9px 0px;
    display: block;
    height: 100%;
    background: $common-blue;
    width: 40px;
    height: 50px;
    box-sizing: border-box;
    float: right;
    position: relative;
    img {
        width: 28px;
        height: 30px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        transition: all 0.5s ease;
        opacity: 1;
        visibility: visible;
        transform: rotate(0deg);
    }
    img+img {
        opacity: 0;
        visibility: hidden;
        transform: rotate(90deg);
        width: 24px;
    }
}

.table-head-menu {
    &:hover {
        span {
            img {
                transform: rotate(90deg);
                opacity: 0;
                visibility: hidden;
            }
            img+img {
                opacity: 1;
                visibility: visible;
                transform: rotate(0deg);
            }
        }
    }
}

.table-heading-menu {
    position: absolute;
    top: 50%;
    right: 0;
    background: #fff;
    width: 140px;
    text-align: left;
    padding: 0px;
    box-shadow: 0px 1px 2px 1px #dcdcdc;
    visibility: hidden;
    opacity: 0;
    transition: all 0.6s;
    z-index: 1;
}

.table-head-menu:hover .table-heading-menu {
    visibility: visible;
    opacity: 1;
    top: 100%;
}

.table-heading-menu ul li {
    border-bottom: 1px solid #ccc;
    padding: 10px 10px;
    cursor: pointer;
}

.table-heading-menu ul li .field-checkbox-wrapper {
    margin-bottom: 0;
}

.table-heading-menu ul li .field-checkbox-wrapper label {
    font-weight: normal;
    cursor: pointer;
}

ul.customDropdown {
    position: absolute;
    top: 20%;
    width: 100%;
    height: auto;
    background: #fff;
    left: 0;
    z-index: 11;
    box-shadow: 0px 1px 2px 1px #e2e2e2;
}

ul.customDropdown li {
    padding: 10px 15px;
    border-bottom: 1px solid #f5f5f5;
    transition: all 0.5s;
    cursor: pointer;
    &:hover {
        background: #f5f5f5;
    }
}

ul.customDropdown li:first-child {
    border: 0;
    padding: 0;
}

ul.customDropdown li:last-child {
    border-bottom: 0;
}

ul.customDropdown {
    -webkit-transition: all .3s cubic-bezier(.55, 0, .55, .2);
    transition: all .3s cubic-bezier(.55, 0, .55, .2);
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
    -webkit-transition-delay: .1s;
    transition-delay: .1s;
    opacity: 0;
    visibility: hidden;
}

ul.customDropdown.visibleDropdown {
    visibility: visible;
    opacity: 1;
    top: 20%;
}

ul.customDropdown li:hover {
    background: #f5f5f5;
}

/* :host ::ng-deep ::-webkit-scrollbar{
    display: none;
} */

.unstyled-calendar::-webkit-inner-spin-button,
.unstyled-calendar::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
}

/// Send Notification PopUP
.notification-content-wrapper {
    .marginTenPixel {
        margin: 10px 0px;

        .btn{
            margin-bottom: 5px;
        }

        .radio-options {
            .field-checkbox-wrapper,
            .field-radio-wrapper {
                position: relative;
                padding-left: 25px;
                margin-bottom: 10px;
            }
            .field-radio-wrapper .form-radio {
                opacity: 0;
                position: absolute;
                left: 0;
                top: 0;
                width: 20px;
                height: 20px;
                z-index: 1;
            }
            .field-radio-wrapper .form-radio+label {
                vertical-align: middle;
                transition: all 0.1s;
            }
            .field-radio-wrapper .form-radio+label:after {
                content: '';
                width: 16px;
                height: 16px;
                border: 2px solid #ccc;
                border-radius: 50%;
                position: absolute;
                left: 0;
                top: 0;
                transition: all 0.1s;
            }
            .field-radio-wrapper .form-radio:checked+label:after {
                border: 2px solid #0084f6;
            }
            .field-radio-wrapper .form-radio+label:before {
                transition: all 0.1s;
                width: 1px;
                height: 1px;
                left: 9px;
                top: 9px;
                position: absolute;
                content: '';
            }
            .field-radio-wrapper .form-radio:checked+label:before {
                content: '';
                width: 8px;
                height: 8px;
                background: #0084f6;
                border-radius: 50%;
                left: 4px;
                top: 4px;
            }
            .field-radio-wrapper .form-radio:checked+label {
                color: #0084f6;
            }
        }

        .field-checkbox-wrapper .form-checkbox+label {
            vertical-align: middle;
            font-size: 14px;
            display: inline-block;
            margin-left: 10px;
        }

    }
    .content-delivery {
        .message-table-wrapper {
            max-height: 210px;
            overflow-x: hidden;
            overflow-y: scroll;
            table {
                &.message-table {
                    max-height: 200px;
                    thead {
                        tr {
                            th {
                                padding: 5px 5px !important;
                            }
                        }
                    }
                    tbody {
                        tr {
                            padding: 0px 0px !important;
                            td {
                                padding: 5px 5px !important;
                            }
                        }
                    }
                }
            }
            ::-webkit-scrollbar {
                display: block;
                width: 7px;
                height: 7px;
            }
        }
    }
}

.update-leave-form {
    max-height: 400px;
    overflow: hidden;
    .leave-wrapper {
        min-height: 335px;
        overflow: hidden;
        .leave-detail {
            width: 60%;
            padding: 0px 5px;
            table {
                max-height: 300px;
                overflow: auto
            }
        }
        .leave-add {
            padding: 0px 10px;
            width: 40%;
            .field-wrapper {
                position: relative;
                padding-top: 10px;
                .form-ctrl {
                    z-index: 10;
                }
                &.datePickerBox {
                    .form-ctrl {
                        cursor: pointer;
                        position: relative;
                        z-index: 10;
                        background: transparent;
                    }
                    &:after {
                        content: '';
                        background: url("/./assets/images/calendar.svg") no-repeat;
                        position: absolute;
                        right: 20px;
                        top: 35px;
                        width: 21px;
                        height: 21px;
                        z-index: 0;
                    }
                }
                .date-clear {
                    position: absolute;
                    right: 15px;
                    top: 50px;
                    cursor: pointer;
                    color: #0084f6;
                }
                label {
                    font-size: 12px;
                    z-index: 1;
                }
            }
        }
    }
}

.black-bg{
  background: rgba(10,10,10,0.1);
  position: fixed;
  top: 0px;
  height: 100%;
  left: 0px;
  z-index: 6;
  width: 100%;
}
// Certificate css

  @font-face {
    font-family: "OldEnglish";
    src: url("../../../../assets/fonts/OldEnglishFive.ttf");
  }
  .outer-container{
    background-image: url("../../../../assets/images/certificate/bg1.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 845px;
    width: 100%;
  }
  .cert-outer-container{
    background-color: #FFFFFF;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 845px;
    width: 100%;
  }
  .growth{
 
        text-shadow: 0 1px 0 #ccc,
                     0 2px 0 #c9c9c9,
                     0 3px 0 #bbb,
                     0 4px 0 #b9b9b9,
                     0 5px 0 #aaa,
                     0 6px 1px rgba(0,0,0,.1),
                     0 0 5px rgba(0,0,0,.1),
                     0 1px 3px rgba(0,0,0,.3),
                     0 3px 5px rgba(0,0,0,.2),
                     0 5px 10px rgba(0,0,0,.25),
                     0 10px 10px rgba(0,0,0,.2),
                     0 20px 20px rgba(0,0,0,.15);
      }

      .partner-logo-container{
    padding: 20px 0px;
    display: flex;
    margin-left: 75%;
  }
  .cert-partner-logo-container{
    padding: 20px 0px;
    display: flex;
   
  }
  .partner-logo-container img {
    width: 120px;
  }
  .institute-name-container{
    text-align: center;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
  }
  .certificate-title{
    font-family: OldEnglish;
    color: #D5922A;
    font-size: 26px;
    text-align: center;
    margin-top: 10px;
  }
  .cert-title{
    font-family: 'Times New Roman', Times, serif;
    color: #D5922A;
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
    

  }
  .certificate-issuer-name{
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    margin: 20px;
    margin-top: 30px;
    font-style: italic;
    margin-left: 30%;
  }
  .cert-issuer-name{
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
    margin-left: 30%;
  }
  
  .course-info-container{
    margin: 10px;
    font-size: 22px;
    margin-left:25%;
  display: flex;
  flex-direction:column;
  }
  .logos-container{
    display: flex;
    justify-content: center;
    margin-top: 5%;
  }
  .logos-container img{
    width: 100px;
    margin: 0px 10px;
  }
  .sign-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin: 10px 15%;
    color: #D5922A;
    position: absolute;
    bottom: 20px;  
  }
  .sign-item{
    display: flex;
    justify-content: center;
    margin-left:7%;
  }
  .sign-item-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 16px;
  }
  .data_content{
      width:50%;
      border-bottom: 1px dashed black;
      font-size:16px;
      margin-top: 3px;
      min-height: 20px;
  }
  * {
    -webkit-print-color-adjust: exact;
    -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
    color-adjust: exact !important;
}
  @media print {
      * {
          -webkit-print-color-adjust: exact;
          -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
      }

  }

  .fromDate{
    padding-left: 89px;
    margin-left: -17rem;
    padding-right: 85px;
    border-bottom: 1px dashed black;
  }
  .todate{
    padding-left: 99px;
    border-bottom: 1px dashed black;
    padding-right: 107px;
  }
// Bora Class Certificate style
.certificate-outer-container{
  display: flex;
  flex-direction: row;
  height: 845px;
  width: 100%;
}

.bg-container{
  width: 10%;
  background-image: url("../../../../assets/images/certificate-bora/bg.png");
  background-position: right !important;
  background-repeat: no-repeat;
  background-size: cover;
  height: 845px;
}
.body-outer-container{
  display: flex;
  flex-direction: column;
  width: 90%;
}

.body-container {
  width: 100%;
  background-color: #eff1e6 !important;
  padding: 5em;
  padding-bottom: 1em;
  padding-top: 3em;
  font-family: 'Poppins', sans-serif;
  .main-logo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .logo-container {
      img{
        width: 12em;
      }
    }
  }
  .cert-title{
    text-transform: uppercase;
    color: #3d6c97;
    font-size: 42px;
    text-align: center;
    margin-top: 1em;
    word-spacing: 5px;
    font-family: 'Anton', sans-serif;
  }
  .cert-description{
    font-size: 22px;
    text-align: center;
    margin: 1em 0;
    letter-spacing: 1px;
    font-weight: 600;
    letter-spacing: 2px;
    word-spacing: 3px;
  }
  .stundet-name-container{
    width: 50%;
    border-bottom: 2px solid #3d6c97;
    font-size: 24px;
    font-weight: 600;
    min-height: 20px;
    margin: 1em 25%;
    margin-bottom: 2em;
    text-align: center;
  }
  .cert-sub-heading{
    text-transform: uppercase;
    color: #3d6c97;
    font-size: 36px;
    text-align: center;
    margin-top: 1em;
    word-spacing: 5px;
    font-family: 'Anton', sans-serif;
  }

  .cert-footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 1em 10%;
    margin-top: 2em;
    .date-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      font-size: 16px;
      text-transform: uppercase;
      text-align: center;
      .todays-date {
        font-size: 20px;
        font-weight: 600;
        color: #3d6c97;
        margin-bottom: 10px;
      }
    }
    .signature-container {
      display: flex;
      flex-direction: column;
      font-size: 16px;
      text-transform: uppercase;
      text-align: center;
      img{
        height: 6em;
      }
      .speaker-name{
        font-size: 20px;
        font-weight: 600;
        color: #3d6c97;
        margin-bottom: 10px;
      }
    }
  }
}

.social-media-container{
  background: #3d6c97;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1em;
  font-size: 16px;
  .social-media-icon-item{
    display: flex;
    flex-direction: row;
    img{
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }
  }
}
.popup-content{
    font-weight: 500;
}
.pos-rel{
    position: relative;
    top: 20%;
}
