<div>
  <aside class="middle-full">
    <section class="middle-main clearFix activity-wrapper">
      <section class="row header" style="margin-right: 0px; margin-left: 0px;margin-bottom: 5px;">
        <div class="row" style="margin-left: 0px;margin-right: 0px;">
          <h2 class="pull-left" style="margin-bottom: 0;">
            <a routerLink="/view/live-classes">
              Live class
            </a>
            <i style="font-family: 'FontAwesome';" class="fas fa-angle-right"></i>
            Add {{(live_class_for=='2') ? 'Zoom ' : 'Live'}} Class
          </h2>
        </div>
      </section>

      <!-- <h2 class="" style="margin:10px 0px;">
        Add Live Class
      </h2> -->

      <!-- <div class="border-container">
      </div> -->

      <!-- <section class="student-tab">
        <ul class="nav-tab">
          <li id="li-one" class="active">
            <div class="navigator" id="class-icon" (click)="switchToView($event.target.id)">
              <span id="class-icon">1</span>
              <p id="class-icon">Class Details</p>
            </div>
          </li>
          <li class="" id="li-two">
            <div class="navigator" id="assignStudent-icon" (click)="checkMandatoryFields()">
              <span id="assignStudent-icon">2</span>
              <p id="assignStudent-icon">Assign Students</p>
            </div>
          </li>
        </ul>
      </section> -->

      <section id="classDetails" *ngIf="isBasicActive">
        <div class="class_details_container" >
          <div class="flex-center">
            <span class="addClassHeader">Add {{(live_class_for=='2') ? 'Zoom ' : 'Live'}} Class</span>
          </div>
          <!-- <div class="field-wrapper" style="display: flex;width: 100%;" *ngIf="is_zoom_integration_enable">
            <div class="field-radio-wrapper">
              <input class="form-radio" type="radio" name="classFor" value="1" id='live' checked
                [(ngModel)]="live_class_for" (ngModelChange)="changeLiveClassFor()">
              <label for="live" class="l1">Proctur Live</label>
            </div>
            <div class="field-radio-wrapper">
              <input class="form-radio" type="radio" name="classFor" value="2" id='zoom' [(ngModel)]="live_class_for"
                (ngModelChange)="changeLiveClassFor()">
              <label for="zoom" class="l1">Zoom</label>
            </div>
          </div> -->



          <div class="field-wrapper" style="width: 100%;float: left;">
            <label for="topicName">Topic Name<span class="text-danger">*</span> </label>
            <input type="text" style="width: 100%;border: none;" value="" id="topicName" class="form-ctrl input"
              name="topicName" required [(ngModel)]="topicName" placeholder="Enter Topic Name" />
          </div>

          <div class="field-wrapper-container">

            <div class="field-wrapper datePickerBox" style="width: 50%;">
              <label for="date">Date<span class="text-danger">*</span></label>
              <input type="text" style="border: none;" class="form-ctrl" bsDatepicker readonly="true" class="input-date input"
                [(ngModel)]="scheduledateFrom" name="scheduledateFrom" (ngModelChange)="getEvent($event)" id="date" >
              <!-- <i class="fa fa-calendar" style="cursor: pointer;color: #1283f4;" (click)="openCalendar('date')"></i> -->
            </div>

            <div class="field-wrapper" style="width: 25%;">
              <label for="date">From<span class="text-danger">*</span></label>
              <div class="from">
                <select class="made-out select" id="from1" [(ngModel)]="hoursFrom" (ngModelChange)="getEventHourFrom($event)">
                  <option value="" disabled selected="selected" hidden>HH</option>
                  <option *ngFor="let i of hour" [value]="i">
                    {{i}}
                  </option>
                </select>
                <select class="made-out select" id="from2" style="margin-left:15px;" [(ngModel)]="minuteFrom"
                  (ngModelChange)="getEventHourFrom($event)">
                  <option value="" disabled selected="selected" hidden>MM</option>
                  <option [value]="i" *ngFor="let i of minutes">
                    {{i}}
                  </option>
                </select>
              </div>
            </div>

            <div class="field-wrapper" style="width: 25%;">
              <label for="date">To<span class="text-danger">*</span></label>
              <div class="from">
                <select class="made-out select" id="to1" [(ngModel)]="hoursTo" (ngModelChange)="getEventHourFrom()">
                  <option value="" disabled selected="selected" hidden>HH</option>
                  <option *ngFor="let i of hour" [value]="i">
                    {{i}}
                  </option>
                </select>
                <select class="made-out select" id="to2" style="margin-left:15px;" [(ngModel)]="minuteTo"
                  (ngModelChange)="getEventHourFrom($event)">
                  <option value="" disabled selected="selected" hidden>MM</option>
                  <option *ngFor="let i of minutes" [value]="i">
                    {{i}}
                  </option>
                </select>
              </div>
            </div>

          </div>
          <div style="display: flex;flex-direction: row;padding-bottom: 5px;">
            <!-- Added the conditon for only for faculty -->
            <div class="field-wrapper faculty_container" style="margin-right: 5%;display: flex;flex-direction: column;"
              *ngIf="userType != 3">
              <!-- <div class="field-wrapper faculty_container"> -->
              <label for="faculty">Teacher Name(s)<span class="text-danger">*</span> </label>
              <!-- <input type="text" value="" id="faculty" class="form-ctrl" name="faculty" required /> -->
              <ng-multiselect-dropdown [placeholder]="'Select Teacher'" [settings]="facultySettings"
                [data]="teachersAssigned" [(ngModel)]="selectedFacultyList" class="select">
              </ng-multiselect-dropdown>
            </div>

            <div class="field-wrapper moderator_container" style="display: flex;flex-direction: column;"
              *ngIf="!zoom_enable">
              <label for="moderator">Moderator Name(s) </label>
              <ng-multiselect-dropdown [placeholder]="'Select Moderator'" [settings]="moderatorSettings"
                [data]="userAssigned" [(ngModel)]="selectedModeratorList" class="select">
              </ng-multiselect-dropdown>
            </div>
          </div>

          <div style="display: flex;flex-direction: row;padding-bottom: 5px;"
            *ngIf="isShowProductOption && !schoolModel">
            <div class="field-wrapper faculty_container" style="margin-right: 5%;display: flex;flex-direction: column;"
              *ngIf="isShowProductOption">
              <label for="faculty">Product(s)</label>
              <!-- <input type="text" value="" id="faculty" class="form-ctrl" name="faculty" required /> -->
              <ng-multiselect-dropdown [placeholder]="'Select product'" [settings]="productSetting" [data]="productData"
                [(ngModel)]="product_id" (ngModelChange)="onChangeProduct($event)" class="select">
              </ng-multiselect-dropdown>
            </div>

            <div class="field-wrapper faculty_container" style="display: flex;flex-direction: column;width: 45%;"
              *ngIf="isShowProductOption && !schoolModel">
              <label for="students">Product Users </label>
              <ng-multiselect-dropdown [placeholder]="'Select Users'" [settings]="userListSetting" [data]="userData"
                [(ngModel)]="selectedUserList" class="select">
              </ng-multiselect-dropdown>
            </div>
          </div>

          <div style="display: flex;flex-direction: row;padding-bottom: 5px;">
            <div class="field-wrapper faculty_container" style="display: flex;flex-direction: column;margin-right: 5%;"
              *ngIf="!isProfessional">
              <label for="master_course">{{schoolModel ? 'Standard' : 'Master Course'}}<span
                  class="text-danger">*</span> </label>
              <select class="form-ctrl select" style="border: none;" *ngIf="schoolModel" name="master_course"
                id="master_course" [(ngModel)]="courseValue" (ngModelChange)="getCourses($event)">
                <option value="" disabled selected="selected">Select {{schoolModel ? 'Standard' : 'Master Course'}}
                </option>
                <option *ngFor="let i of masters" [value]="i">
                  {{i}}
                </option>
              </select>
              <ng-multiselect-dropdown *ngIf="!schoolModel"
                placeholder="{{schoolModel ? 'Select Standard' : 'Select Master Course'}}"
                [settings]="masterCourseListSetting" [data]="masters" [(ngModel)]="courseValue"
                (ngModelChange)="getCourses($event)" class="select">
              </ng-multiselect-dropdown>
            </div>

            <div class="field-wrapper faculty_container" style="display: flex;flex-direction: column;"
              *ngIf="isProfessional">
              <label for="students">Batch(s)<span class="text-danger">*</span> </label>
              <ng-multiselect-dropdown [placeholder]="'Select Batch'" [settings]="batchListSetting" [data]="batches"
                [(ngModel)]="selectedBatchList" (ngModelChange)="getBatchesCoursesIds($event)" class="select">
              </ng-multiselect-dropdown>
            </div>

            <div class="field-wrapper faculty_container" style="display: flex;flex-direction: column;"
              *ngIf="!isProfessional">
              <!-- changes by Nalini - to handle school model conditions -->
              <label for="students">{{schoolModel ? 'Section(s)' : 'Course(s)'}}<span class="text-danger">*</span>
              </label>
              <ng-multiselect-dropdown placeholder="{{schoolModel ? 'Select Section' : 'Select Course'}}"
                [settings]="courseListSetting" [data]="courses" [(ngModel)]="selectedCourseList"
                (ngModelChange)="getBatchesCoursesIds($event)" class="select">
              </ng-multiselect-dropdown>
            </div>
          </div>

          <div style="display: flex;flex-direction: row;padding-bottom: 5px;">
            <div *ngIf="schoolModel" class="field-wrapper faculty_container"
              style="display: flex;flex-direction: column;margin-right: 5%;">
              <!-- changes by Nalini - to handle school model conditions -->
              <label for="students">Subjects<span class="text-danger">*</span> </label>
              <ng-multiselect-dropdown [placeholder]="'Select Subject'" [settings]="subjectSetting" [data]="subjectList"
                [(ngModel)]="selectedSubjectList" (ngModelChange)="getStudentsBySubject($event)" class="select">
              </ng-multiselect-dropdown>
            </div>
            <div class="field-wrapper faculty_container" style="display: flex;flex-direction: column;">
              <label for="students">Student Name(s) </label>
              <ng-multiselect-dropdown [placeholder]="'Select Students'" [settings]="studentListSettings"
                [data]="studentList" [(ngModel)]="selectedStudentList" class="select">
              </ng-multiselect-dropdown>
            </div>
          </div>


          <div>
            <div class="AdvanceSetting">
              <span style="font-weight: 600;">Advance settings</span>
            </div>
            <div class="AdvanceSettingDiv">
              <div class="field-checkbox-wrapper advance-setting-item">
                <input type="checkbox" name="expenses" [(ngModel)]="addOnlineClass.sent_notification_flag" [value]="0"
                  class="form-checkbox" id="qun">
                <label for="qun">Send Notification</label>
                <div class="questionInfo inline-relative">
                  <span class="qInfoIcon i-class">i</span>
                  <div class="tooltip-box-field">
                    All the members in
                    <br>meeting will recieve
                    <br>sms notification for
                    <br>the session.
                  </div>
                </div>
                <!-- <i class="fa fa-commenting" aria-hidden="true" style="color: #1283f4;margin-left: 5px;"></i> -->
              </div>

              <!-- Private Access -->
              <div class="field-checkbox-wrapper advance-setting-item" *ngIf="!zoom_enable">
                <input type="checkbox" name="private_access" [(ngModel)]="addOnlineClass.private_access" [value]="0"
                  class="form-checkbox" id="private_access">
                <label for="private_access">Private Access</label>
                <div class="questionInfo inline-relative">
                  <span class="qInfoIcon i-class">i</span>
                  <div class="tooltip-box-field">
                    Only the users invited
                    <br> using e-mail ID would
                    <br> be able to join. Direct
                    <br> link sharing of session
                    <br>won't work.
                  </div>
                </div>
              </div>

              <!-- Enable lobby -->
              <div class="field-checkbox-wrapper advance-setting-item" *ngIf="!zoom_enable">
                <input type="checkbox" name="access_enable_lobby" [(ngModel)]="addOnlineClass.access_enable_lobby"
                  [value]="0" class="form-checkbox" id="access_enable_lobby">
                <label for="access_enable_lobby">Access Enable Lobby</label>
                <div class="questionInfo inline-relative">
                  <span class="qInfoIcon i-class">i</span>
                  <div class="tooltip-box-field">
                    All the students will
                    <br>wait in waiting room
                    <br> after joining the
                    <br> session. Teachers will
                    <br> have access to allow
                    <br> students in the
                    <br>meeting.
                  </div>
                </div>
              </div>

              <!-- hide all notification -->
              <div class="field-checkbox-wrapper advance-setting-item" *ngIf="!zoom_enable">
                <input type="checkbox" name="hide_recording_notifications"
                  [(ngModel)]="addOnlineClass.hide_recording_notifications" [value]="0" class="form-checkbox"
                  id="hide_recording_notifications">
                <label for="hide_recording_notifications">Hide all notifications in recordings </label>
                <div class="questionInfo inline-relative">
                  <span class="qInfoIcon i-class">i</span>
                  <div class="tooltip-box-field">
                    Remove all UI
                    <br>notifications
                    <br>from recordings.
                    <br>The MP4 files will
                    <br>not contain
                    <br>notifications.
                  </div>
                </div>
              </div>

              <!-- Hide user count -->
              <div class="field-checkbox-wrapper advance-setting-item" *ngIf="!zoom_enable">
                <input type="checkbox" name="prevent_user_count" [(ngModel)]="addOnlineClass.prevent_user_count"
                  [value]="0" class="form-checkbox" id="prevent_user_count">
                <label for="prevent_user_count">Hide user count </label>
                <div class="questionInfo inline-relative">
                  <span class="qInfoIcon i-class">i</span>
                  <div class="tooltip-box-field">
                    Do not show
                    <br>how many users
                    <br>are participating
                    <br>to participants
                    <br>and observers.
                    <br>Moderators can
                    <br>always see this.
                    <br>This will also
                    <br>disable join
                    <br>meeting and leave
                    <br>meeting messages.
                  </div>
                </div>
              </div>
              <div class="field-checkbox-wrapper advance-setting-item" *ngIf="!zoom_enable">
                <input type="checkbox" name="access_enable_breakout_rooms"
                  [(ngModel)]="addOnlineClass.access_enable_breakout_rooms" [value]="0" class="form-checkbox"
                  id="access_enable_breakout_rooms">
                <label for="access_enable_breakout_rooms">Breakout Room</label>
                <!-- <div class="questionInfo inline-relative">
                              <span class="qInfoIcon i-class">i</span>
                              <div class="tooltip-box-field">
                                  All the students will
                                  <br>wait in waiting room
                                  <br> after joining the
                                  <br> session. Teachers will
                                  <br> have access to allow
                                  <br> students in the
                                  <br>meeting.
                              </div>
                            </div> -->
              </div>
              <!-- Enable Host -->
              <div class="field-checkbox-wrapper advance-setting-item" *ngIf="zoom_enable">
                <input type="checkbox" name="host_video" [(ngModel)]="addOnlineClass.host_video" [value]="0"
                  class="form-checkbox" id="host_video">
                <label for="host_video">Host Video</label>
                <div class="questionInfo inline-relative">
                  <span class="qInfoIcon i-class">i</span>
                  <div class="tooltip-box-field">
                    Automatically video
                    <br> will be started
                    <br>once the host
                    <br>(teacher) starts
                    <br>the meeting.
                  </div>
                </div>
              </div>

              <!-- Enable Participant -->
              <div class="field-checkbox-wrapper advance-setting-item" *ngIf="zoom_enable">
                <input type="checkbox" name="participant_video" [(ngModel)]="addOnlineClass.participant_video"
                  [value]="0" class="form-checkbox" id="participant_video">
                <label for="participant_video">Participant Video</label>
                <div class="questionInfo inline-relative">
                  <span class="qInfoIcon i-class">i</span>
                  <div class="tooltip-box-field">
                    Automatically video
                    <br>will be started
                    <br>once the participant
                    <br>(student) joins
                    <br>the meeting.
                  </div>
                </div>
              </div>


              <!-- Enable Join before Host -->
              <div class="field-checkbox-wrapper advance-setting-item" *ngIf="zoom_enable">
                <input type="checkbox" name="join_before_host" [(ngModel)]="addOnlineClass.join_before_host" [value]="0"
                  class="form-checkbox" id="join_before_host">
                <label for="join_before_host">Join Before Host</label>
                <div class="questionInfo inline-relative">
                  <span class="qInfoIcon i-class">i</span>
                  <div class="tooltip-box-field">
                    Allow
                    <br>participants(students)
                    <br>to join the meeting
                    <br> before the host starts
                    <br> the meeting.
                  </div>
                </div>
              </div>

              <!-- Enable Mute Upon Entry -->
              <div class="field-checkbox-wrapper advance-setting-item" *ngIf="zoom_enable">
                <input type="checkbox" name="mute_upon_entry" [(ngModel)]="addOnlineClass.mute_upon_entry" [value]="0"
                  class="form-checkbox" id="mute_upon_entry">
                <label for="mute_upon_entry">Mute Upon Entry</label>
                <div class="questionInfo inline-relative">
                  <span class="qInfoIcon i-class">i</span>
                  <div class="tooltip-box-field">
                    Automatically
                    <br>participants(students)
                    <br> will be muted after
                    <br> joining the meeting.
                  </div>
                </div>
              </div>

              <!-- Enable Auto Recording -->
              <div class="field-checkbox-wrapper advance-setting-item" *ngIf="zoom_enable">
                <input type="checkbox" name="auto_recording" [(ngModel)]="auto_recording" [value]="0"
                  class="form-checkbox" id="auto_recording">
                <label for="auto_recording">Auto Recording</label>
                <div class="questionInfo inline-relative">
                  <span class="qInfoIcon i-class">i</span>
                  <div class="tooltip-box-field">
                    Automatically
                    <br>recording
                    <br> will get started
                    <br>once host (teacher)
                    <br> starts the meeting.
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="action-button-container">
            <!-- <div class="action-btn-item-1">
                    <button type="button" name="button" class="back-btn" (click)="navigateTo('classDetails')">Back</button>
                  </div> -->
            <div class="action-btn-item-2">
              <button type="button" name="button" class="cancel-btn"
                (click)="cancel()">Cancel</button>&nbsp;&nbsp;&nbsp;&nbsp;
              <button type="button" name="button" class="next-btn" (click)="scheduleClass()">Submit</button>
            </div>
          </div>

        </div>
      </section>
      <div class="class_details_container zoomMsgSection"
        style="color: white;background: #1283f4;width: 8%;border-radius: 4px;padding: 7px;margin-top: -3%;"
        *ngIf="live_class_for=='2'">
        <span data-toggle="modal" style="cursor: pointer;" data-target="#zoomFAQ">Zoom FAQs</span>
      </div>
    </section>
  </aside>
</div>


<div id="zoomFAQ" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">Zoom FAQs</h2>
      </div>
      <div class="modal-body">
        <div class="new-modules-list">
          <ol>
            <li>If you see error "Error in scheduling Meeting"?
              <ul style="font-weight: 400; margin-top: 5px;">
                <li>In Proctur "My Account" -
                  <ul style="font-weight: 400; margin-top: 5px;list-style: lower-roman;">
                    <li>Check JWT token should be mentioned correctly, verify from ZOOM Account as well.
                    </li>
                    <li>Check there should not be any blank space before email id field
                    </li>
                  </ul>
                </li>
              </ul>
            </li>

            <li>Asking for a password when a student joins the class?
              <ul style="font-weight: 400; margin-top: 5px;">
                <li>This usually happens when the password setting is on in ZOOM Account. Go to Zoom Account Settings in
                  your zoom account and turn off the password for joiners. Please note this is available only in PAID
                  Zoom accounts.
                </li>
              </ul>
            </li>

            <li>Facing issue in scheduling multiple classes at the same time?
              <ul style="font-weight: 400; margin-top: 5px;">
                <li>Make sure you have a multiple host plan with zoom and check in Proctur My Accounts whether no of
                  hosts is mentioned correctly.
                </li>
              </ul>
            </li>

            <li>Seeing message when you start class “You cannot start a meeting because it is hosted by another user”?
              <ul style="font-weight: 400; margin-top: 5px;">
                <li>It could be because of one of the below reasons
                  <ul style="font-weight: 400; margin-top: 5px;list-style: lower-roman;">
                    <li>Another faculty meeting is still going on from different systems.
                    </li>
                    <li>Check the number of hosts purchased. There should be a host available to start the meeting.
                    </li>
                  </ul>
                </li>
              </ul>
            </li>

            <li>Zoom meeting issue on Apple device (Chrome & Safari Browser)?
              <ul style="font-weight: 400; margin-top: 5px;">
                <li>Go to browser setting > Content setting > Block Pop Up.
                </li>
              </ul>
            </li>

            <li>When students click on join class and ask for a download zoom app in a customized app?
              <ul style="font-weight: 400; margin-top: 5px;">
                <li>Ask student to update the app, in case this doesn't resolve, your app may need updation. Connect
                  with Proctur support team.
                </li>
              </ul>
            </li>
          </ol>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>