<section class="timetablewrapepr">

  <div class="indicators_container" *ngIf="maxNoOfClasses != 0">
    <div class="indicator_item">
      <span class="dot_1"></span>
      <span>Regular</span>
    </div>
    <div class="indicator_item" *ngIf="!isProfessional">
      <span class="dot_2"></span>
      <span>Doubt</span>
    </div>
    <div class="indicator_item">
      <span class="dot_3"></span>
      <span>Extra</span>
    </div>
    <div class="indicator_item" *ngIf="!isProfessional">
      <span class="dot_4"></span>
      <span>Revision</span>
    </div>
    <div class="indicator_item">
      <span class="dot_5"></span>
      <span>Exam</span>
    </div>
  </div>

  <div class="day_and_date_container"  *ngIf="maxNoOfClasses != 0">
    <div class="days_header_container">
      <div class="day_header_item">
        <span>Days</span>
      </div>
      <div class="days_item" [ngClass]="today == head.headerDate ?'active_date1':'inactive_date'" *ngFor="let head of recordInput">
        <span>{{head.headerDays}}</span>
      </div>
    </div>
    <div class="date_container">
      <div class="date_header_item">
        <span>Date</span>
      </div>
      <div class="date_item" [ngClass]="today == head.headerDate ?'active_date':'inactive_date'" *ngFor="let head of recordInput">
        <span>{{head.headerDate | date:'dd-MM-yyyy'}}</span>
      </div>
    </div>
  </div> 

  <div class="class_scheduling_container" *ngIf="maxNoOfClasses != 0">
    <div class="class_scheduling_item" *ngFor="let i of maxClassArray">
      <div class="time_container">
        <div class="time_header_item">
          <span>Time</span>
        </div>
        <div class="time_item" [ngClass]="today == temp.headerDate ?'active_date':'inactive_date'" *ngFor="let temp  of recordInput; let p = index">
          <span *ngIf="temp.data[i]">{{temp.data[i].start_time}} - {{temp.data[i].end_time}}</span>
          <span *ngIf="!temp.data[i]">-</span>
        </div>
      </div>
      <div class="subject_container" >
        <div class="subject_header_item">
          <span *ngIf="!isProfessional">Subject</span>
          <span *ngIf="isProfessional">Batch </span>
        </div>
        <div class="subject_item" [ngClass]="today == temp.headerDate ?'active_date':'inactive_date'" *ngFor="let temp  of recordInput">
          <div>
            <span *ngIf="(temp.data[i] && temp.data[i].class_type !='EXTRA' && temp.data[i].class_type !='Exam' && temp.data[i].class_type != 'DOUBT' && temp.data[i].class_type !='REVISION')"
              class="dot_11"></span>
          </div>
          <div>
            <span *ngIf="(temp.data[i] && temp.data[i] && temp.data[i].class_type =='DOUBT')" class="dot_22"></span>
          </div>
          <div>
            <span *ngIf="(temp.data[i] && temp.data[i].class_type =='EXTRA')" class="dot_33"></span>
          </div>
          <div>
            <span *ngIf="(temp.data[i] && temp.data[i].class_type =='REVISION')" class="dot_44"></span>
          </div>
          <div>
            <span *ngIf="(temp.data[i] && temp.data[i].class_type =='Exam')" class="dot_55"></span>
          </div>

          <span  style="width:90%;" *ngIf="temp.data[i] && !isProfessional">{{temp.data[i].subject_name}}</span>
          <span style="width:90%;" *ngIf="temp.data[i] && isProfessional">{{temp.data[i].batchName}}</span>
          <span *ngIf="!temp.data[i]">-</span>
        </div>
      </div>
      <div class="master_course_container" >
        <div class="course_header_item">
          <span>{{schoolModel ? 'Standard (Section)' : 'Master Course (Course)'}}</span>
        </div>
        <div class="course_item" *ngFor="let temp  of recordInput">
          <span *ngIf="temp.data[i] && isProfessional">{{temp.data[i].standard_name}} &nbsp;({{temp.data[i].subject_name}})</span>
          <span *ngIf="temp.data[i] && (!isProfessional)">{{temp.data[i].master_course_name}} &nbsp;({{temp.data[i].course}})</span>
          <span *ngIf="!temp.data[i]">-</span>
        </div>
      </div>

      <div class="topic_container" *ngIf="!isProfessional">
        <div class="topic_header_item">
          <span>Topic</span>
        </div>
        <div class="topic_item" [ngClass]="today == temp.headerDate ?'active_date':'inactive_date'" *ngFor="let temp  of recordInput">
          <span *ngIf="temp.data[i]">{{temp.data[i].topics_covered}}</span>
          <span *ngIf="!temp.data[i]">-</span>
        </div>
      </div>
      <div class="faculty_container">
        <div class="faculty_header_item">
          <span>Teacher</span>
        </div>
        <div class="faculty_item" [ngClass]="today == temp.headerDate ?'active_date':'inactive_date'" *ngFor="let temp  of recordInput">
          <span *ngIf="temp.data[i]">{{temp.data[i].teacher_name}}</span>
          <span *ngIf="!temp.data[i]">-</span>
        </div>
      </div>
    </div>
  </div>

  <div class="noSchedule" *ngIf="maxNoOfClasses == 0">No Schedule Available
  </div>

</section>