<div class="search-dropdown-box search-item">

  <section *ngIf="resultStat == 0">
    <ul>
      <li>
        <h6>
          <span>
            <div class="skeleton">
            </div>
          </span>
        </h6>
      </li>
      <li>
        <h6>
          <span>
            <div class="skeleton">
            </div>
          </span>
        </h6>
      </li>
    </ul>
  </section>

  <section *ngIf="resultStat == 1">

    <!-- No Result, No Recent Search -->
    <ul class="sdb search-item" *ngIf="searchResult.length == 0 && recentlySearched.size == 0">
      <li>
        <h6>
          <span>
            No Recent Search
          </span>
        </h6>
      </li>
    </ul>

    <!-- No Result, Few Recent Search -->
    <ul class="sdb search-item" *ngIf="searchResult.length == 0 && recentlySearched.size != 0">
      <li>
        <h5>
          <span>
            Your Recent Searches
          </span>
          <!-- <a>View More</a> -->
        </h5>
        <ul class="in-student-list search-item">
          <li class="search-item" *ngFor="let rs of recentlySearched">
            <a>
              <span class="sdb-right search-item">
                <label class="recent search-item" (click)="searchThisAgain(rs)">
                  <strong>{{rs}}</strong>
                </label>
                <label class="delete search-item">
                  <img class="search-item" src="./assets/images/cross.png" (click)="deleteRecent(rs)" alt="delete">
                </label>
              </span>
            </a>
          </li>
        </ul>
      </li>
    </ul>

    <!-- Result-->
    <ul class="sdb search-item" *ngIf="searchResult.length != 0">
      <li *ngIf="studentResult.length != 0">
        <h5>
          <span>
            In Students
          </span>
          <a *ngIf="hasStudent" (click)="fullView('student')">View More</a>
        </h5>
        <ul class="in-student-list">
          <li *ngFor="let student of studentResult">
            <ul class="holder">
              <li>
                <!-- (click)="studentSelected(student)" -->
                <a>
                  <!-- <img src="" alt="" /> -->
                  <img [src]="student.thumbnail_url" alt="profile" class="profile_img" title="{{student.name}}">
                  <span class="sdb-right">
                    <label>
                      <strong>{{student.name}}</strong>
                    </label>
                    <span>
                      +{{student.country_calling_code}} {{student.phone}} | Enrolment ID : {{student.displayId}}
                    </span>
                    <span
                      *ngIf="institute_id == '101920' || institute_id == '100058' || institute_id == '100127' || institute_id == '100144'">
                      | Password : {{student.password}}
                    </span>
                  </span>
                </a>
              </li>
              <li>
                <a *ngIf="hasStudent" class="markers" (click)="performAction('studentEdit', student)">
                  View Student
                </a>
                <a *ngIf="hasStudent" class="markers" (click)="performAction('studentFee', student)">
                  Manage Fee
                </a>
                <!-- <a *ngIf="hasStudent" class="markers" (click)="performAction('studentInventory', student)">
                  Manage Inventory
                </a> -->
                <a *ngIf="hasStudent" class="markers" (click)="performAction('studentReortCard', student)">
                  Download Report Card
                </a>
                <a *ngIf="hasStudent" class="markers hide" (click)="performAction('studentLeave', student)">
                  Mark Leave
                </a>
                <a *ngIf="hasStudent" class="markers hide" (click)="performAction('studentDelete', student)">
                  Delete
                </a>
                <a target="_blank" class="markers" [href]="student.whatsapp_no" style="vertical-align: middle;">
                  <img src="https://img.icons8.com/color/48/000000/whatsapp.png"></a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li *ngIf="enquiryResult.length != 0">
        <h5>
          <span>
            In Enquiry
          </span>
          <a *ngIf="hasEnquiry" (click)="fullView('enquiry')">View More</a>
        </h5>
        <ul class="in-student-list">
          <li *ngFor="let enquiry of enquiryResult">
            <ul class="holder">
              <li>
                <!--  (click)="enquirySelected(enquiry)" -->
                <a>
                  <img src="./assets/images/gender.jpg" alt="" />
                  <span class="sdb-right">
                    <label>
                      <strong>{{enquiry.name}}</strong>
                    </label>
                    <span>
                      +{{enquiry.country_calling_code}} {{enquiry.phone}} | Enrolment ID : {{enquiry.displayId}}
                    </span>
                  </span>
                </a>
              </li>
              <li>
                <a *ngIf="hasEnquiry" class="markers" (click)="performAction('enquiryEdit',enquiry)">
                  Edit Enquiry
                </a>
                <a *ngIf="hasEnquiry" class="markers hide" (click)="performAction('enquiryDelete')">
                  Delete Enquiry
                </a>
                <a *ngIf="hasEnquiry" class="markers" (click)="performAction('enquiryUpdate',enquiry)">
                  Update Enquiry
                </a>
                <a target="_blank" class="markers" [href]="enquiry.whatsapp_no" style="vertical-align: middle;">
                  <img src="https://img.icons8.com/color/48/000000/whatsapp.png"></a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>

  </section>
  <a id="downloadFileClick1"></a>
</div>