<!-- Modal -->
<div id="editCityArea" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Edit Area</h3>
      </div>
      <div class="modal-body">
        <div class="edit-container">
          <div class="edit-item field-wrapper">
            <span class="edit-title">Country Name </span>
            <span>{{ (!editrecord?.country_name) ? '-' : editrecord.country_name}}</span>
          </div>
          <div class="edit-item field-wrapper">
            <span class="edit-title">State Name </span>
            <span>{{(!editrecord?.state_name) ? '-' : editrecord.state_name}}</span>
          </div>
          <div class="edit-item field-wrapper">
            <span class="edit-title">City Name </span>
            <span>{{ (!editrecord?.city) ? '-' : editrecord.city}}</span>
          </div>
          <div class="edit-item field-wrapper">
            <span class="edit-title">Area Name </span>
            <input type="text" name="" value="" [(ngModel)]="editAreaName" placeholder="Enter area name"
              class="edit-area-item form-ctrl">
          </div>
          <div class="edit-item field-checkbox-wrapper" style="width: 100px !important">
            <span class="edit-title" style="width: 100%;">Is Active</span>
            <input type="checkbox" id="active" value="" name="" class="form-checkbox" [(ngModel)]="editIsActiveStatus">
            <label for="active"></label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-default" (click)="updateArea()">Update</button>
      </div>
    </div>

  </div>
</div>

<div id="deleteModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="alert-title-container">
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          <h4 class="modal-title">Alert</h4>
        </div>
      </div>
      <div class="modal-body">
        <div class="msg-container">
          <span>Are you sure you want to delete it?</span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No, cancel!</button>
        <button type="button" class="btn btn-default delete-btn" (click)="deleteArea()">Yes, delete it!</button>
      </div>
    </div>

  </div>
</div>

<div class="clearFix">
  <section class="middle-top mb0 clearFix">
    <h1 class="pull-left">
      State/City/Area Mapping
    </h1>
  </section>

  <section class="middle-main clearFix">
    <!-- Filter container -->
    <section>
      <div class="filter-container">
        <div class="filter-item field-wrapper" style="margin-left: 0px;">
          <select class="form-ctrl" name="" [(ngModel)]="filter.country_ids" (ngModelChange)="getStateList()">
            <option value="-1">Select Country</option>
            <option title="{{country.country_name}}" [value]="country.id" *ngFor="let country of countryList">
              {{ (country.country_name.length > 30) ? (country.country_name | slice:0:30) + '...' : country.country_name
              }}
            </option>
          </select>
        </div>
        <div class="filter-item field-wrapper">
          <select class="form-ctrl" name="" [(ngModel)]="filter.state_ids" (ngModelChange)="getCityList()">
            <option value="-1">Select State</option>
            <option title="{{state.state_name}}" [value]="state.state_id" *ngFor="let state of stateList">
              {{ (state.state_name.length > 30) ? (state.state_name | slice:0:30) + '...' : state.state_name }}</option>
          </select>
        </div>
        <div class="filter-item field-wrapper">
          <select class="form-ctrl" name="" [(ngModel)]="filter.city_ids">
            <option value="-1">Select City</option>
            <option title="{{city.city_name}}" [value]="city.city_id" *ngFor="let city of cityList">
              {{ (city.city_name.length > 30) ? (city.city_name | slice:0:30) + '...' : city.city_name }}</option>
          </select>
        </div>
        <div class="filter-item field-checkbox-wrapper" style="width: 100px !important; margin-top: 15px;">
          <span class="edit-title" style="width: 100%;">Is Active</span>
          <input type="checkbox" id="active" value="" name="" class="form-checkbox" [(ngModel)]="filter.is_active">
          <label for="active"></label>
        </div>
        <div class="filter-item" style="width: 8%;" id="searchBtn1">
          <button type="button" class="search-btn fullBlue" name="button" (click)="searchArea()">Search</button>
        </div>
        <div class="create-btn-container field-wrapper filter-item"
          style="margin-left: 29%;width: 8%;margin-right: 0px;">
          <button type="button" name="button" class="add-student-btn" (click)="toggleAddArea()">Add Area</button>
        </div>
      </div>
    </section>

    <!-- Search bar and Add Area btn container -->
    <section>
      <div class="search-and-create-filter-container">
        <div class="search-container field-wrapper">
          <input type="text" value="" id="search_bar" [(ngModel)]="areaSearchInput" name="areaSearchInput"
            (keyup)="searchDatabase(search)" placeholder="Search here..." class="search-box" #search>
        </div>
      </div>
    </section>

    <!-- table container -->
    <section>
      <div class="table-container">
        <div class="table-header-container">
          <div class="header-item small">
            <span>State</span>
          </div>
          <div class="header-item small">
            <span>City</span>
          </div>
          <div class="header-item large">
            <span>Area</span>
          </div>
          <div class="header-item align-center medium">
            <span>Active Status</span>
          </div>
          <div class="header-item align-center medium">
            <span>Action</span>
          </div>
        </div>
        <div class="table-value-outer-container">
          <div class="table-value-container" *ngFor="let record of countryStateAreaList">
            <div class="table-value-item small">
              <span title="{{record?.state_name}}">{{ (!record.state_name) ? '-' : (record.state_name.length > 20) ?
                (record.state_name | slice:0:20) + '...' : record.state_name}}</span>
            </div>
            <div class="table-value-item small">
              <span title="{{record?.city}}">{{ (!record.city) ? '-' : (record.city.length > 20) ? (record.city |
                slice:0:20) + '...' : record.city}}</span>
            </div>
            <div class="table-value-item large">
              <span title="{{record?.area}}">{{ (!record.area) ? '-' : (record.area.length > 50) ? (record.area |
                slice:0:50) + '...' : record.area }}</span>
            </div>
            <div class="table-value-item align-center medium">
              <span *ngIf="record?.is_active == 'Y'">Active</span>
              <span *ngIf="record?.is_active == 'N'" style="color: red;">In-Active</span>
            </div>
            <div class="table-value-item align-center medium">
              <i class="fa fa-pencil edit-lead" title="Edit Area" aria-hidden="true" (click)="editArea(record)"
                data-toggle="modal" data-target="#editCityArea"></i>
              <i class="fa fa-trash delete-lead" title="Delete Area" aria-hidden="true" data-toggle="modal"
                data-target="#deleteModal" (click)="setDeleteAreaId(record.id)"></i>
            </div>
          </div>
          <div class="no-records" *ngIf="!countryStateAreaList.length && !jsonFlag.isRippleLoad">
            <span>No Records Found</span>
          </div>
        </div>
      </div>
    </section>

  </section>

</div>


<app-add-city-area *ngIf=addArea (closePopup)="toggleAddArea($event)" [selectedData]="selectedData">
</app-add-city-area>