input[type=checkbox]
{
  -webkit-appearance:checkbox;
  padding-top: 0px  !important;
}

// ul{
//   columns: 3 8em;
// }
ul#horizontal-list {

	list-style: none;
  padding-top: 20px;
  padding-bottom: 20px
	}
	// ul#horizontal-list li {
  //   display: inline;
  
  // }in future use 
.checkbox-inline{  
    padding-left: 30px !important;
    padding-right: 4px !important;
    padding-top: 4px  !important;
}