<proctur-popup [sizeWidth]="'small'">

  <span class="closePopup pos-abs fbold show" id="popupCloseBtn" (click)="closePopups()" close-button>
    <svg  class="artdeco-icon" focusable="false" height="24px" preserveAspectRatio="xMinYMin meet" viewBox="0 0 24 24" width="24px" x="0" y="0">
      <path  class="large-icon" d="M20,5.32L13.32,12,20,18.68,18.66,20,12,13.33,5.34,20,4,18.68,10.68,12,4,5.32,5.32,4,12,10.69,18.68,4Z" style="fill: currentColor"></path>
    </svg>
  </span>
  <h2 popup-header>Choose Show/Hide Columns</h2>
  <ul class="history-wrapper" id="horizontal-list" popup-content>
    <form>
      <li *ngFor="let fieldObj of keys; let i=index;">
        <label class="checkbox-inline">
          <div class="field-checkbox-wrapper">
            <input type="checkbox" class="form-checkbox" [name]="fieldObj.primaryKey" [checked]="fieldObj.checked" (change)="change($event, fieldObj)"
              [id]="'checkboxPopup-'+i">
            <label [for]="'checkboxPopup-'+i">{{fieldObj.header}}</label>
            <!-- <input type="checkbox" [name]="fieldObj.primaryKey" [checked]="fieldObj.checked" (change)="change($event, fieldObj)">
              {{fieldObj.header}} -->
          </div>
        </label>
      </li>
    </form>
  </ul>
  <div popup-footer>
    <button type="button" class="btn btn-default fullBlue " style="float: right;" (click)="selctedFieldsDisplay()">Save </button>
  </div>
</proctur-popup>
