.middle-section{
  padding: 1%;
}
// Header container style  // dashboard
.main-heading-container{
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

// Main container
.main-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: 12px;
  margin-top: 10px;
}
// Left side
.left-container{
  width: 58%;
  .left-outer-container{
    display: flex;
    flex-direction: column;
  }
  .left-item{
    display: flex;
    justify-content: flex-start;
    .header-select-box{
      border-radius: 4px;
      border: 1px solid #d4d4d4;
      margin: 5px 0px;
      padding: 2px 0px;
      width: 25%;
    }
  }
}
// Right side
.right-container{
  width: 40%;
  .right-item{
    display: flex;
    justify-content: flex-start;
    position: relative;
    .filter-input{
      margin: 5px 0px;
      border-radius: 4px;
      border: 1px solid #d4d4d4;
      padding: 2px 3px;
      width: 40%;
      height: 30px;
    }
    i{
      position: absolute;
      top: 15px;
      left: 36%;
    }
  }
}


.table-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.15);
  border-radius: 4px;
  font-size: 12px;
  margin-top: 5px;
  border-top: 1px solid #ccc;
  .table-header-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    background: #FAFAFA;
    .header-item{
      font-weight: 600;
    }
  }
  .table-outer-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid #ccc;
    min-height: 30vh;
    max-height: 30vh;
    overflow-y: auto;
  }
  .table-value-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    .value-item{
      font-weight: 400;
      .view-result-btn{
        padding: 2px 5px;
        background: #ffffff;
        border-radius: 4px;
        border: 1px solid #248CF5;
        color: #248CF5;
      }
    }
    .completed-class{
      color: #00E172;
    }
    .pending-class{
      color: gray;
    }
    .cancelled-class{
      color: red;
    }
    .marks-pending-class{
      color: blueviolet
    }
    .upcoming-class{
      color: #ff6c24;
    }

  }

  .small-item{
    width: 15%;
  }
  .medium-item{
    width: 17%;
  }
  .large-item{
    width: 23%;
  }
  .large-item1{
    width: 40%;
  }
  .custom-item{
    width: 20%;
  }
  .align-center{
    text-align: center;
  }
  .border-completed-class{
    border-left: 3px solid #00E172;
    background: #F4FFF4;
  }
  .border-class{
    border-left: 3px solid white;
  }
}


.table-value-container img {
    max-width: 25%;
    margin-left: 10%;
    height: auto;
}
