@import "../../../../assets/css/style.scss";
@import "../../../../assets/css/wrapper.scss";
@import "../../../../assets/css/common/common.scss";
@import "../../../../assets/css/common/grid.scss";
@import "../../../../assets/css/common/variables.scss";
@import "./src/assets/css/common/common-web.scss";

.pointer:hover{
    cursor: pointer;
}
.made{
    position: relative;
    left: -4%;
    right: -15%;
    bottom: -15px;
    text-align: center;
}
.made-in{
    font-size: 15px;
    font-weight: bold;
}
.made-out{
    font-size: 14px;
    color: #666666;
    text-transform: uppercase;
}

.router-wrapper{
    // max-height: 92vh;
    /* overflow-x: hidden; */
    /* overflow-y: auto; */
    padding: 15px 15px 0px;
}
