@import "./src/assets/css/common/variables.scss";
@import "./src/assets/css/common/common-web.scss";
.middle-section{
    padding: 1%;
  }
  
  .leads-menu-section-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    .leads-menu-item{
      padding: 15px 10px;
      width: 100%;
      background: #fff;
      
      border-radius: 4px;
     
      text-align: left;
      margin: 1%;
      -webkit-box-shadow: 0px 3px 6px #696969;
      box-shadow: 0px 3px 6px #eee4e4;
      .menu-title{
        width: 100%;
        justify-content: flex-start;
        font-size: 14px;
        font-weight: 600;
        display: flex;
        flex-direction: row;
        margin-left: 30px;
        //img{
        //  width: 25px;
         // height: 25px;
          
        //}
        span{
          margin-left: 10px;
          margin-top: 5px;
          margin-left: 37px;
          margin-top: -3px;
        }
      }
      .menu-description{
        padding: 10px;
        font-size: 12px;
        margin-left:75px;
      }
    }
   
    }
    
    .head-font{
      //font-weight:600;
    
      //font-size:16px;
     font-family:  'Open Sans', sans-serif;
     
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
position: absolute;
letter-spacing: 0.01em;
margin-left: 37px;
margin-top: -4px;
  
    }

    .sub-head{
     // font-weight: 500;
      
     // font-size: 14px;
     // margin-left: 30px;
     // padding-top: 20px;
     font-family:  'Open Sans', sans-serif;
     font-size: 13px;
line-height: 19px;
letter-spacing: 0.01em;
margin-left: 30px;


color: #334D6E;

    
    }
    .content{

     // font-weight:300;
     // font-size:12px;
      margin-left: 50px;
      font-family:  'Open Sans', sans-serif;
    
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 15px;
letter-spacing: 0.01em;
margin-top:-8px;

color: #979797;

    }
   
    

  a{
    color: black;
  }
  .heading_hr{

  
    margin-left:-5%;


background: #E3DEDE;
  }
  .content_hr
  {
    
    margin-left:-24px;
    width:50%;
  }
  .icon_click{

    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 1em;
    margin: -1em;
    
  }
  // ====================institut-report-by Asha=============================
  /* popUp Scss */

.sumerry-report{
.popupWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  background: rgba(230, 230, 230, 0.5);
  z-index: 100; // display: none;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .5s ease-in;
  -moz-transition: all .5s ease-in;
  -ms-transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
  transition: all .5s ease-in;

  .popup {
    max-width: 850px; // max-height: 350px;
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
    top: 5%;
    bottom: 0;
    margin: auto; // transform: translateY(-50%);
  }
}
  .black-bg1 {
    background: rgba(10,10,10,0.3);
    position: fixed;
    top: 0;
    height: 100%;
    left: 0;
    z-index: 500;
    width: 100%;
  }
  .download-report{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .checkbox-container{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 10px;
    }
  }
  input[type=radio]{
    appearance: radio;
  }

  .closePopup {
    right: 10px;
    top: 10px;
    font-size: 18px;
    cursor: pointer;
    line-height: 20px;
    width: 26px;
    height: 26px;
    box-sizing: border-box;
    text-align: center;
    padding-top: 3px;
    display: none;
  
    &.bottomRight {
      bottom: 2px;
      top: auto;
      left: auto;
      right: 0;
    }
  
    &.topLeft {
      left: 0;
      right: auto;
      top: 1px;
      bottom: auto;
    }
  
    &.bottomLeft {
      left: 0;
      right: auto;
      bottom: 2px;
      top: auto;
    }
  
    svg {
      width: 16px;
  
      .cls-1 {
        stroke: #c1c1c1;
        stroke-width: 2px;
      }
    }
  
    &:hover {
      .cls-1 {
        stroke: $common-blue;
      }
    }
  }
  
  .modal-content {
    height: 100%;
    overflow: hidden;
    visibility: visible;
  }
  
  .fadeIn {
    opacity: 1;
    visibility: visible;
  }
  .field-wrapper {
    // margin: 5px 0;

    .date-clear {
      position: absolute;
      right: 0;
      top: 58px;
      cursor: pointer;
      color: #0084f6;
      z-index: 1;
    }

    &.datePickerBox {
      &:after {
        content: '';
        background: url('../../../assets/images/calendar.svg ') no-repeat;
        position: absolute;
        left: 78% !important;
        top: 33px !important;
        width: 21px;
        height: 21px;
        z-index: 0;
      }
    }
    .select-dates {
      .field-wrapper.datePickerBox:after {
        content: '';
        background: url("../../../assets/images/calendar.svg") no-repeat;
        position: absolute;
        right: 2px;
        top: 28px;
        width: 21px;
        height: 21px;
        z-index: 20;
      }
    }
    
  }
  
}
