.pie-wrapper{
    box-shadow: 0px 0px 2px 1px;
    background: #fff;
    .row{
        margin: 0px;
    }
    .field-wrapper{
        width: 200px;
        float: right;
        margin-right: 10px;
    }
}
