<div class="widget-overflow">
  <div class="popup pos-abs" #popup>
    <div class="popup-wrapper pos-rel">
      <ng-content select="[close-button]"></ng-content>
      <div class="widget-content">
        <!-- project content for header here -->
        <ng-content select="[widget-header]">
        </ng-content>
        <div class="overflowHidden">
          <!-- project content for widget here -->
          <ng-content select="[widget-content]">
          </ng-content>
          <!-- project footer for widget here -->
          <ng-content select="[widget-footer]">
          </ng-content>

        </div>

      </div>
    </div>
  </div>
</div>
