.popup-wrapper {
    padding: 20px 20px;
    box-sizing: border-box;
    box-shadow: 1px 8px 20px 5px #9c9c9c;
    transition: unset;
    background: #fff;
    border-radius: 4px;
    margin-left: 5%;
    h2 {
        margin-bottom: 15px;
        font-size: 14px;
    }
    h4 {
        margin: 25px 0 15px;
        font-weight: 600;
    }
}
.widget-overflow{
    position: fixed;
    width: 100%;
    height: 100%;
    bottom: 0;
    top: 0px;
    right: 0;
    left: 0px;
    background: rgba(230, 230, 230, 0.5);
    z-index: 100;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    .popup {
        max-width: 80%;
        // max-height: 350px;
        width: 100%;
        height: auto;
        left: 0;
        right: 0;
        top: 3%;
        bottom: 0;
        margin: auto;
        // transform: translateY(-50%);
    }
}
.widget-wrapper {
    position: relative;
    padding: 40px;
    width: 100%;
    height: 550px;
    .widget-container {
        background: white;
        border: 1px solid #777;
        box-shadow: 0px 0px 10px 2px #777;
        width: 100%;
        height: 100%;
    }
    .table-responsive {
        max-width: 100%;
        overflow: auto;
    }

    table {
        width: 100%;
        box-sizing: border-box;
        border-collapse: collapse;
    }

    th,
    td {
        font-size: 12px;
        padding: 6px 2px;
        vertical-align: middle;
    }

    th {
        background: #004a7e;
        font-size: 11px;
        color: #fff;
        font-weight: normal;
    }

    td {
        border-bottom: 1px solid #fff;
    }

    table tr {
        transition: all 0.1s;
    }

    table tr:nth-child(even) {
        background: #efefef;
    }

    table tr:nth-child(odd) {
        background: #f7f7f7;
    }

    table tr:nth-child(even):hover {
        background: #ececec;
    }

    table tr:nth-child(odd):hover {
        background: #eaeaea;
    }

    table tr.selected {
        background: #dceff7 !important;
    }

    .table-responsive tr td:first-child .field-checkbox-wrapper,
    .table-responsive tr th:first-child .field-checkbox-wrapper {
        width: 20px;
        overflow: hidden;
        box-sizing: border-box;
        height: 20px;
        padding-left: 20px;
        margin-bottom: 0;
        margin-left: 5px;
        background: #fff;
        border-radius: 2px;
    }

}

.attendanceMain{
    padding-top: 15px;
    width: 99%;

    th{
        line-height: 25px !important;
    }
}

.closePopup {
    right: 6%;
    top: 10%;
    font-size: 18px;
    cursor: pointer;
    line-height: 20px;
    width: 26px;
    height: 26px;
    box-sizing: border-box;
    text-align: center;
    padding-top: 3px;
    display: none;
    &.bottomRight {
        bottom: 2px;
        top: auto;
        left: auto;
        right: 0;
    }
    &.topLeft {
        left: 0;
        right: auto;
        top: 1px;
        bottom: auto;
    }
    &.bottomLeft {
        left: 0;
        right: auto;
        bottom: 2px;
        top: auto;
    }
    svg {
        width: 16px;
        .cls-1 {
            stroke: #c1c1c1;
            stroke-width: 2px;
        }
    }
    &:hover {
        .cls-1 {
            stroke: #0084f6;
        }
    }
}

.widget-content {
    width: 100%;
    height: 100%;
    padding: 15px 15px 5px 15px ;
}

@media only screen and (max-width:800px) {
    .closePopup {
        right: 8%;
        top: 10%;
        font-size: 18px;
        cursor: pointer;
        line-height: 20px;
        width: 26px;
        height: 26px;
        box-sizing: border-box;
        text-align: center;
        padding-top: 3px;
        display: none;
        &.bottomRight {
            bottom: 2px;
            top: auto;
            left: auto;
            right: 0;
        }
        &.topLeft {
            left: 0;
            right: auto;
            top: 1px;
            bottom: auto;
        }
        &.bottomLeft {
            left: 0;
            right: auto;
            bottom: 2px;
            top: auto;
        }
        svg {
            width: 16px;
            .cls-1 {
                stroke: #c1c1c1;
                stroke-width: 2px;
            }
        }
        &:hover {
            .cls-1 {
                stroke: #0084f6;
            }
        }
    }
}

@media only screen and (max-width:640px) {
    .closePopup {
        right: 10%;
        top: 10%;
        font-size: 18px;
        cursor: pointer;
        line-height: 20px;
        width: 26px;
        height: 26px;
        box-sizing: border-box;
        text-align: center;
        padding-top: 3px;
        display: none;
        &.bottomRight {
            bottom: 2px;
            top: auto;
            left: auto;
            right: 0;
        }
        &.topLeft {
            left: 0;
            right: auto;
            top: 1px;
            bottom: auto;
        }
        &.bottomLeft {
            left: 0;
            right: auto;
            bottom: 2px;
            top: auto;
        }
        svg {
            width: 16px;
            .cls-1 {
                stroke: #c1c1c1;
                stroke-width: 2px;
            }
        }
        &:hover {
            .cls-1 {
                stroke: #0084f6;
            }
        }
    }
}
