.middle-section{
  padding: 1%;
}
.middle-top{
  width: 100%;
  padding: 10px 0px;
  border-bottom: 1px solid #ccc;
}


.section-wise-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0px 0px;
}
.course-wise-container{
  display: flex;
  flex-direction: column;
  width: 40%;
  .section-title{
    margin: 10px 0px;
    font-weight: 600;
    font-size: 14px;
  }
  .section-info-container{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border-top: 1px solid #ccc;
    font-size: 12px;
    min-height: 200px;
    .course-info{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      padding: 5px;
      border-radius: 4px;
      border: 1px solid #89C5F8;
      background: #F2FFFC;
      .course-info-item{
        display: flex;
        flex-direction: column;
        .course-info-title-container{
          margin: 5px 0px;
          color: #52A7F6;
        }
        .course-info{
          font-weight: 600;
        }
      }
      .course{
        width: 80%;
        justify-content: flex-start;
      }
      .exam-date{
        width: 20%;
        justify-content: flex-start;
      }
    }
    .marks-info-container{
      display: flex;
      flex-direction: row;
      width: 100%;
      padding: 10px 0px;
      border-bottom: 1px solid #ccc;
      .marks-info-item{
        display: flex;
        flex-direction: column;
        width: 20%;
        justify-content: center;
        text-align: center;
        .marks-title{
          color: #ccc;
          margin-bottom: 5px;
        }
        .marks{
          font-weight: 600;
        }
      }
    }
    .ranking-info-container{
      width: 100%;
      margin: 10px 0px;
      margin-bottom: 0px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .marks-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 30%;
        border-radius: 4px;
      }
      .marks-title{
        color: white;
        padding: 5px 0px;
      }
      .marks-info{
        padding: 5px 0px;
      }
      .highest-border{
        border: 1px solid #79DC80;
        color: #79DC80;
      }
      .lowest-border{
        border: 1px solid #DC8979;
        color: #DC8979;
      }
      .topper-border{
        border: 1px solid #58BDE3;
        color: #58BDE3;
      }
      .highest{
        background: #79DC80;
      }
      .lowest{
        background: #DC8979;
      }
      .topper{
        background: #58BDE3;
      }
    }
  }
}

.subject-wise-container{
  display: flex;
  flex-direction: column;
  width: 58%;
  .section-title{
    margin: 10px 0px;
    font-weight: 600;
    font-size: 14px;
  }
  .subject-wise-table-container{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border-top: 1px solid #ccc;
    font-size: 12px;
    min-height: 200px;
    .heading-container{
      display: flex;
      flex-direction: row;
      width: 100%;
      background: #FAFAFA;
      color: black;
      padding: 10px;
      font-weight: 600;
    }
    .value-outer-container{
      display: flex;
      flex-direction: column;
      max-height: 130px;
      overflow-y: auto;
    }
    .value-container, .total-container{
      display: flex;
      flex-direction: row;
      width: 100%;
      padding: 10px;
    }
    .total-container{
      font-weight: 600;
      border-top: 1px solid #ccc;
    }
    .heading-item, .value-item, .total-item{
      width: 50%;
    }
  }
}
.subejct-null-container{
    width: 100%;
    flex-direction: row;
    display: flex;
}
.student-wise-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 12px;
  .section-title{
    margin: 10px 0px;
    font-weight: 600;
    font-size: 14px;
  }
  .student-wise-table-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    border-radius: 4px;
    .student-wise-heading-container{
      display: flex;
      flex-direction: row;
      width: 100%;
      padding: 8px;
      padding-left: 13px;
      .student-wise-heading-item{
        font-size: 12px;
        font-weight: 600;
      }
    }
    .subject-wise-container{
      display: flex;
      flex-direction: row;
      width: 40%;
      max-width: 40%;
      .subject-wise-heading-item{
        font-size: 12px;
        font-weight: 600;
        width: 25%;
        text-align: center;
      }
      .subject-wise-value-item{
        font-size: 12px;
        font-weight: 400;
        width: 25%;
        text-align: center;
      }
    }
    .student-wise-value-outer-container{
      display: flex;
      flex-direction: column;
      width: 100%;
      .student-wise-value-container{
        display: flex;
        flex-direction: row;
        width: 100%;
        border-left: 5px solid white;
        padding: 8px;
        margin-bottom: 10px;

        border-top: 1px solid #ccc;
        .student-wise-value-item{

        }
      }
    }
    .medium-item{
      width: 15%;
    }
    .small-item{
      width: 10%;
    }
    .very-small-item{
      width: 10%;
    }
  }
}
