@import "../../../../assets/css/style.scss";
@import "../../../../assets/css/wrapper.scss";
@import "../../../../assets/css/common/common.scss";
@import "../../../../assets/css/common/grid.scss";
@import "../../../../assets/css/common/variables.scss";
@import "./src/assets/css/common/common-web.scss";

.scroller {
  height: 500px;
  background: white;
  ::-webkit-scrollbar {
    display: block;
  }

  .form {
    height: 500px;
    overflow-y: auto;
  }
}

.makeAdjust {
  width: 33.333%;
}

.bold {
  text-transform: uppercase;
  font-size: 12px;
}

.made-in {
  display: block;
  font-size: 15px;
  font-weight: bold;
}

.field-correspond {
  width: 50%;
}

.field-correspond {
  label {
    &::before {
      top: 3px;
      left: 3px;
    }
  }
}

.makeClear:hover {
  cursor: pointer;
}

.filter-wrapping {
  height: 100px;
  padding-top: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  background: white;
  padding-bottom: 0;
}

.report-box {
  width: 100%;
  height: 100%;
  padding: 10px;
  // ul {
  //   &.card-box {
  //     li {
  //       &.card-row {
  //         margin: 10px 0;
  //       }
  //     }
  //   }

  //   &.card {
  //     padding: 25px 10px;
  //     border: 1px solid #efefef;
  //     background: #fff;
  //     height: 150px;
  //     border-radius: 10px;
  //     cursor: pointer;
  //     text-align: left;
  //     margin: 10px 0;
  //     box-shadow: 0 0 2px 0;

  //     li {
  //       &:first-child {
  //         font-size: 18px;
  //         font-weight: 600;
  //         padding: 10px 5px;
  //       }
  //       padding: 5px;
  //     }
  //   }
  // }

  .report-header {
    .field-wrapper {
      position: relative;
      &.datePickerBox {
        .form-ctrl {
          cursor: pointer;
          position: relative;
          z-index: 1;
          background: transparent;
        }
        &:after {
          content: '';
          background: url('../../../../assets/images/calendar.svg') no-repeat;
          position: absolute;
          right: 0;
          top: 27px;
          width: 21px;
          height: 21px;
          z-index: 0;
        }
      }
    }
  }
}

.field-made {
  position: relative;

  .field-wrapper {
    &.datePickerBox {
      .form-ctrl {
        cursor: pointer;
        position: relative;
        z-index: 1;
        background: transparent;
      }

      &:after {
        content: '';
        background: url('../../../../assets/images/calendar.svg') no-repeat;
        position: absolute;
        right: 20px;
        top: 33px;
        width: 21px;
        height: 21px;
        z-index: 0;
      }
    }
  }
}

.showFilter:hover {
  cursor: pointer;
}