<div class="clearFix" style="padding-right: 2%;">
  <section class="header-section">
    <div>
      <div class="header-title">
        <span> Store</span>
      </div>
    </div>
  </section>
  <aside class="middle-full">
    <section class="middle-main clearFix">
      <section class="activity-box-container">
        <div class="activity-container">

          <div class="activity-item-container" *ngIf="jsonEstoreFlags.isManageProduct" routerLink="../details">
            <div class="img_name_container">
              <img src="./assets/images/activity/cheque.svg" alt="">
              <span>Manage Product</span>
            </div>
            <div class="activity-description">
              <span>Add / Manage products for selling or assigning to students directly.</span>
            </div>
          </div>
          <div class="activity-item-container" *ngIf="jsonEstoreFlags.isRegisterUser" routerLink="../registered-user">
            <div class="img_name_container">
              <img src="./assets/images/activity/registered_student.png" alt="">
              <span>Registered Users</span>
            </div>
            <div class="activity-description">
              <span>Manage and communicate with registered users from App/Website.</span>
            </div>
          </div>
          <!-- E-course -->


          <!--<div class="activity-item-container" routerLink="../sales-report">
            <div class="img_name_container">
              <img src="./assets/images/activity/cheque.svg" alt="">
              <span>Sales Report</span>
            </div>
            <div class="activity-description">
              <span>Report of products sold to students.</span>
            </div>
          </div>-->


          <div class="activity-item-container" *ngIf="jsonEstoreFlags.isManageOffer" routerLink="../manage-offers">
            <div class="img_name_container">
              <img src="../../../../assets/images/estore/Manage_Offer.svg" alt="">
              <span>Offers/ Discounts</span>
            </div>
            <div class="activity-description">
              <span>Manage coupoun / voucher for product discounts and offers. </span>
            </div>
          </div>

          <!--<div class="activity-item-container" routerLink="../offer-history">
            <div class="img_name_container">
              <img src="../../../../assets/images/estore/Offer_History.svg" alt="">
              <span>Offer History</span>
            </div>
            <div class="activity-description">
              <span> Coupoun / Vouchers usage report.</span>
            </div>
          </div>-->
          <!--<div class="activity-item-container" *ngIf="jsonFlag.isShowEcourseMapping" routerLink="/view/course/ecoursemapping">
            <div class="img_name_container">
              <img src="./assets/images/activity/ecourse.svg" alt="">
              <span>eCourse Mapping</span>
            </div>
            <div class="activity-description">
              <span *ngIf="!isLangInstitue">Manage eCourse (Online Courses) for Online Tests, Study Material and eStore
                Products.</span>
              <span *ngIf="isLangInstitue">Manage eCourse (Online Courses) for Online Tests, Study Material and eStore
                Products.</span>
            </div>
          </div>-->
          <!-- <div class="activity-item-container" routerLink="../master-tag">
            <div class="img_name_container">
              <img src="./assets/images/activity/manage_tag.svg" alt="">
              <span>Manage Tag</span>
            </div>
            <div class="activity-description">
              <span>Create tags for future reference while creating products.</span>
            </div>
          </div> -->

          <!-- <div class="activity-item-container" routerLink="../groups">
                <div class="img_name_container">
                  <img src="./assets/images/activity/ptm.svg" alt="">
                  <span>Manage Group </span>
                </div>
                <div class="activity-description">
                  <span>Create and Manage Products Groups </span>
                </div>
              </div> -->
        </div>

      </section>
    </section>
  </aside>
</div>