@import "./src/app/components/course-module/course-planner/course-planner.component.scss";

.filter-header-container{
  display: flex;
  flex-direction: row;
  padding: 5px 0px;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  justify-content: space-between;
  .filter-item-1{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .header-item{
      display: flex;
      flex-direction: column;
      font-size: 12px;
      color: #3e3d4a;
      width: 18%;
      position: relative;
      .header-select-box{
        border-radius: 4px;
        border: 1px solid #d4d4d4;
        margin: 5px 0px;
        padding: 5px 0px;
      }
      .input-container{
        position: relative;
        .fa-filter{
          position: absolute;
          left: 2px;
          background: white;
          padding: 8px 10px;
          top: 6px;
          border-right: 1px solid #ccc;
        }
        .fa-caret-down, .fa-caret-up{
          position: absolute;
          right: 2px;
          background: white;
          padding: 7px 10px;
          top: 7px;
          z-index: 1;
          cursor: pointer;

        }
      }
      .filer-input{
        margin: 5px 0px;
        border-radius: 4px;
        border: 1px solid #d4d4d4;
        padding: 8px 5px;
        width: 100%;
        padding-left: 35px;
        height: 30px;
      }
    }
    .go-btn-container{
      display: flex;
      flex-direction: column;
      font-size: 12px;
      color: #3e3d4a;
      width: auto;
      .gobtn{
        border: 1px solid #3a66fa;
        border-radius: 4px;
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
        padding: 4px 10px;
        background: #3a66fa;
        color: #ffffff;
        font-weight: 600;
        height: 30px;
        margin-top: 20px;
      }
    }
  }
  .filter-item-2{
    width: 10%;
    display: flex;
    justify-content: flex-end;
    .add-class-btn{
      border: 1px solid #3a66fa;
      border-radius: 4px;
      box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
      padding: 4px 10px;
      background: white;
      color: #1283f4;
      font-weight: 600;
      height: 30px;
      margin-top: 15px;
      .fa-plus{

      }
    }
  }
  .filter-container{
    position: absolute;
    width: 100%;
    background: white;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    top: 55px;
    animation-name: slideInDown;
    animation-duration: 0.5s;
    z-index: 20;
    .date-container{
      display: flex;
      flex-direction: column;
      padding: 10px;
      border-bottom: 1px solid #ccc;
      padding-bottom: 0px;
      .date-title{
        font-weight: 600;
        padding: 5px 0px;
      }
      .date-values-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .date-value-item{
          width: 50%;
          input, label{
            cursor: pointer;
            font-size: 12px;
          }
        }
      }
    }
    .status-container{
      display: flex;
      flex-direction: column;
      padding: 10px;
      border-bottom: 1px solid #ccc;
      padding-bottom: 0px;
      .status-title{
        font-weight: 600;
        padding: 5px 0px;
      }
      .status-values-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .status-value-item{
          width: 50%;
          input, label{
            cursor: pointer;
            font-size: 12px;
          }
        }
      }
    }

    .faculty-container{
      display: flex;
      flex-direction: column;
      padding: 10px;
      .faculty-title{
        font-weight: 600;
        padding: 5px 0px;
      }
      .faculty-dropdown-container{
        width: 100%;
        .faculty-select-box{
          border-bottom: 1px solid #d4d4d4;
          margin: 5px 0px;
          padding: 5px 0px;
          width: 100%;
        }
      }
    }
  }
}

.illustration-container{
  display: block;
  .illustration-img{
    width: 40%;
    /* height: 34%; */
    margin-left: 12%;
    margin-top: -2%;

  }
}

.table-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
  .table-header-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    padding-bottom: 10px;
    // margin-left: 5px;
    margin-right: 10px;
    padding-left: 5px;
    border-bottom: 1px solid #ccc;
    .table-heading-item{
      color: #585574;
      font-weight: 600;
      font-size: 12px;
      padding: 0px 5px;
      .fa-cog{
        position: absolute;
        right: 20px;
        cursor: pointer;
        color: #9898a3;
        font-size: 14px;
      }
      .show-hide-container{
        display: flex;
        flex-direction: column;
        width: 230px;
        right: 35px;
        height: auto;
        position: absolute;
        top: 0px;
        border-radius: 4px;
        box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
        z-index: 10;
        background: white;
        animation-name: slideInRight;
        animation-duration: 0.5s;
        .show-hide-header{
          padding: 10px;
          background: #f9f9f9;
          color: #585574;
          display: flex;
          justify-content: space-between;
          .fa-times{
            font-weight: 400;
            cursor: pointer;
          }
        }
        .show-hide-value-container{
          padding: 10px;
          display: flex;
          flex-direction: column;
          border-bottom: 1px solid #ccc;
          .show-hide-item{
            width: 100%;
            text-align: left;
            input, label{
              font-size: 12px;
              font-weight: 400;
            }
          }
        }
        .bg-container{
          position: absolute;
          bottom: 0px;
          right: 0px;
          img{
            width: 75%;
            margin-left: 25%;
          }
        }
      }
    }
  }
  .table-value-outer-container{
    height: 59vh;
    overflow-y: auto;
  }
  .table-value-container{
    display: flex;
    flex-direction: row;
    background: #ffffff;
    border-radius: 4px;
    // box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
    margin-bottom: 10px;
    padding: 5px 0px;
    position: relative;

    .table-value-item{
      color: #585574;
      font-weight: 400;
      font-size: 12px;
      line-height: 1.5;
      display: -webkit-box;   // for single row
      -webkit-box-align: center;
      padding: 0px 5px;
        .upcoming-btn{
        color: #ffffff;
        border-radius: 4px;
        border: 1px solid #ffffff;
        background: #ff6c24;
        cursor: default;
        padding: 2px 5px;
        width: 95px;
        // margin-left: 40%;
        font-weight: 600;
      }
      .pending-btn{
        color: #ffffff;
        border-radius: 4px;
        border: 1px solid #ffffff;
        background: #8d8d8d;
        cursor: default;
        padding: 2px 5px;
        width: 95px;
        // margin-left: 40%;
        font-weight: 600;
      }
      .cancelled-btn{
        color: #ffffff;
        border-radius: 4px;
        border: 1px solid #ffffff;
        background: #df0d2f;
        cursor: default;
        padding: 2px 5px;
        width: 95px;
        // margin-left: 40%;
        font-weight: 600;
      }
      .completed-btn{
        color: #ffffff;
        border-radius: 4px;
        border: 1px solid #ffffff;
        background: #00b55a;
        cursor: default;
        padding: 2px 5px;
        width: 95px;
        // margin-left: 40%;
        font-weight: 600;
      }
      .marksPending-btn{
        color: #ffffff;
        border-radius: 4px;
        border: 1px solid #ffffff;
        background: #8771FF;
        cursor: default;
        padding: 2px 5px;
        width: 95px;
        // margin-left: 40%;
        font-weight: 600;
      }
    }
    .flex-item{
      display: flex;             // for Double row
      flex-direction: column;
    }
  }
  .border-cancelled-class{
    border-left: 5px solid #df0d2f;
  }
  .border-completed-class{
    border-left: 5px solid #00b55a;
  }
  .border-pending-class{
    border-left: 5px solid #8d8d8d;
  }
  .border-upcoming-class{
    border-left: 5px solid #ff6c24;
  }
  .border-marksPending-class{
    border-left: 5px solid #8771FF;
  }
  .align-center{
    text-align: center;
  }
  .small{
    width: 8%;
    font-size: 12px;
  }
  .medium{
    width: 15%;
    font-size: 12px;
  }
  // .large{
  //   width: 15%;
  //   font-size: 12px;
  // }
  .action{
    position: absolute;
    right: 0px;
  }
  .action-container{
    display: flex;
    justify-content: center;
    width: 100%;
    // margin-right: 15%;
    margin-top: 15px;
    i, img{
      margin: 0px 5px;
      max-width: 14px;
      height: 14px;
      cursor: pointer;
    }
  }

}

// Checkbox style

.field-checkbox-wrapper {
  .form-checkbox {
   opacity: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 20px;
   height: 20px;
   z-index: 1;
   border: 2px solid #0084f6;
 }
}

.field-checkbox-wrapper .form-checkbox+label {
    vertical-align: middle;
    font-size: 14px;
    display: inline-block;
}
.field-checkbox-wrapper .form-checkbox+label:after {
    content: '';
    width: 16px;
    height: 16px;
    border: 2px solid #ccc;
    border-radius: 2px;
    position: absolute;
    left: 0;
    top: 0;
}
.field-checkbox-wrapper .form-checkbox:checked+label:after {
    border: 2px solid #0084f6;
}
.field-checkbox-wrapper .form-checkbox+label:before {
    width: 1px;
    height: 1px;
    left: 8px;
    top: 9px;
    position: absolute;
    content: '';
    border-top: 0;
    border-right: 0;
    border-left: 2px solid transparent;
    border-bottom: 2px solid transparent;
    transform: rotate(-45deg);
}
.field-checkbox-wrapper .form-checkbox:checked+label:before {
    border-left: 2px solid #0084f6;
    border-bottom: 2px solid #0084f6;
    width: 12px;
    height: 5px;
    left: 2px;
    top: 5px;
}
.field-checkbox-wrapper .form-checkbox:checked+label {
    color: #0084f6;
}


// PAGINATION STYLE
.filter-res.pagination {
    width: 100%;
    // margin-top: 15px;
}
.pagination {
    margin: 0px;
    .first {
        &:before {
            content: "« ";
            font-size: 16px;
            font-weight: 800;
        }
    }
    .last {
        &:after {
            content: " »";
            font-size: 16px;
            font-weight: 800;
        }
    }
    .batch-size {
        font-size: 16px;
        font-weight: 800;
    }
    li {
        border-right: 1px solid #ccc;
        padding: 0px 7px;
        margin: 0;
        line-height: 10px;
        font-weight: 800;
        cursor: pointer;
        a {
            line-height: 10px;
            font-size: 16px;
            font-weight: 800;
            border: none;
            padding: 0px 14px;
        }
        :hover {
            background-color: transparent !important;
        }
    }
}

.pagination li:last-child {
    border-right: 0;
    padding-right: 0;
}

// Animation Style Section
@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

// ---------------------------------------------------

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(5%, 0, 0);
    transform: translate3d(5%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(5%, 0, 0);
    transform: translate3d(5%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}



// Cancel pop Style

.cancel-reason-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
  .cancel-input{
    width: 50%;
    height: 100px;
    border: 1px solid #ccc;
  }
}
.cancelExamWrapper {
    .details {
        margin: 10px -15px;
    }
    .content-wraper {
        .button-Section {
            margin: 10px 0px 10px -15px;
        }
        .cancel-table {
            max-height: 150px;
            overflow-x: hidden;
            overflow-y: scroll;
        }
    }
}

.table-responsive {
    max-width: 100%;
    overflow: auto;
}
table {
    width: 100%;
    box-sizing: border-box;
    border-collapse: collapse;
}
th,
td {
    font-size: 12px;
    padding: 6px 2px;
    vertical-align: middle;
}
th {
    background: #004a7e;
    font-size: 11px;
    color: #fff;
    font-weight: normal;
}
td {
    border-bottom: 1px solid #fff;
}
table tr {
    transition: all 0.1s;
}
table tr:nth-child(even) {
    background: #efefef;
}
table tr:nth-child(odd) {
    background: #f7f7f7;
}
table tr:nth-child(even):hover {
    background: #ececec;
}
table tr:nth-child(odd):hover {
    background: #eaeaea;
}
table tr.selected {
    background: #dceff7 !important;
}
.table-responsive tr td:first-child .field-checkbox-wrapper,
.table-responsive tr th:first-child .field-checkbox-wrapper {
    width: 20px;
    overflow: hidden;
    box-sizing: border-box;
    height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    margin-left: 5px;
    background: #fff;
    border-radius: 2px;
}




// Edit Exam
.edit-input-container{
  margin-bottom: 5px;
  position: relative;
  label{
    font-size: 14px;
    margin-bottom: 2px;
  }
  .form-ctrl{
    width: 50%;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    padding: 5px;
  }
  .topic-linked{
    border: 1px solid #1283f4;
    cursor: pointer;
  }
  .no-topic-linked{
    border: 1px solid #d4d4d4;
    cursor: pointer;
  }
  .topic-linked-fa{
    color: #1283f4;
    cursor: pointer;
  }
  .no-topic-linked-fa{
    color: #d4d4d4;
    cursor: pointer;
  }
}

#editClass {
  .modal-body {
    padding-top: 0px;
  }
}

.subject-container{
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  .edit-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    .edit-input-container{
      width: 49%;
      .form-ctrl{
        width: 70%;
      }
      label{
        font-size: 12px;
      }
    }
  }
}
.subject-container:nth-last-child(){
  padding-bottom: 0px;
}

// Topic
.topic-container{
    margin-right: 0!important;
    margin-left: 0!important;
    display: flex;
    flex-direction: row;
    margin: 2px;
}
.arrow-icon{
    padding: 0 5px;
}
.level1Topic{
    padding-top: 4px;
    padding-bottom: 2px;
}
.subTopicLevel{
    padding-top: 8px;
}
.pt-4{
    padding-top:4px!important
}
.topic-lbl{
    font-size: 12px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.77);
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
}
