<div class="clear-fix" style="padding-right: 2%;">

  <section class="middle-top clearFix bulk-header">

    <div>
      <h1 class="pull-left">
        <a style="padding:0px; ">
          Exam
        </a>
        <!-- <a routerLink="/view/batch" *ngIf="jsonFlag.isProfessional" style="padding:0px; ">
          Batch
        </a> -->
        <i style="font-family: 'FontAwesome';" class="fas fa-angle-right"></i>
        <span>Schedule</span>
      </h1>
    </div>

  </section>

  <!-- <section style="margin-top: -25px;">
    <div class="header-section">
      <div class="header-item non-active" id="class" routerLink="/view/course/coursePlanner/class">
        <div class="img-container">
          <img src="./assets/images/course_planner/class.svg" alt="class" *ngIf="!activeModule">
        </div>
        <div class="model-name-container">
          <span>Class</span>
        </div>
      </div>
      <div class="header-item active" id="exam" routerLink="/view/course/coursePlanner/exam">
        <div class="img-container">
          <img src="./assets/images/course_planner/exam_white.svg" alt="exam">
        </div>
        <div class="model-name-container">
          <span>Exam</span>
        </div>
      </div>
    </div>
  </section> -->

  <section>
    <section class="filter-head">
      <div class="filter-header-container">
        <div class="filter-item-1">
          <!-- FOR COURSE MODEL -->
          <div class="header-item" *ngIf="!jsonFlag.isProfessional">
            <span>{{schoolModel ? 'Standard' : 'Master Course'}}<span class="danger">*</span></span>
            <select class="header-select-box" name="" [(ngModel)]="inputElements.masterCourse" (ngModelChange)="updateCoursesList()">
              <!-- changes by Nalini - to handle school model conditions -->
              <option value="-1">Select {{schoolModel ? 'Standard' : 'Master Course'}}</option>
              <option [value]="masterCourse.master_course" *ngFor="let masterCourse of masterCourseList">{{masterCourse.master_course}}</option>
            </select>
          </div>
          <div class="header-item" *ngIf="!jsonFlag.isProfessional" style="width: 19%;">
            <span>{{schoolModel ? 'Section' : 'Course'}}</span>
            <!-- changes by Nalini - to handle school model conditions -->
            <select class="header-select-box" name="" [(ngModel)]="inputElements.course" (ngModelChange)="updateSubjectsList()">
              <option value="-1">Select {{schoolModel ? 'Section' : 'Course'}}</option>
              <option [value]="course.course_id" *ngFor="let course of courseList">{{course.course_name}}</option>
            </select>
            <span *ngIf="inputElements.course != '-1' && !jsonFlag.isProfessional" style="font-size: 10px;">Duration:
              {{courseStartDate}} {{courseEndDate}}</span>
          </div>
          <div class="header-item" *ngIf="!jsonFlag.isProfessional">
            <span>Subject</span>
            <select class="header-select-box" name="" [(ngModel)]="inputElements.subject"
              (ngModelChange)="updateSubject()">
              <option value="-1">Select Subject</option>
              <option [value]="subject.batch_id" *ngFor="let subject of subjectList">{{subject.subject_name}}</option>
            </select>
          </div>

          <!-- FOR BATCH MODEL -->
          <div class="header-item" *ngIf="jsonFlag.isProfessional">
            <span>Master Course <span class="danger">*</span></span>
            <select class="header-select-box" name="" [(ngModel)]="inputElements.standard_id"
              (ngModelChange)="updateCoursesList()">
              <option value="-1">Select Master Course</option>
              <option [value]="standard.standard_id" *ngFor="let standard of masterCourseList">
                {{standard.standard_name}}</option>
            </select>
          </div>
          <div class="header-item" *ngIf="jsonFlag.isProfessional">
            <span>Course</span>
            <select class="header-select-box" name="" [(ngModel)]="inputElements.subject_id"
              (ngModelChange)="updateSubjectsList()">
              <option value="-1">Select Course</option>
              <option [value]="subject.subject_id" *ngFor="let subject of courseList">{{subject.subject_name}}</option>
            </select>
          </div>
          <div class="header-item" *ngIf="jsonFlag.isProfessional">
            <span>Batch</span>
            <select class="header-select-box" name="" [(ngModel)]="inputElements.batch_id"
              (ngModelChange)="updateSubject()">
              <option value="-1">Select Batch</option>
              <option [value]="batch.batch_id" *ngFor="let batch of batchList">{{batch.batch_name}}</option>
            </select>
            <span *ngIf="inputElements.batch_id != '-1' && jsonFlag.isProfessional" style="font-size: 10px;">Duration:
              {{courseStartDate | date: 'dd-MMM-yyyy'}} - {{courseEndDate | date: 'dd-MMM-yyyy'}}</span>
          </div>

          <div class="header-item" style="width: 25%;">
            <span>Filter</span>
            <div class="input-container">
              <i class="fa fa-filter" aria-hidden="true"></i>
              <input type="text" name="" value="" class="filer-input" placeholder="Choose filter from dropdown">
              <i class="fa fa-caret-down" aria-hidden="true" (click)="toggleFilter()" *ngIf="!filterShow"></i>
              <i class="fa fa-caret-up" aria-hidden="true" (click)="toggleFilter()" *ngIf="filterShow"></i>
            </div>
            <span style="font-size: 10px;">From: {{coursePlannerFilters.from_date | date: 'dd-MMM-yyyy'}} &nbsp; To:
              {{coursePlannerFilters.to_date | date: 'dd-MMM-yyyy'}}</span>
            <div class="filter-container" *ngIf="filterShow">

              <div class="date-container">
                <div class="date-title">
                  <span>Date</span>
                </div>
                <div class="date-values-container">
                  <div class="field-checkbox-wrapper date-value-item">
                    <input type="checkbox" id="thisWeek" name="thisWeek" [(ngModel)]="filterDateInputs.thisWeek"
                      class="form-checkbox" (change)="updateDateFilter('thisWeek', $event)">
                    <label for="thisWeek">This Week</label>
                  </div>
                  <div class="field-checkbox-wrapper date-value-item">
                    <input type="checkbox" id="lastWeek" name="lastWeek" [(ngModel)]="filterDateInputs.lastWeek"
                      class="form-checkbox" (change)="updateDateFilter('lastWeek', $event)">
                    <label for="lastWeek">Last Week</label>
                  </div>
                  <div class="field-checkbox-wrapper date-value-item">
                    <input type="checkbox" id="thisMonth" name="thisMonth" [(ngModel)]="filterDateInputs.thisMonth"
                      class="form-checkbox" (change)="updateDateFilter('thisMonth', $event)">
                    <label for="thisMonth">This Month</label>
                  </div>
                  <div class="field-checkbox-wrapper date-value-item">
                    <input type="checkbox" id="custom" name="custom" [(ngModel)]="filterDateInputs.custom"
                      class="form-checkbox" (change)="updateDateFilter('custom', $event)">
                    <label for="custom">Custom</label>
                    <input style="margin-left:10%;visibility:hidden;" type="text" value="" id="customeDate"
                      class="widgetDatepicker bsDatepicker" name="schedWidDate" [(ngModel)]="filterDateRange"
                      (ngModelChange)="updateFilterDateRange($event)" readonly="true" bsDaterangepicker />
                  </div>
                </div>
              </div>

              <div class="status-container">
                <div class="status-title">
                  <span>Status</span>
                </div>
                <div class="status-values-container">
                  <div class="field-checkbox-wrapper status-value-item">
                    <input type="checkbox" id="upcoming" name="" [(ngModel)]="filterStatusInputs.upcoming"
                      class="form-checkbox" (change)="updateStatusFilter($event, 'upcoming')">
                    <label for="upcoming" style="color: #ff6c24;">Upcoming</label>
                  </div>
                  <div class="field-checkbox-wrapper status-value-item">
                    <input type="checkbox" id="attendancePending" name=""
                      [(ngModel)]="filterStatusInputs.attendancePending" class="form-checkbox"
                      (change)="updateStatusFilter($event, 'pending')">
                    <label for="attendancePending" style="color: #8d8d8d;">Attendance Pending</label>
                  </div>
                  <div class="field-checkbox-wrapper status-value-item">
                    <input type="checkbox" id="completed" name="" [(ngModel)]="filterStatusInputs.marksUpdated"
                      class="form-checkbox" (change)="updateStatusFilter($event, 'marksUpdated')">
                    <label for="completed" style="color: #00b55a;">Marks Updated</label>
                  </div>
                  <div class="field-checkbox-wrapper status-value-item">
                    <input type="checkbox" id="marksPending" name="" [(ngModel)]="filterStatusInputs.marksPending"
                      class="form-checkbox" (change)="updateStatusFilter($event, 'marksPending')">
                    <label for="marksPending" style="color: #8771FF;">Marks Pending</label>
                  </div>
                  <div class="field-checkbox-wrapper status-value-item">
                    <input type="checkbox" id="cancelled" name="" [(ngModel)]="filterStatusInputs.cancelled"
                      class="form-checkbox" (change)="updateStatusFilter($event, 'cancelled')">
                    <label for="cancelled" style="color: #df0d2f;">Cancelled</label>
                  </div>
                </div>
              </div>

              <!-- <div class="faculty-container">
                <div class="faculty-title">
                  <span>Faculty</span>
                </div>
                <div class="faculty-dropdown-container">
                  <select class="faculty-select-box" name="" [(ngModel)]="inputElements.faculty" (ngModelChange)="updateFacultyInFilter()">
                    <option value="-1">Select Faculty</option>
                    <option [value]="faculty.teacher_id" *ngFor="let faculty of facultyList">{{faculty.teacher_name}}</option>
                  </select>
                </div>
              </div> -->

            </div>
          </div>
          <div class="go-btn-container">
            <button type="button" name="button" class="fullBlue gobtn" (click)="getData()">GO</button>
          </div>
        </div>
        <div class="filter-item-2">
          <button type="button" name="button" class="add-class-btn" (click)="redirect()">
            <i class="fa fa-plus" aria-hidden="true"></i>
            &nbsp;
            Add Exam
          </button>
        </div>
      </div>
    </section>

    <section class="table-holder" *ngIf="coursePlannerData?.length > 0" (click)="closeAll()">
      <div class="table-container">
        <div class="table-header-container">
          <div class="table-heading-item small" style="padding-left: 15px;">
            <span>Date</span>
          </div>
          <div class="table-heading-item small">
            <span>Time</span>
          </div>
          <div class="table-heading-item medium">
            <span>{{schoolModel ? 'Section' : 'Course'}}</span>
          </div>
          <div class="table-heading-item medium" *ngIf="showHideColumns.subject">
            <span *ngIf="!jsonFlag.isProfessional">Subject(s)</span>
            <span *ngIf="jsonFlag.isProfessional">Batch</span>
          </div>
          <div class="table-heading-item medium" *ngIf="showHideColumns.topic">
            <span>{{schoolModel ? 'Exam Type' : 'Topic(s)'}}</span>
          </div>
          <div class="table-heading-item medium" *ngIf="showHideColumns.description">
            <span>Description</span>
          </div>
          <div class="table-heading-item small">
            <span>Total Marks</span>
          </div>
          <!-- <div class="table-heading-item small">
            <span>Passing Marks</span>
          </div> -->
          <div class="table-heading-item small">
            <span>Room No.</span>
          </div>
          <div class="table-heading-item small align-center">
            <span>Status</span>
          </div>
          <div class="table-heading-item medium align-center action">
            <span>Action</span>
            <i class="fa fa-cog" aria-hidden="true" (click)="showHideCol()" *ngIf="jsonFlag.setting"></i>
            <div class="show-hide-container" *ngIf="jsonFlag.showHideColumn">
              <div class="show-hide-header">
                <span>Choose Show/Hide Column</span>
                <i class="fa fa-times" aria-hidden="true" (click)="hideShowHideMenu()"></i>
              </div>
              <div class="show-hide-value-container">
                <div class="field-checkbox-wrapper show-hide-item">
                  <input type="checkbox" id="subject" name="" [(ngModel)]="showHideColumns.subject"
                    class="form-checkbox" (change)="hideCol($event)"
                    [disabled]="!showHideColumns.subject && checkedColCounter == 1">
                  <label for="subject" *ngIf="!jsonFlag.isProfessional">Subject</label>
                  <label for="subject" *ngIf="jsonFlag.isProfessional">Batch</label>
                </div>
                <div class="field-checkbox-wrapper show-hide-item">
                  <input type="checkbox" id="topic" name="" [(ngModel)]="showHideColumns.topic" class="form-checkbox"
                    (change)="hideCol($event)" [disabled]="!showHideColumns.topic && checkedColCounter == 1">
                  <label for="topic">Topic</label>
                </div>
              </div>

              <div class="show-hide-value-container">
                <div class="show-hide-item" style="margin-bottom: 10px;">
                  <span style="font-weight: 600;color:#585574;">NOTE : </span>
                  <span style="font-weight: 400;color:#585574;">To selct the below option(s) please unselect above
                    option(s)</span>
                </div>
                <div class="field-checkbox-wrapper show-hide-item">
                  <input type="checkbox" id="description" name="" [(ngModel)]="showHideColumns.description"
                    class="form-checkbox" (change)="hideCol($event)"
                    [disabled]="!showHideColumns.description && checkedColCounter == 1">
                  <label for="description">Description</label>
                </div>
                <!-- <div class="field-checkbox-wrapper show-hide-item">
                  <input type="checkbox" id="homework" name="" [(ngModel)]="showHideColumns.roomNo"
                      class="form-checkbox" (change)="hideCol($event)" [disabled]="!showHideColumns.roomNo && checkedColCounter == 2">
                  <label for="homework">Room No.</label>
                </div> -->
              </div>

              <div class="bg-container">
                <img src="./assets/images/course_planner/setting-illustration.svg" alt="">
              </div>

            </div>
          </div>
        </div>
        <div class="table-value-outer-container">
          <div class="table-value-container" [ngClass]="{'border-cancelled-class': course.status == 'Cancelled' || course.status == 'Cancel(Class)',
                        'border-completed-class': course.status == 'Mks. Updated',
                        'border-marksPending-class': course.status == 'Mks. pending',
                        'border-pending-class': course.status == 'Att. Pending',
                        'border-upcoming-class': course.status == 'Upcoming'}"
            *ngFor="let course of coursePlannerData; let i = index;">
            <div class="table-value-item small flex-item" style="padding-left: 15px;">
              <span>{{course.date | date: 'dd-MMM-yyyy' }}</span>
              <!-- <span>&nbsp;</span> -->
              <span>({{course.date | date :'EEEE'}})</span>
            </div>
            <div class="table-value-item small flex-item">
              <span>{{course.start_time}}</span>
              <!-- <span>&nbsp;- &nbsp;</span>   -->
              <span>{{course.end_time}}</span>
            </div>
            <div class="table-value-item medium">
              <span
                title="{{course.course_name}}">{{ (course.course_name.length > 50) ? (course.course_name | slice:0:50) + '...' : course.course_name }}</span>
            </div>
            <div class="table-value-item medium" *ngIf="showHideColumns.subject">
              <span *ngIf="!jsonFlag.isProfessional"
                title="{{course.subject_name}}">{{ (course.subject_name.length > 50) ? (course.subject_name | slice:0:50) + '...' : course.subject_name }}</span>
              <span *ngIf="jsonFlag.isProfessional"
                title="{{course.batch_name}}">{{ (course.batch_name.length > 50) ? (course.batch_name | slice:0:50) + '...' : course.batch_name }}</span>
            </div>
            <div class="table-value-item medium" *ngIf="schoolModel">
              <span title="{{course.exam_type}}"
                >{{ (course.exam_type.length > 30) ? (course.exam_type | slice:0:30) + '...' : course.exam_type }}</span>
            </div>

            <div class="table-value-item medium" *ngIf="!schoolModel && showHideColumns.topic">
              <span *ngIf="course?.topics_covered.length == 0">-</span>
              <span title="{{course.topics_covered}}"
                *ngIf="course?.topics_covered.length != 0">{{ (course.topics_covered.length > 50) ? (course.topics_covered | slice:0:50) + '...' : course.topics_covered }}</span>
            </div>
            <div class="table-value-item medium" *ngIf="showHideColumns.description">
              <span *ngIf="course?.description.length == 0">-</span>
              <span title="{{course.description}}"
                *ngIf="course?.description.length != 0">{{ (course.description.length > 50) ? (course.description | slice:0:50) + '...' : course.description }}</span>
            </div>
            <div class="table-value-item small">
              <span>{{course.total_marks}}</span>
            </div>
            <!-- <div class="table-value-item small">
              <span>-</span>
            </div> -->
            <div class="table-value-item small">
              <span *ngIf="course?.room_no.length == 0">-</span>
              <span *ngIf="course?.room_no.length != 0">{{course.room_no}}</span>
            </div>
            <div class="table-value-item small align-center">
              <button type="button" name="button" class="upcoming-btn"
                *ngIf="course.status == 'Upcoming'">Upcoming</button>
              <button type="button" name="button" class="pending-btn" *ngIf="course.status == 'Att. Pending'">Att.
                Pending</button>
              <button type="button" name="button" class="cancelled-btn"
                *ngIf="course.status == 'Cancelled' || course.status == 'Cancel(Class)'">Cancelled</button>
              <button type="button" name="button" class="completed-btn" *ngIf="course.status == 'Mks. Updated'">Mks.
                Updated</button>
              <button type="button" name="button" class="marksPending-btn" *ngIf="course.status == 'Mks. pending'">Mks.
                Pending</button>
            </div>
            <div class="table-value-item medium align-center action ">
              <div class="action-container" *ngIf="course.status == 'Upcoming'">
                <!--  upcoming exam action -->
                <i class="fa fa-bell" aria-hidden="true" style="color: #1283f4" title="Notify"
                  *ngIf="!jsonFlag.isProfessional" (click)="sendReminderForCourse(course)"></i>
                <i class="fa fa-bell" aria-hidden="true" style="color: #1283f4" title="Notify"
                  *ngIf="jsonFlag.isProfessional" (click)="notifyExamSchedule(course)"></i>
                <i class="fa fa-pencil" aria-hidden="true" style="color: #1283f4;" title="Edit"
                  (click)="editCourseExam(course)"></i>
                <i class="fa fa-times-circle" aria-hidden="true" style="color: red;" title="Cancel" data-toggle="modal"
                  data-target="#cancelModal" *ngIf="!jsonFlag.isProfessional"
                  (click)="onCancelExamClickCourse(course)"></i>
                <i class="fa fa-times-circle" aria-hidden="true" style="color: red;" title="Cancel" data-toggle="modal"
                  data-target="#cancelBatchModal" *ngIf="jsonFlag.isProfessional"
                  (click)="onCancelExamClick(course)"></i>
              </div>
              <div class="action-container" *ngIf="course.status == 'Att. Pending'">
                <!--  pending exam action -->
                <img src="./assets/images/att.svg" alt="Mark Attendance" title="Mark Attendance"
                  (click)="markAttendanceExamCourse(course)">
                <i class="fa fa-bell" aria-hidden="true" style="color: #1283f4" title="Notify"
                  *ngIf="!jsonFlag.isProfessional" (click)="sendReminderForCourse(course)"></i>
                <i class="fa fa-bell" aria-hidden="true" style="color: #1283f4" title="Notify"
                  *ngIf="jsonFlag.isProfessional" (click)="notifyExamSchedule(course)"></i>
                <i class="fa fa-pencil" aria-hidden="true" style="color: #1283f4;" title="Edit"
                  (click)="editCourseExam(course)"></i>
                <i class="fa fa-times-circle" aria-hidden="true" style="color: red;" title="Cancel" data-toggle="modal"
                  data-target="#cancelModal" *ngIf="!jsonFlag.isProfessional"
                  (click)="onCancelExamClickCourse(course)"></i>
                <i class="fa fa-times-circle" aria-hidden="true" style="color: red;" title="Cancel" data-toggle="modal"
                  data-target="#cancelBatchModal" *ngIf="jsonFlag.isProfessional"
                  (click)="onCancelExamClick(course)"></i>
              </div>
              <div class="action-container" *ngIf="course.status == 'Cancelled' || course.status == 'Cancel(Class)'">
                <!--  cancelled exam action -->
                <i class="fa fa-bell" aria-hidden="true" style="color: #1283f4" title="Notify"
                  (click)="notifyCancelClass(course)"></i>
              </div>
              <div class="action-container" *ngIf="course.status == 'Mks. Updated'">
                <!--  marks updated exam action -->
                <img src="./assets/images/checked-att.svg" alt="Update Attendance" title="Update Attendance"
                  (click)="markAttendanceExamCourse(course)">
                <img src="./assets/images/exam-update.svg" alt="Update Exam Marks" title="Exam Marks"
                  style="cursor:pointer" *ngIf="!jsonFlag.isProfessional" (click)="examMarksUpdateCourse(course)">
                <img src="./assets/images/exam-update.svg" alt="Update Exam Marks" title="Exam Marks"
                  style="cursor:pointer" *ngIf="jsonFlag.isProfessional" (click)="examMarksUpdate(course)">
                <!-- <i class="fa fa-bell" aria-hidden="true" style="color: #1283f4" title="Notify" *ngIf="!jsonFlag.isProfessional" (click)="sendReminderForCourse(course)"></i>
                <i class="fa fa-bell" aria-hidden="true" style="color: #1283f4" title="Notify" *ngIf="jsonFlag.isProfessional" (click)="notifyExamSchedule(course)"></i> -->
                <!-- Edit option removed bcoz we dont have notification send option after exam attendance update  --- Swapnil -->
                <!-- <i class="fa fa-pencil" aria-hidden="true" style="color: #1283f4;" title="Edit" (click)="editCourseExam(course)"></i> -->
              </div>
              <div class="action-container" *ngIf="course.status == 'Mks. pending'">
                <!--  marks pending exam action -->
                <img src="./assets/images/checked-att.svg" alt="Update Attendance" title="Update Attendance"
                  (click)="markAttendanceExamCourse(course)">
                <img src="./assets/images/exam-non.svg" alt="Exam Marks" title="Exam Marks" style="cursor:pointer"
                  *ngIf="!jsonFlag.isProfessional" (click)="examMarksUpdateCourse(course)">
                <img src="./assets/images/exam-non.svg" alt="Exam Marks" title="Exam Marks" style="cursor:pointer"
                  *ngIf="jsonFlag.isProfessional" (click)="examMarksUpdate(course)">
                <!-- <i class="fa fa-bell" aria-hidden="true" style="color: #1283f4" title="Notify" *ngIf="!jsonFlag.isProfessional" (click)="sendReminderForCourse(course)"></i>
                <i class="fa fa-bell" aria-hidden="true" style="color: #1283f4" title="Notify" *ngIf="jsonFlag.isProfessional" (click)="notifyExamSchedule(course)"></i> -->
                <!-- Edit option removed bcoz we dont have notification send option after exam attendance update  --- Swapnil -->
                <!-- <i class="fa fa-pencil" aria-hidden="true" style="color: #1283f4;" title="Edit" (click)="editCourseExam(course)"></i> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </section>

  <div class="row filter-res pagination" #pager id="pager" style="width: 100%;">
    <div class="c-lg-12 c-md-12 c-sm-12 align-right">
      <pagination (goPage)="fectchTableDataByPage($event)" (goNext)="fetchNext()" (goPrev)="fetchPrevious()"
        [pagesToShow]="10" [page]="pageIndex" [perPage]="displayBatchSize" [sizeArr]="sizeArr"
        (sizeChange)="updateTableBatchSize($event)" [count]="totalCount">
      </pagination>
    </div>
  </div>


  <!-- Illustration container -->
  <section *ngIf="coursePlannerData?.length == 0" (click)="closeAll()">
    <div class="illustration-container">
      <img src="./assets/images/course_planner/blank-illustration.svg" alt="illustration" class="illustration-img">
    </div>
  </section>


  <!-- ALL POPUP SECTION -->
  <!-- Edit Exam for course model-->
  <div id="editExamForCourse" class="modal fade" role="dialog">
    <div class="modal-dialog" style="margin-top: 10%;">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Exam</h4>
        </div>
        <div class="modal-body">
          <div class="subject-container" *ngFor="let exam of examList">
            <span>{{exam.subject_name}}</span>
            <div class="edit-container">
              <div class="edit-input-container field-wrapper">
                <label for="">Description</label>
                <input type="text" class="form-ctrl" name="" value="" placeholder="Enter Description"
                  [(ngModel)]="exam.exam_description">
              </div>
              <div class="edit-input-container field-wrapper" *ngIf="!schoolModel">
                <label for="">Topic</label>
                <input type="text" class="form-ctrl topic-input" name="" value="" readonly [(ngModel)]="exam.topic_name"
                  (click)="fetchTopicForSubject(exam)" placeholder="Link"
                  [ngClass]="(exam.topic_name != '')? 'topic-linked' : 'no-topic-linked'">
                <i class="fa fa-link" aria-hidden="true" (click)="fetchTopicForSubject(exam)"
                  style="cursor: pointer;font-size: 15px;position: absolute; top: 35px; right: 32%; background: white;"
                  [ngClass]="(exam.topic_name != '')? 'topic-linked-fa' : 'no-topic-linked-fa'"></i>
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="updateExam()">Save</button>
        </div>
      </div>

    </div>
  </div>

  <!-- Edit Exam for batch model-->
  <div id="editExam" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Exam</h4>
        </div>
        <div class="modal-body">
          <div class="edit-input-container field-wrapper">
            <label for="">Description</label>
            <input type="text" class="form-ctrl" name="" value="" placeholder="Enter Description"
              [(ngModel)]="editClass.description">
          </div>
          <div class="edit-input-container field-wrapper">
            <label for="">Topic</label>
            <input type="text" class="form-ctrl topic-input" name="" value="" readonly
              [(ngModel)]="editClass.topic_covered_names" (click)="fetchTopics()">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="updateExam()">Save</button>
        </div>
      </div>

    </div>
  </div>

  <!-- Topic Listing -->
  <div id="topicModel" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="showEditOption()">&times;</button>
          <h4 class="modal-title">Link Topic</h4>
        </div>
        <div class="modal-body">
          <ng-container *ngTemplateOutlet="topicsRecursiveList; context:{$implicit: topicsList, level: 1 }">
          </ng-container>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="showEditOption()">Cancel</button>
          <button class="btn fullBlue" (click)="saveTopics()">Save</button>
        </div>
      </div>

    </div>
  </div>


  <ng-template #topicsRecursiveList let-topicsList let-level="level">
    <div style="margin:2px !important" *ngFor="let topic of topicsList">
      <div class="topic-container" [ngClass]="level == 1 ? 'level1Topic': 'subTopicLevel'">
        <div class="arrow-icon" [style.visibility]="topic.subTopic.length ? 'visible':'hidden'"
          (click)="toggleArrow(topic)">
          <i [ngClass]="topic.isExpand ? 'fa fa-caret-down': 'fa fa-caret-right'"
            style="font-size: 15px!important;"></i>
        </div>
        <div class="field-checkbox-wrapper" style="margin-bottom: 5px !important;padding-left:0px !important">
          <input type="checkbox" [(ngModel)]="topic.checked" class="form-checkbox" value="{{topic.checked}}"
            (click)="selectTopics(topic,$event)" id="topic-{{topic.topicId}}" />

          <label for="topic-{{topic.topicId}}" style="margin-left:25px !important">{{topic.topicName}}</label>

          <div *ngIf="topic.isExpand">
            <ng-container
              *ngTemplateOutlet="topicsRecursiveList; context:{ $implicit: topic.subTopic, level: level + 1  }">
            </ng-container>
          </div>
        </div>

      </div>
    </div>
  </ng-template>

  <!-- CANCEL EXAM POP UP Course Model -->
  <div id="cancelModal" class="modal" role="dialog" *ngIf="courseCommonExamCancelPopUP">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Cancel Exam Schedule</h4>
        </div>
        <div class="modal-body">

          <div class="details row">
            <div class="c-sm-6 c-md-6 c-lg-6">
              <h5>{{schoolModel ? 'Standard' : 'Master Course'}} : {{courseTempData.master_course_name}} </h5>
            </div>
            <div class="c-sm-6 c-md-6 c-lg-6" style="text-align: right;">
              <h5>Exam Schedule Date : {{courseTempData.date | date: 'dd-MMM-yyyy'}} </h5>
            </div>
          </div>

          <div class="content-wraper">
            <div class="row button-Section" style="margin-bottom: 10px;margin-top: 10px;">
              <div class="c-sm-6 c-md-6 c-lg-6">
                <h4>{{schoolModel ? 'Section' : 'Course'}} : {{courseTempData.course_name}}</h4>
              </div>
              <!-- <div class="c-sm-6 c-md-6 c-lg-6">
                <div class="pull-right" *ngIf="showReasonSection == ''">
                  <button class="btn fullBlue" (click)="cancelExamCourseWise()">Cancel</button>
                </div>
              </div> -->
            </div>
          </div>

          <div class="cancel-reason-container">
            <label for="cancelTxtBx">Cancellation Reason<span class="text-danger">*</span></label>
            <textarea class="cancel-input" [(ngModel)]="cancelPopUpData.reason" id="cancelTxtBx"
              name="cancelTxtBx"></textarea>
          </div>
        </div>

        <div class="modal-footer">

          <div class="cancel-section">
            <div class="cancel-Class-Wrapper">
              <div class="clearfix" style="padding-top: 10px;">
                <aside class="pull-left" style="display: flex; flex-direction: row;">
                  <div class="field-checkbox-wrapper" style="margin-top: 10px;">
                    <input type="checkbox" value="" id="chkBxNotifyStudent" name="chkBxNotifyStudent"
                      class="form-checkbox" [(ngModel)]="cancelPopUpData.notify">
                    <label for="chkBxNotifyStudent">Notify Students</label>
                  </div>
                </aside>
                <aside class="pull-right popup-btn">
                  <input type="button" value="Close" class="btn" data-dismiss="modal" (click)="closePopUpCommon()">
                  <input type="button" value="Cancel Exam" data-dismiss="modal" (click)="cancelExamCall()"
                    class="fullBlue btn" [disabled]=jsonFlag.isRippleLoad>
                </aside>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>


  <!-- MODAL -->
  <!-- CANCEL EXAM FOR BATCH MODEL -->
  <div id="cancelBatchModal" class="modal" role="dialog" *ngIf="cancelExamPopUP">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Course Exam Schedule Cancellation</h4>
        </div>
        <div class="modal-body">
          <div class="cancel-Class-Wrapper">
            <div class="row attendance-Note" style="margin-left:0px; margin-right: 0px;">
              <div class="cancel-reason-container">
                <label for="cancelTxtBx">Cancellation Reason<span class="text-danger">*</span></label>
                <textarea class="cancel-input" [(ngModel)]="cancelPopUpData.reason" id="cancelTxtBx"
                  name="cancelTxtBx"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="clearfix" style="margin-top: 10px">
            <aside class="pull-left" style="margin-top: 10px">
              <div class="field-checkbox-wrapper">
                <input type="checkbox" value="" id="chkBxNotifyStudent" name="chkBxNotifyStudent" class="form-checkbox"
                  [(ngModel)]="cancelPopUpData.notify">
                <label for="chkBxNotifyStudent">Notify Students</label>
              </div>
            </aside>
            <aside class="pull-right popup-btn">
              <input type="button" value="Close" class="btn" data-dismiss="modal" (click)="closeExamPopup()">
              <input type="button" value="Cancel Class" data-dismiss="modal" (click)="cancelExamClassSchedule()"
                class="fullBlue btn" [disabled]="jsonFlag.isRippleLoad">
            </aside>
          </div>
        </div>
      </div>

    </div>
  </div>


</div>