<div class="clearfix" style="padding: 2%;">
  <div class="row">
    <h2 class="pull-left" style="margin-left:15px">Add Teacher</h2>
  </div>
  <aside class="c-lg-6 c-md-6 c-sm-6">
    <div class="pull-left">
      <form [formGroup]="addTeacherForm" novalidate (ngSubmit)="addNewTeacherInfo()">
        <div class="row field-wrapper">
          <label for="name">Teacher Name
            <span class="text-danger">*</span>
          </label>
          <input type="text" class="form-ctrl" formControlName="teacher_name" name="name">
          <div
            *ngIf="addTeacherForm.controls['teacher_name'].invalid && (addTeacherForm.controls['teacher_name'].dirty || addTeacherForm.controls['teacher_name'].touched)"
            class="alert alert-danger">
            <div *ngIf="addTeacherForm.controls['teacher_name'].hasError('required')">
              Teacher Name is required.
            </div>
          </div>
        </div>
        <div class="row field-wrapper">
          <label for="contNumber">Contact Number
            <span class="text-danger">*</span>
          </label>
          <input type="text" maxlength="10" class="form-ctrl" formControlName="teacher_phone" name="contNumber">

          <div
            *ngIf="addTeacherForm.controls['teacher_phone'].invalid && (addTeacherForm.controls['teacher_phone'].dirty || addTeacherForm.controls['teacher_phone'].touched)"
            class="alert alert-danger">
            <div *ngIf="addTeacherForm.controls['teacher_phone'].hasError('required')">
              Contact Number is required.
            </div>
            <div *ngIf="addTeacherForm.controls['teacher_phone'].hasError('minlength')">
              Contact Number is not valid.
            </div>
            <div *ngIf="addTeacherForm.controls['teacher_phone'].hasError('maxlength')">
              Contact Number is not valid.
            </div>
          </div>
        </div>
        <div class="row field-wrapper">
          <label for="emailID">Email Id
          </label>
          <input type="email" class="form-ctrl" name="emailID" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z]+\.[a-zA-Z.]{2,5}$"
            formControlName="teacher_email">
        </div>
        <div class="row field-wrapper">
          <label for="CurrentAddress">Current Address
          </label>
          <input type="text" class="form-ctrl" formControlName="teacher_curr_addr" name="CurrentAddress">
        </div>
        <div class="row field-wrapper">
          <label for="alternateNo">Alternate Contact Number
          </label>
          <input type="text" maxlength="10" class="form-ctrl" name="alternateNo" formControlName="teacher_alt_phone">
        </div>
        <div class="row field-wrapper">
          <label for="standard">Standard
          </label>
          <input type="text" class="form-ctrl" name="standard" formControlName="teacher_standards">
        </div>
        <div class="row field-wrapper">
          <label for="subject">Subjects
          </label>
          <input type="text" class="form-ctrl" name="subject" formControlName="teacher_subjects">

        </div>
        <div class="row field-wrapper">
          <label for="salary">Salary (Per Hour)
          </label>
          <input type="text" class="form-ctrl" name="salary" formControlName="hour_rate">

        </div>
        <div class="row field-wrapper" *ngIf="enableBiometric == '1'">
          <label for="biometric">Attendance Card ID
          </label>
          <input type="text" class="form-ctrl" name="biometric" formControlName="attendance_device_id">

        </div>
        <div class="extra-margin" style="margin-top: 15px;">

          <div class="field-checkbox-wrapper" style="margin-left: -40px;">
            <div class="field-checkbox-wrapper">
              <input type="checkbox" value="" name="isActive" formControlName="is_active" class="form-checkbox">
              <label for="isActive">Is Active</label>
            </div>
          </div>

          <!-- <div class="field-checkbox-wrapper" style="margin-left: -40px;">
            <div class="field-checkbox-wrapper">
              <input type="checkbox" value="" name="allow" formControlName="is_allow_teacher_to_only_mark_attendance" class="form-checkbox">
              <label for="allow">Allow faculty to only mark attendance</label>
            </div>
          </div> -->


          <!-- <div class="field-checkbox-wrapper" style="margin-left: -40px;">
            <div class="field-checkbox-wrapper">
              <input type="checkbox" value="" name="markAttendance" formControlName="is_student_mgmt_flag" class="form-checkbox">
              <label for="markAttendance">Allow faculty to view Contact details of student</label>
            </div>
          </div> -->
        </div>
        <div class="row">
          <div class="pull-right" style="margin-top: 10px;">
            <button routerLink="/view/course/setup/teacher" class="btn">Cancel</button>
            <button [disabled]='!addTeacherForm.valid' class="btn fullBlue" style="font-size: 16px;"
              type="submit">Save</button>
          </div>
        </div>
      </form>
    </div>
  </aside>
  <aside class="c-lg-6 c-md-6 c-sm-6">
    <proctur-image [serverImg]="studentImage" [containerWidth]="containerWidth" (setImage)="setImage($event)">

    </proctur-image>
  </aside>

</div>