<div class="container-fluid product-wrapper p-0" style="padding-top: 2px;padding: 2%;">
  <div class="row m-0 pt-3 pb-3">
    <div class="col-md-8" style="padding-left: 0;">
      <section class="middle-top clearFix bulk-header">
        <div>
          <h1 class="pull-left">
            <a (click)="cancel()" style="padding:0px;cursor: pointer; ">
              Coupon
            </a>
            <i style="font-family: 'FontAwesome';" class="fas fa-angle-right"></i>
            <span *ngIf="!selectedCouponId">Add Coupon</span>
            <span *ngIf="selectedCouponId">Edit Coupon</span>
          </h1>
        </div>
      </section>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12 form-group">
          <label class="text-bold"> Offer Code
            <span class="text-danger">*</span>
          </label>
          <input type="text" [(ngModel)]="addCouponModel.offer_code" class="form-control form-control-sm">
        </div>

        <div class="col-md-12 form-group" style="width: 50%;padding-right: 0;">
          <label class="text-bold">Product
            <span class="text-danger">*</span>
          </label>
          <ng-multiselect-dropdown [placeholder]="'Select Product'" (ngModelChange)="checkProduct($event)"
            [(ngModel)]="selected_products" [data]="productList" [settings]="productSetting">
          </ng-multiselect-dropdown>
        </div>

        <div class="col-md-12">
          <div class="col-md-8 form-group" style="padding-right: 0px;padding-left: 0px;">
            <label class="text-bold">Description</label>
            <textarea rows="3" class="form-control form-control-sm" maxLength="1500"
              [(ngModel)]="addCouponModel.offer_description" style="width: 75%;"></textarea>
          </div>
        </div>

        <div class="row m-0" style="width: 52.5%;padding-bottom: 0;margin-bottom: 0;">
          <div class="col-md-6 form-group" style="padding-left: 0;margin-bottom: 0;">
            <div class="col-md-12 form-group">
              <label class="text-bold">Discount Type
              </label>
              <br>
              <input type="radio" [(ngModel)]="addCouponModel.discount_type" id="flat" value="1"
                class="form-control form-control-sm" style="width: 4%;"><label for="flat"
                style="padding-top: 15px;padding-left: 5px;padding-right: 5%;float: left;"
                checked="checked">Flat</label>
              <input type="radio" [(ngModel)]="addCouponModel.discount_type" id="discount" value="2"
                class="form-control form-control-sm" style="width: 4%;"><label for="discount"
                style="padding-top: 15px;float: left;padding-left: 5px;" checked="checked">Percentage</label>
            </div>
          </div>
          <div class="col-md-4 form-group">
            <label class="text-bold">Currency<span class="text-danger">*</span>
            </label>
            <select id="country_id" class="form-control form-control-sm" disabled
              [(ngModel)]="addCouponModel.country_id">
              <option [value]="data.id" *ngFor='let data of countryDetails'>
                {{data.currency_code}}
              </option>
            </select>
          </div>

        </div>

        <div class="row m-0" style="width: 52.5%;padding-bottom: 0;margin-bottom: 0;">
          <div class="col-md-6 form-group" style="padding-left: 0;" *ngIf="addCouponModel.discount_type == 1">
            <div class="col-md-12 form-group" style="margin-bottom: 0;">
              <label class="text-bold">Flat Discount Amount
                <span class="text-danger">*</span>
              </label>
              <input type="text" [(ngModel)]="addCouponModel.flat_discount_amount" class="form-control form-control-sm"
                onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" style="width: 100%;">
            </div>
          </div>
          <div class="col-md-6 form-group" style="padding-left: 0;margin-bottom: 0;"
            [ngStyle]="{'width':addCouponModel.discount_type == 2 ? '100%' : '50%' }">
            <div class="col-md-12 form-group">
              <label class="text-bold"> Minimum Amount in Cart
                <span class="text-danger">*</span>
              </label>
              <input type="text" [(ngModel)]="addCouponModel.minimum_amount_in_cart"
                class="form-control form-control-sm" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"
                style="width: 100%;">
            </div>
          </div>
        </div>

        <div class="row m-0" style="width: 52.5%;padding-bottom: 0;">
          <div class="col-md-6 form-group" style="padding-left: 0;" *ngIf="addCouponModel.discount_type == 2">
            <div class="col-md-12 form-group" style="margin-bottom: 0;">
              <label class="text-bold"> Discount Percentage (%)
                <span class="text-danger">*</span>
              </label>
              <input type="text" [(ngModel)]="addCouponModel.discount_percentage" class="form-control form-control-sm"
                onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" style="width: 100%;">
            </div>
          </div>
          <div class="col-md-6 form-group" style="padding-left: 0;" *ngIf="addCouponModel.discount_type == 2">
            <div class="col-md-12 form-group" style="margin-bottom: 0;">
              <label class="text-bold"> Maximum Discount Amount ({{ _commService.currency_default_symbol}})
                <span class="text-danger">*</span>
              </label>
              <input type="text" [(ngModel)]="addCouponModel.maximum_percentage_discount"
                class="form-control form-control-sm" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"
                style="width: 100%;">
            </div>
          </div>
        </div>

        <div class="row m-0" style="width: 52.5%;padding-bottom: 0;">
          <div class="col-md-6 form-group" style="padding-left: 0;">
            <div class="col-md-12 form-group" style="margin-bottom: 0;">
              <label class="text-bold"> Total coupons
                <span class="text-danger">*</span>
              </label>
              <input type="text" [(ngModel)]="addCouponModel.total_coupons_created" class="form-control form-control-sm"
                onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" style="width: 100%;">
            </div>
          </div>
          <div class="col-md-6 form-group" style="padding-left: 0;">
            <div class="col-md-12 form-group" style="margin-bottom: 0;">
              <label class="text-bold"> Maximum coupons per user
                <span class="text-danger">*</span>
              </label>
              <input type="text" [(ngModel)]="addCouponModel.maximum_coupons_per_user"
                class="form-control form-control-sm" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"
                style="width: 100%;">
            </div>
          </div>
        </div>


        <div class="row m-0" style="width: 52.5%;padding-bottom: 0;">
          <div class="col-md-6 form-group field-wrapper datePickerBox" style="margin-bottom: 0">
            <div class="col-md-12" style="padding: 0px;">
              <label for="from">Start Date
                <span class="text-danger">*</span>
              </label>
              <input type="text" class="form-ctrl bsDatepicker dateFormat" [(ngModel)]="addCouponModel.start_date"
                name="FD" bsDatepicker readonly="true"
                style="height: 34px;border: 1px solid #ccc;width: 95% !important">
            </div>
          </div>
          <div class="col-md-6 form-group field-wrapper datePickerBox">
            <div class="col-md-12" style="padding: 0px;">
              <label for="from">End Date
                <span class="text-danger">*</span>
              </label>
              <input type="text" class="form-ctrl bsDatepicker dateFormat" [(ngModel)]="addCouponModel.end_date"
                name="FD" bsDatepicker readonly="true"
                style="height: 34px;border: 1px solid #ccc;width: 95% !important">
            </div>
          </div>
        </div>
        <div class="col-md-6 form-group" style="padding-left: 0;margin-bottom: 0;" *ngIf="selectedCouponId">
          <div class="col-md-12 form-group">
            <input type="checkbox" id="inactive" class="form-ctrl" [(ngModel)]="offerStatus"
              style="-webkit-appearance: checkbox !important;">&nbsp;
            <label for="inactive">Inactive</label>
          </div>
        </div>
      </div>

      <div class="go-btn-container">
        <button type="button" name="button" class="fullBlue add-class-btn" (click)="cancel()">Cancel</button>
        <button type="button" id="addCoupon" name="button" class="fullBlue gobtn" (click)="saveData()"
          [disabled]="auth.isRippleLoad.getValue()">Save</button>
      </div>
    </div>
  </div>
</div>