<div class="clear-fix" style="padding-right: 2%;">
  <section class="middle-top clearFix bulk-header">

    <div>
      <h1 class="pull-left">
        <a *ngIf="!jsonFlag.isProfessional" style="padding:0px; ">
          Classes
        </a>
        <a *ngIf="jsonFlag.isProfessional" style="padding:0px; ">
          Batch
        </a>
        <i style="font-family: 'FontAwesome';" class="fas fa-angle-right"></i>
        <span>Schedule</span>
      </h1>
    </div>

  </section>

  <!-- <section style="margin-top: -25px;">
    <div class="header-section">
      <div class="header-item active" id="class" routerLink="/view/course/coursePlanner/class">
        <div class="img-container">
          <img src="./assets/images/course_planner/class_white.svg" alt="class">
        </div>
        <div class="model-name-container">
          <span>Class</span>
        </div>
      </div>
      <div class="header-item non-active" id="exam" routerLink="/view/course/coursePlanner/exam">
        <div class="img-container">
          <img src="./assets/images/course_planner/exam.svg" alt="exam">
        </div>
        <div class="model-name-container">
          <span>Exam</span>
        </div>
      </div>
    </div>
  </section> -->




  <!-- All Pop Up  -->

  <!-- Edit Class -->
  <div id="editClass" class="modal fade" role="dialog">
    <div class="modal-dialog" style="margin-top: 10%;
    ">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Class</h4>
        </div>
        <div class="modal-body">
          <div class="edit-input-container field-wrapper">
            <label for="">Description</label>
            <input type="text" class="form-ctrl" name="" value="" placeholder="Enter Description"
              [(ngModel)]="editClass.description">
          </div>
          <div class="edit-input-container field-wrapper">
            <label for="">Homework</label>
            <input type="text" class="form-ctrl" name="" value="" placeholder="Enter Homework"
              [(ngModel)]="editClass.homework">
          </div>
          <div class="edit-input-container field-wrapper" *ngIf="!jsonFlag.isProfessional">
            <label for="">Teacher<span class="danger">*</span></label>
            <select class="dropdown form-ctrl" name="" [(ngModel)]="editClass.faculty">
              <option value="-1">Select Teacher</option>
              <option [value]="faculty.teacher_id" *ngFor="let faculty of facultyList">{{faculty.teacher_name}}</option>
            </select>
          </div>
          <div class="edit-input-container field-wrapper" *ngIf="!schoolModel">
            <label for="">Topic</label>
            <input type="text" class="form-ctrl" name="" value="" readonly [(ngModel)]="editClass.topic_covered_names"
              (click)="fetchTopics()" placeholder="Link"
              [ngClass]="(editClass.topic_covered_names != '')? 'topic-linked' : 'no-topic-linked'">
            <i class="fa fa-link" aria-hidden="true" (click)="fetchTopics()"
              style="cursor: pointer;font-size: 15px;position: absolute; top: 35px; right: 51%;background: white;"
              [ngClass]="(editClass.topic_covered_names != '')? 'topic-linked-fa' : 'no-topic-linked-fa'"></i>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="updateClass()">Save</button>
        </div>
      </div>

    </div>
  </div>

  <!-- Topic Listing -->
  <div id="topicModel" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="showEditOption()">&times;</button>
          <h4 class="modal-title">Link Topic</h4>
        </div>
        <div class="modal-body">
          <ng-container *ngTemplateOutlet="topicsRecursiveList; context:{$implicit: topicsList, level: 1 }">
          </ng-container>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="showEditOption()">Cancel</button>
          <button class="btn fullBlue" (click)="saveTopics()">Save</button>
        </div>
      </div>

    </div>
  </div>


  <ng-template #topicsRecursiveList let-topicsList let-level="level">
    <div style="margin:2px !important" *ngFor="let topic of topicsList">
      <div class="topic-container" [ngClass]="level == 1 ? 'level1Topic': 'subTopicLevel'">
        <div class="arrow-icon" [style.visibility]="topic.subTopic.length ? 'visible':'hidden'"
          (click)="toggleArrow(topic)">
          <i [ngClass]="topic.isExpand ? 'fa fa-caret-down': 'fa fa-caret-right'"
            style="font-size: 15px!important;"></i>
        </div>
        <div class="field-checkbox-wrapper" style="margin-bottom: 5px !important;padding-left:0px !important">
          <input type="checkbox" [(ngModel)]="topic.checked" class="form-checkbox" value="{{topic.checked}}"
            (click)="selectTopics(topic,$event)" id="topic-{{topic.topicId}}" />

          <label for="topic-{{topic.topicId}}" style="margin-left:25px !important">{{topic.topicName}}</label>

          <div *ngIf="topic.isExpand">
            <ng-container
              *ngTemplateOutlet="topicsRecursiveList; context:{ $implicit: topic.subTopic, level: level + 1  }">
            </ng-container>
          </div>
        </div>

      </div>
    </div>
  </ng-template>


  <!-- Reschedule pop -->
  <!-- Modal -->
  <div class="modal fade" id="rescheduleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true" *ngIf="isReschedulePop" style="margin-top: 5%;">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5 class="modal-title" style="font-weight: 500;font-size: 14px;" id="exampleModalLongTitle">{{classMarkedForAction.batch_name}}</h5>
        </div>
        <div class="modal-body">
          <div class="row dueDate" style="margin-left: -15px;">

            <div class="c-sm-4 c-md-4 c-lg-4">
              <div class="field-wrapper datePickerBox" style="padding-top:0px">
                <label for="reschDate">Reschedule Date</label>
                <input type="text" id="reschDate" name="reschDate" readonly="true" class="form-ctrl bsDatepicker"
                  [(ngModel)]="reschedDate" bsDatepicker style="height:30px">
              </div>
            </div>

            <div class="c-sm-4 c-md-4 c-lg-4" style="margin-top:-15px;">
              <div class="form-wrapper timepick rescheduleTime" style="padding-left: 15px;">
                <label for="startTime">Start Time</label>
                <div class="tbox">
                  <div class="times ">
                    <select id="" class="mins side-form-ctrl" [(ngModel)]="timepicker.reschedStartTime.hour"
                      name="startTime">
                      <option [value]="time" *ngFor="let time of times">
                        {{time}}
                      </option>
                    </select>
                  </div>
                  <div class="times">
                    <select id="" class="mers side-form-ctrl" [(ngModel)]="timepicker.reschedStartTime.minute"
                      name="minute">
                      <option *ngFor="let minute of minArr" [value]="minute">
                        {{minute}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="c-sm-4 c-md-4 c-lg-4" style="margin-top:-15px;">
              <div class="form-wrapper timepick rescheduleTime">
                <label for="endtime">End Time</label>
                <div class="tbox">
                  <div class="times">
                    <select id="" class="mins side-form-ctrl" [(ngModel)]="timepicker.reschedEndTime.hour"
                      name="endtime">
                      <option [value]="time" *ngFor="let time of times">
                        {{time}}
                      </option>
                    </select>
                  </div>
                  <div class="times">
                    <select id="" class="mers side-form-ctrl" [(ngModel)]="timepicker.reschedEndTime.minute"
                      name="minute">
                      <option *ngFor="let minute of minArr" [value]="minute">
                        {{minute}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>

            </div>

          </div>

          <div class="row">
            <div class="field-wrapper" style="width: 50%; margin-left: 3%;">
              <textarea type="text" style="height:50px;" id="reschreason" name="reschreason" [(ngModel)]="reschedReason"
                value="" placeholder="Reschedule Reason" class="form-ctrl textbox">
            </textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="clearfix">
            <aside class="pull-left">
              <div class="field-checkbox-wrapper" style="margin-top: 5px">
                <input type="checkbox" value="" class="form-checkbox" id="is_reshedule_notified"
                  [checked]="getCheckedStatus('resheduleNotified')" (change)="notifyRescheduleUpdate($event)">
                <label for="is_reshedule_notified">Notify Students</label>
              </div>
            </aside>
            <aside class="pull-right popup-btn">
              <input type="button" value="Cancel" class="btn" (click)="closeRescheduleClass()" data-dismiss="modal">
              <input type="button" value="Reschedule Class" data-dismiss="modal" (click)="rescheduleClass()"
                class="fullBlue btn" [disabled]="isRippleLoad">
            </aside>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Notify pop -->
  <!-- Modal -->
  <div class="modal fade" id="notifyModal" tabindex="-1" role="dialog" aria-labelledby="notifyModalCenterTitle"
    aria-hidden="true" *ngIf="isReminderPop">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5 class="modal-title" id="notifyModalCenterTitle">Send Reminder For
            <span style="font-weight: 600;" *ngIf="jsonFlag.isProfessional">{{classMarkedForAction.batch_name}}</span>
            <span style="font-weight: 600;" *ngIf="!jsonFlag.isProfessional">{{classMarkedForAction.batch_name}}</span>
          </h5>
        </div>
        <div class="modal-body">
          <div class="row" style="margin: 10px 0px;">
            The reminder for the selected schedule will be sent!! click continue to proceed.
          </div>
          <div class="add_remarks">
            <div class="" style="margin-left: 38%">
              <span>Limit</span>
              <span class="button_type">{{remarksLimit}}</span>
            </div>
            <div class="field-wrapper" style="width: 50%;">
              <textarea type="text" style="height:50px; border: 1px solid #d3d4d5;" id="reminderRemarks"
                name="reminderRemarks" [(ngModel)]="reminderRemarks" value="" placeholder="Remarks"
                class="form-ctrl textbox" maxlength="50" (ngModelChange)="countRemarksLimit()">
            </textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <aside class="pull-right popup-btn">
            <input type="button" value="Cancel" data-dismiss="modal" class="btn" (click)="closeRemiderClass()">
            <input type="button" value="Continue" data-dismiss="modal" (click)="sendReminder()" class="btn fullBlue"
              [disabled]="isRippleLoad">
          </aside>
        </div>
      </div>
    </div>
  </div>


  <!-- Cancel pop up for Course Model-->
  <!-- Modal  -->
  <div class="modal" id="cancelModal" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <!---*ngIf="isCancelPop"--->
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5 class="modal-title" id="exampleModalLongTitle">Cancel Class
            <span style="font-weight: 600;">{{classMarkedForAction?.batch_name}}</span>
          </h5>
        </div>
        <div class="modal-body">
          <div class="CancelWrapper">
            <div class="row cancelField">
              <div class="c-lg-12 c-md-12 c-sm-12">
                <div class="field-wrapper">
                  <textarea class="form-ctrl textBox" style="height: 100px;" placeholder="Cancellation Reason:" value=""
                    [(ngModel)]="cancellationReason">
                </textarea>
                </div>
              </div>
              <div class="c-lg-12 c-md-12 c-sm-12" style="margin-top: 20px">
                <div class="field-checkbox-wrapper">
                  <input type="checkbox" value="" class="form-checkbox" id="notifyCancel"
                    [checked]="getCheckedStatus('notifyCancel')" (change)="notifyCancelUpdate($event)">
                  <label for="notifyCancel">Notify Students For Class Cancellation</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <aside class="pull-right popup-btn">
            <input type="button" value="Cancel" data-dismiss="modal" class="btn" (click)="closeCancelClass()">
            <input type="button" value="Cancel Class" data-dismiss="modal" (click)="cancelClass()"
              [disabled]="jsonFlag.isRippleLoad" class="btn fullBlue">
          </aside>
        </div>
      </div>
    </div>
  </div>

  <!-- Cancel pop up for Batch Model-->
  <!-- Modal  -->
  <div class="modal" id="cancelBatchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true" *ngIf="isCourseCancel">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5 class="modal-title" id="exampleModalLongTitle">Cancel Schedule
            <span style="font-weight: 600;">{{classMarkedForAction.batch_name}}</span>
            <span style="font-weight: 600;" *ngIf="!jsonFlag.isProfessional">{{classMarkedForAction.master_course}}
              &#8594; {{classMarkedForAction.coursee_names}} </span>
            <span style="font-weight: 600;" *ngIf="jsonFlag.isProfessional">{{classMarkedForAction.batch_name}}</span>
          </h5>
        </div>
        <div class="modal-body">
          <div class="CancelWrapper">
            <div class="row cancelField">
              <div class="c-lg-12 c-md-12 c-sm-12">
                <div class="field-wrapper">
                  <textarea class="form-ctrl textBox" style="height: 100px;" placeholder="Cancellation Reason:" value=""
                    [(ngModel)]="cancellationReason">
                </textarea>
                </div>
              </div>
              <div class="c-lg-12 c-md-12 c-sm-12" style="margin-top: 20px">
                <div class="field-checkbox-wrapper">
                  <input type="checkbox" value="" class="form-checkbox" id="notifyCancel"
                    [checked]="getCheckedStatus('notifyCancel')" (change)="notifyCancelUpdate($event)">
                  <label for="notifyCancel">Notify Students For Class Cancellation</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <aside class="pull-right popup-btn">
            <input type="button" value="Cancel" data-dismiss="modal" class="btn" (click)="closeCourseCancelClass()">
            <input *ngIf="!jsonFlag.isProfessional" data-dismiss="modal" type="button" value="Update Schedule"
              (click)="cancelCourseClass()" class="fullBlue btn" [disabled]="jsonFlag.isRippleLoad">
            <input *ngIf="jsonFlag.isProfessional" data-dismiss="modal" type="button" value="Cancel Class"
              (click)="cancelBatchClass()" class="fullBlue btn" [disabled]="jsonFlag.isRippleLoad">
          </aside>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Main section started -->
<section>

  <section class="filter-head">
    <div class="filter-header-container">
      <div class="filter-item-1">
        <!-- FOR COURSE MODEL -->
        <div class="header-item" *ngIf="!jsonFlag.isProfessional && !schoolModel">
          <!-- changes by Nalini - to handle school model conditions -->
          <span>{{schoolModel ? 'Standard' : 'Master Course'}}<span class="danger">*</span></span>
          <select class="header-select-box" name="" [(ngModel)]="inputElements.masterCourse" (ngModelChange)="updateCoursesList()">
            <option value="-1">Select {{schoolModel ? 'Standard' : 'Master Course'}}</option>
            <option [value]="masterCourse.master_course" *ngFor="let masterCourse of masterCourseList">{{masterCourse.master_course}}</option>
          </select>
        </div>
        <div class="header-item" *ngIf="!jsonFlag.isProfessional && schoolModel">
          <!-- changes by Nalini - to handle school model conditions -->
          <span>Standard<span class="danger">*</span></span>
          <select class="header-select-box" name="" [(ngModel)]="inputElements.standard_id" (ngModelChange)="getCourseList($event)">
            <option value="-1">Select Standard</option>
            <option [value]="masterCourse.standard_id" *ngFor="let masterCourse of masterCourseList">{{masterCourse.standard_name}}</option>
          </select>
        </div>
        <div class="header-item" *ngIf="!jsonFlag.isProfessional">
          <span>{{schoolModel ? 'Section' : 'Course'}}</span>
          <select class="header-select-box" name="" [(ngModel)]="inputElements.course" (ngModelChange)="updateSubjectsList()">
            <option value="-1">Select {{schoolModel ? 'Section' : 'Course'}}</option>
            <option [value]="course.course_id" *ngFor="let course of courseList">{{course.course_name}}</option>
          </select>
          <span *ngIf="inputElements.course != '-1' && !jsonFlag.isProfessional" style="font-size: 10px;">Duration: {{courseStartDate}} {{courseEndDate}}</span>
        </div>
        <div class="header-item" *ngIf="!jsonFlag.isProfessional">
          <span>Subject</span>
          <select class="header-select-box" name="" [(ngModel)]="inputElements.subject" (ngModelChange)="updateSubject()">
            <option value="-1">Select Subject</option>
            <option [value]="subject.batch_id" *ngFor="let subject of subjectList">{{subject.subject_name}}</option>
          </select>
        </div>
        
          <!-- FOR BATCH MODEL -->
          <div class="header-item" *ngIf="jsonFlag.isProfessional">
            <span>Master Course <span class="danger">*</span></span>
            <select class="header-select-box" name="" [(ngModel)]="inputElements.standard_id"
              (ngModelChange)="updateCoursesList()">
              <option value="-1">Select Master Course</option>
              <option [value]="standard.standard_id" *ngFor="let standard of masterCourseList">
                {{standard.standard_name}}</option>
            </select>
          </div>
          <div class="header-item" *ngIf="jsonFlag.isProfessional">
            <span>Course</span>
            <select class="header-select-box" name="" [(ngModel)]="inputElements.subject_id"
              (ngModelChange)="updateSubjectsList()">
              <option value="-1">Select Course</option>
              <option [value]="subject.subject_id" *ngFor="let subject of courseList">{{subject.subject_name}}</option>
            </select>
          </div>
          <div class="header-item" *ngIf="jsonFlag.isProfessional">
            <span>Batch</span>
            <select class="header-select-box" name="" [(ngModel)]="inputElements.batch_id"
              (ngModelChange)="updateSubject()">
              <option value="-1">Select Batch</option>
              <option [value]="batch.batch_id" *ngFor="let batch of batchList">{{batch.batch_name}}</option>
            </select>
            <span *ngIf="inputElements.batch_id != '-1' && jsonFlag.isProfessional" style="font-size: 10px;">Duration:
              {{courseStartDate | date: 'dd-MMM-yyyy'}} - {{courseEndDate | date: 'dd-MMM-yyyy'}}</span>
          </div>

          <div class="header-item" style="width: 25%;">
            <span>Filter</span>
            <div class="input-container">
              <i class="fa fa-filter" aria-hidden="true"></i>
              <input type="text" name="" value="" class="filer-input" placeholder="Choose filter from dropdown">
              <i class="fa fa-caret-down" aria-hidden="true" (click)="toggleFilter()" *ngIf="!filterShow"></i>
              <i class="fa fa-caret-up" aria-hidden="true" (click)="toggleFilter()" *ngIf="filterShow"></i>
            </div>
            <span style="font-size: 10px;">From: {{coursePlannerFilters.from_date | date: 'dd-MMM-yyyy'}} &nbsp; To:
              {{coursePlannerFilters.to_date | date: 'dd-MMM-yyyy'}}</span>
            <div class="filter-container" *ngIf="filterShow">

              <div class="date-container">
                <div class="date-title">
                  <span>Date</span>
                </div>
                <div class="date-values-container">
                  <div class="field-checkbox-wrapper date-value-item">
                    <input type="checkbox" id="thisWeek" name="thisWeek" [(ngModel)]="filterDateInputs.thisWeek"
                      class="form-checkbox" (change)="updateDateFilter('thisWeek', $event)">
                    <label for="thisWeek">This Week</label>
                  </div>
                  <div class="field-checkbox-wrapper date-value-item">
                    <input type="checkbox" id="lastWeek" name="lastWeek" [(ngModel)]="filterDateInputs.lastWeek"
                      class="form-checkbox" (change)="updateDateFilter('lastWeek', $event)">
                    <label for="lastWeek">Last Week</label>
                  </div>
                  <div class="field-checkbox-wrapper date-value-item">
                    <input type="checkbox" id="thisMonth" name="thisMonth" [(ngModel)]="filterDateInputs.thisMonth"
                      class="form-checkbox" (change)="updateDateFilter('thisMonth', $event)">
                    <label for="thisMonth">This Month</label>
                  </div>
                  <div class="field-checkbox-wrapper date-value-item">
                    <input type="checkbox" id="custom" name="custom" [(ngModel)]="filterDateInputs.custom"
                      class="form-checkbox" (change)="updateDateFilter('custom', $event)">
                    <label for="custom">Custom</label>
                    <input style="margin-left:10%;visibility:hidden;" type="text" value="" id="customeDate"
                      class="widgetDatepicker bsDatepicker" name="schedWidDate" [(ngModel)]="filterDateRange"
                      (ngModelChange)="updateFilterDateRange($event)" readonly="true" bsDaterangepicker />
                  </div>
                </div>
              </div>

              <div class="status-container">
                <div class="status-title">
                  <span>Status</span>
                </div>
                <div class="status-values-container">
                  <div class="field-checkbox-wrapper status-value-item">
                    <input type="checkbox" id="upcoming" name="" [(ngModel)]="filterStatusInputs.upcoming"
                      class="form-checkbox" (change)="updateStatusFilter($event, 'upcoming')">
                    <label for="upcoming" style="color: #ff6c24;">Upcoming</label>
                  </div>
                  <div class="field-checkbox-wrapper status-value-item">
                    <input type="checkbox" id="attendancePending" name=""
                      [(ngModel)]="filterStatusInputs.attendancePending" class="form-checkbox"
                      (change)="updateStatusFilter($event, 'pending')">
                    <label for="attendancePending" style="color: #8d8d8d;">Attendance Pending</label>
                  </div>
                  <div class="field-checkbox-wrapper status-value-item">
                    <input type="checkbox" id="completed" name="" [(ngModel)]="filterStatusInputs.completed"
                      class="form-checkbox" (change)="updateStatusFilter($event, 'completed')">
                    <label for="completed" style="color: #00b55a;">Completed</label>
                  </div>
                  <div class="field-checkbox-wrapper status-value-item">
                    <input type="checkbox" id="cancelled" name="" [(ngModel)]="filterStatusInputs.cancelled"
                      class="form-checkbox" (change)="updateStatusFilter($event, 'cancelled')">
                    <label for="cancelled" style="color: #df0d2f;">Cancelled</label>
                  </div>
                </div>
              </div>

              <div class="faculty-container" *ngIf="userType!=3">
                <div class="faculty-title">
                  <span>Teacher</span>
                </div>
                <div class="faculty-dropdown-container">
                  <select class="faculty-select-box" name="" [(ngModel)]="inputElements.faculty"
                    (ngModelChange)="updateFacultyInFilter()">
                    <option value="-1">Select Teacher</option>
                    <option [value]="faculty.teacher_id" *ngFor="let faculty of facultyList">{{faculty.teacher_name}}
                    </option>
                  </select>
                </div>
              </div>

            </div>
          </div>
          <div class="go-btn-container">
            <button type="button" name="button" class="fullBlue gobtn" (click)="getData()">GO</button>
          </div>
        </div>
        <div class="filter-item-2" style="width: 12%;">
          <button type="button" name="button" class="add-class-btn" (click)="redirect()">
            <i class="fa fa-plus" aria-hidden="true"></i>
            &nbsp;
            Add {{schoolModel ? 'Routine' : 'Class'}}
          </button>
        </div>
      </div>
    </section>
<!-- changes by Nalini - to handle school model conditions -->
  <section class="table-holder" *ngIf="coursePlannerData?.length > 0" (click)="closeAll()">
    <div class="table-container">
      <div class="table-header-container">
        <div class="table-heading-item small" style="padding-left: 15px;">
          <span>Date</span>
        </div>
        <div class="table-heading-item small">
          <span>Time</span>
        </div>
        <div class="table-heading-item medium" *ngIf="showHideColumns.masterCourse">
          <span>{{schoolModel ? 'Standard' : 'Mastercourse'}}</span>
        </div>
        <div class="table-heading-item medium" *ngIf="showHideColumns.course">
          <span>{{schoolModel ? 'Section' : 'Course'}}</span>
        </div>
        <div class="table-heading-item medium" *ngIf="showHideColumns.subject">
          <span *ngIf="!jsonFlag.isProfessional">Subject</span>
          <span *ngIf="jsonFlag.isProfessional">Batch</span>
        </div>
        <div class="table-heading-item medium" *ngIf="showHideColumns.description">
          <span>Description</span>
        </div>
        <div class="table-heading-item medium" *ngIf="showHideColumns.homework">
          <span>Homework</span>
        </div>
        <div class="table-heading-item medium" *ngIf="showHideColumns.teacher">
          <span>Teacher</span>
        </div>
        <div class="table-heading-item large" *ngIf="!schoolModel && showHideColumns.topic">
          <span>Topic(s)</span>
        </div>
        <div class="table-heading-item small align-center">
          <span>Status</span>
        </div>
        <div class="table-heading-item medium align-center action">
          <span>Action</span>
          <i class="fa fa-cog" aria-hidden="true" (click)="showHideCol()"></i>
          <div class="show-hide-container" *ngIf="jsonFlag.showHideColumn">
            <div class="show-hide-header">
              <span>Choose Show/Hide Column</span>
              <i class="fa fa-times" aria-hidden="true" (click)="hideShowHideMenu()"></i>
            </div>
            <div class="show-hide-value-container">
              <div class="field-checkbox-wrapper show-hide-item">
                <input type="checkbox" id="course" name="" [(ngModel)]="showHideColumns.course"
                    class="form-checkbox" (change)="hideCol($event)" [disabled]="!showHideColumns.course && checkedColCounter == dynamicColCounter">
                <label for="course">{{schoolModel ? 'Section' : 'Course'}}</label>
              </div>
              <div class="field-checkbox-wrapper show-hide-item">
                <input type="checkbox" id="subject" name="" [(ngModel)]="showHideColumns.subject"
                    class="form-checkbox" (change)="hideCol($event)" [disabled]="!showHideColumns.subject && checkedColCounter == dynamicColCounter">
                <label for="subject" *ngIf="!jsonFlag.isProfessional">Subject</label>
                <label for="subject" *ngIf="jsonFlag.isProfessional">Batch</label>
              </div>
              <div class="field-checkbox-wrapper show-hide-item" *ngIf="!jsonFlag.isProfessional">
                <input type="checkbox" id="topic" name="" [(ngModel)]="showHideColumns.topic"
                    class="form-checkbox" (change)="hideCol($event)" [disabled]="!showHideColumns.topic && checkedColCounter == dynamicColCounter">
                <label for="topic">Topic</label>
              </div>
                <div class="field-checkbox-wrapper show-hide-item">
                  <input type="checkbox" id="teacher" name="" [(ngModel)]="showHideColumns.teacher"
                    class="form-checkbox" (change)="hideCol($event)"
                    [disabled]="!showHideColumns.teacher && checkedColCounter == dynamicColCounter">
                  <label for="teacher">Teacher</label>
                </div>
              </div>

              <div class="show-hide-value-container">
                <div class="show-hide-item" style="margin-bottom: 10px;">
                  <span style="font-weight: 600;color:#585574;">NOTE : </span>
                  <span style="font-weight: 400;color:#585574;">To selct the below option(s) please unselect above
                    option(s)</span>
                </div>
                <div class="field-checkbox-wrapper show-hide-item">
                  <input type="checkbox" id="description" name="" [(ngModel)]="showHideColumns.description"
                    class="form-checkbox" (change)="hideCol($event)"
                    [disabled]="!showHideColumns.description && checkedColCounter == dynamicColCounter">
                  <label for="description">Description</label>
                </div>
                <div class="field-checkbox-wrapper show-hide-item">
                  <input type="checkbox" id="homework" name="" [(ngModel)]="showHideColumns.homework"
                    class="form-checkbox" (change)="hideCol($event)"
                    [disabled]="!showHideColumns.homework && checkedColCounter == dynamicColCounter">
                  <label for="homework">Homework</label>
                </div>
              </div>

              <div class="bg-container">
                <img src="./assets/images/course_planner/setting-illustration.svg" alt="">
              </div>

            </div>
          </div>
        </div>
        <div class="table-value-outer-container">
          <div class="table-value-container" [ngClass]="{'border-cancelled-class': course.status == 'Cancelled' || course.status == 'Cancel(Class)',
                      'border-completed-class': course.status == 'Completed',
                      'border-pending-class': course.status == 'Att. Pending',
                      'border-upcoming-class': course.status == 'Upcoming'}"
            *ngFor="let course of coursePlannerData; let i = index;">
            <div class="table-value-item small" style="padding-left: 15px;">
              <span>{{course.date | date: 'dd-MMM-yyyy' }}</span>
              <span>&nbsp;</span>
              <span>({{course.date | date :'EEE'}})</span>
            </div>
            <div class="table-value-item small">
              <span>{{course.start_time}}</span>
              <span>&nbsp;- &nbsp;</span>
              <span>{{course.end_time}}</span>
            </div>
            <div class="table-value-item medium" *ngIf="showHideColumns.course">
              <span
                title="{{course.course_name}}">{{ (course.course_name.length > 20) ? (course.course_name | slice:0:20) + '...' : course.course_name }}</span>
            </div>
            <div class="table-value-item medium" *ngIf="showHideColumns.subject && !jsonFlag.isProfessional">
              <span
                title="{{course.subject_name}}">{{ (course.subject_name.length > 20) ? (course.subject_name | slice:0:20) + '...' : course.subject_name }}</span>
            </div>
            <div class="table-value-item medium" *ngIf="showHideColumns.subject && jsonFlag.isProfessional">
              <span
                title="{{course.batch_name}}">{{ (course.batch_name.length > 20) ? (course.batch_name | slice:0:20) + '...' : course.batch_name }}</span>
            </div>
            <div class="table-value-item medium" *ngIf="showHideColumns.description">
              <span *ngIf="course?.description.length == 0">-</span>
              <span title="{{course.description}}"
                *ngIf="course?.description.length != 0">{{ (course.description.length > 20) ? (course.description | slice:0:20) + '...' : course.description }}</span>
            </div>
            <div class="table-value-item medium" *ngIf="showHideColumns.homework">
              <span *ngIf="course?.homework_assigned.length == 0">-</span>
              <span *ngIf="course?.homework_assigned.length != 0"
                title="{{course.homework_assigned}}">{{ (course.homework_assigned.length > 20) ? (course.homework_assigned | slice:0:20) + '...' : course.homework_assigned }}</span>
            </div>
            <div class="table-value-item medium" *ngIf="showHideColumns.teacher">
              <span *ngIf="course?.teacher_name.length == 0">-</span>
              <span *ngIf="course?.teacher_name.length != 0"
                title="{{course.teacher_name}}">{{ (course.teacher_name.length > 20) ? (course.teacher_name | slice:0:20) + '...' : course.teacher_name }}</span>
            </div>
            <div class="table-value-item large" *ngIf="!schoolModel &&showHideColumns.topic">
              <span *ngIf="course?.topics_covered.length == 0">-</span>
              <span *ngIf="course?.topics_covered.length != 0"
                title="{{course.topics_covered}}">{{ (course.topics_covered.length > 25) ? (course.topics_covered | slice:0:25) + '...' : course.topics_covered }}</span>
            </div>
            <div class="table-value-item small align-center">
              <button type="button" name="button" class="upcoming-btn"
                *ngIf="course.status == 'Upcoming'">Upcoming</button>
              <button type="button" name="button" class="pending-btn" *ngIf="course.status == 'Att. Pending'">Att.
                Pending</button>
              <button type="button" name="button" class="cancelled-btn"
                *ngIf="course.status == 'Cancelled' || course.status == 'Cancel(Class)'">Cancelled</button>
              <button type="button" name="button" class="completed-btn"
                *ngIf="course.status == 'Completed'">Completed</button>
            </div>
            <div class="table-value-item medium align-center action ">
              <div class="action-container" *ngIf="course.status == 'Upcoming'">
                <!--  upcoming classes action -->
                <img src="./assets/images/reschedule.svg" alt="Reschedule" title="Reschedule" data-toggle="modal"
                  data-target="#rescheduleModal" *ngIf="getVisibility(course) && course.is_attendance_marked != 'Y'"
                  (click)="initiateRescheduleClass(course)">
                <i class="fa fa-bell" aria-hidden="true" style="color: #1283f4" title="Notify" data-toggle="modal"
                  data-target="#notifyModal" *ngIf="getVisibility(course) && course.is_attendance_marked != 'Y'"
                  (click)="initiateRemiderClass(course)"></i>
                <i class="fa fa-pencil" aria-hidden="true" style="color: #1283f4;" title="Edit" data-toggle="modal"
                  data-target="#editClass" (click)="editCourseClass(course)"></i>
                <i class="fa fa-times-circle" aria-hidden="true" style="color: red;" title="Cancel" data-toggle="modal"
                  data-target="#cancelModal" *ngIf="!jsonFlag.isProfessional && course.is_attendance_marked != 'Y'"
                  (click)="initiateCancelClass(course)"></i>
                <i class="fa fa-times-circle" aria-hidden="true" style="color: red;" title="Cancel" data-toggle="modal"
                  data-target="#cancelBatchModal" *ngIf="jsonFlag.isProfessional && course.is_attendance_marked != 'Y'"
                  (click)="initiateCourseCancelClass(course)"></i>
              </div>
              <div class="action-container" *ngIf="course.status == 'Att. Pending'">
                <!--  pending classes action -->
                <img src="./assets/images/checked-att.svg" alt="Mark Attendance" title="Update Attendance"
                  *ngIf="course.is_attendance_marked == 'Y'" (click)="initiateMarkAttendance(course)">
                <img src="./assets/images/att.svg" alt="Mark Attendance" title="Mark Attendance"
                  *ngIf="course.is_attendance_marked == 'N'" (click)="initiateMarkAttendance(course)">
                <img src="./assets/images/reschedule.svg" alt="Reschedule" title="Reschedule" data-toggle="modal"
                  data-target="#rescheduleModal" *ngIf="getVisibility(course) && course.is_attendance_marked != 'Y'"
                  (click)="initiateRescheduleClass(course)">
                <i class="fa fa-bell" aria-hidden="true" style="color: #1283f4" title="Notify" data-toggle="modal"
                  data-target="#notifyModal" *ngIf="getVisibility(course) && course.is_attendance_marked != 'Y'"
                  (click)="initiateRemiderClass(course)"></i>
                <i class="fa fa-pencil" aria-hidden="true" style="color: #1283f4;" title="Edit" data-toggle="modal"
                  data-target="#editClass" (click)="editCourseClass(course)"></i>
                <i class="fa fa-times-circle" aria-hidden="true" style="color: red;" title="Cancel" data-toggle="modal"
                  data-target="#cancelModal" *ngIf="!jsonFlag.isProfessional && course.is_attendance_marked != 'Y'"
                  (click)="initiateCancelClass(course)"></i>
                <i class="fa fa-times-circle" aria-hidden="true" style="color: red;" title="Cancel" data-toggle="modal"
                  data-target="#cancelBatchModal" *ngIf="jsonFlag.isProfessional && course.is_attendance_marked != 'Y'"
                  (click)="initiateCourseCancelClass(course)"></i>
              </div>
              <div class="action-container" *ngIf="course.status == 'Cancelled' || course.status == 'Cancel(Class)'">
                <!--  cancelled classes action -->
                <i class="fa fa-bell" aria-hidden="true" style="color: #1283f4;" title="Notify"
                  (click)="notifyCancelClass(course)"></i>
              </div>
              <div class="action-container" *ngIf="course.status == 'Completed'">
                <!--  completed classes action -->
                <img src="./assets/images/checked-att.svg" alt="Mark Attendance" title="Update Attendance"
                  *ngIf="course.is_attendance_marked == 'Y'" (click)="initiateMarkAttendance(course)">
                <i class="fa fa-bell" aria-hidden="true" style="color: #1283f4" title="Notify" data-toggle="modal"
                  data-target="#notifyModal" *ngIf="getVisibility(course) && course.is_attendance_marked != 'Y'"
                  (click)="initiateRemiderClass(course)"></i>
                <i class="fa fa-pencil" aria-hidden="true" style="color: #1283f4;" title="Edit" data-toggle="modal"
                  data-target="#editClass" (click)="editCourseClass(course)"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </section>

  <div class="row filter-res pagination" #pager id="pager" style="width: 100%;">
    <div class="c-lg-12 c-md-12 c-sm-12 align-right">
      <pagination (goPage)="fectchTableDataByPage($event)" (goNext)="fetchNext()" (goPrev)="fetchPrevious()"
        [pagesToShow]="10" [page]="pageIndex" [perPage]="displayBatchSize" [sizeArr]="sizeArr"
        (sizeChange)="updateTableBatchSize($event)" [count]="totalCount">
      </pagination>
    </div>
  </div>


  <!-- Illustration container -->
  <section *ngIf="coursePlannerData?.length == 0" (click)="closeAll()">
    <div class="illustration-container">
      <img src="./assets/images/course_planner/blank-illustration.svg" alt="illustration" class="illustration-img">
    </div>
  </section>

