<section class="clearFix" style="padding-right: 2%;">
  <!-- Header and Navigation -->
  <section class="middle-top mb0 clearFix">
    <h1 class="pull-left">
      <!-- <a routerLink="/view/expense">
        Expense
      </a> -->
      <!-- <i style="font-family: 'FontAwesome';" class="fas fa-angle-right"></i> -->
      <span>Data Setup</span>
    </h1>
  </section>


  <div class="common-tab">
    <ul>
      <!-- changes done by Nalini - Manage category and code refactoring changes -->
      <li id="payee" [ngClass]="{'active': selectedSection == 'payee'}" (click)="switchActiveView('payee')" class="">
        <span>Manage Payee</span>
      </li>
      <li id="payer" [ngClass]="{'active': selectedSection == 'payer'}" (click)="switchActiveView('payer')" class="">
        <span>Manage Payer</span>
      </li>
      <li id="account" [ngClass]="{'active': selectedSection == 'account'}" (click)="switchActiveView('account')"
        class="">
        <span>Manage Account</span>
      </li>
      <li id="account" [ngClass]="{'active': selectedSection == 'category'}" (click)="switchActiveView('category')"
        class="">
        <span>Manage Category</span>
      </li>
    </ul>
  </div>

  <div class="add-container">
    <button type="button" name="button" class="add-btn" *ngIf="selectedSection == 'payee'" (click)="togglePayee()">Add
      Payee</button>
    <button type="button" name="button" class="add-btn" *ngIf="selectedSection == 'payer'" (click)="togglePayer()">Add
      Payer</button>
    <button type="button" name="button" class="add-btn" *ngIf="selectedSection == 'account'"
      (click)="toggleAccount()">Add Account</button>
    <button type="button" name="button" class="add-btn" *ngIf="selectedSection == 'category'"
      (click)="toggleCategory()">Add Category</button>
  </div>

  <div class="table-container" *ngIf="headerList?.length > 0">
    <div class="table-header-container">
      <div class="table-header-item" *ngFor="let head of headerList">
        <span>{{head.header}}</span>
      </div>
    </div>
    <!-- For account Details -->
    <div class="table-value-outer-container" *ngIf="selectedSection == 'account'">
      <div class="table-value-container" *ngFor="let detail of tableValueData">
        <div class="table-value-item">
          <span title="{{detail?.party_type}}">
            {{detail?.party_type == 0 ? 'Payee' : 'Payer'}}
          </span>
        </div>
        <div class="table-value-item">
          <span title="{{detail?.party_name}}">{{ (!detail.party_name) ? '-' : (detail.party_name.length > 10) ?
            (detail.party_name| slice:0:10) + '...' : detail.party_name}}</span>
        </div>
        <div class="table-value-item">
          <span title="{{detail?.display_name}}">{{ (!detail.display_name) ? '-' : (detail.display_name.length > 10) ?
            (detail.display_name | slice:0:10) + '...' : detail.display_name}}</span>
        </div>

        <div class="table-value-item">
          <span title="{{detail?.type_value}}">{{ (!detail.type_value) ? '-' : (detail.type_value.length > 10) ?
            (detail.type_value | slice:0:10) + '...' : detail.type_value}}</span>
        </div>

        <div class="table-value-item">
          <span title="{{detail?.account_number}}">{{ (!detail.account_number) ? '-' : (detail.account_number.length >
            10) ? (detail.account_number | slice:0:10) + '...' : detail.account_number}}</span>
        </div>

        <div class="table-value-item">
          <span title="{{detail?.ifsc_code}}">{{ (!detail.ifsc_code) ? '-' : (detail.ifsc_code.length >
            10) ? (detail.ifsc_code | slice:0:10) + '...' : detail.ifsc_code}}</span>
        </div>

        <div class="table-value-item">
          <span title="{{detail?.notes}}">{{ (!detail.notes) ? '-' : (detail.notes.length > 10) ? (detail.notes |
            slice:0:10) + '...' : detail.notes}}</span>
        </div>

        <div class="table-value-item">
          <i class="fa fa-pencil" aria-hidden="true" title="Edit Account" (click)="editAccount(detail.account_id)"></i>
        </div>
      </div>
    </div>
    <!-- changes done by Nalini - category table data -->
    <div class="table-value-outer-container" *ngIf="selectedSection == 'category'">
      <div class="table-value-container" *ngFor="let detail of tableValueData">
        <div class="table-value-item">
          <span title="{{detail?.category_name}}">{{ (!detail.category_name) ? '-' : (detail.category_name.length > 20)
            ? (detail.category_name | slice:0:20) + '...' : detail.category_name}}</span>
        </div>
        <div class="table-value-item">
          <span title="{{detail?.category_desc}}">{{ (!detail.category_desc) ? '-' : (detail.category_desc.length > 20)
            ? (detail.category_desc | slice:0:20) + '...' : detail.category_desc}}</span>
        </div>
        <div class="table-value-item">
          <span>{{ (detail.expense_category_type == 2) ? 'Expense' : (detail.expense_category_type == 3) ? 'Income' :
            ''}}</span>
        </div>
        <div class="table-value-item">
          <i class="fa fa-pencil" aria-hidden="true" title="Edit Account" (click)="editCategoryFun(detail)"></i>
        </div>
      </div>
    </div>
    <!-- For Payee & Payer -->
    <div class="table-value-outer-container" *ngIf="selectedSection == 'payee' || selectedSection == 'payer'">
      <div class="table-value-container" *ngFor="let detail of tableValueData">
        <div class="table-value-item">
          <span title="{{detail?.display_name}}">{{ (!detail.display_name) ? '-' : (detail.display_name.length > 20) ?
            (detail.display_name | slice:0:20) + '...' : detail.display_name}}</span>
        </div>
        <div class="table-value-item">
          <span title="{{detail?.type_value}}">{{ (!detail.type_value) ? '-' : (detail.type_value.length > 20) ?
            (detail.type_value | slice:0:20) + '...' : detail.type_value}}</span>
        </div>
        <div class="table-value-item">
          <span title="{{detail?.company_name}}">{{ (!detail.company_name) ? '-' : (detail.company_name.length > 20) ?
            (detail.company_name | slice:0:20) + '...' : detail.company_name}}</span>
        </div>
        <div class="table-value-item">
          <span title="{{detail?.primary_mobile_no}}">{{ (!detail.primary_mobile_no) ? '-' :
            (detail.primary_mobile_no.length > 20) ? (detail.primary_mobile_no | slice:0:20) + '...' :
            detail.primary_mobile_no}}</span>
        </div>
        <div class="table-value-item">
          <span title="{{detail?.email_id}}">{{ (!detail.email_id) ? '-' : (detail.email_id.length > 20) ?
            (detail.email_id | slice:0:20) + '...' : detail.email_id}}</span>
        </div>
        <div class="table-value-item">
          <i class="fa fa-pencil" aria-hidden="true" title="Edit" *ngIf="selectedSection == 'payee'"
            (click)="editPayee(detail.party_id)"></i>
          <i class="fa fa-pencil" aria-hidden="true" title="Edit" *ngIf="selectedSection == 'payer'"
            (click)="editPayer(detail.party_id)"></i>
        </div>
      </div>
    </div>
  </div>

</section>

<app-add-edit-payee *ngIf=payeeVisibilty (closePopup)="togglePayee($event)" [isEditPayee]="isEditPayee"
  [editPayeeId]="editPayeeId">
</app-add-edit-payee>

<app-add-edit-payer *ngIf=payerVisibilty (closePopup)="togglePayer($event)" [isEditPayer]="isEditPayer"
  [editPayerId]="editPayerId">
</app-add-edit-payer>

<app-add-edit-account *ngIf=accountVisibilty (closePopup)="toggleAccount($event)" [isEditAccount]="isEditAccount"
  [editAccountId]="editAccountId">
</app-add-edit-account>

<app-add-edit-category *ngIf=categoryVisibilty (closePopup)="toggleCategory($event)" [isEditCategory]="isEditCategory"
  [editCategory]="editCategory">
</app-add-edit-category>