@import "./src/assets/css/common/variables.scss";
@import "./src/assets/css/common/common-web.scss";

.sms-view-wrapper {
  padding: 5px;

  .row {
    margin: 5px 15px;
  }
}

.table-control {
  height: 50px;
}

.filter-box {
  padding: 10px;
}

.search-box {
  border: 1px solid #b4b6bd;
  padding: 5px;
  float: right;
  margin-right: 0px;
  margin-bottom: 3px;
}

.sms-filter-wrapper {
  .field-wrapper {
    width: 40%;
    padding: 15px 0;
    margin-left: 20px;
    display: inline-block;
  }

  .btn-sms-search {
    padding: 15px 0;

    .btn {
      width: 100px;
    }
  }
}

.enq-state-details {
  .enq {
    display: flex;
    margin-bottom: 17px;

    .enqs-label {
      width: 30%;
      font-size: 12px;
      font-weight: 600;
      color: #0084f6;
      text-transform: uppercase;

      span {
        width: 8px;
        height: 8px;
        display: inline-block;
        border: 1px solid #979797;
        border-radius: 2px;
        margin-right: 8px;

        &.success {
          background: #568bf4;
        }

        &.failure {
          background: #ff4d4d;
        }
      }
    }

    .enqs-value {
      color: #808080;
      font-size: 12px;
      font-weight: 600;
    }

    .enqs-label1 {
      width: 18%;
      font-size: 12px;
      color: #666666;
    }

    .enqs-value1 {
      color: #808080;
      font-size: 12px;
      font-weight: 600;
    }
  }
}

.enq-state-bottom {
  padding: 0 10px;
  & > div {
    float: left;
    &:after {
      content: '';
      display: table;
      clear: both;
      width: 100%;
    }

    &:last-child {
      float: right;
    }
  }
}
