<div>
  <div class="w98 p-15">
      <nav aria-label="breadcrumb ">
          <ol class="breadcrumb arr-right">
              <li class="breadcrumb-item "><a>{{checkClassStatus == 'exam' ? 'Exams' : (type == 'batch' ? 'Batch' : 'Classes')}}</a></li>
              <li class="breadcrumb-item "><a>Setup</a></li>
          </ol>
      </nav>
      <!-- Nav tabs -->
      <ul class="nav main-shadow">
          <!-- <li class="nav-item" *ngIf="checkClassStatus == 'class'">
              <a class="nav-link" (click)="toggle('faculty')" [ngClass]="(activeSession == 'faculty') ? 'active' : ''" data-toggle="tab" routerLink="/view/course/setup/teacher/list">Faculty</a>
          </li> -->
          <li class="nav-item" *ngIf="checkClassStatus == 'class'">
              <a class="nav-link" (click)="toggle('academic')" [ngClass]="(activeSession == 'academic') ? 'active' : ''" data-toggle="tab" routerLink="/view/course/setup/academic">Academic Year</a>
          </li>
          <li class="nav-item" *ngIf="checkClassStatus == 'exam'">
            <a class="nav-link" (click)="toggle('Exam_Grades')" [ngClass]="(activeSession == 'Exam_Grades') ? 'active' : ''" data-toggle="tab" routerLink="/view/course/exam-setup/manage-exam-grades">Exam Grades</a>
          </li>
          <li class="nav-item" *ngIf="checkClassStatus == 'exam' && schoolModel">
            <a class="nav-link" (click)="toggle('Exam_type')" [ngClass]="(activeSession == 'Exam_type') ? 'active' : ''" data-toggle="tab" routerLink="/view/course/exam-setup/exam-type">Exam Type</a>
          </li>
          <li class="nav-item" *ngIf="checkClassStatus == 'class'">
              <a class="nav-link" (click)="toggle('classroom')" [ngClass]="(activeSession == 'classroom') ? 'active' : ''" data-toggle="tab" routerLink="/view/course/setup/classroom">Classroom</a>
          </li>
          <li class="nav-item" *ngIf="checkClassStatus == 'class' && !schoolModel">
              <a class="nav-link" (click)="toggle('master_tag')" [ngClass]="(activeSession == 'master_tag') ? 'active' : ''" data-toggle="tab" routerLink="/view/course/setup/master-tag">Manage Tag</a>
          </li>
          <li class="nav-item" *ngIf="checkClassStatus == 'exam' && schoolModel">
            <a class="nav-link" (click)="toggle('mark_distribution')" [ngClass]="(activeSession == 'mark_distribution') ? 'active' : ''" data-toggle="tab" routerLink="/view/course/exam-setup/mark-distribution">Mark Distribution</a>
          </li>
          <li class="nav-item" *ngIf="checkClassStatus == 'exam' && schoolModel">
            <a class="nav-link" (click)="toggle('mark_setting')" [ngClass]="(activeSession == 'mark_setting') ? 'active' : ''" data-toggle="tab" routerLink="/view/course/exam-setup/mark-setting">Mark Settings</a>
          </li>
      </ul>
  </div>
</div>