<div class="clearFix" id="enquiryList" #enquiryManager style="padding-right: 2%;">
  <!-- Main View -->
  <aside class="middle-full">
    <section class="middle-top clearFix">
      <h1 class="pull-left">
        <!-- <a routerLink="/view/fee">
          Fees
        </a> -->
        Fees
        <i style="font-family: 'FontAwesome';" class="fas fa-angle-right"></i>
        <a routerLink="/view/fee/data-setup">
          Data-setup
        </a>
        <i style="font-family: 'FontAwesome';" class="fas fa-angle-right"></i>
        {{moduleState}} wise fees
      </h1>

      <aside class="pull-right">
        <div class="btn-container">
          <div class="search-filter-wrapper">
            <input type="text" class="normal-field pull-right" placeholder="Search" name="searchData"
              [(ngModel)]="searchText" (keyup)="searchInList()">
          </div>
          <button class="btn" routerLink='/view/fee/data-setup/fee-template/add'>
            New Structure
          </button>
        </div>
      </aside>
    </section>


    <!-- Fee Table Container -->
    <section class="table-content clearFix" id="">
      <!-- Data Table and Pagination -->
      <div class="table-scroll-wrapper">
        <div class="table table-responsive">
          <table class="structure-table">
            <thead>
              <tr>
                <th>Fee Structure</th>
                <!-- changes by Nalini - to handle school model conditions -->
                <th>{{schoolModel ? 'Standard' : 'Master Course'}}</th>
                <th>{{schoolModel ? 'Section' : 'Course'}}</th>
                <th>Country</th>
                <th>Students assigned</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let fee of tabkeList">
                <td>
                  <label>
                    {{fee.template_name}}
                  </label>
                </td>
                <td>
                  {{fee.master_course_standard_name}}
                </td>
                <td>
                  {{fee.course_subject_name}}
                </td>
                <td>
                  {{fee.country_name}}
                </td>
                <td>
                  <a (click)="studentsAssigned(fee)">
                    {{fee.totalAssignedStudent}}
                  </a>
                </td>
                <td class="feeactions">
                  <ul>
                    <li (click)="editFee(fee)">
                      <i class="fa fa-pencil" style="color:#1283f4;cursor: pointer;" title="Edit"
                        aria-hidden="true"></i>
                      &nbsp;
                    </li>
                    <li (click)="deleteFeeStructure(fee)" style="margin-right: 7px;">
                      <i class="fa fa-trash" style="color:#fa3145;cursor: pointer;" title="Delete"
                        aria-hidden="true"></i>
                    </li>
                  </ul>
                </td>
              </tr>
              <tr *ngIf="tabkeList.length == 0">
                <td colspan="6">
                  No Fee Structure Available
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row filter-res pagination" style="width: 100%;">
        <div class="c-lg-12 c-md-12 c-sm-12 align-right">
          <pagination (goPage)="fetchTableDataByPage($event)" (goNext)="fetchNext()" (goPrev)="fetchPrevious()"
            [pagesToShow]="10" [page]="PageIndex" [perPage]="displayBatchSize" [count]="totalRow">
          </pagination>
        </div>
      </div>

    </section>


    <template-popup *ngIf="isEditFee">
      <span class="closePopup pos-abs fbold show" id="popupCloseBtn" (click)="closeFeeEditor()" close-button>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="9310 2185 16 16">
          <g id="Group_1228" data-name="Group 1228" transform="translate(8298 1888)">
            <g id="Group_1213" data-name="Group 1213" transform="translate(34.189 -7.77)">
              <line id="Line_274" data-name="Line 274" class="cls-1" y2="19.798"
                transform="translate(992.81 305.77) rotate(45)" />
              <line id="Line_275" data-name="Line 275" class="cls-1" x1="19.798"
                transform="translate(978.81 305.77) rotate(45)" />
            </g>
            <rect id="Rectangle_686" data-name="Rectangle 686" style="stroke:none;" class="cls-2" width="16" height="16"
              transform="translate(1012 297)" />
          </g>
        </svg>
      </span>

      <div class="Pheader" popup-header>
        <h2 *ngIf="!isHeaderEdit">Edit Template ::
          <i>{{selectedTemplate.template_name}}</i>
        </h2>
        <a *ngIf="!isHeaderEdit" (click)="editTemplateName()">
          <img src="./assets/images/edit_details.svg" alt="">
        </a>
        <h2 *ngIf="isHeaderEdit">Edit Template</h2>
        <div *ngIf="isHeaderEdit" class="headitor field-wrapper">
          <input type="text" class="form-ctrl" autofocus [(ngModel)]="selectedTemplate.template_name">
        </div>
        <a *ngIf="isHeaderEdit">
          <i class="fas fa-check" (click)="updateTemplateName()" style="font-family: FontAwesome ;font-size: 19px;"
            title="feeName"></i>
          <i class="fas fa fa-times" (click)="cancelTemplateName()" style="font-family: FontAwesome ;font-size: 19px;"
            title="Cancel"></i>
        </a>


        <div class="field-checkbox-wrapper pull-right checkBoxAllignMent">
          <input type="checkbox" id="defChkBX" name="defChkBX" [(ngModel)]="feeStructure.is_default"
            class="form-checkbox">
          <label for="defChkBX">Is Default Template</label>
        </div>
      </div>

      <div class="feeManager" popup-content>
        <div class="fee-content">
          <fieldset class="installment">
            <h1>MANAGE FEE INSTALLMENTS</h1>
            <div class="row data-adder">
              <div class="outer">
                <div class="c-lg-3 c-md-3 pull-left"></div>
                <div class="c-lg-9 c-md-9 pull-right">
                </div>
              </div>
            </div>
            <div class="row" style="margin-top: 10px;margin-bottom: 10px">
              <div class="c-sm-3 c-md-3 c-lg-3">
                <div class="field-wrapper has-value">
                  <label for="slotNew">Total Amount (<img src="{{selectedCountry?.currency_symbol}}"
                      style="max-height: 10px" />) <span class="text-danger">*</span>
                  </label>
                  <input type="number" min="0" readonly="true" class="form-ctrl" [(ngModel)]="totalAmountCal"
                    name="slotNew">

                </div>
              </div>
              <div class="c-sm-4 c-md-4 c-lg-4">
                <div class="field-wrapper has-value">
                  <label for="slotNew">Total No of Installments <span class="text-danger">*</span>
                  </label>
                  <input type="number" min="0" readonly="true" #idSlot [value]="installmentList.length"
                    class="form-ctrl" name="slotNew">

                </div>
              </div>
              <div class="c-sm-3 c-md-3 c-lg-3">
                <div class="field-wrapper has-value">
                  <label for="CourseDdn">Country
                    <span class="text-danger">*</span>
                  </label>
                  <select id="" [disabled]="true" class="form-ctrl disable_input " style="background: transparent"
                    name="country_id" [(ngModel)]="selectedTemplate.country_id">
                    <option value="-1"></option>
                    <option [value]="data.id" selected *ngFor='let data of countryDetails'>
                      {{data.country_name}}
                    </option>
                  </select>

                </div>
              </div>
              <div class="c-sm-3 c-md-3 c-lg-3 hide">
                <div class="field-checkbox-wrapper">
                  <input type="checkbox" id="checkBoxtaxes" name="checkbx" class="form-checkbox"
                    (click)="onApplyTaxChechbox($event)">
                  <label for="checkbx">Apply
                    {{tax_type_without_percentage}}({{feeStructure.registeredServiceTax}}%)</label>
                </div>
              </div>
            </div>


            <div class="row" style="display: flex;">

              <div class="c-sm-3 c-md-3 c-lg-3">
                <div class="field-wrapper has-value">
                  <label for="row.category_id">Trigger Date</label>
                  <select id="" class="form-ctrl" style="background: transparent" name="AddInstallment.day_type"
                    (ngModelChange)="changesValuesAsPerType(AddInstallment)" [(ngModel)]="AddInstallment.day_type">
                    <option value="1">Course Assign Date (CAD)</option>
                    <option value="2">No of days after CAD</option>
                    <option value="3">No of Month after CAD</option>
                  </select>

                </div>
              </div>

              <div class="c-sm-3 c-md-3 c-lg-3">
                <div class="field-wrapper has-value">
                  <label for="slotNew"> No.
                  </label>
                  <input type="number" min="0" class="form-ctrl" [disabled]="AddInstallment.day_type=='1'"
                    [ngClass]="{'disable_input': AddInstallment.day_type=='1'}" [(ngModel)]="AddInstallment.days"
                    name="slotNew">

                  <p>(Days/Months)</p>
                </div>
              </div>

              <div class="c-sm-3 c-md-3 c-lg-3">
                <div class="field-wrapper has-value">
                  <label for="slotNew">Fee Amount
                  </label>
                  <input type="number" min="0" class="form-ctrl" [(ngModel)]="AddInstallment.initial_fee_amount"
                    name="slotNew">

                </div>
              </div>

              <div class="c-sm-2 c-md-2 c-lg-2" style="margin: auto;cursor: pointer">
                <img src="assets/images/plus.png" (click)="addInstallmentInTable()" alt="Add"
                  style="vertical-align: -webkit-baseline-middle;">
              </div>
            </div>


            <div class="row">
              <div class="">
                <div class="table table-responsive">
                  <table>
                    <thead>
                      <tr>
                        <th>Installment # </th>
                        <th>Due Date</th>
                        <!-- <th *ngIf="selectedTemplate.country_id=='1'">Fee Amount</th>
                        <th *ngIf="selectedTemplate.country_id=='1'">Tax</th>
                        <th *ngIf="selectedTemplate.country_id!='1'">Fee Amount</th>
                        <th *ngIf="selectedTemplate.country_id=='1'">Fee Amount Incl Tax</th> -->
                        <th>Fee Amount</th>
                        <th *ngIf="is_tax_enabled">{{tax_type_without_percentage}}</th>
                        <th *ngIf="is_tax_enabled">Fee Amount Incl {{tax_type_without_percentage}}</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let row of installmentList; let i= index ; trackBy : index">
                        <td>
                          <select [(ngModel)]="row.day_type" (ngModelChange)="changesValuesAsPerType(row)"
                            style="background: transparent">
                            <option value="1">Course Assign Date (CAD)</option>
                            <option value="2">No of days after CAD</option>
                            <option value="3">No of Month after CAD</option>
                          </select>
                        </td>
                        <td>
                          <div class="field-wrapper">
                            <input type="number" min="0" class="editCellInput" [disabled]="row.day_type=='1'"
                              [ngClass]="{'disable_input': row.day_type=='1'}" [(ngModel)]="row.days" name="label">
                          </div>
                        </td>
                        <!-- <td *ngIf="selectedTemplate.country_id=='1'"> -->
                        <td *ngIf="is_tax_enabled">

                          <div class="field-wrapper">
                            <input type="number" min="0" readonly="true" class="editCellInput"
                              [(ngModel)]="row.initial_fee_amount" name="label">
                          </div>
                        </td>
                        <!-- <td *ngIf="selectedTemplate.country_id=='1'"> -->
                        <td *ngIf="is_tax_enabled">

                          <div class="field-wrapper">
                            <input type="number" min="0" readonly="true" class="editCellInput" [ngModel]='row.tax'
                              name="label">
                          </div>
                        </td>
                        <td>
                          <div class="field-wrapper">
                            <input type="number" min="0" class="editCellInput" [(ngModel)]="row.fees_amount"
                              (keyup)="feeInstallmentChnge(row)" name="label">
                          </div>
                        </td>
                        <td>
                          <i class="fa fa-trash" (click)="deleteRow(row , i)" style="color:#fa3145;cursor: pointer;"
                            title="Delete" aria-hidden="true"></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </fieldset>

          <fieldset class="additional">
            <h1>Manage Additional Fees</h1>

            <div class="row" style="display: flex;">
              <div class="c-sm-2 c-md-2 c-lg-2">
                <div class="field-wrapper has-value">
                  <label for="row.category_id">Select Fee Type</label>
                  <select id="" class="form-ctrl" style="background: transparent"
                    [(ngModel)]="additionalInstallment.fee_type" (ngModelChange)="onAdditionalFeeSelection($event)"
                    name="row.category_id">
                    <option value=""></option>
                    <option *ngFor="let opt of otherFeetype; let i= index ; trackBy : index" [value]="opt.id">
                      {{opt.value}}
                    </option>
                  </select>

                </div>
              </div>

              <div class="c-sm-2 c-md-2 c-lg-2">
                <div class="field-wrapper has-value">
                  <label for="row.category_id">Trigger Date</label>
                  <select id="" class="form-ctrl" style="background: transparent"
                    [(ngModel)]="additionalInstallment.day_type"
                    (ngModelChange)="changesValuesAsPerType(additionalInstallment)" name="row.category_id">
                    <option value="1">Course Assign Date (CAD)</option>
                    <option value="2">No of days after CAD</option>
                    <option value="3">No of Month after CAD</option>
                  </select>

                </div>
              </div>

              <div class="c-sm-2 c-md-2 c-lg-2">
                <div class="field-wrapper has-value">
                  <label for="slotNew"> No.
                  </label>
                  <input type="number" min="0" class="form-ctrl" [disabled]="additionalInstallment.day_type=='1'"
                    [ngClass]="{'disable_input': additionalInstallment.day_type=='1'}"
                    [(ngModel)]="additionalInstallment.days" name="slotNew">

                  <p>(Days/Months)</p>
                </div>
              </div>

              <div class="c-sm-2 c-md-2 c-lg-2">
                <div class="field-wrapper has-value">
                  <label for="slotNew">Fee Amount
                  </label>
                  <input type="number" min="0" class="form-ctrl" [(ngModel)]="additionalInstallment.initial_fee_amount"
                    name="slotNew">

                </div>
              </div>

              <!-- <div class="c-sm-2 c-md-2 c-lg-2" *ngIf="selectedTemplate.country_id=='1'"> -->
              <div class="c-sm-2 c-md-2 c-lg-2" *ngIf="is_tax_enabled">

                <div class="field-wrapper has-value">
                  <label for="slotNew">{{tax_type_without_percentage}} Applicable (%)
                  </label>
                  <input type="number" min="0" class="form-ctrl" [(ngModel)]="additionalInstallment.service_tax"
                    disabled name="slotNew">

                </div>
              </div>

              <div class="c-sm-2 c-md-2 c-lg-2" style="margin: auto;cursor: pointer">
                <img src="assets/images/plus.png" (click)="addAdditionalInst()" alt="Add"
                  style="vertical-align: -webkit-baseline-middle;">
              </div>
            </div>

            <div class="row">
              <div class="">
                <div class="table table-responsive">
                  <table>
                    <thead>
                      <tr>
                        <th>Fee Type </th>
                        <th>Trigger Date</th>
                        <th>No.(Days/Months)Due Date</th>
                        <!-- <th *ngIf="selectedTemplate.country_id=='1'">Fee Amount</th>
                        <th *ngIf="selectedTemplate.country_id=='1'">Tax</th>
                        <th *ngIf="selectedTemplate.country_id!='1'">Fee Amount</th>
                        <th *ngIf="selectedTemplate.country_id=='1'">Fee Amount Incl Tax</th> -->
                        <th>Fee Amount</th>
                        <th *ngIf="is_tax_enabled">{{tax_type_without_percentage}}</th>
                        <!-- <th>Fee Amount</th> -->
                        <th *ngIf="is_tax_enabled">Fee Amount Incl {{tax_type_without_percentage}}</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let row of otherInstList; let i= index ; trackBy : index">
                        <td>
                          {{row.fee_type_name}}
                        </td>
                        <td>
                          <select [(ngModel)]="row.day_type" (ngModelChange)="changesValuesAsPerType(row)"
                            style="background: transparent">
                            <option value="1">Course Assign Date (CAD)</option>
                            <option value="2">No of days after CAD</option>
                            <option value="3">No of Month after CAD</option>
                          </select>
                        </td>
                        <td>
                          <div class="field-wrapper">
                            <input type="number" min="0" class="editCellInput" [disabled]="row.day_type=='1'"
                              [ngClass]="{'disable_input': row.day_type=='1'}" [(ngModel)]="row.days" name="label">
                          </div>
                        </td>
                        <!-- <td *ngIf="selectedTemplate.country_id=='1'"> -->
                        <td *ngIf="is_tax_enabled">
                          <div class="field-wrapper">
                            <input type="number" min="0" readonly="true" class="editCellInput"
                              [(ngModel)]="row.initial_fee_amount" name="label">
                          </div>
                        </td>
                        <!-- <td *ngIf="selectedTemplate.country_id=='1'"> -->
                        <td *ngIf="is_tax_enabled">
                          <div class="field-wrapper">
                            <input type="number" min="0" readonly="true" class="editCellInput"
                              [ngModel]='row.fees_amount - row.initial_fee_amount' name="label">
                          </div>
                        </td>
                        <td>
                          <div class="field-wrapper">
                            <input type="number" min="0" class="editCellInput" [(ngModel)]="row.fees_amount"
                              (keyup)="feeTypesAmountChnge(row)" name="label">
                          </div>
                        </td>
                        <td>
                          <i class="fa fa-trash" (click)="deleteAdditionalRow(row , i)"
                            style="color:#fa3145;cursor: pointer;" title="Delete" aria-hidden="true"></i>
                        </td>
                      </tr>
                      <tr *ngIf="otherInstList.length == 0">
                        <td colspan="7">
                          No Additional Fee
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </div>

      <div class="" popup-footer>
        <div class="clearfix">
          <aside class="pull-right">
            <input type="button" value="Cancel" class="btn" (click)="closeFeeEditor()">
            <input type="button" value="Apply" (click)="updateFeeTemplate()" class="fullBlue btn">
          </aside>
        </div>
      </div>

    </template-popup>

    <proctur-popup [sizeWidth]="'small'" *ngIf="addTemplatePopUp">

      <span class="closePopup pos-abs fbold show" (click)="closeTemplatePopup()" close-button>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="9310 2185 16 16">
          <g id="Group_1228" data-name="Group 1228" transform="translate(8298 1888)">
            <g id="Group_1213" data-name="Group 1213" transform="translate(34.189 -7.77)">
              <line id="Line_274" data-name="Line 274" class="cls-1" y2="19.798"
                transform="translate(992.81 305.77) rotate(45)" />
              <line id="Line_275" data-name="Line 275" class="cls-1" x1="19.798"
                transform="translate(978.81 305.77) rotate(45)" />
            </g>
            <rect id="Rectangle_686" data-name="Rectangle 686" style="stroke:none;" class="cls-2" width="16" height="16"
              transform="translate(1012 297)" />
          </g>
        </svg>
      </span>

      <div popup-header class="popup-header-content">
        <h2>Students Assigned</h2>
      </div>

      <div class="popup-content" popup-content>
        <div class="table table-responsive">
          <table>
            <thead>
              <tr>
                <th>
                  Student Id
                </th>
                <th>
                  Student Name
                </th>
              </tr>
            </thead>

            <tbody *ngIf="studentList!=null">
              <tr *ngFor="let i of studentList">
                <td>
                  {{i.student_disp_id}}
                </td>
                <td>
                  {{i.student_name}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </proctur-popup>

  </aside>
</div>