<div class="report-wrapper clearFix headerSection" style="height: 90vh;">
  <!-- <aside class="middle-full"> -->
  <section class="middle-main clearFix">

    <div class="middle-top mb0 clearFix header">
      <div class="" style="padding-bottom:2%">
        <h2 style="padding: 5px;" class="pull-left">
          <a>
            Classes
          </a>
          <i style="font-family: 'FontAwesome';" class="fas fa-angle-right"></i>
          <a routerLink="/view/course/archiving">
            Course Deletion
          </a>
          <i style="font-family: 'FontAwesome';" class="fas fa-angle-right" *ngIf="!isProfessional"></i>
          <span *ngIf="!isProfessional">Delete Courses</span>
          <i style="font-family: 'FontAwesome';" class="fas fa-angle-right" *ngIf="isProfessional"></i>
          <span *ngIf="isProfessional">Delete Batches</span>
        </h2>
      </div>
    </div>
    <div class="filter-box clearFix" style="margin-top: -20px;margin-bottom: 20px;">
      <div id="basic-search" class="search-filter-wrapper" style="float: right;margin-right: 7rem;">
        <input #search type="text" class="search-field" placeholder="Search" [(ngModel)]="searchText" name="searchData"
          (keyup)="searchDatabase()" style="padding: 10px;border:1px solid lightgrey;border-radius: 4px;">
      </div>
      <div *ngIf="isProfessional" style="float: right;margin-right: -17rem;">
        <button type="button" class="btn" value="Delete" (click)="archiveData($event)">Delete</button>
      </div>
      <div *ngIf="!isProfessional" style="float: right;margin-right: -17rem;">
        <button type="button" class="btn" value="Delete" (click)="archiveData($event)">Delete</button>
      </div>
    </div>
  </section>
  <!-- <div class="filter-box clearFix">
    <div id="basic-search" class="search-filter-wrapper" style="float: right;margin-right: 7rem;">
      <input #search type="text" class="search-field" placeholder="Search" [(ngModel)]="searchText" name="searchData"
        (keyup)="searchDatabase()" style="padding: 10px;border:1px solid lightgrey;border-radius: 4px;">
    </div>
    <div *ngIf="isProfessional" style="float: right;margin-right: -17rem;">
      <button type="button" class="btn" value="Archive" (click)="archiveData($event)">Archive</button>
    </div>
    <div *ngIf="!isProfessional" style="float: right;margin-right: -17rem;">
      <button type="button" class="btn" value="Archive" (click)="archiveData($event)">Archive</button>
    </div>
  </div> -->
  <section style="margin-top: -19px;">

    <div class="table table-responsive table-made">
      <table class="tableBodyScroll">
        <thead>
          <tr>
            <th style="text-align: left;" *ngIf="!isProfessional" (click)="sortedData('course_name') "
              style="width: 14%;">
              <!-- changes by Nalini - to handle school model conditions -->
              # &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{schoolModel ? 'Section' : 'Course'}} &nbsp;
              <i class="fa fa-caret-up" *ngIf="getCaretVisiblity('course_name') && direction == 1"></i>
              <i class="fa fa-caret-down" *ngIf="getCaretVisiblity('course_name') && direction != 1"></i>
            </th>
            <th style="text-align: left;" *ngIf="isProfessional" (click)="sortedData('batch_name') "
              style="width: 14%;">
              # &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Batch &nbsp;
              <i class="fa fa-caret-up" *ngIf="getCaretVisiblity('batch_name') && direction == 1"></i>
              <i class="fa fa-caret-down" *ngIf="getCaretVisiblity('batch_name') && direction != 1"></i>
            </th>
            <th (click)="sortedData('standard_name') " *ngIf="isProfessional" style="width: 10%;padding: 10px 0px;">
              Master Course &nbsp;
              <i class="fa fa-caret-up" *ngIf="getCaretVisiblity('standard_name') && direction == 1"></i>
              <i class="fa fa-caret-down" *ngIf="getCaretVisiblity('standard_name') && direction != 1"></i>
            </th>
            <th (click)="sortedData('master_course') " *ngIf="!isProfessional" style="width: 10%;padding: 10px 0px;">
              <!-- changes by Nalini - to handle school model conditions -->
              {{schoolModel ? 'Standard' : 'Master Course'}} &nbsp;
              <i class="fa fa-caret-up" *ngIf="getCaretVisiblity('master_course') && direction == 1"></i>
              <i class="fa fa-caret-down" *ngIf="getCaretVisiblity('master_course') && direction != 1"></i>
            </th>
            <th *ngIf="!isProfessional && !schoolModel" (click)="sortedData('standard_name') " style="width: 10%;">
              Standard &nbsp;
              <i class="fa fa-caret-up" *ngIf="getCaretVisiblity('standard_name') && direction == 1"></i>
              <i class="fa fa-caret-down" *ngIf="getCaretVisiblity('standard_name') && direction != 1"></i>
            </th>
            <th *ngIf="isProfessional" (click)="sortedData('subject_name') " style="width: 10%;">
              Course &nbsp;
              <i class="fa fa-caret-up" *ngIf="getCaretVisiblity('subject_name') && direction == 1"></i>
              <i class="fa fa-caret-down" *ngIf="getCaretVisiblity('subject_name') && direction != 1"></i>
            </th>
            <th *ngIf="!isProfessional" (click)="sortedData('subjects') " style="text-align:left;">
              &nbsp;&nbsp; Subjects &nbsp;
              <i class="fa fa-caret-up" *ngIf="getCaretVisiblity('subjects') && direction == 1"></i>
              <i class="fa fa-caret-down" *ngIf="getCaretVisiblity('subjects') && direction != 1"></i>
            </th>
            <th (click)="sortedData('start_date') " style="text-align: center;width: 12%;">
              Start Date &nbsp;
              <i class="fa fa-caret-up" *ngIf="getCaretVisiblity('start_date') && direction == 1"></i>
              <i class="fa fa-caret-down" *ngIf="getCaretVisiblity('start_date') && direction != 1"></i>
            </th>
            <th (click)="sortedData('end_date') " style="text-align: center;width: 12%;">
              End Date &nbsp;
              <i class="fa fa-caret-up" *ngIf="getCaretVisiblity('end_date') && direction == 1"></i>
              <i class="fa fa-caret-down" *ngIf="getCaretVisiblity('end_date') && direction != 1"></i>
            </th>
          </tr>
        </thead>
        <tbody *ngIf="newPaginated!=0">
          <tr *ngFor="let i of newPaginated ; let j=index;">
            <td *ngIf="!isProfessional" style="text-align: left;  padding:5px 0px 10px 5px;width: 14%;word-break: break-all; ">
              <div class="field-checkbox-wrapper"
                style="display: inline-block;margin-top: 5px; height:16px; margin-right: 10px;">
                <input type="checkbox" class="form-checkbox" name={{i.course_id}} id={{i.course_id}}
                  [(ngModel)]="i.status" (ngModelChange)="notifyMe(j)" style="height:15px; margin-right: 10px;">
                <label for={{i.course_id}}></label>
              </div>
              {{i.course_name}}
            </td>
            <td *ngIf="isProfessional" style="text-align: left; padding:5px 0px 10px 5px;width: 14%;">
              <div class="field-checkbox-wrapper"
                style="display: inline-block;margin-top: 5px; height:16px; margin-right: 10px;">
                <input type="checkbox" class="form-checkbox" name={{i.batch_id}} id={{i.batch_id}}
                  [(ngModel)]="i.status" (ngModelChange)="notifyMe(j)">
                <label for={{i.batch_id}}></label>
              </div>
              {{i.batch_name}}
            </td>
            <td *ngIf="!isProfessional" style="width: 10%;padding: 10px 0px;">
              {{i.master_course}}
            </td>
            <td *ngIf="isProfessional" style="width: 10%;padding: 10px 0px;width: 10%;">
              {{i.standard_name}}
            </td>
            <td *ngIf="!isProfessional && !schoolModel" style="width: 10%;">
              {{i.standard_name}}
            </td>
            <td *ngIf="!isProfessional">
              {{i.subjects}}
            </td>
            <td *ngIf="isProfessional">
              {{i.subject_name}}
            </td>
            <td style="text-align: center;width: 12%;">
              {{i.start_date | date:'dd-MMM-yy'}}
            </td>
            <td style="text-align: center;width: 12%;">
              {{i.end_date | date:'dd-MMM-yy'}}
            </td>
          </tr>
          <!-- <tr *ngIf="isProfessional">
              <td>
              </td>
              <td>
              </td>
              <td>
              </td>
              <td>
              </td>
              <td>
                <input type="button" class="btn fullBlue" value="Archive" (click)="archiveData($event)"
                  style="float: right;">
              </td>
            </tr> -->
          <!-- <tr *ngIf="!isProfessional">
              <td>
              </td>
              <td>
              </td>
              <td>
              </td>
              <td>
              </td>
              <td>
              </td>
              <td>
                <input type="button" class="btn fullBlue" value="Archive" (click)="archiveData($event)"
                  style="float: right;">
              </td>
            </tr> -->
        </tbody>
        <tbody *ngIf="newPaginated.length == 0 && dataStatus === true">
          <tr *ngFor="let dummy of dummyArr">
            <td *ngFor="let c of columnMaps" style="padding:10px;">
              <div class="skeleton">
              </div>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="newPaginated.length == 0 && dataStatus === false" class="records">
          <tr>
            <td colspan="6" class="records">
              No Records Found
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row filter-res pagination" style="width: 100%;">
      <div class="c-lg-12 c-md-12 c-sm-12 align-right" style="margin-top: -18px;">
        <pagination (goPage)="fetchTableDataByPage($event)" (goNext)="fetchNext()" (goPrev)="fetchPrevious()"
          [pagesToShow]="10" [page]="PageIndex" [perPage]="pagedisplaysize" [count]="totalRow" [sizeArr]="sizeArr"
          (sizeChange)="updateTableBatchSize($event)">
        </pagination>
      </div>
    </div>
  </section>
  <!-- </aside> -->
</div>