<div class="report-wrapper clearFix" style="padding: 2%;">
  <aside class="middle-full">
    <section class="middle-main clearFix">

      <div class="middle-top mb0 clearFix header">
        <div class="" style="padding-bottom:2%">
          <h2 style="padding: 5px;" class="pull-left">
            <a routerLink="/view/batch">
              Batch
            </a>
            <i style="font-family: 'FontAwesome';" class="fas fa-angle-right"></i>
            <a routerLink="/view/batch/archiving">
              Archiving
            </a>
            <i style="font-family: 'FontAwesome';" class="fas fa-angle-right" *ngIf="!isProfessional"></i>
            <span *ngIf="!isProfessional">Courses</span>
            <i style="font-family: 'FontAwesome';" class="fas fa-angle-right" *ngIf="isProfessional"></i>
            <span *ngIf="isProfessional">Batches</span>
          </h2>
        </div>
      </div>
    </section>
    <div class="filter-box clearFix" style="margin: 6px 0px 6px 6px;float: right;">
      <div id="basic-search" class="search-filter-wrapper">
        <input #search type="text" class="search-field" placeholder="Search" [(ngModel)]="searchText" name="searchData"
          (keyup)="searchDatabase()" style="padding: 10px;">
      </div>
    </div>
    <section>

      <div class="table table-responsive table-made">
        <table>
          <thead>
            <tr>
              <th style="text-align: left;" *ngIf="!isProfessional" (click)="sortedData('course_name') ">
                # &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Course &nbsp;
                <i class="fa fa-caret-up" *ngIf="getCaretVisiblity('course_name') && direction == 1"></i>
                <i class="fa fa-caret-down" *ngIf="getCaretVisiblity('course_name') && direction != 1"></i>
              </th>
              <th style="text-align: left;" *ngIf="isProfessional" (click)="sortedData('batch_name') ">
                # &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Batch &nbsp;
                <i class="fa fa-caret-up" *ngIf="getCaretVisiblity('batch_name') && direction == 1"></i>
                <i class="fa fa-caret-down" *ngIf="getCaretVisiblity('batch_name') && direction != 1"></i>
              </th>
              <th style="text-align: left;" (click)="sortedData('standard_name') " *ngIf="isProfessional">
                Master Course &nbsp;
                <i class="fa fa-caret-up" *ngIf="getCaretVisiblity('standard_name') && direction == 1"></i>
                <i class="fa fa-caret-down" *ngIf="getCaretVisiblity('standard_name') && direction != 1"></i>
              </th>
              <th style="text-align: left;" (click)="sortedData('master_course') " *ngIf="!isProfessional">
                Master Course &nbsp;
                <i class="fa fa-caret-up" *ngIf="getCaretVisiblity('master_course') && direction == 1"></i>
                <i class="fa fa-caret-down" *ngIf="getCaretVisiblity('master_course') && direction != 1"></i>
              </th>
              <th *ngIf="!isProfessional" style="text-align: left;" (click)="sortedData('standard_name') ">
                Standard &nbsp;
                <i class="fa fa-caret-up" *ngIf="getCaretVisiblity('standard_name') && direction == 1"></i>
                <i class="fa fa-caret-down" *ngIf="getCaretVisiblity('standard_name') && direction != 1"></i>
              </th>
              <th *ngIf="isProfessional" style="text-align: left;" (click)="sortedData('subject_name') ">
                Course &nbsp;
                <i class="fa fa-caret-up" *ngIf="getCaretVisiblity('subject_name') && direction == 1"></i>
                <i class="fa fa-caret-down" *ngIf="getCaretVisiblity('subject_name') && direction != 1"></i>
              </th>
              <th *ngIf="!isProfessional" style="text-align: left;" (click)="sortedData('subjects') ">
                Subjects &nbsp;
                <i class="fa fa-caret-up" *ngIf="getCaretVisiblity('subjects') && direction == 1"></i>
                <i class="fa fa-caret-down" *ngIf="getCaretVisiblity('subjects') && direction != 1"></i>
              </th>
              <th style="text-align: right;" (click)="sortedData('start_date') ">
                Start Date &nbsp;
                <i class="fa fa-caret-up" *ngIf="getCaretVisiblity('start_date') && direction == 1"></i>
                <i class="fa fa-caret-down" *ngIf="getCaretVisiblity('start_date') && direction != 1"></i>
              </th>
              <th style="text-align: right;" (click)="sortedData('end_date') ">
                End Date &nbsp;
                <i class="fa fa-caret-up" *ngIf="getCaretVisiblity('end_date') && direction == 1"></i>
                <i class="fa fa-caret-down" *ngIf="getCaretVisiblity('end_date') && direction != 1"></i>
              </th>
            </tr>
          </thead>
          <tbody *ngIf="newPaginated!=0">
            <tr *ngFor="let i of newPaginated ; let j=index;">
              <td *ngIf="!isProfessional" style="text-align: left;  padding:5px 0px 10px 5px; ">
                <div class="field-checkbox-wrapper"
                  style="display: inline-block;margin-top: 5px; height:16px; margin-right: 10px;">
                  <input type="checkbox" class="form-checkbox" name={{i.course_id}} id={{i.course_id}}
                    [(ngModel)]="i.status" (ngModelChange)="notifyMe(j)" style="height:15px; margin-right: 10px;">
                  <label for={{i.course_id}}></label>
                </div>
                {{i.course_name}}
              </td>
              <td *ngIf="isProfessional" style="text-align: left; padding:5px 0px 10px 5px; ">
                <div class="field-checkbox-wrapper"
                  style="display: inline-block;margin-top: 5px; height:16px; margin-right: 10px;">
                  <input type="checkbox" class="form-checkbox" name={{i.batch_id}} id={{i.batch_id}}
                    [(ngModel)]="i.status" (ngModelChange)="notifyMe(j)">
                  <label for={{i.batch_id}}></label>
                </div>
                {{i.batch_name}}
              </td>
              <td *ngIf="!isProfessional" style="text-align: left;">
                {{i.master_course}}
              </td>
              <td *ngIf="isProfessional" style="text-align: left;">
                {{i.standard_name}}
              </td>
              <td *ngIf="!isProfessional" style="text-align: left;">
                {{i.standard_name}}
              </td>
              <td *ngIf="!isProfessional" style="text-align: left;">
                {{i.subjects}}
              </td>
              <td *ngIf="isProfessional" style="text-align: left;">
                {{i.subject_name}}
              </td>
              <td style="text-align: right;">
                {{i.start_date}}
              </td>
              <td style="text-align: right;">
                {{i.end_date}}
              </td>
            </tr>
            <tr *ngIf="isProfessional">
              <td>

              </td>
              <td>

              </td>
              <td>

              </td>
              <td>

              </td>
              <td>
                <input type="button" class="btn fullBlue" value="Delete" (click)="archiveData($event)"
                  style="float: right;">
              </td>

            </tr>
            <tr *ngIf="!isProfessional">
              <td>

              </td>
              <td>

              </td>
              <td>

              </td>
              <td>

              </td>
              <td>

              </td>
              <td>
                <input type="button" class="btn fullBlue" value="Delete" (click)="archiveData($event)"
                  style="float: right;">
              </td>

            </tr>
          </tbody>
          <tbody *ngIf="newPaginated.length == 0 && dataStatus === true">
            <tr *ngFor="let dummy of dummyArr">
              <td *ngFor="let c of columnMaps" style="padding:10px;">
                <div class="skeleton">
                </div>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="newPaginated.length == 0 && dataStatus === false" class="records">
            <tr>
              <td colspan="6" class="records">
                No Records Found
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row filter-res pagination" style="width: 100%;">
        <div class="c-lg-12 c-md-12 c-sm-12 align-right">
          <pagination (goPage)="fetchTableDataByPage($event)" (goNext)="fetchNext()" (goPrev)="fetchPrevious()"
            [pagesToShow]="10" [page]="PageIndex" [perPage]="pagedisplaysize" [count]="totalRow">
          </pagination>
        </div>
      </div>
      <!-- </div> -->
    </section>
  </aside>
</div>