<mat-toolbar class="tool mattoolbar" id="topMenu">
  <div>
    <div class="buttonDiv" (click)="toggler('logoImage', '200', '50', 'Logo', pageModel.logo_url)"
      [ngClass]="activeSession.id === 'logoImage' ? ' activeSession' : ' '">
      <div>
        <a mat-button>
          <span>Logo</span>
        </a>
      </div>
    </div>

    <div class="buttonDiv" (click)="toggler('faviconImage', '32', '32', 'Favicon', pageModel.favicon_url)"
      [ngClass]="activeSession.id === 'faviconImage' ? ' activeSession' : ' '">
      <a mat-button>
        <span>Favicon</span>
      </a>
    </div>

    <div class="buttonDiv" (click)="toggler('aboutUsImage', '512', '512', 'About Us', pageModel.about_us_url)"
      [ngClass]="activeSession.id === 'aboutUsImage' ? ' activeSession' : ' '">
      <a mat-button>
        <span>About Us Image</span>
      </a>
    </div>

    <!-- <div class="buttonDiv" (click)="toggler('bannerImage', '512 w * 512 h Pixel', 'Banner', pageModel.banner_url)"
      [ngClass]="activeSession.id === 'bannerImage' ? ' activeSession' : ' '">
      <a mat-button>
        <span>Banner</span>
      </a>
    </div> -->

    <div class="buttonDiv" (click)="toggler('popUpImage', '512', '512', 'Popup', pageModel.pop_up_image_url)"
      [ngClass]="activeSession.id === 'popUpImage' ? ' activeSession' : ' '">
      <a mat-button>
        <span>Popup Image</span>
      </a>
    </div>
  </div>
</mat-toolbar>


<section class="middle-main clearFix" id="bulkEnquiryMain">
  <div class="file-upload-box">
    <div class="select-file-upload">
      <div class="h5">
        <div style="float: left;">
      <h5>Upload {{activeSession.name}} image here

        <span *ngIf="activeSession.id != 'logoImage'">(Size (Width * Height) : {{activeSession.width}}px * {{activeSession.height}}px)</span>
        <span *ngIf="activeSession.id == 'logoImage'">(Size (Width * Height) : 200px * 50px OR 50px * 50px)</span>
      </h5>
      </div>
      <div style="text-align: right;">
        <span style="font-weight: 600;">Note:</span> For image resizing refer <a href="https://imageresizer.com/" target="_blank">https://imageresizer.com/</a>
      </div>
      </div>
      <div class="">
        <ul>
          <li>
            <!-- accept="application/vnd.ms-excel" -->
            <p-fileUpload #fileUpload customUpload="true" (uploadHandler)="uploadHandler($event, fileUpload)"
              [showCancelButton]="false">
            </p-fileUpload>

            <div class="uploadProcessAndFileName clearfix" *ngIf="isUploadingXls">
              <div class="file-uploaded">
                {{fileLoading}}
              </div>
              <div class="progress-bar-wrapper">
                <div class="upload-bar">
                  <div id="progress-width"></div>
                </div>
                <span>{{progress}} %</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

  </div>

  <div class="col-md-12" style="margin-bottom: 15px;" *ngIf="uploadedImg!='' && uploadedImg!=null">
    <div class="c-md-12" style="padding: 0;margin-top: 1%;margin-right: 5px;">
      <label class="text-bold" style="font-weight: 600;font-size: 12px;margin-left: 15px;"> Uploaded Image</label>
      <img style="width: 120px;vertical-align: middle;margin-left: 25px;height: 80px;" src="{{uploadedImg}}">
    </div>
  </div>
</section>