@import "../../../../assets/css/common/variables.scss";
.mattoolbar{
    position: fixed;
    // z-index: 9999999999;
    background: white;
    width: 89%;
    top: 43px;
    height: 7%;
    border-bottom: 2px solid lightgrey;
}
.mat-button img{
    width: 44%;
}
.tool{
    .spacer {
        flex: 1 1 auto;
    }
    
    .mat-toolbar.mat-primary {
        background: #3f51b5;
        color: #fff;
    }
    
    a,
    span {
        // font-size: 22px;
        font-weight: 600;
        font-size: 12px;
        margin-right: 50px;
        margin-left: 15px;
        color: black;
    }
    
    input {
        color: black;
        margin-right: 40px;
        border-radius: 4px;
        padding: 14px;
        font-size: small;
        background: white;
        width: 61%;
    }
}
.buttonDiv {
    min-width: 20%;
    float: left;
    padding: 15px;
    color: black;
    cursor: pointer;
    padding-bottom: 7px;
    padding-left: 0;
    text-align: center;
}
.activeSession {
    color: #528ff0;
    border-bottom: 5px solid #528ff0;
}
.file-upload-box {
    padding: 35px 20px;
    max-width: 100%;
    margin-right: 20px;
    .h5 {
        margin-top: 10px;
        margin-bottom: 25px;
        font-size: 14px;
    } 
    h5{
        font-size: 14px;
    }
    .select-file-upload {
        ul {
            li {
                label {
                    display: block;
                    font-size: 15px;
                    margin-bottom: 10px;
                }
                .choose-file {
                    position: relative;
                    margin-bottom: 15px;
                    input[type="file"] {
                        opacity: 0;
                        z-index: 1;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        left: 0;
                        top: 0;
                        cursor: pointer;
                    }
                    input[type="text"] {
                        height: 34px;
                        border: 1px solid #ccc;
                        width: 77%;
                        box-sizing: border-box;
                        padding: 5px 10px;
                        font-size: 14px;
                    }
                    .btn {
                        width: 21%;
                        float: right;
                        margin: 0;
                       
                    }
                }
            }
        }
    }
    
    .drag-drop-box {
        margin-top: 50px;
        .dropable-area {
            width: 100%;
            border: 1px solid #ccc;
            height: 150px;
            cursor: pointer;
            text-align: center;
            line-height: 150px;
            font-size: 16px;
            margin-bottom: 10px;
        }
    }
    .file-uploaded {
        margin: 25px 0 30px;
        font-weight: 600;
        font-size: 16px;
        span {
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;
            svg {
                margin-right: 10px;
                width: 15px;
                .cls-1 {
                    stroke: #888;
                    stroke-width: 2;
                }
                &:hover {
                    .cls-1 {
                        stroke: #528ff0;
                    }
                }
            }
        }
    }
}
.progress-bar-wrapper {
    float: left;
    width: 80%;
}

.upload-bar {
    position: relative;
    height: 8px;
    width: 100%;
    background: #ccc;
    border-radius: 0;
    overflow: hidden;
    margin: 10px 0 5px;
    &>div {
        position: absolute;
        height: 100%;
        width: 0%;
        left: 0;
        background: blue;
        top: 0;
        border-radius: 0;
        transition: all 0.5s ease;
    }
}

.cancel-upload {
    float: right;
    cursor: pointer;
    margin: 4px 0 0 0px;
}

.upload-another {
    margin: 15px 0px;
}

.file-wrapper {
    padding-left: 35px;
}

::ng-deep .ui-fileupload {
    width: 100%;
    cursor: pointer;
}

::ng-deep .ui-fileupload-buttonbar {
    background: $header-bg;
    width: 70vw;
}

::ng-deep .ui-fileupload-content {
    min-height: 200px;
    width: 70vw;
    padding: 5px;
    border-top: none;
    border-right: 3px dashed $border-common;
    border-bottom: 3px dashed $border-common;
    border-left: 3px dashed $border-common;
    cursor: pointer;
    &::after {
        content: "Drag & Drop Files Here";
        color: rgba(0, 0, 0, 0.09);
        position: absolute;
        top: 35%;
        left: 25%;
        font-size: 36px;
    }
}