<div #fileHeader class="file row" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)">
  <div class="form-ctrl c-md-1" style="width: 1%;">
    <input type="checkbox" [(ngModel)]="fileObj.res.selected" [disabled]="!fileObj.res.teacher_access" (ngModelChange)="getFilesDeleted(fileObj)" style="-webkit-appearance: checkbox;float: left;" >
  </div>
  <div class="c-md-11" style="padding: 0;width: 96%;">
  <div #fileImage class="file__img" *ngIf="fileObj.res.category_id!=230 && fileObj.res.category_id!=vimeo_category_id"></div>
  <div  #fileImage class="file__img" *ngIf="(fileObj.res.category_id==230 || fileObj.res.category_id == vimeo_category_id) &&(fileObj.res.thumbnail_list==null || (!fileObj.res.thumbnail_list?.length || fileObj.res.thumbnail_list[0].posterUrl==null))"></div>
  <img class="youtube_thumbnail" aria-hidden="true" *ngIf="(fileObj.res.category_id==230 || fileObj.res.category_id == vimeo_category_id) && (fileObj.res.thumbnail_list!=null && fileObj.res.thumbnail_list?.length && fileObj.res.thumbnail_list[0].posterUrl!=null)" src="{{fileObj.res.thumbnail_list[0].posterUrl}}">
  <div class="file__info" *ngIf="fileDisplayArr.length!=0">
    <h2 class="file__title" title="{{getOriginalFileName(fileObj.res.file_name)}} {{fileObj.res.category_id==vimeo_category_id ? '(' + fileObj.res.video_status + ')' : ''}}">
      {{getOriginalFileName(fileObj.res.file_name)}}
      <span *ngIf="fileObj.res.category_id==vimeo_category_id"> ({{fileObj.res.video_status}})</span>
    </h2>

    <div class="file__made" title="{{fileObj.res.category_name}}">
      {{fileObj.res.category_name}}
    </div>

    <div class="file__details file__owner">{{fileObj.res.uploadedBy}}</div>

    <div class="file__details file__date">{{fileObj.res.uploaded_time}}</div>

    <div class="file__details file__size">{{fileObj.res.size}} MB</div>

    <div class="file__details">{{fileObj.res.downloads}}</div>

    <!-- <i class="fa fa-trash" style="font-size: 17px;  color: red;" title="Delete File" *ngIf="fileObj.res.user_type!=3" (click)="getFilesDeleted(fileObj)"></i> -->
    <i class="fa fa-edit" style="font-size: 15px;  color: #0084f6;" title="Edit File" *ngIf="fileObj.res.category_id==230 || fileObj.res.category_id==vimeo_category_id" (click)="editYoutubeUrl(fileObj)"></i>
    <i class="fa fa-share-alt" style="font-size: 17px; color: #0084f6; margin-left: 1%;" title="Share File" (click)="getPopupOpen(fileObj)" *ngIf="!(fileObj.res.category_id==vimeo_category_id && fileObj.res.video_status != 'ready')"></i>
    <a class="fa fa-download" style="font-size: 17px; color: #0084f6; margin-left: 1%;" *ngIf="fileObj.res.category_id!=230 && fileObj.res.teacher_access && fileObj.res.category_id!=vimeo_category_id" title="Download File" (click)="getFileDownloaded(fileObj);"
      id="downloadFile" ></a>
      <!-- Changes done by Nalini to download vimeo file -->
      <a class="fa fa-download" style="font-size: 17px; color: #0084f6; margin-left: 1%;" *ngIf="(fileObj.res.category_id==vimeo_category_id && vimeo_video_downlodable)" title="Download File" (click)="getFileDownloaded(fileObj);"
      id="downloadFile" ></a>
    <a [href]='fileURL' id="downloadFileClick" class="hide" ></a>
    <a class="fa fa-play" style="font-size: 17px; color: #0084f6; margin-left: 1%;" *ngIf="fileObj.res.category_id==230" title="Play" (click)="getYoutubeLink(fileObj);"
      id="downloadFile" ></a>
    <a class="fa fa-play" style="font-size: 17px; color: #0084f6; margin-left: 1%;" *ngIf="fileObj.res.category_id==vimeo_category_id" title="Play" (click)="getVimeoVideo(fileObj);"
      id="downloadFile" ></a>
  </div>
</div>
  <!-- <div *ngIf="fileDisplayArr.length == 0" class="file__info">
    <h2 class="file__title">
      No Files Found !!
    </h2>
  </div> -->

</div>