<!--add tag master modal-->
<div class="modal fade" id="addTag" role="dialog" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Create Master Tag</h3>
      </div>
      <div class="modal-body">
        <div class="field-wrapper">
          <label>Tag Name<span class="text-danger">*</span></label>
          <div class="dropdown-div pt-2">
            <input class="tags-dropdown" type="text" [(ngModel)]="newTagName" placeholder=" Enter Tag Name" />
          </div>
        </div>
        <div class="field-wrapper">
          <label>Description</label>
          <div class="dropdown-div pt-2">
            <input class="tags-dropdown" type="text" [(ngModel)]="newTagDescription" placeholder=" Enter Description" />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary create-btn" (click)="createMasterTag()">Create</button>
      </div>
    </div>

  </div>
</div>

<div class="clear-fix">
  <!-- breadcrumb -->
  <section class="middle-top clearFix bulk-header">
    <div>
      <h1 class="pull-left" style="margin-bottom: 0;">
        <!-- <a routerLink="/view/course" *ngIf="!jsonFlag.isProfessional" style="padding:0px; ">
          Course
        </a>
        <a routerLink="/view/batch" *ngIf="jsonFlag.isProfessional" style="padding:0px; ">
          Batch
        </a>
        <i style="font-family: 'FontAwesome';" class="fas fa-angle-right"></i> -->
        <a routerLink="/view/{{jsonFlag.type}}/online-assignment" style="padding:0px; ">
          Assignments
        </a>
        <i style="font-family: 'FontAwesome';" class="fas fa-angle-right"></i>
        <span>Manage Assignment</span>
      </h1>
    </div>
  </section>

  <section>
    <div class="manage-assignment-container">

      <div class="assignment-details">
        <div class="assignment-details-item" style="flex-direction: column;">
          <label for="tags" style="font-size: 12px; margin-top:10px; margin-right: 10px;">Title<span
              class="danger">*</span></label>
          <input type="text" name="" class="assignment-input" value="" [(ngModel)]="assignmentDetails.title"
            placeholder="Assignment Title">
        </div>
        <div class="assignment-details-item" style="flex-direction: column;">
          <label for="tags" style="font-size: 12px; margin-top:10px; margin-right: 10px;">Description</label>
          <textarea name="name" class="assignment-textarea" style="height: 85px;" rows="5" [(ngModel)]="assignmentDetails.description"
            placeholder="Description" cols="78"></textarea>
        </div>
        <!-- <div class="assignment-details-item field-wrapper tags">
          <label for="tags" style="font-size: 12px; margin-top:5px; margin-right: 10px;">
            Tags
            <div class="questionInfo inline-relative" style="left:0%;top:5px;">
              <span class="qInfoIcon i-class">i</span>
              <div class="tooltip-box-field md">
                Tags will help you
                <br> in searching particular
                <br> assignments later on
              </div>
            </div>
          </label>
          <ng-multiselect-dropdown class="container dropdown"
            [placeholder]="'Select Tags(s)'"
            [data]="tagList"
            [settings]="tagsListSettings"
            [(ngModel)]="selectedTagsList" >
          </ng-multiselect-dropdown>
          <button type="button" name="button" class="manage-assignment-btn" data-target="#addTag" data-toggle="modal">
            <i class="fa fa-plus" aria-hidden="true" style="color: #0084f6;"></i>&nbsp;
            Add Tags</button>
        </div> -->
        <div class="assignment-details-item">
          <div class="field-checkbox-wrapper">
            <input type="checkbox" value="" class="form-checkbox" id="marks" [(ngModel)]="assignmentDetails.marks"
              (ngModelChange)="toggleMarks($event)">
            <label for="marks">
              Evaluation required
            </label>
            <div class="questionInfo inline-relative" style="position: absolute;left: 100%;top: 0;">
              <span class="qInfoIcon i-class" style="line-height: 17px;">i</span>
              <div class="tooltip-box-field md">
                Choose this to
                <br> specify the evaluation
                <br> marks for this
                <br> assignment
              </div>
            </div>
          </div>
          <div class="field-radio-wrapper" style="margin-left: 5%;padding-left: 5px;width: 115px;" *ngIf="showMarks">
            <input type="radio" value="false" style="-webkit-appearance: radio;" class="form-checkbox" id="enable_grade"
              [(ngModel)]="assignmentDetails.enable_grade">
            <label for="enable_grade">
              Enable marks
            </label>
          </div>
          <div class="field-radio-wrapper" style="margin-left: 5%;padding-left: 5px;width: 115px;" *ngIf="showMarks">
            <input type="radio" value="true" style="-webkit-appearance: radio;" class="form-checkbox" id="enable_grade"
              [(ngModel)]="assignmentDetails.enable_grade">
            <label for="enable_grade">
              Enable Grade
            </label>
          </div>
          <div class="marks-container" *ngIf="showMarks && assignmentDetails.enable_grade=='false'">
            <input type="number" name="" value="" placeholder="Enter marks"
              [(ngModel)]=assignmentDetails.evaluation_marks>
          </div>
        </div>

        <div class="assignment-details-item " style="flex-direction: row;">
          <div class="date-time field-wrapper datePickerBox">
            <label for="state-date" style="font-size: 12px;">Start Date & Time<span class="danger">*</span></label>
            <input type="text" value="" id="state-date" class="form-ctrl widgetDatepicker bsDatepicker datepicker1"
              [(ngModel)]="assignmentDetails.startDate" style="padding: 6px;" readonly="true" name="payment-date"
              [disabled]="assignmentDetails.assignment_status == 'Published'" placeholder="Date" bsDatepicker />
            <div>
              <select class="made-out" id="from1" [(ngModel)]="assignmentDetails.startHr"
                [disabled]="assignmentDetails.assignment_status == 'Published'"
                (ngModelChange)="getEventHourFrom($event)">
                <option value="" disabled selected="selected" hidden>HH</option>
                <option *ngFor="let i of hour" [value]="i">
                  {{i}}
                </option>
              </select>
              <select class="made-out" id="from2" style="margin-left:10px;" [(ngModel)]="assignmentDetails.startMin"
                [disabled]="assignmentDetails.assignment_status == 'Published'"
                (ngModelChange)="getEventHourFrom($event)">
                <option value="" disabled selected="selected" hidden>MM</option>
                <option [value]="i" *ngFor="let i of minutes">
                  {{i}}
                </option>
              </select>
            </div>
          </div>

          <div class="date-time field-wrapper datePickerBox">
            <label for="end-date" style="font-size: 12px;">Due Date & Time<span class="danger"></span></label>
            <input type="text" value="" id="end-date" class="form-ctrl widgetDatepicker bsDatepicker datepicker1"
              [(ngModel)]="assignmentDetails.endDate" style="padding: 6px;" readonly="true" name="payment-date"
              placeholder="Date" bsDatepicker />
            <div>
              <select class="made-out" id="from1" [(ngModel)]="assignmentDetails.endHr"
                (ngModelChange)="getEventHourFrom($event)">
                <option value="" disabled selected="selected" hidden>HH</option>
                <option *ngFor="let i of hour" [value]="i">
                  {{i}}
                </option>
              </select>
              <select class="made-out" id="from2" style="margin-left:10px;" [(ngModel)]="assignmentDetails.endMin"
                (ngModelChange)="getEventHourFrom($event)">
                <option value="" disabled selected="selected" hidden>MM</option>
                <option [value]="i" *ngFor="let i of minutes">
                  {{i}}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="assignment-details-item field-wrapper EvaluationDate datePickerBox" style="flex-direction: column;">
          <label for="tags" style="font-size: 12px; margin-top:10px; margin-right: 10px;">Evaluation Date <span
              class="text-danger">*</span>
            <div class="questionInfo inline-relative" style="left:0%;top:5px;">
              <span class="qInfoIcon i-class">i</span>
              <div class="tooltip-box-field md">
                We can specify the Evaltion
                Date for Assignment ,This
                date will be visible to Students
              </div>
            </div>
          </label>
          <input type="text" value="" id="state-date" class="form-ctrl widgetDatepicker bsDatepicker datepicker1"
            [(ngModel)]="assignmentDetails.evaluation_date" style="padding: 6px;" readonly="true" name="payment-date"
            placeholder="Date" bsDatepicker />
        </div>

        <div class="assignment-details-item">
          <div class="field-checkbox-wrapper">
            <input type="checkbox" value="" class="form-checkbox" id="late-submission"
              [(ngModel)]="assignmentDetails.lateSubmission">
            <label for="late-submission">Allow late submission</label>
          </div>
        </div>
        <div *ngIf="assignmentDetails.lateSubmission"
          class="assignment-details-item field-wrapper EvaluationDate datePickerBox" style="flex-direction: column;">
          <label for="tags" style="font-size: 12px; margin-top:10px; margin-right: 10px;">Late Submission Date</label>
          <input type="text" value="" id="state-date" class="form-ctrl widgetDatepicker bsDatepicker datepicker1"
            [(ngModel)]="assignmentDetails.assignment_late_submission_date" style="padding: 6px;" readonly="true"
            name="payment-date" placeholder="Date" bsDatepicker />
        </div>
        <div class="assignment-details-item field-wrapper">
          <label for="uploadFileControl" style="font-size: 12px;margin-top: 7px;">Upload Assignment</label>
          <input type="file" class="form-ctrl upload-file" id="uploadFileControl" name="uploadFileBox" accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,
          text/plain, application/pdf, image/*" [(ngModel)]="upFile" />
          <button type="button" name="button" class="upload-docs-btn" (click)="fillFiles()">Upload</button>
        </div>
        <div style="margin-left: 118px;font-size: 12px;">Allowed Formats: pdf, doc, docx, xls, xlsx, csv, txt, jpg,
          jpeg, png, gif (Max Upto 15MB)
        </div>

        <div class="assignment-details-item field-wrapper">
          <input type="text" name="" class="assignment-input url" value="" placeholder="Link Title"
            [(ngModel)]="urlDetails.name">
          <input type="text" name="" class="assignment-input url" value="" placeholder="Provide Link"
            style="margin-left: 10px;" [(ngModel)]="urlDetails.url">
          <button type="button" name="button" class="upload-docs-btn" (click)="uploadURL()">Add</button>
        </div>

        <!-- used while createing assignmnet -->
        <div class="attachment-container">
          <div class="link-attachment-container" *ngIf="assignmentDetails?.urlLists.length > 0">
            <div class="link-attachment-item" *ngFor="let url of assignmentDetails.urlLists">
              <i class="fa fa-globe" aria-hidden="true"></i>
              <span>{{url.display_name}}</span>
              <i class="fa fa-times" aria-hidden="true" (click)="removeLink(url.display_name)" style="color:red;"></i>
            </div>
          </div>
          <div class="file-attachment-container">
            <div class="file-attachment-item" *ngFor="let file of fileArray">
              <i class="fa fa-file" aria-hidden="true"></i>
              <span title="{{file.fileName}}">{{ (file.fileName.length > 30) ? (file.fileName | slice:0:30) + '...' : file.fileName }}
                .{{file.fileType}}</span>
              <i class="fa fa-times" aria-hidden="true" (click)="removeFile(file.name)" style="color:red;"></i>
            </div>
          </div>
        </div>

        <!-- Used for Edit assignment -->
        <div class="attachment-container" *ngIf="sectionName == 'Edit'">
          <div class="link-attachment-container" *ngIf="editUrlList?.length > 0">
            <div class="link-attachment-item" *ngFor="let url of editUrlList">
              <i class="fa fa-globe" aria-hidden="true"></i>
              <span>{{url.attachment_display_name}}</span>
              <i class="fa fa-times" aria-hidden="true" (click)="removeOldLink(url.attachment_display_name)"
                style="color:red;"></i>
            </div>
          </div>
          <div class="file-attachment-container" *ngIf="editAttachmentList?.length > 0">
            <div class="file-attachment-item" *ngFor="let file of editAttachmentList">
              <i class="fa fa-file" aria-hidden="true"></i>
              <span title="{{file.attachment_name}}">{{ (file.attachment_name.length > 50) ? (file.attachment_name | slice:0:50) + '...' : file.attachment_name }}</span>
              <i class="fa fa-times" aria-hidden="true" (click)="removeOldFile(file.file_id)" style="color:red;"></i>
            </div>
          </div>
        </div>


      </div>

      <div class="course-details">
        <!-- For Course Model -->
        <div class="course-details-item field-wrapper" *ngIf="!this.jsonFlag.isProfessional && !schoolModel">
          <label for="" style="font-size: 12px;">{{schoolModel ? 'Standard' : 'Master Course'}}<span class="danger">*</span></label>
          <select class="course-input" name="" [(ngModel)]="assignmentDetails.masterCourse"
            [disabled]="assignmentDetails.assignment_status == 'Published'" (ngModelChange)="getCourses()">
            <option value="-1">Select {{schoolModel ? 'Standard' : 'Master Course'}}</option>
            <option [value]="master.master_course" *ngFor="let master of masterCourseList">
              {{ (master.master_course.length > 30) ? (master.master_course | slice:0:30) + '...' : master.master_course }}
            </option>
          </select>
        </div>
        <div class="course-details-item field-wrapper" *ngIf="!this.jsonFlag.isProfessional && schoolModel">
          <label for="" style="font-size: 12px;">Standard<span class="danger">*</span></label>
          <select class="course-input" name="" [(ngModel)]="assignmentDetails.standard_id"
            [disabled]="assignmentDetails.assignment_status == 'Published'" (ngModelChange)="getCourseList($event)">
            <option value="-1">Select Standard</option>
            <option [value]="master.standard_id" *ngFor="let master of masterCourseList">
              {{ (master.standard_name.length > 30) ? (master.standard_name | slice:0:30) + '...' : master.standard_name }}
            </option>
          </select>
        </div>
        <div class="course-details-item field-wrapper" *ngIf="!this.jsonFlag.isProfessional">
          <label for="" style="font-size: 12px;">{{schoolModel ? 'Section' : 'Course'}}<span class="danger">*</span></label>
          <select class="course-input" name="" [(ngModel)]="assignmentDetails.course"
            [disabled]="assignmentDetails.assignment_status == 'Published'" (ngModelChange)="getSubjects()">
            <option value="-1">Select {{schoolModel ? 'Section' : 'Course'}}</option>
            <option [value]="course.course_id" *ngFor="let course of courseList">
              {{ (course.course_name.length > 30) ? (course.course_name | slice:0:30) + '...' : course.course_name }}
            </option>
          </select>
        </div>
        <div class="course-details-item field-wrapper" *ngIf="!this.jsonFlag.isProfessional">
          <label for="" style="font-size: 12px;">Subject<span class="danger"></span></label>
          <select class="course-input" name="" [(ngModel)]="assignmentDetails.subject" (ngModelChange)="getTopic()">
            <option value="-1">Select Subject</option>
            <option [value]="subject.subject_id" *ngFor="let subject of subjectList">
              {{ (subject.subject_name.length > 30) ? (subject.subject_name | slice:0:30) + '...' : subject.subject_name }}
            </option>
          </select>
        </div>

        <!-- For Batch model -->
        <div class="course-details-item field-wrapper" *ngIf="this.jsonFlag.isProfessional">
          <label for="" style="font-size: 12px;">Master Course<span class="danger">*</span></label>
          <select class="course-input" name="" [(ngModel)]="assignmentDetails.masterCourse"
            (ngModelChange)="updateCoursesList()">
            <option value="-1">Select Master Course</option>
            <option [value]="standard.standard_id" *ngFor="let standard of masterCourseList">{{standard.standard_name}}
            </option>
          </select>
        </div>

        <div class="course-details-item field-wrapper" *ngIf="this.jsonFlag.isProfessional">
          <label for="" style="font-size: 12px;">Course<span class="danger">*</span></label>
          <select class="course-input" name="" [(ngModel)]="assignmentDetails.course"
            (ngModelChange)="updateSubjectsList()">
            <option value="-1">Select Course</option>
            <option [value]="subject.subject_id" *ngFor="let subject of courseList">{{subject.subject_name}}</option>
          </select>
        </div>

        <div class="course-details-item field-wrapper" *ngIf="this.jsonFlag.isProfessional">
          <label for="" style="font-size: 12px;">Batch<span class="danger">*</span></label>
          <select class="course-input" name="" [(ngModel)]="assignmentDetails.batch" (ngModelChange)="getTopic()">
            <option value="-1">Select Batch</option>
            <option [value]="batch.batch_id" *ngFor="let batch of batchList">{{batch.batch_name}}</option>
          </select>
        </div>


        <div class="course-details-item field-wrapper">
          <label for="" style="font-size: 12px;">Topic</label>
          <select class="course-input" name="" [(ngModel)]="assignmentDetails.topic" (ngModelChange)="getSubTopic()">
            <option value="-1">Select Topic</option>
            <option [value]="topic.topicId" *ngFor="let topic of topicList">
              {{ (topic.topicName.length > 30) ? (topic.topicName | slice:0:30) + '...' : topic.topicName }}</option>
          </select>
        </div>
        <div class="course-details-item field-wrapper">
          <label for="" style="font-size: 12px;">Sub Topic</label>
          <select class="course-input" name="" [(ngModel)]="assignmentDetails.subtopic">
            <option value="-1">Select Sub Topic</option>
            <option [value]="topic.topicId" *ngFor="let topic of subTopicList">
              {{ (topic.topicName.length > 30) ? (topic.topicName | slice:0:30) + '...' : topic.topicName }}</option>
          </select>
        </div>
        <div class="course-details-item field-wrapper">
          <label for="" style="font-size: 12px;">Student(s)<span class="danger">*</span></label>
          <ng-multiselect-dropdown class="container dropdown" [placeholder]="'Select Student(s)'" [data]="studentsList"
            [settings]="studentListSettings" [(ngModel)]="selectedStudentList">
          </ng-multiselect-dropdown>
        </div>
        <div class="course-details-item field-wrapper">
          <label for="" style="font-size: 12px;">Teacher<span class="danger">*</span></label>
          <select class="course-input" [disabled]="userType == 3" name="" [(ngModel)]="assignmentDetails.teacher">
            <option value="-1">Select Teacher</option>
            <option [value]="teacher.teacher_id" *ngFor="let teacher of facultyList">
              {{ (teacher.teacher_name.length > 30) ? (teacher.teacher_name | slice:0:30) + '...' : teacher.teacher_name }}
            </option>
          </select>
        </div>
      </div>

    </div>
  </section>

  <footer>
    <div class="action-btn-container" style="padding-right: 2%;">
      <div class="action-btn">
        <button type="button" name="button" class="btn btn-light" (click)="saveAsDraft()">Save as Draft</button>
      </div>
      <div class="action-btn">
        <button type="button" name="button" class="btn btn-primary" (click)="saveAssignment()">Save & Publish</button>
      </div>
    </div>
  </footer>

</div>