.update-enquiry-form {
    max-height: 380px;
    overflow: hidden;
    .date-clear {
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
    }
    ::-webkit-scrollbar {
        display: block;
        width: 7px;
        height: 7px;
    }
    .right-aside-wrapper {
        width: 38%;
        max-height: 360px;
        overflow-x: hidden;
        overflow-y: scroll;
        ::-webkit-scrollbar {
            display: block;
            width: 7px;
            height: 7px;
        }
        .row {
            margin: 10px 5px 20px;
        }
        .form-wrapper {
            .submitter {
                position: absolute;
                right: 41px;
                bottom: 41px;
            }
        }
    }
    .left-aside-wrapper {
        width: 60%;
        max-height: 360px;
        overflow: auto;
        &.table-wrapper {
            h4 {
                margin: 0px 0 15px;
                font-weight: 600;
            }
            .enquiry-update-history {
                /* min-height: 370px;
                max-height: 400px;
                overflow-y: auto;
                overflow-x: hidden; */
                ::-webkit-scrollbar {
                    display: block;
                    width: 7px;
                    height: 7px;
                }
            }
            table {
                th {
                    text-align: left;
                    padding: 10px;
                    font-size: 14px;
                }
                td {
                    text-align: left;
                    padding: 10px;
                    font-size: 14px;
                }
            }
        }
    }
}

.time-picker {
    .field-wrapper {
        display: inline-block;
        margin: 5px 10px 0px 0px;
        .form-ctrl {
            width: 70px;
        }
    }
}

.form-wrapper {
    background: transparent;
    margin: 5px 0px;
    &.datepicker {
        span {
            position: absolute;
            top: 35px;
            right: 20px;
            font-weight: 600;
            font-size: 16px;
            color: red;
            cursor: pointer;
            width: 20px;
            text-align: center;
            /* &::before {
                    content: '';
                    background: url('/assets/images/calendar.svg') no-repeat;
                    position: absolute;
                    right: 25px;
                    top: 0px;
                    width: 21px;
                    height: 21px;
                    z-index: 0;
                } */
        }
    }
    label {
        font-size: 12px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.77);
        padding-bottom: 2px;
        text-decoration: none;
        text-transform: uppercase;
        -webkit-font-smoothing: antialiased;
    }
    .side-form-ctrl {
        background: white;
        border: 1px solid rgba(119, 119, 119, 0.4196078431372549);
        width: 100%;
        padding: 8px 5px;
        font-weight: 600;
        font-size: 14px;
        color: black;
        &.bsDatepicker {
            padding: 5px;
            width: 100%;
        }
    }
    &.timepick {
        width: 50%;
        padding: 1px 15px;
        .tbox {
            width: 100%;
            .times {
                display: inline-block;
            }
            .side-form-ctrl {
                background: white;
                border: 1px solid rgba(119, 119, 119, 0.4196078431372549);
                width: 100%;
                padding: 8px 5px;
                font-weight: 600;
                font-size: 14px;
                color: black;
                &.mins {
                    width: 80px;
                }
                &.mers {
                    width: 50px;
                }
            }
        }
    }
}

.form-wrapper {
    background: transparent;
    margin: 5px 0px;
    &.datepicker {
        span {
            position: absolute;
            top: 35px;
            right: 20px;
            font-weight: 600;
            font-size: 16px;
            color: red;
            cursor: pointer;
            width: 20px;
            text-align: center;
            /* &::before {
                        content: '';
                        background: url('/assets/images/calendar.svg') no-repeat;
                        position: absolute;
                        right: 25px;
                        top: 0px;
                        width: 21px;
                        height: 21px;
                        z-index: 0;
                    } */
        }
    }
    label {
        font-size: 12px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.77);
        padding-bottom: 2px;
        text-decoration: none;
        text-transform: uppercase;
        -webkit-font-smoothing: antialiased;
    }
    .side-form-ctrl {
        background: white;
        border: 1px solid rgba(119, 119, 119, 0.4196078431372549);
        width: 100%;
        padding: 8px 5px;
        font-weight: 600;
        font-size: 14px;
        color: black;
        cursor: context-menu;
        &.bsDatepicker {
            padding: 5px;
            width: 100%;
        }
    }
    &.timepick {
        width: 50%;
        padding: 1px 15px;
        .tbox {
            width: 100%;
            .times {
                display: inline-block;
            }
            .side-form-ctrl {
                background: white;
                border: 1px solid rgba(119, 119, 119, 0.4196078431372549);
                width: 100%;
                padding: 8px 5px;
                font-weight: 600;
                font-size: 14px;
                color: black;
                &.mins {
                    width: 80px;
                }
                &.mers {
                    width: 50px;
                }
            }
        }
    }
}