<div class="clearFix" style="padding-right: 1%;">
  <aside class="middle-full" style="padding: 1%">
    <h1 class="pull-left" style="padding-bottom: 10px">
      <a routerLink="/view/fee">
        Fees
      </a>
      <i style="font-family: 'FontAwesome';" class="fas fa-angle-right"></i>
      Data-setup
    </h1>
    <section class="middle-main clearFix report-box" style="padding: 0">

      <div class="course-menu-section-container">
        <div class="course-menu-item" routerLink="./fee-type">
          <div class="menu-title">
            <img src="./assets/images/fee/Fee_types.svg" alt="fee types">
            <span>Additional Fee Type</span>
          </div>
          <div class="menu-description">
            <span>Define additional fee types for the institution.</span>
          </div>
        </div>

        <div class="course-menu-item" routerLink="./fee-template">
          <div class="menu-title">
            <img src="./assets/images/fee/Fee_template.svg" alt="fee template">
            <span>Fee Structure</span>
          </div>
          <div class="menu-description">
            <span>Add / Manage Fee Structure to be assigned to students. </span>
          </div>
        </div>

        <div class="course-menu-item" routerLink="./discount-reason">
          <div class="menu-title">
            <img src="./assets/images/fee/discount_reason.svg" alt="discount reason">
            <span> Discount Reason</span>
          </div>
          <div class="menu-description">
            <span>Define discount reasons to be used when giving discounts to students.</span>
          </div>
        </div>


      </div>
    </section>
  </aside>
</div>