@import "../inventory-module.component.scss";
.pt102{
    padding-bottom: 10px;
}
.textarea1{
    height: 68px;
}
.div_11{
    height: 42rem;
}
.hi>div{
    width:31%;
  }
 .hi{
    padding: 10px;
    padding-left: 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
 }  
 