<section class="middle-section clearFix">
  <section class="course-second course">
    <div class="boxPadding15">

      <!-- Expanding Table -->
      <section class="middle-top mb0 clearFix section-header" style="    margin-top: -50px;">
        <!-- <h1 class="pull-left" style="padding-top:15px;">
          Course List
        </h1> -->
        <aside class="headEnq pull-right">
          <div style="display: inline-flex;
          position: absolute;
          top: -12px;">
            <!-- <p-splitButton label="{{selectedRowCount}} Enquiry Selected" [model]="bulkAddItems" *ngIf="selectedRowCount != 0"></p-splitButton> -->
          </div>
          <ul style="display: inline-flex;">
            <li class="btn" routerLink='add' *ngIf="jsonFlags.isShowAddCourse">
              <i class="fa fa-plus" aria-hidden="true"></i>
              &nbsp;
              <!-- changes by Nalini - to handle school model conditions -->
              {{schoolModel ? 'Add Section' :'Add Course'}}
            </li>
          </ul>
        </aside>
      </section>

      <section class="clearFix tableCourseExp calender-view1">
        <div class="tableCourseInn table-responsive ">
          <table>
            <thead>
              <tr>
                <th style="width:25%; text-align: left">
                  <label style="cursor:pointer;" (click)="sortTable('master_course')">{{schoolModel ? 'Standard' : 'Master Course Name'}}</label>
                </th>
                <th style="width:20%">
                  <label style="cursor:pointer;" (click)="sortTable('coursee_names')">{{schoolModel ? 'Section' : ' Course(s)'}}</label>
                </th>
                <th style="width: 10%;font-size: 14px !important;">
                  {{schoolModel ? 'Section' : ' Course'}} End Date
                </th>
                <th style="width:15%">
                  <label style="cursor:pointer;">Academic Year </label>
                </th>
                <th style="width:15%" *ngIf="!schoolModel">
                  <label style="cursor:pointer;" (click)="sortTable('standard_name')">Standard</label>
                </th>
                <th style="width: 5%;">
                  <label style="cursor:pointer;">Total Students </label>
                </th>
                <th style="width:10%;font-size: 14px !important;">Action</th>

              </tr>
            </thead>
            <tbody id="tbodyItem{{i}}" class="table-accor-head" *ngFor="let row of courseList; let i=index;">
              <tr>
                <td colspan="7">
                  <div class="accordian-heading">
                    <h4 class="clearFix ">
                      <span class="close-accor" (click)="toggleTbodyClass(i)">-</span>
                      <span class="open-accor" (click)="toggleTbodyClass(i)">+</span>
                      <span class="date-c" (click)="toggleTbodyClass(i)"
                        style="font-weight: 500;">{{row.master_course}}</span>
                      <span class="pull-right" *ngIf="jsonFlags.isShowAddStudent" routerLink="{{row.master_course}}"
                        style="cursor: pointer;padding-right: 4% !important;text-align: left;">
                        <i class="fa fa-pencil" aria-hidden="true" style="margin-right: 5px;color: #0084f6;"
                          title="Edit"></i>
                      </span>
                    </h4>
                  </div>
                </td>
              </tr>
              <tr id="tbodyView{{i}}" class="hide">
                <td colspan="7">
                  <table>
                    <tbody class="table-accor-view accorInnerTable">
                      <tr *ngFor="let sc of row.coursesList; let y= index;">
                        <td style="width:25%"></td>
                        <td style="width:20%" title="{{'Course Id - '+ sc.course_id}}">{{sc.course_name}}</td>
                        <td style="width: 10%;">{{sc.end_date}}</td>
                        <td style="width:15%">
                          <select class="form-ctrl" [disabled]="true"
                            [ngStyle]="{'background':sc.academic_year_id? 'lightgrey':'','cursor':sc.academic_year_id ? 'not-allowed':''}"
                            [(ngModel)]="sc.academic_year_id">
                            <option value="-1">Select</option>
                            <option *ngFor="let opt of academicList" [value]="opt.inst_acad_year_id">
                              {{opt.inst_acad_year}}
                            </option>
                          </select>
                        </td>
                        <td style="width:15%" *ngIf="!schoolModel">{{row.standard_name}}</td>
                        <td style="width: 5%;">{{sc.total_students}}</td>
                        <td style="width:10%">
                          <div class="action-box ">
                            <a style="cursor:pointer" *ngIf="jsonFlags.isShowAddStudent"
                              (click)="addStudentToBatch(sc, row)">Add Student
                              <!-- <i class="far fa fa-plus-square" style="font-size: 25px" alt="Add Student" title="Add Student"></i> -->
                            </a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="courseList.length == 0 && dataStatus === 1">
              <tr *ngFor="let dummy of dummyArr">
                <td *ngFor="let c of columnMaps">
                  <div class="skeleton">
                  </div>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="(courseList.length ==0 && dataStatus === 2)">
              <tr>
                <td colspan="8" style="text-align:center">
                  No {{schoolModel? 'Section' : 'Course'}} Found
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>

      <!-- Pagination -->

      <div class="row filter-res pagination" style="width: 100%;">
        <div class="c-lg-12 c-md-12 c-sm-12 align-right">
          <pagination (goPage)="fetchTableDataByPage($event)" (goNext)="fetchNext()" (goPrev)="fetchPrevious()"
            [pagesToShow]="10" [page]="PageIndex" [perPage]="displayBatchSize" [count]="totalRow" [sizeArr]="sizeArr"
            (sizeChange)="updateTableBatchSize($event)">
          </pagination>
        </div>
      </div>

    </div>
  </section>
</section>



<!-- =============================================================================== -->
<!-- =============================================================================== -->
<section id="popup" class="popupWrapper fadeIn" *ngIf="addStudentPopUp">
  <div class="popup pos-abs popup-body-container">
    <div class="popup-wrapper pos-rel">
      <span class="closePopup pos-abs fbold show" id="popupCloseBtn" (click)="closeStudentPopup()">
        <svg class="artdeco-icon" focusable="false" height="24px" preserveAspectRatio="xMinYMin meet"
          viewBox="0 0 24 24" width="24px" x="0" y="0">
          <path class="large-icon"
            d="M20,5.32L13.32,12,20,18.68,18.66,20,12,13.33,5.34,20,4,18.68,10.68,12,4,5.32,5.32,4,12,10.69,18.68,4Z"
            style="fill: currentColor"></path>
        </svg>
      </span>
      <div class="popup-content student-assign-popup">
        <div class="row popup-title">
          <h2>{{schoolModel ? 'Section' : 'Course'}} Name :
            <span>{{courseDetails.course_name}}</span>
          </h2>
        </div>

        <div class="row filter-section">
          <div class="c-sm-4 c-md-4 c-lg-4 radio-button" *ngIf="!schoolModel">
            <div class="field-radio-wrapper">
              <input type="radio" name="bothRadio" id="bothRadio" class="form-radio" value="0"
                [(ngModel)]="searchFilter.unassignFlag" (ngModelChange)="onRadioButtonChange()">
              <label for="bothRadio">Both</label>
            </div>
            <div class="field-radio-wrapper">
              <input type="radio" name="assignRadio" id="assignRadio" value="1" class="form-radio"
                [(ngModel)]="searchFilter.unassignFlag" (ngModelChange)="onRadioButtonChange()">
              <label for="assignRadio">Assigned</label>
            </div>
            <div class="field-radio-wrapper">
              <input type="radio" name="unassignStudent" id="unassignStudent" value="2" class="form-radio"
                [(ngModel)]="searchFilter.unassignFlag" (ngModelChange)="onRadioButtonChange()">
              <label for="unassignStudent">UnAssigned</label>
            </div>
          </div>
          <div class="c-sm-6 c-md-6 c-lg-6" style="float: right;">

            <div class="c-sm-6 c-md-6 c-lg-6" *ngIf="!schoolModel">
              <div class="field-wrapper">
                <select class="form-ctrl" [(ngModel)]="searchFilter.standard_id" name="standard" id="standard">
                  <option value="-1">Select Standard</option>
                  <option *ngFor="let opt of standardList" [value]="opt.standard_id">
                    {{opt.standard_name}}
                  </option>
                </select>

              </div>
            </div>

            <div class="c-sm-2 c-md-2 c-lg-2" *ngIf="!schoolModel">
              <button class="btn" (click)="getAllStudentList()">Go</button>
            </div>

            <div class="c-sm-4 c-md-4 c-lg-4">
              <div class="search-filter-wrapper">
                <input #searchVal type="text" class="normal-field" placeholder="Search" id="searchStudent"
                  name="searchData" [(ngModel)]="searchData">
              </div>
            </div>

          </div>
        </div>

        <div *ngIf="showTable">
          <div class="table-wrapper">
            <table>
              <thead>
                <th>
                  <div class="field-checkbox-wrapper">
                    <input #idSelectAll type="checkbox" class="form-checkbox" [(ngModel)]="allChecked"
                      (click)="selectAllCheckBox(idSelectAll)">
                    <!-- [attr.disabled] = "searchFilter.unassignFlag == 1 ? 'disabled' : null" -->
                    <label></label>
                  </div>
                </th>
                <th>
                  ID
                </th>
                <th>
                  Country
                </th>
                <th>
                  Name
                </th>
                <th>
                  Contact No.
                </th>
                <th>
                  Standard Class
                </th>
                <th>
                  Academic Year
                </th>
                <!-- <th>
                  Fee Template
                </th> -->
              </thead>
              <tbody>
                <tr id="row{{i}}" *ngFor="let row of (studentList | searchPipe:searchData); let i = index; trackBy: i;">
                  <td>
                    <div class="field-checkbox-wrapper">
                      <input type="checkbox" id="studentcheck{{row.student_id}}" class="form-checkbox"
                        [(ngModel)]="row.assigned"> <!-- [disabled]="row.immutableKey" -->
                      <label></label>
                    </div>
                  </td>
                  <td>
                    {{row.student_disp_id}}
                  </td>
                  <td [title]="row.country_name">
                    {{row.country_code}}
                  </td>
                  <td>
                    {{row.student_name}}
                  </td>
                  <td>
                    {{row.student_phone}}
                  </td>
                  <td>
                    {{row.student_class}}
                  </td>
                  <td>
                    <div class="field-wrapper">
                      <select class="form-ctrl" [disabled]="true"
                        [ngStyle]="{'background':courseDetails.academic_year_id? 'lightgrey':'','cursor':courseDetails.academic_year_id ? 'not-allowed':''}"
                        [(ngModel)]="courseDetails.academic_year_id" style="background: transparent">
                        <option value="-1">Select</option>
                        <option *ngFor="let opt of academicList" [value]="opt.inst_acad_year_id">
                          {{opt.inst_acad_year}}
                        </option>
                      </select>
                    </div>
                  </td>
                  <!-- <td>
                    <div class="field-wrapper">
                      <select class="form-ctrl" [disabled]="row.immutableKey" [(ngModel)]="row.assigned_fee_template_id"
                        style="background: transparent">
                        <option value="-1">Select</option>
                        <option *ngFor="let opt of setDefaultTemplate(row.country_id,feeTemplateDataSource,row)"
                          [value]="opt.template_id">
                          <label title="{{opt.template_name}}">
                            {{ (opt.template_name.length > 20) ? (opt.template_name | slice:0:20) + '...' :opt.template_name }}
                          </label>
                        </option>
                      </select>
                    </div>
                  </td> -->
                </tr>
                <tr *ngIf="(studentList.length == 0)">
                  <td colspan="9">
                    No Student Details Found
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row btn-section" style="margin: 10px 10px 0 0;">
            <button class="btn fullBlue pull-right" (click)="saveChanges()">Save</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section [hidden]="alertBox">
  <div class="confirmation_popup">
    <div class="confirm_title">
      <i class="fa fa-exclamation-triangle" aria-hidden="true" style="color: rgba(255,0,0,0.7);"></i> &nbsp;
      <span>Alert</span>
    </div>
    <div class="confirmation_msg_box">
      <span id="confirm_msg">Do you wish to unassign student from the course?</span>
    </div>
    <br>
    <div class="field-checkbox-wrapper">
      <input type="checkbox" id="delete_unpaid_fee" name="batch" [(ngModel)]="delete_unpaid_fee" class="form-checkbox">
      <label> Delete unpaid fees installments</label>
    </div>
    <div class="confirmation_button_container">
      <input type="button" value="Yes" class="btn" (click)="unassign_course()">
      <input type="button" value="No" class="btn" (click)="closeAlert()">
      <!-- <input type="button" value="Cancel" class="btn" (click)="closeAlert()"> -->
    </div>
  </div>
</section>

<div class="black-bg" id="black-bg" [hidden]="alertBox" (click)="closeAlert()">

</div>