.fee-definations {
    width: 100%;
    // max-height: 400px;
    // overflow: hidden;
    border-top: 2px solid rgba(119, 119, 119, 0.12);
    ::-webkit-scrollbar {
        display: block;
    }
    .fee-container {
        padding-top: 10px;
        // max-height: 400px;
        // overflow-x: hidden;
        // overflow-y: auto;
        ul {
            li {
                a {
                    cursor: pointer;
                }
            }
        }
        .installment-container {
            box-shadow: 0px 1px 3px 0px rgba(38, 0, 0, 0.2);
            .installment-header {
                background: #efefef;
                padding: 10px;
                font-size: 14px;
                font-weight: 600;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
            .installment-adder {
                background: #efefef;
                padding: 20px 5px 10px 5px;
                ul {
                    li {
                        display: inline-flex;
                        width: 17%;
                        margin: 0px 10px;
                        .form-wrapper {
                            position: relative;
                            background: transparent;
                            margin: 0px;
                            border: none;
                            padding: 0;
                            &.datePickerBox {
                                .bsDatepicker {
                                    cursor: pointer;
                                    position: relative;
                                    z-index: 1;
                                    background: transparent;
                                    width: 95%;
                                }
                                &:after {
                                    content: '';
                                    background: url("../../../../assets/images/calendar.svg") no-repeat;
                                    position: absolute;
                                    right: 13px;
                                    top: 15px;
                                    width: 21px;
                                    height: 21px;
                                    z-index: 0;
                                }
                            }
                            .date-clear {
                                position: absolute;
                                right: 60%;
                                top: 50px;
                                cursor: pointer;
                                color: #0084f6;
                            }
                            .form-ctrl {
                                background: transparent;
                            }
                            &.datepicker {
                                span {
                                    position: absolute;
                                    top: 30px;
                                    right: 20px;
                                    font-weight: 300;
                                    color: red;
                                    cursor: pointer;
                                }
                            }
                            label {
                                font-size: 12px;
                                font-weight: 400;
                                width: 100%;
                                display: block;
                                color: black;
                                text-decoration: none;
                                text-shadow: none;
                                -webkit-font-smoothing: antialiased;
                            }
                            .form-ctrl {
                                background: transparent;
                                border: 1px solid rgba(119, 119, 119, 0.4196078431372549);
                                border-radius: 5px;
                                width: 100%;
                                display: block;
                                padding: 0px 5px;
                                font-weight: 600;
                                font-size: 12px;
                                color: black;
                                height: 25px;
                                &.bsDatepicker {
                                    padding: 0px 5px;
                                }
                            }
                            &.timepick {
                                .form-ctrl {
                                    background: transparent;
                                    border: 1px solid rgba(119, 119, 119, 0.4196078431372549);
                                    width: 100%;
                                    padding: 8px 5px;
                                    font-weight: 600;
                                    font-size: 14px;
                                    color: black;
                                }
                            }
                        }
                    }
                }
            }
            .installment-table {
                ul {
                    li {
                        display: inline-flex;
                    }
                    .form-wrapper {
                        position: relative;
                        background: transparent;
                        margin: 0px;
                        border: none;
                        padding: 0;
                        width: 100%;
                        &.datePickerBox {
                            .bsDatepicker {
                                cursor: pointer;
                                position: relative;
                                z-index: 1;
                                background: transparent;
                                width: 95%;
                            }
                            &:after {
                                content: '';
                                background: url("../../../../assets/images/calendar.svg") no-repeat;
                                position: absolute;
                                right: 9px;
                                top: 1px;
                                width: 21px;
                                height: 21px;
                                z-index: 0;
                            }
                        }
                        .date-clear {
                            position: absolute;
                            right: 60%;
                            top: 50px;
                            cursor: pointer;
                            color: #0084f6;
                        }
                        .form-ctrl {
                            background: transparent;
                        }
                        &.datepicker {
                            span {
                                position: absolute;
                                top: 30px;
                                right: 20px;
                                font-weight: 300;
                                color: red;
                                cursor: pointer;
                            }
                        }
                        label {
                            font-size: 12px;
                            font-weight: 400;
                            width: 100%;
                            display: block;
                            color: black;
                            text-decoration: none;
                            text-shadow: none;
                            -webkit-font-smoothing: antialiased;
                        }
                        .form-ctrl {
                            background: transparent;
                            border: 1px solid rgba(119, 119, 119, 0.4196078431372549);
                            border-radius: 5px;
                            width: 100%;
                            display: block;
                            padding: 0px 5px;
                            font-weight: 600;
                            font-size: 12px;
                            color: black;
                            height: 25px;
                            &.bsDatepicker {
                                padding: 0px 5px;
                            }
                        }
                        &.timepick {
                            .form-ctrl {
                                background: transparent;
                                border: 1px solid rgba(119, 119, 119, 0.4196078431372549);
                                width: 100%;
                                padding: 8px 5px;
                                font-weight: 600;
                                font-size: 14px;
                                color: black;
                            }
                        }
                    }
                    &.table-header {
                        border: 1px solid rgba(119, 119, 119, 0.24);
                        font-size: 14px;
                        font-weight: 600;
                        li {
                            width: 14%;
                            padding: 10px;
                            margin-left: 12px;
                            text-transform: uppercase;
                            color: #777;
                            &.id {
                                width: 5% ;
                                &.bigger {
                                    // width: 20% !important;
                                }
                            }
                            &.date {
                                width: 15%;
                                &.bigger {
                                    width: 20% ;
                                }
                            }
                            &.course {
                                width: 15% ;
                                &.bigger {
                                    width: 15% ;
                                }
                            }
                            &.amount {
                                width: 12% ;
                                &.bigger {
                                    width: 20% ;
                                }
                            }
                            &.tax {
                                width: 9% ;
                                &.bigger {
                                    width: 20% ;
                                }
                            }
                            &.feeTax {
                                width: 11% ;
                                &.bigger {
                                    width: 20% ;
                                }
                            }
                            &.action {
                                width: 15% ;
                                &.bigger {
                                    width: 20% ;
                                }
                            }
                        }
                    }
                }
                .table-data {
                    ul {
                        border: 1px solid #efefef;
                        li {
                            display: inline-flex;
                            width: 14%;
                            padding: 2px 12px;
                            margin-left: 10px;
                            text-align: center;
                            &.id {
                                width: 5% ;
                                &.bigger {
                                    // width: 20% !important;
                                    a {
                                        margin-left: 40px;
                                    }
                                }
                            }
                            &.date {
                                width: 15% !important;
                                &.bigger {
                                    width: 20% !important;
                                    a {
                                        margin-left: 40px;
                                    }
                                }
                            }
                            &.course {
                                width: 15% !important;
                                &.bigger {
                                    width: 15% !important;
                                    a {
                                        margin-left: 40px;
                                    }
                                }
                            }
                            &.amount {
                                width: 12% !important;
                                &.bigger {
                                    width: 20% !important;
                                    a {
                                        margin-left: 40px;
                                    }
                                }
                            }
                            &.tax {
                                width: 9% ;
                                &.bigger {
                                    width: 20% ;
                                    a {
                                        margin-left: 40px;
                                    }
                                }
                            }
                            &.feeTax {
                                width: 12% ;
                                &.bigger {
                                    width: 20%;
                                    a {
                                        margin-left: 40px;
                                    }
                                }
                            }
                            &.action {
                                width: 15% ;
                                &.bigger {
                                    width: 20% ;
                                    a {
                                        margin-left: 40px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .additional-container {
            box-shadow: 0px 1px 3px 0px rgba(38, 0, 0, 0.2);
            margin-top: 20px;
            .additional-header {
                background: #efefef;
                padding: 10px;
                font-size: 14px;
                font-weight: 600;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
            .additional-adder {
                background: #efefef;
                padding: 20px 5px 10px 5px;
                ul {
                    li {
                        display: inline-flex;
                        width: 15%;
                        margin: 0px 5px;
                        .form-wrapper {
                            position: relative;
                            background: transparent;
                            margin: 0px;
                            border: none;
                            padding: 0;
                            &.datePickerBox {
                                .bsDatepicker {
                                    cursor: pointer;
                                    position: relative;
                                    z-index: 1;
                                    background: transparent;
                                    width: 95%;
                                }
                                &:after {
                                    content: '';
                                    background: url("../../../../assets/images/calendar.svg") no-repeat;
                                    position: absolute;
                                    right: 13px;
                                    top: 15px;
                                    width: 21px;
                                    height: 21px;
                                    z-index: 0;
                                }
                            }
                            .date-clear {
                                position: absolute;
                                right: 60%;
                                top: 50px;
                                cursor: pointer;
                                color: #0084f6;
                            }
                            .form-ctrl {
                                background: transparent;
                            }
                            &.datepicker {
                                span {
                                    position: absolute;
                                    top: 30px;
                                    right: 20px;
                                    font-weight: 300;
                                    color: red;
                                    cursor: pointer;
                                }
                            }
                            label {
                                font-size: 12px;
                                font-weight: 400;
                                width: 100%;
                                display: block;
                                color: black;
                                text-decoration: none;
                                text-shadow: none;
                                -webkit-font-smoothing: antialiased;
                            }
                            .form-ctrl {
                                background: transparent;
                                border: 1px solid rgba(119, 119, 119, 0.4196078431372549);
                                border-radius: 5px;
                                width: 100%;
                                display: block;
                                padding: 0px 5px;
                                font-weight: 600;
                                font-size: 12px;
                                color: black;
                                height: 25px;
                                &.bsDatepicker {
                                    padding: 0px 5px;
                                }
                            }
                            &.timepick {
                                .form-ctrl {
                                    background: transparent;
                                    border: 1px solid rgba(119, 119, 119, 0.4196078431372549);
                                    width: 100%;
                                    padding: 8px 5px;
                                    font-weight: 600;
                                    font-size: 14px;
                                    color: black;
                                }
                            }
                        }
                    }
                }
            }
            .additional-table {
                ul {
                    li {
                        display: inline-flex;
                    }
                    &.table-header {
                        border: 1px solid rgba(119, 119, 119, 0.24);
                        font-size: 14px;
                        font-weight: 600;
                        li {
                            width: 15%;
                            padding: 10px;
                            margin-left: 10px;
                            text-transform: uppercase;
                            color: #777;
                            &.bigger {
                                width: 20%;
                            }
                            &.tax {
                                width: 10% !important;
                            }
                            &.date {
                                width: 20% !important;
                            }
                        }
                    }
                    .form-wrapper {
                        position: relative;
                        background: transparent;
                        margin: 0px;
                        border: none;
                        padding: 0;
                        width: 75%;
                        &.datePickerBox {
                            .bsDatepicker {
                                cursor: pointer;
                                position: relative;
                                z-index: 1;
                                background: transparent;
                                width: 95%;
                            }
                            &:after {
                                content: '';
                                background: url("../../../../assets/images/calendar.svg") no-repeat;
                                position: absolute;
                                right: 9px;
                                top: 1px;
                                width: 21px;
                                height: 21px;
                                z-index: 0;
                            }
                        }
                        .date-clear {
                            position: absolute;
                            right: 60%;
                            top: 50px;
                            cursor: pointer;
                            color: #0084f6;
                        }
                        .form-ctrl {
                            background: transparent;
                        }
                        &.datepicker {
                            span {
                                position: absolute;
                                top: 30px;
                                right: 20px;
                                font-weight: 300;
                                color: red;
                                cursor: pointer;
                            }
                        }
                        label {
                            font-size: 12px;
                            font-weight: 400;
                            width: 100%;
                            display: block;
                            color: black;
                            text-decoration: none;
                            text-shadow: none;
                            -webkit-font-smoothing: antialiased;
                        }
                        .form-ctrl {
                            background: transparent;
                            border: 1px solid rgba(119, 119, 119, 0.4196078431372549);
                            border-radius: 5px;
                            width: 100%;
                            display: block;
                            padding: 0px 5px;
                            font-weight: 600;
                            font-size: 12px;
                            color: black;
                            height: 25px;
                            &.bsDatepicker {
                                padding: 0px 5px;
                            }
                        }
                        &.timepick {
                            .form-ctrl {
                                background: transparent;
                                border: 1px solid rgba(119, 119, 119, 0.4196078431372549);
                                width: 100%;
                                padding: 8px 5px;
                                font-weight: 600;
                                font-size: 14px;
                                color: black;
                            }
                        }
                    }
                }
                .table-data {
                    ul {
                        border: 1px solid #efefef;
                        li {
                            display: inline-flex;
                            width: 15%;
                            padding: 2px 12px;
                            margin-left: 10px;
                            text-align: center;
                            &.bigger {
                                width: 20%;
                                a {
                                    margin-left: 40px;
                                }
                            }
                            &.tax {
                                width: 10% !important;
                            }
                            &.date {
                                width: 20% !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

.fee-adder {
    background: #0084f6 !important;
    color: white !important;
    position: relative;
    top: 21px !important;
    height: 30px !important;
    padding: 3px 12px 7px 12px !important;
    i {
        display: inline-flex;
        &::before {
            font-family: FontAwesome;
            content: "\f09d";
            font-size: 12px;
        }
    }
}
