<proctur-popup [sizeWidth]="'large'">

    <span class="closePopup pos-abs fbold show" id="popupCloseBtn" (click)="closePopups($event)" close-button>
      <svg  class="artdeco-icon" focusable="false" height="24px" preserveAspectRatio="xMinYMin meet" viewBox="0 0 24 24" width="24px" x="0" y="0">
       <path  class="large-icon" d="M20,5.32L13.32,12,20,18.68,18.66,20,12,13.33,5.34,20,4,18.68,10.68,12,4,5.32,5.32,4,12,10.69,18.68,4Z" style="fill: currentColor"></path>
      </svg>
    </span>

    <h2 popup-header style="padding: 10px 5px;">Define Fee Schedule :
        <span style="font-weight: 100">{{studentName}}</span>
    </h2>

    <div class="fee-definations" popup-content>
        <div class="fee-container">

            <div class="installment-container">

                <div class="installment-header">
                    <div class="pull-left">
                        MANAGE FEE INSTALLMENTS

                        <span class="installment-count"></span>
                    </div>
                    <div class="pull-right">

                    </div>
                </div>

                <div class="installment-adder">
                    <ul>
                        <li>
                            <div class="form-wrapper datePickerBox">
                                <label for="dddue_date">Due Date</label>
                                <input type="text" value="" readonly="true" class="form-ctrl bsDatepicker" readonly="true" id="dddue_date" name="dddue_date"
                                    [(ngModel)]="addFeeInstallment.due_date" bsDatepicker>
                            </div>
                        </li>

                        <li>
                            <div class="form-wrapper">
                                <label for="courseType">Course</label>
                                <select class="form-ctrl" style=" width: 100%;" name="courseType" [(ngModel)]="addFeeInstallment.student_fee_template_mapping_id"
                                    id="courseType" (ngModelChange)="changeAcademicyear($event)">
                                    <option value="-1"></option>
                                    <option [value]="course.template_mapping_idWithCourseOrSubjectName" *ngFor="let course of courseDropdown">
                                        {{course.courseOrSubject_name}}
                                    </option>
                                </select>
                            </div>
                        </li>
                        <li>
                            <div class="form-wrapper">
                                <label for="courseType">Academic Year </label>
                                <select class="form-ctrl" [ngStyle]="{'width':isProfessional? '100%':'100%'}" name="AcademicYearType" [(ngModel)]="addFeeInstallment.academic_year_id"
                                    [disabled]="addFeeInstallment.student_fee_template_mapping_id !='-1'"
                                    id="AcademicYearType">
                                    <option value="-1"></option>
                                    <option *ngFor="let opt of academicListData" [value]="opt.inst_acad_year_id">
                                        {{opt.inst_acad_year}}
                                    </option>
                                </select>
                            </div>
                        </li>
                        <li>
                            <div class="form-wrapper">
                                <label for="amountinst">Amount</label>
                                <input type="text" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" class="form-ctrl" [(ngModel)]="addFeeInstallment.initial_fee_amount"
                                    id="amountinst" name="amountinst">
                            </div>
                        </li>

                        <li>
                            <button type="submit" class="btn fee-adder" (click)="addNewInstallmentFee()">
                                <i></i>
                                Add
                            </button>
                        </li>
                    </ul>
                </div>

                <div class="installment-table">
                    <ul class="table-header">
                        <li class="id" [ngStyle]="{'width':isProfessional? '2% ':'1%'}">#</li>
                        <li class="date" [ngStyle]="{'width':isProfessional? '15% ':'15%'}">Due Date</li>
                        <li class="course" [ngStyle]="{'width':isProfessional? '15% ':'15%'}" [ngClass]="{'bigger': taxEnableCheck == '0'}">Course</li>
                        <li class="course" [ngStyle]="{'width':isProfessional? '15% ':'14%'}">Academic Year</li>
                        <!-- <li class="amount" [ngStyle]="{'width':isProfessional? '12% ':'10%'}" *ngIf="countryDetails.id==1" [ngClass]="{'hide': taxEnableCheck == '0'}">Amount</li>
                        <li class="tax" [ngStyle]="{'width':isProfessional? '9% ':'7%'}" *ngIf="countryDetails.id==1" [ngClass]="{'hide': taxEnableCheck == '0'}">Tax</li>
                        <li class="feeTax" [ngStyle]="{'width':isProfessional? '11% ':'13%'}"  style="width: 11% !important" [ngClass]="{'bigger': taxEnableCheck == '0'}">
                           <span *ngIf="countryDetails.id==1"> Fee Incl Tax</span>
                           <span *ngIf="countryDetails.id!=1"> Amount</span>
                        </li> -->
                        <li class="amount" [ngStyle]="{'width':isProfessional? '12% ':'10%'}"  >Amount</li>
                        <li class="tax" [ngStyle]="{'width':isProfessional? '9% ':'7%'}" *ngIf="taxEnableCheck=='1'">{{tax_type_without_percentage}}</li>
                        <li class="feeTax" [ngStyle]="{'width':isProfessional? '11% ':'13%'}"  style="width: 11% !important" *ngIf="taxEnableCheck=='1'">
                           <span> Fee Incl {{tax_type_without_percentage}}</span>
                           <!-- <span *ngIf="countryDetails.id!=1"> Amount</span> -->
                        </li>
                        <li class="action" [ngStyle]="{'width':isProfessional? '8% ':'10%'}" [ngClass]="{'bigger': taxEnableCheck == '0'}">Action</li>
                    </ul>
                    <div class="table-data">
                        <ul class="table-row" *ngFor="let fee of installmentData; let i = index;">
                            <li class="id" [ngStyle]="{'width':isProfessional? '2%':'1%'}">{{i+1}}</li>
                            <li class="date" [ngStyle]="{'width':isProfessional? '15% ':'15%'}">
                                <div class="form-wrapper datePickerBox" [ngClass]="{'disable': fee.is_referenced == 'Y'}" *ngIf="fee.is_referenced == 'N'">
                                    <input type="text" value="" [disabled]="fee.is_referenced == 'Y'" class="form-ctrl bsDatepicker" name="dd" (ngModelChange)="updateTableInstallment()"
                                        [(ngModel)]="fee.due_date" readonly="true" bsDatepicker>
                                </div>
                                <div class="form-wrapper datePickerBox" [ngClass]="{'disable': fee.is_referenced == 'Y'}" *ngIf="fee.is_referenced == 'Y'">
                                    <label style="padding: 5px;float: left;text-align: left;">{{fee.due_date | date: "dd-MMM-yyyy"}}</label>
                                </div>
                            </li>
                            <li class="course" [ngStyle]="{'width':isProfessional? '15% ':'15%'}" [ngClass]="{'bigger': taxEnableCheck == '0'}">
                                <div class="form-wrapper disable">
                                    <input type="text" class="form-ctrl" readonly="true" name="course" [ngModel]="fee.course_subject_name">
                                </div>
                            </li>
                            <li [ngStyle]="{'width':isProfessional? '15% ':'14%'}" >
                                <select class="form-ctrl id" style=" width:120%; border: 1px solid rgba(119, 119, 119, 0.419608);
                                border-radius: 5px;" name="AcademicYearType" [disabled]="true" [ngStyle]="{'background':true? 'lightgrey':'','cursor':'not-allowed'}"
                                    [(ngModel)]="fee.academic_year_id" id="AcademicYearType">
                                    <option value="-1"></option>
                                    <option *ngFor="let opt of academicListData" [value]="opt.inst_acad_year_id">
                                        {{opt.inst_acad_year}}
                                    </option>
                                </select>
                            </li>

                            <!-- <li *ngIf="countryDetails.id==1" class="amount" [ngStyle]="{'width':isProfessional? '12% ':'10%'}" [ngClass]="{'hide': taxEnableCheck == '0'}"> -->
                             <li *ngIf="taxEnableCheck==1" class="amount" [ngStyle]="{'width':isProfessional? '12% ':'10%'}" >
                                <div class="form-wrapper disable">
                                    <input *ngIf="fee.discount == 0" type="text" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" class="form-ctrl"
                                        readonly="true" name="amt" [ngModel]="updateInitialAmount(fee.fees_amount, i)">
                                    <input *ngIf="fee.discount != 0" type="text" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" class="form-ctrl"
                                        readonly="true" name="amt" [ngModel]="fee.initial_fee_amount_before_disocunt_before_tax">
                                </div>
                            </li>
                            <!-- <li *ngIf="countryDetails.id==1" class="tax" [ngStyle]="{'width':isProfessional? '9% ':'7%'}" [ngClass]="{'hide': taxEnableCheck == '0'}"> -->
                            <li *ngIf="taxEnableCheck==1" class="tax" [ngStyle]="{'width':isProfessional? '9% ':'7%'}" [ngClass]="{'hide': taxEnableCheck == '0'}">
                                <div class="form-wrapper disable">
                                    <input type="text" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" class="form-ctrl" readonly="true" name="tax"
                                        [ngModel]="getTaxedAmount(fee.initial_fee_amount, fee.service_tax_applicable, i)">
                                </div>
                            </li>
                            <li  class="feeTax" [ngStyle]="{'width':isProfessional? '11% ':'13%'}" [ngClass]="{'bigger': taxEnableCheck == '0'}">
                                <div class="form-wrapper" [ngClass]="{'disable': fee.is_referenced == 'Y'}">
                                    <input *ngIf="fee.is_referenced == 'Y'" readonly="true" type="text" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"
                                        class="form-ctrl" name="amttax" [(ngModel)]="fee.fees_amount">
                                    <input *ngIf="fee.is_referenced == 'N' && fee.discount == 0 " type="text" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"
                                        class="form-ctrl" name="amttax" [(ngModel)]="fee.fees_amount" (ngModelChange)="updateInitialAmount(fee.fees_amount, i)">
                                    <input *ngIf="fee.is_referenced == 'N' && fee.discount != 0" readonly="true" type="text" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"
                                        class="form-ctrl" name="amttax" [ngModel]="fee.fees_amount">
                                </div>
                            </li>
                            <li class="action" [ngStyle]="{'width':isProfessional? '8% ':'10%'}" [ngClass]="{'bigger': taxEnableCheck == '0'}">
                                <a *ngIf="fee.is_referenced == 'N' && fee.discount == 0" (click)="deleteInstallment(i)">
                                    <i style="font-family: FontAwesome;" class="fa fa-trash text-danger" title="Delete Fee" aria-hidden="true"></i>
                                </a>
                                <a *ngIf="fee.is_referenced == 'N' && fee.discount != 0" class="paid-fee">Discount Applied</a>
                                <a *ngIf="fee.is_referenced == 'Y'" class="paid-fee">Paid</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="additional-container">
                <div class="additional-header">
                    <div class="pull-left">
                    MANAGE ADDITIONAL FEES
                    </div>
                    <div class="pull-right">
                    </div>
                </div>

                <div class="additional-adder">
                    <ul>
                        <li>
                            <div class="form-wrapper">
                                <label for="feetype">Fee Type</label>
                                <select id="feetype" class="form-ctrl" [(ngModel)]="addFeeOther.fee_type" (ngModelChange)="updateOtherFeeData($event)" name="feetype">
                                    <option value="" selected>Select Fee Type</option>
                                    <option [value]="type.id" *ngFor="let type of getOtherFeesArray()">{{type.value}}</option>
                                </select>
                            </div>
                        </li>
                        <li>
                            <div class="form-wrapper datePickerBox">
                                <label for="dd">Due Date</label>
                                <input type="text" value="" class="form-ctrl bsDatepicker" readonly="true" id="dd" name="dd" [(ngModel)]="addFeeOther.due_date"
                                    bsDatepicker>
                            </div>
                        </li>
                        <li>
                            <div class="form-wrapper">
                                <label for="amt">Amount</label>
                                <input type="text" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" class="form-ctrl" [(ngModel)]="addFeeOther.initial_fee_amount"
                                    id="amt" name="amt">
                            </div>
                        </li>
                        <li>
                            <div class="form-wrapper">
                                <label for="courseType">Academic Year </label>
                                <select class="form-ctrl" style=" width:120%; border: 1px solid rgba(119, 119, 119, 0.419608);
                                border-radius: 5px;" name="AcademicYearType" [(ngModel)]="addFeeOther.academic_year_id"
                                    id="AcademicYearType">
                                    <option value="-1"></option>
                                    <option *ngFor="let opt of academicListData" [value]="opt.inst_acad_year_id">
                                        {{opt.inst_acad_year}}
                                    </option>
                                </select>
                            </div>
                        </li>
                        <!-- <li *ngIf="countryDetails.id==1"> -->
                            <li *ngIf="taxEnableCheck==1">
                            <div class="form-wrapper">
                                <label for="taxamt">{{tax_type_without_percentage}}(%)</label>
                                <input style="background: #dddddd;" type="text" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" readonly="true"
                                    class="form-ctrl" [ngModel]="addFeeOther.service_tax" id="taxamt" name="taxamt">
                            </div>
                        </li>
                        <li>
                            <button type="submit" class="btn fee-adder" (click)="addNewOtherFee()">
                                <i></i>
                                Add
                            </button>
                        </li>
                        <li></li>
                    </ul>
                </div>

                <div class="additional-table">
                    <ul class="table-header">
                        <li>Fee Type</li>
                        <li class="date" style="width: 18% !important;">Due Date</li>
                        <li style="width: 15%;"> Academic Year</li>
                        <li style="width: 10%;">Amount</li>
                        <li *ngIf="taxEnableCheck==1" class="tax" style="width: 10%;">{{tax_type_without_percentage}}</li>
                        <li *ngIf="taxEnableCheck==1" style="width: 10%;">Fee Incl {{tax_type_without_percentage}}</li>
                        <li style="width: 10%;">Action</li>
                    </ul>

                    <div class="table-data" *ngIf="additionalData.length !=0">
                        <ul class="table-row" *ngFor="let fee of additionalData; let i = index">
                            <li>{{fee.fee_type_name}}</li>
                            <li class="date" style="width: 18% !important;">
                                <div class="form-wrapper datePickerBox" [ngClass]="{'disable': fee.is_referenced == 'Y'}" *ngIf="fee.is_referenced == 'N'">
                                    <input type="text" value="" [disabled]="fee.is_referenced == 'Y'" class="form-ctrl bsDatepicker" name="dd" [(ngModel)]="fee.due_date"
                                        readonly="true" bsDatepicker>
                                </div>
                                <div class="form-wrapper datePickerBox" [ngClass]="{'disable': fee.is_referenced == 'Y'}" *ngIf="fee.is_referenced == 'Y'">
                                    <label style="padding: 5px;float: left;text-align: left;">{{fee.due_date | date: "dd-MMM-yyyy"}}</label>
                                </div>
                            </li>
                            <li style="width: 15%;">
                                <select class="form-ctrl" style=" width:120%; border: 1px solid rgba(119, 119, 119, 0.419608);
                                border-radius: 5px;" name="AcademicYearType" [disabled]="true" [ngStyle]="{'background':true? 'lightgrey':'','cursor':'not-allowed'}"
                                    [(ngModel)]="fee.academic_year_id" id="AcademicYearType">
                                    <option value="-1"></option>
                                    <option *ngFor="let opt of academicListData" [value]="opt.inst_acad_year_id">
                                        {{opt.inst_acad_year}}
                                    </option>
                                </select>
                            </li>
                            <li style="width: 10%;">
                                <div class="form-wrapper disable">
                                    <input type="text" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" readonly="true" class="form-ctrl" name="amt"
                                        [(ngModel)]="fee.initial_fee_amount">
                                </div>
                            </li>
                            <li  *ngIf="taxEnableCheck==1" class="tax" style="width: 10%;">
                                <div class="form-wrapper disable">
                                    <input type="text" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" class="form-ctrl" readonly="true" name="tax"
                                        [ngModel]="getOtherTaxes(fee.initial_fee_amount, fee.service_tax, i)">
                                </div>
                            </li>
                            <li *ngIf="taxEnableCheck==1" style="width: 10%;">
                                <div class="form-wrapper" [ngClass]="{'disable': fee.is_referenced == 'Y'}">
                                    <input *ngIf="fee.is_referenced == 'Y'" readonly="true" type="text" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"
                                        class="form-ctrl" name="amttax" [(ngModel)]="fee.fees_amount">
                                    <input *ngIf="fee.is_referenced == 'N'" type="text" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" class="form-ctrl"
                                        name="amttax" [(ngModel)]="fee.fees_amount" (ngModelChange)="updateAdditionalInitialAmount(fee.fees_amount, fee.service_tax,i)">
                                </div>
                            </li>
                            <li style="width: 10%;">
                                <a (click)="deleteOtherFee(i)" *ngIf="fee.is_referenced == 'N'">
                                    <i style="font-family: FontAwesome;" class="fa fa-trash text-danger" title="Delete Fee" aria-hidden="true"></i>
                                </a>
                                <a *ngIf="fee.is_referenced == 'Y'" class="paid-fee">Paid</a>
                            </li>
                        </ul>
                    </div>

                    <div class="table-data" *ngIf="additionalData.length ==0">
                        <h3>No Additional Fees Applied</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="" popup-footer>
        <div class="clearfix">
            <aside class="pull-right popup-btn">
                <input type="button" value="Cancel" class="btn" (click)="closePopups($event)">
                <input type="button" value="Apply" (click)="applyAction($event)" class="fullBlue btn">
            </aside>
        </div>
    </div>

</proctur-popup>
