<div class="clear-fix pageMargin">
  <aside class="middle-full ">
    <section class="middle-main clearFix ">
      <section class="filter-form attendance-container">
        <div class="row" *ngIf="isSchoolModel">
          <div class="form-inline">
          <div class="c-lg-2 c-md-2 c-sm-2">
              <input type="text" class="form-control input mr-10" placeholder="Grade Name*" name="grade" id="grade"
              [(ngModel)]="addData.grade" style="border-radius: 4px;">
          </div>
          <div class="c-lg-2 c-md-2 c-sm-2">
              <input type="text" placeholder="Marks From*" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" class="form-control input mr-10" name="marks_from" id="marks_from"
                [(ngModel)]="addData.marks_from">

          </div>
          <div class="c-lg-2 c-md-2 c-sm-2">
              <input type="text" placeholder="Marks To*" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" class="form-control input mr-10" name="marks_to" id="marks_to" [(ngModel)]="addData.marks_to">

          </div>

          <div class="c-lg-2 c-md-2 c-sm-2">
              <input type="text" placeholder="Grade Points*" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" class="form-control input mr-10" name="grade_points" id="grade_points"
                [(ngModel)]="addData.grade_points">

          </div>
          <div class="c-lg-2 c-md-2 c-sm-2">
            <input type="text" class="form-control input mr-10" placeholder="Description" name="Description" id="Description" [(ngModel)]="addData.description">
        </div>

        </div>
                <button class="add" style="margin-top: 9px;margin-left: 10px;" (click)="addDataToTable()">Add</button>
        </div>
        <div *ngIf="!isSchoolModel">
          <div class="row">
            <div class="c-lg-2 c-md-2 c-sm-2 ">
                <input type="text" placeholder="Grade Name*" class="form-control input mr-10" name="grade" id="grade" [(ngModel)]="addData.grade">
            </div>
            <div class="c-lg-3 c-md-3 c-sm-3">
                <input type="text" placeholder="Description" class="form-control input mr-10" name="Description" id="Description"
                  [(ngModel)]="addData.description" style="border-radius: 4px;">
            </div>
            <div class="c-lg-2 c-md-2 c-sm-2">
              <div class="pull-left create-cancel-small">
                <aside class="pull-left create-cancel-small">
                  <button class="btn fullBlue" style="margin-top:26px;" (click)="addDataToTable()">Add</button>
                </aside>
              </div>
            </div>
          </div>
        </div>

        <div class="table table-responsive">
          <table class="tableBodyScroll">
            <thead>
              <tr>
                <th>
                  Id
                </th>
                <th>
                  Grade
                </th>
                <!-- <th *ngIf="isSchoolModel">
                  Exam Type
                </th> -->
                <th *ngIf="isSchoolModel">
                  Marks From
                </th>
                <th *ngIf="isSchoolModel">
                  Marks To
                </th>
                <th *ngIf="isSchoolModel">
                  Grade Points
                </th>
                <th>
                  Description
                </th>
                <th>
                  Created Date
                </th>
                <th>
                  <span class="right pr-40">
                  Action
                </span>
                </th>
                <!-- <th>
                  Delete
                </th> -->
              </tr>
            </thead>
            <tbody style="min-height: 52vh;max-height: 52vh;">
              <tr style="box-shadow: -1px 1px 6px 0px rgb(0 0 0 / 10%);" *ngFor="let row of gotGrades; let i = index; trackBy: i;" class="displayComp" id="row{{i}}">
                <td>
                  {{i + 1}}
                </td>

                <td class="view-comp">
                  {{row.grade}}
                </td>
                <td class="edit-comp">
                  <div class="field-wrapper">
                    <input type="text" class="form-ctrl editCellInput" name="label" [(ngModel)]="row.grade"
                      [value]="row.grade_id">
                  </div>
                </td>
                <!-- <td class="view-comp" *ngIf="isSchoolModel">
                  {{row.exam_type}}
                </td>
                <td class="edit-comp" *ngIf="isSchoolModel">
                  <div class="dropdown-div">
                    <select class="dropdown" [(ngModel)]="selectedExamTypeId">
                      <option value="-1">Select Exam Type</option>
                      <option *ngFor="let list of examTypeList; let i = index" [value]="list.exam_type_id"
                        (ngModelChange)="selectedExamType(selectedExamTypeId)">{{ list.exam_type }}</option>
                    </select>
                  </div>
                </td> -->
                <td class="view-comp" *ngIf="isSchoolModel">
                  {{row.marks_from_percent}}
                </td>
                <td class="edit-comp" *ngIf="isSchoolModel">
                  <div class="field-wrapper">
                    <input type="text" class="form-ctrl editCellInput" name="label" [(ngModel)]="row.marks_from_percent"
                      [value]="row.marks_from_percent">
                  </div>
                </td>

                <td class="view-comp" *ngIf="isSchoolModel">
                  {{row.marks_to_percent}}
                </td>
                <td class="edit-comp" *ngIf="isSchoolModel">
                  <div class="field-wrapper">
                    <input type="text" class="form-ctrl editCellInput" name="label" [(ngModel)]="row.marks_to_percent"
                      [value]="row.marks_to_percent">
                  </div>
                </td>

                <td class="view-comp" *ngIf="isSchoolModel">
                  {{row.grade_points}}
                </td>
                <td class="edit-comp" *ngIf="isSchoolModel">
                  <div class="field-wrapper">
                    <input type="text" class="form-ctrl editCellInput" name="label" [(ngModel)]="row.grade_points"
                      [value]="row.grade_points">
                  </div>
                </td>
                <td class="view-comp">
                  {{row.description}}
                </td>
                <td class="edit-comp">
                  <div class="field-wrapper">
                    <input type="text" class="form-ctrl editCellInput" name="label" [(ngModel)]="row.description">
                  </div>
                </td>
                <td disabled>
                  {{row.created_date | date:'dd-MMM-yyyy'}}
                </td>

                <td class="view-comp">
                  <span class="right pr-40" style="padding-right: 20px;">
                    <a (click)="editRowTable(row, i)" data-toggle="modal" data-target="#editCityArea"
                        style="vertical-align: middle;cursor: pointer;">
                        <img src="../../../../assets/images/EDit.png">
                    </a>
                    <a aria-hidden="true" data-toggle="modal" data-target="#deleteModal"
                        (click)="deletingGrade(row , index)" style="cursor: pointer;" class="pl-10">
                        <i style="color: red;font-size: 18px;font-weight: 400;"
                            class="fa fa-trash"></i>
                    </a>
                </span>
                  <!-- <a class="anchorTagCursor" (click)="editRowTable(row, i)">Edit</a> -->
                </td>
                <td class="edit-comp">
                  <span class="right pr-40" style="padding-right: 20px;">
                  <i class="fa fa-floppy-o" title="Save" style="color: blue;margin-right: 10px;font-size: 18px;" aria-hidden="true"
                    (click)="saveInformation(row, i)"></i>
                  <i class="fa fa-times" title="Cancel" style="color: red;font-size: 18px;" aria-hidden="true"
                    (click)="cancelEditRow(i)"></i>
                  </span>
                  <!-- <a class="anchorTagCursor" (click)="saveInformation(row, i)"> Save </a>
                  <a class="anchorTagCursor anchorTag" (click)="cancelEditRow(i)"> Cancel </a> -->
                </td>
                <!-- <td> -->
                <!-- <i class="fa fa-trash" title="Delete" style="color: red;" aria-hidden="true"
                    (click)="deletingGrade(row , index)"></i> -->
                <!-- <a class="anchorTagCursor" (click)="deletingGrade(row , index)"> Delete </a> -->
                <!-- </td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </section>

    </section>
  </aside>
</div>