<div class="page-content">
  <div class="head_padding">
    <div class="w98">
      <div class="page_heading">
        <p>Assign Fee</p>
      </div>
    </div>
  </div>
  <div class="w98">
    <div class="padding1">
      <select class="select mr10 wid240" *ngIf="schoolModel" (ngModelChange)="fetchSectionList($event)"
        [(ngModel)]="model.standard_id">
        <option value="-1">Standard*</option>
        <option *ngFor="let data of standardSectionMap" [value]="data.standard_id">{{data.standard_name}}</option>
      </select>
      <select class="select mr10 wid240" *ngIf="schoolModel" [(ngModel)]="model.course_id">
        <option value="-1">Section</option>
        <option *ngFor="let data of sectionList" [value]="data.course_id">{{data.course_name}}</option>
      </select>
      <select class="select mr10 wid240" *ngIf="!isProfessional && !schoolModel"
        (ngModelChange)="fetchCoursesList($event)" [(ngModel)]="model.master_course">
        <option value="">Master Course*</option>
        <option *ngFor="let data of masterCourseList" [value]="data.master_course">{{data.master_course}} </option>
      </select>
      <select class="select mr10 wid240" *ngIf="!isProfessional && !schoolModel" [(ngModel)]="model.course_id">
        <option value="-1">Course*</option>
        <option *ngFor="let data of courseList" [value]="data.course_id">{{data.course_name}}</option>
      </select>
      <select class="select mr10 wid240" *ngIf="isProfessional" [(ngModel)]="model.standard_id"
        (ngModelChange)="fetchBatch($event)">
        <option value="-1">Master Course*</option>
        <option *ngFor="let data of standardList" [value]="data.standard_id">{{data.standard_name}}</option>
      </select>
      <select class="select mr10 wid240" *ngIf="isProfessional" [(ngModel)]="model.batch_id">
        <option value="-1">Batch*</option>
        <option *ngFor="let data of batchList" [value]="data.batch_id">{{data.batch_name}}</option>
      </select>
      <select class="select mr10 wid240" *ngIf="countryDetails.length>1" [(ngModel)]="model.country_id"
        style="width: 12%;">
        <!-- <option value="-1">country</option> -->
        <option [value]="data.id" *ngFor='let data of countryDetails'>
          {{data.country_name}}
      </select>
      <select class="select mr10 wid240" [(ngModel)]="model.academic_yr_id" style="width: 12%;">
        <option value="-1">Academic Year</option>
        <option *ngFor="let data of academicYrList" [value]="data.inst_acad_year_id">
          {{data.inst_acad_year}}</option>
      </select>
      <select class="select mr10 wid240" [(ngModel)]="model.fee_assigned" style="width: 12%;">
        <option value="-1">Fee Assigned</option>
        <option value="1">All</option>
        <option value="2">Y</option>
        <option value="3">N</option>

      </select>
      <button class="blue_button" (click)="fetchStudentList()">Search</button>
    </div>

    <div class="fee_asign fee_asign1">
      <div class="table_heading">
        <div>
          <label class="checkbox">
            <span class="checkbox__input">
              <input type="checkbox" name="checked" [(ngModel)]="masterSelected" (change)="checkUncheckAll()">
              <span class="checkbox__control">
                <svg viewBox='0 0 24 24' aria-hidden="true" focusable="false">
                  <path fill='none' stroke='currentColor' stroke-width='2' d='M1.3 12.91l6.37 6.37L22.79 4.59' />
                </svg>
              </span>
            </span>
          </label>
        </div>
        <div>Name </div>
        <div *ngIf="schoolModel">Roll No.</div>
        <div *ngIf="schoolModel">Section</div>
        <div>{{schoolModel?'Registration No.':'Student Id' }}</div>
        <div>Total Fee</div>
        <div>Action</div>
      </div>
      <div *ngFor="let data of studentList">
        <div class="table_body">
          <div>
            <label class="checkbox">
              <span class="checkbox__input">
                <input type="checkbox" name="checked" [(ngModel)]="data.isSelected">
                <span class="checkbox__control">
                  <svg viewBox='0 0 24 24' aria-hidden="true" focusable="false">
                    <path fill='none' stroke='currentColor' stroke-width='2' d='M1.3 12.91l6.37 6.37L22.79 4.59' />
                  </svg>
                </span>
              </span>
            </label>
          </div>
          <div>{{data.student_name}} </div>
          <div *ngIf="schoolModel">{{data.student_roll_no}} </div>
          <div *ngIf="schoolModel">{{data.standard_name}}-{{data.course_name}} </div>
          <div>{{data.student_reg_no}}</div>
          <div>{{data.total_fee_amount | number}}</div>
          <div>
            <span class="img__wrap">
              <a (click)="assignFeeToSingleStudent(data)" class="mr10 pointer"><img
                  src="../../../../assets/images/fee/asign.svg"></a>
              <p class="img__description">Assign</p>
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- use image only when page is empty,table body class element will not be present -->
  </div>
  <div class="w98">
    <div class="assignfee">
      <button class="blue_button" data-toggle="modal" (click)="fetchFeeStructure(true)">Assign Fee</button>
    </div>
    <!-- pagignation div -->
    <!-- <div class="bottom_pagignation flex w98">
      <div class="w20">
        <p>Showing <span>1</span> to <span>100</span> of <span>831</span></p>
      </div>
      <div class="w10">
        <p>Total <span>9</span> Pages</p>
      </div>
      <div class="w40">
        <p>Records per Page
          <select>
            <option>9</option>
          </select>
        </p>
      </div>
      <div class="w30">
        <span>
          <p>Previous <a><span class="active_circle number">1</span></a> <a><span class="number">2</span></a> <a><span
                class="number">3</span></a> <a><span class="next">Next</span></a></p>
        </span>
      </div>
    </div> -->
  </div>
  <div class="modal" id="assignFeeModel" aria-hidden="true">
    <div class="modal-dialog" style="width: 70%;max-width: 800px;height: 80vh;overflow-y: auto;">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Assign Fee</h4>
          <button type="button" class="close" data-dismiss="modal" (click)="closePopUp()">&times;</button>
        </div>
        <div class="modal-body">
          <div>
            <select class="select wid140 mr10 select2" [(ngModel)]="template_id"
              (ngModelChange)="fetchFeeStructureData($event)">
              <option value="-1">Select Fee Structure</option>
              <option *ngFor="let data of feeStructureList" [value]="data.template_id">{{data.template_name}}</option>
            </select>
            <span class="right relative">
              <span class="green_top">Total Amount{{is_tax_enabled?' (Inc. Of Tax) ':''}}:<span>{{currencySymbol}}
                  {{totalFeeAmount | number }}</span></span>
              <p class="itax" *ngIf="is_tax_enabled">Total Tax: {{currencySymbol}} {{totalTax | number}}</p>
            </span>
          </div>
          <div class="fee_asign">
            <div class="table_heading">
              <div>#</div>
              <div>Fee Type </div>
              <div>{{(schoolModel || isTemplateNotLinkWithCourseAndStandard)?'Date':'Trigger Date'}}</div>
              <div *ngIf="!schoolModel && !isTemplateNotLinkWithCourseAndStandard">Day/Month</div>
              <div><span class="right pl20">Fee Amount</span></div>
            </div>
            <div *ngFor="let data of feeInstalllmentArr; let i=index;">
              <div class="table_body">
                <div>{{i+1}}</div>
                <div>{{feeInstalllmentArr[i].fee_type_name | titlecase}}
                </div>
                <div *ngIf="schoolModel || isTemplateNotLinkWithCourseAndStandard" class="field-wrapper ">
                  <div class="dropdown-div pt-2">
                    <input type="text" class="input_date dropdown input" name="startDate" id="startDate"
                      [(ngModel)]="feeInstalllmentArr[i].installment_date" bsDatepicker />
                  </div>
                </div>
                <div *ngIf="!schoolModel && !isTemplateNotLinkWithCourseAndStandard">
                  <select style="width: 95%;" class="input wid80 select2" [(ngModel)]="feeInstalllmentArr[i].day_type"
                    (ngModelChange)="changesValuesAsPerType($event,i)">
                    <option value="-1">Trigger Date</option>
                    <option value="1">Course Assign Date (CAD)</option>
                    <option value="2">No of days after CAD</option>
                    <option value="3">No of Month after CAD</option>
                  </select>
                </div>
                <div *ngIf="!schoolModel && !isTemplateNotLinkWithCourseAndStandard">
                  <input type="text" [disabled]="feeInstalllmentArr[i].day_type==1" [(ngModel)]="feeInstalllmentArr[i].days" placeholder="00" class="input wid80 rrs"
                    onkeypress="return (event.charCode >= 48 && event.charCode <= 57)">
                </div>
                <div>{{feeInstalllmentArr[i].fees_amount | number}}</div>
              </div>
            </div>
          </div>
          <div class="h50">
            <span class="right">
              <button class="white_button mr10" (click)="closePopUp()">Cancel</button>
              <button class="blue_button" [disabled]="isClicked" (click)="assignfeeToStudent()">Assign Fee</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>