<section class="clearFix" style="padding-right: 2%;">
  <!-- Header and Navigation -->
  <section class="middle-top mb0 clearFix">
    <h1 class="pull-left">
      <!-- <a routerLink="/view/expense">
        Expense
      </a>
      <i style="font-family: 'FontAwesome';" class="fas fa-angle-right"></i> -->
      <a routerLink="/view/expense/manage-expense">
        Manage Expense
      </a>
      <i style="font-family: 'FontAwesome';" class="fas fa-angle-right"></i>
      <span>{{sectionName}} Expense</span>
    </h1>
  </section>

  <!-- payment details section -->
  <section>
    <div class="payment-details-container">
      <div class="payment-details-item field-wrapper" *ngIf="jsonFlag.isAuthoriseUser">
        <label for="payee">Payee Name <span class="danger">*</span> <span class="customeAdd" (click)="togglePayee()">Add
            Payee</span></label>
        <select class="form-ctrl" name="payee" id="payee" [(ngModel)]="paymentDetails.payeeName">
          <option value="-1">Select Payee Name</option>
          <option [value]="payee.party_id" *ngFor="let payee of payeeList">{{payee.display_name}}</option>
        </select>
      </div>

      <div class="payment-details-item field-wrapper" *ngIf="jsonFlag.isAuthoriseUser">
        <label for="account-name">Account Name <span class="danger">*</span><span class="customeAdd"
            (click)="toggleAccount()">Add Account</span></label>
        <select class="form-ctrl" name="account-name" id="account-name" [disabled]="addedItemList.length >= 1" [(ngModel)]="paymentDetails.accountName"
          (ngModelChange)="setAccountIfscCode($event)">
          <option value="-1">Select Account</option>
          <option [value]="account.account_id" *ngFor="let account of accountNamelist">{{account.display_name}}</option>
        </select>
      </div> 

      <div class="payment-details-item field-wrapper" *ngIf="paymentDetails.paymentmode == '3'">
        <label for=" account-name">Account Number
        </label>
        <input type="text" class="form-ctrl" name="account-number" disabled id="account-name"
          [(ngModel)]="paymentDetails.accountNumber" placeholder="Account Number">

      </div>

      <div class="payment-details-item field-wrapper" *ngIf="paymentDetails.paymentmode == '3'">
        <label for="ifsc-code">IFSC Code</label>
        <input type="text" class="form-ctrl" name="account-name" disabled id="ifsc-code"
          [(ngModel)]="paymentDetails.IfscCode" placeholder="IFSC Code">

      </div>


    </div>
  </section>

  <section>
    <div class="payment-details-container">
      <div class="payment-details-item field-wrapper datePickerBox" *ngIf="jsonFlag.isAuthoriseUser">
        <label for="payment-date">Payment Date <span class="danger">*</span></label>
        <input type="text" value="" id="payment-date" class="form-ctrl widgetDatepicker bsDatepicker"
          [(ngModel)]="paymentDetails.paymentDate" style="padding: 6px;" readonly="true" name="paymentDate"
          placeholder="Date"  (ngModelChange)="checkFututreDate()" bsDatepicker/>
      </div>

      <div class="payment-details-item field-wrapper">
        <label for="payment-mode">Payment Mode</label>
        <input type="text" class="form-ctrl" name="account-name" disabled id="payment-mode"
        [(ngModel)]="paymentDetails.paymentValue" placeholder="Payment Mode">

        <!-- <select class="form-ctrl" name="payment-mode" disabled id="payment-mode" [(ngModel)]="paymentDetails.paymentmode">
          <option value="-1">Select Payment Mode</option>
          <option [value]="mode.data_key" *ngFor="let mode of paymentModelist">{{mode.data_value}}</option>
       </select> -->
      </div>
      <div class="payment-details-item field-wrapper" *ngIf="paymentDetails.paymentmode =='3'">
        <label for="trans-id">Transaction Id </label>
        <input type="text" class="form-ctrl" value="" name="transacId" id="trans-id"
          [(ngModel)]="paymentDetails.transacId" placeholder="Enter Transaction Id">

      </div>


      <div class="payment-details-item field-wrapper" *ngIf="paymentDetails.paymentmode =='1'">
        <label for="Cheque-number">Cheque Number</label>
        <input type="text" class="form-ctrl" value="" name="ChequeNumber" id="Cheque-number"
          [(ngModel)]="paymentDetails.ChequeNumber" placeholder="Enter Cheque Number">

      </div>


    </div>
  </section>


  <!-- Account Details  -->
  <section>
    <div class="account-details-container">
      <div class="account-details-heading-container">
        <div class="account-heading-item">
          <div>Item/Category<span class="danger">*</span> <span style="right: auto;margin-left: 2%;" class="customeAdd"
              (click)="toggleCategory()">Add Category</span></div>
        </div>
        <div class="account-heading-item">
          <span>Description</span>
        </div>
        <div class="account-heading-item">
          <span>Remark</span>
        </div>
        <div class="account-heading-item">
          <span>Quantity</span>
        </div>
        <div class="account-heading-item">
          <span>Amount <span class="danger">*</span></span>
        </div>
      </div>

      <div class="account-details-input-container">
        <!-- changes done by Nalini - To select category by dropdown -->
        <div class="payment-details-item field-wrapper"
          style="width: 15%;float: left;margin-right: 20px;padding-top: 0;">
          <select class="form-ctrl" name="payee" id="payee" [(ngModel)]="accountDetails.itemName"
            (ngModelChange)="setDescription($event)">
            <option value="-1">Select Category</option>
            <option [value]="payee.category_id" *ngFor="let payee of categoryList">{{payee.category_name}}</option>
          </select>
        </div>
        <div class="account-input-item field-wrapper" style="padding-top: 0;margin-left: 0;margin-right: 20px;">
          <input type="text" value="" disabled id="item-name" class="form-ctrl" [(ngModel)]="accountDetails.description"
            style="padding: 6px;" name="item-name" placeholder="Category Description">
        </div>
        <div class="account-input-item field-wrapper" style="padding-top: 0;margin-left: 0;">
          <input type="text" value="" id="item-name" class="form-ctrl" [(ngModel)]="accountDetails.remarks"
            style="padding: 6px;" name="item-name" placeholder="Remark">
        </div>
        <div class="account-input-item field-wrapper" style="padding-top: 0;">
          <input type="text" value="" id="item-name" class="form-ctrl" [(ngModel)]="accountDetails.quantity"
            style="padding: 6px;" name="item-name" placeholder="Item Quantity"
            onkeypress="return (event.charCode >= 48 && event.charCode <= 57)">
        </div>
        <div class="account-input-item field-wrapper" style="padding-top: 0;">
          <input type="text" value="" id="item-name" maxlength="10" class="form-ctrl" [(ngModel)]="accountDetails.amount"
            style="padding: 6px;" name="item-name" placeholder="Item Amount"
            onkeypress="return (event.charCode >= 48 && event.charCode <= 57)">
        </div>
        <div class="account-input-item">
          <button type="button" name="button" class="add-item-btn" [disabled]="!jsonFlag.isAuthoriseUser"
            (click)="addItem()">Add</button>
        </div>
      </div>
      <div class="account-value-outer-container">
        <div class="list-table-container">

          <div class="list-header-container" *ngIf="addedItemList.length">
            <div class="list-header-item small-item">
              <span>Item/Category</span>
            </div>
            <div class="list-header-item small-item">
              <span>Description </span>
            </div>
            <div class="list-header-item medium-item">
              <span>Payment Mode</span>
            </div>
            <div class="list-header-item medium-item">
              <span>Transaction Id</span>
            </div>
            <div class="list-header-item medium-item">
              <span>Cheque Number</span>
            </div>
            <div class="list-header-item medium-item">
              <span>Remark</span>
            </div>
            <div class="list-header-item small-item align-center">
              <span>Quantity</span>
            </div>
            <div class="list-header-item small-item align-center">
              <span>Amount</span>
            </div>
            <div class="list-header-item small-item align-center">
            </div>
          </div>
        </div>

        <div class="account-value-container" *ngFor="let item of addedItemList">
          <div class="account-value-item">
            <span>{{item.itemName}}</span>
          </div>
          <div class="account-value-item">
            <span title="{{item?.description}}">{{ (!item.description) ? '-' : (item.description.length > 20) ?
              (item.description | slice:0:20) + '...' : item.description}}</span>
          </div>


          <div class="account-value-item">
            <span *ngIf="item.payment_mode == 2">
              Credit/Debit card
            </span>
            <span *ngIf="item.payment_mode == 1">
              Cheque
            </span>
            <span *ngIf="item.payment_mode == 0">
              Cash
            </span>
            <span *ngIf="item.payment_mode == 3">
              Net Banking
            </span>
          </div>



          <div class="account-value-item">
            <span title="{{item?.transaction_id}}">{{ (!item.transaction_id) ? '-'
              :
              (item.transaction_id.length > 20) ?
              (item.transaction_id | slice:0:20) + '...' : item.transaction_id}}</span>
          </div>



          <div class="account-value-item">
            <span title="{{item?.ChequeNumber}}">{{ (!item.cheque_number) ? '-' :
              (item.cheque_number.length > 20) ?
              (item.cheque_number | slice:0:20) + '...' : item.cheque_number}}</span>
          </div>



          <div class="account-value-item">
            <span title="{{item?.remarks}}">{{ (!item.remarks) ? '-' : (item.remarks.length > 20) ? (item.remarks |
              slice:0:20) + '...' : item.remarks}}</span>
          </div>
          <div class="account-value-item">
            <span>{{item.quantity}}</span>
          </div>
          <div class="account-value-item right-align">

            <span> Rs.{{item.amount}}</span>
          </div>
          <div class="account-value-item">
            <i class="fa fa-times remove-icon" aria-hidden="true"
              [ngStyle]="{cursor: !jsonFlag.isAuthoriseUser ? 'no-drop':'pointer'}" (click)="removeItem(item.itemName)"
              title="Remove Item"></i>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="total-amount-container" *ngIf="totalAmount > 0">
    <span style="font-size:14px; font-weight: 600;margin-right: 10px;">Total Amount:</span>
    <span>Rs.{{totalAmount}}</span>
  </div>

  <!-- Upload Document Details -->
  <section class="hide">
    <div class="upload-docs-container">
      <span class="upload-title">Upload Attachments</span>
      <div class="upload-docs-input-container">
        <div class="upload-docs-input-item field-wrapper">
          <input type="file" class="form-ctrl" id="uploadFileControl" name="uploadFileBox" accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,
          text/plain, application/pdf, image/*" />
        </div>
        <div class="upload-docs-input-item field-wrapper">
          <input type="text" value="" id="item-name" class="form-ctrl" style="padding: 6px;" name="item-name"
            placeholder="Document Description" [(ngModel)]="docDescription">
        </div>
        <div class="upload-docs-input-item">
          <button type="button" name="button" class="upload-docs-btn" (click)="uploadHandler()">Add</button>
        </div>
      </div>
      <div class="upload-docs-value-outer-container">
        <div class="upload-docs-value-container" *ngFor="let doc of docsList">
          <div class="upload-docs-value-item">
            <span *ngIf="sectionName == 'Add'" title="{{doc.fileName}}">{{ (doc.fileName.length > 20) ? (doc.fileName |
              slice:0:20) + '...' : doc.fileName }}</span>
            <span *ngIf="sectionName == 'Edit'" title="{{doc.fileName}}">
              {{ (doc.fileName.length > 20) ? (doc.fileName | slice:0:20) + '...' : doc.fileName }}
              <i class="fa fa-download download-icon" aria-hidden="true"
                (click)="downloadattachemnt(doc.file_id, doc.file_extn, doc.fileName)"></i>
              <a id="downloadFileClick" [href]="fileUrl" class="hide"></a>
            </span>
          </div>
          <div class="upload-docs-value-item">
            <span *ngIf="doc?.file_desc && !!doc.file_desc" title="{{doc.file_desc}}">{{ (doc.file_desc.length > 20) ?
              (doc.file_desc | slice:0:20) + '...' : doc.file_desc }}</span>
          </div>
          <div class="upload-docs-value-item">
            <i class="fa fa-times remove-icon" aria-hidden="true" style="margin-left:0"
              (click)="removeDoc(doc.fileName)" title="Remove Attachment"></i>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <footer>
      <div class="action-container">
        <button type="button" name="button" class="cancel-btn"
          routerLink="/view/expense/manage-expense">{{(!jsonFlag.isAuthoriseUser) ? 'Back To Expense' : 'Cancel'}}
        </button>

        <button type="button" name="button" class="save-btn" [disabled]="!jsonFlag.isAuthoriseUser"
          (click)="addExpense()">Save </button>
      </div>
    </footer>
  </section>

</section>

<app-add-edit-payee *ngIf=payeeVisibilty (closePopup)="togglePayee($event)">
</app-add-edit-payee>

<app-add-edit-account *ngIf=accountVisibilty (closePopup)="toggleAccount($event)">
</app-add-edit-account>

<app-add-edit-category *ngIf=categoryVisibility (closePopup)="toggleCategory($event)">
</app-add-edit-category>