<div class="actb-top-header clearfix">
    <span class="heading">
        Fee stats
    </span>
    <button class="pull-right drag-button hide">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path fill="#0C8AF6" fill-rule="nonzero" d="M19.723 11.927a.487.487 0 0 0-.107-.16l-1.683-1.684a.493.493 0 1 0-.698.697l.842.842h-5.7v-5.7l.878.879a.492.492 0 1 0 .698-.698l-1.72-1.72a.493.493 0 0 0-.697-.001L9.85 6.066a.494.494 0 0 0 .697.698l.843-.842-.001 5.7H5.692l.84-.842a.493.493 0 0 0-.697-.697l-1.683 1.684a.49.49 0 0 0 0 .697l1.72 1.72a.49.49 0 0 0 .698 0 .493.493 0 0 0 0-.697l-.88-.879h5.7v5.7l-.842-.841a.494.494 0 0 0-.697.697l1.684 1.684a.49.49 0 0 0 .697 0l1.721-1.721a.493.493 0 1 0-.698-.698l-.879.88v-5.7h5.702l-.88.878a.494.494 0 0 0 .698.698l1.72-1.72.004-.005a.506.506 0 0 0 .141-.345.496.496 0 0 0-.038-.188z"
            />
        </svg>
    </button>
    <input type="text" value="" id="feeWidDate" class="widgetDatepicker bsDatepicker" name="enqWidDate" [(ngModel)]="feeDate"
    (ngModelChange)="updateFeeByDate()" readonly="true" bsDaterangepicker/>
</div>
<div class="fees-state-bottom">
    <ul>
        <li>
            <label for="idEnableSMS" style="font-size:14px ">Fee Collection
                <br>
                <span class="enquiry-state-date" style="font-size:12px ">
                    {{getFeeStartDate()| date: 'dd MMM yyyy'}} To {{getFeeEndDate()| date: 'dd MMM yyyy'}}
                    <button (click)="openCalendar('feeWidDate')" style="background: white;
                        position: relative;  top: 7px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <g fill="#0084F6" fill-rule="nonzero">
                                <path d="M18.667 5.5H16.5v-1a.5.5 0 1 0-1 0v1h-3v-1a.5.5 0 1 0-1 0v1h-3v-1a.5.5 0 1 0-1 0v1H5.333C4.598 5.5 4 6.096 4 6.833v11.833C4 19.403 4.597 20 5.333 20h13.334c.736 0 1.333-.597 1.333-1.334V6.833c0-.737-.596-1.333-1.333-1.333zM19 18.666c0 .184-.15.334-.333.334H5.333A.334.334 0 0 1 5 18.666V6.833c0-.184.15-.333.333-.333H7.5v1a.5.5 0 1 0 1 0v-1h3v1a.5.5 0 1 0 1 0v-1h3v1a.5.5 0 1 0 1 0v-1h2.167c.183 0 .333.15.333.333v11.833z"
                                />
                                <path d="M7.5 10h2v1.5h-2zM7.5 12.5h2V14h-2zM7.5 15h2v1.5h-2zM11 15h2v1.5h-2zM11 12.5h2V14h-2zM11 10h2v1.5h-2zM14.5 15h2v1.5h-2zM14.5 12.5h2V14h-2zM14.5 10h2v1.5h-2z"
                                />
                            </g>
                        </svg>
                    </button>
                </span>
                <div class="questionInfo inline-relative" style="left: 48%;top: -46px;">
                    <span class="qInfoIcon i-class">i</span>
                    <div class="tooltip-box-field" style="font-size: 12px;">
                        Total fee collection
                        <br> will be based
                        <br>on selected date filter
                    </div>
                </div>

            </label>
            <div style="margin-top: -20px;"> {{ _commService.currency_default_symbol}}{{getFeeAmount('total').toLocaleString('en-IN')}}</div>

        </li>
        <li>
            <label style="font-size:14px;padding-left: 25px; ">Future Dues
                <br>
                <div class="questionInfo inline-relative" style="left: 45%; top: -17px;">
                    <span class="qInfoIcon i-class">i</span>
                    <div class="tooltip-box-field" style="font-size: 12px; width: 120px;">
                        It will show all
                        <br> future dues
                        <br> including current date.
                    </div>
                </div>

            </label>
            <div style="margin-top: -20px; padding-left: 25px;"> {{ _commService.currency_default_symbol}}{{getFeeAmount('pending').toLocaleString('en-IN')}}  </div>
            <div style="  text-transform: lowercase;     font-size: 12px; padding-left: 25px;
            margin-top: 1px ">{{getDate(0)}} - onwards </div>
        </li>
        <li></li>
        <li>

            <label style="padding-left: 25px;font-size: 14px;">Past Dues
                <br>

                <div class="questionInfo inline-relative" style="left: 35%; top: -17px;">
                    <span class="qInfoIcon i-class">i</span>
                    <div class="tooltip-box-field" style="font-size: 12px;">
                        It will show all
                        <br> past dues
                        <br>before current date.
                    </div>
                </div>
            </label>
            <div style="margin-top: -20px;padding-left: 25px;"> {{ _commService.currency_default_symbol}}{{getFeeAmount('past') .toLocaleString('en-IN')}}</div>
            <div style="  text-transform: lowercase; font-size: 12px; margin-top: 1px ;padding-left: 25px;"> upto - {{getDate(1)}}</div>
        </li>
    </ul>
</div>
