<div class="row">
  <div class="col-md-12 subject-wrapper">
    <div class="subject-item" *ngFor="let topic of dataList;">
      <div class="subject-label row border-radius-0">
        <div class="col-md-4">
          <i class="fa fa-chevron-down " (click)="toggleObject(topic)" *ngIf="topic.subTopic.length && topic.isExpand"></i>
          <i class="fa fa-chevron-up " (click)="toggleObject(topic)" *ngIf="topic.subTopic.length && (!topic.isExpand)"></i>
          &nbsp; {{topic.topicId}} &nbsp; {{topic.topicName}}
        </div>
        <div class="col-md-4">
          <span style="font-weight: 600;">Est. Time :</span> &nbsp; {{topic.estimated_time}}
        </div>
        <div class="col-md-2">
          <span style="font-weight: 600;">Priority :</span> &nbsp; {{topic.priority_order}}
        </div>
        <div class="pull-right">
          <i class="fa fa-plus-circle btn_action pad_icon" (click)="addSubtopic(topic)" title="Add subTopic " aria-hidden="true"></i>
          <i class="fa fa-pencil btn_action pad_icon" (click)="eventAction('Edit',topic)" title="Edit"></i>
          <i class="fa fa-trash-o btn_delete pad_icon" (click)="eventAction('Delete',topic)" title="Delete"></i>
        </div>

        <div class="row col-md-12 p-0" *ngIf="topic.isExpand">
          <div class="col-md-12 topic-material-data">
            <ng-container *ngTemplateOutlet="recursiveAddNodes; context:{$implicit: topic.addSubtopic,topic:topic, level: 1}"></ng-container>
            <ng-container *ngTemplateOutlet="recursiveNodes; context:{$implicit: topic.subTopic, level: 1}"></ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #recursiveAddNodes let-addSubtopic  let-topicData="topic" let-level="level">
    <div class="row topic-row" style="padding: 1em 0em 0em .6em;" *ngFor="let topic of addSubtopic">
      <div [class]="'subject-label row'" style="border: 1px solid #0080f6; padding: 0.3em 0em;">
        <div class="col-md-4">
          <div class="dropdown-div">
            <input class="dropdown" [(ngModel)]="topic.name" placeholder="Enter Subtopic Name" type="text">
          </div>
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-2">
          <input class="dropdown" [(ngModel)]="topic.priority_order" placeholder="Enter Priority of Topic" type="text" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)">
        </div>
        <div class="pull-right" style=" padding-right: 1em;">
          <button class="btn" [disabled]="disableAddBtn" (click)="addEditSubtopicDetails(topic,'Subtopic')" style="padding: 0px 7px; font-size: 12px; height: 25px;">
            <i class="fa fa-plus" style="padding: 0px 5px" aria-hidden="true"></i>Add</button>
          <button class="btn_delete">
            <i aria-hidden="true" (click)="cancelAdd(topicData)" class="fa fa-times-circle delete_icon"  title="Cancel"></i>
          </button>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #recursiveNodes let-subTopics let-level="level">
    <div class="row topic-row" style="padding: 1em 0em 0em .6em;" *ngFor="let topic of subTopics">
      <div [class]="'subject-label row border-radius-'+level" *ngIf="!topic.isEdit">
        <div class="col-md-4">
          <i class="fa fa-chevron-down " (click)="toggleObject(topic)" *ngIf="topic.subTopic.length && topic.isExpand"></i>
          <i class="fa fa-chevron-up " (click)="toggleObject(topic)" *ngIf="topic.subTopic.length && (!topic.isExpand)"></i>
          &nbsp;{{topic.topicId}} &nbsp; {{topic.topicName}}
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-2">
          <span style="font-weight: 600;">Priority :</span> &nbsp; {{topic.priority_order}}
        </div>
        <div class="pull-right">
          <i class="fa fa-plus-circle btn_action pad_icon" (click)="addSubtopic(topic)" title="Add subTopic " aria-hidden="true"></i>
          <i class="fa fa-pencil btn_action pad_icon" (click)="EditSubtopic(topic)" title="Update Topic"></i>
          <i class="fa fa-trash-o btn_delete pad_icon" (click)="eventAction('Delete',topic)" title="Delete Topic"></i>
        </div>
        <div class="row col-md-12 p-0" *ngIf="topic.isExpand">
          <div class="col-md-12 topic-material-data">
            <ng-container *ngTemplateOutlet="recursiveAddNodes; context:{$implicit: topic.addSubtopic, topic:topic,level: level+1}"></ng-container>
            <ng-container *ngTemplateOutlet="recursiveNodes; context:{$implicit: topic.subTopic, level: level+1 }"></ng-container>
          </div>
        </div>
      </div>
      <div class="row topic-row" style="padding: 1em 0em 0em .6em;" *ngIf="topic.isEdit">
        <div [class]="'subject-label row'" style="border: 1px solid #0080f6;    padding: 0.3em 0em;">
          <div class="col-md-4">
            <div class="dropdown-div">
              <input class="dropdown" [(ngModel)]="topic.name" placeholder="Enter Subtopic Name" type="text">
            </div>
          </div>
          <div class="col-md-4">
          </div>
          <div class="col-md-2">
              <input class="dropdown" [(ngModel)]="topic.priority_order" placeholder="Enter Priority of Subtopic" type="text">
          </div>
          <div class="pull-right" style=" padding-right: 1em;">
            <button class="btn" (click)="addEditSubtopicDetails(topic,'EditSubtopic')" style="padding: 0px 7px; font-size: 12px; height: 25px;">
              Update</button>
            <button class="btn" (click)="clearObject(topic)" style="padding: 0px 7px; font-size: 12px; height: 25px;">
              Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
