<div class="row main-topic-row" style="margin-bottom: 10px;border: none;">
    <div class="form-group">
      <label class="text-bold">Description<span class="text-danger">*</span></label>
      <!-- <textarea [(ngModel)]="description" name="description" style="height:200px" maxLength="1500"
        class="form-control form-control-sm" placeholder="Write a  description about this product online classes"></textarea> -->
        <editor
         [init]="editorConf" apiKey="xix5hq71alw64jp2ufl9fo6nddnhg91n6h7w2afn043v538t"   [(ngModel)]="description"></editor>
    </div>
  </div>

  <div class="row basic-info-footer">
      <div class="col text-center">
        <button class="btn btn-outline-danger btn-round" (click)="gotoBack()" style="color:red;">Cancel</button>
        <button class="btn btn-primary btn-round" [disabled]="isRippleLoad" (click)="gotoNext()">Save & Next</button>
      </div>

    </div>
