.basic-info-footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1pt solid #f3f3f3;
    padding: 0.5em 0.8em;
    background: #fff;
    box-shadow: 0pt -2pt 6pt #e6e6e6;
    z-index: 5;
    background: #fafafa;
    width: 85.5%;
    margin-left: 14.5%;
}

.btn-round{
    padding: 0.2em 1em;
    border-radius: 4px;
    margin: 0.2em;
}

.black-bg{
    background: rgba(12, 11, 11, 0.3);
    position: fixed;
    top: 0px;
    height: 100%;
    left: 0px;
    z-index: 6;
    width: 100%;
  }
