<div class="middle-section clearFix courseAdd" style="height:auto;">

  <section class="middle-top mb0 clearFix" style="margin-top: -50px;">
    <h1 class="pull-left">
      <!-- changes by Nalini - to handle school model conditions -->
      {{schoolModel ? 'Add Section': 'Add Course'}}
    </h1>
  </section>

  <section class="middle-main clearFix">
    <div class="clearFix add-edit" *ngIf="!schoolModel">
      <a (click)="toggleCreateNewSlot()">
        <i id="showAddBtn" class="addBtnClass">+</i>
        <i id="showCloseBtn" style="display:none" class="closeBtnClass">-</i>
        <span>Create Master Course</span>
      </a>
    </div>
    <div *ngIf="divCreateNewCourse" class="create-standard-form wrapperForm">
      <div class="row">
        <div class="c-lg-3 c-md-3 c-sm-3" *ngIf="!schoolModel">
          <div class="field-wrapper">
            <label for="idMasterCourse">Master Course
              <span class="text-danger">*</span>
            </label>
            <input type="text" id="idMasterCourse" #masterCourseInput name="masterCourse"
              [(ngModel)]="newCourseAdd.master_course_name" class="form-ctrl" placeholder="Enter Master Course Name" />
          </div>
        </div>
        <div class="c-lg-3 c-md-3 c-sm-3">
          <div class="field-wrapper">
            <label for="idStandardName">Standard Name
              <span class="text-danger">*</span>
            </label>
            <select id="idStandardName" #standardNameDDn class="form-ctrl" [(ngModel)]="newCourseAdd.standard_id">
              <option value="-1">Select Standard</option>
              <option *ngFor="let opt of standardNameList" [value]="opt.standard_id">
                {{opt.standard_name}}
              </option>
            </select>

          </div>
        </div>
        <div class="c-lg-3 c-md-3 c-sm-3" style="margin-top: 25px">
          <input type="button" value="Go" class="btn fullBlue" (click)="btnGoClickCreateCourse()">
        </div>
      </div>
    </div>
  </section>


  <section class="add-section-wrapper" *ngIf="(subjectList.length > 0)">
    <div class="row name-section">
      <div class="c-sm-3 c-md-3 c-lg-3">
        <div class="field-wrapper">
          <!-- changes by Nalini - to handle school model conditions -->
          <label for="masterCourse">{{schoolModel ? 'Section' : 'Course'}} Name
            <span class="text-danger">*</span>
          </label>
          <input type="text" name="masterCourse" id="masterCourse" [(ngModel)]="courseDetails.course_name"
            class="form-ctrl" />
        </div>
      </div>

      <div class="c-sm-2 c-md-2 c-lg-2">
        <div class="field-wrapper datePickerBox">
          <label for="startDate">Start Date
            <span class="text-danger">*</span>
          </label>
          <input type="text" value="" readonly="true" class="form-ctrl bsDatepicker"
            [(ngModel)]="courseDetails.start_Date" name="startDate" id="startDate" bsDatepicker>
          <!-- <span class="date-clear" name="followupdate" (click)="clearAddEnquiryDate('startDatePicker')">clear</span> -->
        </div>
      </div>

      <div class="c-sm-2 c-md-2 c-lg-2">
        <div class="field-wrapper datePickerBox">
          <label for="endDate">End Date
            <span class="text-danger">*</span>
          </label>
          <input type="text" value="" readonly="true" class="form-ctrl bsDatepicker"
            [(ngModel)]="courseDetails.end_Date" name="endDate" bsDatepicker id="endDate">
          <!-- <span class="date-clear" name="followupdate" (click)="clearAddEnquiryDate('endDatePicker')">clear</span> -->
        </div>
      </div>

      <div class="c-sm-2 c-md-2 c-lg-2">
        <div class="field-wrapper">
          <label for="endDate">Academic Year
            <span class="text-danger">*</span>
          </label>
          <select class="form-ctrl" [(ngModel)]="courseDetails.academic_year_id"
            (ngModelChange)="setStartAdEndDate(courseDetails)" style="background: transparent">
            <option *ngFor="let opt of academicList"  [value]="opt.inst_acad_year_id">
              {{opt.inst_acad_year}}
            </option>
          </select>
        </div>
      </div>
      <div class="c-sm-3 c-md-3 c-lg-3" style="padding-top: 20px">
        <div [ngClass]="{'hideVisibility' : examGradeFeature == 0}" class="field-checkbox-wrapper"
          style="margin-top: 10px;">
          <input type="checkbox" id="allow" value="" [(ngModel)]="courseDetails.allow_exam_grades" name="allow"
            class="form-checkbox">
          <label for="allow">Allow Exam Grades</label>
        </div>
      </div>
    </div>
    <div class="table-section">
      <table class="">
        <thead>
          <tr>
            <th>
             Select Subject 
            </th>
            <th>
              Subject Name
            </th>
            <th>
              Select Teacher <span class="text-danger">*</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of subjectList ; let i= index; trackBy: index">
            <td>
              <div class="field-checkbox-wrapper">
                <input id="{{row.subject_id}}" [(ngModel)]="row.uiSelected" type="checkbox" value=""
                  class="form-checkbox">
                <label for="{{row.subject_id}}"></label>
              </div>
            </td>
            <td>
              {{row.is_optional=='Y'?row.subject_name+'(Optional)':row.subject_name}}
            </td>
            <td>
              <div class="field-wrapper">
                <select class="form-ctrl" [(ngModel)]="row.selected_teacher" (ngModelChange)="checkMoreOption(row)">
                  <option value="-1"></option>
                  <option *ngFor="let opt of row.allowedTeacher" [value]="opt.teacher_id">
                    {{opt.teacher_name}}
                  </option>
                </select>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="btn-section row">
      <button class="btn fullBlue pull-right" (click)="addDataToTable()">Add</button>
    </div>
  </section>


  <section *ngIf="mainArrayForTable.length > 0" class="add-section-wrapper">
    <table>
      <thead>
        <tr>
          <th style="width:20%">
            <!-- changes by Nalini - to handle school model conditions -->
            {{schoolModel ? 'Section': 'Course'}} Name
          </th>
          <th style="width:10%">
            Start Date
          </th>
          <th style="width:10%">
            End Date
          </th>
          <th style="width:20%">
            Academic Year
          </th>
          <th *ngIf="examGradeFeature == '1'" style="width:20%">
            Grade
          </th>
          <th style="width:20%">
            Action
          </th>
        </tr>
      </thead>
      <tbody>
        <tr id="row{{i}}" *ngFor="let row of mainArrayForTable; let i= index ; trackBy:index">
          <td colspan="6">
            <div>
              <table>
                <tbody>
                  <tr style="text-align: right">
                    <td style="width:20%">
                      <span>
                        {{row.course_name}}
                      </span>
                    </td>
                    <td style="width:10%">
                      <span>
                        {{row.start_Date | datePipe}}
                      </span>
                    </td>
                    <td style="width:10%">
                      <span>
                        {{row.end_Date | datePipe}}
                      </span>
                    </td>
                    <td style="width:20%">
                      <select class="form-ctrl" [(ngModel)]="row.academic_year_id">
                        <option value="-1">Select</option>
                        <option *ngFor="let opt of academicList"  [selected]="opt.default_academic_year==1" [value]="opt.inst_acad_year_id">
                          {{opt.inst_acad_year}}
                        </option>
                      </select>
                    </td>
                    <td *ngIf="examGradeFeature == '1'" style="width:20%">
                      <span *ngIf='(row.allow_exam_grades == true)'>Yes</span>
                      <span *ngIf='(row.allow_exam_grades != true)'>No</span>
                    </td>
                    <td>
                      <!-- {{row.subjectListArray.subject_name}} -->
                    </td>
                    <td id="viewComp{{i}}" class="viewComp" style="width:20%">
                      <a style="cursor:pointer" (click)="editRowFromTable(row , i)">Edit</a>
                      <a style="cursor:pointer" (click)="removeRowFromTable(row , i)">&nbsp;Delete</a>
                    </td>
                    <td id="editComp{{i}}" class="editComp" style="display:none ; width:20%">
                      <a style="cursor:pointer" (click)="updateDataOfNestedTable(row, i)"> &nbsp;Update</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div id="show{{i}}" class="nestedTable nestedTableHide">
              <div class="row name-section">
                <div class="field-wrapper c-sm-3 c-md-3 c-lg-3">
                  <label for="masterCourse">{{schoolModel ? 'Section' : 'Course'}} Name
                    <span class="text-danger">*</span>
                  </label>
                  <input type="text" style="background: transparent" name="masterCourse" [(ngModel)]="row.course_name"
                    id="masterCourse" class="form-ctrl" />
                </div>

                <div class="field-wrapper c-sm-2 c-md-2 c-lg-2">
                  <label for="startDate">Start Date
                    <span class="text-danger">*</span>
                  </label>
                  <input type="text" value="" style="background: transparent" readonly="true"
                    class="form-ctrl bsDatepicker" [(ngModel)]="row.start_Date" name="startDate" bsDatepicker
                    id="startDate">
                </div>

                <div class="field-wrapper c-sm-2 c-md-2 c-lg-2">
                  <label for="endDate">End Date
                    <span class="text-danger">*</span>
                  </label>
                  <input type="text" value="" style="background: transparent" readonly="true"
                    class="form-ctrl bsDatepicker" [(ngModel)]="row.end_Date" name="endDate" bsDatepicker id="endDate">
                </div>
                <div class="c-sm-2 c-md-2 c-lg-2">
                  <div class="field-wrapper">
                    <label for="endDate">Academic Year </label>
                    <select class="form-ctrl" [(ngModel)]="row.academic_year_id">
                      <option value="-1">Select</option>
                      <option *ngFor="let opt of academicList"  [selected]="opt.default_academic_year==1"
                        [value]="opt.inst_acad_year_id">
                        {{opt.inst_acad_year}}
                      </option>
                    </select>
                  </div>
                </div>

                <div *ngIf="examGradeFeature == 0" class="field-checkbox-wrapper c-sm-3 c-md-3 c-lg-3">
                  <input type="checkbox" value="" [(ngModel)]="row.allow_exam_grades" name="allow" class="form-checkbox"
                    id="allow">
                  <label for="allow">Allow Exam Grades</label>
                </div>

              </div>

              <div class="table-section">
                <table>
                  <thead>
                    <tr>
                      <th>
                        Select Subject
                      </th>
                      <th>
                        Subject Name
                      </th>
                      <th>
                        Select Teacher
                      </th>
                    </tr>
                  </thead>
                  <tbody class="subjectListTableTbody">
                    <tr *ngFor="let data of row.subjectListArray ; let i= index; trackBy: index">
                      <td>
                        <div class="field-checkbox-wrapper">
                          <input id="{{data.subject_id}}" [(ngModel)]="data.uiSelected" type="checkbox" value=""
                            class="form-checkbox">
                          <label for="{{data.subject_id}}"></label>
                        </div>
                      </td>
                      <td>
                        {{data.subject_name}}
                      </td>
                      <td>
                        <div class="field-wrapper">
                          <select class="form-ctrl" [(ngModel)]="data.selected_teacher">
                            <option value="-1"></option>
                            <option *ngFor="let opt of activeTeachers" [value]="opt.teacher_id">
                              {{opt.teacher_name}}
                            </option>
                          </select>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>

          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <div class="pull-right" style="margin-top: 10px;">
    <button class="btn" routerLink="/view/course/create/courselist">Back</button>
    <button id="btnSave" *ngIf="(mainArrayForTable.length>0)" class="btn fullBlue" [disabled]="isRippleLoad"
      (click)="submitCourseDetails()">Save</button>
  </div>

</div>