.batch-wrapper {
    table {
        table-layout: fixed;
        border-collapse: collapse;
        width: 100%;
    }
    tr {
        th {
            text-align: left;
            padding: 15px 5px 15px 5px;
            width: 10%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            background: #fafafa;
            &:first-child {
                width: 5%;
            }
            // &.mcourse {
            //     width: 13%;
            // }
            // &.courseN {
            //     width: 18%;
            //     padding: 15px 5px 15px 20px;
            // }
        }
        td {
            padding: 10px 5px;
            text-align: left;
            width: 10%;
            white-space: nowrap;
            // overflow: hidden;
            text-overflow: ellipsis;
            &:first-child {
                width: 5%;
            }
            // &.mcourse {
            //     width: 8%;
            // }
            // &.courseN {
            //     width: 8%;
            // }
            .field-wrapper {
                position: relative;
                padding-top: 0px;
                &.datePickerBox {
                    .bsDatepicker {
                        cursor: pointer;
                        position: relative;
                        z-index: 1;
                        background: transparent;
                        // width: 120px;
                    }
                    &:after {
                        content: '';
                        background: url("../../../../assets/images/calendar.svg") no-repeat;
                        position: absolute;
                        left: 67px;
                        top: 3px;
                        width: 17px;
                        height: 21px;
                        z-index: 0;
                    }
                }
                .date-clear {
                    position: absolute;
                    right: 60%;
                    top: 50px;
                    cursor: pointer;
                    color: #0084f6;
                }
                .form-ctrl {
                    background: transparent;
                }
            }
        }
    }
    // .row {
    //     margin: 0px;
    // }
}

.radio-filter {
    padding: 20px 5px 10px;
    .field-radio-wrapper {
        display: inline;
        margin-right: 20px;
        margin-left: 15px;
    }
    .field-radio-wrapper .form-radio+label {
        vertical-align: text-top;
    }
}

.filter-row {
    margin-bottom: 10px;
    padding: 0px 0px 6px 0px;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid rgba(10,10,10,0.3);
}

.batch-table {
    height: 260px;
    overflow-y: auto;
    margin-bottom: 5px;
    border-bottom: 1px solid #efefef;
    border-top: 1px solid #efefef;
}

.black-bg{
  background: rgba(10,10,10,0.3);
  position: fixed;
  top: 0px;
  height: 100%;
  left: 0px;
  z-index: 1;
  width: 100%;
}

.confirmation_popup{
  position: fixed;
  top: 35%;
  left: 40%;
  width: 300px;
  background: white;
  height: auto;
  padding: 20px;
  z-index: 100;
  border-radius: 6px;
  border-top: 4px solid rgba(255,0,0,0.7);
  box-shadow: 1px 8px 20px 5px #9c9c9c;
}
.confirm_title{
  font-size: 20px;
}
.confirmation_msg_box{
  margin-top: 15px;
}
.confirmation_popup{
  .field-checkbox-wrapper {
    .form-checkbox {
     opacity: 0;
     position: absolute;
     left: 0;
     top: 0;
     width: 20px;
     height: 20px;
     z-index: 1;
     border: 2px solid #0084f6;
   }
  }

  .field-checkbox-wrapper .form-checkbox+label {
      vertical-align: middle;
      font-size: 14px;
      display: inline-block;
  }
  .field-checkbox-wrapper .form-checkbox+label:after {
      content: '';
      width: 16px;
      height: 16px;
      border: 2px solid #ccc;
      border-radius: 2px;
      position: absolute;
      left: 0;
      top: 0;
  }
  .field-checkbox-wrapper .form-checkbox:checked+label:after {
      border: 2px solid #0084f6;
  }
  .field-checkbox-wrapper .form-checkbox+label:before {
      width: 1px;
      height: 1px;
      left: 8px;
      top: 9px;
      position: absolute;
      content: '';
      border-top: 0;
      border-right: 0;
      border-left: 2px solid transparent;
      border-bottom: 2px solid transparent;
      transform: rotate(-45deg);
  }
  .field-checkbox-wrapper .form-checkbox:checked+label:before {
      border-left: 2px solid #0084f6;
      border-bottom: 2px solid #0084f6;
      width: 12px;
      height: 5px;
      left: 2px;
      top: 5px;
  }
  .field-checkbox-wrapper .form-checkbox:checked+label {
      color: #0084f6;
  }
}

.confirmation_button_container{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  input{
    width: 80px;
  }
}

.disable_css{
    background:lightgrey ;
    cursor:not-allowed;
}

#batchListModal {
    top: 12%;
    left: 18%;
    * {
      margin: 0px;
    }
    
    .flex {
      display: flex;
    }
    
    .display {
      display: flex;
      justify-content: space-between;
    }
    
    .blue_button {
      background-color: #109CF1;
      color: #fff;
      padding: 0 16px;
      font-size: 12px;
      border: none;
      border-radius: 5px;
      font-weight: 600;
      line-height: 35px;
      cursor: pointer;
      height: 35px;
    }
    
    .white_button {
      background-color: #fff;
      color: #109CF1;
      padding: 0 20px;
      font-size: 12px;
      line-height: 35px;
      border: 1px solid #109CF1;
      border-radius: 5px;
      font-weight: 600;
      cursor: pointer;
      height: 35px;
    }
    
    .buttonshadow {
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }
    
    input:focus,
    select:focus,
    button:focus {
      outline: none;
    }
    
    .w98 {
      width: 96%;
      margin: 0px auto;
    }
    
    .page-content {
      background: #F5F5F5;
      height: calc(100vh - 60px);
      padding: 16px 1%;
    }
    
    .mr16 {
      margin-right: 16px;
    }
    .mr20 {
        margin-right: 20px;
      }
    .input1 {
      background: #F5F5F5;
      border-radius: 2px;
      width: 94%;
      line-height: 30px;
      height: 30px;
      font-weight: 400;
      font-size: 12px;
      padding-left: 8px;
      letter-spacing: 0.01em;
      color: #323C47;
    }
    
    .input1::placeholder {
      color: #8e939a;
    }
    
    input[type="date"]::-webkit-calendar-picker-indicator {
      opacity: 1;
      display: block;
      // background: url(../../../../assets/library/cal.svg) no-repeat;
      width: 20px;
      height: 20px;
      border-width: thin;
      padding: 2px 0px;
      padding-left: 10px;
      background-size: contain;
    }
    
    .form1 select.input1 {
      width: 200px;
    }
    .close{
      color: black !important;
      opacity: 1;padding-bottom: 10px;
    }
    h5.modal-title {
      font-weight: 600;
      font-size: 13px;
      line-height: 16px;
      /* identical to box height */
    
      letter-spacing: 0.01em;
    
      color: #2B2626;
    }
    
    @media (min-width: 768px) {
      .modal-dialog {
        width: 1000px;
      }
    }
    
    .modal-dialog {
      width: 1000px;
    }
    
    .modal {
      position: fixed;
      top: 50% !important;
      left: 50%;
      width: fit-content;
      height: fit-content;
      transform: translate(-50%, -50%);
    }
    .form1{
        box-sizing: border-box;
        border-radius: 2px;
        display: flex;
        justify-content: space-between;
    }
    .search.input1{
        width:200px;
        // background: url(../../../../assets/library/search.svg) no-repeat #F5F5F5;
        background-position: 90% center;
    }
    .checkbox {
        display: grid;
        grid-template-columns: min-content auto;
        grid-gap: 0.5em;
        font-size: 2rem;
        color: var(--color);
        cursor: pointer;
      }
      
      .checkbox__input input {
        opacity: 0;
        width: 0em;
        height: 0em;
      }
      
      .checkbox__control {
        display: inline-grid;
        width: 0.5em;
        height: 0.5em;
        border-radius: 0.1em;
        border: 1px solid #BBB2B2;
        ;
      }
      
      .checkbox__input {
        display: grid;
        grid-template-areas: "checkbox";
      }
      
      .checkbox__control svg {
        color: #fff;
        background: #109CF1;
        transition: transform 0.1s ease-in 25ms;
        transform: scale(0);
        stroke-width: 4;
        padding: 2px;
        width: 0.5em;
        height: 0.5em;
        border: none;
        border-radius: 3px;
        transform-origin: bottom left;
      }
      
      .checkbox__input input:checked+.checkbox__control svg {
        transform: scale(1);
      }
      
      .checkbox__input input:checked+.checkbox__control {
        border: none;
      }
    .input1.w100{
        width: 100%;
    }
    .w100{
        width: 100%;
    }
    .scrool1 {
        max-height:350px;
        overflow-y: auto;
       
    }
    
    /* width */
    .scrool1::-webkit-scrollbar {
        width: 14px;
    }
    
    /* Track */
    .scrool1::-webkit-scrollbar-track {
        background: #EFF0F5;
        border-left: 10px solid rgba(255, 255, 255, 0);
        background-clip: padding-box;
    }
    
    /* Handle */
    .scrool1::-webkit-scrollbar-thumb {
        background: #0097F9;
        border-left: 10px solid rgba(255, 255, 255, 0);
        background-clip: padding-box;
    }
    
    .scrool1 {
        scrollbar-color: #0097F9 #EFF0F5;
        scrollbar-width: thin;
    }
    
    .table_body{
      box-sizing: border-box;
      word-break: break-all;
      width: 100%;
      display: flex;
      border-bottom: 1px solid #E7E7E7;
      padding:8px 10px;
      margin-top: 8px;
    }
    .t-shadow{
      border: 1px solid #E7E7E7;
      display: flex;
      margin-top: 13px;
      background-color: #DFE5F0;
      border-radius: 2px;
      padding:8px 10px;
    }
    .table_body>div:first-child,  .t-shadow>div:first-child{
      width:2%;
      display: flex;
      justify-content: center;
    }
    .t-shadow .label{
  
    /* identical to box height, or 120% */
    text-align: left;
    text-transform: capitalize;
    padding-left: 0px;
    font-weight: 600;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 0.01em;
    
    /* table_black */
    
    color: #323C47;
    }
    .table_body p{
      font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    /* identical to box height */
    
    letter-spacing: 0.01em;
    text-transform: capitalize;
    
    color: #334D6E;
    }
    .table_body>div:nth-child(2),.table_body>div:nth-child(3),.t-shadow >div:nth-child(2),.t-shadow >div:nth-child(3){
      width: 23%;
      padding-left: 10px;
    }
    .table_body .span{
      font-weight: 400;
    font-size: 13px;
    line-height: 30px;
    /* identical to box height */
    letter-spacing: 0.01em;
    text-transform: capitalize;
    
    color: #334D6E;
    }
    .table_body img{
      padding-right: 8px;
      height: 13px;
      width: auto;
    }
    .table_body>div:nth-child(5),.table_body>div:nth-child(4),.t-shadow>div:nth-child(5),.t-shadow>div:nth-child(4){
      width:18%;
      padding-left: 10px;
    }
    .table_body>div:nth-child(6),.table_body>div:nth-child(7),  .t-shadow>div:nth-child(6),.t-shadow>div:nth-child(7){
      width:calc( 30% / 2);
      padding-left: 10px;
    }
    select{
      height: 30px;
      line-height: 30px;
    }
    .space{
      padding-top: 5px;
    }
    .pull-right {
      margin-right: 15px;
      margin-bottom: 10px;
      .btn {
        margin-right: 10px;
        height: 35px;
        vertical-align: middle;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 5px;
      }
    }
}
.field-wrapper.datePickerBox:after {
  top: 3px;
}
