<div id="addAccountModal" class="modal fade" role="dialog" data-backdrop="static">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" style="margin-top: 10%;">
      <div class="modal-header">
        <button type="button" class="close" (click)="closePopups()">&times;</button>
        <h3 class="modal-title" *ngIf="isEditAccount">Update Account Details</h3>
        <h3 class="modal-title" *ngIf="!isEditAccount">Create Account</h3>
      </div>
      <div class="modal-body">
        <div class="payee-container">
          <div class="payee-item field-wrapper">

            <div class="payee-item field-wrapper">
              <label for="">Payee/Payer<span class="danger">*</span></label>
              <select class="form-ctrl" name="" [(ngModel)]="accountDetails.valuType">
                 <option value="0">Payee</option>
                <option value="1">Payer</option>
              </select>
            </div>



            <div class="payee-item field-wrapper" *ngIf="accountDetails.valuType == '0'">
              <label for="">Payee<span class="danger">*</span></label>
              <select class="form-ctrl" name="" [(ngModel)]="accountDetails.displayPayeeName">
                <option [value]="payee.party_id" *ngFor="let payee of payeeAccount">
                  {{ payee.display_name }}
                </option>
              </select>
            </div>



            <div class="payee-item field-wrapper" *ngIf="accountDetails.valuType == '1'">
              <label for="">Payer<span class="danger">*</span></label>
              <select class="form-ctrl" name="" [(ngModel)]="accountDetails.displayPayeeName">
                 <option [value]="payeer.party_id" *ngFor="let payeer of payeerAccount">
                  {{payeer.display_name}}</option>
              </select>
            </div>


            <div class="payee-item field-wrapper">
              <label for="">Account Name <span class="danger">*</span><span class="danger" *ngIf="accountDetails.valuType == '3'">*</span></label>
              <input type="text" name="" value="" [(ngModel)]="accountDetails.accountName"
                placeholder="Enter Account Name" class="form-ctrl">
            </div>

            <div class="payee-item field-wrapper">
              <label for="">Account Type<span class="danger">*</span></label>
              <select class="form-ctrl" name="" [(ngModel)]="accountDetails.accountType">
                <option title="{{acc.data_value}}" [value]="acc.data_key" *ngFor="let acc of account">
                  {{ (acc.data_value.length > 30) ? (acc.data_value | slice:0:30) + '...' : acc.data_value }}</option>
              </select>
            </div>

            <div class="payee-item field-wrapper" *ngIf="accountDetails.accountType == '3' || accountDetails.accountType == '0'">
              <!-- <label for="">Account Number<span class="danger" *ngIf="accountDetails.valuType == '0'">*</span></label> -->
              <label for="">Account Number</label>

              <input type="text" name="" value="" [(ngModel)]="accountDetails.accountNumber"
                placeholder="Enter Account Number" class="form-ctrl">
            </div>



            <div class="payee-item field-wrapper" *ngIf="accountDetails.accountType == '3' || accountDetails.accountType == '0'">
              <!-- <label for="">IFSC Code<span class="danger" *ngIf="accountDetails.valuType !== '1'">*</span></label> -->
              <label for="">IFSC Code</label>

              <input type="text" name="" value="" [(ngModel)]="accountDetails.IFSC_Code" placeholder="Enter IFSC Code"
                class="form-ctrl">
            </div>



            <div class="payee-item field-wrapper">
              <label for="">Description</label>
              <input type="text" name="" value="" [(ngModel)]="accountDetails.accountDescription"
                placeholder="Enter Account Description" class="form-ctrl">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-default" (click)="closePopups()">Close</button> -->
          <button type="button" class="btn btn-default add-area-btn" (click)="saveAccountDetails()">Save</button>
        </div>
      </div>

    </div>
  </div>