<proctur-popup [sizeWidth]="'large'">

    <span class="closePopup pos-abs fbold show" id="popupCloseBtn" (click)="closePopups()" close-button>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="9310 2185 16 16">
            <g id="Group_1228" data-name="Group 1228" transform="translate(8298 1888)">
                <g id="Group_1213" data-name="Group 1213" transform="translate(34.189 -7.77)">
                    <line id="Line_274" data-name="Line 274" class="cls-1" y2="19.798" transform="translate(992.81 305.77) rotate(45)" />
                    <line id="Line_275" data-name="Line 275" class="cls-1" x1="19.798" transform="translate(978.81 305.77) rotate(45)" />
                </g>
                <rect id="Rectangle_686" data-name="Rectangle 686" style="stroke:none;" class="cls-2" width="16" height="16" transform="translate(1012 297)"
                />
            </g>
        </svg>
    </span>

    <h2 popup-header>Payment History </h2>
    <h2 popup-header style="color: #8a6c6c; font-size: 14px;"> {{feeData.student_name}} ( # {{feeData.student_disp_id}} )</h2>

    <div class="history-wrapper" popup-content>
        <div class="table-container">
            <div class="table">
                <h6>Payment History</h6>
                <table>
                    <thead>
                        <tr>
                            <th>Paid On</th>
                            <th>Course</th>
                            <th>Academic Year</th>
                            <th>Receipt #</th>
                            <th>Installment #</th>
                            <th>Fee Type</th>
                            <th>Amount</th>
                            <th>Tax</th>
                            <th>Discount Amount</th>
                            <th>Total Amount</th>
                            <th>Amount Paid</th>
                            <th>Amount Due</th>
                            <th>Payment Mode</th>
                            <th>Ref #</th>
                            <th>Remarks</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="pastHIstoryData.length">
                        <tr *ngFor="let p of pastHIstoryData; let i= index;">
                            <td style="width:10%;">{{p.paid_date}}</td>
                            <td>{{p.course_subject_name}}</td>
                            <td>{{p.academic_year}}</td>
                            <td><a (click)="downloadReceipt(p, i)"  id="customreceipt{{i}}">{{p.display_invoice_no}}</a></td>
                            <td>{{p.installment_no}}</td>
                            <td>{{p.fee_type_name}}</td>
                            <td> {{ _commService.currency_default_symbol}}{{p.total_initial_amount.toLocaleString('en-IN')}}</td>
                            <td> {{p.total_tax_applied}}</td>
                            <td> {{p.total_discount}}</td>
                            <td> {{ _commService.currency_default_symbol}}{{p.total_amount_after_discount_after_tax.toLocaleString('en-IN')}}</td>
                            <td> {{ _commService.currency_default_symbol}}{{p.total_amt_paid.toLocaleString('en-IN')}}</td>
                            <td> {{ _commService.currency_default_symbol}}{{p.total_balance_amt.toLocaleString('en-IN')}}</td>
                            <td>{{p.paymentMode}}</td>
                            <td>{{p.reference_no}}</td>
                            <td>{{p.remarks}}</td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="pastHIstoryData.length == 0 && dataStatus === true">
                        <tr *ngFor="let dummy of dummyArr">
                            <td *ngFor="let c of columnMaps" style="padding:10px;">
                                <div class="skeleton">
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="pastHIstoryData.length == 0 && dataStatus === false">
                        <tr>
                            <td colspan="14">No data found</td>
                        </tr>
                    </tbody>
                </table>
                <h6 style="margin-top:15px;">Future Dues</h6>
                <table>
                    <thead>
                        <tr>
                            <th>Installemt #</th>
                            <th>Course</th>
                            <th>Academic Year</th>
                            <th>Fee Type</th>
                            <th>Due Date</th>
                            <th>Amount</th>
                            <th>Tax</th>
                            <th>Discount Amount</th>
                            <th>Total Amount</th>
                            <th>Amount Paid</th>
                            <th>Amount Due</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="nextDuesData.length">
                        <tr *ngFor="let d of nextDuesData; let i = index;">
                            <td>{{d.installment_no}}</td>
                            <td>{{d.course_subject_name}}</td>
                            <td>{{d.academic_year}}</td>
                            <td>{{d.fee_type_name}}</td>
                            <td>{{d.due_date}}</td>
                            <td>{{ _commService.currency_default_symbol}}{{d.total_initial_amount.toLocaleString('en-IN')}}</td>
                            <td>{{d.total_tax_applied}}</td>
                            <td> {{d.total_discount}}</td>
                            <td>{{ _commService.currency_default_symbol}}{{d.total_amount_after_discount_after_tax.toLocaleString('en-IN')}}</td>
                            <td>{{ _commService.currency_default_symbol}}{{(d.total_amount_after_discount_after_tax - d.total_balance_amt).toLocaleString('en-IN')}}</td>
                            <td>{{ _commService.currency_default_symbol}}{{d.total_balance_amt.toLocaleString('en-IN')}}</td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="nextDuesData.length == 0 && dataStatus === true">
                        <tr *ngFor="let dummy of dummyArr">
                            <td *ngFor="let c of columnMaps2" style="padding:10px;">
                                <div class="skeleton">
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="nextDuesData.length == 0 && dataStatus === false">
                        <tr>
                            <td colspan="10">No data found</td>
                        </tr>
                    </tbody>
                </table>
                <h6 style="margin-top:15px;">Past Dues</h6>
                <table>
                    <thead>
                        <tr>
                            <th>Installemt #</th>
                            <th>Course</th>
                            <th>Academic Year</th>
                            <th>Fee Type</th>
                            <th>Due Date</th>
                            <th>Amount</th>
                            <th>Tax</th>
                            <th>Discount Amount</th>
                            <th>Total Amount</th>
                            <th>Amount Paid</th>
                            <th>Amount Due</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="pastDues.length">
                        <tr *ngFor="let d of pastDues; let i = index;">
                            <td>{{d.installment_no}}</td>
                            <td>{{d.course_subject_name}}</td>
                            <td>{{d.academic_year}}</td>
                            <td>{{d.fee_type_name}}</td>
                            <td>{{d.due_date}}</td>
                            <td>{{ _commService.currency_default_symbol}}{{d.total_initial_amount.toLocaleString('en-IN')}}</td>
                            <td>{{d.total_tax_applied}}</td>
                            <td> {{d.total_discount}}</td>
                            <td>{{ _commService.currency_default_symbol}}{{d.total_amount_after_discount_after_tax.toLocaleString('en-IN')}}</td>
                            <td>{{ _commService.currency_default_symbol}}{{(d.total_amount_after_discount_after_tax - d.total_balance_amt).toLocaleString('en-IN')}}</td>
                            <td>{{ _commService.currency_default_symbol}}{{d.total_balance_amt.toLocaleString('en-IN')}}</td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="pastDues.length == 0 && dataStatus === true">
                        <tr *ngFor="let dummy of dummyArr">
                            <td *ngFor="let c of columnMaps2" style="padding:10px;">
                                <div class="skeleton">
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="pastDues.length == 0 && dataStatus === false">
                        <tr>
                            <td colspan="10">No data found</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- <div class="" popup-footer>
        <div class="clearfix">
            <aside class="pull-right popup-btn">
                <input type="button" value="Cancel" class="btn" (click)="closePopups()">
                <input type="button" value="Apply" (click)="applyAction()" class="fullBlue btn">
            </aside>
        </div>
    </div> -->

</proctur-popup>