.attendance-container{
    // height: 85vh;
    background: #efefef;
    padding: 5px;
    overflow: auto;
}
.field-wrapper.datePickerBox:after {
    content: '';
    background: url(/./assets/images/calendar.svg) no-repeat;
    position: absolute;
    // right: 176px;
    left: 41%;
    top: 28px;
    width: 21px;
    height: 21px;
    z-index: 0;
}

.filter-form {
    background: #fff;
    box-shadow: 0px 0px 2px 2px #dadada;
    border-radius: 10px;
    overflow-x: hidden;
    .row {
        margin: 5px 15px;
    }
    .field-wrapper {
        position: relative;
        &.datePickerBox {
            .side-form-ctrl {
                cursor: pointer;
                position: relative;
                z-index: 1;
                background: transparent;
            }
            &:after {
                content: '';
                background: url('../../../../../assets/images/calendar.svg') no-repeat;
                position: absolute;
                right: 19px;
                top: 31px;
                width: 21px;
                height: 21px;
                z-index: 0;
            }
        }
    }
}

::ng-deep .schedule-bottom ul.ul-body li {
    text-align: center
}

::ng-deep .search-field{
    border: 1px solid #e2ebee;
}