<div class="container-fluid product-wrapper p-0" style="padding-top: 2px;padding: 1%;">

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 form-group">
                    <label class="text-bold"> Category
                        <span class="text-danger">*</span>
                    </label>
                    <select [(ngModel)]="pageModel.category_id" class="form-control form-control-sm">
                        <option value="">Please select Category</option>
                        <option value="{{data.id}}" *ngFor="let data of categoryData">{{data.name}} </option>
                    </select>
                </div>
                <div class="col-md-12 form-group">
                    <label class="text-bold"> Question
                        <span class="text-danger">*</span>
                    </label>
                    <input type="text" placeholder="Question" [(ngModel)]="pageModel.question" class="form-control form-control-sm">
                </div>

                <div class="col-md-12 form-group">
                    <label class="text-bold"> Answer
                        <!-- <span class="text-danger">*</span> -->
                    </label>
                    <input type="text" placeholder="Answer" [(ngModel)]="pageModel.answer" class="form-control form-control-sm">
                </div>

                <div class="col-md-12 form-group">
                    <label class="text-bold"> Order Number
                        <!-- <span class="text-danger">*</span> -->
                    </label>
                    <input type="number" placeholder="Order Number" [(ngModel)]="pageModel.order_number" class="form-control form-control-sm">
                </div>

            </div>
        </div>
    </div>

    <div class="go-btn-container">
        <button type="button" name="button" class="fullBlue add-class-btn" (click)="cancel()">Cancel</button>
        <button type="button" name="button" class="fullBlue gobtn" (click)="saveData()"
            [disabled]="auth.isRippleLoad.getValue()">Save</button>
    </div>
</div>