<section class="monitor-wrapper">

    <section class="c-lg-12 header">
        <h2 class="pull-left">
            <a routerLink="/view/fee">
                Fees
            </a>
            <i style="font-family: 'FontAwesome';" class="fas fa-angle-right"></i> Monitoring Dashboard
        </h2>
        <aside class="pull-right">
        </aside>
    </section>

    <div style="margin-top: 5px;" class="c-lg-12">
        <div class="c-lg-4">
            <fee-stackbar></fee-stackbar>
        </div>
        <div class="c-lg-2"></div>
        <div class="c-lg-6">
            <fee-pie></fee-pie>
        </div>
    </div>

    <div class="c-lg-12">
        <fee-line></fee-line>
    </div>

</section>