<section class="clearFix" style="padding-right: 2%;">
  <!-- Header and Navigation -->
  <section class="middle-top mb0 clearFix" style="border-bottom: 2px solid darkgrey;">
    <h1 class="pull-left">
      <span>Expense</span>
    </h1>
  </section>

  <div class="leads-menu-section-container">
    <div class="leads-menu-item" routerLink="/view/expense/setup">
      <div class="menu-title">
        <img src="./assets/images/leads/data-setup.svg" alt="data setup">
        <span>Data Setup</span>
      </div>
      <div class="menu-description">
        <span>Add / Manage Payee, Payer and Account Details.</span>
      </div>
    </div>
    <div class="leads-menu-item" routerLink="/view/expense/manage-expense">
      <div class="menu-title">
        <img src="./assets/images/activity/cheque.svg" alt="">
        <span>Manage Expense</span>
      </div>
      <div class="menu-description">
        <span>Add / Manage Expense details of the institution.</span>
      </div>
    </div>
    <div class="leads-menu-item" routerLink="/view/expense/manage-income">
      <div class="menu-title">
        <img src="./assets/images/activity/cheque.svg" alt="">
        <span>Manage Income</span>
      </div>
      <div class="menu-description">
        <span>Add / Manage Income details of the institution (Other then Fees (if any)).</span>
      </div>
    </div>
    <!-- <div class="leads-menu-item" routerLink="/view/expense/report">
      <div class="menu-title">
        <img src="./assets/images/leads/reports.svg" alt="reports">
        <span>Report</span>
      </div>
      <div class="menu-description">
        <span>Income and Expenses report of the institution.</span>
      </div>
    </div> -->
  </div>
</section>