<div class="middle-section clearFix" id="enquiryList">
  <section class="middle-top clearFix custom-comp-header">

    <div class="row">
      <h1 class="pull-left" style="font-size: 14px;padding-top:10px ">
        <a [routerLink]="['../home']">
          <i style="font-family: 'FontAwesome'; font-size: 20px;cursor: pointer;" class="fas fa-home"></i>
        </a>
        <i style="font-family: 'FontAwesome';" class="fas fa-angle-right"></i> Manage Student Form Field
      </h1>
    </div>

  </section>

  <section class="middle-main clearFix">

    <div class="row">
      <div class="clearFix add-edit">
        <a (click)="toggleNewComponentVisisbility('Add')">
          <i id="addComponent-icon" style="border:none;">+</i>
          <span class="txt_font">Add New Form Field</span>
        </a>
      </div>
    </div>
    <!-- Add New Custom Component Form Here -->
    <div class="row createcomponent-wrapper" *ngIf="isNewComponent">
      <div class="c-lg-4">
        <div class="field-wrapper" [ngClass]="{'has-value': createCustomComponentForm.label != ''}">
          <label for="label">Label
            <span class="text-danger">*</span>
          </label>
          <input type="text" class="form-ctrl" [(ngModel)]="createCustomComponentForm.label" name="label" id="label">

        </div>
      </div>

      <div class="c-lg-4">
        <div class="field-wrapper" [ngClass]="{'has-value': createCustomComponentForm.type != '' }">
          <label for="type">Type
            <span class="text-danger">*</span>
          </label>
          <select id="type" class="form-ctrl" [(ngModel)]="createCustomComponentForm.type" name="opt.data_value">
            <option value=""></option>
            <option *ngFor="let opt of componentShell" [value]="opt.data_key">
              {{opt.data_value}}
            </option>
          </select>

        </div>
      </div>

      <div class="c-lg-4">
        <div class="field-wrapper" [ngClass]="{'has-value': createCustomComponentForm.prefilled_data != ''}">
          <label for="prefilledData">Prefilled Data (Non-Empty And Separated By ,)</label>
          <input type="text" class="form-ctrl" [(ngModel)]="createCustomComponentForm.prefilled_data" name="prefilledData" id="prefilledData">

        </div>
      </div>

      <div class="c-lg-4">
        <div class="field-wrapper" [ngClass]="{'has-value': createCustomComponentForm.description != ''}">
          <label for="description">Description</label>
          <input type="text" class="form-ctrl" [(ngModel)]="createCustomComponentForm.description" name="description" id="description">

        </div>
      </div>
      <div class="c-lg-4">
        <div class="field-wrapper" [ngClass]="{'has-value': createCustomComponentForm.is_required != ''}">
          <label for="isrequired">Is Required</label>
          <select id="isrequired" class="form-ctrl" name="isrequired" [(ngModel)]="createCustomComponentForm.is_required">
            <option value="Y">Yes</option>
            <option value="N" selected>No</option>
          </select>

        </div>
      </div>

      <div class="c-lg-4">
        <div class="field-wrapper" [ngClass]="{'has-value': createCustomComponentForm.is_searchable != ''}">
          <label for="issearchable">Is Searchable</label>
          <select id="issearchable" class="form-ctrl" name="issearchable" [(ngModel)]="createCustomComponentForm.is_searchable">
            <option value="Y">Yes</option>
            <option value="N" selected>No</option>
          </select>

        </div>
      </div>

      <div class="c-lg-4">
        <div class="field-wrapper" [ngClass]="{'has-value': createCustomComponentForm.sequence_number != ''}">
          <label for="sequencenumber">Sequence (Numerals Only)</label>
          <input type="text" id="sequencenumber" class="form-ctrl" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"
            maxlength="3" [(ngModel)]="createCustomComponentForm.sequence_number" name="sequencenumber">

        </div>
      </div>

      <div class="c-lg-4">
        <div class="field-wrapper" [ngClass]="{'has-value': createCustomComponentForm.comp_length != ''}">
          <label for="complength">Max- Length (Numerals Only)</label>
          <input type="text" class="form-ctrl" id="complength" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" [(ngModel)]="createCustomComponentForm.comp_length"
            name="complength">

        </div>
      </div>

      <div class="c-lg-4">
        <div class="field-wrapper" [ngClass]="{'has-value': createCustomComponentForm.defaultValue != ''}">
          <label for="defVal">Default Value</label>
          <input type="text" class="form-ctrl" [(ngModel)]="createCustomComponentForm.defaultValue" name="defVal" id="defVal">

        </div>
      </div>

      <div class="c-lg-12 c-md-12 c-sm-12 c-xs-12">
        <aside class="pull-right create-cancel-small">
          <input type="button" value="Cancel" (click)="toggleNewComponentVisisbility()" class="btn cancle">
          <input type="button" value="Add" (click)="addNewCustomComponent()" class="btn fullBlue">
        </aside>
      </div>

    </div>


    <div class="row" style="margin-top:12px">
      <div class="c-lg-4">
        <h4>
          <span class="txt_font" style="font-weight: 600">Total Count</span> &nbsp;:&nbsp;{{userCreatedComponent?.length}}</h4>
      </div>
      <div class="c-lg-8"></div>
    </div>

    <!-- Custom Component Table Here -->
    <div class="custom-comp-tablewrapper">
      <div class="table-responsive">
        <table>
          <thead>
            <tr>
              <th>Label</th>
              <th>Type</th>
              <th>Is Required</th>
              <th>Is Searchable</th>
              <th>Sequence</th>
              <th>Max Length</th>
              <th>Default Value</th>
              <th></th>
            </tr>
          </thead>

          <tbody>

            <tr *ngFor="let comp of userCreatedComponent">

              <td>{{comp.label}}</td>

              <td>{{comp.type|checkBoxConverter}}</td>

              <td>{{comp.is_required}}</td>

              <td>{{comp.is_searchable}}</td>

              <td>{{comp.sequence_number}}</td>

              <td>{{comp.comp_length}}</td>

              <td>{{comp.defaultValue}}</td>

              <td class="custom-table-action">
                <ul>
                  <li>
                    <i class="fa fa-pencil" style="color:#1283f4;" aria-hidden="true" (click)="editRow(comp)"></i>
                  </li>
                  <li>
                    <i class="fa fa-trash" style="color:#fa3145;" aria-hidden="true" (click)="deleteRow(comp)"></i>
                  </li>
                </ul>
              </td>
            </tr>
            <tr *ngIf="(!isRippleLoad) && (!userCreatedComponent?.length)">
              <td class="no_data_css" colspan="8">No Data Found</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </section>

  <proctur-popup [sizeWidth]="'large'" *ngIf="isEdit=='Add'||isEdit=='Edit'">

    <span class="closePopup pos-abs fbold show" (click)="cancelRow()" close-button>
      <svg class="artdeco-icon" focusable="false" height="24px" preserveAspectRatio="xMinYMin meet" viewBox="0 0 24 24" width="24px"
        x="0" y="0">
        <path class="large-icon" d="M20,5.32L13.32,12,20,18.68,18.66,20,12,13.33,5.34,20,4,18.68,10.68,12,4,5.32,5.32,4,12,10.69,18.68,4Z"
          style="fill: currentColor"></path>
      </svg>
    </span>

    <h2 popup-header>{{isEdit}} Field</h2>

    <div class="row updatecomponent-wrapper" popup-content>

      <div class="c-lg-4">
        <div class="field-wrapper" [ngClass]="{'has-value': editCustomComponentForm.label != ''}">
          <label for="label">Label
            <span class="text-danger">*</span>
          </label>
          <input type="text" class="form-ctrl" [(ngModel)]="editCustomComponentForm.label" name="label">

        </div>
      </div>

      <div class="c-lg-4">
        <div class="field-wrapper" [ngClass]="{'has-value': editCustomComponentForm.type != '' }">
          <label for="opt.data_value">Type
            <span class="text-danger">*</span>
          </label>
          <select id="opt.data_value" class="form-ctrl" [(ngModel)]="editCustomComponentForm.type" name="opt.data_value">
            <option value=""></option>
            <option *ngFor="let opt of componentShell" [value]="opt.data_key">
              {{opt.data_value}}
            </option>
          </select>

        </div>
      </div>

      <div class="c-lg-4">
        <div class="field-wrapper" [ngClass]="{'has-value': editCustomComponentForm.prefilled_data != ''}">
          <label for="prefilledData">Prefilled Data (Non-Empty And Separated By ,)</label>
          <input type="text" class="form-ctrl" [(ngModel)]="editCustomComponentForm.prefilled_data" id="prefilledData" name="prefilledData">

        </div>
      </div>

      <div class="c-lg-4">
        <div class="field-wrapper" [ngClass]="{'has-value': editCustomComponentForm.description != ''}">
          <label for="description">Description</label>
          <input type="text" class="form-ctrl" [(ngModel)]="editCustomComponentForm.description" name="description" id="description">

        </div>
      </div>


      <div class="c-lg-4">
        <div class="field-wrapper" [ngClass]="{'has-value': editCustomComponentForm.is_required != ''}">
          <label for="isrequired">Is Required</label>
          <select id="isrequired" class="form-ctrl" name="isrequired" [(ngModel)]="editCustomComponentForm.is_required">
            <option value="Y">Yes</option>
            <option value="N" selected>No</option>
          </select>

        </div>
      </div>

      <div class="c-lg-4">
        <div class="field-wrapper" [ngClass]="{'has-value': editCustomComponentForm.is_searchable != ''}">
          <label for="issearchable">Is Searchable</label>
          <select id="issearchable" class="form-ctrl" name="issearchable" [(ngModel)]="editCustomComponentForm.is_searchable">
            <option value="Y">Yes</option>
            <option value="N" selected>No</option>
          </select>

        </div>
      </div>

      <div class="c-lg-4">
        <div class="field-wrapper" [ngClass]="{'has-value': editCustomComponentForm.sequence_number != ''}">
          <label for="sequencenumber">Sequence (Numerals Only)</label>
          <input type="text" class="form-ctrl" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" maxlength="3" [(ngModel)]="editCustomComponentForm.sequence_number"
            name="sequencenumber" id="sequencenumber">

        </div>
      </div>

      <div class="c-lg-4">
        <div class="field-wrapper" [ngClass]="{'has-value': editCustomComponentForm.comp_length != null}">
          <label for="complength">Max- Length (Numerals Only)</label>
          <input type="text" class="form-ctrl" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" (ngModelChange)="checkValuetype($event)"
            [(ngModel)]="editCustomComponentForm.comp_length" name="complength" id="complength">

        </div>
      </div>

      <div class="c-lg-4">
        <div class="field-wrapper" [ngClass]="{'has-value': editCustomComponentForm.defaultValue != ''}">
          <label for="defVal">Default Value</label>
          <input type="text" class="form-ctrl" [(ngModel)]="editCustomComponentForm.defaultValue" name="defVal" id="defVal">

        </div>
      </div>

    </div>

    <div class="" popup-footer>
      <div class="clearfix">
        <aside class="pull-right popup-btn">
          <input type="button" value="Cancel" class="btn txt_font" (click)="cancelRow()">
          <input type="button" value="Update " *ngIf="isEdit=='Edit'" class="fullBlue btn txt_font" (click)="updateRow()">
          <input type="button" value="Add " *ngIf="isEdit=='Add'" class="fullBlue btn txt_font" (click)="addNewCustomComponent()">

        </aside>
      </div>
    </div>

  </proctur-popup>

  <proctur-popup [sizeWidth]="'small'" *ngIf="isDelete">

    <span class="closePopup pos-abs fbold show" (click)="cancelRow()" close-button>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="9310 2185 16 16">
        <g id="Group_1228" data-name="Group 1228" transform="translate(8298 1888)">
          <g id="Group_1213" data-name="Group 1213" transform="translate(34.189 -7.77)">
            <line id="Line_274" data-name="Line 274" class="cls-1" y2="19.798" transform="translate(992.81 305.77) rotate(45)" />
            <line id="Line_275" data-name="Line 275" class="cls-1" x1="19.798" transform="translate(978.81 305.77) rotate(45)" />
          </g>
          <rect id="Rectangle_686" data-name="Rectangle 686" style="stroke:none;" class="cls-2" width="16" height="16" transform="translate(1012 297)"
          />
        </g>
      </svg>
    </span>

    <h2 popup-header>Delete Field</h2>

    <div class="row delete-wrapper" popup-content>
      <h5>You are about to delete {{editCustomComponentForm.label}}, kindy confirm your action.</h5>
    </div>

    <div class="" popup-footer>
      <div class="clearfix">
        <aside class="pull-right popup-btn">
          <input type="button" value="Cancel" class="btn txt_font" (click)="cancelRow()">
          <input type="button" value="Confirm" class="fullBlue btn txt_font" (click)="DeleteRowConfirmed()">

        </aside>
      </div>
    </div>
  </proctur-popup>

</div>
