@import "./src/assets/css/common/variables.scss";

.review-title {
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 10px;
}

.basic-info-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1pt solid #f3f3f3;
  padding: .5em .8em;
  background: #fff;
  box-shadow: 0 -2pt 6pt #e6e6e6;
  z-index: 5;
  background: #fafafa;
  width: 85.5%;
  margin-left: 14.5%;
  .btn-round {
    padding: .2em 1em;
    border-radius: 4px;
    margin: .2em;
  }
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.qInfoIcon {
  width: 20px;
  margin-left: 5px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 50%;
  display: block;
  text-align: center;
  box-sizing: border-box;
  line-height: 20px;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
  box-shadow: 0 0 1px 0 #ccc inset;
  color: #888;
  transition: all .2s linear;

  &:hover {
    border-color: $header-bg;
    box-shadow: 0 0 1px 0 $header-bg inset;
    color: $header-bg;
  }
}

.black-bg {
  background: rgba(12, 11, 11, 0.3);
  position: fixed;
  top: 0;
  height: 100%;
  left: 0;
  z-index: 6;
  width: 100%;
}

.prod-image {
  max-height: 150px;
}

.datePickerBox {
  .form-ctrl {
    position: relative;
    z-index: 1;
    float: left;
    // border-right: 0;
    // height: 35px;
    font: 400 12px 'Open sans',sans-serif;
    width: 100% !important;
  }

  &:after {
    content: '';
    background: url('../../../../../assets/images/calendar.svg') no-repeat;
    position: absolute;
    left: 87% !important;
    top: 22px !important;
    width: 21px;
    height: 21px;
    z-index: 0;
  }
}

.image-upload > input
{
    display: none;
}

.image-upload img
{
    width: 150px;
    cursor: pointer;
    height: 100px;
    border-radius: 10px;
}

.image-upload:hover .overlay {
  opacity: .5;
}
input[type="text"][disabled]{
  background: #dddddd !important;
}
.form-ctrl{
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}