<div class="row">
  <div class="col-md-12">
    <p class="m-0  review-title">Review Product</p>
  </div>
</div>

<div class="row">
  <!-- <div class="col-md-3">
      <img class="prod-image" src="https://iasexamportal.com/sites/default/files/UPSC-LOGO.jpg">
  </div> -->

  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12 form-group">
        <label class="text-bold">Product Name
          <span class="text-danger">*</span>
        </label>
        <input type="text" [disabled]="isAdvanceProductEdit" [(ngModel)]="prodForm.title"
          class="form-control form-control-sm">
      </div>

      <div class="col-md-12">
        <div class="col-md-8 form-group" style="padding-right: 0px;padding-left: 0px;">
          <label class="text-bold">Description</label>
          <!-- <textarea rows="3" class="form-control form-control-sm" maxLength="1500" [(ngModel)]="prodForm.about"></textarea> -->
          <editor [init]="editorConf" apiKey="xix5hq71alw64jp2ufl9fo6nddnhg91n6h7w2afn043v538t"
            [(ngModel)]="prodForm.about"></editor>
        </div>
        <div class="col-md-4 form-group image-upload" style="text-align:center;">
          <label for="file-input">
            <img
              src="{{image_url==null?'https://cdn.vox-cdn.com/thumbor/30bQJLedP0p2KHehrHJyPc2dZ5A=/0x0:600x579/920x0/filters:focal(0x0:600x579):format(webp):no_upscale()/cdn.vox-cdn.com/uploads/chorus_asset/file/16019250/log_2048.png':image_url}}" />
          </label>
          <span style=" margin: 2em;">Change Thumbnail </span>
          <br><span style="color:#ccc">(size: 250x150)</span>
          <input id="file-input" type="file" (change)="uploadHandler($event)" />
        </div>
      </div>

      <div class="col-md-12 form-group" style="pointer-events: none">
        <label class="text-bold">E-courses
          <span class="text-danger">*</span>
        </label>
        <ng-multiselect-dropdown [placeholder]="'Select E-courses'" [(ngModel)]="products_ecourse_maps"
          [data]="ecourseList" [disabled]="isAdvanceProductEdit" [settings]="moderatorSettings">
        </ng-multiselect-dropdown>
      </div>
      <div class="col-md-12">
        <div class="col-md-6" style=" padding-left: 0px;">
          <div class="form-group">
            <label class="text-bold">Product Sell Limit
              <span class="text-danger">*</span>
            </label>
            <input type="text" maxlength="6" [disabled]="isAdvanceProductEdit" [(ngModel)]="prodForm.purchase_limit"
              onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" name="purchase_limit"
              class="form-control form-control-sm">
          </div>
        </div>
        <div class="col-md-3" style="padding-top: 4%;padding-left: 10%;">
          <span class="field-checkbox-wrapper">
            <input class="form-checkbox" type="checkbox" id="free_price" [disabled]="isAdvanceProductEdit"
              [(ngModel)]="prodForm.is_paid"
              (ngModelChange)="prodForm.is_paid = $event ? 1 : 0;prodForm.price_before_discount =0;prodForm.price =0;prodForm.discount_percentage =0"
              name="free_price" name="is_paid">
            <label for="free_price">Free</label>
          </span>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="text-bold">Currency<span class="text-danger">*</span></label>
            <select id="country_id" class="form-ctrl" [(ngModel)]="prodForm.country_id" name="country_id"
              [disabled]="isAdvanceProductEdit" style="height: 29px;padding: 0">
              <option value=""></option>
              <option [value]="data.id" selected *ngFor='let data of countryDetails'>
                {{data.currency_code}}
              </option>
            </select>
          </div>
        </div>

      </div>

      <!-- <div class="col-md-12">
        <div class="col-md-4" style=" padding-right: 0px;">
          <div class="form-group" style="text-align: right;">
            <label class="text-bold" style="position: absolute; left: 19px;">Price(Rs.)</label>

            <input type="text" value="0" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"
              [(ngModel)]="prodForm.price" [disabled]="prodForm.is_paid || isAdvanceProductEdit" name="price"
              class="form-control form-control-sm">
          </div>
        </div>
      </div> -->
      <div class="col-md-12">
        <div class="col-md-4">
          <div class="form-group">
            <label class="text-bold">Actual Price</label>
            <input type="text" value="0" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"
              [(ngModel)]="prodForm.price_before_discount" [disabled]="prodForm.is_paid ||isAdvanceProductEdit "
              name="price" class="form-control form-control-sm" (ngModelChange)="calc()">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="text-bold">Discount(%age)</label>
            <span class="field-checkbox-wrapper">
              <input class="form-checkbox" type="checkbox" id="discount" [(ngModel)]="prodForm.is_paid"
                (ngModelChange)="prodForm.is_paid = $event ? 1 : 0;prodForm.discount_percentage =0" name="free_price"
                name="is_paid" [disabled]="isAdvanceProductEdit">

            </span>
            <input type="text" value="0" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"
              [(ngModel)]="prodForm.discount_percentage" [disabled]="prodForm.is_paid ||isAdvanceProductEdit "
              name="price" class="form-control form-control-sm" (ngModelChange)="calc()">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="text-bold">Final Price</label>
            <span class="field-checkbox-wrapper">
              <input class="form-checkbox" type="checkbox" id="free_price" [(ngModel)]="prodForm.is_paid"
                (ngModelChange)="prodForm.is_paid = $event ? 1 : 0;prodForm.price =0" name="free_price" name="is_paid"
                [disabled]="isAdvanceProductEdit">
            </span>
            <input type="text" value="0" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"
              [(ngModel)]="prodForm.price" disabled name="price" class="form-control form-control-sm">
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-4">
          <div class="form-group">
            <label class="text-bold">Total User Purchased Product
            </label>
            <input type="text" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" autocomplete="off"
              [(ngModel)]="prodForm.start_index_for_total_prod_purchase" name="start_index_for_total_prod_purchase"
              class="form-control form-control-sm">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="text-bold">Tags</label>
            <select name="" id="" [(ngModel)]="prodForm.tag" class="form-ctrl" style="border-radius: 4px;">
              <option value=""></option>
              <option value="Featured">Featured</option>
              <option value="Recommended">Recommended</option>
              <option value="Popular">Popular</option>
              <option value="Others">Others</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group" *ngIf="prodForm.tag === 'Others'">
            <label class="text-bold">Others
            </label>
            <input type="text" autocomplete="off" [(ngModel)]="others" name="Others"
              class="form-control form-control-sm">
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-6" style=" padding-right: 0px;">
          <div class="form-group" style="margin-top: 10px;">
            <span class="field-checkbox-wrapper">
              <input class="form-checkbox" type="checkbox" id="adv_product" [(ngModel)]="prodForm.is_advance_product"
                name="is_advance_product" [disabled]="isAdvanceProductEdit">
              <label for="adv_product">Is Advance Product</label>
            </span>
          </div>
        </div>
        <div class="col-md-6" style=" padding-right: 0px;">
          <span style="font-weight: 600;">Product For</span>
          <div class="form-group field-wrapper form-el-width">
            <span class="field-checkbox-wrapper" style="margin-right: 10px;">
              <input class="form-checkbox" type="checkbox" id="forStudent" [(ngModel)]="advanceProduct.forStudent"
                name="is_advance_product">
              <label for="forStudent">Student</label>
            </span>
            <span class="field-checkbox-wrapper">
              <input class="form-checkbox" type="checkbox" id="forOpenUser" [(ngModel)]="advanceProduct.forOpenUser"
                name="is_advance_product">
              <label for="forOpenUser">Open User</label>
            </span>
          </div>
        </div>
      </div>
      <div class="row m-0">
        <div class="col-md-12 form-group m-0">
          <label class="text-bold">Total Test</label>
        </div>
        <div class="col-md-6 form-group">
          <div style="padding-top: 0px;padding-bottom: 10px;">
            <label for="from" style="font-weight: 600;">Mock Test &nbsp; : {{mock_count}} </label>
            <br>
          </div>
        </div>
        <div class="col-md-6 form-group">
          <div style="padding-top: 0px;padding-bottom: 10px;">
            <label for="online" style="font-weight: 600;">Online Test &nbsp; : {{online_count}} </label>
            <br>
          </div>
        </div>
      </div>

      <div class="row m-0" style="border: 1px solid #ccc;padding: 10px;margin-left: 10px;margin-bottom: 10px;">
        <div class="col-md-12 form-group m-0">
          <label class="text-bold">Sales Date Range</label>
        </div>
        <div class="col-md-6 form-group">
          <div class="col-md-12 datePickerBox" style="padding: 0px;padding-bottom: 10px;">
            <label for="from">From Date
              <span class="text-danger">*</span>
            </label>
            <input type="text" [disabled]="isAdvanceProductEdit" [(ngModel)]="prodForm.sales_from_date" name="from"
              class="form-control form-control-sm" autocomplete="off" bsDatepicker>
          </div>
        </div>
        <div class="col-md-6 form-group">
          <div class="col-md-12 datePickerBox" style="padding: 0px;padding-bottom: 10px;">
            <label for="from">To Date</label>
            <input type="text" [disabled]="isAdvanceProductEdit" [(ngModel)]="prodForm.sales_to_date" name="to"
              class="form-control form-control-sm" autocomplete="off" bsDatepicker>
          </div>
        </div>
      </div>
      <div class="row m-0" style="border: 1px solid #ccc;padding: 10px;margin-left: 10px;margin-bottom: 10px;">
        <div class="col-md-9 form-group m-0">
          <label class="text-bold">Visibility Date Range</label>
        </div>
        <div class="col-md-3" style=" padding-right: 0px;">
          <div class="form-group" style="text-align: right;">
            <label class="text-bold" style="position: absolute; left: 19px;"></label>
            <span class="field-checkbox-wrapper">
              <input class="form-checkbox" type="checkbox" id="duration" [(ngModel)]="prodForm.is_duration"
                name="is_duration" name="is_duration">
              <label for="duration">Show Duration </label>
            </span>
          </div>
        </div>
        <div class="col-md-6 form-group" *ngIf="!prodForm.is_duration">
          <div class="col-md-12 datePickerBox" style="padding: 0px;padding-bottom: 10px;">
            <label for="from">From Date
              <span class="text-danger">*</span>
            </label>
            <input type="text" [(ngModel)]="prodForm.valid_from_date" name="from" class="form-control form-control-sm"
              autocomplete="off" bsDatepicker>
          </div>
        </div>
        <div class="col-md-6 form-group" *ngIf="!prodForm.is_duration">
          <div class="col-md-12 datePickerBox" style="padding: 0px;padding-bottom: 10px;">
            <label for="from">To Date</label>
            <input type="text" [(ngModel)]="prodForm.valid_to_date" name="to" class="form-control form-control-sm"
              autocomplete="off" bsDatepicker>
          </div>
        </div>
        <div class="col-md-6 form-group" *ngIf="prodForm.is_duration">
          <div class="col-md-12 datePickerBox" style="padding: 0px;padding-bottom: 10px;">
            <label for="from">Duration
              <span class="text-danger">*</span>
            </label>
            <div class="questionInfo inline-relative">
              <span class="qInfoIcon i-class">i</span>
              <div class="tooltip-box-field">
                Provide validate date duration in Days
                <br> its start from student purchase date
              </div>
            </div>
            <input type="text" maxlength="4" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"
              [(ngModel)]="prodForm.duration" name="from" class="form-control form-control-sm" autocomplete="off">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="basic-info-footer">
  <div class="col text-center">
    <button class="btn btn-outline-danger btn-round" (click)="gotoBack()" style="color:red;"> Cancel</button>
    <button class="btn btn-primary btn-round" (click)="saveProduct()">Save</button>
  </div>
</div>