<div class="page-content">
    <div class="page_heading">
        <div class="w98">
            <span> Purchase Asset</span>
            <span class="right"><button class="btn blue_button" data-toggle="modal" 
                    data-target="#modelforpurchase" (click)="cancel(false)">Add
                    Purchase </button></span>
        </div>
    </div>
    <div class="w98">
        <div class="padding1">
            <input type="text" class="searches wid240 mr10 magnifying-glass" placeholder="search" #search [(ngModel)]="searchParams"
                name="searchParams" >
                <span ><button  class="btn blue_button"  (click)="searchDatabase()">
                    Go </button></span>
            <span class="rights">
                <!-- <a><img src="assets/images/assets/Group354.svg" class="mr10"></a>-->
                <a  (click)="exportToExcel()"><img src="assets/images/assets/Group353.svg"  class="mr10"></a> 
                <!-- <a ><img src="assets/images/assets/2.svg" class="mr10"></a>-->
                <a (click)="downloadPdf()" ><img src="assets/images/assets/document.svg" class="mr10" ></a>
            </span>
        </div>
        <app-basic-table [headers]="headerSetting" [displayData]="staticPageData" [tableSetting]="tableSetting"
            [rowColumnSetting]="rowColumns" (editView)='editRow($event)' (deleteView)='deleteRowConfirm($event)'>
        </app-basic-table>
        <div style="padding-top: 9px;">
            <pagination (goPage)="fetchTableDataByPage($event)" (goNext)="fetchNext()" (goPrev)="fetchPrevious()"
                [pagesToShow]="10" [page]="pageIndex" [perPage]="displayBatchSize" [sizeArr]="sizeArr"
                [count]="totalRecords" (sizeChange)="updateTableBatchSize($event)">
            </pagination>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modelforpurchase" data-backdrop="static" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body" style="height: 530px;">
                    <h4 class="title-model" *ngIf="isedit">Purchase Asset </h4>
                    <h4 class="title-model" *ngIf="!isedit">Purchase Asset </h4>
                    <form id="form1" #assePurchaseForm="ngForm" autocomplete="off">
                        <div class="row">
                            <div class="form-group col-md-6" [class.has-error]="supplier_id.invalid && supplier_id.touched">
                                <label  class="p_title">Supplier<span class="stars">*</span></label>
                              <select class="form-control" name="supplier_id" id="supplier_id"
                                    [(ngModel)]="model.supplier_id" (ngModelChange)="getCategoryData($event)" required #supplier_id="ngModel">
                                    <option value=""> Select Supplier</option>
                                    <option value="{{data.id}}" *ngFor="let data of vendorAllData">
                                        {{data.supplier_name}}</option>
                                </select>
                               <!-- <p class="errormsg"> <span class="help-block" *ngIf="supplier_id.invalid && supplier_id.touched">Supplier
                                    name is  mandatory</span></p> -->
                            </div>
                            <div class="form-group col-md-6" [class.has-error]="category_id.invalid && category_id.touched">
                                <label  class="p_title">Category Name<span class="stars">*</span></label>
                             
                                <select class="form-control" name="category_id" id="category_id"
                                    [(ngModel)]="model.category_id" (ngModelChange)="getassets($event)"
                                    required #category_id="ngModel">
                                    <option value="">Select Category</option>
                                    <option value="{{data.category_id}}" *ngFor="let data of categorydata">
                                        {{data.category_name}}</option>
                                </select>
                                <!-- <p class="errormsg"> <span class="help-block" *ngIf="category_id.invalid && category_id.touched">Category
                                    name is  mandatory</span></p> -->
                               
                            </div>
                           
                        </div>
                        
                        <div class="row">
                            <div class="form-group col-md-6" [class.has-error]="asset_id.invalid && asset_id.touched">
                                <label  class="p_title">Asset<span class="stars">*</span></label>
                              <select class="form-control" name="asset_id" id="asset_id" [(ngModel)]="model.asset_id"
                                  required #asset_id="ngModel">
                                    <option value="">Select Asset</option>
                                    <option value="{{data.id}}" *ngFor="let data of assetData">
                                        {{data.asset_name}}</option>
                                </select>
                                <!-- <p class="errormsg">   <span class="help-block" *ngIf="asset_id.invalid && asset_id.touched">Asset
                                     is  mandatory </span></p> -->
                            </div>
                            <div class="form-group col-md-6" [class.has-error]="purchased_by_user_id.invalid && purchased_by_user_id.touched">
                                <label  class="p_title">Purchased By<span class="stars">*</span></label>
                                <select class="form-control" name="purchased_by_user_id" id="purchased_by_user_id"
                                    [(ngModel)]="model.purchased_by_user_id" (ngModelChange)="getUserData($event)"
                                    required #purchased_by_user_id="ngModel">
                                    <option value=""> Select User</option>
                                    <option value="{{data.user_id}}" *ngFor="let data of purchaseby">
                                        {{data.name}}</option>
                                </select>
                                <!-- <p class="errormsg">  <span class="help-block"
                                    *ngIf="purchased_by_user_id.invalid && purchased_by_user_id.touched">Purchased by
                                    is
                                    is  mandatory</span></p> -->
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6"  [class.has-error]="quantity.invalid && quantity.touched">
                                <label  class="p_title">Quantity<span class="stars">*</span></label>
                                <input type="text" class="form-control" id="inputPassword4" placeholder="Enter quantity"
                                    [(ngModel)]="model.quantity" name="quantity"
                                    onkeypress=" return (event.charCode >= 48 && event.charCode <= 57)" required
                                    #quantity="ngModel">
                                    <!-- <p class="errormsg">   <span class="help-block" *ngIf="quantity.invalid && quantity.touched">Quantity
                                    is
                                    mandatory </span></p> -->
                            </div>
                            <div class="form-group col-md-6" [class.has-error]="unit.invalid && unit.touched">
                                <label  class="p_title">Unit<span class="stars">*</span></label>
                                <select class="form-control" name="unit" id="unit" [(ngModel)]="model.unit" required
                                    #unit="ngModel">
                                    <option value="">Select Unit </option>
                                    <option>Kg</option>
                                    <option> Piece</option>
                                    <option>Other</option>

                                </select>
                                <!-- <p class="errormsg"> <span class="help-block" *ngIf="unit.invalid && unit.touched">Unit
                                    is
                                    mandatory </span></p> -->
                            </div>
                           

                        </div>
                        <div class="row">
                              <div class="field-wrapper col-md-6" [class.has-error]="purchase_amount.invalid && purchase_amount.touched">
                                <label  class="p_title">Purchase Price<span class="stars">*</span></label>
                               <input type="text" class="form-control" id="purchase_amount" name="purchase_amount"
                                        placeholder="Enter purchase price" [(ngModel)]="model.purchase_amount"
                                        onkeypress=" return (event.charCode >= 48 && event.charCode <= 57)" required
                                        #purchase_amount="ngModel">
                                        <!-- <p class="errormsg">    <span class="help-block"
                                        *ngIf="purchase_amount.invalid && purchase_amount.touched">Purchase
                                        price
                                        is
                                        mandatory </span></p> -->
                                </div>
                                <div class="field-wrapper col-md-6 datePickerBox" style="padding-top: 3px" [class.has-error]="purchase_date.invalid && purchase_date.touched">
                                    <label  class="p_title">Purchase Date<span class="stars">*</span></label>
                                <input type="text" class="form-ctrl" bsDatepicker readonly="false"
                                        name="purchase_date" [(ngModel)]="model.purchase_date" class="form-control"
                                        placeholder="Select purchase date *" id="purchase_date" required
                                       #purchase_date="ngModel">
                                </div>
                                <!-- <p class="errormsg">    <span class="help-block"
                                    *ngIf="purchase_date.invalid && purchase_date.touched">Purchase
                                    date
                                    is
                                    mandatory </span></p> -->
                            </div>
                        <div class="row">
                            <div class="field-wrapper col-md-6 datePickerBox" style="padding-top: 3px">
                                <label  class="p_title">Service Date</label>
                               <input type="text" class="form-ctrl" bsDatepicker readonly="false"
                                    name="service_date" [(ngModel)]="model.service_date" class="form-control"
                                    placeholder="Select service date" id="service_date" #service_date="ngModel">
                                    <!-- <p class="errormsg"><span class="help-block"></span></p> -->
                            </div>
                            <div class="field-wrapper col-md-6 datePickerBox" style="padding-top: 3px">
                                <label  class="p_title">Expiry Date</label>
                               <input type="text" class="form-ctrl" bsDatepicker readonly="false" name="expiry_date"
                                    [(ngModel)]="model.expiry_date" class="form-control" placeholder="Select expiry date"
                                    id="expiry_date">
                            </div>
                          
                        </div>
                        <div class="row">
                           <div class="field-wrapper col-md-6" style="margin-top:5px;" >
                            <label  class="p_title">Upload File</label>
                            <input  type="file" name="billImageFile" [disabled]="bill_image_url!=''&& isedit"
                                    class="form-control" placeholder="Browse file" id="billImageFile"
                                    [(ngModel)]="model.bill_image_url" accept=".gif, .jpg, .png, .doc,.svg,.pdf,.csv|image/*">
                                  
                                </div>
                            <div class="col-md-6" *ngIf="isedit && bill_image_url !='' && bill_image_url!=null">
                                <ul>
                                    <li>Bill Copy</li>
                                    <li (click)="clearFile()"><i class="fa fa-trash" style="color:red;"></i>
                                    </li>
                                    <li>
                                        <a href="{{bill_image_url}}" target="_blank"><i class="fa fa-download"
                                                style="color:#064d0f;"></i> </a>
                                    </li>
                                </ul>
                                <!-- <p class="errormsg"><span class="help-block"></span></p> -->
                            </div>
                        </div>
                        <div class="row" class="action_btn">
                            <span > <button type="button"
                                    class="btns blue_button cancel" data-dismiss="modal"
                                    (click)="cancel(false)">Cancel</button></span>
                            <span > <button type="submit" class="btns blue_button"
                                    (click)="saveAssetPurchaseData(model)" *ngIf="!isedit">Purchase Asset</button></span>
                            <span > <button type="submit" class="btns blue_button" *ngIf="isedit"
                                    (click)="saveAssetPurchaseData()">Update
                                </button></span>
        
                        </div>
                    </form>
                </div>

              
            </div>

        </div>
    </div>

    <div class="modal delmodal" id="deletesModal">
        <div class="modal-dialog delmodal">
          <div class="modal-content delmodal">
            <div class="modal-header delmodal" style="display:none;">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <div class="centers">
                <span><img src="/assets/img1/alert.svg"></span><span class="alert" style="margin-left: 12px;">Alert</span>
              </div>
             <div><p class="centers paradel"> Do you want to delete this ?</p>
              </div> 
              <div class="pt101 displays">
                <div>
                  <button class="white_button right"data-dismiss="modal">Cancel</button>
                </div>
                <div>
                  <button class="blue_button right" (click)="deleteRow(tempObj)">Delete</button>
                </div>
              </div>
            </div>        
          </div>
        </div>
      </div>