

*{
  margin: 0px;
  
}
body{
  font-family: 'Open Sans', sans-serif;
  
}
.flex{
  display: flex;
}
.blue_button {
  background-color: #109CF1;
  color: white;
  padding: 9px 20px;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  height: 35px;
}
.modal-content{
  position: relative;
  //padding: 20px;
   background: #FFFFFF;
  border-radius: 8px;
    }
.rights{
  float: right;
  margin-top: 28px;
 }
.btns{
margin-top: 30px;
margin-left: 10px;
margin-right: 10px;
}
.select{
  padding: 7px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 13px;
  font-weight: 500;
  color: #787A7D;
}
.input{
  padding: 7px 20px;
  font-size: 13px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-weight: 500;
  vertical-align: top;
  width: 260px;
  }

 input:focus, select:focus,button:focus{
     outline: none;
 }
  .page_heading{
    padding:10px 0px 20px 0px;
    box-shadow: 0px 7px 7px -4px rgba(0,0,0,0.11);
    -webkit-box-shadow: 0px 7px 7px -4px rgba(0,0,0,0.11);
    -moz-box-shadow: 0px 7px 7px -4px rgba(0,0,0,0.11);
  }
 .page_heading>span{
  font-size: 16px;
  font-weight: 500;
  color: #334D6E;
 }
 .page_heading>span>img{
  height: auto;
  width: 20px;
  padding-left: 5px;
 }
 .w98{
  width: 98%;
  margin: 0px auto;
 }
 .right{
  float: right;
 }
 .mr10{
  margin-right: 10px;
 }
 .glass{
    background-image: url('/assets/images/assets/Vector.svg');
    background-repeat: no-repeat;
    background-position:left center;
 }
 .padding1{
  padding: 10px 0px;
 }
  .vendor .table_heading>div{
  width: calc(100%  / 9);
}
 .vendor .table_body>div{
  width: calc(100%  / 9);
}
.table_heading{
  background-color: #EEF1F4;
  padding: 10px 0px;
  margin: 20px 0px;
  display: flex;
  border-radius: 5px;
   box-shadow: 0px 7px 5px -3px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 7px 5px -3px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 7px 5px -3px rgba(0,0,0,0.1);
}
.table_heading>div{
  
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  color: #323C47;

}
.table_body{
  margin-bottom: 20px;
  display: flex;
  border-radius: 5px;
   box-shadow: 0px 7px 5px -3px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 7px 5px -3px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 7px 5px -3px rgba(0,0,0,0.1);
    padding: 5px 0px;
}
.table_body>div{
  
  text-align: center;
  font-weight: 500;
  font-size: 13px;
  color: #807C7C;
  padding: 5px 0px;
   margin: auto;

}
.pl10{
  padding-left: 10px;
}

.modal {
  position:absolute;
  left: 28%;
  top: 0%;
  //transform: translate(-50%, -50%);
  height: auto;
}
.star{
  color: red;
}
.has-error .control-label{
color: black;
}
.help-block{
color: red;
margin-bottom: 0%;

}
.fa-angle-down{
margin-left: 5px;
font-size:15px;
}
.icon{
margin-left:10px;
font-size:20px;

}
.icon .a{
  color:red;
}
label{
  margin:8px;
}
.glyphicon-calendar
{
    font-size: 15pt;
}
.input-group
{
    width: 180px;
    margin-top:30px;
}
input{
  background: #FFFFFF;
  border: 1px solid #D5D0D0;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top:20px;
}
select{
  background: #FFFFFF;
  border: 1px solid #D5D0D0;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 10px;
    margin-bottom:5px;
}
.title-model{
  height: 18px;
  left: 41px;
  top: 30px;
  text-align: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 13px;
  /* identical to box height */
  
  letter-spacing: 0.01em;
  
  color: #444141;
  
  }
.btns{
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
}
.blue_button {
  background-color: #109CF1;
  color: white;
  padding: 9px 20px;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  height: 35px;
}

.field-wrapper .form-ctrl {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  outline: none;
  z-index: 10;
  font: 400 12px 'Open sans', sans-serif;
  box-shadow: none;
  border-radius: 4px;
  color: #000;
  background: #FFFFFF;
border: 1px solid #D5D0D0;
box-sizing: border-box;
margin-top:20px;
}
.field-wrapper.datePickerBox:after {
  content: '';
  background: url(/./assets/images/calendar.svg) no-repeat;
  position: absolute;
  right: 50px !important;
  top: 37.5px;
  width: 21px;
  height: 21px;
  z-index: 20;
  border-radius: 4px;
  orientation: "auto",
  
  }
  .errormsg{
    height:10px;
    margin-top:10px;
  }
  .field-wrapper{
    // height: 31px;
    padding-top:0px;
    margin-top:0px;
    border-radius: 4px;
    input {
    background-color: #fff !important;
    }
  }
  .cancel{
    background-color: white;
      color: #109CF1;
      padding: 8px 20px;
      font-size: 12px;
      border: solid 2px #109CF1;
      border-radius: 5px;
      font-weight: 500;
      height: 35px;
  }
  .row {
    margin: 0;
  }
  
  .form-control{
    margin-top:0;
  }
  ul,li{
    float:left;
    margin-left:10px;
    margin-top:10px;
  }
  .p_title{
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.01em;
    color: #444141;
    margin-bottom:5px;
    }
  
  .stars{
    color:red;
    padding-left: 2px;
  }
  .action_btn{
    text-align: right;
   
  }
  .paradel{
    font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 19px;
      letter-spacing: 0.01em;
      margin-top: 20px;
      color: #858585;
  }
  .dels{
    height: 230px !important;
  }
  .displays{
    display: flex;
    justify-content: space-between;
  }
  .white_button {
    background-color: #fff;
    color: #109CF1;
    padding: 0px 20px;
    font-size: 12px;
    border:1px solid #109CF1;
    border-radius: 5px;
    font-weight: 500;
    line-height: 35px;
    cursor: pointer;
  }
  .centers{
    text-align: center;
    
  }
  .pt101{
    padding-top: 30px;
    margin: 0px 30px;
  }
   .flex{
    display: flex;
  }
 
    .delmodal{
      width:350px !important;
      position:absolute;
      top:15%;
      
    }
    .searches{
      padding: 7px 20px;
      font-size: 13px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      font-weight: 500;
        height:35px;
      }
    .mr10{
    margin-right:10px;
    }
    .magnifying-glass{
      background-image: url('/assets/images/assets/Vector.svg');
      background-repeat: no-repeat;
      background-position:left center;
      text-indent: 10px;
    }
    #deletesModal{
      position: absolute;
      left:44%;
      top:20%;
    }