<section>
  <!-- course module -->
  <section class="header-section">
    <div>
      <div class="header-title">
        <span>Online Test</span>
        <span style="float: right;" class="downloadSection"><a style="color: white;"
            href="https://examdesk.co/ExamdeskWordParser.zip"><i class="fa fa-download"></i> Word
            Parser</a></span>
        <!-- <span style="float: right;padding-right: 10px;cursor: pointer;" class="downloadSection"
          (click)="openExamdesk()">Go to ExamDesk</span> -->
      </div>
    </div>
  </section>
   <div class="course-menu-section-container">
    <!-- <div class="course-menu-item" *ngIf="jsonFlag.showExamDesk" routerLink="/view/online-exam/examcourse">
      <div class="menu-title">
        <img src="./assets/images/online-exam/exam_desk.svg" alt="examDesk course assignment">
        <span>ExamDesk Course Assignment</span>
      </div>
      <div class="menu-description">
        <span> Data setup your academic year, faculties, classrooms, etc</span>
      </div>
    </div> -->

    <div class="course-menu-item" (click)="openExamdesk()">
      <div class="menu-title">
        <img src="./assets/images/online-exam/exam_desk.svg" alt="examDesk course assignment">
        <span>Go to ExamDesk</span>
      </div>
      <div class="menu-description">
      </div>
    </div>

  </div>

</section>