@import "./src/assets/css/common/variables.scss";

@media screen and (max-width: 995px),
screen and (max-height: 768px) {
    .common-table {
        margin-left: 0px !important;
        margin-top: 15px;
        margin-right: 15px !important;
        max-height: 480px;
        overflow: hidden;
        width: 100%;
        .table-scroll-wrapper {
            max-height: 430px;
        }
         ::-webkit-scrollbar {
            display: block;
            width: 7px;
            height: 7px;
        }
    }
}
.madeDate{


        &.datePickerBox {
            &:after {
                content: '';
                background: url('../../../../assets/images/calendar.svg') no-repeat;
                position: absolute;
                right: 21px;
                top: 33px;
                width: 21px;
                height: 21px;
                z-index: 0;
            }
        }

}
.view-icon {
    background: url(../../../../assets/images/view_details1.svg) no-repeat;
    width: 13px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}


/* popUp Scss */

.popupWrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    bottom: 0;
    top: 0px;
    right: 0;
    left: 0px;
    background: rgba(230, 230, 230, 0.5);
    z-index: 100; // display: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    .popup {
        max-width: 850px; // max-height: 350px;
        width: 100%;
        height: auto;
        left: 0;
        right: 0;
        top: 5%;
        bottom: 0;
        margin: auto; // transform: translateY(-50%);
    }
}

.popup-wrapper {
    padding: 20px 20px; // height: 100%;
    box-sizing: border-box;
    box-shadow: 1px 8px 20px 5px #9c9c9c;
    transition: unset;
    background: #fff;
    h2 {
        margin-bottom: 15px;
        font-size: 14px;
    }
    h4 {
        margin: 25px 0 15px;
        font-weight: 600;
    }
}

.closePopup {
    right: 10px;
    top: 10px;
    font-size: 18px;
    cursor: pointer;
    line-height: 20px;
    width: 26px;
    height: 26px;
    box-sizing: border-box;
    text-align: center;
    padding-top: 3px;
    display: none;
    &.bottomRight {
        bottom: 2px;
        top: auto;
        left: auto;
        right: 0;
    }
    &.topLeft {
        left: 0;
        right: auto;
        top: 1px;
        bottom: auto;
    }
    &.bottomLeft {
        left: 0;
        right: auto;
        bottom: 2px;
        top: auto;
    }
    svg {
        width: 16px;
        .cls-1 {
            stroke: #c1c1c1;
            stroke-width: 2px;
        }
    }
    &:hover {
        .cls-1 {
            stroke: $common-blue;
        }
    }
}

.popup-content {
    height: 100%;
    overflow: hidden;
    visibility: visible;
}

.fadeIn {
    opacity: 1;
    visibility: visible;
} // =======================================css for mob popup
.popupWrapperMob {
    position: fixed;
    width: 100%;
    height: 100%;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden; // opacity: 0;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    .closePopup {
        right: -25px;
        top: -27px;
        display: block;
    }
}

.popup-mob {
    left: 0;
    width: 100%;
    max-height: 70%;
    background: #fff;
    padding: 30px;
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
    z-index: 1;
    bottom: -70%;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

.popupWrapperMob.showPopupMob {
    z-index: 100;
    visibility: visible;
    opacity: 1;
}

.popupWrapperMob.showPopupMob .popup-mob {
    bottom: 0;
}

.teacherPopUpWrapper {
     ::-webkit-scrollbar {
        display: block;
        width: 7px;
        height: 7px;
    }
    .popUpTableDiv {
        max-height: 450px;
        overflow-x: hidden;
        overflow-y: scroll;
    }
}

.middle-section {
    padding: 5px 15px;
    width: 100%;
    box-sizing: border-box;
}

.imageUploadWrapper {
    margin-top: 1%;
    margin-right: 5%;
}

.extraMargin {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.marginTenPixel {
    margin-top: 10px;
    margin-bottom: 10px;
}

.questionInfo {
    margin-right: 2px;
    height: 20px;
    width: 20px;
    display: inline-block;
    vertical-align: middle;
    .qInfoIcon {
        color: $common-blue;
        border-color: $common-blue;
        width: 20px;
        height: 20px;
        border: 1px solid #ccc;
        border-radius: 50%;
        display: block;
        text-align: center;
        box-sizing: border-box;
        line-height: 20px;
        font-weight: 600;
        font-size: 12px;
        cursor: pointer;
        box-shadow: 0px 0px 1px 0px #ccc inset;
        color: #888;
        transition: all 0.2s linear;
    }
}

.add-edit {
    margin-bottom: 15px;
    margin-top: 15px;
    i {
        border: 1px solid $common-blue;
        display: inline-block;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        line-height: 16px;
        text-align: center;
        font-size: 17px;
        vertical-align: middle;
        margin-right: 4px;
    }
    span {
        display: inline-block;
    }
    .expend-box {
        i {
            line-height: 12px;
            font-size: 14px;
        }
    }
    a {
        cursor: pointer;
    }
}

.closeBtnClass {
    line-height: 11px !important;
}

.create-standard-form {
    margin: 10px 0;
    padding: 10px 20px 20px;
    background: #efefef;
    border-top: 1px solid #d8d8d8;
    .form-ctrl {
        background: transparent;
        border-bottom: solid 1px #cccccc;
    }
}
