<proctur-popup [sizeWidth]="'small'">

    <span class="closePopup pos-abs fbold show" id="popupHistory" (click)="closeHistory()" close-button>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="9310 2185 16 16">
            <g id="Group_1228" data-name="Group 1228" transform="translate(8298 1888)">
                <g id="Group_1213" data-name="Group 1213" transform="translate(34.189 -7.77)">
                    <line id="Line_274" data-name="Line 274" class="cls-1" y2="19.798" transform="translate(992.81 305.77) rotate(45)" />
                    <line id="Line_275" data-name="Line 275" class="cls-1" x1="19.798" transform="translate(978.81 305.77) rotate(45)" />
                </g>
                <rect id="Rectangle_686" data-name="Rectangle 686" style="stroke:none;" class="cls-2" width="16" height="16"
                    transform="translate(1012 297)" />
            </g>
        </svg>
    </span>

    <h2 popup-header style="padding: 10px 5px;">Payment History </h2>

    <div class="pdc-container" popup-content>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Paid Amount</th>
                        <th>Paid Date</th>
                        <th>Receipt No.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let h of studentPartialPaymentData">
                        <td>{{h.amount_paid | commaSeprator:instituteCountryDetObj.currency_code:instituteCountryDetObj.country_code}}</td>
                        <td>{{h.paid_date | procturDate}}</td>
                        <td>
                            <a id="partialHistory{{h.invoice_no}}" (click)="download(h)">{{h.display_receipt_no}}</a>
                        </td>
                    </tr>
                    <tr *ngIf="studentPartialPaymentData.length == 0">
                        <td colspan="3">
                            No Payment Record Found
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</proctur-popup>