<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label class="text-bold">Product Name
            <span class="text-danger">*</span>
          </label>
          <input type="text" [disabled]="isAdvanceProductEdit" autocomplete="off" [(ngModel)]="prodForm.title"
            name="title" #title="ngModel" class="form-control form-control-sm" placeholder="Product Name" required />
          <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger">
            <div *ngIf="title.errors.required">
              product name should not be empty
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="text-bold">E-courses <span class="text-danger">*</span>
            <div class="questionInfo inline-relative">
              <i class="fa fa-info-circle infomation-icon" aria-hidden="true"></i>
              <div class="tooltip-box-field">
                Multiple Ecourses can be selected to create a product.
                Product items from all the selected Ecourses will be fetched
              </div>
            </div>
          </label>
          <ng-multiselect-dropdown [placeholder]="'Select E-courses'" [(ngModel)]="products_ecourse_maps"
            [data]="ecourseList" [settings]="moderatorSettings" [disabled]="isAdvanceProductEdit">
          </ng-multiselect-dropdown>
        </div>
      </div>


      <div class="col-md-12">
        <div class="form-group">
          <label class="text-bold">Description <span class="text-danger">*</span>
            <div class="questionInfo inline-relative">
              <i class="fa fa-info-circle infomation-icon" aria-hidden="true"></i>
              <div class="tooltip-box-field">
                The given description will be shown as
                short description of the product on the website
              </div>
            </div>
          </label>
          <!-- <textarea [(ngModel)]="prodForm.about" name="description" class="form-control form-control-sm"
              placeholder="Write a short description about this product" maxLength="1500" ></textarea> -->
          <editor [init]="editorConf" apiKey="xix5hq71alw64jp2ufl9fo6nddnhg91n6h7w2afn043v538t"
            [(ngModel)]="prodForm.about" placeholder="Write a short description about this product"></editor>
        </div>
      </div>

      <div class="col-md-12">
        <div class="col-md-6" style=" padding-left: 0px;">
          <div class="form-group">
            <label class="text-bold">Product Sell Limit <span class="text-danger">*</span>
              <div class="questionInfo inline-relative">
                <i class="fa fa-info-circle infomation-icon" aria-hidden="true"></i>
                <div class="tooltip-box-field">
                  No. of products which can be sold from the
                  website will be as per the defined product sell limit
                </div>
              </div>
            </label>
            <input type="text" [disabled]="isAdvanceProductEdit" maxlength="6"
              onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" autocomplete="off"
              [(ngModel)]="prodForm.purchase_limit" name="purchase_limit" class="form-control form-control-sm">
          </div>
        </div>
        <div class="col-md-2" style="padding-top: 4%;padding-left: 10%;">
          <span class="field-checkbox-wrapper">
            <input class="form-checkbox" type="checkbox" id="free_price" [(ngModel)]="prodForm.is_paid"
              (ngModelChange)="prodForm.is_paid = $event ? 1 : 0;prodForm.price_before_discount =0;prodForm.price =0;prodForm.discount_percentage =0"
              name="free_price" name="is_paid" [disabled]="isAdvanceProductEdit">
            <label for="free_price">Free</label>
          </span>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="text">Currency<span class="text-danger">*</span></label>
            <select id="country_id" class="form-ctrl" [(ngModel)]="prodForm.country_id"
              [disabled]="isAdvanceProductEdit">
              <option [value]="data.id" *ngFor='let data of countryDetails'>
                {{data.currency_code}}
              </option>
            </select>
          </div>
        </div>

      </div>
      <div class="col-md-12">
        <div class="col-md-4">
          <div class="form-group">
            <label class="text-bold">Actual Price</label>
            <span class="field-checkbox-wrapper">
              <input class="form-checkbox" type="checkbox" id="free_price" [(ngModel)]="prodForm.is_paid"
                (ngModelChange)="prodForm.is_paid = $event ? 1 : 0;prodForm.discount_percentage =0" name="free_price"
                name="is_paid" [disabled]="isAdvanceProductEdit">
            </span>
            <input type="text" value="0" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"
              [(ngModel)]="prodForm.price_before_discount" [disabled]="prodForm.is_paid ||isAdvanceProductEdit "
              name="price" class="form-control form-control-sm" (ngModelChange)="calc()">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="text-bold">Discount(%age)</label>
            <span class="field-checkbox-wrapper">
              <input class="form-checkbox" type="checkbox" id="discount" [(ngModel)]="prodForm.is_paid"
                (ngModelChange)="prodForm.is_paid = $event ? 1 : 0;prodForm.discount_percentage =0" name="free_price"
                name="is_paid" [disabled]="isAdvanceProductEdit">

            </span>
            <input type="text" value="0" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"
              [(ngModel)]="prodForm.discount_percentage" [disabled]="prodForm.is_paid ||isAdvanceProductEdit "
              name="price" class="form-control form-control-sm" (ngModelChange)="calc()">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="text-bold">Final Price</label>
            <span class="field-checkbox-wrapper">
              <input class="form-checkbox" type="checkbox" id="free_price" [(ngModel)]="prodForm.is_paid"
                (ngModelChange)="prodForm.is_paid = $event ? 1 : 0;prodForm.price =0" name="free_price" name="is_paid"
                [disabled]="prodForm.is_paid||isAdvanceProductEdit">
            </span>

            <input type="text" value="0" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"
              [(ngModel)]="prodForm.price" disabled name="price" class="form-control form-control-sm">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12" style="padding-left: 0px;">
      <div class="col-md-4">
        <div class="form-group">
          <label class="text-bold">Total User Purchased Product
          </label>
          <input type="text" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" autocomplete="off"
            [(ngModel)]="prodForm.start_index_for_total_prod_purchase" name="start_index_for_total_prod_purchase"
            class="form-control form-control-sm">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="text-bold">Tags</label>
          <select name="" id="" [(ngModel)]="prodForm.tag" class="form-ctrl" style="border-radius: 4px;">
            <option value=""></option>
            <option value="Featured">Featured</option>
            <option value="Recommended">Recommended</option>
            <option value="Popular">Popular</option>
            <option value="Others">Others</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group" *ngIf="prodForm.tag === 'Others'">
          <label class="text-bold">Others
          </label>
          <input type="text" autocomplete="off" [(ngModel)]="others" name="Others" class="form-control form-control-sm">
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="col-md-6" style=" padding-right: 0px;">
        <div class="form-group" style="margin-top: 10px;">
          <span class="field-checkbox-wrapper">
            <input class="form-checkbox" type="checkbox" id="adv_product" [(ngModel)]="prodForm.is_advance_product"
              name="is_advance_product" [disabled]="isAdvanceProductEdit">
            <label for="adv_product">Is Advance Product
              <div class="questionInfo inline-relative">
                <i class="fa fa-info-circle infomation-icon" aria-hidden="true"></i>
                <div class="tooltip-box-field">
                  Enabling this option published product will available for editing
                </div>
              </div>
            </label>
          </span>
        </div>
      </div>
      <div class="col-md-6" style=" padding-right: 0px;">
        <span style="font-weight: 600;">Product For</span>
        <div class="form-group field-wrapper form-el-width">
          <span class="field-checkbox-wrapper" style="margin-right: 10px;">
            <input class="form-checkbox" type="checkbox" id="forStudent" [(ngModel)]="advanceProduct.forStudent"
              name="is_advance_product">
            <label for="forStudent">Student</label>
          </span>
          <span class="field-checkbox-wrapper">
            <input class="form-checkbox" type="checkbox" id="forOpenUser" [(ngModel)]="advanceProduct.forOpenUser"
              name="is_advance_product">
            <label for="forOpenUser">Open User</label>
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-12" style="border: 1px solid #ccc;padding: 10px;margin-left: 10px;margin-bottom: 10px;">
      <div class="form-group">
        <label class="text-bold">Product Items <div class="questionInfo inline-relative">
            <i class="fa fa-info-circle infomation-icon" aria-hidden="true"></i>
            <div class="tooltip-box-field">
              These are the items which can be added to the product,
              whose data will be fetched on the basis of selected Ecourses
            </div>
          </div></label>
      </div>
      <div class="row form-group border-bt">
        <div class="col-md-4" *ngFor="let item of itemStates;let i = index">
          <div class="field-checkbox-wrapper">
            <input class="form-checkbox" [(ngModel)]="prodItems[item.slug]"
              [disabled]="isAdvanceProductEdit && advanceProductItems[item.slug]"
              (ngModelChange)="updateProductItemStates($event,item)" [name]="'item-'+i" [id]="item.slug" value="1"
              type="checkbox">
            <label [for]="item.slug">{{item.name}} </label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12" style="border: 1px solid #ccc;padding: 10px;margin-left: 10px;margin-bottom: 10px;">
      <div class="col-md-12 form-group m-0" style="padding-left: 0;">
        <label class="text-bold">Sales Date Range <div class="questionInfo inline-relative">
            <i class="fa fa-info-circle infomation-icon" aria-hidden="true"></i>
            <div class="tooltip-box-field">
              This is the date range in which the product can be sold.
              Sales end date cannot be prior to sales start date
            </div>
          </div></label>
      </div>
      <div class="col-md-6 form-group">
        <div class="col-md-12 datePickerBox" style="padding-top: 0px;padding-bottom: 10px;">
          <label for="from">From Date<span class="text-danger">*</span></label>
          <input type="text" [disabled]="isAdvanceProductEdit" [(ngModel)]="prodForm.sales_from_date" name="from"
            class="form-control form-control-sm" autocomplete="off" bsDatepicker>
        </div>
      </div>
      <div class="col-md-6 form-group">
        <div class="col-md-12 datePickerBox" style="padding-top: 0px;padding-bottom: 10px;">
          <label for="from">To Date<span class="text-danger">*</span></label>
          <input type="text" [disabled]="isAdvanceProductEdit" [(ngModel)]="prodForm.sales_to_date" name="to"
            class="form-control form-control-sm" autocomplete="off" bsDatepicker>
        </div>
      </div>
    </div>
    <div class="col-md-12" style="border: 1px solid #ccc;padding: 10px;margin-left: 10px;margin-bottom: 10px;">
      <div class="col-md-9 form-group m-0" style="padding-left: 0;">
        <label class="text-bold">Visibility Date Range<div class="questionInfo inline-relative">
            <i class="fa fa-info-circle infomation-icon" aria-hidden="true"></i>
            <div class="tooltip-box-field">
              This is the product validity date range.
              The student can access the product in the defined date range only.
              Product visibility start date cannot be prior to sales start date.
              The extension in visibility will change the product validity for both existing and new product users.
            </div>
          </div></label>
      </div>
      <div class="col-md-3" style=" padding-right: 0px;">
        <div class="form-group" style="text-align: right;">
          <label class="text-bold" style="position: absolute; left: 19px;"></label>
          <span class="field-checkbox-wrapper">
            <input class="form-checkbox" type="checkbox" id="show_duration" [(ngModel)]="prodForm.is_duration"
              name="show_duration">
            <label for="show_duration">Show Duration </label>
          </span>
        </div>
      </div>
      <div class="col-md-6 form-group" *ngIf="!prodForm.is_duration">
        <div class="col-md-12 datePickerBox" style="padding-top: 0px;padding-bottom: 10px;">
          <label for="from">From Date<span class="text-danger">*</span></label>
          <input type="text" [(ngModel)]="prodForm.valid_from_date" name="from"
            class="form-control bsDatepicker form-control-sm" autocomplete="off" bsDatepicker>
        </div>
      </div>
      <div class="col-md-6 form-group" *ngIf="!prodForm.is_duration">
        <div class="col-md-12 datePickerBox" style="padding-top: 0px;padding-bottom: 10px;">
          <label for="from">To Date</label>
          <input type="text" [(ngModel)]="prodForm.valid_to_date" name="to"
            class="form-control bsDatepicker form-control-sm" autocomplete="off" bsDatepicker>
        </div>
      </div>
      <div class="col-md-6 form-group" *ngIf="prodForm.is_duration">
        <div class="col-md-12 " style="padding-top: 0px;padding-bottom: 10px;">
          <label for="from">Duration<span class="text-danger">*</span></label>
          <div class="questionInfo inline-relative">
            <i class="fa fa-info-circle infomation-icon" aria-hidden="true"></i>
            <div class="tooltip-box-field">
              This is the product validity duration.
              The student can access the product in the defined duration only,
              starting from the purchase date.
              Product visibility duration can be set in no. of days.
              The extension in visibility will change the product validity for both existing and new product users.
            </div>
          </div>
          <input type="text" maxlength="4" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"
            [(ngModel)]="prodForm.duration" name="from" class="form-control form-control-sm" autocomplete="off">
        </div>
      </div>
      <!-- <div class="col-md-6 form-group"  style="margin-top: 1.6rem;">
          <div class="col-md-12 datePickerBox" style="padding-top: 0px;padding-bottom: 10px;">
            <label for="from">{{prodForm.valid_from_date}}</label> to <label
              for="from">{{prodForm.valid_to_date}}</label>
          </div>

          <div class="col-md-2 form-group text-right m-auto text-bold" style="margin-top: 25px;">
          <label>{{calc_days()}} Day(s)</label>
        </div>
        </div> -->
    </div>
  </div>
  <div class="col-md-1"></div>
</div>

<div class="row basic-info-footer">
  <div class="col text-center">
    <button class="btn btn-outline-danger btn-round" style="color:red;" (click)="gotoBack()"> Cancel</button>
    <button class="btn btn-primary btn-round" (click)="saveProduct()">Save & Next</button>
  </div>
</div>