@import "../asset-management.component.scss";

*{
    margin: 0px;
  }
  body{
    font-family: 'Open Sans', sans-serif;
  }
  .flex{
    display: flex;
  }
  
   .select{
    padding: 7px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 13px;
    font-weight: 500;
    color: #787A7D;
    margin-left: 24px;
  }
  select{
    width: 330px;
    height: 35px;
    left: 30px;
    top: 63px;
    
    background: #FFFFFF;
    border: 1px solid #D5D0D0;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .rights{
    float: right;
    margin-top: 25px;
   }
  .titleforasset{
    height: 18px;
margin-left: 35px;
margin-top: 20px;
bottom: 15px;
font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 18px;
/* identical to box height */

letter-spacing: 0.01em;

color: #444141;


  }
  .input{
    padding: 7px 20px;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: 500;
    vertical-align: top;
    
    margin-left: 0px;
    }
  
   input:focus, select:focus,button:focus{
       outline: none;
   }
    .page_heading{
      padding:10px 0px 20px 0px;
      box-shadow: 0px 7px 7px -4px rgba(0,0,0,0.11);
      -webkit-box-shadow: 0px 7px 7px -4px rgba(0,0,0,0.11);
      -moz-box-shadow: 0px 7px 7px -4px rgba(0,0,0,0.11);
    }
   .page_heading>span{
    font-size: 16px;
    font-weight: 500;
    color: #334D6E;
   }
   .page_heading>span>img{
    height: auto;
    width: 20px;
    padding-left: 5px;
   }
   .w98{
    width: 98%;
    margin: 0px auto;
   }
   .w99{
   
    width: 1214px;
    height: 1px;
    left: 226px;
    top: 164px;
    
    background: #EEF1F4;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
   }
   .right{
    float: right;
   }
   .mr10{
    margin-right: 10px;
   }
   .glass{
      background-image: url('/assets/images/assets/Vector.svg');
      background-repeat: no-repeat;
      background-position:left center;
   }
  
    
  .pl10{
    padding-left: 10px;
  }
  
 

.toggle{
  position: relative;
  right: 15px;
  top: 10px;
}
.asset-title{
 
  width: 127px;
  height: 27px;
  left: 260px;
  top: 82px;
  
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
  
  color: #334D6E;
  

}
.tab1{
  width: 99px;
  height: 18px;
  left: 260px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.01em;
}
.tab2{
  width: 34px;
  height: 18px;
  left: 402px;
  top: 129px;
  margin-left: 43px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
 letter-spacing: 0.01em;
 }


 input{
  width: 330px;
  height: 35px;
  left: 30px;
  top: 63px;
  margin-bottom: 10px;
  background: #FFFFFF;
  border: 1px solid #D5D0D0;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top:5px;
    }
.btns{
  margin-top: 15px;
  //margin-left: 10px;
  margin-right: 10px;
}
.blue_button {
  background-color: #109CF1;
  color: white;
  padding: 9px 20px;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  height: 35px;
}
.title-model{
height: 18px;
left: 41px;
top: 30px;
text-align: center;
font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 18px;
margin-bottom: 13px;
/* identical to box height */

letter-spacing: 0.01em;

color: #444141;

}

.modal {
 
  // left: 35%;
  // top: 20%;
  //transform: translate(-50%, -50%);
  height: auto;
}


  //css for assets
  .modal-bodyAseet{
    margin-top: 10px;
    height:450px;
    position: relative;
    width: 400px;
   background: #FFFFFF;
   border-radius: 8px;
  }
  .blue_button{
    left: 87.57%;
right: 3.54%;
top: 14.47%;
bottom: 83.41%;

font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 13px;
line-height: 18px;
/* identical to box height */

text-align: center;
letter-spacing: 0.01em;

/* white */

color: #FFFFFF;
  }
  .models{
    
    width: 86px;
    height: 18px;
    left: 41px;
    top: 30px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height */
    
    letter-spacing: 0.01em;
    
    color: #444141;
    
  }
  .inactives{
    color: #334D6E;
  }
  .actives{
    color: #109CF1;
    font-style: bold;
  }
  .input{
    padding: 7px 20px;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: 500;
    vertical-align: top;
    width:260px;
    
    }
  .titles{
    width: 64px;
height: 18px;
left: 35px;
top: 30px;

font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 18px;
/* identical to box height */

letter-spacing: 0.01em;

color: #444141;

  }
  .cancel{
    background-color: white;
      color: #109CF1;
      padding: 8px 20px;
      font-size: 12px;
      border: solid 2px #109CF1;
      border-radius: 5px;
      font-weight: 500;
      height: 35px;
  }
  .active {
    border-bottom: 3px solid #109cf1 !important;
    color: #109cf1 !important;
    padding-bottom: 29px;
    padding-top: 10px;
}
.tab{display: block;
  padding: 1.5rem 0rem;
  margin: -1rem 3.5rem;
  margin-left: 0rem;
  cursor: default;
  padding-top: 2px;
}
.inactive{
  border-bottom: none;
  
}
.searchs{
  padding: 7px 20px;
font-size: 13px;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
font-weight: 500;
vertical-align: top;
width: 260px;
}
inputforSerach{
  height: 35px;
left: 30px;
top: 63px;
background: #FFFFFF;
border: 1px solid #D5D0D0;
box-sizing: border-box;
border-radius: 4px;
margin-top: 20px;
}
.searches{
  padding: 7px 20px;
  font-size: 13px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-weight: 500;
    height:35px;
      width:200px;
  }
.mr10{
margin-right:10px;
}
.magnifying-glass{
  background-image: url('/assets/images/assets/Vector.svg');
  background-repeat: no-repeat;
  background-position:left center;
  text-indent: 10px;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  color: #334D6E;
}
.breadcrumb{
background-color: #fff;
margin-bottom: 0px;
padding-left: 0;
}
.breadcrumb-item>a{
color: #334D6E;
font-weight: 600;
font-size: 16px;
}
@media (min-width: 768px)
{
  .modal-dialog {
    width: 371px;
    
}
}
.modal-dialog {
  width: 371px;
  margin:0px auto;
  margin-top: 60px;
}
#deletesModal{
  position: absolute;
  left:30%;
  top:10%;
}
#deletesAssetModal{
  position: absolute;
  left:30%;
  top:10%;
}