<!-- <button type="button" name="button" class="toDoList-button" (click)="showToDoList()">
  <i class="fa fa-list-alt"></i> &nbsp;&nbsp;
  To Do List</button> -->

  <div class="toDoList-widget">
  
    <div class="toDoList-header">
     
      <span style="font-weight: bold;">To do List</span>
      <!-- <input style="margin-left:12%;" type="text" value="" id="sortDate" class="widgetDatepicker bsDatepicker" name="sortDate"
        [(ngModel)]="sortDate" (ngModelChange)="sortByDate($event)" readonly="true" bsDatepicker
      /> -->

      <!-- <span>
        <i class="fa fa-calendar" style="cursor: pointer;" (click)="openCalendar('sortDate')"></i>
        <span id="sortDateSpan">  &nbsp;&nbsp; Sort by date   &nbsp;&nbsp;&nbsp;</span>
        <i class="glyphicon glyphicon-repeat" id="refresh-icon" title="Date Reset" (click)="resetSortByDate()"></i>
      </span> -->
      <!--for close button-->
      <ng-content></ng-content>
    </div>
    <div class="toDoList-input-container input-group">
      <input type="text" name="" value="" id="taskInput" [disabled]="is_edit" class="form-control toDoList-input" [(ngModel)]="taskInput" (ngModelChange)="showAddOption()" placeholder="Add a task..." autofocus>
      <span *ngIf="addTaskStatus" class="input-group-addon plus-icon-box"><i class="fa fa-plus-circle plus-icon"  title="Add Task" (click)="addTask()"></i></span>
    </div>

    <div class="toDoList-task-container">

      <div class="no-toDo" [hidden]="noRecord">
        <span>No To-Do Record found</span>
      </div>

      <div class="toDoList">
          <div class="item" *ngFor="let toDo of defaultToDoList; let i = index;" id="{{toDo.task_squence}}">
            <div class="item-content">
              <div class="toDoList-completion">
                <i class="fa fa-check-circle" style="cursor:pointer;" title="Mark completed" (click)="taskCompleted(toDo.task_id)"></i>
              </div>
              <!-- <div class="toDoList-selection">
                <i class="fa fa-bars"></i>
              </div> -->
              <div  class="toDoList-content textfolw">
                <p class="taskName" id="name_{{toDo.task_id}}" title="{{toDo.task_name}}">
                  {{toDo.task_name}}
                 <!-- {{ (toDo.task_name.length > 90) ? (toDo.task_name | slice:0:90) + '...' : toDo.task_name }} -->
                </p>
                <div class="input-wrapper">
                  <input type="text" name="" value="{{toDo.task_name}}" class="toDoEdit" id="{{toDo.task_id}}"  placeholder="Add a task...">
                  <!-- <i class="fa fa-paper-plane pull-right" aria-hidden="true"></i> -->
                  <!-- <label for="{{toDo.task_id}}" class="fa fa-paper-plane pull-right" id="fa_{{toDo.task_id}}"></label> -->
                </div>
                <div class=toDoList-date>
                  <span>{{toDo.task_date | date : "d MMMM, y"}}  <span style="margin-left: 60px;"  class="plus-icon-box" *ngIf="toDo.editbtn" ><i class="fa fa-plus-circle plus-icon"  (click)="updateToDo(toDo)" title="Update Task">&nbsp;&nbsp;Update</i></span>
                </span>
                
                </div>
              </div>
              <div class="toDoList-button-container">
                <i class="fa fa-pencil"  title="Edit To-Do" style="color: #1283f4; cursor:pointer;" (click)="editToDo(toDo.task_id,i)"></i>
              </div>
              <div class="toDoList-button-container">
                <i class="fa fa-trash" title="Delete To-Do" style="color: #ff0000; cursor:pointer;" (click)="deleteToDo(toDo.task_id)"></i>
              </div>
              <div class="toDoList-button-container">
                  <input style="margin-left: -60px;" type="text" value="" [id]="'date-'+toDo.task_id" class="widgetDatepicker bsDatepicker" name="sortDate"
                    [(ngModel)]="editDate[i]" (ngModelChange)="changeDate($event,i,toDo.task_id)" readonly="true" bsDatepicker
                  />
                <i class="fa fa-calendar" title="Add Date" style="color: #1283f4; cursor:pointer;" (click)="openCalendar('date-'+toDo.task_id)"></i>
              </div>
            </div>
          </div>

          <div class="completed-item" *ngFor="let toDo of completedToDoList; let i = index;">
            <div class="item-content">
              <div class="toDoList-completion">
                <i class="fa fa-check-circle task-completed"></i>
              </div>
              <!-- <div class="toDoList-selection">
                &nbsp;&nbsp;&nbsp;
              </div> -->
              <div class="toDoList-content textfolw" style="color:#cbcbcb; border-color: #cbcbcb;">
                <span class="taskName"><del title="{{toDo.task_name}}">{{toDo.task_name}}</del></span>
                <div class=toDoList-date>
                  <span style="color:#cbcbcb;">{{toDo.task_date | date: 'EEE, dd MMM'}}
    </span>
                </div>
              </div>
              <div class="toDoList-button-container">
                &nbsp;&nbsp;&nbsp;
              </div>
              <div class="toDoList-button-container">
                <i class="fa fa-trash" title="Delete To-Do" style="color: #ff0000; cursor:pointer;" (click)="deleteToDo(toDo.task_id)"></i>
              </div>
              <div class="toDoList-button-container">
                &nbsp;&nbsp;&nbsp;
              </div>
            </div>
          </div>
      </div>

    </div>

  </div>
