@import "../../../../assets/css/style.scss";
@import "../../../../assets/css/wrapper.scss";
@import "../../../../assets/css/common/common.scss";
@import "../../../../assets/css/common/grid.scss";
@import "../../../../assets/css/common/variables.scss";
@import "./src/assets/css/common/common-web.scss";

.activity-wrapper {
  height: 100vh;
  overflow-x: hidden;
  padding: 1%;
  overflow-y: auto;
  .row {
    margin: 0;
  }

  .btn-wrap {
    padding: 25px 10px 0;
  }

  .header {
    padding: 10px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 4px;
  }

}

.margin-head {
  margin-top: 2px;
}

.cleat-txt {
  color: rgb(245, 79, 79);
  cursor: pointer;
  margin-top: 3px;
}

.update-cheque-wrapper {
  padding: 15px;

  tr {
    th {}

    td {
      vertical-align: middle;
      padding: 5px;

      .check {
        float: left;
        width: 100%;
        height: 35px;
      }

      .field-checkbox-wrapper .form-checkbox + label:after {
        content: '';
        width: 16px;
        height: 16px;
        border: 2px solid #ccc;
        border-radius: 2px;
        position: absolute;
        left: 0;
        top: 1px;
      }
    }
  }
}

.pending-cheque-data {
  tr {
    th {
      &.Inst {
        width: 6%;
        text-align: 'right';
      }
    }

    td {}
  }
}

.dropdown {
  & > ul {
    padding: 10px 19px; // width: 200px;
  }
}
