<proctur-popup class="popupData" [sizeWidth]="'small'">
  <span class="closePopup pos-abs fbold show" (click)="closeChangePasswordPopup()" close-button>
    <svg  class="artdeco-icon" focusable="false" height="24px" preserveAspectRatio="xMinYMin meet" viewBox="0 0 24 24" width="24px" x="0" y="0">
      <path  class="large-icon" d="M20,5.32L13.32,12,20,18.68,18.66,20,12,13.33,5.34,20,4,18.68,10.68,12,4,5.32,5.32,4,12,10.69,18.68,4Z" style="fill: currentColor"></path>
    </svg>

  </span>

  <h2 popup-header>Change Password</h2>

  <div class="content-wrapper" popup-content>
    <div class="row">
      <div class="c-sm-6 c-md-6 c-lg-6">
        <div class="field-wrapper">
          <label for="nameUser">Alternate Login Email ID</label>
          <input type="text" readonly="true" class="form-ctrl" [(ngModel)]="changePass.username" id="nameUser" name="nameUser">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="c-sm-6 c-md-6 c-lg-6">
        <div class="field-wrapper">
          <label for="oldPass">Old Password<span class="text-danger">*</span></label>
          <input type="password" class="form-ctrl" [(ngModel)]="changePass.oldPassword" id="oldPass" name="oldPass">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="c-sm-6 c-md-6 c-lg-6">
        <div class="field-wrapper">
          <label for="newPass">New Password<span class="text-danger">*</span></label>
          <input type="password" class="form-ctrl" [(ngModel)]="changePass.newPassword" id="newPass" name="newPass">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="c-sm-6 c-md-6 c-lg-6">
        <div class="field-wrapper">
          <label for="cnfmPass">Confirm Password<span class="text-danger">*</span></label>
          <input type="password" class="form-ctrl" [(ngModel)]="changePass.confirmPassword" id="cnfmPass" name="cnfmPass">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="" style="margin: 5px 0px 0px 15px;">
        <h5>You will be logged out after changing the password</h5>
      </div>
    </div>

  </div>

  <div class="" popup-footer>
    <div class="clearfix">
      <aside class="pull-right popup-btn">
        <input type="button" value="Close" class="btn" (click)="closeChangePasswordPopup()">
        <input type="button" value="Change" class="btn fullBlue" (click)="changeUserPassword()">
      </aside>
    </div>
  </div>

</proctur-popup>
