<section class=" clearFix">
  <section class="cal-view">
    <aside class="boxPadding15">
      <!-- ==================================================================================== -->
      <!-- ==================================================================================== -->
      <!-- ========================== Header Section ========================================== -->
      <section class="middle-top clearFix">
        <div class="header-container">
          <!-- <h1 class="pull-left" style="padding-top: 5px;">
            Class Schedule
          </h1> -->
          <h4 style="padding-top: 10px;">Choose filter to view class schedule</h4>

          <div style="margin-right: 15px">
            <p-button label="Multiple Delete" (click)="deleteMultipleSchedule()" *ngIf="showDeleteBTN()"
              icon="fa fa-times" iconPos="left"></p-button>
            <input *ngIf="showManageClass" type="button" [routerLink]="['../add']" value="Add/Edit Class" class="btn">
          </div>
        </div>

      </section>
      <!-- ==================================================================================== -->
      <!-- ==================================================================================== -->
      <!-- ========================== Body Section ============================================ -->
      <section class="schedule-class-box">
        <!-- ==================================================================================== -->
        <!-- ==================================================================================== -->
        <!-- ========================== Search bar ============================================== -->
        <section class="common-search-filter">
          <div class="filter-search">
            <div class="filter-box clearFix" *ngIf="!showAdvanceFilter">

              <!-- Batch Module -->
              <div class="search-filter-wrapper row" *ngIf="isLangInstitute">
                <div class="row">
                  <div class="c-sm-10 c-md-10 c-lg-10">
                    <div class="c-sm-12 c-md-12 c-lg-12">
                      <div class="c-sm-4 c-md-4 c-lg-4" style="margin-top :20px;">
                        <div class="radio-main">
                          <div class="field-radio-wrapper">
                            <input type="radio" [(ngModel)]="selectedRadioButton" (click)="checkInputType($event)"
                              name="sFilter" class="form-radio" value="All" id="idAll">
                            <label for="idAll">All</label>
                          </div>
                          <div class="field-radio-wrapper">
                            <input type="radio" [(ngModel)]="selectedRadioButton" (click)="checkInputType($event)"
                              name="sFilter" value="Teacher" class="form-radio" id="idTeacher">
                            <label for="idTeacher">Teacher</label>
                          </div>
                          <div class="field-radio-wrapper">
                            <input type="radio" [(ngModel)]="selectedRadioButton" (click)="checkInputType($event)"
                              name="sFilter" value="Batch" class="form-radio" id="idBatch">
                            <label for="idBatch">Batch</label>
                          </div>
                        </div>
                      </div>
                      <div class="c-sm-8 c-md-8 c-lg-8">
                        <div class="c-sm-4 c-md-4 c-lg-4" *ngIf="selectedRadioButton == 'Teacher'">
                          <div class="field-wrapper fieldPro">
                            <label for="sc">Select Teacher</label>
                            <select id="sc" class="form-ctrl" [(ngModel)]="fetchBatchModule.teacher_id">
                              <option value="-1"></option>
                              <option [value]="subject.teacher_id" *ngFor="let subject of teacherList">
                                {{subject.teacher_name}}
                              </option>
                            </select>
                          </div>
                        </div>

                        <div *ngIf="selectedRadioButton == 'Batch'" class="field-main">
                          <div class="c-sm-4 c-lg-4 c-sm-4">
                            <div class="field-wrapper">
                              <label for="smc">Select Master Course</label>
                              <select id="smc" class="form-ctrl" [(ngModel)]="batchData.standard_id"
                                (ngModelChange)="onBatchMasterCourseSelection($event)">
                                <option value="0"></option>
                                <option [value]="master.standard_id" *ngFor="let  master of batchMasterCourse">
                                  {{master.standard_name}}
                                </option>
                              </select>
                            </div>
                          </div>

                          <div class="c-sm-4 c-lg-4 c-sm-4">
                            <div class="field-wrapper">
                              <label for="sc">Select Course</label>
                              <select id="sc" class="form-ctrl" [(ngModel)]="batchData.subject_id"
                                (ngModelChange)="onSubjectSelection($event)">
                                <option value="0"></option>
                                <option [value]="course.subject_id" *ngFor="let course of subjectListBatch">
                                  {{course.subject_name}}
                                </option>
                              </select>
                            </div>
                          </div>

                          <div class="c-sm-4 c-lg-4 c-sm-4">
                            <div class="field-wrapper">
                              <label for="sc">Batch</label>
                              <select id="sc" class="form-ctrl" [(ngModel)]="batchData.batch_id">
                                <option value="0"></option>
                                <option [value]="subject.batch_id" *ngFor="let subject of batchList">
                                  {{subject.batch_name}}
                                </option>
                              </select>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="c-sm-2 c-md-2 c-lg-2" style="margin-top: 15px">
                    <input type="button" class="fullBlue btn" value="View" (click)="submitMasterCourse()">
                  </div>
                </div>
              </div>

              <!-- Course Module -->
              <div class="search-filter-wrapper row" *ngIf="!isLangInstitute" style="margin-bottom: 5px;">
                <div class="c-lg-9 c-md-9 c-sm-9">
                  <div class="row">
                    <div class="c-lg-3 c-md-3 c-sm-3">
                      <div class="field-wrapper">
                        <!-- changes by Nalini - to handle school model conditions -->
                        <label for="smc">{{schoolModel ? 'Select Standard' : 'Select Master Course'}}</label>
                        <select id="smc" class="form-ctrl" [(ngModel)]="fetchMasterCourseModule.master_course"
                          (ngModelChange)="updateCourseList($event)">
                          <option value="-1"></option>
                          <option [value]="master" *ngFor="let  master of masterCourse">
                            {{master}}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="c-lg-3 c-md-3 c-sm-3">
                      <div class="field-wrapper">
                        <label for="sc">{{schoolModel ? 'Select Section' : 'Select Course'}}</label>
                        <select id="sc" class="form-ctrl" [(ngModel)]="fetchMasterCourseModule.course_id"
                          (ngModelChange)="updateSubjectList($event)">
                          <option value="-1"></option>
                          <option [value]="course.course_id" *ngFor="let course of courseList">
                            {{course.course_name}}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="c-lg-3 c-md-3 c-sm-3">
                      <div class="field-wrapper">
                        <label for="selectsub">Select Subject</label>
                        <select id="selectsub" class="form-ctrl" [(ngModel)]="fetchMasterCourseModule.subject_id">
                          <option value="-1"></option>
                          <option [value]="subject.batch_id" *ngFor="let subject of subjectList">
                            {{subject.subject_name}}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="c-lg-3 c-md-3 c-sm-3">
                      <div class="field-wrapper">
                        <label for="selectteacher">Select Teacher</label>
                        <select id="selectteacher" class="form-ctrl" [(ngModel)]="fetchMasterCourseModule.teacher_id">
                          <option value="-1"></option>
                          <option [value]="subject.teacher_id" *ngFor="let subject of teacherList">
                            {{subject.teacher_name}}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="c-sm-1 c-md-1 c-lg-1" style="margin-top:15px;">
                  <input type="button" class="fullBlue btn" value="View" (click)="submitMasterCourse()">
                </div>
                <div class="c-sm-2 c-md-2 c-lg-2" style="margin-top:15px;">
                  <a class="pull-right" style="cursor: pointer;" (click)="showhideAdvanceFilter('1');">Advance
                    Filter</a>
                </div>
              </div>

              <!-- <div class="row" style="margin-top: 10px">
                <a class="pull-right advancefilter" style="cursor: pointer;" (click)="showhideAdvanceFilter('1');">Advance Filter</a>
              </div> -->

            </div>

            <div class="" *ngIf="showAdvanceFilter">
              <p>Maximum 30 days date range filter can be applied.</p>
              <div class="row advanceDateFilter" style="margin-bottom: 5px;">

                <div class="c-sm-9 c-md-9 c-lg-9">
                  <div class="c-lg-3 c-md-3 c-sm-3" *ngIf="!isLangInstitute">
                    <div class="field-wrapper">
                      <label for="smc">{{schoolModel ? 'Select Standard' : 'Select Master Course'}}
                        <span style="color:red">*</span>
                      </label>
                      <select id="smc" class="form-ctrl" [(ngModel)]="fetchMasterCourseModule.master_course"
                        (ngModelChange)="updateCourseList($event)">
                        <option value="-1"></option>
                        <option [value]="master" *ngFor="let  master of masterCourse">
                          {{master}}
                        </option>
                      </select>
                    </div>
                  </div>

                  <div class="c-lg-3 c-md-3 c-sm-3" *ngIf="!isLangInstitute">
                    <div class="field-wrapper">
                      <label for="sc">{{schoolModel ? 'Select Section' : 'Select Course'}}
                        <span class="text-danger">*</span>
                      </label>
                      <select id="sc" class="form-ctrl" [(ngModel)]="fetchMasterCourseModule.course_id"
                        (ngModelChange)="updateSubjectList($event)">
                        <option value="-1"></option>
                        <option [value]="course.course_id" *ngFor="let course of courseList">
                          {{course.course_name}}
                        </option>
                      </select>
                    </div>
                  </div>

                  <div class="c-lg-6 c-md-6 c-sm-6" *ngIf="isLangInstitute">
                    <div class="c-lg-4 c-md-4 c-sm-4">
                      <div class="field-wrapper">
                        <label for="smc" style="white-space: nowrap;">Select Master Course
                          <span class="text-danger">*</span>
                        </label>
                        <select id="smc" class="form-ctrl" [(ngModel)]="batchData.standard_id"
                          (ngModelChange)="onBatchMasterCourseSelection($event)">
                          <option value="-1"></option>
                          <option [value]="master.standard_id" *ngFor="let  master of batchMasterCourse">
                            {{master.standard_name}}
                          </option>
                        </select>
                      </div>
                    </div>

                    <div class="c-lg-4 c-md-4 c-sm-4">
                      <div class="field-wrapper">
                        <label for="sc">Select Course
                          <span class="text-danger">*</span>
                        </label>
                        <select id="sc" class="form-ctrl" [(ngModel)]="batchData.subject_id"
                          (ngModelChange)="onSubjectSelection($event)">
                          <option value="-1"></option>
                          <option [value]="course.subject_id" *ngFor="let course of subjectListBatch">
                            {{course.subject_name}}
                          </option>
                        </select>
                      </div>
                    </div>

                    <div class="c-lg-4 c-md-4 c-sm-4">
                      <div class="field-wrapper">
                        <label for="sc">Batch
                          <span class="text-danger">*</span>
                        </label>
                        <select id="sc" class="form-ctrl" [(ngModel)]="batchData.batch_id">
                          <option value="-1"></option>
                          <option [value]="subject.batch_id" *ngFor="let subject of batchList">
                            {{subject.batch_name}}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="c-sm-3 c-md-3 c-lg-3">
                    <div class="field-wrapper datePickerBox">
                      <label for="strtDate">Start Date
                        <span class="text-danger">*</span>
                      </label>
                      <input type="text" value="" id="strtDate" class="form-ctrl bsDatepicker"
                        [(ngModel)]="advanceFilter.startdate" readonly="true" name="strtDate" bsDatepicker>
                    </div>
                  </div>

                  <div class="c-sm-3 c-md-3 c-lg-3">
                    <div class="field-wrapper datePickerBox">
                      <label for="endDate">End Date
                        <span class="text-danger">*</span>
                      </label>
                      <input type="text" value="" id="endDate" class="form-ctrl bsDatepicker"
                        [(ngModel)]="advanceFilter.enddate" readonly="true" name="endDate" bsDatepicker>
                    </div>
                  </div>
                </div>

                <div class="c-sm-1 c-md-1 c-lg-1 btn-wrapper">
                  <button class="btn fullBlue" (click)="advanceFilterView()">View</button>
                </div>
                <div class="c-sm-1 c-md-1 c-lg-1">
                  <a class="pull-right" style="margin-top: 30px;cursor: pointer;"
                    (click)="showhideAdvanceFilter('0');">Back</a>
                </div>
              </div>

              <!-- <div class="row" style="margin-top: 10px;">
                <a class="pull-right" style="cursor: pointer; right: 85px;
                top: 150px;" (click)="showhideAdvanceFilter('0');">Back</a>
              </div> -->
            </div>

          </div>

        </section>
        <!-- ==================================================================================== -->
        <!-- ==================================================================================== -->
        <!-- ========================== Weeks Tabs and Navigator ================================ -->
        <section class="calender-course clearFix view-c-detail" *ngIf="showContent">
          <div class="row">
            <div class="c-lg-2 c-md-2 c-sm-2 vcd-l">
              <label>

              </label>
            </div>
            <div class="c-lg-8 c-md-8 c-sm-8 align-center  vcd-l date-arrow">
              <div>
                <span *ngIf="!showAdvanceFilter" class="">{{weekStart}} to {{weekEnd}}</span>
                <span *ngIf="showAdvanceFilter" class="">{{advanceFilter.startdate | dateMonthYearFromat}} to
                  {{advanceFilter.enddate
                  | dateMonthYearFromat}}</span>
              </div>
            </div>
            <div class="c-lg-2 c-md-2 c-sm-2 align-right filter-search">
            </div>
          </div>
          <div class="cal-left c-control" *ngIf="!showAdvanceFilter" (click)="gotoPreviousWeek()"></div>
          <div class="cal-right c-control" *ngIf="!showAdvanceFilter" (click)="gotoNextWeek()"></div>
        </section>
        <!-- ==================================================================================== -->
        <!-- ==================================================================================== -->
        <!-- ========================== Class Schedule Table ==================================== -->

        <div class="row" *ngIf="weekScheduleList.length > 0">
          <div class="pull-right extra-button">
            <button class="btn" (click)="expandAllRows()">Expand/Collapse All</button>
            <button class="btn" *ngIf="!isChecked" (click)="checkAllCheckbox()">Check All</button>
            <button class="btn" *ngIf="isChecked" (click)="checkAllCheckbox()">Uncheck All</button>
          </div>
        </div>

        <section class="clearFix calender-view1">
          <div class="table-responsive ">
            <table>
              <thead>
                <tr>
                  <th style="width:10%"></th>
                  <th style="width:10%" *ngIf="!schoolModel">Type</th>
                  <th style="width:15%">Subject</th>
                  <th style="width:10%">Start Time</th>
                  <th style="width:10%">End Time</th>
                  <th style="width:15%">Teacher</th>
                  <th style="width:15%" *ngIf="!schoolModel">Topic</th>
                  <th style="width:15%">Action</th>
                </tr>
              </thead>
              <tbody id="tbodyItem{{i}}" class="table-accor-head" *ngFor="let class of weekScheduleList; let i=index;">
                <tr>
                  <td colspan="8">
                    <div class="accordian-heading row">
                      <div class="pull-left headingDiv" (click)="toggleTbodyClass(i)" style="width:95%">
                        <h4 class="clearFix ">
                          <span class="close-accor">-</span>
                          <span class="open-accor">+</span>
                          <span class="date-c">{{class.id}}</span>
                          <!-- <span class="pull-right delete-icon" style="font-family: FontAwesome;" (click)="delete('course', i, null)">
                                <i class="fa fa-trash-o " aria-hidden="true"></i>
                              </span> -->
                        </h4>
                      </div>
                      <div class="pull-right" *ngIf="isLangInstitute == false" style="width:5%">
                        <span class="" (click)="editClass(class)" title="Edit">
                          <i class="fas fa-edit"
                            style="font-family: FontAwesome;font-size: 20px;color: rgba(0, 0, 255, 0.49019607843137253);"></i>
                        </span>
                        <span class="mail-notification" *ngIf="hidePastClassAction(class) && !schoolModel" (click)="notify(class)"
                          title="Send Reminder"></span>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr id="tbodyView{{i}}" class="hide">
                  <td colspan="8">
                    <table>
                      <tbody class="table-accor-view ">
                        <tr *ngFor="let sc of class.data; let y= index;">
                          <td style="width:10%">
                            <div class="field-checkbox-wrapper">
                              <input type="checkbox" name="uiSelected" class="form-checkbox" [(ngModel)]="sc.selected"
                                id="uiSelected{{i}}" (ngModelChange)="userSelectedData($event , sc)">
                              <label></label>
                            </div>
                          </td>
                          <td style="width:10%">{{sc.class_type}}</td>
                          <td style="width:15%">{{sc.subject_name}}</td>
                          <td style="width:10%">{{sc.start_time}}</td>
                          <td style="width:10%">{{sc.end_time}}</td>
                          <td style="width:15%" class="editTeacherTd">

                            <div *ngIf="sc.class_type != 'Exam'" class="changeteacher">
                              <span id="teacher{{sc.schd_id}}">{{sc.teacher_name}}
                                <i (click)="changeTeacher(sc)" class="edit-icon" aria-hidden="true" title="Edit"
                                  style="margin-right:5px"></i>
                              </span>
                              <span id="editTeacher{{sc.schd_id}}" class="hide spanSection">
                                <div class="field-wrapper editSection">
                                  <select id="teacherList" class="form-ctrl ddnChangeTeacher"
                                    [(ngModel)]="allotedTeacher">
                                    <option [value]="subject.teacher_id" *ngFor="let subject of teacherList">
                                      {{subject.teacher_name}}
                                    </option>
                                  </select>
                                </div>
                                <i (click)="updateTeacher(sc)" class="fas fa-check"
                                  style="font-family: FontAwesome ;font-size: 19px;margin-left:0px 2px"
                                  title="Update"></i>
                                <i (click)="cancelChangeTeacher(sc)" class="fas fa fa-times"
                                  style="font-family: FontAwesome ;font-size: 19px;" title="Cancel"></i>
                              </span>
                            </div>

                            <div *ngIf="sc.class_type == 'Exam'">
                              {{sc.teacher_name}}
                            </div>

                          </td>
                          <td style="width:15%" *ngIf="!schoolModel">{{sc.topics_covered}}</td>
                          <td style="width:15%">
                            <div class="action-box" *ngIf="!isLangInstitute && !schoolModel">
                              <span class="mail-notification"
                                *ngIf="hidePastClassAction(class) && sc.isAttendanceMarked == 'N'"
                                (click)="notifySubjectLevel(sc ,class )" title="Send Reminder"></span>
                              <span class="reschedule-icon" *ngIf="sc.isAttendanceMarked == 'N'"
                                (click)="rescheduleClassData(sc)" title="Reschedule"></span>
                              <span class="delete-btn" *ngIf=" sc.isAttendanceMarked == 'N'"
                                style="font-family: FontAwesome;" (click)="CancelClass(sc)" title="Cancel Class">
                                <i class="fa fa-trash-o " aria-hidden="true "></i>
                              </span>
                              <!-- <span class="edit-icon "></span> -->
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="weekScheduleList.length==0">
                <tr>
                  <td colspan="8">
                    No Classes Found
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- <div class="fullwidth clearFix ledgend-footer ">
            <label class="pull-left ">Ledgend</label>
            <div class="pull-left ">
              <span class="class-is "></span>Class</div>
            <div class="pull-left ">
              <span class="exam-is "></span>Exam</div>
            <div class="pull-left ">
              <span class="class-cancel blue ">x</span>Cancelled Class</div>
            <div class="pull-left ">
              <span class="class-cancel yellow ">x</span>Cancelled Exam</div>
          </div> -->

        </section>
      </section>
    </aside>
  </section>
</section>



<!-- //////////////////////////////////POPUP///////////////////////////////// -->
<!-- //////////////////////////////////POPUP///////////////////////////////// -->
<!-- //////////////////////////////////POPUP///////////////////////////////// -->
<!-- //////////////////////////////////POPUP///////////////////////////////// -->
<!-- //////////////////////////////////POPUP///////////////////////////////// -->

<section id="popup" class="popupWrapper fadeIn" *ngIf="reschedulePopUp">
  <div class="popup pos-abs popup-body-container">
    <div class="popup-wrapper pos-rel">
      <span class="closePopup pos-abs fbold show" id="popupCloseBtn" (click)="closeRescheduleClass()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="9310 2185 16 16">
          <g id="Group_1228" data-name="Group 1228" transform="translate(8298 1888)">
            <g id="Group_1213" data-name="Group 1213" transform="translate(34.189 -7.77)">
              <line id="Line_274" data-name="Line 274" class="cls-1" y2="19.798"
                transform="translate(992.81 305.77) rotate(45)" />
              <line id="Line_275" data-name="Line 275" class="cls-1" x1="19.798"
                transform="translate(978.81 305.77) rotate(45)" />
            </g>
            <rect id="Rectangle_686" data-name="Rectangle 686" style="stroke:none;" class="cls-2" width="16" height="16"
              transform="translate(1012 297)" />
          </g>
        </svg>
      </span>
      <div class="popup-content" style="padding-left: 15px;">

        <h2 widget-header>Reschedule - {{rescheduleDet.batchName}}</h2>

        <div class="rescheduleWrapper" widget-content>
          <div class="row">
            <div class="c-sm-4 c-md-4 c-lg-4">
              <div class="field-wrapper datePickerBox" [ngClass]="{'has-value': reschedDate != ''}">
                <label for="reschDate" style="color: black">Reschedule Date</label>
                <input type="text" id="reschDate" name="reschDate" readonly="true" class="form-ctrl bsDatepicker"
                  [(ngModel)]="reschedDate" bsDatepicker>

              </div>
            </div>

            <div class="c-sm-4 c-md-4 c-lg-4">
              <div class="form-wrapper timepick rescheduleTime">
                <label for="startTime">Start Time</label>
                <div class="tbox">
                  <div class="times">
                    <select class="mins side-form-ctrl" [(ngModel)]="timepicker.reschedStartTime.hour" name="startTime">
                      <option [value]="time" *ngFor="let time of times">
                        {{time}}
                      </option>
                    </select>
                  </div>
                  <div class="times">
                    <select id="" class="mers side-form-ctrl" [(ngModel)]="timepicker.reschedStartTime.minute"
                      name="minute">
                      <option *ngFor="let minute of minArr" [value]="minute">
                        {{minute}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="c-sm-4 c-md-4 c-lg-4">
              <div class="form-wrapper timepick rescheduleTime">
                <label for="endtime">End Time</label>
                <div class="tbox">
                  <div class="times ">
                    <select id="" class="mins side-form-ctrl" [(ngModel)]="timepicker.reschedEndTime.hour"
                      name="endtime">
                      <option [value]="time" *ngFor="let time of times">
                        {{time}}
                      </option>
                    </select>
                  </div>
                  <div class="times">
                    <select id="" class="mers side-form-ctrl" [(ngModel)]="timepicker.reschedEndTime.minute"
                      name="minute">
                      <option *ngFor="let minute of minArr" [value]="minute">
                        {{minute}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="field-wrapper" style="width: 50%;">
              <textarea type="text" style="height:50px;" id="reschreason" name="reschreason" [(ngModel)]="reschedReason"
                value="" placeholder="Reschedule Reason" class="form-ctrl textbox">
                </textarea>
            </div>
          </div>
        </div>

        <div class="" widget-footer>
          <div class="clearfix">
            <aside class="pull-left" style="margin-top: 10px;">
              <div class="field-checkbox-wrapper">

                <input type="checkbox" value="" class="form-checkbox" id="is_reshedule_notified"
                  [checked]="getCheckedStatus('resheduleNotified')" (change)="notifyRescheduleUpdate($event)">
                <label for="is_reshedule_notified">Notify Students
                  <div class="questionInfo lefts" style="margin-left: 30px;">
                    <span class="qInfoIcon">?</span>
                    <div class="tooltip-box-field">
                      Reschedule SMS will be sent to student.
                    </div>
                  </div>
                </label>

              </div>
            </aside>
            <aside class="pull-right popup-btn">
              <input type="button" value="Cancel" class="btn" (click)="closeRescheduleClass()">
              <input type="button" value="Reschedule Class" (click)="rescheduleClass()" class="fullBlue btn">
            </aside>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- //////////////////////////////////Cancel///////////////////////////////// -->
<!-- //////////////////////////////////Cancel///////////////////////////////// -->
<!-- //////////////////////////////////Cancel///////////////////////////////// -->
<!-- //////////////////////////////////Cancel///////////////////////////////// -->
<!-- //////////////////////////////////Cancel///////////////////////////////// -->


<section id="popup" class="popupWrapper fadeIn" *ngIf="isCourseCancel">
  <div class="popup pos-abs popup-body-container">
    <div class="popup-wrapper pos-rel">
      <span class="closePopup pos-abs fbold show" id="popupCloseBtn" (click)="closeCourseCancelClass()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="9310 2185 16 16">
          <g id="Group_1228" data-name="Group 1228" transform="translate(8298 1888)">
            <g id="Group_1213" data-name="Group 1213" transform="translate(34.189 -7.77)">
              <line id="Line_274" data-name="Line 274" class="cls-1" y2="19.798"
                transform="translate(992.81 305.77) rotate(45)" />
              <line id="Line_275" data-name="Line 275" class="cls-1" x1="19.798"
                transform="translate(978.81 305.77) rotate(45)" />
            </g>
            <rect id="Rectangle_686" data-name="Rectangle 686" style="stroke:none;" class="cls-2" width="16" height="16"
              transform="translate(1012 297)" />
          </g>
        </svg>
      </span>
      <div class="popup-content">

        <h2 widget-header>Cancel Class </h2>

        <div class="CancelWrapper" widget-content>
          <div class="row cancelField">
            <div class="c-lg-6 c-md-6 c-sm-6">
              <div class="field-wrapper">
                <textarea class="form-ctrl textBox" style="height: 100px;" placeholder="Cancellation Reason:" value=""
                  [(ngModel)]="cancellationReason">















            </textarea>
              </div>
            </div>
          </div>
          <div class="row notifyChkbx">
          </div>
        </div>

        <div class="" widget-footer>
          <div class="clearfix">
            <aside class="pull-left">
              <div class="field-checkbox-wrapper">

                <input type="checkbox" value="" class="form-checkbox" id="notifyCancel"
                  [checked]="getCheckedStatus('notifyCancel')" (change)="notifyCancelUpdate($event)">
                <label for="notifyCancel">Notify Students</label>

              </div>
            </aside>
            <aside class="pull-right popup-btn">
              <input type="button" value="Save" (click)="cancelClass()" class="btn">
              <input type="button" value="Cancel" class="btn" (click)="closeCourseCancelClass()">

            </aside>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>