@import "./src/assets/css/common/variables.scss";
.search-wrapper {
    .field-wrapper {
        margin-bottom: 5px;
        .form-ctrl {
            border-bottom: solid 1px #0084f6;
            background: transparent;
        }
    }
}

.open-accor {
    float: left;
    width: 24px;
    font-size: 24px;
    height: 24px;
    text-align: center;
    border: none;
    border-radius: 50%;
    line-height: 22px;
    margin-left: 20px;
    margin-top: 3px;
    cursor: pointer;
    color: #0084f6;
}

.close-accor {
    line-height: 17px;
}

.middle-section {
    padding: 5px 15px;
    width: 100%;
    box-sizing: border-box;
}

.nestedTableHide {
    display: none;
}

.nestedTableShow {
    display: '';
}

.disableDatePicker {
    pointer-events: none;
}

.nested-Table-Show-Wrapper {
    .field-wrapper {
        background: transparent;
        .form-ctrl {
            background: transparent;
        }
    }
    ::-webkit-scrollbar {
        display: block;
        width: 7px;
        height: 7px;
    }
}

.btn-group {
    margin-top: 15px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    .btn {
        margin: 0px 0px 0px 5px !important;
        border-radius: 5px !important;
    }
}

.tableSection {
    .table-courseEdit {
        tr {
            th {
                background: #f7f7f7;
                font-size: 14px !important;
                color: #000000;
                font-weight: normal;
                height: 20px;
                padding: 10px 12px;
                border-top: 2px solid rgba(119, 119, 119, 0.11);
                text-align: left;
                width: 22%;
                font-weight: 600;
                &:first-child {
                    width: 4%;
                }
            }
            td {
                &.noborder {
                    border-top: none;
                    border-bottom: none;
                }
            }
            &.editable-wrapper {
                line-height: 5px;
                td {
                    padding: 0px 12px;
                    width: 22%;
                    border-bottom: 1px solid #efefef;
                    text-align: left;
                    &:first-child {
                        width: 4%;
                    }
                }
                .field-wrapper {
                    max-width: 100%;
                    padding-top: 0px;
                    margin-top: 0px;
                    .form-ctrl {
                        border-bottom: 1px solid #0084f6;
                        &.disableDatePicker {
                            border-bottom: none;
                        }
                    }
                }
            }
            &.teacher-list {
                th {
                    background: #e0eaec;
                    font-size: 14px !important;
                    color: #000000;
                    font-weight: normal;
                    height: 20px;
                    padding-top: 13px;
                    padding-bottom: 15px;
                    border-top: 2px solid rgba(119, 119, 119, 0.11);
                    text-align: center;
                    width: 22%;
                    &:first-child {
                        width: 22%;
                    }
                }
                td {
                    padding: 2px 5px;
                    .field-wrapper {
                        padding-top: 0px;
                        border-bottom: solid 1px #0084f6;
                    }
                }
            }
        }
    }
}

.nestedTable {
    &.nested-Table-Show-Wrapper {
        .row {
            table {
                padding-top: 12px !important;
                padding-bottom: 14px !important;
                border-top: 2px solid rgba(119, 119, 119, 0.11);
                text-align: center;
                position: relative;
            }
        }
    }
}

.middle-main {
    .row {
        .field-wrapper {
            .has-value {
                .form-ctrl {
                    margin-top: 2px;
                    color: #0084f6;
                    font-size: 12px;
                }
            }
        }
    }
}

.middle-section {
    .middle-top {
        h1 {
            margin-top: 10px;
        }
    }
}

.field-wrapper {
    &.datePickerBox:after {
        top: 2px;
    }
}

.editCourseWrapper {
    max-height: 90vh;
    overflow: hidden;
    min-height: 90vh;
    .middle-main {
      max-height: 60vh;
      min-height: 60vh;
      overflow-x: hidden;
      overflow-y: auto;
    }
    ::-webkit-scrollbar {
        display: block;
        width: 7px;
        height: 7px;
    }
}
