* {
    margin: 0px;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
  }
  
  .flex {
    display: flex;
  }
  
  .flexc {
    display: flex;
    align-items: center;
  }
  
  .display {
    display: flex;
    justify-content: space-between;
  }
  
  .blue_button {
    background-color: #109CF1;
    color: #fff;
    padding: 9px 20px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    height: 35px;
  }
  
  .white_button {
    background-color: #fff;
    color: #109CF1;
    padding: 8px 20px;
    font-size: 12px;
    border: 1px solid #109CF1;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    height: 35px;
    margin-right: 10px;
  }
  
  .buttonshadow {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  input:focus,
  select:focus,
  button:focus {
    outline: none;
  }
  
  .head_padding {
    padding: 15px 0px
  }
  
  .main-shadow {
    border-bottom: 1px solid #EFF0F5;
    /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.02);*/
    padding-bottom: 15px;
  }
  
  .w98 {
    width: 96%;
    margin: 0px auto;
  }
  
  .mr10 {
    margin-right: 10px;
  }
  
  .page-content {
    background: #F5F5F5;
    height: calc(100vh - 60px);
    padding-top: 16px;
  }
  
  /*54.2 subtract the size of header*/
  
  /*switching tabs*/
  .nav-item .nav-link {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height */
  
    letter-spacing: 0.01em;
  
    color: #1A2334;
    padding-bottom: 8px;
    cursor: pointer;
  }
  
  .nav-item .nav-link.active {
    font-weight: 700;
    border-bottom: 3px solid #109CF1 !important;
    color: #109CF1 !important;
  }
  
  .nav-link {
    display: block;
    padding: 1.5rem 0rem;
    margin-right: 1rem;
    margin: -1rem 2.5rem;
    margin-left: 0rem;
  }
  
  .nav>li {
    display: inline;
  }
  
  .nav-link:hover,
  .nav-link,
  .nav-link:focus {
    background-color: transparent;
  }
  
  .nav-link {
    display: inline;
  }
  
  .nav-item {
    .active {
      border-bottom: 3px solid #109cf1 !important;
      color: #109cf1 !important;
    }
  }
  
  .list>li {
    background-color: #fff;
    padding: 7px 0px;
    margin: 7px 0px;
  }
  
  .list>li>a>span {
    text-decoration: none;
    font-size: 10px;
    font-weight: 500;
    color: #334D6E;
  }
  
  .list>li img {
    padding: 0px 10px;
  }
  
  /*standard*/
  
  .checkbox {
    display: grid;
    grid-template-columns: min-content auto;
    grid-gap: 0.5em;
    font-size: 2rem;
    color: var(--color);
  }
  
  .checkbox__input input {
    opacity: 0;
    width: 0em;
    height: 0em;
  }
  
  .checkbox__control {
    display: inline-grid;
    width: 0.5em;
    height: 0.5em;
    border-radius: 0.1em;
    border: 1px solid #BBB2B2;
    ;
  }
  
  .checkbox__input {
    display: grid;
    grid-template-areas: "checkbox";
  }
  
  .checkbox__control svg {
    color: #fff;
    transition: transform 0.1s ease-in 25ms;
    transform: scale(0);
    stroke-width: 4;
    margin: 2px;
    transform-origin: bottom left;
  }
  
  .checkbox__input input:checked+.checkbox__control svg {
    transform: scale(1);
  }
  
  .checkbox__input input:checked+.checkbox__control {
    background: #109CF1;
    border-radius: 3px;
    border: 1px solid #109CF1;
  }
  
  .labelactive {
    font-weight: normal;
    font-size: 13px;
  
    /* identical to box height */
  
    letter-spacing: 0.01em;
    margin-left: -10px;
    color: #334D6E;
  }
  
  .input {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    background: #FFFFFF;
    border-radius: 5px;
  
    height: 35px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height */
    border: none;
    outline: none;
    letter-spacing: 0.01em;
    text-indent: 10px;
    color: #1A2334;
  
  }
  
  .search {
    width: 260px;
    // background: url(../../../assets/img_new/search.svg) no-repeat #FFFFFF;
    background-position: 94% center;
  }
  
  .table_head {
    background: #EFF0F5;
    border-radius: 2px;
    height: 50px;
    display: flex;
    font-weight: 600;
    font-size: 12px;
    line-height: 50px;
    /* identical to box height */
  
    letter-spacing: 0.01em;
  
    /* table_black */
  
    color: #323C47;
  }
  
  .table_body {
    display: flex;
    font-weight: normal;
    font-size: 12px;
    min-height: 50px;
    letter-spacing: 0.01em;
    border-bottom: 1px solid #EFF0F5;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.02);
    color: #323C47;
    padding: 16px 0px;
  
  }
  
  .table_head>div,
  .table_body>div {
    padding-left: 20px;
  }
  
  .standard .table_head>div:first-child,
  .standard .table_body>div:first-child {
    width: 10%
  }
  
  .standard .table_head>div:nth-child(2),
  .standard .table_body>div:nth-child(2) {
    width: 24%
  }
  
  .standard .table_head>div:last-child,
  .standard .table_body>div:last-child {
    width: 90px;
  
  }
  
  .standard .table_body>div:last-child {
    justify-content: center;
    display: flex;
  }
  
  .standard .table_head>div:nth-child(3),
  .standard .table_body>div:nth-child(3) {
    width: calc((100% - 34%) - 90px);
  }
  
  .scroll {
    height: calc(100vh - (60px + 16px + 36px + 15px + 32px + 36px + 50px + 42px ));
    overflow-y: auto;
    background-color: #fff;
  }
  
  .scroll::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  .scroll::-webkit-scrollbar-thumb {
    background: #109CF173;
  }
  
  /* Handle on hover */
  .scroll::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  .table_action {
    cursor: pointer;
  }
  
  .pagignation {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 13px;
  padding:16px 0px;
    /* identical to box height, or 154% */
    letter-spacing: 0.01em;
    width: 100%;
    /*subtract width of sidebar*/
    color: #000000; 
  }
  
  .pagignation>div:first-child {
    width: 40%;
  }
  
  .pagignation select {
  
    background: #FFFFFF;
    border: 1px solid #D5D0D0;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    /*width: 63px;*/
    /*height: 35px;*/
    /* identical to box height, or 154% */
    letter-spacing: 0.01em;
    color: #0079FF;
    cursor: pointer;
  }
  
  .selected_no {
    font-weight: 400;
    font-size: 13px;
    padding: 0px 4px;
    line-height: 20px;
    border-radius: 50%;
    /* identical to box height, or 154% */
    background: #0079FF;
    letter-spacing: 0.01em;
    margin-left: 20px;
    color: #FFFFFF;
  }
  
  .click {
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    /* identical to box height, or 154% */
    margin-left: 10px;
    letter-spacing: 0.01em;
    cursor: pointer;
    color: #0079FF;
  }
  
  .pagignation p span {
    cursor: pointer;
    margin-left: 10px;
  }
  
  .pagignation p {
    margin-bottom: 0px;
  }
  
  .modal-title {
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height */
  
    letter-spacing: 0.01em;
  
    color: #334D6E;
  }
  
  .modal p {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.01em;
  
    color: #334D6E;
    margin-bottom: 10px;
  }
  
  .modal input {
    background: #FFFFFF;
    border: 1px solid #C4CACE;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.01em;
    width: 100%;
    /* table_black */
  
    color: #323C47;
  }
  
  .modal input:placeholder {
    color: #8e939a
  }
  
  @media (min-width: 576px) {
    .modal-dialog {
      max-width: 300px;
    }
  }
  
  .modal .info {
    font-weight: normal;
    font-size: 8px;
    line-height: 11px;
    /* identical to box height */
    letter-spacing: 0.01em;
    margin-top: 10px;
    /* table_black */
  
    color: #323C47;
  }
  
  .red {
    color: #E51515;
  }
  
  /*subject*/
  .subject .table_head>div,
  .subject .table_body>div {
    width: calc(((100% - 35%) - 90px) / 2);
  }
  
  .subject .table_head>div:first-child,
  .subject .table_body>div:first-child,
  .subject .table_head>div:nth-child(5),
  .subject .table_body>div:nth-child(5) {
    width: 10%
  }
  
  .subject .table_head>div:nth-child(4),
  .subject .table_body>div:nth-child(4) {
    width: 15%
  }
  
  .subject .table_head>div:last-child,
  .subject .table_body>div:last-child {
    width: 90px;
  
  }
  
  .subject .table_body>div:last-child {
    justify-content: center;
    display: flex;
  }
  .space16{
    margin-top: 16px;
  }
  .modal-dialog {
    margin: 5% auto;
  }
  .actionImg {
    img {
      height: 20px;
      width: 18px;
    }
  }
  .oldUI {
    @import "./src/assets/css/common/variables.scss";

.courses-list-table {
    max-height: 72vh;
    min-height: 72vh;
    overflow: auto;
    ::-webkit-scrollbar {
        display: block;
    }
    table {
        tr {
            th {
                padding-top: 20px;
                padding-bottom: 15px;
                height: 25px;
                background: #f7f7f7;
            }
            td {
                padding-top: 15px;
                padding-bottom: 3px;
            }
        }
    }
}
.searchBox{
    border: 1px solid lightgrey;
    padding: 7px;
    border-radius: 4px;
}
.btn {
    background: #0084f6;
    color: white;
}
th{
    background-color: #e0eaec;
    color: black;
}
tr {
    border-radius: 12px;
    border-left: 5px solid #e0eaec;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.16);
    margin-bottom: 5px;
    margin-top: 5px;
}
.tableBodyScroll tbody {
    display: block;
    // max-height: 70vh;
    // min-height: 70vh;
    overflow-y: auto;
    background: #ffffff;
    // border-radius: 4px;
    // border-radius: 1px solid rgba(211, 212, 213, 0.5);
}
table th, table td {
    text-align: left;
}
.tableBodyScroll thead,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.table-change {
    table {
        thead {
            tr {
                th {
                    padding: 10px 5px;
                    font-weight: 600;
                }
            }
        }
        tbody {
            tr {
                td {
                    padding: 5px 5px;
                }
            }
        }
    }
}

.filter-res label {
    font-size: 14px;
    font-weight: 600;
}

.filter-res.pagination {
    width: 100%;
    // margin-top: 15px;
}



.pagination {
    // margin-top: 15px;
    .first {
        &:before {
            content: "« ";
            font-size: 16px;
            font-weight: 800;
        }
    }
    .last {
        &:after {
            content: " »";
            font-size: 16px;
            font-weight: 800;
        }
    }
    .batch-size {
        font-size: 16px;
        font-weight: 800;
        border-bottom: 1px solid black;
    }
    li {
        border-right: 1px solid #ccc;
        padding: 0px 7px;
        margin: 0;
        line-height: 10px;
        font-weight: 800;
        cursor: pointer;
        a {
            line-height: 10px;
            font-size: 16px;
            font-weight: 800;
            border: none;
            padding: 0px 14px;
        }
        :hover {
            background-color: transparent !important;
        }
    }
}

.pagination li:last-child {
    border-right: 0;
    padding-right: 0;
}

.edit-view {
    display: none;
    .radio-options {
        margin-top: 0;
        display: inline-flex;
    }
    .field-wrapper {
        width: 130px;
        padding-top: 0;
        margin: 0 auto;
        .form-ctrl {
            padding: 0;
            height: 28px;
            border-bottom: solid 1px #0060a3;
        }
        &.datePickerBox:after {
            top: 2px;
        }
    }
    .radio-options>div {
        margin-bottom: 0;
    }
}

.field-radio-wrapper {
    .form-radio:checked+label:before {
        left: 3px !important;
        top: 3px !important;
    }
}

.data-view {
    display: block;
}

.edit-mod {
    .edit-view {
        display: block;
    }
    .data-view {
        display: none;
    }
}

.common-tab {
    padding-top: 5px;
    ul {
        font-size: 0;
        // border-bottom: 1px solid #f1f1f1;
        li {
            margin-right: 1px;
            display: inline-block;
            width: 19%;
            max-width: 158px;
            cursor: pointer;
            a {
                display: block;
                padding: 10px 5px;
                background: #eff7ff;
                border: 1px solid #cccdcd;
                color: $common-blue;
                text-align: center;
                font-size: 14px;
                font-weight: 600;
            }
            &:hover,
            &.active {
                a {
                    background: $common-blue;
                    color: $bg-white;
                    border-color: $common-blue;
                    font-weight: normal;
                }
            }
        }
    }
}

.view-icon,
.edit-icon {
    margin-right: 5px;
}

.create-standard-field {
    margin-bottom: 10px;
}

.filter-for-courses {
    label {
        margin-top: 15px;
        display: block;
        font-weight: 600;
    }
    .form-btn-head {
        width: 30px;
        height: 30px;
        background: url('/assets/images/search.svg') no-repeat center center;
        background-size: 20px 20px;
        margin-top: 2px;
        cursor: pointer;
        margin-right: 20px;
        filter: grayscale(100%);
    }
}

.filter-search {
    margin-bottom: 10px;
    &>div {
        margin-bottom: 0;
    }
    .export-print {
        margin-top: 6px;
        display: inline-flex;
        .print-icon {
            background: url('/assets/images/print.svg') no-repeat;
            color: #888;
        }
        .export-icon {
            background: url('/assets/images/expand.svg') no-repeat;
            margin-left: 25px;
        }
        .print-icon,
        .export-icon {
            background-size: 20px auto;
            padding: 0px 0px 0px 22px;
            cursor: pointer;
            font-size: 14px;
            color: #888;
            &:hover {
                color: $common-blue;
            }
        }
    }
}

.course-second {
    .filter-for-courses {
        margin-top: 0;
    }
    .filter-search {
        margin-bottom: 0;
    }
    .filter-for-courses label {
        margin-top: 10px;
    }
}

.edit-view-btn {
    &>div {
        display: inline-block;
        margin: 0 5px;
    }
}

.cancel-btn{
  border-radius: 4px;
  height: 30px;
  padding: 4px 10px;
}

.add-edit {
    margin-bottom: 0;
    margin-top: 10px;
    i {
        // border: 1px solid $common-blue;
        display: inline-block;
        width: 17px;
        height: 17px; // border-radius: 50%;
        line-height: 1rem;
        text-align: center;
        font-size: 17px;
        vertical-align: middle;
        margin-right: 4px;
    }
    span {
        display: inline-block;
    }
    .expend-box {
        i {
            line-height: 12px;
            font-size: 22px;
        }
    }
    a {
        cursor: pointer;
    }
}

.field-wrapper {
    .invalid-alert {
        color: red;
        background: rgba(255, 255, 255, 0);
        box-shadow: none;
    }
}

.create-standard-form {
    padding: 5px;
    border-bottom: 1px solid #d8d8d8;
    .field-checkbox-wrapper {
        margin-top: 15px;
        background: transparent;
        .form-checkbox {
            &+label {
                font-size: 12px;
                font-weight: 600;
                color: #777;
            }
            &:checked+label {
                color: $common-blue;
            }
        }
        .form-checkbox+label:after {
            width: 24px;
            height: 24px;
            transform: scale(0.7);
        }
        .form-checkbox+label:before {
            transform: rotate(-45deg) scale(0.7);
            width: 15px;
            height: 5px;
            left: 4px;
            top: 9px;
        }
    }
    .field-wrapper {
        margin-top: -10px;
        .form-ctrl {
            background: white;
            z-index: 10;
            margin-top: 10px;
            border-radius: 4px;
        }
        label {
            z-index: 1;
        }
    }
    p {
        margin-top: 5px;
        font-size: 10px;
        color: #979797;
    }
}

.create-cancel-small {
    margin-top: 10px;
    .btn {
        font-size: 14px;
        font-weight: normal;
        height: 36px;
    }
}

// css for edit .course
.edit-view-of-couse {
    &>tr>td {
        padding: 0px !important;
    }
}

.course-list-edit {
    background: #fff;
    padding: 20px;
    box-shadow: 0px 0px 1px 1px #c6c4c4 inset;
    max-height: 200px;
    overflow: auto;
    .evoc-box {
        padding: 10px;
        .field-checkbox-wrapper {
            background: transparent;
            label {
                span {
                    font-size: 13px;
                    font-weight: 600;
                    top: -3px;
                    position: relative;
                }
            }
        }
    }
}

.ce-list-top {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    label {
        font-weight: 400;
    }
    span {
        font-weight: 600;
        margin: 0 5px;
    }
}

.ce-list-bottom {
    .table-responsive {
        tbody {
            tr {
                th {
                    background: #d8d8d8;
                    font-weight: 600;
                    font-size: 14px;
                    color: #333;
                    padding: 5px 10px;
                    text-align: left;
                    &:last-child {
                        width: 200px;
                        text-align: center;
                    }
                    &:first-child {
                        width: 100px;
                    }
                }
                td {
                    padding: 7px 10px;
                    background: #fff;
                    font-size: 12px;
                    text-align: left;
                    border-bottom: 1px solid #ededed;
                    &:last-child {
                        text-align: center;
                    }
                }
                &:hover {
                    td {
                        background: #fff;
                    }
                }
                &:last-child {
                    td {
                        border-bottom: 0;
                    }
                }
            }
        }
    }
    .field-checkbox-wrapper .form-checkbox+label:before {
        transform: scale(0.7) rotate(-45deg);
    }
    .field-checkbox-wrapper .form-checkbox+label:after {
        transform: scale(0.6);
    }
}
tr td {
    font-size: 12px;
    padding: 10px;
}
label {
    font-weight: 600;
}
.table-responsive {
    th {
        font-size: 14px !important;
        &:first-child {
            padding-left: 10px !important;
        }
    }
    .field-checkbox-wrapper {
        background: transparent !important;
        .form-checkbox+label:after {
            width: 16px !important;
            height: 16px !important;
        }
    }
}

.delete-btn {
    a {
        color: #f44336;
        i {
            font-size: 18px !important;
            vertical-align: middle;
            margin-right: 5px;
        }
    }
}

.close-accor {
    float: right;
    width: 24px;
    font-size: 31px;
    height: 24px;
    text-align: center;
    border: none;
    border-radius: 50%;
    line-height: 16px;
    margin-right: 4px;
    margin-top: 5px;
    cursor: pointer;
    color: $common-blue;
    font-weight: 400;
}

// schedule-class-box css
.schedule-class-box {
    .filter-box {
        .field-wrapper .form-ctrl {
            border-bottom: 1px solid #ccc;
        }
        .field-wrapper {
            margin-top: -10px;
        }
        .fullBlue.btn {
            width: 120px;
        }
    }
}

.schedule-class {
    margin-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    .btn {
        font-weight: 600;
        font-size: 13px;
        height: 30px;
    }
    .schedule-class-left {
        padding-top: 10px;
        label {
            font-weight: 600;
            margin-right: 15px;
        }
    }
    .fullBlue {}
}

.view-tab {
    li {
        display: inline-block;
        margin-right: 0px;
        .btn {
            margin-left: 0;
            height: 25px;
            line-height: 12px;
            font-weight: normal;
            font-size: 12px;
            padding: 5px 10px;
        }
    }
}

.view-c-detail {
    margin-top: 5px;
    .filter-search {
        margin-bottom: 0;
        .export-print {
            margin-bottom: 0;
        }
    }
    .vcd-l {
        padding-top: 10px;
        label {
            font-weight: 600;
            font-size: 15px;
        }
    }
}

.calender-course {
    margin-bottom: 15px;
    margin-top: 8px;
    position: relative;
    .c-control {
        position: absolute;
        width: 30px;
        height: 100%;
        background: #efefef;
        border: 1px solid #cccccc;
        cursor: pointer;
        box-sizing: border-box;
        &.cal-left {
            left: 0;
            top: 0;
            background: url('/assets/images/left_arrow.svg') no-repeat center center;
            background-size: 11px;
            &:hover {
                border: 1px solid $common-blue;
            }
        }
        &.cal-right {
            right: 0;
            top: 0;
            background: url('/assets/images/right_arrow.svg') no-repeat center center;
            background-size: 11px;
            &:hover {
                border: 1px solid $common-blue;
            }
        }
    }
    ul {
        text-align: center;
        padding-left: 40px;
        padding-right: 40px;
        li {
            display: inline-block;
            padding: 5px 10px;
            border: 1px solid #f0f0f0;
            width: 8.8%;
            background: #efefef;
            vertical-align: top;
            span.c-date {
                font-size: 24px;
                color: $common-blue;
            }
            &.active {
                background: #ddedfd;
                border: 1px solid #ccc;
            }
        }
    }
}

.class-cancel {
    display: inline-block;
    width: 12px;
    height: 12px;
    text-align: center;
    line-height: 10px;
    font-size: 11px;
    color: #fff;
    cursor: pointer;
    vertical-align: middle;
    &.blue {
        background: $common-blue;
    }
    &.red {
        background: red;
    }
    &.yellow {
        background: #f8b238;
    }
}

.exam-is {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #f8b238;
    vertical-align: middle;
}

.class-is {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: $common-blue;
    vertical-align: middle;
}

.calender-class-detail {
    &>div:last-child {
        padding-top: 5px;
        span {
            margin-left: 5px;
        }
    }
}

.calender-view1 {
    th {
        padding: 10px;
        font-size: 13px;
        text-align: center;
    }
    .table-responsive {
        margin-top: 10px;
    }
    .table-accor-head {
        .open-accor {
            display: block;
        }
        .close-accor {
            display: none;
        }
        &.active {
            .accordian-heading {
                .open-accor {
                    display: none;
                }
                .close-accor {
                    display: block;
                }
            }
        }
    }
    .table-accor-head td {
        padding: 0;
        background: #fff;
    }
    .accordian-heading h4 {
        padding: 3px !important;
        color: #444;
        border: 1px solid #eaecee;
        border-radius: 20px;
        margin: 4px 0 2px;
        background: #e6f2fe;
        text-align: left;
        .open-accor,
        .close-accor {
            float: left;
        }
        .close-accor {
            width: 18px;
            height: 18px;
            line-height: 11px;
            margin-top: 0;
        }
        .open-accor {
            width: 18px;
            height: 18px;
            line-height: 18px;
            margin-top: 0;
        }
        .date-c {
            font-size: 13px;
            line-height: 20px;
            margin-left: 10px;
            font-weight: 600;
        }
        .delete-icon {
            font-size: 18px;
            color: #f44336;
            margin-left: 10px;
            margin-right: 9px;
            cursor: pointer;
            svg {
                width: 15px;
                vertical-align: top;
                display: inline-block;
                margin-top: 3px;
                line {
                    stroke-width: 2;
                }
            }
        }
    }
}

.delete-btn {
    svg {
        width: 15px;
        vertical-align: top;
        display: inline-block;
        margin-top: 3px;
        line {
            stroke-width: 2;
        }
    }
}

.mail-notification {
    width: 20px;
    height: 20px;
    background: url('/assets/images/mial_notification.svg') no-repeat;
    cursor: pointer;
    display: inline-block;
}

.mail-notify {
    width: 20px;
    height: 20px;
    background: url('/assets/images/mail_notify.svg') no-repeat;
    cursor: pointer;
    display: inline-block;
}

.reschedule-icon {
    width: 20px;
    height: 20px;
    background: url('/assets/images/reschedule_class.svg') no-repeat;
    cursor: pointer;
    display: inline-block;
}

.action-box {
    text-align: right;
    width: 115px;
    float: right;
    .delete-btn {
        font-size: 18px;
        color: #f44336;
    }
    span {
        display: inline-block;
        vertical-align: middle;
        margin: 0 8px 0 0;
        cursor: pointer;
    }
    .edit-icon {
        width: 19px;
        height: 16px;
    }
}

.edit-icon {
    // background: url('../../../../assets/images/edit_details.svg') no-repeat;
    width: 19px;
    height: 19px;
    display: inline-block;
    vertical-align: middle;
}

.tick-mark1 {
    width: 15px;
    height: 6px;
    border-left: 2px solid green;
    border-bottom: 2px solid green;
    transform: rotate(-45deg);
    display: inline-block;
    vertical-align: top;
    margin-top: 1px;
}

.ledgend-footer {
    margin-top: 15px;
    label {
        font-weight: 600;
        margin-right: 16px;
    }
    div {
        margin-right: 20px;
        font-size: 11px;
        span {
            display: inline-block;
            vertical-align: middle;
            margin-right: 3px;
        }
    }
}

.date-arrow {
    position: relative;
    div {
        position: relative;
        span {
            background: #fff;
            display: inline-block;
            padding: 4px 20px;
            z-index: 1;
            font-size: 12px;
            font-weight: 600;
            position: relative;
        }
        &:after {
            position: absolute;
            left: 20px;
            top: 0;
            bottom: 0;
            margin: auto;
            content: "\f104";
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            width: 5px;
            height: 16px;
        }
        &:before {
            position: absolute;
            right: 20px;
            top: 0;
            bottom: 0;
            margin: auto;
            content: "\f105";
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            width: 5px;
            height: 16px;
        }
    }
    &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 20px;
        margin: auto;
        width: 88%;
        height: 0px;
        border-bottom: 1px solid #ccc;
    }
}

// second calender .course-second
.calender-view1.cal-view-2 {
    .accordian-heading h4 .open-accor,
    .accordian-heading h4 .close-accor {
        float: right;
        margin-right: 0;
    }
    td {
        font-weight: 600;
        font-size: 12px;
        padding: 0;
        &:first-child {
            text-align: left;
        }
        .accordian-heading h4 .date-c {
            color: #004a7e;
            font-size: 14px;
        }
    }
}

.new-action {
    &>div {
        width: 100%;
        box-sizing: border-box;
        span {
            margin: 0;
        }
        &>div {
            width: 50%;
            box-sizing: border-box;
            border-right: 1px solid #ccc;
            text-align: center;
            padding: 5px;
            &:last-child {
                border-right: 1px solid transparent;
            }
        }
        &:first-child {
            border-bottom: 1px solid #ccc;
        }
    }
}

.cal-view-2 {
    .action-box,
    .new-action {
        width: 65px;
    }
    .action-box {
        padding-right: 5px;
        margin: 5px 0;
    }
}

.read-more-view {
    font-size: 12px;
    margin-top: 10px;
    color: #004a7e;
}

.new-tick-mark {
    height: 72px;
    width: 35px;
    border-right: 2px solid #fff;
    margin-right: 8px;
    text-align: center;
    position: relative;
    .tick-mark1 {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 0;
        left: 0;
    }
}

.tick-mark-new {
    &>div {
        display: inline-block;
        vertical-align: middle;
    }
}

// create class .schedule-class
.course-detail-section {
    margin-top: 30px;
    .cd-s {
        font-size: 13px;
        font-weight: 600;
    }
    label {
        margin-right: 15px;
    }
    span {
        font-weight: 600;
        margin-right: 10px;
    }
}

.schedule-class-inner {
    padding: 20px 15px 25px;
    background: #efefef;
    .form-ctrl {
        border-bottom: 1px solid #ccc;
        background: transparent;
    }
    .s-c-1 {
        font-weight: 600;
        font-weight: 14px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
    }
    .choose-class-type {
        margin-top: 20px;
        .field-radio-wrapper {
            display: inline-block;
            margin-right: 20px;
        }
    }
    .select-days {
        margin-top: 20px;
        span {
            float: left;
        }
        .field-checkbox-wrapper {
            float: left;
            background: transparent;
            margin-right: 2%;
            margin-left: 2%;
            .form-checkbox+label:after {
                transform: scale(0.7);
            }
            .form-checkbox+label:before {
                transform: rotate(-45deg) scale(0.7);
            }
        }
    }
}

.create-class-schedule {
    h4 {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 10px;
        margin-top: 15px;
    }
}

.s-form-control {
    margin-top: 30px;
    border-top: 1px solid #ccc;
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
    .calender-course ul li {
        width: 8%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 999px) {
    .calender-course ul li {
        width: 6%;
    }
}

@media only screen and (max-width: 960px) {
    .calender-class-detail {
        &>div {
            width: 100%;
            text-align: center;
        }
        &>div:last-child span {
            margin: 0;
        }
    }
}

@media only screen and (max-width:767px) {
    .common-tab ul li {
        margin-right: 0;
        width: 20%;
        a {
            padding: 5px 5px;
            font-size: 12px;
        }
    }
    .filter-for-courses {
        label {
            margin-top: 0;
            margin-bottom: 5px;
        }
        .filter-search {
            .btn {
                margin-right: 0;
                margin-left: 10px;
            }
        }
    }
    .radio-options {
        text-align: left;
        .field-radio-wrapper {
            margin-bottom: 10px !important;
            &:last-child {
                margin-bottom: 0 !important;
            }
        }
    }
    .create-standard-form {
        padding-left: 0;
        padding-right: 0;
    }
    .create-cancel-small .btn {
        margin-right: 0;
        margin-left: 10px;
    }
    .schedule-class-box .filter-box .fullBlue.btn {
        margin-top: 15px;
        margin-bottom: 0;
    }
    .schedule-class .schedule-class-left {
        label {
            display: block;
            margin-bottom: 5px;
        }
        span {
            display: block;
            margin-bottom: 10px;
        }
    }
    .schedule-class .btn {
        margin-right: 0;
        margin-left: 10px;
        margin-bottom: 0;
    }
    .view-tab li .btn {
        margin-right: 0;
        margin-bottom: 0;
    }
    .calender-course ul li {
        padding: 5px 5px;
        width: 17%;
        margin-bottom: 5px;
    }
    .ledgend-footer {
        label {
            display: block;
            width: 100%;
            margin-right: 0;
            margin-bottom: 10px;
        }
        div {
            margin-bottom: 5px;
        }
    }
    .cal-view {
        .middle-top {
            .btn {
                margin-bottom: 0;
            }
        }
    }
    .courses-list-table,
    .calender-view1 {
        table {
            min-width: 600px;
        }
    }
    .calender-course ul li span.c-date {
        font-size: 19px;
    }
    .date-arrow:after {
        width: 72%;
    }
    .course-detail-section {
        margin-top: 20px;
        &>div {
            margin-bottom: 5px;
        }
    }
    .filter-box {
        padding: 10px 0px;
    }
    .popup-btn .btn {
        font-size: 12px;
        height: 32px;
    }
}

@media only screen and (max-width: 420px) {
    .common-tab ul li {
        width: auto;
        a {
            font-size: 10px;
        }
    }
    .field-checkbox-wrapper .form-checkbox+label {
        font-size: 12px;
    }
}

table {
    thead {
        tr {
            th {
                font-size: 12px;
                font-weight: 500;
                padding: 8px;
            }
        }
    }
    tbody {
        tr {
            td {
                // padding: 10px;
                font-size: 12px;
                .editOptions li {
                    display: inline-block;
                }
            }
            .field-wrapper {
                padding: 0px !important;
                .form-ctrl {
                    display: block;
                    box-sizing: border-box;
                    padding: 0px 0px 0px 5px;
                    outline: none;
                    border: 0;
                    height: 26px;
                    box-shadow: none;
                    border-radius: 0;
                    line-height: 25px;
                    background: transparent;
                    width: 80px;
                    text-align: center;
                    border-bottom: 1px solid #ccc;
                }
            }
        }
        .displayComp {
            .view-comp {}
            .edit-comp {
                display: none
            }
        }
        .editComp {
            .view-comp {
                display: none
            }
            .edit-comp {}
        }
    }
}

.marginExtra {
    margin-left: 15px;
    margin-right: 15px;
}

.closeBtnClass {
    line-height: 0.6rem !important;
}

.search-filter-wrapper {
    .normal-field {
        padding: 4px 10px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        margin: 0;
        float: left;
        font-size: 14px;
        border-radius: 4px;
    }
    .field-wrapper {
        position: relative;
        padding-top: 0px !important;
        width: 30%;
        float: left !important;
        .form-ctrl {
            font: 400 12px 'Open sans',sans-serif;
            border-top: none !important;
            border-right: none !important;
            border-left: none !important;
        }
    }
    .field-wrapper label {
        position: absolute !important;
        left: 10% !important;
        top: 1% !important;
        &:after {
            left: 85% !important;
            top: 10px !important;
        }
    }
}

$color-base: #efefef;
$color-highlight: lighten($color-base,
7%);
.skeleton {
    position: relative;
    overflow: hidden;
    width: 80%;
    height: 12px;
    background: $color-base;
    border-radius: 2px;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, $color-base, $color-highlight, $color-base);
        animation: progress 1s ease-in-out infinite;
    }
}

@keyframes progress {
    0% {
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        transform: translate3d(100%, 0, 0);
    }
}

  }