<div class="page-content">
    <div class="page_heading" style="padding: 10px 0px 10px 0px;">
        <div class="w98 display">
            <div>
                <span class="top33">Supplier Master</span>
            </div>
            <div>
                <span><button class="blue_button" data-toggle="modal" data-target="#modelforvendor"
                    (click)="cancel(false)">Add
                    Supplier</button></span>
            </div>
            
        </div>
    </div>
    <div class="w98">
        <div class="padding1">
            <input type="text" class="searches wid240 mr10 magnifying-glass" placeholder="search" #search [(ngModel)]="searchParams"
                name="searchParams">
                <span><button class="blue_button"
                    (click)="searchDatabase()">Go
                   </button></span>
            <span class="rights">
                <!-- <a><img src="assets/images/assets/Group354.svg" class="mr10"></a> -->
                <a  (click)="exportToExcel()"><img src="assets/images/assets/Group353.svg"  class="mr10"></a>
                <!-- <a ><img src="assets/images/assets/2.svg" class="mr10"></a>-->
                <a (click)="downloadPdf()" ><img src="assets/images/assets/document.svg" class="mr10" ></a> 
            </span>
        </div>
        <app-basic-table [headers]="headerSetting" [displayData]="staticPageData" [tableSetting]="tableSetting"
            [rowColumnSetting]="rowColumns" (editView)='editRow($event)' (deleteView)='deleteRowConfirm($event)'
            (viewView)="viewRow($event)">
        </app-basic-table>
        <div style="padding-top: 9px;">
            <pagination (goPage)="fetchTableDataByPage($event)" (goNext)="fetchNext()" (goPrev)="fetchPrevious()"
                [pagesToShow]="10" [page]="pageIndex" [perPage]="displayBatchSize" [sizeArr]="sizeArr"
                [count]="totalRecords" (sizeChange)="updateTableBatchSize($event)">
            </pagination>
        </div>
        <!--model for-vendor-->
        <div class="modal fade" id="modelforvendor" role="dialog">
            <div class="modal-dialog">
           <div class="modal-content" style="height: 658px;">
           <div class="modal-body">
            <h4 class="title-model" *ngIf="!isedit">Add Supplier</h4>
            <h4 class="title-model" *ngIf="isedit" style="width:200px">Update Supplier</h4>
                        <form id="form1" #addVendorForm="ngForm" autocomplete="off">
                            <div class="form-group" [class.has-error]="supplier_name.invalid && supplier_name.touched">
                                <label  class="p_title">Company Name<span class="stars">*</span></label>
                                <input type="text" class="form-control" name="supplier_name" id="supplier_name"
                                    placeholder="Enter company name* " [(ngModel)]="model.supplier_name" (ngModelChange)="maxlenth(model.supplier_name,30)"
                                    #supplier_name="ngModel" required>
                            </div>
                          
                            <div class="form-group"  [class.has-error]="email.invalid && email.touched">
                                <label  class="p_title">Email<span class="stars">*</span></label>
                              
                                <input type="text" class="form-control" name="email_id" id="email_id"
                                    placeholder="Enter Email" [(ngModel)]="model.email_id" #email="ngModel"
                                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                                    <span  style="height:5px;font-size:10px;text-align:left;margin-top:0px;color:red;" *ngIf="email.errors?.pattern">This is not a valid email!</span>
                            </div>
                        
                            <div class="form-group" [class.has-error]="mobile_no.invalid && mobile_no.touched">
                                <label  class="p_title">Mobile<span class="stars">*</span></label>
                                <input type="text" class="form-control" name="mobile_no" id="mobile_no" maxlength="10"
                                    minlength="10" placeholder=" Enter mobile number* " [(ngModel)]="model.mobile_no"
                                    #mobile_no="ngModel" required
                                    onkeypress=" return (event.charCode >= 48 && event.charCode <= 57)">

                                <!-- <sapn class="help-block" style="font-size:10px;text-align:left;margin-top:0px 0px 2px 0px;color:red;" 
                                *ngIf="mobile_no.errors?.minlength">
                                    Please Enter 10 digit mobile number
                            </sapn>
                         
                                <div *ngIf="mobile_no.errors?.maxlength">
                                    Enter 10 digit number only
                                </div>
                                <div class="help-block" *ngIf="mobile_no.errors?.minlength">
                                   <p class="errormsg">Please Enter 10 digit mobile number</p> 
                                </div>
                              <p  class="errormsg"> <span class="help-block" *ngIf="!mobile_no.valid && mobile_no.touched">
                                    Mobile number is mandatory
                                </span> 
                            </p> -->
                            </div>
                            <div>
                                <label  class="p_title">Address<span class="stars">*</span></label>
                                <textarea type="text" class="form-control" name="address" id="address" 
                                    placeholder="Enter address" [(ngModel)]="model.address" (ngModelChange)="maxlenth(model.address,70)" #address="ngModel" required>
                              </textarea>
                            </div>
                            <div class="form-group">
                                <label  class="p_title">Contact Person<span class="stars">*</span></label>
                               
                                <input type="text" class="form-control" name="contact_person_name"
                                    id="contact_person_name" placeholder="Enter contact person name"
                                    [(ngModel)]="model.contact_person_name" (ngModelChange)="maxlenth(model.contact_person_name,30)" #contact_person_name="ngModel" required>
                            </div>
                       <div class="form-group multiselect" >
                                <label  class="p_title">Category Name<span class="stars">*</span></label>
                               <ng-multiselect-dropdown placeholder="Select category" [(ngModel)]="model.category_ids"
                                    [data]="assetcategoryData" [settings]="moderatorSettings" name="category_ids"
                                    (ngModelChange)="getAssetsForSelectedCat($event)"
                                    >
                                </ng-multiselect-dropdown>
                            </div>
                            <!-- <p class="errormsg" style="margin-top: 10px;">  <span class="help-block">
                            </span></p> -->
                            <div class="form-group multiselect">
                                <ng-multiselect-dropdown placeholder="Asset Provided *" [(ngModel)]="model.asset_ids"
                                    [data]="assetAllData" [settings]="moderatorSettingsforasset" name="asset_ids">
                                </ng-multiselect-dropdown>
                            </div>
                            <!-- <p class="errormsg">  <span class="help-block">
                           </span></p> -->
                        </form>
                        <div class="action_btn" style="margin-top: 30px;"> 
                            <span > <button type="button" class="btns blue_button cancel"
                                    data-dismiss="modal" (click)="cancel(false)">Cancel</button></span>
                            <span > <button type="submit" class="btns blue_button"
                                    (click)="saveVendorDetails(model)" *ngIf="!isedit">
                                    Add Supplier</button></span>
                            <span > <button type="submit" class="btns blue_button"
                                    (click)="updateVendorDetails(model)" *ngIf="isedit">
                                    Update </button></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="deletesModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header" style="display: none;">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <div class="center">
                <span><img src="/assets/img1/alert.svg"></span><span class="alert" style="margin-left: 12px;">Alert</span>
              </div>
             <div><p class="center paradel"> Do you want to delete this ?</p>
              </div> 
              <div class="pt101 display">
                <div>
                  <button class="white_button right"data-dismiss="modal">Cancel</button>
                </div>
                <div>
                  <button class="blue_button right" (click)="deleteRow(tempObj)">Delete</button>
                </div>
              </div>
            </div>        
          </div>
        </div>
      </div>