<!-- <div class="row m-0 mb-4 filters-box">
  <div class="col-md-3">
    <select name="" class="form-control form-control-sm">
      <option>Select Exam</option>
      <option>SSC CGL</option>
      <option>SSC CHSL</option>
    </select>
  </div>
  <div class="col-md-3">
    <select name="" class="form-control form-control-sm">
      <option>Select Subject</option>
      <option>SSC CGL</option>
      <option>SSC CHSL</option>
    </select>
  </div>
  <div class="col-md-6">
    <button class="btn btn-primary btn-sm btn-round">Add</button>
  </div>
</div> -->
<div class="row m-0 pt-0 product-list-wrapper ">

  <div class="row main-topic-row" style="margin-bottom: 10px;border: none;">
    <div class="form-group">
      <label class="text-bold">Description <span class="text-danger">*</span></label>
      <!-- <textarea [(ngModel)]="description" name="description" style="height:120px" class="form-control form-control-sm"
        placeholder="Write a description about mock test" maxLength="1500"></textarea> -->
      <editor [init]="editorConf" apiKey="xix5hq71alw64jp2ufl9fo6nddnhg91n6h7w2afn043v538t" [(ngModel)]="description">
      </editor>
    </div>
  </div>

  <div class="col-md-12 table-wrapper p-0 " style="margin-bottom: 10px;" *ngIf="testlist?.length">
    <table class="table product-table">
      <thead class="product-table-head">
        <tr>
          <th width="5%">
            <!-- <div class="field-checkbox-wrapper">
              <input type="checkbox" class="form-checkbox" [(ngModel)]="selectAll"
                (ngModelChange)="selectAllDetails($event)" name="has_mock_tests" id="mock_test"> <label
                for="ch2"></label>
            </div> -->
          </th>
          <th width="30%" style="text-align: left;">Content</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th width="10%">Marks</th>
          <th class="text-center">Questions</th>
          <th class="text-center">Time</th>
          <th class="text-center">Difficulty</th>
        </tr>
      </thead>
      <tbody class="product-table-body">
        <!-- <ng-template [ngIf]="ecourse.isExpand"> -->
        <tr *ngFor="let test of testlist;let i =index;">
          <td>
            <div class="field-checkbox-wrapper">
              <input type="checkbox" class="form-checkbox" [disabled]="test.is_existed_checked" [checked]="test.isChecked"
                [(ngModel)]="test.isChecked" (ngModelChange)="selectVlaue($event,test)" [id]="'ch'+index">
              <label [for]="'ch'+index"></label>
            </div>
          </td>
          <td style="text-align: left;">
            <label [for]="'ch'+index" title="{{test.test_name}}">
              {{ (test.test_name.length > 20) ? (test.test_name | slice:0:20) + '...' : test.test_name }}
            </label>
          </td>
          <td>{{getTime(test.start_timestamp)}}<br>
            <span style="color:blue;"><b>{{getDate(test.start_timestamp)}}</b></span>
          </td>
          <td>{{getTime(test.end_timestamp)}}<br>
            <span style="color:blue;"><b>{{getDate(test.end_timestamp)}}</b></span>
          </td>
          <td> {{test.total_marks}}</td>
          <td>
            {{test.total_question}}
          </td>
          <td>
            {{test.duration}} &nbsp;min
          </td>
          <td class="text-center">
            {{test.difficulty_title}}
          </td>
        </tr>
        <!-- </ng-template> -->
        <!--read view -->
        <!-- <ng-template [ngIf]="true">
          <ng-container *ngFor="let ecourse of product_ecourse_maps;">
            <tr>
              <td>
                <i class="fa fa-minus iconSize" *ngIf="ecourse.isExpand" (click)="expandEcourse(ecourse)"></i>
                <i class="fa fa-plus iconSize" *ngIf="!ecourse.isExpand" (click)="expandEcourse(ecourse)"></i>
              </td>
              <td colspan="7" class="text-left">
                <label class="labelSize">{{ecourse.course_type}}</label>
              </td>
            </tr>
            <ng-template [ngIf]="ecourse.isExpand">

              <tr *ngFor="let test of ecourse.testlist;let i =index;">
                <td>
                  <div class="field-checkbox-wrapper">
                    <input type="checkbox" class="form-checkbox" [disabled]="test?.is_existed_checked"
                      [checked]="test.isChecked" [(ngModel)]="test.isChecked" (ngModelChange)="selectVlaue($event,test)"
                      [id]="'ch'+index">
                    <label [for]="'ch'+index"></label>
                  </div>
                </td>
                <td style="text-align: left;">
                  <label [for]="'ch'+index" title="{{test.test_name}}">
                    {{ (test.test_name.length > 20) ? (test.test_name | slice:0:20) + '...' : test.test_name }}
                  </label>
                </td>
                <td>{{getTime(test.start_timestamp)}}<br>
                  <span style="color:blue;"><b>{{getDate(test.start_timestamp)}}</b></span>
                </td>
                <td>{{getTime(test.end_timestamp)}}<br>
                  <span style="color:blue;"><b>{{getDate(test.end_timestamp)}}</b></span>
                </td>
                <td> {{test.total_marks}}</td>
                <td>
                  {{test.total_question}}
                </td>
                <td>
                  {{test.duration}} &nbsp;min
                </td>
                <td class="text-center">
                  {{test.difficulty_title}}
                </td>
              </tr>
            </ng-template>

          </ng-container>
        </ng-template> -->
      </tbody>
    </table>
  </div>

  <div class="filter_div" style="border-bottom: 1px solid lightgrey;">
    <div class="field-wrapper" style="margin-left:0px">
      <label *ngIf="!isProfessional">Standard<span class="text-danger">*</span></label>
      <label *ngIf="isProfessional">Master Course<span class="text-danger">*</span></label>
      <div class="dropdown-div">
        <select class="dropdown" [(ngModel)]="filterData.standard_id"
          (change)="getAllSubjectListFromServer($event.target.value)">
          <option value="-1">Select</option>
          <option *ngFor="let standard of standardData;let i=index; " [value]="standard.standard_id">
            {{standard.standard_name}}</option>
        </select>
      </div>
    </div>
    <!-- <div class="field-wrapper">
      <label *ngIf="!isProfessional">Subject</label>
      <label *ngIf="isProfessional">Course</label>
      <div class="dropdown-div">
        <select class="dropdown" [(ngModel)]="filterData.subject_id">
          <option value="-1">Select</option>
          <option *ngFor="let subject of subjectData;let i=index; " [value]="subject.subject_id">
            {{subject.subject_name}}</option>
        </select>
      </div>
    </div> -->
    <!-- <button class="btn fullBlue" style="margin-bottom: 5px;" [disabled]="(filterData.standard_id==-1) || (filterData.subject_id==-1)" (click)="getTopicDetails('view')" >Upload</button> -->
    <div class="pull-right">
      <button class="btn fullBlue" style="margin-top: 18px; font-size: 12px;" (click)="fetchTestByStd()">
        Go
      </button>
    </div>
  </div>
  <div class="col-md-12 table-wrapper p-0 " *ngIf="filteredTestList?.length">
    <table class="table product-table">
      <thead class="product-table-head">
        <tr>
          <th width="5%">
            <!-- <div class="field-checkbox-wrapper">
              <input type="checkbox" class="form-checkbox" [(ngModel)]="selectAll"
                (ngModelChange)="selectAllDetails($event)" name="has_mock_tests" id="mock_test"> <label
                for="ch2"></label>
            </div> -->
          </th>
          <th width="30%" style="text-align: left;">Content</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th width="10%">Marks</th>
          <th class="text-center">Questions</th>
          <th class="text-center">Time</th>
          <th class="text-center">Difficulty</th>
        </tr>
      </thead>
      <tbody class="product-table-body">
        <!-- <ng-template [ngIf]="ecourse.isExpand"> -->
        <tr *ngFor="let test of filteredTestList;let i =index;">
          <td>
            <div class="field-checkbox-wrapper">
              <input type="checkbox" class="form-checkbox" [checked]="test.isChecked" [disabled]="test.disabled" [(ngModel)]="test.isChecked"
                (ngModelChange)="selectVlaue($event,test)" [id]="'ch'+index">
              <label [for]="'ch'+index"></label>
            </div>
          </td>
          <td style="text-align: left;">
            <label [for]="'ch'+index" title="{{test.test_name}}">
              {{ (test.test_name.length > 20) ? (test.test_name | slice:0:20) + '...' : test.test_name }}
            </label>
          </td>
          <td>{{getTime(test.start_timestamp)}}<br>
            <span style="color:blue;"><b>{{getDate(test.start_timestamp)}}</b></span>
          </td>
          <td>{{getTime(test.end_timestamp)}}<br>
            <span style="color:blue;"><b>{{getDate(test.end_timestamp)}}</b></span>
          </td>
          <td> {{test.total_marks}}</td>
          <td>
            {{test.total_question}}
          </td>
          <td>
            {{test.duration}} &nbsp;min
          </td>
          <td class="text-center">
            {{test.difficulty_title}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="basic-info-footer">
  <div class="col text-center">
    <button class="btn btn-outline-danger btn-round" style="color:red;" (click)="gotoBack()">Cancel</button>
    <button class="btn btn-primary btn-round" [disabled]="isRippleLoad" (click)="gotoNext()">Save & Next</button>
  </div>

</div>