@import "./src/assets/css/common/variables.scss";
.fish-chips {
    color: #fff;
    padding: 3px;
    margin: 0px 10px 0px 10px;
    border-radius: 13px;
    border: 1px solid #0084f6;
    background: #0084f6;
    box-shadow: 0px 1px 1px 0.5px #777;
}

.questionInfo {
    position: relative;
    left: 40%;
    top: -20px;
    height: 20px;
    width: 20px;
    z-index: 2;
    .tooltip-box-field {
        color: black;
        min-height: 22px;
        width: 140px;
    }
    .qInfoIcon {
        margin-left: 5px;
        width: 20px;
        height: 20px;
        border: 1px solid #ccc;
        border-radius: 50%;
        display: block;
        text-align: center;
        box-sizing: border-box;
        line-height: 20px;
        font-weight: 600;
        font-size: 12px;
        cursor: pointer;
        box-shadow: 0px 0px 1px 0px #ccc inset;
        color: #888;
        transition: all 0.2s linear;
        &:hover {
            border-color: $header-bg;
            box-shadow: 0px 0px 1px 0px $header-bg inset;
        }
    }
}

fieldset {
    margin: 10px 0px;
    legend {
        font-size: 14px;
        font-weight: 700;
        color: #0084f6;
    }
    .time-picker {
        .field-wrapper {
            display: inline-block !important;
            margin: 0px 10px 0px 0px !important;
            background: transparent;
            .form-ctrl {
                background: transparent;
                width: inherit !important;
            }
        }
        .hour {
            width: 75px;
        }
        .minute {
            width: 75px;
        }
        .meridian {
            width: 100px;
        }
    }
}

.rescheduleWrapper {
    margin: 10px 0px;
    .row {
        margin: 0px;
    }
}

.CancelWrapper {
    padding: 20px; // .cancelField {}
}

.widget-wrapper {
    position: relative;
    padding: 40px;
    width: 100%;
    height: 550px;
    .widget-container {
        background: white;
        border: 1px solid #777;
        box-shadow: 0px 0px 10px 2px #777;
        width: 100%;
        height: 100%;
    }
    .table-responsive {
        max-width: 100%;
        overflow: auto;
    }
    table {
        width: 100%;
        box-sizing: border-box;
        border-collapse: collapse;
    }
    th,
    td {
        font-size: 12px;
        padding: 6px 2px;
        vertical-align: middle;
    }
    th {
        background: #004a7e;
        font-size: 11px;
        color: #fff;
        font-weight: normal;
    }
    td {
        border-bottom: 1px solid #fff;
    }
    table tr {
        transition: all 0.1s;
    }
    table tr:nth-child(even) {
        background: #efefef;
    }
    table tr:nth-child(odd) {
        background: #f7f7f7;
    }
    table tr:nth-child(even):hover {
        background: #ececec;
    }
    table tr:nth-child(odd):hover {
        background: #eaeaea;
    }
    table tr.selected {
        background: #dceff7 !important;
    }
    .table-responsive tr td:first-child .field-checkbox-wrapper,
    .table-responsive tr th:first-child .field-checkbox-wrapper {
        width: 20px;
        overflow: hidden;
        box-sizing: border-box;
        height: 20px;
        padding-left: 20px;
        margin-bottom: 0;
        margin-left: 5px;
        background: #fff;
        border-radius: 2px;
    }
}

.mainHomePage {
    ::-webkit-scrollbar {
        display: block;
    }
}

.textBox {
    width: 100%;
    height: 60px;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
    &:focus {
        padding: 10px;
    }
}

.closePopup {
    right: 4%;
    top: 8%;
    font-size: 14px;
    cursor: pointer;
    line-height: 20px;
    width: 26px;
    height: 10px;
    box-sizing: border-box;
    text-align: center;
    padding-top: 3px;
    display: none;
    &.bottomRight {
        bottom: 2px;
        top: auto;
        left: auto;
        right: 0;
    }
    &.topLeft {
        left: 0;
        right: auto;
        top: 1px;
        bottom: auto;
    }
    &.bottomLeft {
        left: 0;
        right: auto;
        bottom: 2px;
        top: auto;
    }
    svg {
        width: 16px;
        .cls-1 {
            stroke: #c1c1c1;
            stroke-width: 2px;
        }
    }
    &:hover {
        .cls-1 {
            stroke: #0084f6;
        }
    }
}

.table-scroll-wrapper {
    max-height: 245px;
    overflow: hidden;
    .widget-table {
        height: 200px;
        overflow-x: hidden;
        overflow-y: auto;
        .field-wrapper {
            .form-ctrl {
                background: transparent;
                border-bottom: solid 1px #0084f6;
            }
        }
    }
}

.topicSection {
    padding: 0px 15px 5px 15px;
    background: #e6e6e6;
    .field-wrapper {
        .form-ctrl {
            background: transparent;
            border-bottom: solid 1px #0084f6;
        }
    }
}

.settingAttendance {
    padding: 15px;
}

.attendanceHeadingHr {
    margin-top: 20px;
    margin-bottom: 0px;
    border-top: 2px solid #eee;
}

.attendanceWrapper {
    border-top: 2px solid #eee;
    margin-top: 15px;
    max-height: 420px;
    overflow: hidden;
    .row {
        display: flex;
        .tableSection {
            display: inline-block;
            width: 73%;
            padding: 10px;
            background: #fff;
            .button-row {
                position: relative;
                height: 45px;
                padding: 0px 10px;
                button {
                    position: absolute;
                    right: 10px;
                    border: 2px solid #0084f6;
                }
            }
            .filterSection {
                padding: 20px 0px 10px 0px !important;
                margin: 0px !important;
                background-color: #efefef;
                span {
                    padding: 4px 12px;
                    margin-left: -4px;
                }
                h5 {
                    display: inline;
                    margin-left: -2px;
                    margin-right: 2px;
                    font-size: 10px;
                }
                .absent {
                    color: white !important;
                    background: #fe552a;
                    border-radius: 2px;
                    font-size: 10px;
                    padding-top: 1px;
                }
                .present {
                    color: white !important;
                    background: #4191da;
                    border-radius: 2px;
                    font-size: 10px;
                    padding-top: 1px;
                }
                .leave {
                    color: white !important;
                    background: #7a7a7a;
                    border-radius: 2px;
                    font-size: 10px;
                    padding-top: 1px;
                }
            }
            .studentTableWrapper {
                //border: 2px solid #eee;
                width: 100%;
                .schedule-bottom {
                    width: 100%;
                    ul {
                        border-left: 2px solid hsla(210, 2%, 83%, .5);
                        border-right: 2px solid hsla(210, 2%, 83%, .5);
                        li {
                            width: 20%;
                            text-align: center;
                            float: left;
                            font-weight: 800;
                            div {
                                &.no-margin {
                                    margin-bottom: 0px;
                                }
                                &.top5 {
                                    margin-top: 5px;
                                }
                            }
                        }
                    }
                }
            }
            .row {
                margin-left: 10px;
            }
        }
        .detailsSection {
            display: inline-block;
            width: 25%;
            padding: 0px 5px 0px 5px;
            max-height: 400px;
            overflow: auto;
            background-color: #f7f7f7;
            h3 {
                color: #979797;
                font-weight: 400;
            }
            .field-wrapper {
                .form-ctrl {
                    background: white;
                    border: solid 1px #e2ebee;
                    &.textBox {
                        height: 60px;
                        padding: 5px;
                    }
                }
            }
            div {
                padding: 5px 0px;
                &.questionInfo {
                    padding: 0px 5px !important;
                    &.qInfoIcon {
                        border: none;
                    }
                }
                &.checkboxGroup {
                    padding: 0px;
                    margin-top: 5px;
                    .field-checkbox-wrapper {
                        position: relative;
                        padding: 0px 0px 0px 25px !important;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .attendanceWrapper {
        border-top: 2px solid #eee;
        margin-top: 15px;
        max-height: 420px;
        overflow: hidden;
        .row {
            display: flex;
            .tableSection {
                display: inline-block;
                width: 100%;
                padding: 10px;
                background: #fff;
                .button-row {
                    position: relative;
                    height: 45px;
                    padding: 0px 10px;
                    button {
                        position: absolute;
                        right: 10px;
                        border: 2px solid #0084f6;
                    }
                }
                .filterSection {
                    padding: 20px 0px 10px 0px !important;
                    margin: 0px !important;
                    background-color: #efefef;
                    span {
                        padding: 4px 12px;
                    }
                    .absent {
                        color: white;
                        background: #fe552a;
                        border-radius: 5px;
                    }
                    .present {
                        color: white;
                        background: #4191da;
                        border-radius: 5px;
                    }
                    .leave {
                        color: white;
                        background: #7a7a7a;
                        border-radius: 5px;
                    }
                }
                .studentTableWrapper {
                    //border: 2px solid #eee;
                    width: 100%;
                    .schedule-bottom {
                        width: 100%;
                        ul {
                            border-left: 2px solid hsla(210, 2%, 83%, .5);
                            border-right: 2px solid hsla(210, 2%, 83%, .5);
                        }
                    }
                }
                .row {
                    margin-left: 10px;
                }
            }
            .detailsSection {
                display: inline-block;
                width: 100%;
                padding: 5px 5px 10px 10px;
                background-color: #f7f7f7;
                h3 {
                    color: #979797;
                    font-weight: 400;
                }
                .field-wrapper {
                    .form-ctrl {
                        background: white;
                        border: solid 1px #e2ebee;
                        &.textBox {
                            height: 60px;
                            padding: 5px;
                        }
                    }
                }
                div {
                    border: none; //padding: 5px 0px;
                    .questionInfo {
                        //padding: 0px 5px !important;
                        border: none;
                        .qInfoIcon {
                            border: none;
                        }
                    }
                    &.checkboxGroup {
                        padding: 0px;
                        margin-top: 5px;
                        .field-checkbox-wrapper {
                            position: relative;
                            padding: 0px 0px 0px 25px !important;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
}

.attendanceWrapperCourse {
    border-top: 2px solid #eee;
    margin-top: 15px;
    max-height: 480px;
    overflow: hidden;
    .filterSection {
        padding: 20px 0px 10px 0px !important;
        margin: 0px !important;
        background-color: #efefef;
        span {
            padding: 4px 12px;
            margin-left: 4px;
        }
        h5 {
            margin-left: 4px;
            display: inline-block;
            font-weight: 200;
            font-size: 13px;
        }
        .absent {
            color: white;
            background: #fe552a;
            border-radius: 5px;
        }
        .present {
            color: white;
            background: #4191da;
            border-radius: 5px;
        }
        .leave {
            color: white;
            background: #7a7a7a;
            border-radius: 5px;
        }
    }
    .attendanceMain {
        .table-scroll-wrapper {
            max-height: 375px;
            overflow: auto;
        }
        ::-webkit-scrollbar {
            display: block;
        }
    }
}

@media only screen and (max-width:800px) {
    .HomePopupWrapper {
        position: absolute;
        background: rgba(109, 105, 137, 0.4);
        width: 100%;
        height: 100%;
        z-index: 100;
        padding: 60px 0px 60px 10px !important;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .closePopup {
        right: 8%;
        top: 11.6%;
        font-size: 14px;
        cursor: pointer;
        line-height: 20px;
        width: 26px;
        height: 26px;
        box-sizing: border-box;
        text-align: center;
        padding-top: 3px;
        display: none;
        &.bottomRight {
            bottom: 2px;
            top: auto;
            left: auto;
            right: 0;
        }
        &.topLeft {
            left: 0;
            right: auto;
            top: 1px;
            bottom: auto;
        }
        &.bottomLeft {
            left: 0;
            right: auto;
            bottom: 2px;
            top: auto;
        }
        svg {
            width: 16px;
            .cls-1 {
                stroke: #c1c1c1;
                stroke-width: 2px;
            }
        }
        &:hover {
            .cls-1 {
                stroke: #0084f6;
            }
        }
    }
}

@media only screen and (max-width:640px) {
    .HomePopupWrapper {
        position: absolute;
        background: rgba(109, 105, 137, 0.4);
        width: 100%;
        height: 100%;
        z-index: 100;
        padding: 60px 0px 60px 10px !important;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .closePopup {
        right: 10%;
        top: 10%;
        font-size: 14px;
        cursor: pointer;
        line-height: 20px;
        width: 26px;
        height: 26px;
        box-sizing: border-box;
        text-align: center;
        padding-top: 3px;
        display: none;
        &.bottomRight {
            bottom: 2px;
            top: auto;
            left: auto;
            right: 0;
        }
        &.topLeft {
            left: 0;
            right: auto;
            top: 1px;
            bottom: auto;
        }
        &.bottomLeft {
            left: 0;
            right: auto;
            bottom: 2px;
            top: auto;
        }
        svg {
            width: 16px;
            .cls-1 {
                stroke: #c1c1c1;
                stroke-width: 2px;
            }
        }
        &:hover {
            .cls-1 {
                stroke: #0084f6;
            }
        }
    }
}

.HomePopupWrapper {
    position: absolute;
    background: rgba(109, 105, 137, 0.4);
    width: 100%;
    height: 100%;
    z-index: 100;
    padding: 60px 0px 60px 70px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.grid-container {
    width: 90vw;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

div#enqChart {
    margin: 10px;
    width: 198px;
    height: 152px;
}

.widgetDatepicker {
    position: absolute;
    margin-left: 25%;
    width: 1px;
    visibility: hidden;
    opacity: 0;
}

.grid {
    position: relative;
    width: 90vw !important;
}

.item {
    display: block;
    position: absolute;
    width: 100px; //max-height: 350px;
    margin: 5px;
    z-index: 1;
    background: #000;
    color: #fff
}

.item.muuri-item-dragging {
    z-index: 3;
}

.item.muuri-item-releasing {
    z-index: 2;
}

.item.muuri-item-hidden {
    z-index: 0;
}

.item-content {
    position: relative;
    width: 100%;
    height: 100%;
}

// css for activity page
.activity-page {
    // background: #f2f2f2;
    ::-webkit-scrollbar {
        display: block;
    }
}

.activity-left {
    // max-width: 72%;
    width: 100%;
    padding: 24px 15px 24px 42px;
}

.activity-right {
    max-width: 23%;
    width: 100%;
    background: #fff;
    box-sizing: border-box;
    overflow: hidden;
}

.act-top {
    width: 88vw;
    padding-bottom: 10px;
    border-bottom: 1px solid #d3d4d5;
    margin-bottom: 16px;
    h1 {
        padding-top: 7px;
    }
    .btn {
        height: auto;
        padding: 1px 10px 1px 0px;
        border: 2px solid #0084f6;
        vertical-align: top;
        float: right;
        svg {
            display: inline-block;
            vertical-align: middle;
        }
    }
    .search-filter-wrapper {
        float: right;
        width: 322px;
        position: relative;
        .normal-field {
            width: 100%;
            height: 38px;
        }
        .btn {
            height: 38px;
            width: 100%;
            padding-right: 50px;
            padding-top: 1px;
        }
    }
}

.act-right-sec {
    width: 60%;
    .btn.normal-btn {
        width: 40px;
        padding-right: 0;
        position: absolute;
        right: 0;
    }
}

.actb-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &>li {
        box-shadow: 0px 1px 3px 0px rgba(38, 0, 0, 0.2);
        background: #fff;
        margin-bottom: 16px;
        width: 97%;
        border-radius: 4px;
        overflow: hidden;
        &.enquiry-state,
        &.fees-state {
            width: 48%;
            min-height: 250px;
        }
        .actb-top-header {
            padding: 10px 12px;
            background: #fafafa;
            border-bottom: 1px solid #dedddd;
            span.heading {
                font-weight: 400;
                font-size: 14px;
                color: #414141;
                text-transform: uppercase;
                padding-top: 4px;
                display: inline-block;
            }
            button {
                background: transparent;
                &.drag-button {
                    cursor: all-scroll;
                    margin-left: 16px;
                }
            }
            .enquiry-state-date {
                font-size: 14px;
                color: #666;
                margin-right: 10px;
                padding-top: 4px;
                display: inline-block;
            }
            .schedSwitcher {
                display: inline-flex;
                width: 200px;
                margin: 0px 25px;
                padding-top: 4px;
                height: 25px;
            }
        }
    }
}

.actb-top-header {
    padding: 10px 12px;
    background: #fafafa;
    border-bottom: 1px solid #dedddd;
    span.heading {
        font-weight: 400;
        font-size: 14px;
        color: #414141;
        text-transform: uppercase;
        padding-top: 4px;
        display: inline-block;
    }
    button {
        background: transparent;
        &.drag-button {
            cursor: all-scroll;
            margin-left: 16px;
        }
    }
    .enquiry-state-date {
        font-size: 14px;
        color: #666;
        margin-right: 10px;
        padding-top: 4px;
        display: inline-block;
    }
    .schedSwitcher {
        display: inline-flex;
        width: 200px;
        margin: 0px 25px;
        padding-top: 4px;
        height: 25px;
    }
}

.enq-state-bottom {
    &>div {
        width: 50%;
        float: left;
        padding-top: 20px;
        &:after {
            content: '';
            display: table;
            clear: both;
            width: 100%;
        }
        &:last-child {
            float: right;
        }
    }
}

.enq-state-details {
    .enq {
        display: flex;
        margin-bottom: 17px;
        .enqs-label {
            width: 64%;
            font-size: 12px;
            color: #666666;
            text-transform: uppercase;
            span {
                width: 8px;
                height: 8px;
                display: inline-block;
                border: 1px solid #979797;
                border-radius: 2px;
                margin-right: 8px;
                &.open {
                    background: #568bf4;
                }
                &.inprogress {
                    background: #f456b0;
                }
                &.admmited {
                    background: #ffcc3c;
                }
                &.closed {
                    background: #56cff4;
                }
            }
        }
        .enqs-value {
            color: #1e2328;
            font-size: 12px;
            font-weight: 600;
        }
    }
}

.fees-state-bottom {
    ul {
        padding: 0px 24px 25px;
        display: flex;
        flex-wrap: wrap;
        li {
            width: 50%;
            padding-top: 25px;
            label {
                font-size: 12px;
                text-transform: uppercase;
                color: #666666;
                display: block;
                margin-bottom: 9px;
            }
            div {
                font-size: 14px;
                font-weight: 600;
                color: #1e2328;
                display: block;
            }
        }
    }
}

.sche-top-det {
    float: right;
    display: inline-flex;
    flex-wrap: nowrap;
    li {
        float: left;
        border-right: 2px solid rgba(20, 20, 20, 0.2);
        &:first-child {
            &.schedule-det {
                display: flex;
                div {
                    margin-right: 40px;
                    display: flex;
                    align-items: center;
                }
                label {
                    font-size: 14px;
                    color: #414141;
                    font-weight: 600;
                    margin-right: 8px;
                }
                span {
                    font-weight: 600;
                    font-size: 14px;
                    color: #0c8af6;
                }
            }
        }
        &:last-child {
            border-right: 0;
            width: 290px;
        }
    }
}

.schedule-wrapper {
    min-height: 350px;
    max-height: 350px;
    overflow: hidden;
    ::-webkit-scrollbar {
        display: block;
    }
}

.schedule-bottom {
    .schedule-scroller {
        min-height: 300px;
        max-height: 300px;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    ul {
        border-bottom: 2px solid rgba(211, 212, 213, 0.5);
        background: #fff;
        display: flex;
        cursor: pointer;
        &.active,
        &:not(.sche-head):not(.ct-disabled):hover {
            background: rgba(27, 96, 163, 0.16);
        }
        &.active {
            li.cls-type {
                div {
                    position: relative;
                    &:before {
                        content: '';
                        width: 6px;
                        height: 6px;
                        border-radius: 50%; // background: #ff0000;
                        position: absolute;
                        left: -16px;
                        top: 7px;
                    }
                }
            }
        } // justify-content: space-between;
        li {
            padding: 5px 24px 0px;
            &.cls-type {
                width: 15%;
                &.batch{
                    width: 45% !important;
                }
            }
            &:first-child {
                width: 25%;
            }
            &:nth-last-child(2) {
                width: 30%;
            }
            &:last-child {
                width: 15%;
                }
            div {
                color: rgba(30, 35, 40, 0.7);
                font-size: 14px;
                margin-bottom: 8px;
                &.no-margin {
                    margin-bottom: 0px;
                }
                &.top5 {
                    margin-top: 5px;
                }
            }
            p {
                font-size: 12px;
                color: rgba(102, 102, 102, 0.7);
                svg {
                    display: inline-block;
                    vertical-align: text-bottom;
                    position: relative;
                    margin-left: -18px;
                }
            }
        }
        &.sche-head {
            background: #e0eaec;
            li {
                padding: 20px 24px 12px;
                text-transform: capitalize;
                text-transform: uppercase;
                color: black;
                background: transparent;
                font-size: 12px;
                font-size: 12px;
            }
        }
        .class-type-status {
            font-size: 11px;
            padding: 4px 9px;
            display: inline-block;
            border-radius: 4px;
            line-height: 9px;
            height: 20px;
            box-sizing: border-box;
            vertical-align: middle;
            font-weight: 600;
        }
        &.ct-ongoing {
            .class-type-status {
                color: #568bf4;
                border: 1px solid #568bf4;
            }
        }
        &.ct-completed {
            .class-type-status {
                color: #78dd95;
                border: 1px solid #78dd95;
            }
        }
        &.ct-cancel {
            .class-type-status {
                color: #9b9b9b;
                border: 1px solid #9b9b9b;
            }
        }
    }
    div.ct-disable-wrapper {
        .che-action {
            width: 100%;
            position: absolute;
            display: none; //height: 0%;
            bottom: 2px;
            right: 0px;
            text-align: right;
            &.display {
                //height: 100%;
                display: block !important;
            }
            span {
                margin-left: 5%;
                font-size: 14px;
                font-weight: 600;
                color: black;
            }
        }
        &:hover {
            ul {
                &.ct-ongoing {
                    background: rgba(27, 96, 163, 0.16);
                    li {
                        padding: 10px 10px 10px;
                    }
                }
            }
            .che-action {
                width: 100%;
                position: absolute;
                display: block; //height: 0%;
                bottom: 2px;
                right: 0px;
                text-align: right;
                &.display {
                    //height: 100%;
                    display: block !important;
                }
                span {
                    margin-left: 5%;
                    font-size: 14px;
                    font-weight: 600;
                    color: black;
                }
            }
        }
    }
}

.general-s-bottom {
    ul {
        display: flex;
        li {
            padding: 26px 14px 18px;
            label {
                display: block;
                color: rgb(102, 102, 102);
                font-size: 12px;
                margin-bottom: 8px;
                text-transform: uppercase;
            }
            a {
                font-size: 14px;
                font-weight: 600;
                color: #0c8af6;
            }
            div {
                font-size: 14px;
                font-weight: 600;
                color: #1e2328;
            }
        }
    }
}

// right top section time line section
.tl-date {
    font-size: 10px;
    color: #666;
    background: #fdfdfd;
    border-radius: 12px;
    padding: 3px 5px;
    width: 80px;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    /* box-shadow: 0 1px 1px rgba(25, 31, 34, 0.156863); */
    border: 1px solid #dbdbdb;
}

.n-circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 12px; // border: 3px solid #f0f1f2;
    vertical-align: middle;
}

.n-circle img {
    padding: 4px;
}

.n-time {
    font-size: 12px;
    color: #666;
    display: inline-block;
    vertical-align: middle;
    font-weight: 500;
}

.fee-li {
    position: relative;
    padding-left: 33px;
    margin-bottom: 8px;
}

.fee-li:last-child {
    margin-bottom: 0;
}

.fee-li p {
    margin: 0;
    color: #666;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
}

.fee-li .btn {
    margin-top: 15px;
}

.n-icon {
    position: absolute;
    left: 9px;
}

.n-text {
    margin-left: 0;
    background: #fff;
    padding: 20px 16px 0px;
    color: #666;
    border-radius: 4px;
    font-size: 12px;
}

.notification-list:first-child {
    padding-top: 15px;
}

.notification-list {
    padding: 3px 0px 15px 0px;
    position: relative;
}

.notification-list:before {
    content: '';
    position: absolute;
    left: 20px;
    width: 0px;
    height: calc( 100% - 27px);
    top: 24px;
    border-left: 2px dotted rgba(25, 31, 34, 0.156863);
}

.notification-list:first-child:before {
    height: calc( 100% - 44px);
    top: 44px;
}

.notification-list>div.n-date {
    padding: 0 0px 10px;
}

.pink-color {
    background-color: #c277cb;
}

.timeline {
    text-align: center;
}

.timeline ul li a {
    text-decoration: none;
    font-size: 14px;
    color: rgba(31, 34, 40, 0.5);
    font-weight: 400;
    padding: 6px 5px 5px;
    display: block;
    position: relative;
    z-index: 11;
    transition: all 0.3s ease-in-out;
}

.timeline ul {
    text-align: center;
    font-size: 0;
    margin: 0;
    position: relative;
}

.timeline ul li {
    display: inline-block;
    width: 50%;
    position: relative;
}

.timeline ul:after {
    content: '';
    width: 55%;
    height: 124%;
    position: absolute;
    left: -2px;
    top: -5px;
    /* transition: all 0.3s ease-in-out; */
    background: #5ad5e8;
    border-radius: 100px;
}

.timeline ul.timelineActive:after {
    /* left: -2px; */
    animation: tabAnimationReverse 0.6s ease-in-out forwards;
}

.timeline ul.chatActive:after {
    /* left: 47%; */
    animation: tabAnimation 0.6s ease-in-out forwards;
}

.timeline ul.chatActive .chat-tab a,
.timeline ul.timelineActive .timeline-tab a {
    color: #fff;
}

.activity-right-sec {
    padding: 24px 10px 24px 24px;
    max-height: 390px;
    overflow: auto;
}

.activity-right-sec {
    h3 {
        color: #414141;
        margin-bottom: 10px;
    }
}

.activity-right-sec-bottom {
    border-top: 2px solid rgba(151, 151, 151, 0.5);
    margin-top: 10px;
    padding: 14px 10px 10px 25px;
    .todo-top {
        padding-bottom: 15px;
        h3 {
            padding-top: 3px;
        }
        span {
            float: right;
            font-size: 14px;
            color: #666;
            padding-top: 2px;
            dfn {
                font-style: normal;
            }
            dfn,
            svg {
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
}

.todo-tab {
    margin: 0 -20px;
    border-bottom: 2px solid rgba(151, 151, 151, 0.1);
    padding: 10px 20px 0px;
    margin-bottom: 15px;
    li {
        float: left;
        width: 50%;
        text-align: center;
        font-size: 12px;
        color: #414141;
        font-weight: 600;
        cursor: pointer;
        span {
            display: inline-block;
            border-bottom: 3px solid transparent;
            padding-bottom: 10px;
            padding-top: 10px;
            text-transform: uppercase;
        }
        &.active {
            span {
                color: #0084f6;
                border-bottom: 3px solid #0084f6;
            }
        }
    }
}

.assign-task-list {
    max-height: 350px;
    overflow: auto;
    .field-checkbox-wrapper,
    .field-radio-wrapper {
        position: relative;
        padding-left: 33px;
        margin-bottom: 18px;
        line-height: 19px;
        .form-checkbox:checked+label:before {
            border-color: #fff;
            z-index: 1;
        }
        .form-checkbox:checked+label:after {
            border-color: #78dd95;
            background: #78dd95;
        }
        .form-checkbox:checked+label {
            color: rgba(0, 0, 0, 0.4);
            text-decoration: line-through;
        }
    }
}

.tab-content-inner {
    &>li {
        position: relative;
        &:before {
            content: '';
            width: 100%;
            position: absolute;
            bottom: 0;
            height: 43px;
            background: #fff;
            opacity: 0.7;
            left: 0;
            z-index: 1;
        }
    }
    .btn {
        max-width: 220px;
        width: 100%;
        border-radius: 4px;
        height: 40px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
    }
}

@media only screen and (max-width: 1200px) {
    .activity-left {
        max-width: none;
        padding: 24px 0px 24px 0px;
        box-sizing: border-box;
        .row {
            margin: 0;
        }
    }
    .activity-page {
        padding: 0 15px;
        .row {
            margin: 0;
        }
    }
    .act-right-sec {
        width: 82%;
    }
    .activity-right {
        max-width: none;
        width: 100%;
    }
}

@media only screen and (max-width: 960px) {
    .actb-wrapper>li.enquiry-state,
    .actb-wrapper>li.fees-state {
        width: 100%;
    }
    .act-top .btn {
        margin-right: 0;
    }
    .act-right-sec {
        width: 58%;
    }
    .general-s-bottom ul li,
    .fees-state-bottom ul li {
        width: 100%;
        box-sizing: border-box;
    }
    .fees-state-bottom ul {
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1000px) {
    .act-right-sec {
        width: 75%;
    }
    .act-top .search-filter-wrapper {
        width: 55%;
        float: right;
        max-width: 322px;
        position: relative;
    }
    .fees-state-bottom ul li {
        width: 50%;
        box-sizing: border-box;
    }
}

@media only screen and (max-width: 767px) {
    .enq-state-bottom>div {
        width: 100%;
        margin-top: 20px;
        padding: 10px 20px;
        box-sizing: border-box;
        &:first-child {
            margin-top: 0;
        }
    }
    .actb-wrapper>li {
        &.schedule-state {
            overflow-x: auto;
            &>div {
                min-width: 700px;
            }
        }
    }
    .general-state {
        .general-s-bottom ul {
            flex-wrap: wrap;
            padding: 10px 0;
            li {
                width: 100%;
                padding: 10px 100px 10px;
            }
        }
    }
}

.homeWorkNotFoundClass {
    ul {
        li:first-child {
            width: 30% !important;
        }
        li:nth-child(2) {
            width: 30% !important;
        }
        li:last-child {
            width: 40% !important;
        }
    }
}

.attendanceGroup {
    display: flex;
}

.passive {
    border: 1px solid grey;
    border-radius: 10%;
    background-color: #eee;
}

.radio-options div {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 15px;
}

.field-radio-wrapper .form-radio:checked+label {
    &.present {
        color: #4191da;
        &:before {
            content: '';
            width: 10px;
            height: 10px;
            background: #4191da;
            border-radius: 50%;
            left: 3px;
            top: 3px;
        }
        &:after {
            border: 2px solid #4191da;
        }
    }
    &.leave {
        color: #7a7a7a;
        &:before {
            content: '';
            width: 10px;
            height: 10px;
            background: #7a7a7a;
            border-radius: 50%;
            left: 3px;
            top: 3px;
        }
        &:after {
            border: 2px solid #7a7a7a;
        }
    }
    &.absent {
        color: #fe552a;
        &:before {
            content: '';
            width: 10px;
            height: 10px;
            background: #fe552a;
            border-radius: 50%;
            left: 3px;
            top: 3px;
        }
        &:after {
            border: 2px solid #fe552a;
        }
    }
}

.customDropdown {
    font-weight: 500;
    border: 1px solid rgba(0, 0, 0, 0.23);
    padding: 1px 1px;
    select {
        width: 100%;
        background: transparent;
    }
}

.btnGroup {
    display: inline-flex;
    .btn {
        padding: 1px 12px 5px 12px;
        margin: 5px 5px 5px 5px;
        width: 29%;
        height: 24px;
        font-size: 14px;
        border-radius: 6px;
    }
    .classLeaveBtn {
        color: white;
        text-align: center;
        padding-bottom: -10px;
        margin-bottom: 10px;
        background: #7a7a7a;
    }
    .classAbsentBtn {
        color: white;
        text-align: center;
        background: #fe552a;
    }
    .classPresentBtn {
        color: white;
        background: #4191da;
        color: white;
        text-align: center;
    }
}

.btnWrapper {
    .btn {
        padding: 2px 7px 0px 7px;
        border: none;
        height: 35px;
        width: 35px;
        border-radius: 50%;
        .tooltip {
            position: relative;
            top: -30px;
            left: 35px;
            min-width: 190px;
            font-size: 12px;
            padding: 6px;
            height: 35px;
            border-radius: 5px;
            background: black;
            color: white;
            visibility: hidden;
            opacity: 0;
        }
        &:hover {
            background: rgb(216, 214, 214);
            .tooltip {
                position: relative;
                top: -25px;
                left: 35px;
                min-width: 190px;
                padding: 6px;
                border-radius: 5px;
                font-size: 14px;
                height: 35px;
                background: black;
                color: white;
                visibility: visible;
                opacity: 1;
                transition: all 0.2s;
            }
        }
        &:focus {
            outline: none;
        }
        &:active {
            box-shadow: none;
        }
    }
}

.notification-content-wrapper {
    padding: 0px 10px 0px 15px;
    .row {
        margin: 10px 0px 10px 0px;
    }
    .add-notificaton-wrapper {
        margin: 10px 0px 10px 0px;
        background: #efefef;
        padding: 5px 5px 5px 5px;
        .row {
            textarea {
                padding: 5px 5px;
                height: 75px !important;
                background: white !important;
                border: .2px solid rgba(0, 0, 0, 0.1607843137254902);
            }
            p {
                margin-top: 5px;
                font-size: 14px;
                font-weight: 400;
            }
            .btn-Group {
                padding-top: 50px;
                color: #000;
                height: 20px;
                font-size: 10px;
                border-radius: 3px;
                text-align: center;
            }
        }
    }
    .content-section-wrapper {
        .common-tab {
            padding-top: 5px;
            ul {
                font-size: 0;
                border-bottom: 1px solid #f1f1f1;
                li {
                    margin-right: 1px;
                    display: inline-block;
                    width: 10%;
                    max-width: 158px;
                    cursor: pointer;
                    a {
                        display: block;
                        padding: 10px 5px;
                        background: #eff7ff;
                        border: 1px solid #cccdcd;
                        color: $common-blue;
                        text-align: center;
                        font-size: 14px;
                        font-weight: 600;
                    }
                    &:hover,
                    &.active {
                        a {
                            background: $common-blue;
                            color: $bg-white;
                            border-color: $common-blue;
                            font-weight: normal;
                        }
                    }
                }
            }
        }
        .main-content-wrapper {
            .filter-section {
                .form-wrapper {
                    background: transparent;
                    margin: 0px;
                    &.datepicker {
                        span {
                            position: absolute;
                            top: 30px;
                            right: 20px;
                            font-weight: 300;
                            color: red;
                            cursor: pointer;
                        }
                    }
                    label {
                        font-size: 12px;
                        font-weight: 400;

                        color: black;
                        text-decoration: none;
                        text-shadow: none;
                        -webkit-font-smoothing: antialiased;
                    }
                    .side-form-ctrl {
                        background: transparent;
                        border: 1px solid rgba(119, 119, 119, 0.4196078431372549);
                        width: 100%;
                        padding: 8px 5px;
                        font-weight: 600;
                        font-size: 14px;
                        color: black;
                        &.bsDatepicker {
                            padding: 5px 5px 6px 5px;
                            width: 70%;
                        }
                    }
                    &.timepick {
                        .side-form-ctrl {
                            background: transparent;
                            border: 1px solid rgba(119, 119, 119, 0.4196078431372549);
                            width: 100%;
                            padding: 8px 5px;
                            font-weight: 600;
                            font-size: 14px;
                            color: black;
                        }
                    }
                }
            }
            .checkbox-Group {
                margin-top: 15px;
                margin-bottom: 10px;
            }
            .table-content-wrapper {
                max-height: 200px;
                overflow-x: hidden;
                overflow-y: scroll;
                table {
                    &.table-wrapper {
                        max-height: 200px;
                        thead {
                            tr {
                                th {
                                    padding: 5px 5px !important;
                                }
                            }
                        }
                        tbody {
                            tr {
                                padding: 0px 0px !important;
                                td {
                                    padding: 5px 5px !important;
                                }
                            }
                        }
                    }
                }
                ::-webkit-scrollbar {
                    display: block;
                    width: 7px;
                    height: 7px;
                }
            }
            #divSendMessage {
                .row {
                    margin: 10px 0px;
                }
                .message-table-wrapper {
                    max-height: 210px;
                    overflow-x: hidden;
                    overflow-y: scroll;
                    table {
                        &.message-table {
                            max-height: 200px;
                            tbody {
                                tr {
                                    padding: 0px 0px !important;
                                    td {
                                        padding: 5px 5px !important;
                                    }
                                }
                            }
                        }
                    }
                    ::-webkit-scrollbar {
                        display: block;
                        width: 7px;
                        height: 7px;
                    }
                }
            }
        }
    }
}

.radio-options {
    .field-radio-wrapper {
        .form-radio:checked+label:before {
            content: '';
            width: 10px;
            height: 10px;
            background: #0084f6;
            border-radius: 50%;
            left: 3px;
            top: 3px;
        }
        label {
            margin-left: 10px;
        }
    }
}

/////////////////////////////////////////////////////
.form-wrapper {
    background: transparent;
    margin: 5px 0px;
    &.datepicker {
        span {
            position: absolute;
            top: 35px;
            right: 20px;
            font-weight: 600;
            font-size: 14px;
            color: red;
            cursor: pointer;
            width: 20px;
            text-align: center;
        }
    }
    label {
        color: #309bf8 !important;
        font-size: 12px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.77);
        padding-bottom: 2px;
        text-decoration: none;
        text-transform: uppercase;
        -webkit-font-smoothing: antialiased;
    }
    .side-form-ctrl {
        background: white;
        border: 1px solid rgba(119, 119, 119, 0.4196078431372549);
        width: 100%;
        padding: 8px 5px;
        font-weight: 600;
        font-size: 14px;
        color: black;
        &.bsDatepicker {
            padding: 5px;
            width: 100%;
        }
    }
    &.timepick {
        width: 50%;
        padding: 1px 0px;
        .tbox {
            width: 100%;
            .times {
                display: inline-block;
            }
            .side-form-ctrl {
                background: white;
                border: 1px solid rgba(119, 119, 119, 0.4196078431372549);
                width: 100%;
                padding: 8px 5px;
                font-weight: 600;
                font-size: 14px;
                color: black;
                &.mins {
                    width: 80px;
                }
                &.mers {
                    width: 50px;
                }
            }
        }
    }
}

.schedule-scroller {
    .ct-disable-wrapper pos-rel {
        ul {
            li {
                padding-top: 15px;
                padding-bottom: 1px;
                text-align: center;
                float: left;
                font-weight: 800;
            }
        }
    }
}

#next_tab {
    margin-top: 10px;
}
