*{
    margin: 0px;
    
  }
  body{
    font-family: 'Open Sans', sans-serif;
  }
  .flex{
    display: flex;
  }
  .blue_button {
    background-color: #109CF1;
    color: white;
    padding: 0px 20px;
    font-size: 13px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    line-height: 35px;
    cursor: pointer;
  }
  .white_button {
    background-color: #fff;
    color: #109CF1;
    padding: 0px 20px;
    font-size: 12px;
    border:1px solid #109CF1;
    border-radius: 5px;
    font-weight: 500;
    line-height: 35px;
    cursor: pointer;
  }
   .select{
    padding: 7px 20px;
   // padding: 7px 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: 500;
    color: #787A7D;
  }
  .input{
    padding: 7px 20px;
    
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: 500;
      height:35px;
    }

   input:focus, select:focus,button:focus{
       outline: none;
   }
  .page_heading>p{
    color: #334D6E;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 0px;
  }
  .flex{
    display: flex;
  }
  .display{
    display: flex;
    justify-content: space-between;
  }
  .w98{
    width: 98%;
    margin: 0px auto;
  }
  .head_padding{
      box-shadow: 0px 7px 5px -3px rgba(0,0,0,0.1);
      -webkit-box-shadow: 0px 7px 5px -3px rgba(0,0,0,0.1);
      -moz-box-shadow: 0px 7px 5px -3px rgba(0,0,0,0.1);
    padding: 15px 0px;
  }
  .pageheadingspace{
    margin-bottom: 7px;
  }
  .table_heading{
    width: 100%;
    background-color: #DFE5F0;
   /* padding: 10px 0px;*/
    //margin: 10px 0px;
    display: flex;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
   
  }
  
  .table_heading>div{
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    color: #323C47;
   line-height: 35px;
   text-align: left;
  }
  
  .table_body{
     width: 100%;
    //margin-bottom: 10px;
    display: flex;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    line-height: 18px;
  }
  .table_body>div{
    
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #323C47;
   /* padding: 5px 0px;*/
     margin: auto;
     line-height: 18px;
  
  }
  
  .mr10{
  margin-right:10px;
  }
  .w240{
   width: 240px;
  }
  
  .item_cat .table_body>div,.item_cat .table_heading>div{
    width: calc((100% - 250px) / 2);
  }
  .item_cat .table_heading>div:first-child,.item_cat .table_body>div:first-child{
    width: 50px;
  }
  .item_cat .table_heading>div:last-child,.item_cat .table_body>div:last-child{
    width: 200px;
  }
  .group18{
    width: 18px;
    height: auto;
  }
  .pt15{
    padding-top: 15px;
    padding-bottom: 5px;
  }
  .bottom_pagignation{
    padding-top: 10px;
    background-color: #fff;
     position: fixed;
    bottom: 0px;
    z-index: 100;
  }
  .bottom_pagignation p{
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  }
  .bottom_pagignation select{
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 13px;
    font-weight: 500;
    color: #0079FF;
    display: inline;
  }
  .bottom_pagignation .w20{
    width: 20%;
  }
  .bottom_pagignation .w10{
    width: 10%;
  }
  .bottom_pagignation .w50{
    width: 50%;
  }
  .bottom_pagignation .w40{
    width: 40%;
  }
  .number{
    font-weight: 500;
    font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #000000;
  margin:0px 4px;
  }
  .active_circle{
  font-weight: 500;
    font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #fff;
  padding:2px 7px;
  border-radius: 50%;
  background: #0079FF;
  }
  .next{
    font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #0079FF;
  
  }
  .w450{
    width: 450px;
  }
  .white{
    background-color: #fff;
    width: calc(100% - 227px);
    border-top: 3px solid #Ededed;
  }
  .nav-item .nav-link{
      font-weight: 600;
      color: #405877;
      padding-bottom: 8px;
      cursor: pointer;
      font-size: 13px
  }
  
  .nav-item .nav-link.active {
        border-bottom: 3px solid #109CF1 !important;
      color: #109CF1 !important;
  }
  .nav-link {
      display: block;
      padding: 1.5rem 0rem;
      margin: -1rem 1.5rem;
      margin-left: 0rem;
  }
  .flex{
    display: flex;
  }
  .w15{
    width: 15%;
    background-color: #DFE5F0;
    padding: 10px;
  }
  .list>li{
    background-color: #fff;
    padding: 7px 0px;
    margin: 7px 0px;
  }
  .list>li>a>span{
    text-decoration: none;
      font-size: 10px;
    font-weight: 500;
    color: #334D6E;
  }
  .list>li img{
  padding: 0px 10px;
  } 
  .magnifying-glass{
    background-image: url('/assets/images/assets/Vector.svg');
    background-repeat: no-repeat;
    background-position:left center;
    text-indent: 10px;
  }
  .space33{
    padding-left: 5px;
  }
  .item_man .table_body>div,.item_man .table_heading>div{
    width: calc((100% - 100px) / 8);
  }
  
  .item_man .table_heading>div:last-child,.item_man .table_body>div:last-child{
    width: 100px;
  }
  .item_man .table_heading>div:nth-child(5),.item_man .table_heading>div:nth-child(6),.item_man .table_heading>div:nth-child(8){
    line-height: 18px;}
  
  .dropdown1 {
    position: relative;
    display: inline-block;
    line-height: 35px;
  }
  
  .dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width:200px;
    right:3px;
    margin-top: 20px;
    top: -150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1200;
  }
  
  .dropdown-content1 a {
    color: black;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content1 a:hover {background-color: #ddd;
  border-radius: 5px;}
  
  .dropdown1:hover .dropdown-content1 {display: block;}
  .dot3{
  padding: 10px 0px;
  cursor: pointer;
  }
  .wid100{
    width: 100%;
  }
  .wid80{
    width: 80%;
  }
  
  .pt10{
    padding-bottom: 10px;
  }
  input[type="date"]::-webkit-calendar-picker-indicator {
      color: rgba(0, 0, 0, 0);
      opacity: 1;
      display: block;
      background: url(../../../assets/img1/cal.svg) no-repeat;
      width: 20px;
      height: 20px;
      border-width: thin;
      padding: 2px 0px;
  }
  input[type="date"]{
    color: #787A7D;
    cursor: pointer;
  }
  input:focus{
    outline: none;
  }
  button:focus{
    outline: none;
  }
  .modal textarea{
    height: 100px;
  }
  .alert{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: #4D5869;
  }
  .alert_text{
    text-align: justify;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #858585;
    margin: 0px 40px;
    margin-top: 20px;
  
  }
  .center{
    text-align: center;
  }
  .center img{
    width: 44px;
  height: 34px;
  }

  
  #delete1Modal .modal-dialog,#deleteitemModal .modal-dialog {
      width: 350px;
  }
  @media (min-width: 576px){
  #delete1Modal .modal-dialog,#deleteitemModal .modal-dialog  {
      max-width:350px;
  }
  }
  #deleteModal .modal-dialog {
      width: 350px;
  }
  @media (min-width: 576px){
   #deleteModal .modal-dialog {
      max-width:350px;
  }
  }
  .pt101{
    padding-top: 30px;
    margin: 0px 30px;
  }
  #itemModal .modal-dialog,#edititemModal .modal-dialog,#subbranchModal .modal-dialog,#add1Modal .modal-dialog,#addpayModal .modal-dialog,#viewpayModal .modal-dialog {
      width: 750px;
  }
  @media (min-width: 576px){
   #itemModal .modal-dialog,#edititemModal .modal-dialog,#subbranchModal .modal-dialog,#add1Modal .modal-dialog,#addpayModal .modal-dialog,#viewpayModal .modal-dialog {
      max-width:750px;
  }
  }
  .sec1,.sec2{
    width: 50%;
  }
  .sec1{
    padding-right: 10px;
  }
  .sec2{
    padding-left: 10px;
  }
  input[type="date"]:focus:before,
    input[type="date"]:valid:before {
      content: "";
    }
  
   /* input[type=date]::-webkit-datetime-edit-text {
      -webkit-appearance: none;
      display: none;
  }
  input[type=date]::-webkit-datetime-edit-month-field{
      -webkit-appearance: none;
      display: none;
  }
  input[type=date]::-webkit-datetime-edit-day-field {
      -webkit-appearance: none;
      display: none;
  }
  input[type=date]::-webkit-datetime-edit-year-field {
      -webkit-appearance: none;
      display: none;
  }*/
  
   input[type="date"]:before {
      content: attr(placeholder) !important;
      padding-right: 20px;
    }
    .allo_history .table_body>div,.allo_history .table_heading>div{
    width: calc((100% - 50px) / 5);
  }
  .allo_history .table_heading>div:first-child,.allo_history .table_body>div:first-child{
    width: 50px;
    line-height: 4;
  }
  .in1{
    display: inline-block;
    background: #CCFFAC;
    border-radius: 5px;
    width: 40px;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #323C47;
    text-align: center;
  }
  .out{
    display: inline-block;
    background: #FFCF88;
    border-radius: 5px;
    width: 40px;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #323C47;
  }
  #historyModal .modal-dialog,#historyModal .modal-dialog {
      width: 650px;
  }
  @media (min-width: 576px){
   #historyModal .modal-dialog,#historyModal .modal-dialog {
      max-width:650px;
  }
  }
    .supplier_m .table_body>div,.supplier_m .table_heading>div{
    width: calc((100% - 200px) / 5);
  }
  .supplier_m .table_heading>div:last-child,.supplier_m .table_body>div:last-child{
    width: 200px;
  }
    .purchase .table_body>div,.purchase .table_heading>div{
    width: calc((100% - 100px) / 6);
  }
  .purchase .table_heading>div:last-child,.purchase .table_body>div:last-child{
    width: 100px;
  }
  input[type=file]::-webkit-file-upload-button {
    border: none;
    border-right: 2px solid #e3dadb;
    padding: .6em .4em;
    border-radius: .2em;
    background-color: #fff;
    transition: 1s;
    color: #109CF1;
    outline: none;
  }
  
  input[type=file] {
    padding: 0px;
     color: #B6B5B1;
     cursor: pointer;
  }
  .div_1{
    border: 1px solid #D5D7DA;
    width: 25%;
    height: 27rem;
    margin: 0px 10px;
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px;
  }
  .pt102{
    padding-bottom:20px;
  }
  .textarea1{
    height: 100px;
  }
  .heading1{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #334D6E;
  }
  
  .div_2{
    width: 75%;
    margin: 0px 10px;
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px;
  }
  .tablehead{
    background: #DFE5F0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    line-height: 40px;
    display: flex;
  }
  .tablehead>div{
    text-align: center;
    width: calc(100% / 5);
   font-weight: 600;
  font-size: 13px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #323C47;
  }
  .sel1{
    width: 252px;
    background: #FAFAFA;
    border: 1px solid #F0EDED;
    border-radius: 4px;
  }
  .tablebody{
    display: flex;
    border-bottom:1px solid #DFE5F0;
  }
  .tablebody>div{
    text-align: center;
    width: calc(100% / 5);
    font-weight: normal;
    font-size: 13px;
    line-height: 60px;
    letter-spacing: 0.01em;
    color: #323C47;
  }
  .tabletotal{
    display: flex;
    background: #D4FFF2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.01em;
    color: #323C47;
  }
  .tabletotal>div{
    text-align: center;
    line-height: 60px;
    width: calc(100% / 5);
  }
  .tabletotal>div:nth-child(4){
      font-weight: 700;
      font-size: 16px;
  }
  .created_date{
   // background:url(../../../assets/img1/teal_rec.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 194px;
    font-weight: 400;
    font-size: 13px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: #323C47;
    text-align: center;
  
  }
  .mr10{
      margin-right: 10px;
  }
  .flex30{
    display: flex;
    
    
  }
  .flex30>div{
    padding-left:20px;
    width: calc( 100% / 3);
    line-height: 30px;
    border-right: 1px solid #E5E3EE;
  }
  .flex30>div:last-child{
    border-right: none;
  }
  .name2{
    width: 34%;
      font-weight: 600;
    font-size: 12px;
  
    letter-spacing: 0.01em;
    color: #323C47;
  
  }
  .value2{
    width: 66%;
    font-weight: 400;
  font-size: 12px;
  
  letter-spacing: 0.01em;
  color:  #323C47;
  
  }
 
  .flex30>div:last-child .name2{
    width: 45%;
  }
  .flex30>div:last-child .value2{
    width: 55%;
  }
  .item .tablehead>div,.item .tablebody>div{
  
    width: calc(100% / 4);
  }
  .item .tabletotal{
     border-bottom:1px solid #DFE5F0;
    background: #fff;
    box-shadow:none;
  
  }
  .item .tabletotal>div{
    width: calc(100% /4);
  }
    .sale .table_body>div,.sale .table_heading>div{
    width: calc((100% - 100px) / 6);
  }
  .sale .table_heading>div:last-child,.sale .table_body>div:last-child{
    width: 100px;
  }
  .sale .table_heading>div:nth-child(10),.sale .table_body>div:nth-child(10){
    line-height: 18px;
  }
  .div_11{
    border: 1px solid #D5D7DA;
    width: 25%;
    height: 37rem;
    margin: 0px 10px;
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px;
  }
  
  .sale_add .tablehead>div{
  
    width: calc(100% / 6);
  
  }
  
  .sale_add .tablebody>div{
  
    width: calc(100% / 6);
  
  }
  
  .sale_add .tabletotal>div{
  
    width: calc(100% / 6);
  }
  .sale_add .tabletotal>div:nth-child(5){
      font-weight: 700;
      font-size: 16px;
  }
  .file_name{
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #109CF1;
  
  }
    .history .table_body>div,.history .table_heading>div{
    width: calc((100% - 50px) / 5);
  }
  .history .table_heading>div:first-child,.history .table_body>div:first-child{
    width: 50px;
  }
  .nav-item {
    .nav-link {
        font-weight: 600;
        color: #405877;
        padding-bottom: 8px;
        padding-top: 10px;
        cursor: pointer;
        font-size: 13px;
        float: left;
        background: none;
    }
    .active {
        border-bottom: 3px solid #109cf1 !important;
        color: #109cf1 !important;
    }
  }
  .modal {
        width: 100%;
        height: 100%;
       
        justify-content: center;
        align-items: center;
       }
       .right{
         float: left;
         margin: 5px;
       }
   .modal-dialog {
        margin: 0 auto;
        top:10%;
    }
    .modal-header:before{
      display:none;
    }
    .modal-title {
      color: #2B2626;
      font-weight: 600;
      font-size: 13px;
      font-family: 'Open Sans', sans-serif;
      margin-bottom: 0px;
  }
  .errormsg{
    height:10px;
  }
  .help-block{
    color: red;
    margin-bottom: 0%;
    //text-align: center;
    padding-left: 2px;
    }
    .cancel{
      background-color: white;
        color: #109CF1;
        padding: 0px 20px;
        font-size: 12px;
        border: solid 2px #109CF1;
        border-radius: 5px;
        font-weight: 500;
        height: 35px;
        margin-right: 15px;
    }
    .align{
      text-align: center;
    }
    .multiselect{
      width: 330px;
    height: 35px;
    left: 30px;
    top: 63px;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top:20px;
    }
    #deletesModal .modal-dialog {
      width: 350px;
  }
  @media (min-width: 576px){
  #deletesModal .modal-dialog {
      max-width:350px;
  }
  }
  .center{
      text-align: center;
  }
 
  .deleteImg,li{
    float: left;
    margin:3px;
  }
  .p_title{
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.01em;
    //color: #2B2626;
    color:#323C47;
    margin-bottom:5px;
    }
    .has-error .control-label{
      color: black;
      }
      .help-block{
      color: red;
      margin-bottom: 0%;
      
      }
      .text-danger{
        color: red;
        padding-left:2px;
      }
    .scrollable{
      max-height: 70vh;
        overflow-y: auto;
    }
    .dropdown-content1{
      display: none;
      position: absolute;
      background-color: #fff;
      min-width: 200px;
      right: 3px;
      margin-top: 20px;
      top: -100px;
      //top:-11px;
      text-align: left;
      border-radius: 10px;
     a{
  padding-left: 8px;;
     }
      }
      .ser{
        margin:10px 0px;
      }
      .illustration-container {
        display: block;
        .illustration-img {
          width: 40%;
          margin-left: 25%;
        }
      } 
    