<section class="line-wrapper">

    <section class="row pie-filter" [ngClass]="{'hide': !isDataLoaded}">
        <div class="field-wrapper">
            <!-- <label for="duration">Duration</label> -->
            <select name="" id="duration" [(ngModel)]="rangelineSelected" (ngModelChange)="datelineRangeUpdated($event)" class="form-ctrl">
                <option value="1" selected="">Last 7 days</option>
                <option value="2">This Month</option>
                <option value="3">Last 30 Days</option>
                <option value="4">Last Month</option>
                <option value="5">Last 3 Months</option>
            </select>
        </div>
    </section>
    <section class="row" [ngClass]="{'hide': !isDataLoaded}">
        <div id="lineContainer">
        </div>
    </section>

    <div style="padding: 5px;" [ngClass]="{'hide': isDataLoaded}">
        Loading Data...
    </div>

</section>