@import "../../../../assets/css/common/common.scss";
@import "../../../../assets/css/common/grid.scss";
@import "../../../../assets/css/common/variables.scss";
@import "../../../../assets/css/common/common-web.scss";
@import "../../../../assets/css/style.scss";
@import "../../../../assets/css/wrapper.scss";

.multiselect-wrapper {
  padding: 5px;
  border: 1px solid $border-color;
  z-index: 100;
  min-width: 288px;
  max-height: 350px;
  overflow: scroll;

  ::-webkit-scrollbar {
    display: block;
  }
}

.dropdown1::before {
  position: absolute;
  content: "▼";
  top: 37px;
  right: 5px;
  font-size: 10px;
}

.headerLink {
  width: 100%;
  border-radius: .25rem;
}

.row{
  margin: 0;
}

.form-wrapper {
  background: transparent;
  margin: 10px 0;
  align-content: center;

  label {
    padding-left: 10px;
    font-size: 12px;
    font-weight: 400;
    color: 84f6;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    width: 100%;
  }
 .text-label{
  font-size: 13px;
 }
  .form-ctrl {
    background: white;
    border: 1px solid rgba(119, 119, 119, 0.4196078431372549);
    width: 100%;
    padding-left: 10px;
    margin-left: 10px;
    height: 35px;
    padding: 0 5px;
    font-weight: 400;
    font-size: 14px;
    color: black;
  }
}

.login-tube nav > ul > li .dropdown {
  min-width: 205px;
}

.made-out {
  font-size: 12px;
  color: #666666;
  text-transform: uppercase;
}

.made {
  position: relative;
  margin-top: 17px;
  left: 15%;
  right: -15%;
  bottom: -27px;
}

.sky-form {
  height: -18px;

  ::-webkit-scrollbar {
    display: block;
  }

  .sky-inner {
    height: 32px;
    overflow: auto;
  }
}

.header {
  background: #fff;
  -webkit-box-shadow: 0 0 2px 2px #dadada;
  box-shadow: 0 0 2px 2px #dadada;
  border-radius: 10px;
}

.fee-filter {
  background: #fff;
  width: 100%;

  &.long {
    .filter-btn {
      padding: 25px 0 0;
    }
  }

  .filter-btn {
    padding: 10px 0 0;
  }

  .radio-group {
    padding-top: 30px;

    .field-radio-wrapper .form-radio:checked+label:before {
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 50%;
      left: 3px;
      top: 3px;
    }
  }

  .field-wrapper {
    &.datePickerBox {
      &:after {
        content: '';
        background: url("/./assets/images/calendar.svg") no-repeat;
        position: absolute;
        right: 20px;
        top: 23px;
        width: 21px;
        height: 21px;
        z-index: 0;
      }
    }
  }
}

.fee-info {
  width: 100%;

  ul {
    padding: 20px 5px;

    li {
      display: inline-block;

      &.key {
        font-weight: 400;
        color: #777;
        text-transform: capitalize;
      }

      &.value {
        font-weight: 600;
        color: #000;
      }
    }
  }

  .form-ctrl {
    width: 50%;
    float: right;
  }
}

.fee-table {
  width: 100%;
  height: 400px;
  margin-top: 50px;
}
