<div class="page-content">
    <div class="head_padding">
      <div class="w98 display">
        <div class="page_heading">
          <p>Approve Leave</p>

        </div>
        <div>
          <!-- <a href="" class="mr10"><img src="../../../assets/img/email.svg" title="Send Report to email"></a> -->
          <a  class="mr10" (click)="downloadPdf()"><img src="../../../assets/img/pdf.svg" title="PDF Preview"></a>

          <!-- <a href="" class="mr10"><img src="../../../assets/img/print.svg" title="Print Report"></a> -->
        </div>
      </div>
    </div>
    <input type="text" class="searchinput" (keyup)="searchInputs(search)" name="searchInput" [(ngModel)]="searchInput" placeholder="Search" #search>

    <div class="w98">

      <div class="leave_pr">
            <div class="table_heading">
              <div>
               #
              </div>
              <div>Applicant</div>
              <div>Role</div>
              <div>Category</div>
              <div>Date Applied</div>
              <div>From</div>
              <div>To</div>
              <div>Days</div>
              <div>Status</div>
              <div>Action</div>
            </div><br>
            <div class="empty_page" *ngIf="leaveApplicationList.length == 0">
              <img src="../../../assets/images/empty_image2.png">
              </div>
            <!-- <div class="table_body">
              <div>
                1
              </div>
              <div>
                Sunil
              </div>
              <div>
                Teacher
              </div>
              <div>
                Sick Leave
              </div>
             <div>
               01-02-2020
             </div>
             <div>
               01-02-2020
             </div>
             <div>02-02-2020</div>
             <div>
               2
             </div>
             <div>
               <span class="pending">Pending</span>
             </div>
              <div>
                <a  class="mr10" ><img src="../../../assets/img/approve.svg" title="Approve" class="group18"></a>
                <a href="" ><img src="../../../assets/img/reject.svg" title="Reject" class="group18" ></a>
              </div>
            </div> -->
            <div class="table_body" *ngFor="let array of leaveApplicationList;let i=index">
              <div>
                {{i+1}}
              </div>
              <div>
                {{array.applied_by_name}}
              </div>
              <div>
                {{array.applied_by_role}}
              </div>
              <div>
                {{array.type.name}}
              </div>
             <div>
               {{array.applied_on}}
             </div>
             <div>
               {{array.from}}
             </div>
             <div> {{array.to}}</div>
             <div>
               {{array.no_of_days}}
             </div>
             <div>
               <span [ngClass]="{'reject': array.status == 'REJECTED','pending': array.status == 'PENDING' ,'approved': array.status == 'APPROVED' ,'denied' : array.status == 'CANCELLED'}">{{array.status == 'CANCELLED'  ?  'Withdraw' : array.status}}</span>
             </div>
              <div>
                <div *ngIf="array.status == 'REJECTED'">
                <p style="color: #109CF1;" disabled>Leave Withdraw </p>
                </div>
                <div  *ngIf="array.status != 'REJECTED'">
                <a  class="mr10" (click)="approveLeave(array.id)"><img src="../../../assets/img/approve.svg" title="Approve" class="group18"></a>
                <a (click)="getPermissionLeave(array.id)" ><img src="../../../assets/img/reject.svg" title="Reject" class="group18" ></a>
                </div>
              </div>
            </div>
            </div>
          </div>
          <!-- use image only when page is empty,table body class element will not be present -->
    <!-- <div class="white bottom_button bottom_pagignation"> -->
      <!-- <div class="w98"> -->
      <!-- pagignation div -->
      <!-- <div class=" flex"> -->
        <!-- <div class="w20">
          <p>Showing <span>1</span> to <span>100</span> of <span>831</span></p>
        </div>
        <div class="w10">
          <p>Total <span>9</span> Pages</p>
        </div> -->
        <!-- <div class="w40">
          <p>Records per Page  
            <select>
            <option>9</option>
            </select>
          </p>
        </div> -->
        <!-- <div class="w30" >
         <span> <p>Previous <a><span class="active_circle number" >1</span></a> <a><span class="number">2</span></a> <a><span class="number">3</span></a> <a><span class="next">Next</span></a></p></span>
        </div> -->


        <div class="row filter-res pagination" #pager id="pager" style="width: 100%;">
          <div class="c-lg-12 c-md-12 c-sm-12 align-right">
            <pagination (goPage)="fetchTableDataByPage($event)" (goNext)="fetchNext()" (goPrev)="fetchPrevious()"
              [pagesToShow]="10" [page]="leaveApllicationmodel.pageOffset" [perPage]="leaveApllicationmodel.pageSize"  [sizeArr]="varJson.sizeArr"
              (sizeChange)="updateTableBatchSize($event)"  [count]="varJson.total_item">
            </pagination>
          </div>
        </div>


      <!-- </div> -->

    <!-- </div> -->




    
  <!-- </div> -->

</div>

