@import "./src/assets/css/common/variables.scss";
.table-responsive {
    tr {
        td {
            &:first-child {
                .field-checkbox-wrapper {
                    overflow: visible;
                }
            }
        }
    }
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #eee;
    margin-left: 1%;
    width: 98%;
}

.has-value {
    label {
        transform: translateY(-5px);
    }
}

.setting-footer {
  background-color: white;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 5;
  width: 86%;
  height: 60px;
  // box-shadow: 0px 1px 10px 0px;
  border-top: 1px solid rgba(10,10,10,0.2);
  .save-buttons {
    position: absolute;
    right: 50px;
    bottom: 15px;
    .save {
      padding: 7px 10px;
      background: #0084f6;
      color: white;
    }
    .cancel {
      padding: 7px 10px;
      color: #909090;
    }
  }
}

.setting-full {
    display: flex;
    margin-top: 0px;
    overflow: hidden;
    ::-webkit-scrollbar {
        display: block;
    }
    .row {
        margin: 0px 5px;
    }
    .setting-left {
        height: 100vh;
        width: 15%;
        z-index: 10;
        background-color: white;
        border-right: 1px solid #dcdcdc;
        overflow-x: hidden;
        overflow-y: auto;
        position: fixed;
        // margin-top: -1%;
        ul {
            height: 100%;
            li {
                border-bottom: 1px solid rgba(211, 212, 213, 0.5);
                font-size: 14px;
                font-weight: 600;
                background: white;
                padding: 10px;
                padding-left: 20px;
                // text-align: center;
                span {
                    // margin-left: 20px;
                    a {
                        color: black;
                    }
                    i {
                        display: none;
                    }
                }
                &.active {
                    background: #0084f6;
                    span {
                        // margin-left: 20px;
                        a {
                            color: white;
                        }
                    }
                }
                &:hover {
                    background: #0084f6;
                    span {
                        margin-left: 20px;
                        a {
                            color: white;
                        }
                    }
                }
            }
        }
    }
    .setting-right {
      width: 82%;
      margin-left: 18%;
      margin-bottom: 10px;
      /* padding: 15px; */
      /* padding-left: 40px; */
      padding-bottom: 70px;
      padding: 1%;
        tr {
            td {
                &.tableHeader {
                    background-color: #e0eaec !important;
                    padding: 5px 15px !important;
                    font-size: 14px !important;
                    font-weight: 600 !important;
                }
                span {
                    &.i-class {
                        width: 15px !important;
                        height: 15px !important;
                        color: #0084f6 !important;
                        border: 1px solid #0084f6 !important;
                        border-radius: 50% !important;
                        padding: 0px 1px !important;
                        margin-left: 3px !important;
                        font-size: 12px !important;
                        line-height: 14px !important;
                        font-weight: bolder !important;
                    }
                }
            }
        }
        padding-bottom: 70px;
        .checkboxes {
            padding: 10px 0px;
            label {
                color: #585858;
                font-size: 0.9em;
                font-weight: bold;
                span {
                    color: #0084f6;
                    border: 1px solid #0084f6;
                    border-radius: 50%;
                    padding: 0px 6px;
                    margin-left: 3px;
                    font-size: 0.95em;
                    line-height: 20px;
                    font-weight: bolder;
                    &.i-class {
                        width: 15px !important;
                        height: 15px !important;
                        color: #0084f6 !important;
                        border: 1px solid #0084f6 !important;
                        border-radius: 50% !important;
                        padding: 0px 1px !important;
                        margin-left: 3px !important;
                        font-size: 12px !important;
                        line-height: 14px !important;
                        font-weight: bolder !important;
                    }
                }
                p {
                    color: #a2a2a2;
                    font-weight: normal;
                }
            }
        }
        .sms-setting-wrapper {
            margin-right: 10px;
            overflow-x: hidden;
            // border-top: 1px solid #dcdcdc;
            // border-bottom: 1px solid #dcdcdc;
            // border-left: 2px solid #dcdcdc;
            // border-right: 2px solid #dcdcdc;
            border-radius: 5px;
            overflow-y: hidden;
            table {
              overflow-x: hidden;
                tbody {
                    .sec-row {
                        height: 40px;
                        td {
                            color: #a2a2a2;
                            font-weight: normal !important;
                            &:nth-child(2),
                            &:nth-child(3),
                            &:nth-child(4),
                            &:nth-child(5),
                            &:nth-child(6) {
                                padding: 5px;
                            }
                        }
                    }
                    tr {
                        background-color: white;
                        border-bottom: 2px solid rgba(220, 220, 220, 0.2196078431372549);
                        height: 45px;
                        td {
                            &.label-box {
                                width: 100%;
                                position: relative;
                                top: 0px;
                            }
                            &:first-child {
                                font-size: 12px;
                                padding-left: 15px;
                                font-weight: bold;
                                color: #1e2328;
                                span {
                                    color: #0084f6;
                                    border: 1px solid #0084f6;
                                    border-radius: 50%;
                                    padding: 0px 6px;
                                    margin-left: 3px;
                                    font-size: 0.95em;
                                }
                            }
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
        // .examReportWrapper {
        //     .row {
        //         margin: 0px 5px;
        //         .exam-table-wrapper {
        //             overflow-x: hidden;
        //             // border-top: 1px solid #dcdcdc;
        //             // border-bottom: 1px solid #dcdcdc;
        //             // border-left: 2px solid #dcdcdc;
        //             // border-right: 2px solid #dcdcdc;
        //             border-radius: 5px;
        //             .field-checkbox-wrapper {
        //                 width: 40%;
        //                 height: auto;
        //                 margin-top: 10px;
        //             }
        //             .field-wrapper {
        //                 height: auto;
        //                 margin-top: 10px;
        //             }
        //             table {
        //                 tbody {
        //                     tr {
        //                         background-color: white;
        //                         border-bottom: 2px solid rgba(220, 220, 220, 0.2196078431372549);
        //                         height: 45px;
        //                         td {
        //                             padding: 15px 15px;
        //                             text-align: left;
        //                             .row {
        //                                 margin: 0px 5px;
        //                                 margin-top: 10px;
        //                                 margin-bottom: 10px;
        //                                 span {
        //                                     color: #0084f6;
        //                                     border: 1px solid #0084f6;
        //                                     border-radius: 50%;
        //                                     padding: 0px 6px;
        //                                     margin-left: 3px;
        //                                     font-size: 0.95em;
        //                                     line-height: 20px;
        //                                     font-weight: bolder;
        //                                 }
        //                             }
        //                         }
        //                     }
        //                 }
        //             }
        //         }
        //         .checkbox-bundle-wrapper {
        //             margin-top: 10px;
        //             margin-bottom: 10px;
        //         }
        //         .rank-wrapper {
        //             margin-top: 10px;
        //             margin-bottom: 10px;
        //         }
        //     }
        // }
        .fee-content-wrapper {
            .row {
                .fee-table-wrapper {
                    // overflow-x: hidden;
                    // border-top: 1px solid #dcdcdc;
                    // border-bottom: 1px solid #dcdcdc;
                    // border-left: 2px solid #dcdcdc;
                    // border-right: 2px solid #dcdcdc;
                    border-radius: 5px;
                    .field-checkbox-wrapper {
                        width: 40%;
                        height: auto;
                        margin-top: 10px;
                        overflow: visible;
                    }
                    .field-wrapper {
                        height: auto;
                        margin-top: 10px;
                    }
                    table {
                        tbody {
                            tr {
                                background-color: white;
                                border-bottom: 2px solid rgba(220, 220, 220, 0.2196078431372549);
                                height: 45px;
                                td {
                                    padding: 15px 15px;
                                    text-align: left;
                                    .row {
                                        margin: 0px 5px;
                                        margin-top: 10px;
                                        margin-bottom: 10px;
                                        label {
                                            span {
                                                color: #0084f6;
                                                border: 1px solid #0084f6;
                                                border-radius: 50%;
                                                padding: 0px 6px;
                                                margin-left: 3px;
                                                font-size: 0.95em;
                                                line-height: 20px;
                                                font-weight: bolder;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .content-scroll {
                // max-height: 380px;
                overflow-x: hidden; // overflow-y: scroll;
                border: 1px solid #777;
            }
        }
        
        // .report-content-wrapper {
        //     .row {
        //         .report-table-wrapper {
        //             overflow-x: hidden;
        //             // border-top: 1px solid #dcdcdc;
        //             // border-bottom: 1px solid #dcdcdc;
        //             // border-left: 2px solid #dcdcdc;
        //             // border-right: 2px solid #dcdcdc;
        //             border-radius: 5px;
        //             .field-checkbox-wrapper {
        //                 width: 40%;
        //                 height: auto;
        //                 margin-top: 10px;
        //             }
        //             .field-wrapper {
        //                 height: auto;
        //                 margin-top: 10px;
        //             }
        //             table {
        //                 tbody {
        //                     tr {
        //                         background-color: white;
        //                         border-bottom: 2px solid rgba(220, 220, 220, 0.2196078431372549);
        //                         height: 45px;
        //                         td {
        //                             padding: 15px 15px;
        //                             text-align: left;
        //                             .row {
        //                                 margin: 0px 5px;
        //                                 margin-top: 10px;
        //                                 margin-bottom: 10px;
        //                                 label {
        //                                     span {
        //                                         color: #0084f6;
        //                                         border: 1px solid #0084f6;
        //                                         border-radius: 50%;
        //                                         padding: 0px 6px;
        //                                         margin-left: 3px;
        //                                         font-size: 0.95em;
        //                                         line-height: 20px;
        //                                         font-weight: bolder;
        //                                     }
        //                                 }
        //                             }
        //                         }
        //                     }
        //                 }
        //             }
        //         }
        //     }
        // }
//         .misc-content-wrapper {
//             .row {
//                 .misc-table-wrapper {
//                     overflow-x: hidden;
//                     // border-top: 1px solid #dcdcdc;
//                     // border-bottom: 1px solid #dcdcdc;
//                     // border-left: 2px solid #dcdcdc;
//                     // border-right: 2px solid #dcdcdc;
//                     border-radius: 5px;
//                     .field-checkbox-wrapper {
//                         width: 40%;
//                         height: auto;
//                         margin-top: 10px;
//                     }
//                     .field-wrapper {
//                         height: auto;
//                         margin-top: 10px;
//                     }
//                     table {
//                         tbody {
//                             tr {
//                                 background-color: white;
//                                 border-bottom: 2px solid rgba(220, 220, 220, 0.2196078431372549);
//                                 height: 45px;
//                                 td {
//                                     padding: 15px 15px;
//                                     text-align: left;
//                                     .row {
//                                         margin: 0px 5px;
//                                         margin-top: 10px;
//                                         margin-bottom: 10px;
//                                     }
//                                 }
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
}
.middle-section {
    // padding: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
    box-sizing: border-box;
}

.showDivClass {
    display: '';
}

.hideDivClass {
    display: none;
}

.extraMarginTen {
    margin-top: 10px;
    margin-bottom: 10px;
}

@media only screen and (max-width:800px) {
    .setting-full {
        .setting-left {
            width: 5%;
            ul {
                li {
                    font-size: 1.2em;
                    line-height: 20px;
                    padding-left: 8px;
                    span {
                        a {
                            display: none;
                        }
                        i {
                            display: block;
                        }
                    }
                }
            }
        }
        .setting-right {
            width: 95%;
            margin-left: 5%;
            padding-left: 20px;
            .sms-setting-wrapper {
                table {
                    tbody {
                        td {
                            font-size: 0.7em;
                            .field-wrapper {
                                label {
                                    white-space: nowrap;
                                }
                            }
                        }
                        .sec-row {
                            height: 40px;
                            td {
                                font-size: 0.8em;
                            }
                        }
                    }
                }
                .table-responsive {
                    tr {
                        td {
                            &:first-child {
                                .field-checkbox-wrapper {
                                    overflow: visible;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

////// Turn off spinner
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

//// Time picker changes
/////////////////////////////////////////////////////
.form-wrapper {
    background: transparent;
    margin: 5px 0px;
    label {
        font-size: 12px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.77);
        padding-bottom: 2px;
        text-decoration: none;
        text-transform: uppercase;
        -webkit-font-smoothing: antialiased;
    }
    .side-form-ctrl {
        background: white;
        border: 1px solid rgba(119, 119, 119, 0.4196078431372549);
        width: 100%;
        padding: 8px 5px;
        font-weight: 600;
        font-size: 14px;
        color: black;
        &.bsDatepicker {
            padding: 5px;
            width: 100%;
        }
    }
    &.timepick {
        display: inline !important;
        width: 50%;
        padding: 1px 0px;
        .tbox {
            width: 100%;
            .times {
                display: inline-block;
            }
            .side-form-ctrl {
                background: white;
                border: 1px solid rgba(119, 119, 119, 0.4196078431372549);
                width: 100%;
                padding: 2px 5px;
                font-weight: 600;
                font-size: 12px;
                color: black;
                &.mins {
                    width: 80px;
                }
                &.mers {
                    width: 50px;
                }
            }
        }
    }
}

.qInfoIcon {
    width: 20px;
    margin-left: 5px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 50%;
    display: block;
    text-align: center;
    box-sizing: border-box;
    line-height: 20px;
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
    box-shadow: 0px 0px 1px 0px #ccc inset;
    color: #888;
    transition: all 0.2s linear;
    &:hover {
        border-color: $header-bg;
        box-shadow: 0px 0px 1px 0px $header-bg inset;
        color: $header-bg;
    }
}

.tooltip-box-field {
    width: 150px;
    white-space: nowrap;
    min-height: 41px;
    line-height: 18px;
    padding: 5px 5px;
    overflow: visible;
    color: black;
    font-weight: bold;
    &.lg {
        width: 200px;
        white-space: nowrap;
        min-height: 50px;
        line-height: 20px;
        padding: 5px 5px;
    }
    &.xl {
        width: 300px;
        white-space: nowrap;
        min-height: 50px;
        line-height: 20px;
        padding: 5px 5px;
    }
    &.sm {
        width: 100px;
        white-space: nowrap;
        min-height: 40px;
        padding: 5px 5px;
    }
}

#tool1 {
    float: left;
    display: inline;
    position: relative;
    left: 62px;
    margin-top: -16px;
}

#tool2 {
    float: left;
    display: inline;
    position: relative;
    margin-left: 27px;
    margin-top: -16px;
}

#tool3 {
    width: 250px;
    padding: 5px 15px;
}

tr {
    td {
        .margin-line {
            margin-left: -15px;
            line-height: 25px;
        }
    }
}

.line-break {
    opacity: 1;
    left: 28px;
    top: -30px;
    white-space: nowrap;
}

.examGrade {
    .tooltip-box-field {
        width: 225px;
        top: -38px;
    }
    & ::after {
        top: 35px;
    }
}

.pointOfComtact {
    .tooltip-box-field {
        width: 180px;
        top: -30px;
    }
    & ::after {
        top: 30px;
    }
}

.absentThreshold {
    .tooltip-box-field {
        width: 400px;
        top: -5px;
    }
}

.allowRegistration {
    .tooltip-box-field {
        width: 480px; // top: -5px;
    }
}

.interval-box {
    padding: 3px 5px !important;
    margin-top: -5px !important;
    background: transparent;
}
.thres-lbl-2{
    color: grey!important;
    border-radius: 0 !important;
    border: 0 !important;
    padding:  0 !important;
    margin: 0 !important
}
.sectionDevideContainer{
    margin-bottom: 30px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
}
.m-0{
    margin: 0 !important;
}
.webkitBox{
    display: -webkit-box;
    -webkit-box-align: center;
}
.table-responsive{
    overflow-x: inherit !important;
    margin-bottom: 0;
}
.field-wrapper{
    .form-ctrl{
        border: 1px solid rgba(119, 119, 119, 0.419608);
    }
}
.c-sm-5, .c-md-5, .c-lg-5{
    margin-right: 5% !important;
}
.textClass{
    padding: 0 !important;
    margin-left: 0 !important;    
    font-weight: normal !important;
    color: black !important;
    border: none !important;
}
.tableDataContainer{
    display: flex;
    flex-direction: row;
    padding: 10px !important;
    border-bottom: 1px solid #eee;
}
.tableValueContainer{
    display: flex;
    flex-direction: column;
    width: 25%;
}

.addIP{
    margin-top: 25px;
    width: 50px;
    padding: 5px;
    border: 1px solid #0084f6;
    color: #0084f6;
    border-radius: 4px;
    text-align: center;    
}

.displayComp {
    height: 0%;
     .view-comp {}
     .edit-comp {
         display: none
     }
 }
 .editComp {
     .view-comp {
         display: none
     }
     .edit-comp {}
 }

 @media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      // width: 200px;
      -webkit-appearance: none;
      background-color: #337ab7;
    }
  
    input[type='range']::-webkit-slider-thumb {
      width: 0px;
      -webkit-appearance: none;
      height: 10px;
      cursor: ew-resize;
      box-shadow: -8px 0 0 8px orange;
    }
  
  }