<app-home></app-home>
<div class="main" style="padding: 2%;padding-top: 2px;">
  <div class="search-filter">
    <div class="filter-item-1">
      <div class="header-item">
        <span style="font-weight: 600;">Product</span>
        <select class="header-select-box" name="" [(ngModel)]="searchFilter.productId">
          <option value="All">Select Product</option>
          <option *ngFor="let data of productList" value="{{data.id}}" title="{{data.title}}">
            <span> {{ (data.title.length>30) ? (data.title | slice:0:30) + '...' : data.title }} </span>
          </option>
        </select>
      </div>

      <div class="header-item">
        <span style="font-weight: 600;">Status</span>
        <select class="header-select-box" name="" [(ngModel)]="searchFilter.status">
          <option value="-1">Select Status</option>
          <option value=1>Active</option>
          <option value=2>Inactive </option>
          <option value=3>Expired</option>
        </select>
      </div>
      <div class="go-btn-container" style="margin-right: 1%;">
        <button type="button" name="button" class="fullBlue gobtn" (click)="fectchTableDataByPage(1)">GO</button>
      </div>
      <div class="go-btn-container">
        <button type="button" name="button" class="fullBlue gobtn" (click)="clearFilter()">Clear</button>
      </div>
    </div>

    <div class="filter-item-2">
      <button type="button" name="button" class="add-class-btn" routerLink="../coupon/add" style="margin-right: 15px;">
        <i class="fa fa-plus" aria-hidden="true"></i>
        &nbsp;
        Add Coupon
      </button>
    </div>
    <!-- Added for export to excel
    Added by Ashwini Kumar Gupta -->
    <div style="margin-top: 1%;" *ngIf="this.varJson.total_items != 0">

      <i class="fa fa-file-excel-o" style="font-size: 28px;color: green;cursor: pointer;" aria-hidden="true"
        (click)="exportToExcel()"></i>
    </div>
    <!-- End -->
  </div>

  <div class="table_container" style="padding: 1%;">
    <div class="table_header">
      <div class="table_header_item small">
        Offer code
      </div>
      <div class="table_header_item large">
        Product Name
      </div>
      <div class="table_header_item small">
        Start Date
      </div>
      <div class="table_header_item small">
        End Date
      </div>
      <div class="table_header_item small" style="width: 95px;text-align: center;">
        Status
      </div>
      <div class="table_header_item action">
        Action
      </div>
    </div>

    <div class="table-value-outer-container" *ngIf="couponData?.length!=0 && couponData!=null">
      <div class="table_value" *ngFor="let data of couponData">
        <div class="table_value_item small" title="{{data.offer_code}}">
          {{ (data.offer_code.length>30) ? (data.offer_code | slice:0:30) + '...' : (data.offer_code) }}
        </div>
        <div class="table_value_item large" title="{{data.product_name}}">
          <span *ngIf="data.product_name.length<=2">
            <span class="product_List_Container" *ngFor="let product of data.product_name">
              {{ (product.length>15) ? (product | slice:0:15) + '...' : product }}
            </span>
          </span>
          <span *ngIf="data.product_name.length>2">
            <span class="product_List_Container">
              {{ (data.product_name[0].length>15) ? (data.product_name[0] | slice:0:15) + '...' : data.product_name[0] }}
            </span>&nbsp;
            <span class="product_List_Container">
              {{ (data.product_name[1].length>15) ? (data.product_name[1] | slice:0:15) + '...' : data.product_name[1] }}
            </span>
            ...
          </span>
        </div>
        <div class="table_value_item small" *ngIf="data.strat_date">
          {{data.strat_date}}
        </div>
        <div class="table_value_item small" *ngIf="!data.strat_date">
          -
        </div>
        <div class="table_value_item small" *ngIf="data.end_date">
          {{data.end_date}}
        </div>
        <div class="table_value_item small" *ngIf="!data.end_date">
          -
        </div>
        <div class="table_value_item small" style="display: block;text-align: center;padding-top: 2px;" [ngClass]="{'active':data.status=='Active',
                  'inactive':data.status=='Inactive',
                  'expired':data.status=='Expired'}">
          {{data.status}}
        </div>
        <div class="table_value_item action">
          <i class="fa fa-edit" style="font-size: 16px;  color:#0084f6;cursor: pointer;" title="Edit"
            routerLink="../coupon/edit/{{data.offer_id}}"></i>&nbsp;&nbsp;
          <i data-toggle="modal" data-target="#myModal" class="glyphicon glyphicon-trash" (click)="setdelete(data)"
            style="font-size: 14px;  color:red;cursor: pointer;" title="Delete"></i>
        </div>
      </div>
    </div>
    <section *ngIf="couponData?.length == 0 || couponData == null">
      <div class="illustration-container">
        <img src="./assets/images/course_planner/blank-illustration.svg" alt="illustration" class="illustration-img">
      </div>
    </section>


    <div class="row filter-res pagination" #pager id="pager" style="width: 100%;margin: 0;">
      <div class="c-lg-12 c-md-12 c-sm-12 align-right">
        <pagination (goPage)="fectchTableDataByPage($event)" (goNext)="fetchNext()" (goPrev)="fetchPrevious()"
          [pagesToShow]="10" [page]="varJson.PageIndex" [perPage]="varJson.displayBatchSize" [sizeArr]="varJson.sizeArr"
          (sizeChange)="updateTableBatchSize($event)" [count]="varJson.total_items">
        </pagination>
      </div>
    </div>
  </div>

</div>


<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-sm" style="margin-top: 15%;">

    <div class="modal-content">

      <div class="modal-body">
        <p style="font-size: 14px;">Do you really want to delete?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" style="font-size: 12px;">Close</button>
        <button type="button" class="btn btn-default delete" data-dismiss="modal" (click)='deleteCoupon(tempData)'
          style="font-size: 12px;">Delete</button>
      </div>
    </div>

  </div>

</div>