<div class=" clearFix">

  <div class="topic_details">
    <section class="header-section">
      <div>
        <div class="header-title">
          <h2>
            <!-- <a routerLink="/view/course/create/topic/home" style="color: #0084f6;">
              Topic
            </a> -->
            <!-- <i style="font-family: 'FontAwesome';" class="fas fa-angle-right"></i>  -->
            Bulk Upload
          </h2>
        </div>
      </div>
    </section>
    <br>
    <div class="filter_div" style="border-bottom: 1px solid lightgrey;    margin-top: -50px;">
      <div class="field-wrapper" style="margin-left:0px">
        <label *ngIf="!isProfessional">Standard<span class="text-danger">*</span></label>
        <label *ngIf="isProfessional">Master Course<span class="text-danger">*</span></label>
        <div class="dropdown-div">
          <select class="dropdown" [(ngModel)]="filterData.standard_id"
            (change)="getAllSubjectListFromServer($event.target.value)">
            <option value="-1"></option>
            <option *ngFor="let standard of standardData;let i=index; " [value]="standard.standard_id">
              {{standard.standard_name}}</option>
          </select>
        </div>
      </div>
      <div class="field-wrapper">
        <label *ngIf="!isProfessional">Subject<span class="text-danger">*</span></label>
        <label *ngIf="isProfessional">Course<span class="text-danger">*</span></label>
        <div class="dropdown-div">
          <select class="dropdown" [(ngModel)]="filterData.subject_id">
            <option value="-1"></option>
            <option *ngFor="let subject of subjectData;let i=index; " [value]="subject.subject_id">
              {{subject.subject_name}}</option>
          </select>
        </div>
      </div>
      <!-- <button class="btn fullBlue" style="margin-bottom: 5px;" [disabled]="(filterData.standard_id==-1) || (filterData.subject_id==-1)" (click)="getTopicDetails('view')" >Upload</button> -->
      <div class="pull-right">
        <a>
          <input type="button" value="Download Template" class="btn fullBlue" data-backdrop="static"
            (click)="downloadBulkTemplate()" style="margin-top: 18px; font-size: 12px;" />
        </a>
        <a id="template_link" href="#"></a>
        <button class="btn fullBlue" style="margin-top: 18px; font-size: 12px;" (click)="fetchBulkUploadStatusData()">
          Bulk Upload Report
        </button>
      </div>
    </div>
  </div>

  <!--====================================middle <Main> section==========================-->
  <section class="middle-main clearFix" id="bulkEnquiryMain">
    <div class="file-upload-box">
      <div class="select-file-upload">
        <h5 style="font-weight: 500;">Select a file to upload</h5>
        <div class="file-wrapper">
          <ul>
            <li>
              <!-- accept="application/vnd.ms-excel" -->
              <p-fileUpload #fileUpload customUpload="true" type="submit"
                (uploadHandler)="uploadHandler($event, fileUpload)" [showCancelButton]="false">
              </p-fileUpload>

              <div class="uploadProcessAndFileName clearfix" *ngIf="isUploadingXls">
                <div class="file-uploaded">
                  {{fileLoading}}
                </div>
                <div class="progress-bar-wrapper">
                  <div class="upload-bar">
                    <div id="progress-width"></div>
                  </div>
                  <span>{{progress}} %</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </section>



  <!-- Download Template Modal -->
  <div class="modal fade" id="downloadTemplate" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="padding: 1em;">
        <div class="modal-header">
          <h4 class="modal-title" style="width: 99%;font-weight: 600;">Download Template</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body body-container">
          <div class="field-wrapper">
            <label *ngIf="!isProfessional">Standard<span class="text-danger">*</span></label>
            <label *ngIf="isProfessional">Master Course<span class="text-danger">*</span></label>
            <div class="dropdown-div">
              <select class="dropdown" [(ngModel)]="downloadTempData.standard_id"
                (change)="getAllSubjectListForDownloadTemp($event.target.value)">
                <option value="-1">Select Standard</option>
                <option *ngFor="let standard of standardData;let i=index; " [value]="standard.standard_id">
                  {{standard.standard_name}}</option>
              </select>
            </div>
          </div>
          <div class="field-wrapper">
            <label *ngIf="!isProfessional">Subject<span class="text-danger">*</span></label>
            <label *ngIf="isProfessional">Course<span class="text-danger">*</span></label>
            <div class="dropdown-div">
              <select class="dropdown" [(ngModel)]="downloadTempData.subject_id">
                <option value="-1">Select Subject</option>
                <option *ngFor="let subject of templateSubjectData;let i=index; " [value]="subject.subject_id">
                  {{subject.subject_name}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn" (click)="downloadBulkTemplate()">Download </button>
        </div>
      </div>
    </div>
  </div>



  <!-- Bulk Topic Update Status -->
  <div class="modal fade" id="uploadReport" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog " style="width: 700px;margin-left: 30%;    top: 5%;">
      <div class="modal-content" style="padding: 1em;">
        <div class="modal-header">
          <h4 class="modal-title" style="width: 99%;font-weight: 600;">Bulk Topic Update Status</h4>
          <button type="button" style="margin-top: -53px;" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body body-container" style="    margin-top: -36px;">

          <div class="row">
            <div class="" style="height: 60vh;overflow-y: auto;">
              <table>
                <thead>
                  <tr>
                    <th>Created Date</th>
                    <th>Status</th>
                    <!-- <th>Comments</th> -->
                    <th>Total Count</th>
                    <th>Success</th>
                    <th>Failed</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let record of bulkUploadRecords">
                    <td>{{record.created_date}}</td>
                    <td>{{record.statusValue}}</td>
                    <td>{{record.total_count}}</td>
                    <td>
                      <a *ngIf="record.success_path != ''" id="success{{record.list_id}}">
                        Success
                      </a>
                      <span *ngIf="record.success_path == ''">
                        -
                      </span>
                    </td>
                    <td>
                      <a *ngIf="record.failure_path != ''" id="failure{{record.list_id}}">
                        Fail
                      </a>
                      <span *ngIf="record.failure_path == ''">
                        -
                      </span>
                    </td>
                    <td>
                      <a *ngIf="record.success_path.includes('https://s3-')" style="color: #0084f6;"
                        href="{{record.success_path}}">Generate
                        Report<i class="fa fa-download download-icon" aria-hidden="true"></i></a>
                      <a *ngIf="record.failure_path.includes('https://s3-')" style="color: #0084f6;"
                        href="{{record.failure_path}}">Generate
                        Report<i class="fa fa-download download-icon" aria-hidden="true"></i></a>
                      <a style="color: #0084f6;"
                        *ngIf="record.success_path != '' && !record.success_path.includes('https://s3-') "
                        (click)="genrateReport(record)">Generate Report<i class="fa fa-download download-icon"
                          aria-hidden="true"></i></a>
                      <a style="color: #0084f6;"
                        *ngIf="record.failure_path != '' && !record.failure_path.includes('https://s3-') "
                        (click)="genrateReport(record)">Generate Report<i class="fa fa-download download-icon"
                          aria-hidden="true"></i></a>
                      <span *ngIf="record.failure_path == '' && record.success_path == ''">-</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>