// .product-wrapper {
//     padding: 1%;
//     width: 100%;
//   }
  
//   .row {
//     margin: 0;
//     font-size: 12px;

//     label {
//         float: left;
//         min-width: 120px;
//     }
  
//     .form-control {
//       border: 1px solid #e0e0e0;
//       padding: 6px;
//       border-radius: 4px;
//       display: block;
//       width: 80%;
//       box-sizing: border-box;
//       outline: none;
//       background: #fff;
//       font: 400 12px "Open sans", sans-serif;
//       -webkit-box-shadow: none;
//       box-shadow: none;
//       color: #000;
//       margin-left: 30px;
//     }

//     input[type="radio"] {
//       appearance: radio;
//       width: 1%;
//       float: left;
//     }
   
//     .dropdown-list {
//       max-height: 197px;
//       overflow-y: hidden;
//     }
//   }
    
//   .go-btn-container {
//     display: flex;
//     flex-direction: row;
//     font-size: 12px;
//     color: #3e3d4a;
//     width: auto;
//     margin-left: 20px;
//     .gobtn {
//       border: 1px solid #3a66fa;
//       border-radius: 4px;
//       box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
//       padding: 4px 10px;
//       background: #3a66fa;
//       color: #ffffff;
//       font-weight: 600;
//       height: 30px;
//     //   margin-top: 15px;
//       font-size: 14px;
//     }
//   }


// ========================new-UI======================
.page-content{
  
  background: #F5F5F5;
  height: 100vh;

}
.blue_button {
  background-color: #109CF1;
  color: white;
  padding: 0px 20px;
  font-size: 12px;
  border: none;
  height: 35px;
  line-height: 35px;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}


.white_button {
  background-color: #fff;
  color: #109CF1;
  padding: 0px 20px;
  font-size: 12px;
  border: 1px solid #109CF1;
  height: 35px;
  line-height: 35px;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}

 .field-radio-wrapper .form-radio+label {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height */
  
    letter-spacing: 0.01em;
    //margin-left: -4px;
    color: #334D6E;
  }
  .para{
    width: 100%;
  }
  .text{
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #1A2334;
  }
  input[type="text"]{
    box-sizing: border-box;
    /* border-radius: 5px; */
    width: 336px;
    height: 35px;
    margin-bottom: 16px;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    padding-left: 10px !important;
    letter-spacing: 0.01em;
    color: #000000;
  }
  .container{
    width: 100%;
    background: #FFFFFF;
    //box-shadow: 0px 10px 15px rgb(26 35 52 / 5%);
    /* display: flex; */
    padding: 18px 0px;
    /* margin-right: 1.25%; */
    margin-bottom: 20px;
  }
  .previewDiv{
    background: white;
    width: 97%;
    margin-left: 2%;
  }
  .white_box{
    width: 97%;
    display: flex;
    flex-direction: column;
    background: white;
    margin-left: 2%;
  }
  .webstCre{
    background: white;
    width: 97%;
    margin-left: 2%;
  }
  .domainNote{
    width: 97%;
    display: flex;
    flex-direction: column;
    background: white;
    margin-left: 2%;
  }
  p{
    padding-left: 2%;font-weight: normal;font-size: 13px;
  }
  .domainCret{
    background: white;width: 97%;
    margin-left: 2%;
    height: 25vh;
  }
  
@import url(../website-configuration.component.scss);