.navbar-default {
    background-color: #1da2e8;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-nav>li>a {
    color: #000;
    font-size: 14px;
    font-weight: 400;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #FFF;
    background-color: #0060a3;
}

a {
    cursor: pointer;
}