<proctur-popup [sizeWidth]="'small'">

  <span class="closePopup pos-abs fbold show" close-button (click)="close()">
    <svg class="artdeco-icon" focusable="false" height="24px" preserveAspectRatio="xMinYMin meet" viewBox="0 0 24 24"
      width="24px" x="0" y="0">
      <path class="large-icon"
        d="M20,5.32L13.32,12,20,18.68,18.66,20,12,13.33,5.34,20,4,18.68,10.68,12,4,5.32,5.32,4,12,10.69,18.68,4Z"
        style="fill: currentColor"></path>
    </svg>
  </span>

  <div popup-header class="popup-header-content">
    <h2 style="text-align: center;">{{!editView.editView ? 'Upload File': 'Update File'}}</h2>
  </div>

  <div popup-content class="popup-header-content">

    <div *ngIf="!manualUpload">
      <div class="row">
        <div class="c-lg-8 field-wrapper">
          <label>Select Category</label>
          <select class="form-ctrl" [(ngModel)]="cacategory_id" (ngModelChange)="categoryCheck($event)">
            <option value="-1">Select Category</option>
            <option *ngFor="let i of getCategoryData" [value]="i.category_id">
              {{i.category_name}}
            </option>
          </select>
        </div>
        <div class="c-lg-1">
          <i class="fa fa-upload" title="Upload File" (click)="uploadHandler()"
            style="font-family: 'FontAwesome' ; display: inline-block; font-size: 19px; color: #0d171f; margin-top: 30px;  margin-left: -14px;">
          </i>&nbsp;&nbsp;&nbsp;
        </div>
        <div class="c-lg-3">
          <div class="uploadProcessAndFileName clearfix" *ngIf="isUploadingXls">
            <div class="file-uploaded">
              {{fileLoading}}
            </div>
            <div class="progress-bar-wrapper">
              <div class="upload-bar">
                <div id="progress-width"></div>
              </div>
              <!-- <span>0</span>
              <span style="margin-left: 55%;">100</span> -->
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="type!='' && category_id!=230" style="margin-top: 10px;
      margin-left: 14px;">
        <label>Format supported :
          <span>{{type}}</span>
        </label>
      </div>
      <div class="row" style="margin-left: 2%;">

        <ul *ngFor="let file of customFileArr" style="display: inline-block; width:40%;" class="shadow">
          <div class="row">
            <div class="c-lg-2">
              <li style="display:inline-block;width: 30px;
                  display: inline-block;
                  margin-top: 4px;">
                <img src="assets/images/file_manager/image.svg" style="width: 96px;
                    height: 32px;
                    margin-left: -11px;" *ngIf="category_image.hasOwnProperty(file.fileType)">
                <img src="assets/images/file_manager/xlsx.png" style="width: 96px;
                    height: 32px;
                    margin-left: -11px;" *ngIf="category_docx.hasOwnProperty(file.fileType)">
                <img src="assets/images/file_manager/pdf.png" style="width: 96px;
                    height: 32px;
                    margin-left: -11px;" *ngIf="category_pdf.hasOwnProperty(file.fileType)">
              </li>
            </div>
            <div class="c-lg-10">
              <li style="display: inline-block;">
                File Name : {{file.fileName}}
              </li>
              <li>
                File Type : {{file.fileType}}
              </li>
              <li>
                File Size : {{file.fileSize}}
              </li>
            </div>
          </div>

        </ul>

      </div>
    </div>
    <div *ngIf="manualUpload">
      <div class="row">
        <div class="c-lg-8 field-wrapper">
          <label>Select Category</label>
          <select class="form-ctrl" [(ngModel)]="category_id" (ngModelChange)="categoryCheck()">
            <option value="-1">Select Category</option>
            <option *ngFor="let i of getCategoryData" [value]="i.category_id">
              {{i.category_name}}
            </option>

          </select>
        </div>
        <div class="c-lg-3">
          <div class="uploadProcessAndFileName clearfix" *ngIf="isUploadingXls">
            <div class="file-uploaded">
              {{fileLoading}}
            </div>
            <div class="progress-bar-wrapper">
              <div class="upload-bar">
                <div id="progress-width"></div>
              </div>
              <!-- <span>0</span>
              <span style="margin-left: 55%;">100</span> -->
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="type!='' && category_id!=230 && category_id!=vimeo_category_id" style="margin-top: 10px;
      margin-left: 14px;">
        <label>Format supported :
          <span>{{type}}</span>
        </label>
      </div>
      <div class="row">
        <div class="c-lg-8 field-wrapper"
          *ngIf='category_id!="230" && !editView.editView && category_id!=vimeo_category_id'>
          <label>Choose Multiple Files(Ctrl + ) To Upload</label>
          <input type="file" class="form-ctrl" id="uploadFileControl" name="uploadFileBox" (change)="fillFiles()"
            multiple />
        </div>

        <div class="c-lg-8 field-wrapper"
          *ngIf='category_id=="230" && !editView.editView && category_id!=vimeo_category_id'>
          <label></label>
          <input type="text" class="form-ctrl" placeholder="Please enter URL" id="youtubeUrl" name="youtubeUrl"
            [(ngModel)]="youtubeUrl">
        </div>
        <div class="c-lg-8 field-wrapper" *ngIf='editView.editView'>
          <label>Title</label>
          <input type="text" class="form-ctrl" placeholder="Please enter title" id="youtubeUrl" name="youtubeUrl"
            [(ngModel)]="youtubeUrl">
        </div>

        <div class="c-lg-2" *ngIf="(!editView.editView && category_id!=vimeo_category_id) || editView.editView">
          <button class="btn fullBlue" (click)="uploadHandler()"
            *ngIf="!editView.editView && category_id!=vimeo_category_id" style="margin-top: 4vh;">Upload</button>
          <button class="btn fullBlue" (click)="updateYoutubeURL()" *ngIf="editView.editView"
            style="margin-top: 4vh;">Update</button>
        </div>

        <!-- Developed by - Nalini
                Form to upload vimeo file
               -->
        <div class="c-lg-8 field-wrapper" *ngIf='category_id == vimeo_category_id && !editView.editView'>
          <label>Title</label>
          <input type="text" class="form-ctrl" placeholder="Please enter title" id="youtubeUrl" name="youtubeUrl"
            [(ngModel)]="youtubeUrl">
        </div>
        <form style="height: 100px;" *ngIf="category_id == vimeo_category_id && !editView.editView" #form method="post"
          id="form" enctype="multipart/form-data">
          <div>
            <div class="row">
              <div class="c-lg-9" style="margin-top: 10px">
                <input style="float: left;" type="file" id="file" accept="video/mp4,video/x-m4v,video/*"
                  (change)="onFileChange($event)" name="file_data">
                <div *ngIf="Vimeofile.files?.length" style="margin-left: 15px;float: left;margin-top: 4px;">
                  {{(Vimeofile.files[0].size / 1024) / 1024 | number:'.3-3'}} MB</div>
              </div>
              <div class="c-lg-3">
                <button class="btn fullBlue" (click)="uploadHandler()"> Upload </button>
              </div>

            </div>
          </div>
          <div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="progressBar">
    <div class="c-lg-8 progress-bar-wrapper">
      <div class="upload-bar">
        <div id="progress-width"></div>
      </div>
      <span>{{progress}} %</span>
    </div>
  </div>