<section class="activity-page">
    <section class="clearFix row">
      <!-- left side section -->
      <div class="activity-left pull-left">
        <div class="act-top clearfix">
          <h1 class="pull-left">Activity Page</h1>
          <div class="pull-right act-right-sec">
            <button class="btn">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                <g fill="none" fill-rule="evenodd">
                  <path stroke="#1984F6" d="M-1-1h191v34H-1z" />
                  <g>
                    <path fill="#0084F6" fill-rule="nonzero" d="M7.856 13.359h3.708v1H7.856zM7.856 15.647h4.451v1H7.856zM14.534 15.647h2.97v1h-2.97zM7.856 17.935H20.47v1H7.856z"
                    />
                    <path fill="#0084F6" fill-rule="nonzero" d="M20.443 11.075H6v9.907h18.55v-9.907h-4.107zm3.364 9.144H6.743v-8.381h17.064v8.381z"
                    />
                    <circle cx="22" cy="12" r="3" fill="#FFF" stroke="#0084F6" stroke-width=".5" />
                    <path fill="#0084F6" fill-rule="nonzero" d="M19.856 11.647h4.451v1h-4.451z" />
                    <path fill="#0084F6" fill-rule="nonzero" d="M21.7 14.253v-4.45h1v4.45z" />
                  </g>
                </g>
              </svg>
  
              Add/Send Notification
            </button>
          </div>
        </div>
        <div class="act-bottom clearfix">
          <ul class="actb-wrapper">
            <li class="enquiry-state">
              <div class="actb-top-header clearfix">
                <span class="heading">
                  Enquiry Stats
                </span>
                <button class="pull-right drag-button">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="#0C8AF6" fill-rule="nonzero" d="M19.723 11.927a.487.487 0 0 0-.107-.16l-1.683-1.684a.493.493 0 1 0-.698.697l.842.842h-5.7v-5.7l.878.879a.492.492 0 1 0 .698-.698l-1.72-1.72a.493.493 0 0 0-.697-.001L9.85 6.066a.494.494 0 0 0 .697.698l.843-.842-.001 5.7H5.692l.84-.842a.493.493 0 0 0-.697-.697l-1.683 1.684a.49.49 0 0 0 0 .697l1.72 1.72a.49.49 0 0 0 .698 0 .493.493 0 0 0 0-.697l-.88-.879h5.7v5.7l-.842-.841a.494.494 0 0 0-.697.697l1.684 1.684a.49.49 0 0 0 .697 0l1.721-1.721a.493.493 0 1 0-.698-.698l-.879.88v-5.7h5.702l-.88.878a.494.494 0 0 0 .698.698l1.72-1.72.004-.005a.506.506 0 0 0 .141-.345.496.496 0 0 0-.038-.188z"
                    />
                  </svg>
                </button>
                <button class="pull-right">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <g fill="#0084F6" fill-rule="nonzero">
                      <path d="M18.667 5.5H16.5v-1a.5.5 0 1 0-1 0v1h-3v-1a.5.5 0 1 0-1 0v1h-3v-1a.5.5 0 1 0-1 0v1H5.333C4.598 5.5 4 6.096 4 6.833v11.833C4 19.403 4.597 20 5.333 20h13.334c.736 0 1.333-.597 1.333-1.334V6.833c0-.737-.596-1.333-1.333-1.333zM19 18.666c0 .184-.15.334-.333.334H5.333A.334.334 0 0 1 5 18.666V6.833c0-.184.15-.333.333-.333H7.5v1a.5.5 0 1 0 1 0v-1h3v1a.5.5 0 1 0 1 0v-1h3v1a.5.5 0 1 0 1 0v-1h2.167c.183 0 .333.15.333.333v11.833z"
                      />
                      <path d="M7.5 10h2v1.5h-2zM7.5 12.5h2V14h-2zM7.5 15h2v1.5h-2zM11 15h2v1.5h-2zM11 12.5h2V14h-2zM11 10h2v1.5h-2zM14.5 15h2v1.5h-2zM14.5 12.5h2V14h-2zM14.5 10h2v1.5h-2z"
                      />
                    </g>
                  </svg>
                </button>
                <span class="enquiry-state-date pull-right">
                  22 JAN 2018
                </span>
              </div>
              <div class="enq-state-bottom">
                <div class="enq-left">
  
                </div>
                <div class="enq-right">
                  <div class="enq-state-details">
                    <div class="enq">
                      <div class="enqs-label">
                        <span class=""></span>
                        <label>Total Inquiries</label>
                      </div>
                      <div class="enqs-value">
                        325
                      </div>
                    </div>
                    <div class="enq">
                      <div class="enqs-label">
                        <span class="open"></span>
                        <label>Open</label>
                      </div>
                      <div class="enqs-value">
                        325
                      </div>
                    </div>
                    <div class="enq">
                      <div class="enqs-label">
                        <span class="inprogress"></span>
                        <label>In Progress</label>
                      </div>
                      <div class="enqs-value">
                        325
                      </div>
                    </div>
                    <div class="enq">
                      <div class="enqs-label">
                        <span class="admmited"></span>
                        <label>Admitted</label>
                      </div>
                      <div class="enqs-value">
                        325
                      </div>
                    </div>
                    <div class="enq">
                      <div class="enqs-label">
                        <span class="closed"></span>
                        <label>Closed</label>
                      </div>
                      <div class="enqs-value">
                        325
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="fees-state">
              <div class="actb-top-header clearfix">
                <span class="heading">
                  Fees stats
                </span>
                <button class="pull-right drag-button">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="#0C8AF6" fill-rule="nonzero" d="M19.723 11.927a.487.487 0 0 0-.107-.16l-1.683-1.684a.493.493 0 1 0-.698.697l.842.842h-5.7v-5.7l.878.879a.492.492 0 1 0 .698-.698l-1.72-1.72a.493.493 0 0 0-.697-.001L9.85 6.066a.494.494 0 0 0 .697.698l.843-.842-.001 5.7H5.692l.84-.842a.493.493 0 0 0-.697-.697l-1.683 1.684a.49.49 0 0 0 0 .697l1.72 1.72a.49.49 0 0 0 .698 0 .493.493 0 0 0 0-.697l-.88-.879h5.7v5.7l-.842-.841a.494.494 0 0 0-.697.697l1.684 1.684a.49.49 0 0 0 .697 0l1.721-1.721a.493.493 0 1 0-.698-.698l-.879.88v-5.7h5.702l-.88.878a.494.494 0 0 0 .698.698l1.72-1.72.004-.005a.506.506 0 0 0 .141-.345.496.496 0 0 0-.038-.188z"
                    />
                  </svg>
                </button>
                <button class="pull-right">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <g fill="#0084F6" fill-rule="nonzero">
                      <path d="M18.667 5.5H16.5v-1a.5.5 0 1 0-1 0v1h-3v-1a.5.5 0 1 0-1 0v1h-3v-1a.5.5 0 1 0-1 0v1H5.333C4.598 5.5 4 6.096 4 6.833v11.833C4 19.403 4.597 20 5.333 20h13.334c.736 0 1.333-.597 1.333-1.334V6.833c0-.737-.596-1.333-1.333-1.333zM19 18.666c0 .184-.15.334-.333.334H5.333A.334.334 0 0 1 5 18.666V6.833c0-.184.15-.333.333-.333H7.5v1a.5.5 0 1 0 1 0v-1h3v1a.5.5 0 1 0 1 0v-1h3v1a.5.5 0 1 0 1 0v-1h2.167c.183 0 .333.15.333.333v11.833z"
                      />
                      <path d="M7.5 10h2v1.5h-2zM7.5 12.5h2V14h-2zM7.5 15h2v1.5h-2zM11 15h2v1.5h-2zM11 12.5h2V14h-2zM11 10h2v1.5h-2zM14.5 15h2v1.5h-2zM14.5 12.5h2V14h-2zM14.5 10h2v1.5h-2z"
                      />
                    </g>
                  </svg>
                </button>
                <span class="enquiry-state-date pull-right">
                  22 JAN 2018
                </span>
              </div>
              <div class="fees-state-bottom">
                <ul>
                  <li>
                    <label>Total Collected</label>
                    <div>Rs. 10 Lakhs</div>
                  </li>
                  <li>
                    <label>Total Pending Cheques</label>
                    <div>Rs. 10 Lakhs</div>
                  </li>
                  <li>
                    <label>Past Dues</label>
                    <div>Rs. 10 Lakhs</div>
                  </li>
                </ul>
              </div>
            </li>
            <li class="schedule-state">
  
              <div>
                <div class="actb-top-header clearfix">
                  <span class="heading">
                    Schedule
                  </span>
                  <ul class="sche-top-det">
                    <li class="schedule-det">
                      <div>
                        <label>Total Classes :</label>
                        <span>23</span>
                      </div>
                      <div>
                        <label>Total Classes :</label>
                        <span>23</span>
                      </div>
                    </li>
                    <li>
                      <button class="pull-right drag-button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                          <path fill="#0C8AF6" fill-rule="nonzero" d="M19.723 11.927a.487.487 0 0 0-.107-.16l-1.683-1.684a.493.493 0 1 0-.698.697l.842.842h-5.7v-5.7l.878.879a.492.492 0 1 0 .698-.698l-1.72-1.72a.493.493 0 0 0-.697-.001L9.85 6.066a.494.494 0 0 0 .697.698l.843-.842-.001 5.7H5.692l.84-.842a.493.493 0 0 0-.697-.697l-1.683 1.684a.49.49 0 0 0 0 .697l1.72 1.72a.49.49 0 0 0 .698 0 .493.493 0 0 0 0-.697l-.88-.879h5.7v5.7l-.842-.841a.494.494 0 0 0-.697.697l1.684 1.684a.49.49 0 0 0 .697 0l1.721-1.721a.493.493 0 1 0-.698-.698l-.879.88v-5.7h5.702l-.88.878a.494.494 0 0 0 .698.698l1.72-1.72.004-.005a.506.506 0 0 0 .141-.345.496.496 0 0 0-.038-.188z"
                          />
                        </svg>
                      </button>
                      <button class="pull-right">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                          <g fill="#0084F6" fill-rule="nonzero">
                            <path d="M18.667 5.5H16.5v-1a.5.5 0 1 0-1 0v1h-3v-1a.5.5 0 1 0-1 0v1h-3v-1a.5.5 0 1 0-1 0v1H5.333C4.598 5.5 4 6.096 4 6.833v11.833C4 19.403 4.597 20 5.333 20h13.334c.736 0 1.333-.597 1.333-1.334V6.833c0-.737-.596-1.333-1.333-1.333zM19 18.666c0 .184-.15.334-.333.334H5.333A.334.334 0 0 1 5 18.666V6.833c0-.184.15-.333.333-.333H7.5v1a.5.5 0 1 0 1 0v-1h3v1a.5.5 0 1 0 1 0v-1h3v1a.5.5 0 1 0 1 0v-1h2.167c.183 0 .333.15.333.333v11.833z"
                            />
                            <path d="M7.5 10h2v1.5h-2zM7.5 12.5h2V14h-2zM7.5 15h2v1.5h-2zM11 15h2v1.5h-2zM11 12.5h2V14h-2zM11 10h2v1.5h-2zM14.5 15h2v1.5h-2zM14.5 12.5h2V14h-2zM14.5 10h2v1.5h-2z"
                            />
                          </g>
                        </svg>
                      </button>
                      <span class="enquiry-state-date pull-right">
                        22 JAN 2018
                      </span>
                    </li>
                  </ul>
  
                </div>
                <div class="schedule-bottom">
                  <ul class="sche-head">
                    <li>Timings</li>
                    <li class="cls-type">Class type</li>
                    <li>batch/course</li>
                    <li>Teacher</li>
                  </ul>
                  <ul class="ct-ongoing">
                    <li>
                      <div>10 :00 Am - 1:00 Pm</div>
                      <p>302</p>
                    </li>
                    <li class="cls-type">
                      <div>
                        Regular Class
                        <span class="class-type-status">ongoing</span>
                      </div>
                    </li>
                    <li>
                      <div>Second Batch</div>
                    </li>
                    <li>
                      <div>Prof. Ramesh Sharma</div>
                    </li>
                  </ul>
                  <ul class="ct-completed active">
                    <li>
                      <div>10 :00 Am - 1:00 Pm</div>
                      <p>302</p>
                    </li>
                    <li class="cls-type">
                      <div>
                        Regular Class
                        <span class="class-type-status">Completed</span>
                      </div>
                      <p class="anm">
                        Attendance Not Marked</p>
                    </li>
                    <li>
                      <div>Second Batch</div>
                    </li>
                    <li>
                      <div>Prof. Ramesh Sharma</div>
                    </li>
                  </ul>
                  <ul class="ct-cancel">
                    <li>
                      <div>10 :00 Am - 1:00 Pm</div>
                      <p>302</p>
                    </li>
                    <li class="cls-type">
                      <div>
                        Regular Class
                        <span class="class-type-status">Cancelled</span>
                      </div>
                      <p class="anm">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                          <g fill="none" fill-rule="evenodd" stroke="#F00">
                            <path stroke-width=".5" d="M2.008 13.1h11.984L8 2.774 2.008 13.1z" />
                            <path d="M7.926 8.776h-.5l.5.5v-.5zm0-1.352v-.5l-.5.5h.5zm.148 0h.5l-.5-.5v.5zm0 1.352v.5l.5-.5h-.5zM7.926 11.1h-.5l.5.5v-.5zm0-.176v-.5l-.5.5h.5zm.148 0h.5l-.5-.5v.5zm0 .176v.5l.5-.5h-.5z"
                            />
                          </g>
                        </svg>
  
                        Attendance Not Marked</p>
                    </li>
                    <li>
                      <div>Second Batch</div>
                    </li>
                    <li>
                      <div>Prof. Ramesh Sharma</div>
                    </li>
                  </ul>
                  <ul class="ct-cancel">
                    <li>
                      <div>10 :00 Am - 1:00 Pm</div>
                      <p>302</p>
                    </li>
                    <li class="cls-type">
                      <div>
                        Regular Class
                        <span class="class-type-status">Cancelled</span>
                      </div>
                      <p class="anm">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                          <g fill="none" fill-rule="evenodd" stroke="#F00">
                            <path stroke-width=".5" d="M2.008 13.1h11.984L8 2.774 2.008 13.1z" />
                            <path d="M7.926 8.776h-.5l.5.5v-.5zm0-1.352v-.5l-.5.5h.5zm.148 0h.5l-.5-.5v.5zm0 1.352v.5l.5-.5h-.5zM7.926 11.1h-.5l.5.5v-.5zm0-.176v-.5l-.5.5h.5zm.148 0h.5l-.5-.5v.5zm0 .176v.5l.5-.5h-.5z"
                            />
                          </g>
                        </svg>
  
                        Attendance Not Marked</p>
                    </li>
                    <li>
                      <div>Second Batch</div>
                    </li>
                    <li>
                      <div>Prof. Ramesh Sharma</div>
                    </li>
                  </ul>
                  <div class="ct-disable-wrapper pos-rel">
                    <ul class="ct-disabled ct-completed">
                      <li>
                        <div>10 :00 Am - 1:00 Pm</div>
                        <p>302</p>
                      </li>
                      <li class="cls-type">
                        <div>
                          Regular Class
                          <span class="class-type-status">Cancelled</span>
                        </div>
                        <p class="anm">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                            <g fill="none" fill-rule="evenodd" stroke="#F00">
                              <path stroke-width=".5" d="M2.008 13.1h11.984L8 2.774 2.008 13.1z" />
                              <path d="M7.926 8.776h-.5l.5.5v-.5zm0-1.352v-.5l-.5.5h.5zm.148 0h.5l-.5-.5v.5zm0 1.352v.5l.5-.5h-.5zM7.926 11.1h-.5l.5.5v-.5zm0-.176v-.5l-.5.5h.5zm.148 0h.5l-.5-.5v.5zm0 .176v.5l.5-.5h-.5z"
                              />
                            </g>
                          </svg>
  
                          Attendance Not Marked</p>
                      </li>
                      <li>
                        <div>Second Batch</div>
                      </li>
                      <li>
                        <div>Prof. Ramesh Sharma</div>
                      </li>
                    </ul>
                    <div class="che-action">
                      <a href="#">Mark Attendance</a>
                      <a href="#">Cancel Exam</a>
                      <a href="#">Reminder</a>
                      <a href="#">Reschedule</a>
                    </div>
                  </div>
  
                </div>
              </div>
            </li>
            <li class="general-state">
              <div class="actb-top-header clearfix">
                <span class="heading">
                  General stats
                </span>
                <button class="pull-right drag-button">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="#0C8AF6" fill-rule="nonzero" d="M19.723 11.927a.487.487 0 0 0-.107-.16l-1.683-1.684a.493.493 0 1 0-.698.697l.842.842h-5.7v-5.7l.878.879a.492.492 0 1 0 .698-.698l-1.72-1.72a.493.493 0 0 0-.697-.001L9.85 6.066a.494.494 0 0 0 .697.698l.843-.842-.001 5.7H5.692l.84-.842a.493.493 0 0 0-.697-.697l-1.683 1.684a.49.49 0 0 0 0 .697l1.72 1.72a.49.49 0 0 0 .698 0 .493.493 0 0 0 0-.697l-.88-.879h5.7v5.7l-.842-.841a.494.494 0 0 0-.697.697l1.684 1.684a.49.49 0 0 0 .697 0l1.721-1.721a.493.493 0 1 0-.698-.698l-.879.88v-5.7h5.702l-.88.878a.494.494 0 0 0 .698.698l1.72-1.72.004-.005a.506.506 0 0 0 .141-.345.496.496 0 0 0-.038-.188z"
                    />
                  </svg>
                </button>
              </div>
              <div class="general-s-bottom">
                <ul>
                  <li>
                    <label>Total active students</label>
                    <a href="#">346 Students</a>
                  </li>
                  <li>
                    <label>Sms balance</label>
                    <a href="#">50,000 SMS</a>
                  </li>
                  <li>
                    <label>Download limit</label>
                    <a href="#">245 GB</a>
                  </li>
                  <li>
                    <label>Expiry date</label>
                    <div>25 Jun 2018</div>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
  
      <!-- right section top, timeline,  -->
      <!-- <div class="activity-right pull-right">
        <div class="activity-right-sec">
          <h3>Timeline</h3>
          <section class="notification-list">
            <div class="n-date">
              <span class="tl-date">
                24 Nov
              </span>
            </div>
            <ul>
              <li class="fee-li">
                <div class="n-icon">
                  <span class="n-circle announce-icon red-color">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                      <g fill="none" fill-rule="evenodd">
                        <circle cx="12" cy="12" r="12" fill="#FF5486" />
                        <g fill="#FFF" fill-rule="nonzero">
                          <path d="M10.246 9.788l-1.506.003s-1.191.054-1.189 1.205v.032a.949.949 0 0 0 .002 1.57c.002.141.049 1.314 1.145 1.313 0 0 .454.016.415.743l.004 2.866s-.072.46.39.46c0 0 1.347-.195.676-1.57.505-.523-.216-.827.07-1.682 0 0 .39-.538.389-.845l.017-3.66c.001 0 .074-.436-.413-.435zM17.149 10.527l-.006-3.345c-.001-.437-.37.05-.37.05-1.748 2.724-5.366 2.512-5.366 2.512-.427 0-.358.365-.358.365l.006 3.159c0 .364.382.363.382.363 4.043-.007 5.426 2.547 5.426 2.547s.319.396.296-.017l-.007-3.338c.41-.22.692-.65.691-1.15a1.3 1.3 0 0 0-.694-1.146zm-3.98-.448s2.377-.333 3.528-2.12c0 0-.447 2.089-3.529 2.12zm4.422 1.967s.122-.569-.335-1.24c0 0 .614.358.335 1.24z"
                          />
                        </g>
                      </g>
                    </svg>
                  </span>
                  <span class="n-time">
                    4 pm
                  </span>
                </div>
                <div class="n-text">
                  <p>
                    Fees of month july Nov is due now. Neque porro quisquam est qui dolorem ipsum.
                  </p>
                </div>
              </li>
              <li class="fee-li">
                <div class="n-icon">
                  <span class="n-circle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                      <g fill="none" fill-rule="evenodd">
                        <circle cx="12" cy="12" r="12" fill="#1EB4EF" />
                        <path fill="#FFF" fill-rule="nonzero" d="M14.94 10.039a.213.213 0 0 0-.154-.057h-1.142a2.167 2.167 0 0 0-.428-.92h1.557c.062 0 .113-.02.154-.058a.195.195 0 0 0 .06-.147v-.652c0-.06-.02-.11-.06-.147A.214.214 0 0 0 14.773 8h-5.56a.214.214 0 0 0-.153.057.195.195 0 0 0-.06.148v.85c0 .055.021.103.063.143a.21.21 0 0 0 .15.061h.97c.94 0 1.536.24 1.79.722h-2.76a.213.213 0 0 0-.153.058.195.195 0 0 0-.06.147v.652c0 .06.02.109.06.147.04.038.091.057.154.057h2.853c-.098.35-.326.616-.685.8-.359.183-.832.274-1.42.274h-.748a.21.21 0 0 0-.15.061.192.192 0 0 0-.064.144v.812c0 .055.02.102.06.14.855.87 1.964 2.086 3.327 3.65a.2.2 0 0 0 .168.077h1.302c.094 0 .159-.038.194-.115.045-.077.036-.15-.027-.217-1.3-1.526-2.322-2.668-3.066-3.427.757-.085 1.372-.32 1.844-.703.472-.383.76-.882.862-1.495h1.122c.062 0 .114-.02.154-.058a.194.194 0 0 0 .06-.147v-.652c0-.06-.02-.109-.06-.147z"
                        />
                      </g>
                    </svg>
  
                  </span>
                  <span class="n-time">
                    4 pm
                  </span>
                </div>
                <div class="n-text">
                  <p>
                    Fees of month july Nov is due now. Neque porro quisquam est qui dolorem ipsum.
                  </p>
  
                </div>
              </li>
  
              <li class="fee-li">
                <div class="n-icon">
                  <span class="n-circle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                      <g fill="none" fill-rule="evenodd">
                        <circle cx="12" cy="12" r="12" fill="#F5A623" />
                        <g fill="#FFF" fill-rule="nonzero">
                          <path d="M15.208 6.676h-1.747v.69h1.416a.35.35 0 0 1 .354.345V15.678a.35.35 0 0 1-.354.345H9.191a.349.349 0 0 1-.352-.345V7.71c0-.19.157-.345.352-.345h1.438v-.69h-1.79a.7.7 0 0 0-.708.69v8.657c0 .383.316.691.708.691h6.369c.392 0 .732-.308.732-.69V7.366c0-.382-.34-.691-.732-.691z"
                          />
                          <path d="M10.38 7.76c-.15 0-.273.083-.273.185v.366h3.856v-.366c0-.102-.124-.184-.274-.184h-.824V6.263c-.844-.585-1.665-.01-1.665-.01l.002 1.508h-.822zM9.714 9.977h4.643v1H9.714zM9.714 11.964h4.643v1H9.714zM9.714 14.032h4.643v1H9.714z"
                          />
                        </g>
                      </g>
                    </svg>
  
  
                  </span>
                  <span class="n-time">
                    4 pm
                  </span>
                </div>
                <div class="n-text">
                  <p>
                    Fees of month july Nov is due now. Neque porro quisquam est qui dolorem ipsum.
                  </p>
  
                </div>
              </li>
            </ul>
          </section>
          <section class="notification-list">
            <div class="n-date">
              <span class="tl-date">
                24 Nov
              </span>
            </div>
            <ul>
              <li class="fee-li">
                <div class="n-icon">
                  <span class="n-circle announce-icon red-color">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                      <g fill="none" fill-rule="evenodd">
                        <circle cx="12" cy="12" r="12" fill="#BB67CD" />
                        <g fill="#FFF" fill-rule="nonzero">
                          <path d="M6.094 14.31a.218.218 0 0 1 0-.435l1.078.002 1.818-2.114a.218.218 0 0 1 .345.018l1.58 1.974 3.327-3.745a.219.219 0 0 1 .308-.018l.018.018L16.56 12l.727-1.091a.218.218 0 0 1 .363.243l-.87 1.304a.219.219 0 0 1-.34.041l-2.025-2.024-3.345 3.764a.218.218 0 0 1-.333-.009L9.15 12.246l-1.712 1.99a.217.217 0 0 1-.166.076l-1.178-.002zM14.559 10l.04.04-.04-.04z"
                          />
                          <path d="M11.782 7.312a.219.219 0 0 1 0 .437H5.438v7.879h13.124V7.749h-5.906a.219.219 0 0 1 0-.437h6.125c.12 0 .219.098.219.219v8.316c0 .12-.098.218-.22.218H5.22A.219.219 0 0 1 5 15.847V7.53c0-.121.098-.219.219-.219h6.563z"
                          />
                          <path d="M11.563 6.218c0-.12.1-.218.224-.218s.224.098.224.218V7.53c0 .12-.1.218-.224.218a.221.221 0 0 1-.224-.218V6.218zM11.564 16.718c0-.12.1-.218.224-.218s.224.098.224.218l-.001 2.189c0 .12-.1.218-.224.218a.221.221 0 0 1-.224-.218v-2.19zM8.508 16.658a.218.218 0 1 1 .42.12l-.873 3.063a.218.218 0 1 1-.42-.12l.873-3.063zM14.634 16.778a.218.218 0 1 1 .42-.12l.875 3.064a.218.218 0 1 1-.42.119l-.875-3.063z"
                          />
                          <path d="M5.219 16.953c-.121 0-.219-.1-.219-.225 0-.124.098-.225.219-.225H18.78c.12 0 .219.101.219.225a.222.222 0 0 1-.22.225H5.22z"
                          />
                        </g>
                      </g>
                    </svg>
  
                  </span>
                  <span class="n-time">
                    4 pm
                  </span>
                </div>
                <div class="n-text">
                  <p>
                    Fees of month july Nov is due now. Neque porro quisquam est qui dolorem ipsum.
                  </p>
                </div>
              </li>
              <li class="fee-li">
                <div class="n-icon">
                  <span class="n-circle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                      <g fill="none" fill-rule="evenodd">
                        <circle cx="12" cy="12" r="12" fill="#1EB4EF" />
                        <path fill="#FFF" fill-rule="nonzero" d="M14.94 10.039a.213.213 0 0 0-.154-.057h-1.142a2.167 2.167 0 0 0-.428-.92h1.557c.062 0 .113-.02.154-.058a.195.195 0 0 0 .06-.147v-.652c0-.06-.02-.11-.06-.147A.214.214 0 0 0 14.773 8h-5.56a.214.214 0 0 0-.153.057.195.195 0 0 0-.06.148v.85c0 .055.021.103.063.143a.21.21 0 0 0 .15.061h.97c.94 0 1.536.24 1.79.722h-2.76a.213.213 0 0 0-.153.058.195.195 0 0 0-.06.147v.652c0 .06.02.109.06.147.04.038.091.057.154.057h2.853c-.098.35-.326.616-.685.8-.359.183-.832.274-1.42.274h-.748a.21.21 0 0 0-.15.061.192.192 0 0 0-.064.144v.812c0 .055.02.102.06.14.855.87 1.964 2.086 3.327 3.65a.2.2 0 0 0 .168.077h1.302c.094 0 .159-.038.194-.115.045-.077.036-.15-.027-.217-1.3-1.526-2.322-2.668-3.066-3.427.757-.085 1.372-.32 1.844-.703.472-.383.76-.882.862-1.495h1.122c.062 0 .114-.02.154-.058a.194.194 0 0 0 .06-.147v-.652c0-.06-.02-.109-.06-.147z"
                        />
                      </g>
                    </svg>
  
                  </span>
                  <span class="n-time">
                    4 pm
                  </span>
                </div>
                <div class="n-text">
                  <p>
                    Fees of month july Nov is due now. Neque porro quisquam est qui dolorem ipsum.
                  </p>
  
                </div>
              </li>
  
              <li class="fee-li">
                <div class="n-icon">
                  <span class="n-circle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                      <g fill="none" fill-rule="evenodd">
                        <circle cx="12" cy="12" r="12" fill="#F5A623" />
                        <g fill="#FFF" fill-rule="nonzero">
                          <path d="M15.208 6.676h-1.747v.69h1.416a.35.35 0 0 1 .354.345V15.678a.35.35 0 0 1-.354.345H9.191a.349.349 0 0 1-.352-.345V7.71c0-.19.157-.345.352-.345h1.438v-.69h-1.79a.7.7 0 0 0-.708.69v8.657c0 .383.316.691.708.691h6.369c.392 0 .732-.308.732-.69V7.366c0-.382-.34-.691-.732-.691z"
                          />
                          <path d="M10.38 7.76c-.15 0-.273.083-.273.185v.366h3.856v-.366c0-.102-.124-.184-.274-.184h-.824V6.263c-.844-.585-1.665-.01-1.665-.01l.002 1.508h-.822zM9.714 9.977h4.643v1H9.714zM9.714 11.964h4.643v1H9.714zM9.714 14.032h4.643v1H9.714z"
                          />
                        </g>
                      </g>
                    </svg>
  
  
                  </span>
                  <span class="n-time">
                    4 pm
                  </span>
                </div>
                <div class="n-text">
                  <p>
                    Fees of month july Nov is due now. Neque porro quisquam est qui dolorem ipsum.
                  </p>
  
                </div>
              </li>
            </ul>
          </section>
        </div>
        <div class="activity-right-sec-bottom">
          <div class="to-do-list">
            <div class="todo-top clearfix">
              <h3 class="pull-left">To Do list</h3>
              <span>
                <dfn>22 JAN 2018</dfn>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                  <g fill="#0084F6" fill-rule="nonzero">
                    <path d="M18.667 5.5H16.5v-1a.5.5 0 1 0-1 0v1h-3v-1a.5.5 0 1 0-1 0v1h-3v-1a.5.5 0 1 0-1 0v1H5.333C4.598 5.5 4 6.096 4 6.833v11.833C4 19.403 4.597 20 5.333 20h13.334c.736 0 1.333-.597 1.333-1.334V6.833c0-.737-.596-1.333-1.333-1.333zM19 18.666c0 .184-.15.334-.333.334H5.333A.334.334 0 0 1 5 18.666V6.833c0-.184.15-.333.333-.333H7.5v1a.5.5 0 1 0 1 0v-1h3v1a.5.5 0 1 0 1 0v-1h3v1a.5.5 0 1 0 1 0v-1h2.167c.183 0 .333.15.333.333v11.833z"></path>
                    <path d="M7.5 10h2v1.5h-2zM7.5 12.5h2V14h-2zM7.5 15h2v1.5h-2zM11 15h2v1.5h-2zM11 12.5h2V14h-2zM11 10h2v1.5h-2zM14.5 15h2v1.5h-2zM14.5 12.5h2V14h-2zM14.5 10h2v1.5h-2z"></path>
                  </g>
                </svg>
              </span>
            </div>
            <div class="todo-tab">
              <ul class="clearfix">
                <li class="active">
                  <span>Assigned Task</span>
                </li>
                <li>
                  <span>My Task</span>
                </li>
              </ul>
            </div>
            <div class="todo-tab-content">
              <ul class="tab-content-inner">
                <li>
                  <ul class="assign-task-list">
                    <li>
                      <div class="field-checkbox-wrapper">
                        <input type="checkbox" value="" class="form-checkbox" id="todo1">
                        <label for="todo1">Meet Prof. Bakshi</label>
                      </div>
                    </li>
                    <li>
                      <div class="field-checkbox-wrapper">
                        <input type="checkbox" value="" class="form-checkbox" id="todo2">
                        <label for="todo2">Lorem ipsum dolor sit amet, con adipiscing elit.</label>
                      </div>
                    </li>
                    <li>
                      <div class="field-checkbox-wrapper">
                        <input type="checkbox" value="" class="form-checkbox" id="todo3">
                        <label for="todo3">Lorem ipsum dolor sit amet, con adipiscing elit.</label>
                      </div>
                    </li>
                    <li>
                      <div class="field-checkbox-wrapper">
                        <input type="checkbox" value="" class="form-checkbox" id="todo4">
                        <label for="todo4">Lorem ipsum dolor sit amet.</label>
                      </div>
                    </li>
                    <li>
                      <div class="field-checkbox-wrapper">
                        <input type="checkbox" value="" class="form-checkbox" id="todo5">
                        <label for="todo5">Quick Add Student</label>
                      </div>
                    </li>
                    <li>
                      <div class="field-checkbox-wrapper">
                        <input type="checkbox" value="" class="form-checkbox" id="todo6">
                        <label for="todo6">Lorem ipsum dolor sit amet.</label>
                      </div>
                    </li>
                    <li>
                      <div class="field-checkbox-wrapper">
                        <input type="checkbox" value="" class="form-checkbox" id="todo7">
                        <label for="todo7">Quick Add Student</label>
                      </div>
                    </li>
                    <li>
                      <div class="field-checkbox-wrapper">
                        <input type="checkbox" value="" class="form-checkbox" id="todo8">
                        <label for="todo8">Quick Add Student</label>
                      </div>
                    </li>
                    <li>
                      <div class="field-checkbox-wrapper">
                        <input type="checkbox" value="" class="form-checkbox" id="todo11">
                        <label for="todo11">Meet Prof. Bakshi</label>
                      </div>
                    </li>
                    <li>
                      <div class="field-checkbox-wrapper">
                        <input type="checkbox" value="" class="form-checkbox" id="todo21">
                        <label for="todo21">Lorem ipsum dolor sit amet, con adipiscing elit.</label>
                      </div>
                    </li>
                    <li>
                      <div class="field-checkbox-wrapper">
                        <input type="checkbox" value="" class="form-checkbox" id="todo31">
                        <label for="todo31">Lorem ipsum dolor sit amet, con adipiscing elit.</label>
                      </div>
                    </li>
                    <li>
                      <div class="field-checkbox-wrapper">
                        <input type="checkbox" value="" class="form-checkbox" id="todo41">
                        <label for="todo41">Lorem ipsum dolor sit amet.</label>
                      </div>
                    </li>
                    <li>
                      <div class="field-checkbox-wrapper">
                        <input type="checkbox" value="" class="form-checkbox" id="todo51">
                        <label for="todo51">Quick Add Student</label>
                      </div>
                    </li>
                    <li>
                      <div class="field-checkbox-wrapper">
                        <input type="checkbox" value="" class="form-checkbox" id="todo61">
                        <label for="todo61">Lorem ipsum dolor sit amet.</label>
                      </div>
                    </li>
                    <li>
                      <div class="field-checkbox-wrapper">
                        <input type="checkbox" value="" class="form-checkbox" id="todo71">
                        <label for="todo71">Quick Add Student</label>
                      </div>
                    </li>
                    <li>
                      <div class="field-checkbox-wrapper">
                        <input type="checkbox" value="" class="form-checkbox" id="todo81">
                        <label for="todo81">Quick Add Student</label>
                      </div>
                    </li>
                  </ul>
                  <button class="btn fullBlue">Add Task</button>
                </li>
                <li class="hide">
                  <ul class="my-task-list">
                    <li>
                      <div class="field-checkbox-wrapper">
                        <input type="checkbox" value="" class="form-checkbox" id="todo11">
                        <label for="todo11">Meet Prof. Bakshi</label>
                      </div>
                    </li>
                    <li>
                      <div class="field-checkbox-wrapper">
                        <input type="checkbox" value="" class="form-checkbox" id="todo21">
                        <label for="todo21">Lorem ipsum dolor sit amet, con adipiscing elit.</label>
                      </div>
                    </li>
                    <li>
                      <div class="field-checkbox-wrapper">
                        <input type="checkbox" value="" class="form-checkbox" id="todo31">
                        <label for="todo31">Lorem ipsum dolor sit amet, con adipiscing elit.</label>
                      </div>
                    </li>
                    <li>
                      <div class="field-checkbox-wrapper">
                        <input type="checkbox" value="" class="form-checkbox" id="todo41">
                        <label for="todo41">Lorem ipsum dolor sit amet.</label>
                      </div>
                    </li>
                    <li>
                      <div class="field-checkbox-wrapper">
                        <input type="checkbox" value="" class="form-checkbox" id="todo51">
                        <label for="todo51">Quick Add Student</label>
                      </div>
                    </li>
                    <li>
                      <div class="field-checkbox-wrapper">
                        <input type="checkbox" value="" class="form-checkbox" id="todo61">
                        <label for="todo61">Lorem ipsum dolor sit amet.</label>
                      </div>
                    </li>
                    <li>
                      <div class="field-checkbox-wrapper">
                        <input type="checkbox" value="" class="form-checkbox" id="todo71">
                        <label for="todo71">Quick Add Student</label>
                      </div>
                    </li>
                    <li>
                      <div class="field-checkbox-wrapper">
                        <input type="checkbox" value="" class="form-checkbox" id="todo81">
                        <label for="todo81">Quick Add Student</label>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
  
        </div>
      </div> -->
    </section>
  
  
  </section>