// css for activity page
.activity-page {
    // background: #f2f2f2;
    // max-height: 85vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.bs-datepicker-container, .bs-daterangepicker-container {
    z-index: 1080;
    left: 0 !important;
}
.activity-left {
    // max-width: 72%;
    width: 100%;
    padding: 24px 15px 24px 42px;
}

.activity-right {
    max-width: 23%;
    width: 100%;
    background: #fff;
    box-sizing: border-box;
    overflow: hidden;
}

.act-top {
    padding-bottom: 10px;
    border-bottom: 1px solid #d3d4d5;
    margin-bottom: 16px;
    h1 {
        padding-top: 7px;
    }
    .btn {
        height: auto;
        padding: 1px 10px 1px 0px;
        border: 2px solid #0084f6;
        vertical-align: top;
        float: right;
        svg {
            display: inline-block;
            vertical-align: middle;
        }
    }
    .search-filter-wrapper {
        float: right;
        width: 322px;
        position: relative;
        .normal-field {
            width: 100%;
            height: 38px;
        }
        .btn {
            height: 38px;
            width: 100%;
            padding-right: 50px;
        }
    }
}

.act-right-sec {
    width: 60%;
    .btn.normal-btn {
        width: 40px;
        padding-right: 0;
        position: absolute;
        right: 0;
    }
}

.actb-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &>li {
        box-shadow: 0px 1px 3px 0px rgba(38, 0, 0, 0.2);
        background: #fff;
        margin-bottom: 16px;
        width: 100%;
        border-radius: 4px;
        overflow: hidden;
        &.enquiry-state,
        &.fees-state {
            width: 49%;
        }
        .actb-top-header {
            padding: 10px 12px;
            background: #fafafa;
            border-bottom: 1px solid #dedddd;
            span.heading {
                font-weight: 400;
                font-size: 14px;
                color: #414141;
                text-transform: uppercase;
                padding-top: 4px;
                display: inline-block;
            }
            button {
                background: transparent;
                &.drag-button {
                    cursor: all-scroll;
                    margin-left: 16px;
                }
            }
            .enquiry-state-date {
                font-size: 14px;
                color: #666;
                margin-right: 10px;
                padding-top: 4px;
                display: inline-block;
            }
        }
    }
}

.enq-state-bottom {
    &>div {
        width: 50%;
        float: left;
        padding-top: 20px;
        &:after {
            content: '';
            display: table;
            clear: both;
            width: 100%;
        }
        &:last-child {
            float: right;
        }
    }
}

.enq-state-details {
    .enq {
        display: flex;
        margin-bottom: 17px;
        .enqs-label {
            width: 64%;
            font-size: 12px;
            color: #666666;
            text-transform: uppercase;
            span {
                width: 8px;
                height: 8px;
                display: inline-block;
                border: 1px solid #979797;
                border-radius: 2px;
                margin-right: 8px;
                &.open {
                    background: #568bf4;
                }
                &.inprogress {
                    background: #f456b0;
                }
                &.admmited {
                    background: #ffcc3c;
                }
                &.closed {
                    background: #56cff4;
                }
            }
        }
        .enqs-value {
            color: #1e2328;
            font-size: 12px;
            font-weight: 600;
        }
    }
}

.fees-state-bottom {
    ul {
        padding: 0px 24px 25px;
        display: flex;
        flex-wrap: wrap;
        li {
            width: 50%;
            padding-top: 25px;
            label {
                font-size: 12px;
                text-transform: uppercase;
                color: #666666;
                display: block;
                margin-bottom: 9px;
            }
            div {
                font-size: 14px;
                font-weight: 600;
                color: #1e2328;
                display: block;
            }
        }
    }
}

.sche-top-det {
    float: right;
    display: flex;
    flex-wrap: nowrap;
    li {
        float: left;
        border-right: 2px solid rgba(20, 20, 20, 0.2);
        &:first-child {
            &.schedule-det {
                display: flex;
                div {
                    margin-right: 40px;
                    display: flex;
                    align-items: center;
                }
                label {
                    font-size: 14px;
                    color: #414141;
                    font-weight: 600;
                    margin-right: 8px;
                }
                span {
                    font-weight: 600;
                    font-size: 14px;
                    color: #0c8af6;
                }
            }
        }
        &:last-child {
            border-right: 0;
            width: 190px;
        }
    }
}

.schedule-bottom {
    ul {
        border-bottom: 2px solid rgba(211, 212, 213, 0.5);
        background: #fff;
        display: flex;
        cursor: pointer;
        &.active,
        &:not(.sche-head):not(.ct-disabled):hover {
            background: rgba(27, 96, 163, 0.04);
        }
        &.active {
            li.cls-type {
                div {
                    position: relative;
                    &:before {
                        content: '';
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        background: #ff0000;
                        position: absolute;
                        left: -16px;
                        top: 7px;
                    }
                }
            }
        } // justify-content: space-between;
        li {
            padding: 16px 24px 12px;
            &.cls-type {
                width: 29%;
            }
            &:first-child {
                width: 16%;
            }
            &:nth-last-child(2) {
                width: 15%;
            }
            div {
                color: rgb(30, 35, 40);
                font-size: 14px;
                margin-bottom: 8px;
            }
            p {
                font-size: 12px;
                color: rgba(102, 102, 102, 0.7);
                svg {
                    display: inline-block;
                    vertical-align: text-bottom;
                    position: relative;
                    margin-left: -18px;
                }
            }
        }
        &.sche-head {
            li {
                padding: 20px 24px 12px;
                text-transform: uppercase;
                color: rgba(102, 102, 102, 0.6);
                font-size: 12px;
            }
        }
        .class-type-status {
            font-size: 11px;
            padding: 4px 9px;
            display: inline-block;
            border-radius: 4px;
            line-height: 9px;
            height: 20px;
            box-sizing: border-box;
            vertical-align: middle;
            font-weight: 600;
        }
        &.ct-ongoing {
            .class-type-status {
                color: #568bf4;
                border: 1px solid #568bf4;
            }
        }
        &.ct-completed {
            .class-type-status {
                color: #78dd95;
                border: 1px solid #78dd95;
            }
        }
        &.ct-cancel {
            .class-type-status {
                color: #9b9b9b;
                border: 1px solid #9b9b9b;
            }
        }
    }
    div.ct-disable-wrapper {
        ul {
            opacity: 0.1;
        }
        .che-action {
            width: 100%;
            position: absolute;
            bottom: 16px;
            right: 40px;
            text-align: right;
            a {
                margin-left: 5%;
                font-size: 14px;
                font-weight: 600;
            }
        }
    }
}

.general-s-bottom {
    ul {
        display: flex;
        li {
            padding: 26px 21px 18px;
            label {
                display: block;
                color: rgba(102, 102, 102, 0.6);
                font-size: 12px;
                margin-bottom: 8px;
                text-transform: uppercase;
            }
            a {
                font-size: 14px;
                font-weight: 600;
                color: #0c8af6;
            }
            div {
                font-size: 14px;
                font-weight: 600;
                color: #1e2328;
            }
        }
    }
}

// right top section time line section
.tl-date {
    font-size: 10px;
    color: #666;
    background: #fdfdfd;
    border-radius: 12px;
    padding: 3px 5px;
    width: 80px;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    /* box-shadow: 0 1px 1px rgba(25, 31, 34, 0.156863); */
    border: 1px solid #dbdbdb;
}

.n-circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 12px; // border: 3px solid #f0f1f2;
    vertical-align: middle;
}

.n-circle img {
    padding: 4px;
}

.n-time {
    font-size: 12px;
    color: #666;
    display: inline-block;
    vertical-align: middle;
    font-weight: 500;
}

.fee-li {
    position: relative;
    padding-left: 33px;
    margin-bottom: 8px;
}

.fee-li:last-child {
    margin-bottom: 0;
}

.fee-li p {
    margin: 0;
    color: #666;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
}

.fee-li .btn {
    margin-top: 15px;
}

.n-icon {
    position: absolute;
    left: 9px;
}

.n-text {
    margin-left: 0;
    background: #fff;
    padding: 20px 16px 0px;
    color: #666;
    border-radius: 4px;
    font-size: 12px;
}


/* .btn
{
  outline: none;
  color: #0fc9da;
  font-size: 12px;
  text-align: center;
  padding: 8px 10px;
  border: 1px solid #0fc9da;
  background: #fff;
  border-radius: 4px;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
  width: 100%;
} */

.notification-list:first-child {
    padding-top: 15px;
}

.notification-list {
    padding: 3px 0px 15px 0px;
    position: relative;
}

.notification-list:before {
    content: '';
    position: absolute;
    left: 20px;
    width: 0px;
    height: calc( 100% - 27px);
    top: 24px;
    border-left: 2px dotted rgba(25, 31, 34, 0.156863);
}

.notification-list:first-child:before {
    height: calc( 100% - 44px);
    top: 44px;
}

.notification-list>div.n-date {
    padding: 0 0px 10px;
}

.pink-color {
    background-color: #c277cb;
}

.timeline {
    text-align: center;
}

.timeline ul li a {
    text-decoration: none;
    font-size: 14px;
    color: rgba(31, 34, 40, 0.5);
    font-weight: 400;
    padding: 6px 5px 5px;
    display: block;
    position: relative;
    z-index: 11;
    transition: all 0.3s ease-in-out;
}

.timeline ul {
    text-align: center;
    font-size: 0;
    margin: 0;
    position: relative;
}

.timeline ul li {
    display: inline-block;
    width: 50%;
    position: relative;
}

.timeline ul:after {
    content: '';
    width: 55%;
    height: 124%;
    position: absolute;
    left: -2px;
    top: -5px;
    /* transition: all 0.3s ease-in-out; */
    background: #5ad5e8;
    border-radius: 100px;
}

.timeline ul.timelineActive:after {
    /* left: -2px; */
    animation: tabAnimationReverse 0.6s ease-in-out forwards;
}

.timeline ul.chatActive:after {
    /* left: 47%; */
    animation: tabAnimation 0.6s ease-in-out forwards;
}

.timeline ul.chatActive .chat-tab a,
.timeline ul.timelineActive .timeline-tab a {
    color: #fff;
}

.activity-right-sec {
    padding: 24px 10px 24px 24px;
    max-height: 390px;
    overflow: auto;
}

.activity-right-sec {
    h3 {
        color: #414141;
        margin-bottom: 10px;
    }
}

.activity-right-sec-bottom {
    border-top: 2px solid rgba(151, 151, 151, 0.5);
    margin-top: 10px;
    padding: 14px 10px 10px 25px;
    .todo-top {
        padding-bottom: 15px;
        h3 {
            padding-top: 3px;
        }
        span {
            float: right;
            font-size: 14px;
            color: #666;
            padding-top: 2px;
            dfn {
                font-style: normal;
            }
            dfn,
            svg {
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
}

.todo-tab {
    margin: 0 -20px;
    border-bottom: 2px solid rgba(151, 151, 151, 0.1);
    padding: 10px 20px 0px;
    margin-bottom: 15px;
    li {
        float: left;
        width: 50%;
        text-align: center;
        font-size: 12px;
        color: #414141;
        font-weight: 600;
        cursor: pointer;
        span {
            display: inline-block;
            border-bottom: 3px solid transparent;
            padding-bottom: 10px;
            padding-top: 10px;
            text-transform: uppercase;
        }
        &.active {
            span {
                color: #0084f6;
                border-bottom: 3px solid #0084f6;
            }
        }
    }
}

.assign-task-list {
    max-height: 350px;
    overflow: auto;
    .field-checkbox-wrapper,
    .field-radio-wrapper {
        position: relative;
        padding-left: 33px;
        margin-bottom: 18px;
        line-height: 19px;
        .form-checkbox:checked+label:before {
            border-color: #fff;
            z-index: 1;
        }
        .form-checkbox:checked+label:after {
            border-color: #78dd95;
            background: #78dd95;
        }
        .form-checkbox:checked+label {
            color: rgba(0, 0, 0, 0.4);
            text-decoration: line-through;
        }
    }
}

.tab-content-inner {
    &>li {
        position: relative;
        &:before {
            content: '';
            width: 100%;
            position: absolute;
            bottom: 0;
            height: 43px;
            background: #fff;
            opacity: 0.7;
            left: 0;
            z-index: 1;
        }
    }
    .btn {
        max-width: 220px;
        width: 100%;
        border-radius: 4px;
        height: 40px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
    }
}

@media only screen and (max-width: 1200px) {
    .activity-left {
        max-width: none;
        padding: 24px 0px 24px 0px;
        box-sizing: border-box;
        .row {
            margin: 0;
            .activity-left {}
        }
    }
    .activity-page {
        padding: 0 15px;
        .row {
            margin: 0;
        }
    }
    .act-right-sec {
        width: 82%;
    }
    .activity-right {
        max-width: none;
        width: 100%;
    }
}

@media only screen and (max-width: 960px) {
    .actb-wrapper>li.enquiry-state,
    .actb-wrapper>li.fees-state {
        width: 100%;
    }
    .act-top .btn {
        margin-right: 0;
    }
    .act-right-sec {
        width: 58%;
    }
    .general-s-bottom ul li,
    .fees-state-bottom ul li {
        width: 100%;
        box-sizing: border-box;
    }
    .fees-state-bottom ul {
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1000px) {
    .act-right-sec {
        width: 75%;
    }
    .act-top .search-filter-wrapper {
        width: 55%;
        float: right;
        max-width: 322px;
        position: relative;
    }
    .fees-state-bottom ul li {
        width: 50%;
        box-sizing: border-box;
    }
}

@media only screen and (max-width: 767px) {
    .enq-state-bottom>div {
        width: 100%;
        margin-top: 20px;
        padding: 10px 20px;
        box-sizing: border-box;
        &:first-child {
            margin-top: 0;
        }
    }
    .actb-wrapper>li {
        &.schedule-state {
            overflow-x: auto;
            &>div {
                min-width: 700px;
            }
        }
    }
    .general-state {
        .general-s-bottom ul {
            flex-wrap: wrap;
            padding: 10px 0;
            li {
                width: 100%;
                padding: 10px 24px 10px;
            }
        }
    }
}

.grid-container{
    width: 82vw !important;
}
.act-top{
    width: 80.5vw !important;
}