*{
  margin: 0px;
}
body{
  font-family: 'Open Sans', sans-serif;

}

.w98{
 width: 96%;
 margin: 0px auto;
}


.right{
  float: right;
}
.input{
  width: 100%;
  margin: 8px 0;
  padding: 8px 5px;
  border: 1px solid #F0EDED;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 400;
  border-radius: 4px;
  color: #323C47;
  //background-color: #F4F3F8;
  text-indent: 4px;
}

.header-input::placeholder {
  padding-left: 10px;
}
.main-shadow{
    box-shadow: 0px 7px 5px -3px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 7px 5px -3px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 7px 5px -3px rgba(0,0,0,0.1);
    padding-bottom: 15px;
}

.magnifying-glass{
  background-image: url('/assets/img1/Vector.svg');
  background-repeat: no-repeat;
  background-position:1% center;
  text-indent: 5px;
}
a:hover { 
  text-decoration: none; 
} 
.shadow{
 box-shadow:  0px 15px 10px -15px #111; 
-webkit-box-shadow:  0px 15px 10px -15px #111; 
-moz-box-shadow:  0px 15px 10px -15px #111; 
margin: 8px 0px;
}

.page_heading{
  color: #334D6E;
  font-weight: 700;
  font-size: 16px;
  padding: 10px 0px;
}

.blue_button {
  background-color: #109CF1;
  color: white;
  padding: 7px 20px;
  font-size: 12px;
  border: 1px solid #109CF1;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  height: 34px;
}
.cancel{
  background-color: #fff;
  color:#109CF1;
  padding: 7px 20px;
  font-size: 12px;
  border:1px solid #109CF1;
  border-radius: 5px;
  font-weight: 600;
  margin-right: 10px;
}
.w100{
  width: 100%;
}
.flex{
  display:flex;
}
.divw{
  width:55%;
  margin: 10px auto;
}
.divw>div{
  width:calc(100% / 3);
  
}
.display{
  display: flex;
  justify-content: space-between;
}
.text-indent{
text-indent: 20px;
}
.filter{
  background-color: #fff;
  color:#109CF1;
  padding: 7px 20px;
  font-size: 12px;
  border:1px solid #CACACA;
  border-radius: 5px;
  font-weight: 600;
  margin-top: 9px;
}
.filter img,.blue_button img{
  padding-left: 10px;
}
.mt-9{
margin: 10px 0px;
}
.mt-10{
margin-left: 8px;
}
/*dropdown for more*/

.dropdown1 {
  position: relative;
  display: inline-block;
}

.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 200px;
  right: 0px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  font-weight: 400;
  font-size: 12px;
  z-index: 1;
  color: #3B4752;
}

.dropdown-content1 a {
  color: black;
  text-align: left;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content1 a:hover {background-color: #ddd;}

.dropdown1:hover .dropdown-content1 {display: block;}

/*dropdown for filter*/

.dropdown2 {
  position: relative;
  display: inline-block;
}

.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 130px;
  right: 0px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  font-weight: 400;
  font-size: 12px;
  z-index: 1;
  color: #3B4752;
}

.dropdown-content2 a {
  color: black;
  text-align: left;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content2 a:hover {background-color: #ddd;}

.dropdown2:hover .dropdown-content2 {display: block;}

/*dropdown for students*/

.dropdown3 {
  position: relative;
  display: inline-block;
}

.dropdown-content3 {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 172px;
  right: 0px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  font-weight: 400;
  font-size: 12px;
  z-index: 1;
  color: #3B4752;
}

.dropdown-content3 a {
  color: black;
  text-align: left;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content3 a:hover {background-color: #ddd;}

.dropdown3:hover .dropdown-content3 {display: block;
 
}

.drop-shadow{
 /* background: #E5E5E5;*/
 /* box-shadow: 0px 8px 8px -4px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 8px 8px -4px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 8px 8px -4px rgba(0,0,0,0.1);*/
  border-bottom: 1px solid #EFF0F5;
  padding: 10px 0px;
  margin-bottom: 10px;
}
#form-tab{
  /*background: #E5E5E5;*/
  margin: 10px 0px;
}
.table_heading{
  display: flex;
  justify-content: space-between;
  background-color: #EEF1F4;
  padding: 11px 10px;
  border-radius: 5px;
}
.table_heading>div{
font-weight: 600;
font-size: 12px;
text-align: center;
padding-left: 10px;
}
.table_heading>div:first-child,.table_row>div:first-child{
    padding-right: 20px;
  width: 30px;
text-align: center;
}
.table_heading>div:nth-child(2) {
padding-left: 0.2vw;
}
.table_heading>div:last-child{
 text-align: left;
 padding-left: 20px;
}
.table_row{
   background: #fff;
  display: flex;
  color: #323C47;
  justify-content: space-between;
  padding: 16px 10px;
  border-radius: 5px;
  /*margin: 10px 0px;*/
  padding-top: 10px;
padding-bottom: 0px;
border-bottom: 1px solid #EFF0F5;

}
.table_row>div{
line-height: 30px;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  padding-left: 10px;
  color: #6B5D5D;
}
.overflows{
  overflow-y: auto;
height: 64vh;
}
/* width */
// .modal::-webkit-scrollbar {
//   width: 15px;
// }

// /* Track */
// .modal::-webkit-scrollbar-track {
//   background: #f1f1f1; 
// }
 
// /* Handle */
// .modal::-webkit-scrollbar-thumb {
//   background: #888; 
// }

// /* Handle on hover */
// .modal::-webkit-scrollbar-thumb:hover {
//   background: #555; 
// }
.table_row>div:nth-child(2), .table_heading>div:nth-child(2){
  width: 40px;
  text-align: center;
}
.table_row>div:nth-child(4), .table_heading>div:nth-child(4){
  width: 200px;

}
.table_row>div:nth-child(6), .table_heading>div:nth-child(6){
  width: 200px;

}
.table_row>div,.table_heading>div{
  width: calc((100% - 470px) / 5);
}
.photo{
  height: auto;
  width: 40px;
  position: relative;
  top: -2px;
}
.pl-10{
  padding-right: 10px
}

.input:focus {
  border: none;
   outline:1px solid #F0EDED;
}
button:focus{
  outline: none;
}

    .containerc {
      margin-top: 25px;
    }
    .input{
      //background-color: #fff;
    }

.input-select1{
  width: 200px;
  margin: 8px 0;
  padding: 7px 0px;
  border: 1px solid #F0EDED;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 400;
  border-radius: 4px;
  background-color: #fff;
  color: #6B5D5D;
  text-indent: 5px;
  height: 37px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.top{
  position: absolute;
  top: 15px;
}

.white_button{
  background: #FFFFFF;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
border-radius: 5px;
font-weight: 400;
font-size: 12px;
padding: 0px 20px;
line-height: 35px;
/* identical to box height */
text-align: center;
letter-spacing: 0.01em;
color: #334D6E;
border:none;
outline: none;
height: 35px;
}
.white_button>img{
  margin-left: 10px;
}
.search{
width: 240px;
height: 36px;
border: 1px solid #E3DADB;
box-sizing: border-box;
border-radius: 5px;
}
input:focus{
outline: none;
}
.search::placeholder{
 font-weight: normal;
font-size: 12px;
line-height: 18px;
/* identical to box height */

letter-spacing: 0.01em;

color: #323C47;

}
#qfilter{
  font-weight: 400;
font-size: 12px;
line-height: 16px;
text-align: center;
letter-spacing: 0.01em;
margin-right: 20px;
color: #334D6E;
cursor: pointer;
}
#qfilter>img{
 position: relative;
 top:-9px;
}
.students{
 font-weight: 400;
font-size: 12px;
line-height: 16px;
text-align: center;
letter-spacing: 0.01em;
margin-right: 20px;
color: #334D6E;
}
.modal{
  z-index: 99999999;
}
.modal-dialog-slideout { margin: auto 0 auto auto;background: #fff;margin-top: 45px;}
.modal.fade .modal-dialog.modal-dialog-slideout {-webkit-transform: translate(100%,0)scale(1);transform: translate(100%,0)scale(1);}
.modal.fade.show .modal-dialog.modal-dialog-slideout {-webkit-transform: translate(0,0);transform: translate(0,0);display: flex;align-items: stretch;-webkit-box-align: stretch;height: 100%;}
.modal.fade.show .modal-dialog.modal-dialog-slideout .modal-body{overflow-y: auto;overflow-x: hidden;}
.modal-dialog-slideout .modal-content{border: 0;height: fit-content;}
.modal-dialog-slideout .modal-header, .modal-dialog-slideout .modal-footer {display: block;} 
.modal-dialog-slideout .modal-header h5 {float:left;}
.modal-dialog-slideout .modal-footer {padding: 30px 15px;} 
.modal {
  animation: slideIn .8s linear;
}
#myModal1.modal,#conductCertificate.modal,#bonafiedCertificate.modal,#migrationCertificate.modal{
  animation: none;
}
.modal-header {
  padding: 28px;}
@keyframes slideIn {
  0% {
    transform: translateX(400px);
    animation-timing-function: ease-out;
  }
  60% {
    transform: translateX(-30px);
    animation-timing-function: ease-in;
  }
  80% {
    transform: translateX(10px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateX(0px);
    animation-timing-function: ease-in;
  }
}



.field-wrapper {
  padding-top: 0px;
}
.modal-title{
  font-weight: 600;
font-size: 14px;
line-height: 18px;
/* identical to box height */
letter-spacing: 0.01em;
color: #334D6E;
margin-bottom: 0px;
}
.label_p{
font-weight: normal;
font-size: 12px;
line-height: 16px;
letter-spacing: 0.01em;
color: #334D6E;
margin-bottom: 10px;
margin-top: 20px;
}
.modal select{
  background: #FFFFFF;
border: 1px solid #C4CACE;
box-sizing: border-box;
border-radius: 5px;
font-weight: 400;
height: 35px;
width: 100%;
font-size: 12px;
line-height: 16px;
letter-spacing: 0.01em;

/* table_black */

color: #323C47;

}
.modal input{
  height: 35px;
  width: 120px;
  background: #FFFFFF;
border: 1px solid #C4CACE;
box-sizing: border-box;
border-radius: 5px;
 font-weight: normal;
font-size: 12px;
line-height: 16px;
letter-spacing: 0.01em;
/* table_black */
color: #323C47;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url('../../../../assets/img1/cal.svg') no-repeat;
    background-position: center ;
    width: 25px;
    height: 25px;
    border-width: thin;
    padding: 2px 0px;
}
input[type="date"]{
  color: #787A7D;
  cursor: pointer;
  
}
input:focus{
  outline: none;
}
button:focus{
  outline: none;
}
 .checkbox {
      display: grid;
      grid-template-columns: min-content auto;
      grid-gap: 0.5em;
      font-size: 2rem;
      color: var(--color);
      cursor: pointer;
  }
  .checkbox__input input {
      opacity: 0;
      width: 0em;
      height: 0em;
    }
  .checkbox__control {
    display: inline-grid;
    width: 0.5em;
    height: 0.5em;
    border-radius: 0.1em;
  border: 1px solid #BBB2B2;
  ;
  }
  .checkbox__input {
    display: grid;
    grid-template-areas: "checkbox";
  }
  .checkbox__control svg {
      color:  #119CF1;
          background: #fff;
    transition: transform 0.1s ease-in 25ms;
    transform: scale(0);
    transform-origin: bottom left;
  }
  .checkbox__input input:checked
   + .checkbox__control svg {
    transform: scale(1);
  }
  .top22{
    position: relative;
    top: 20px;
  }
.modal .display select{
width: 270px;
}

.modal .input1{
border:none;
border-bottom: 1px solid #AFB2B5;
font-weight: 400;
font-size: 12px;
line-height: 16px;
letter-spacing: 0.01em;
width: 100%;
/* table_black */

color: #323C47;

}
.bw_button{
border: 1px solid #109CF1;
box-sizing: border-box;
/* accent button shadow */

padding: 0px 20px;
border-radius: 4px;
font-weight: 600;
font-size: 12px;
line-height: 35px;
/* identical to box height */
background: #fff;
text-align: center;
letter-spacing: 0.01em;
cursor: pointer;
color: #109CF1;
height: 35px;
}
.mr10{
  margin-right: 10px;
}
.page-content{
   background: #f9f9f9;
}
.line11{
  border-right: 2px solid #C4C4C4;
  height: 35px;
  margin-right: 15px;
}
.btn_shadow{
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

}
.dr{
  font-size: 14px;
   
}
.imgRound{
border-radius: 50%;
}
.delpopup{
  position: absolute;
  top:10%;
}
.checkbox {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 0.5em;
  font-size: 2rem;
  color: var(--color);
}
.checkbox__input input {
  opacity: 0;
  width: 0em;
  height: 0em;
}
.checkbox__control {
display: inline-grid;
width: 0.5em;
height: 0.5em;
border-radius: 0.1em;
border: 1px solid #BBB2B2;
;
}
.checkbox__input {
display: grid;
grid-template-areas: "checkbox";
}
.checkbox__control svg {
  color:  #119CF1;
transition: transform 0.1s ease-in 25ms;
transform: scale(0);
transform-origin: bottom left;
}
.checkbox__input input:checked
+ .checkbox__control svg {
transform: scale(1);
}
.pos-rel{
  position: relative;
  top: 10%;
}

.popup-content{
  font-weight: 500;
}
.notification-content-wrapper {
  .marginTenPixel {
      margin: 10px 0px;

      .btn{
          margin-bottom: 5px;
      }

      .radio-options {
          .field-checkbox-wrapper,
          .field-radio-wrapper {
              position: relative;
              padding-left: 25px;
              margin-bottom: 10px;
          }
          .field-radio-wrapper .form-radio {
              opacity: 0;
              position: absolute;
              left: 0;
              top: 0;
              width: 20px;
              height: 20px;
              z-index: 1;
          }
          .field-radio-wrapper .form-radio+label {
              vertical-align: middle;
              transition: all 0.1s;
          }
          .field-radio-wrapper .form-radio+label:after {
              content: '';
              width: 16px;
              height: 16px;
              border: 2px solid #ccc;
              border-radius: 50%;
              position: absolute;
              left: 0;
              top: 0;
              transition: all 0.1s;
          }
          .field-radio-wrapper .form-radio:checked+label:after {
              border: 2px solid #0084f6;
          }
          .field-radio-wrapper .form-radio+label:before {
              transition: all 0.1s;
              width: 1px;
              height: 1px;
              left: 9px;
              top: 9px;
              position: absolute;
              content: '';
          }
          .field-radio-wrapper .form-radio:checked+label:before {
              content: '';
              width: 8px;
              height: 8px;
              background: #0084f6;
              border-radius: 50%;
              left: 4px;
              top: 4px;
          }
          .field-radio-wrapper .form-radio:checked+label {
              color: #0084f6;
          }
      }

      .field-checkbox-wrapper .form-checkbox+label {
          vertical-align: middle;
          font-size: 14px;
          display: inline-block;
          margin-left: 10px;
      }

  }
  .content-delivery {
      .message-table-wrapper {
          max-height: 210px;
          overflow-x: hidden;
          overflow-y: scroll;
          table {
              &.message-table {
                  max-height: 200px;
                  thead {
                      tr {
                          th {
                              padding: 5px 5px !important;
                          }
                      }
                  }
                  tbody {
                      tr {
                          padding: 0px 0px !important;
                          td {
                              padding: 5px 5px !important;
                          }
                      }
                  }
              }
          }
          ::-webkit-scrollbar {
              display: block;
              width: 7px;
              height: 7px;
          }
      }
  }
}
#assignStandard{
  // position: relative;
  left: 35%;
}
.pos-abs{
  position: absolute;
  top:0%;
}

.illustration-container {
  display: block;
  .illustration-img {
    width: 40%;
    margin-left: 25%;
    margin-top: 5%;
  }
  
} 
.no-data{
  overflow-y: hidden;
}
//css old
.popup-wrapper h2 {
  margin-bottom: 15px;
  font-size: 14px;
}
.marginTenPixel1{
  margin-left: 10px;
}
.d_icons{
  margin-right: 8px;
}
//css added for bsdatepicker
.field-wrapper.datePickerBox:after {
  content: '';
  background: url(/./assets/images/calendar.svg) no-repeat;
  position: absolute;
  //right: 50px !important;
  top: 56%;
  width: 21px;
  height: 21px;
  z-index: 20;
  border-radius: 4px;
  
  }
  .date1{
    width:270px !important;
    
  }
  .date1 input{
    width:270px !important;
  }
  .center1{
 display: flex;
 justify-content: center;
  }
  .wid230{
    width: 230px;
  }
  // ================================================certificate-popups===================================
  .certificate{
    //margin: 0px;
    color: #403e40;
    font-size: 15px;
    text-transform: uppercase;
  .modal-header h4{
    text-align: center;
     font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.01em;
    padding-left: 31%;
    color: #2B2626;

  }
     
      .center{
        background: #FFFFFF;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      text-align: center;
      margin: 10px;
      padding-top: 10px;
      height: 81px;
      }
       .center>p{
        font-weight: 400;
font-size: 11px;
line-height: 15px;
text-align: center;
letter-spacing: 0.01em;
padding-top: 10px;
color: #373434;
       }
       .center:hover{
        background: #F3FBFF;
        cursor: pointer;
       }
       .center:hover>p{
        font-weight: 600;
font-size: 11px;
line-height: 15px;
text-align: center;
letter-spacing: 0.01em;
color: #5AA3CF;

       }
       .header{
        background: url(../../../../assets/images/certifcateimg/header_img.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left;
       }
@media (min-width: 576px)
{
.modal-dialog {
  max-width: 400px;

}
}
.modal-dialog {
  width: 400px;

}
.gradient{
	background: linear-gradient(90deg, #04498A 19.01%, #52C8E6 94.66%);
}
.gradient>div{
	display: flex;
	justify-content: space-between;
	width: 90%;
	// margin: 0px auto;
	// padding: 20px 0px;
    margin: 26px auto;
    padding: 25px 30px;
}

.mr20{
	margin-right: 20px;

}
.body {
  width: 50%;
	//width: 1000px;
	border: 2px solid #403e40!important;
	//height: 700px;
	border-radius: 5px;
	margin: auto;
  margin-left: 22%;
  background-color: white;
}

.w96{
	width:96%; 
	margin: 0px auto;
}
.flex{
	display: flex;
  justify-content: center;
}

.sm_heading{
	padding-right: 15px;
}
.ballet{
	font-family: 'Alex Brush', cursive;
	font-weight: 900;
	font-size: 35px;
	text-transform: capitalize;
	text-align: center;
	margin-top:40px ;
}
.display{
	display: flex;
	justify-content: space-between;
}

.content{
	margin: 60px 20px 20px 20px;
  margin-left: 20%;
  font-size: 13px;
    width: 63%;
	
}
.space{
margin: 10px 20px;
}
.dated{
	margin-bottom: 100px;
}
}
// =====================end===========================================
.pdfgen{
    width: 576px;
    height: 478px;
}
  .custCompFilter {
      input {
        width: 270px;
      }
  }
.header-text{
  width: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 0%;
}
.inst-info{
  flex-direction: column;
    align-items: center;
    display: flex;
    font-size: 13px;
}
  .modal-dialog-slideout{
width:100%;
  }
