@import "./src/assets/css/common/common-web.scss";

.middle-section{
    padding: 0px;
  }
  .activity-box-container{
    padding: 1%;
    height: 100vh;
    // background: #f7f7f7;
    .activity-container{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      .activity-item-container{
        padding: 15px 10px;
        width: 31%;
        background: #fff;
        height: 120px;
        border-radius: 4px;
        cursor: pointer;
        text-align: left;
        margin: 1%;
        box-shadow: 0px 3px 6px #696969;
        .img_name_container{
          display: flex;
          flex-direction: row;
          width: 100%;
          justify-content: flex-start;
          font-size: 14px;
          font-weight: 600;
          padding: 10px 5px;
          img{
            width: 25px;
            height: 25px;
          }
          span{
            margin-left: 10px;
            margin-top: 5px;
          }
        }
        .activity-description{
           font-size: 12px;
           padding: 5px;
        }
      }
    }
  
  }

  .middle-section{
    padding: 1%;
  }
  
  .header-section{
    .header-title{
      text-align: left;
      font-size: 14px;
      font-weight: 600;
      color: #0084f6;
    }
  }
  
  .course-menu-section-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid rgba(10,10,10,0.5);
    width: 100%;
    .course-menu-item{
      padding: 15px 10px;
      width: 31%;
      background: #fff;
      height: 120px;
      border-radius: 4px;
      cursor: pointer;
      text-align: left;
      margin: 1%;
      -webkit-box-shadow: 0px 3px 6px #696969;
      box-shadow: 0px 3px 6px #696969;
      .menu-title{
        width: 100%;
        justify-content: flex-start;
        font-size: 14px;
        font-weight: 600;
        display: flex;
        flex-direction: row;
        img{
          width: 25px;
          height: 25px;
        }
        span{
          margin-left: 10px;
          margin-top: 5px;
        }
      }
      .menu-description{
        padding: 10px;
        font-size: 12px;
      }
    }
  }
  