<div class=" clearFix" style="padding-right: 2%;">
  <aside class="middle-full">
    <section class="middle-main clearFix report-box">

      <section class="chart-section">
        <fee-widget *ngIf="showChart"></fee-widget>
      </section>

      <div class="course-menu-section-container">
        <div class="course-menu-item" routerLink="/view/fee/data-setup">
          <div class="menu-title">
            <img src="./assets/images/fee/data_setup.svg" alt="data setup">
            <span>Data Setup</span>
          </div>
          <div class="menu-description">
            <span>One time setup of Fee Templates, Additional Fee Types and Discount Reasons. </span>
          </div>
        </div>

        <div class="course-menu-item" *ngIf="jsonFlags.isFeeManageCheque" routerLink="/view/fee/cheque">
          <div class="menu-title">
            <img src="./assets/images/fee/Mange_cheque.svg" alt="manage cheque">
            <span>Manage Cheque</span>
          </div>
          <div class="menu-description">
            <span> Manage collected fee cheques and update status.</span>
          </div>
        </div>

       <!-- <div class="course-menu-item" routerLink="/view/fee/allDueReport">
          <div class="menu-title">
            <img src="./assets/images/fee/Due_fees_report.svg" alt="all due fee report">
            <span>Fee Dues</span>
          </div>
          <div class="menu-description">
            <span>Check student Fee Due details, download and send reminders.</span>
          </div>
        </div>-->

        <!--<div class="course-menu-item" routerLink="/view/fee/moduleReport">
          <div class="menu-title">
            <img src="./assets/images/fee/course_wise_report.svg" alt="{{jsonFlags.moduleState}} wise">
            <span>{{jsonFlags.moduleState}} Wise Report</span>
          </div>
          <div class="menu-description">
            <span>Paid and Due Fees report {{jsonFlags.moduleState}} wise. </span>
          </div>
        </div>-->

        <div class="course-menu-item" *ngIf="jsonFlags.isPaymentHistory" routerLink="/view/fee/paymentHistory">
          <div class="menu-title">
            <img src="./assets/images/fee/payment_history.svg" alt="payment history">
            <span>Payment History</span>
          </div>
          <div class="menu-description">
            <span>Date wise payment history of students for analysis, making changes and download. </span>
          </div>
        </div>

        <!--<div class="course-menu-item" routerLink="/view/fee/gst" *ngIf="is_tax_enabled=='1'">
          <div class="menu-title">
            <img src="./assets/images/fee/gst_report.svg" alt="gst report">
            <span>{{tax_type_without_percentage}} Report</span>
          </div>
          <div class="menu-description">
            <span>Get detailed {{tax_type_without_percentage}}-wise bifurcation for each payment.</span>
          </div>
        </div>-->

       <!-- <div class="course-menu-item" routerLink="/view/fee/onlinePayment" *ngIf="enable_online_payment == 1">
          <div class="menu-title">
            <img src="./assets/images/fee/online_paymen_history.svg" alt="online payment history">
            <span>Online Fee Collection</span>
          </div>
          <div class="menu-description">
            <span>Report of Online collected fees through app. </span>
          </div>
        </div>-->

        <div class="course-menu-item" *ngIf="jsonFlags.isAdmin || jsonFlags.isMonitoringDash" routerLink="/view/fee/monitoring-dashboard">
          <div class="menu-title">
            <img src="./assets/images/activity/dashboard.svg" alt="monitoring dashboard">
            <span>Monitoring Dashboard</span>
          </div>
          <div class="menu-description">
            <span>Fees dashboard to check reports in graphical format. </span>
          </div>
        </div>

        <div class="course-menu-item hide" routerLink="/view/fee/cheque">
          <div class="menu-title">
            <img src="./assets/images/fee/Mange_cheque.svg" alt="cheque report">
            <span> Cheque/PDC Report</span>
          </div>
          <div class="menu-description">
            <span> </span>
          </div>
        </div>

        <div class="course-menu-item hide" routerLink="/view/fee/discount">
          <div class="menu-title">
            <img src="./assets/images/fee/discount.svg" alt="">
            <span> Discount Report</span>
          </div>
          <div class="menu-description">
            <span> </span>
          </div>
        </div>

        <div class="course-menu-item hide" routerLink="/view/fee/feeType">
          <div class="menu-title">
            <img src="./assets/images/fee/Fee_types.svg" alt="fee types">
            <span>Reports Based on Fee Type</span>
          </div>
          <div class="menu-description">
            <span> </span>
          </div>
        </div>
        <div class="course-menu-item hide" *ngIf="jsonFlags.isProfitnloss" routerLink="/view/fee/profitNloss">
          <div class="menu-title">
            <img src="./assets/images/fee/Fee_types.svg" alt="fee types">
            <span> Profit and Loss</span>
          </div>
          <div class="menu-description">
            <span> Detailed report of amount earned as profit or loses.</span>
          </div>
        </div>
      </div>
    </section>
  </aside>
</div>