<div class="row head">
    <span> <a (click)="home()" style="color: #0084f6;font-weight: 600;">Analytics > </a> </span><span
        *ngIf="dateWiseSelection">Datewise</span>
    <span *ngIf="videoWiseSelection">Videowise</span>
    <span *ngIf="userWiseSelection">Userwise > <span> {{title}}</span></span>
</div>
<div class="row" style="margin: 0">
    <!-- <div class="col-sm-6 col-md-6 col-lg-6">
        <input type="text" class="search" *ngIf="videoWiseSelection" placeholder="Search" (keyup)="searchDatabase()"
            style="background:transparent;border: 1px solid lightgrey;" [(ngModel)]="searchText" #search>
        <input type="text" class="search" *ngIf="userWiseSelection" placeholder="Search" (keyup)="searchDatabaseUser()"
            style="background:transparent;border: 1px solid lightgrey;" [(ngModel)]="searchText1" #search>
    </div> -->
    <div class="col-sm-2 col-md-2 col-lg-2" style="float: right;width: 5%;">

        <!-- <div style="float: right;"> -->

            <div class="row" style="display: flex;justify-content: flex-end;">
                <!-- <div class="col-lg-3 col-md-3 col-sm-3 wise">
                    <button id="datewise" [ngClass]="selectType == 'date'? 'btnside' : 'grey'"
                        style="cursor: auto;">Datewise</button>
                </div> -->
                <!-- <div class="col-lg-3 col-md-3 col-sm-3 wise" style="width: 31%;">
                    <button id="videowise" [ngClass]="selectType == 'video'? 'btnside' : 'grey'"
                        style="cursor: auto;">Videowise</button>
                </div> -->
                <!-- <div class="col-lg-3 col-md-3 col-sm-3 wise">
                    <button id="userwise" [ngClass]="selectType == 'user'? 'btnside' : 'grey'"
                        style="cursor: auto;">Userwise</button>
                </div> -->
                <!-- <div class="col-lg-4 col-md-4 col-sm-4" style="width: 55%;" *ngIf="dateWiseSelection">
                    <button [ngClass]="selectType == 'date'? 'btnside' : 'grey'" (click)="filter('date')">
                        <i class="fa fa-filter" aria-hidden="true"></i>
                    </button>
                </div> -->
                <div class="col-lg-3 col-md-3 col-sm-3" *ngIf="videoWiseSelection">
                    <!-- <button [ngClass]="selectType == 'video'? 'btnside' : 'grey'" (click)="filter('video')">
                        <i class="fa fa-filter" aria-hidden="true"></i>
                    </button> -->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3" *ngIf="userWiseSelection">
                    <!-- <button [ngClass]="selectType == 'date'? 'grey' : 'grey'" (click)="filter('user')">
                        <i class="fa fa-filter" aria-hidden="true"></i>
                    </button> -->
                </div>
                <div style="float: right;margin-right: 30px;margin-top: 7px;">
                    <span data-toggle="modal" data-target="#helpFAQ"> <i class="fa fa-question-circle"
                        style="cursor: pointer; font-size: 20px;" title="FAQ’S &Help" aria-hidden="true"></i></span>
                  </div>
        </div>
    <!-- </div> -->
</div>
<div class="col-sm-10 col-md-10 col-lg-10" style="display: flex;justify-content: flex-end;width: 95%;" *ngIf="dateWiseSelection">
    <!-- <div class="row" style="justify-content: flex-end;" > -->
        <div class="col-lg-10 col-md-10 col-sm-10" style="justify-content: flex-end;display: flex;" *ngIf="showDateSelection">
            <!-- <div class="row" style="float: right;" *ngIf="showDateSelection"> -->
    
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="field-wrapper datePickerBox has-value" style="padding-top: 0;">
                        <input type="text" value="" id="updateDate" readonly="true" class="form-ctrl bsDatepicker"
                            style="border: 1px solid #0084f6;float: right;border-radius: 4px;" name="toDate"
                            placeholder="Select Date" bsDatepicker (ngModelChange)="dateValidationForFuture($event)"
                            [(ngModel)]="from_date" />
                    </div>
                </div>
    
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="field-wrapper datePickerBox has-value" style="padding-top: 0;">
                        <input type="text" value="" id="updateDate" readonly="true" class="form-ctrl bsDatepicker"
                            style="border: 1px solid #0084f6;float: right;border-radius: 4px;" name="toDate"
                            placeholder="Select Date" bsDatepicker (ngModelChange)="dateValidationForFuture($event)"
                            [(ngModel)]="to_date" />
                    </div>
    
                </div>
    
                <div class="col-lg-1 col-md-1 col-sm-1">
                    <button id="videowise" class="go btnside" (click)="custom()">GO</button>
                </div>
            <!-- </div> -->
        </div>
    
        <div class="col-lg-2 col-md-2 col-sm-2">
            <select name="filter" id="filter" class="selectFilter " (change)="select($event.target.value)">
                <option value="daily">Select</option>
                <option value="monthly">Monthly</option>
                <option value="yearly">Yearly</option>
                <option value="custom">Custom</option>
            </select>
        </div>
    <!-- </div> -->
</div>
<div class="row">
</div>


<!-- <div class="row" style="margin-top: 18px;"
    *ngIf="(dropDownFilter && dateWiseSelection) || (dropDownFilerVideo && videoWiseSelection)"> -->
<div #chartWrap id="chartWrap" style="margin-top: 10px;margin-bottom: 10px;" *ngIf="dateWiseSelection">
</div>
<div *ngIf="dateWiseSelection">
    <table class="tableBodyScroll">
        <thead>
            <tr>
                <th style="width: 10%;">Sr. No.</th>
                <th>Date</th>
                <th>Bandwidth (MB)</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data  of weekData; let i =index">
                <td style="width: 10%;">{{i+1}}</td>
                <td>
                    <a style="color:#0084f6" *ngIf="chartFormat == 'DD-MMM-YYYY'" (click)="videoWise(data.date,10,1)"> {{data.date | date: 'dd-MMM-yyyy'}}</a>
                    <a style="color:#0084f6" *ngIf="chartFormat != 'DD-MMM-YYYY'" (click)="videoWise(data.date,10,1)"> {{data.date}}</a>
                </td>
                <td>
                    {{data.consumed_bandwidth}}
                </td>
            </tr>
        </tbody>

    </table>
</div>
<pagination *ngIf="dateWiseSelection" (goPage)="fetchTableDataByPage($event)" (goNext)="fetchNext()"
    (goPrev)="fetchPrevious()" [pagesToShow]="10" [page]="PageIndex" [perPage]="displayBatchSize" [sizeArr]="sizeArr"
    [count]="totalRecords" (sizeChange)="updateTableBatchSize($event)">
</pagination>


<div *ngIf="videoWiseSelection">
    <table class="tableBodyScroll" style="margin-top: 20px;">
        <thead>
            <tr>
                <th>Video Title</th>
                <th>Size (MB)</th>
                <th>Consumed Bandwidth (MB)</th>
                <th>Viewed</th>
            </tr>
        </thead>
        <tbody style="max-height: 60vh;min-height: 60vh;">
            <tr *ngFor="let data  of videoData; let i =index">
                <td>
                    {{data.video_title}}
                </td>
                <td>
                    {{data.total_consumed_storage}}
                </td>
                <td>
                    {{data.total_consumed_bandwidth}}
                </td>
                <td>
                    <a style="color: #0084f6;" (click)="userwise(data.video_id, data.video_title, 10,1)">{{data.watch_count}}</a>
                </td>
            </tr>
        </tbody>

    </table>
    <pagination (goPage)="fetchTableDataByPage($event)" (goNext)="fetchNext()" (goPrev)="fetchPrevious()"
        [pagesToShow]="10" [page]="PageIndex" [perPage]="displayBatchSize" [sizeArr]="sizeArr" [count]="totalRecords"
        (sizeChange)="updateTableBatchSize($event)">
    </pagination>
    <!-- <mat-paginator [length]="totalElements" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
        (page)="onPageChange($event)">
    </mat-paginator> -->
</div>
<div *ngIf="userWiseSelection">
    <table class="tableBodyScroll" style="margin-top: 20px;">
        <thead>
            <tr>
                <th>Username</th>
                <th>Watch Duration (min)</th>
                <th>Played Date</th>
            </tr>
        </thead>
        <tbody style="max-height: 60vh;min-height: 60vh;">
            <tr *ngFor="let data of userwiseDetail;let i =index">
                <td>
                    {{data.name}}
                </td>
                <td>
                    {{data.watch_duration}}
                </td>
                <td>
                    {{data.created_date}}
                </td>
            </tr>
        </tbody>

    </table>
    <pagination (goPage)="fetchTableDataByPage($event)" (goNext)="fetchNext()" (goPrev)="fetchPrevious()"
        [pagesToShow]="10" [page]="PageIndex" [perPage]="displayBatchSize" [sizeArr]="sizeArr" [count]="totalRecords"
        (sizeChange)="updateTableBatchSize($event)">
    </pagination>
</div>

<div id="helpFAQ" class="modal fade" role="dialog">
    <div class="modal-dialog" style="top: 5%;">
      <div class="modal-content">
        <div class="modal-header" style="border-radius: 6px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 class="modal-title">Help</h2>
        </div>
        <div class="modal-body" style="margin-left: 15px;">
          <div class="new-modules-list" style="margin-bottom: 15px;">                            
            <ol style="list-style-type: disc;">
              <li style="font-weight: 100;">By default admin can check Date-Wise bandwidth consumption Graph by monthly, yearly or custom date by simply clicking on filter option.
              </li>
              <li style="font-weight: 100;">To check Video wise consumption details, admin need to click on date shown on page.
            </li>
            <li style="font-weight: 100;">After clicked on viewed count on Videowise page, admin can see user wise data for
                that video.
            </li>
            </ol>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
</div>