<div class="container-fluid product-wrapper p-0">
    <div class="row m-0 pt-3 pb-3" style="    border-bottom: 1px solid #ccc;margin-bottom: 15px;">
        <div class="col-md-8" style="padding-left: 0;">
            <section class="middle-top clearFix bulk-header">
                <div>
                    <h1 class="pull-left" style="margin-bottom: 10px;">
                        <a routerLink="/view/website-configuration/images" style="padding:0px; ">
                            Website/ App
                        </a>
                        <i style="font-family: 'FontAwesome';" class="fas fa-angle-right"></i>
                        <span>Static Page</span>
                    </h1>
                </div>
            </section>
        </div>
    </div>
</div>
<router-outlet></router-outlet>