.header-section {
  .header-title {
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    color: #0084f6;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
  }
}
.middle-section {
  padding: 1%;
}