<div #backgroundChange [ngClass]="{'hide':_commService.show_loader.getValue()=='student_login'}">
  <div class="middle-section clearFix" style="margin-top: 0px;">


    <div class="auth-page-virtual" *ngIf="!isProcturVisible">
      <div class="row proctur-logo">
        <div class="c-lg-6" [ngStyle]="dynamicImgSrc == ''  && {'visibility':'hidden'}">
          <img class="logo" [src]="dynamicImgSrc" alt="Logo" height="">
        </div>
      </div>
    </div>
    <!-- Login Marketing Data DIV Start -->
    <!-- <div class="box" style="padding-top: 1%;padding-bottom: 1%;" *ngIf="isProcturVisible">
      <div class="login-wrapper" *ngIf="isProcturVisible">
        <div class="row">
          <div class="c-lg-8 detailslog">

            <div style="margin-top: 0px;" class="second-left-div-wrapper row">
              <h2>Proctur - Learning Management System </h2>
              <div class="left-p-div">
                <p>A one stop solution for your institution to manage & grow your offline and online teaching practice!
                </p>
              </div>
            </div>

            <div style="margin-top: 0px;" class="second-left-div-wrapper row">
              <h2>Proctur Live </h2>
              <div class="left-p-div">
                <p>Start conducting live classes with two way communication, chat, QnA, attendance, recording facility!
                </p>
              </div>
            </div>

            <div style="margin-top: 0px;" class="second-left-div-wrapper row">
              <h2>Secure Video Management </h2>
              <div class="left-p-div">
                <p>Upload, share and sell recorded video lectures with students in a secure manner!</p>
              </div>
            </div>

            <div style="margin-top: 0px;" class="second-left-div-wrapper row">
              <h2>Online Tests </h2>
              <div class="left-p-div">
                <p>Conduct online tests on your own app / website with detailed reporting and analysis!</p>
              </div>
            </div>

          </div>
          <div class="c-lg-4">
          </div>
        </div>
        <div class="footer-wrapper row">
          <hr style="margin: 0;">
        </div>
        <div class="row footer-contact-wrapper">
          <div class="c-xs-6">
            <div class="c-xs-1">
              <i class="fa fa-phone call-icon"></i>
            </div>
            <div style="margin-left: 12px;" class="c-xs-4 cursor-point">
              <p>
                CALL FOR SUPPORT <br> 9971839153
                <br>
              </p>
            </div>
            <div class="c-xs-3">

            </div>
          </div>
          <div class="c-xs-6"></div>
          <div class="row">
            <div class="c-xs-8">
              <ul class="social-icons">
                <li>
                  <a href="https://www.facebook.com/proctur" class="social-icon" target="_blank">
                    <i class="icons fab fa-facebook-square"></i>
                  </a>
                </li>

                <li>
                  <a href="https://twitter.com/proctur_in" class="social-icon" target="_blank">
                    <i class="icons fab fa-twitter-square"></i>
                  </a>
                </li>

                <li>
                  <a href="https://bit.ly/2t4XFbM" class="social-icon" target="_blank">
                    <i class="icons fab fa-youtube-square"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/proctur3300/" class="social-icon" target="_blank">
                    <i class="icons fab fa-instagram"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/company/proctur" class="social-icon" target="_blank">
                    <i class="icons fab fa-linkedin-square"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="c-xs-4"></div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- Login Marketing Data DIV END -->
  <!-- Login Box -->
    <div #virtualStyle>
      <div class="login-form-wrapper">
        <div class="left" style="width: 80%;margin: 0px auto" *ngIf="isProcturVisible">
        <div class="flex" style="display: flex;" *ngIf="!isGuestUserCourse">
          <div class="login">
            <span style="margin-bottom: 30px;font-weight: 600;">
              Login To 
            </span>
            <span style="font-weight: 900;">Dashboard</span>
          </div>
          <div *ngIf="isProcturVisible" style="cursor: pointer;" (click)="openGetAdvice()">
            <a><img src="../../../../assets/images/Group_512.png" class="get_advise"></a>
          </div>
        </div>
        <div *ngIf="isProcturVisible" class="line"><img src="../../../../assets/images/Rectangle_449.png" ></div>
      </div>
        <div class="row">
          <h2 style="padding: 40px 80px 10px 52px;" *ngIf="!isGuestUserCourse && !isProcturVisible">Login to Dashboard </h2>
          <h2 *ngIf="isGuestUserCourse">Select your courses</h2>
        </div>
        <div class="row" *ngIf="isLoginView &&(!isGuestUserCourse)">
          <div class="field-wrapper has-value">
            <input class="form-ctrl" type="text" [(ngModel)]="loginDataForm.alternate_email_id"
              name="alternate_email_id" id="emailid" placeholder="Mobile or Email-id" #emailid="ngModel" required
              (keyup.enter)="loginViaServer()">
            <div *ngIf="emailid.invalid && (emailid.dirty || emailid.touched || no_email_found)"
              class="alert invalid-alert">
              <div *ngIf="emailid.errors.required">
                Enter valid Mobile or Email-id
              </div>
            </div>
            <label for="emailid"></label>
          </div>
          <div class="row" style="margin:0;">
            <div class="field-wrapper has-value password">
              <input class="form-ctrl" type="{{passwordType}}" [(ngModel)]="loginDataForm.password" name="password"
                id="password" #password="ngModel" placeholder="Password" required (keyup.enter)="loginViaServer()">
                <i style=" margin-left: -30px;
                cursor: pointer;color: #7d848c;" class="{{passwordClass}}" id="togglePassId" (click)="togglePassword()"></i>
              <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert invalid-alert">
                <div *ngIf="password.errors.required">
                  Please enter password
                </div>
              </div>
              <label for="password"></label>
            </div>
          </div>
          <div class="row" style="margin: auto;" [ngStyle]="{'width':isProcturVisible? '30%' : '90%' }">
            <div class="forgot-password" (click)="forgotPassword()">
              <a style="cursor:pointer;color: #4f52ff;">Forgot Password?</a>
            </div>
          </div>
          <div class="row" style="text-align:center" *ngIf="isGuestUser && !isKominaInstitute">
            <div class="login-field-btn">

              <p class="user-ex">
                If you don't have account?
                <a routerLink="/guest/register" style="font-weight: 600;"> &nbsp;&nbsp; Register Here</a>
              </p>
            </div>
          </div>
          <div class="row" style="margin: auto;width: 80%;">
            <div class="login-field-btn">
              <input type="button" [ngClass]="isProcturVisible ? 'fullBlue btn login-btn2' : 'fullBlue btn login-btn'" value="Secure Login" id="btnSecureLogin" (click)="loginViaServer()">
              <!-- <p class="user-ex">
                "For best experience use Google Chrome Browser"
              </p> -->
            </div>
          </div>
          <div class="row contctDiv">
            <p>
              Need help? Contact us on 9971839153
            </p>
          </div>
          <div class="row agreement-row" *ngIf="isProcturVisible">
            <p style="margin-top: 0;">
              By signing in, you agree to
              <a style="cursor:pointer" href="https://proctur.com/website/privacy-policy" target="_blank">Privacy Policy</a> and
              <a style="cursor:pointer" href="https://proctur.com/website/terms" target="_blank">Terms of Use</a>.
            </p>
          </div>
          <div class="row" style="width: 80%;margin: 0 auto;" *ngIf="isProcturVisible">
            <div class="c-xs-8" style="padding: 0;">
              <ul class="social-icons">
                <li>
                  <a href="https://www.facebook.com/proctur" class="social-icon" target="_blank">
                    <i class="icons fab fa-facebook-square"></i>
                  </a>
                </li>

                <li>
                  <a href="https://twitter.com/proctur_in" class="social-icon" target="_blank">
                    <i class="icons fab fa-twitter-square"></i>
                  </a>
                </li>

                <li>
                  <a href="https://bit.ly/2t4XFbM" class="social-icon" target="_blank">
                    <i class="icons fab fa-youtube-square"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/proctur_your_pocket_classroom/" class="social-icon" target="_blank">
                    <i class="icons fab fa-instagram"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/company/proctur" class="social-icon" target="_blank">
                    <i class="icons fab fa-linkedin-square"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="c-xs-4"></div>
          </div>
        </div>
        <!-- Show Insititue List -->
        <div class="row" style="margin:auto" [ngStyle]="{'width':isProcturVisible? '80%' : '100%' }" *ngIf="!isLoginView && isInstituteListPop">
          <div class="field-wrapper" style="margin:0;">
            <p>You are registered with multiple institutes, kindly select one to continue</p>
          </div>
          <div class="insititue-field-wrapper" [ngStyle]="{'width':isProcturVisible? '70%' : '100%' }">
            <div class="row" *ngFor="let institute of instituteListArr">
              <div class="field-institute-wrapper"
                (click)="alternateLoginMultiInstituteData(institute.userId, institute.institute_id)">
                {{institute.institute_name}}
              </div>
            </div>
          </div>
        </div>
        <!-- Show Insititute List End -->
        <!-- Show User List -->
        <div class="row" style="margin:auto" [ngStyle]="{'width':isProcturVisible? '80%' : '100%' }" *ngIf="!isLoginView && isUserListPop">
          <div class="field-wrapper" style="margin:0;">
            <p>You are registered with multiple roles, kindly select one to continue</p>
          </div>
          <div class="field-wrapper insititute-field-wrapper">
            <h2 class="insititue-list-header">Login as</h2>
          </div>
          <div class="insititue-field-wrapper" [ngStyle]="{'width':isProcturVisible? '70%' : '100%' }">
            <div class="row" *ngFor="let user of userListArr">
              <div class="field-institute-wrapper"
                (click)="alternateLoginMultiUserData(user.userID,user.user_role,user.institute_id)">
                {{user.userType}}
              </div>
            </div>
          </div>
        </div>
        <!-- Show User List End -->
        <!-- OTP verification Start -->
        <div class="row" *ngIf="!isLoginView && OTPVerificationPopUp">
          <div class="field-wrapper insititute-field-wrapper">
            <h2 class="insititue-list-header" style="padding-right:20px;">Enter OTP</h2>
          </div>
          <div class="field-wrapper" style="margin:0;">
            <p>One Time Password (OTP) has been sent to your mobile / email, please enter OTP to login.</p>
          </div>
          <div class="form-type1">
            <div class="field-wrapper has-value">
              <label>OTP</label>
              <input type="text" value="" class="form-ctrl" [(ngModel)]="otpVerificationInfo.otp_code" maxlength="4"
                name="otpData" id="otpData" #otpData="ngModel" enquiryInput required style="margin-top: 18px;">
              <div *ngIf="otpData.invalid && (otpData.dirty || otpData.touched)" class="alert invalid-alert">
                <div *ngIf="otpData.errors.required">
                  Please enter OTP
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="counter != 0">
            <div class="forgot-password" style="margin-right:18%;">
              <a style="cursor:pointer">Resend in 00:{{countDown | async}}</a>
            </div>
          </div>
          <div class="row" *ngIf="counter == 0">
            <div class="forgot-password" style="margin-right:18%;">
              <!-- <span style="cursor:pointer" (click)="alternateLoginOTPRegenerate()">Resend</span> -->
              <a style="cursor:pointer" (click)="alternateLoginOTPRegenerate()">Resend?</a>
            </div>
          </div>
          <div class="row" style="text-align:center; margin-top:2%; margin-bottom: 15px;">
            <div class="login-field-btn">
              <input type="button" value="VERIFY" (click)="alternateLoginOTPVerification()" class="fullBlue btn">
            </div>
          </div>
        </div>
        <!-- OTP verification End -->

        <!-- Show User List -->
        <div class="row" *ngIf="isGuestUserCourse">
          <div class="insititue-field-wrapper pull-left" style="margin-left: 4rem;overflow-y: scroll;height: 250px;">
            <table>
              <tbody>
                <tr *ngFor="let data of courses ; let i=index" style="border: unset;">
                  <td class="checkBoxCss" style="border: unset;
                  padding: 5px 0px">
                    <div class="field-checkbox-wrapper pull-left">
                      <input type="checkbox" class="form-checkbox" [checked]="data.checked"
                        (change)="toggleCheckbox($event,data)" [id]="'checkbox-'+i">
                      <label [for]="'checkbox-'+i"></label>
                      <p style="    display: block; color:#0084f6;
                      margin: 10px;     margin-bottom: 0px;">{{data.course_type}}</p>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
          <!-- Show User List End -->
        </div>
        <div class="row text-center" *ngIf="isGuestUserCourse">
          <div class="login-field-btn">
            <input type="button" value="Select" id="btnSecureLogin" class="fullBlue btn "
              (click)="updateCourseforGuestUser()">
            <input type="button" value="Cancel" id="btnSecureLogin" class="btn" (click)="gotoStudentPortal()">
          </div>
        </div>
      </div>
    </div>
    <div class="bg_img" *ngIf="isProcturVisible">
      <img src="./assets/images/procturlogo2.png" class="procturImgDiv">
    </div>
  </div>
</div>

<div id="multiLogin" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" style="padding: 30px;">
        <p style="font-size: 14px;">
          You are already logged in on another device. Do you want to use here? You will be logged out from other
          devices.
        </p>
      </div>
      <div class="modal-footer" style="padding: 5px;">
        <button type="button" class="btn btn-default" (click)="logOutFromOtherDeveices()">Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<div id="multiLoginForgot" class="modal fade" role="dialog" data-backdrop="static">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" (click)="closePopup()" data-dismiss="modal">&times;</button>
              <h2 class="modal-title" style="margin-bottom: 0;">Forgot Password For:</h2>
          </div>
          <div class="modal-body" style="padding: 15px;min-height: 40vh;">
            <div *ngFor="let d of multiLoginForgotPwdData;let i=index;">
              <div style="margin: 0;width: 100%;" class="field-radio-wrapper pull-left">
                <input type="radio" class="form-radio" [checked]="d.checked"
                  (change)="onForgotPwdSelection($event,d)" [id]="'radio-'+i" [value]="d.user_id+d.display" [(ngModel)]="forgotPasswordObj.temp_id">
                <label [for]="'radio-'+i"></label>
                <p style="    display: block; color:#0084f6;
                margin: 10px;     margin-bottom: 0px;">{{d.name}} ({{d.display}}) ({{d.institute_name}})</p>
              </div>
            </div>
          </div>
          <div class="modal-footer" style="padding: 5px;">
              <button type="button" [disabled]="forgotPasswordObj.userid =='' || forgotPasswordObj.userid == null" class="btn btn-default" (click)="forgotPassword()">Reset Password</button>
          </div>
      </div>
  </div>
</div>