<div class="clearFix" style="padding-left: 15px;padding-right: 15px;">
    <section class="header-section">
        <div>
            <div class="header-title">
                <a routerLink="/view/website-configuration/images" style="padding:0px; ">
                    Website/ App
                </a>
                <i style="font-family: 'FontAwesome';color: black;" class="fas fa-angle-right"></i>
                <span style="color: black;">FAQ </span>
                <i style="font-family: 'FontAwesome';color: black;" class="fas fa-angle-right"></i>
                <span style="color: black;">QA</span>
            </div>
        </div>
    </section>
</div>
<router-outlet></router-outlet>