<div class="dropdown-wrapper" *ngIf="!isDropdown">
    <ul class="single">
        <li [ngClass]="{'hide': !isChequeUpdatable}" class="item" (click)="selectOption(option)"
            *ngFor="let option of columnMaps;">
            <a>
                {{option.header}}
            </a>
        </li>
    </ul>
</div>

<div class="dropdown-wrapper" *ngIf="isDropdown">
    <button class="btn btn-light btn-xs dropdown-toggle" type="button" (click)="openMenu()" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-caret-left" aria-hidden="true"></i> &nbsp; Action
    </button>
    <!-- <button aria-expanded="true" class="d-item dropdown-trigger" (click)="openMenu()">
        <span class="d-item svg-icon-wrap">
            <span class="visually-hidden"></span>
            <div aria-hidden="true" type="ellipsis-horizontal-icon">
                <svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon"
                    focusable="false">
                    <path d="M2,10H6v4H2V10Zm8,4h4V10H10v4Zm8-4v4h4V10H18Z" class="large-icon" style="fill: currentColor"></path>
                </svg>
            </div>
        </span>
    </button> -->

    <div class="d-item dd-list-container" *ngIf="showMenu" (mouseleave)="closeMenu()">
        <div class="d-item dropdown-list">
            <div class="d-item dd-list-inner">
                <ul class="d-item actions-menu">
                    <li class="d-item action-item" (click)="selectOption(option)" *ngFor="let option of columnMaps">
                        <a class="d-item enq-act enq-act--one">
                            {{option.header}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>