
.box.box-primary {
    border-top-color: #3c8dbc;
}
.box .box-body {
    padding: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.text-center {
    text-align: center;
}
.text-muted {
    color: #999;
}
.profile-user-img {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    padding: 3px;
    border: 3px solid #d2d6de;
}
.img-circle {
    border-radius: 50%;
}
.nav-tabs-custom > .tab-content {
    background: #fff;
    padding: 10px;
}
.tab-content>.active {
    display: block;
}
.box {
    position: relative;
    background: #ffffff;
    margin-bottom: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 100%;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
     cursor: default;
     background-color: #fff;
     border: 1px solid #ddd; 
    border-bottom-color: transparent;
}
.blue_button {
    background-color: #109CF1;
    color: white;
    padding: 0px 20px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    line-height: 35px;
    cursor: pointer;
    float: right;
  }
  