@import "./src/assets/css/common/variables.scss";
table {
    thead {
        tr {
            th {
                padding-bottom: 10px;
                padding-top: 10px;
            }
        }
    }
    tbody {
        tr {
            td {
                padding-bottom: 10px;
                padding-top: 10px;
                .editOptions li {
                    display: inline-block;
                }
            }
            .field-wrapper {
                padding: 0px !important;
                .form-ctrl {
                    display: block;
                    box-sizing: border-box;
                    padding: 0px 0px 0px 5px;
                    outline: none;
                    border: 0;
                    height: 26px;
                    box-shadow: none;
                    border-radius: 0;
                    line-height: 25px;
                    background: transparent;
                    width: 60%;
                    text-align: center;
                    border-bottom: 1px solid #ccc;
                }
            }
        }
        .displayComp {
            .view-comp {}
            .edit-comp {
                display: none
            }
        }
        .editComp {
            .view-comp {
                display: none
            }
            .edit-comp {}
        }
    }
}

.anchorTagCursor {
    cursor: pointer;
}
.astrick{
    color: red;
}
@media screen and (max-width: 995px),
screen and (max-height: 768px) {
    #divSlotTable {
        margin-left: 0px !important;
        margin-top: 15px;
        margin-right: 15px !important;
        max-height: 480px;
        overflow: hidden;
        width: 100%;
        .table-scroll-wrapper {
            max-height: 430px;
        }
        ::-webkit-scrollbar {
            display: block;
            width: 7px;
            height: 7px;
        }
    }
}

.middle-section {
    padding: 1%;
    width: 100%;
    box-sizing: border-box;
}

.add-edit {
    margin-bottom: 15px;
    margin-top: 25px;
    i {
        border: 1px solid $common-blue;
        display: inline-block;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        line-height: 16px;
        text-align: center;
        font-size: 17px;
        vertical-align: middle;
        margin-right: 4px;
    }
    span {
        display: inline-block;
        margin-bottom: 0px;
    }
    .expend-box {
        i {
            line-height: 12px;
            font-size: 14px;
        }
    }
    a {
        cursor: pointer;
    }
}

.create-standard-form {
    margin: -18px 0;
    padding-left: 20px;
    margin-bottom: -10px;
    background: #efefef;
    border-top: 1px solid #d8d8d8;
    .form-ctrl {
        background: transparent;
        border-bottom: solid 1px #cccccc;
    }
}

.closeBtnClass {
    line-height: 11px !important;
}

.editCellInput {
    margin: auto;
    display: block;
}

.pull-right {
    // margin-top: 26px;
    margin-left: 122px;
}

.grid-container {
    display: grid;
    grid-column-gap: -80px;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.btnclass {
    margin-top: 13px;
    margin-bottom: 10px;
    margin-right: 74%;
}

.marginhead {
    margin-bottom: -16px;
}
.row{

&.field{

    display: flex;
 // flex-flow: column-reverse;
  margin-bottom: 1em;
}
}

form{
    margin:0.9em 0;
}

.search-filter-wrapper {
    margin: 10px 5px 10px 5px;
    float: right;
    .search-field {
        font-size:12px;
        padding: 7px 10px;
        width: 200px;
        box-sizing: border-box;
        float: right;
        height: 35px;
        font-size: 14px;
    }
}
.filter-box {
    padding: 0px 0px;
    margin-bottom: 5px;

}

.btn-sms-search {
    margin-top: 35px;
    text-align: center;
    margin-left: 280px;
    width: 100%
}

.search-filter-wrapper {
    // margin-top: -51px;
    .normal-field {
        padding: 7px 10px;
        border: 1px solid #ccc; // width: 130px;
        box-sizing: border-box;
        margin-right: 10px;
        margin-bottom: 5px;
        height: 35px;
        font-size: 14px;
        margin-left: 229px;
    }
}

.btn-sms-search {
    margin-top: 35px;
    text-align: center;
    margin-left: 280px;
    width: 100%
}

// .search-filter-wrapper {
//     margin-top: 10px;
//     .normal-field {
//         padding: 7px 10px;
//         border: 1px solid #ccc; // width: 130px;
//         box-sizing: border-box;
//         margin-right: 10px;
//         margin-bottom: -5px;
//         height: 35px;
//         font-size: 14px;
//         margin-left: 229px;
//     }
