<div class="clear-fix">
    <aside class="middle-full">
        <section class="middle-main clearFix attendance-container">

            <section class="middle-top mb0 clearFix sms-header">
                <h2 class="pull-left">
                    <a routerLink="/view/reports/home">
                        Report
                        <!-- <i style="font-family: 'FontAwesome';font-size: 24px; cursor: pointer;" class="fas fa-home"></i> -->
                    </a>
                    <i style="font-family: 'FontAwesome';" class="fas fa-angle-right"></i> Profit and Loss Report
                </h2>
                <aside class="pull-right">
                </aside>
            </section>

            <section class="filter-form">
                <div class="row">
                    <div class="c-lg-12">
                        <div class="c-lg-6" style="margin-top:15px; margin-bottom: 15px;">
                            <div class="c-lg-12">
                                <div class="c-lg-4 field-radio-wrapper madeRadio">
                                    <input type="radio" class="form-radio" id="currentMonth" [(ngModel)]="getExpenses.type" name="currentMonth" value="0" checked="checked">
                                    <label for="currentMonth">Current Month</label>
                                </div>

                                <div class="c-lg-4 field-radio-wrapper madeRadio">
                                    <input type="radio" class="form-radio" id="tillDate" [(ngModel)]="getExpenses.type" name="currentMonth" value="1" checked="true">
                                    <label for="tillDate">Till Date</label>
                                </div>

                                <div class="c-lg-4 field-radio-wrapper madeRadio">
                                    <input type="radio" class="form-radio" id="dateRange" name="currentMonth" value="2" [(ngModel)]="getExpenses.type">
                                    <label for="dateRange">Date Range</label>
                                </div>
                            </div>
                        </div>
                        <div class="c-lg-6">
                            <div class="c-lg-12">
                                <div class="c-lg-6  field-wrapper datePickerBox">
                                    <input type="text" class="form-ctrl" bsDatepicker readonly="true" [(ngModel)]="getExpenses.enddate">
                                </div>
                                <div class="c-lg-6 field-wrapper datePickerBox">
                                    <input type="text" class="form-ctrl" bsDatepicker readonly="true" [(ngModel)]="getExpenses.startdate">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="c-lg-12">
                        <div class="c-lg-10"></div>
                        <div class="c-lg-2">
                            <input type="button" class="btn fullBlue" value="GO" style="float:right;margin-right:34px;" (click)=" fetchAllData(getExpenses.type)">
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="scrollB">
                    <div class="scrollIn">
                        <div>
                            <ul class="table-display">
                                <li style="text-align: center; height:44px; padding:10px;" class="table-inner">
                                    Expenses Details
                                </li>
                            </ul>
                            <hr style="margin:0px;">
                        </div>
                        <div>
                            <ul class="table-display">
                                <li class="table-made">
                                    Payment Date
                                </li>
                                <li class="table-made">
                                    Category
                                </li>
                                <li class="table-made">
                                    Amount
                                </li>
                            </ul>
                            <hr style="margin:0px;">
                            <div *ngIf="expenseData.length!=0">
                                <ul *ngFor="let i of expenseData">
                                    <ul class="table-format">
                                        <li class="table-formation">
                                            {{i.payment_date}}
                                            <hr class="hrTag">
                                        </li>
                                    </ul>
                                    <ul class="table-format">
                                        <li class="table-formation">
                                            {{i.category}}
                                            <hr class="hrTag">
                                        </li>
                                    </ul>
                                    <ul class="table-format">
                                        <li class="table-formation">
                                            {{ _commService.currency_default_symbol}}{{(i.amount).toLocaleString('en-IN')}}
                                            <hr class="hrTag">
                                        </li>
                                    </ul>
                                </ul>
                            </div>
                            <div *ngIf="expenseData.length == 0">
                                <ul class="table-form">
                                    <li class="table-for">
                                        No expenses Found
                                    </li>
                                </ul>
                                <hr style="margin:0px;">
                            </div>
                            <div *ngIf="profitLossData.length!=0">
                                <ul *ngFor="let i of profitLossData">
                                    <ul class="table-form">
                                        <li class="table-for">
                                            Expense On Inventories : {{ _commService.currency_default_symbol}}{{(i.expense_inventory).toLocaleString('en-IN')}}
                                        </li>
                                    </ul>
                                    <hr style="margin: 0px;">
                                    <ul class="table-form">
                                        <li class="table-for" *ngFor="let k of expenseData">
                                            Total Expenses : {{ _commService.currency_default_symbol}}{{(i.expense_inventory + k.amount).toLocaleString('en-IN')}}
                                        </li>
                                    </ul>
                                    <hr style="margin:0px;">

                                </ul>
                                <ul class="table-display">
                                    <li style="text-align: center; height:44px; padding:10px;" class="table-inner">
                                        Income Details
                                    </li>
                                </ul>
                                <hr style="margin:0px;">
                            </div>
                            <ul class="table-display">
                                <li class="table-made">
                                    Recieved Date
                                </li>
                                <li class="table-made">
                                    Category
                                </li>
                                <li class="table-made">
                                    Amount
                                </li>
                            </ul>
                            <hr style="margin:0px;">
                            <div *ngIf="incomeData.length!=0">
                                <ul *ngFor="let i of incomeData">
                                    <ul class="table-format">
                                        <li class="table-formation">
                                            {{i.payment_date}}
                                        </li>
                                    </ul>
                                    <ul class="table-format">
                                        <li class="table-formation">
                                            {{i.category}}
                                        </li>
                                    </ul>
                                    <ul class="table-format">
                                        <li class="table-formation">
                                            {{ _commService.currency_default_symbol}}{{(i.amount).toLocaleString('en-IN')}}
                                        </li>
                                    </ul>
                                    <hr style="margin: 0px;">
                                </ul>
                            </div>
                            <div *ngIf="incomeData.length == 0">
                                <ul class="table-form">
                                    <li class="table-for">
                                        No Income Found
                                    </li>
                                </ul>
                            </div>
                            <hr style="margin:0px;">
                            <div *ngIf="collectionData.length!=0">
                                <ul *ngFor="let i of collectionData">
                                    <ul class="table-form">
                                        <li class="table-for">
                                            Total Fees Collected : {{ _commService.currency_default_symbol}}{{(i.total_fees_collected).toLocaleString('en-IN')}}
                                        </li>
                                    </ul>
                                    <hr style="margin: 0px;">
                                    <ul class="table-form">
                                        <li class="table-for">
                                            Total Fees Collected(Others)
                                            <aside class="pull-left" style="position: relative; top: -1vh; left:55%;">
                                                <rob-tooltip [textMessage]="'?'" [message]="helpMsg4" [placement]="'left'" [customClass]="'left'">
                                                </rob-tooltip>
                                            </aside>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : {{ _commService.currency_default_symbol}}{{(i.total_fees_collected_other).toLocaleString('en-IN')}}
                                        </li>
                                    </ul>
                                    <hr style="margin:0px;">
                                    <ul class="table-form">
                                        <li class="table-for">
                                            Total Sales Revenue
                                            <aside class="pull-left" style="position: relative; top: -1vh; left: 48vw;">
                                                <rob-tooltip [textMessage]="'?'" [message]="helpMsg" [placement]="'left'" [customClass]="'left'">
                                                </rob-tooltip>
                                            </aside>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : {{ _commService.currency_default_symbol}}{{(sum + i.total_fees_collected
                                            + i.total_fees_collected_other).toLocaleString('en-IN')}}
                                        </li>
                                    </ul>
                                    <hr style="margin:0px;">
                                    <ul *ngFor="let k of profitLossData" class="table-form" style="margin-top:5px;">
                                        <li class="table-for" *ngIf="((sum + i.total_fees_collected + i.total_fees_collected_other) - (k.expense_inventory + sumExpense)) > 0">
                                            Net Income
                                            <aside class="pull-left" style="position: relative; top: -1vh; left: 47vw;">
                                                <rob-tooltip [textMessage]="'?'" [message]="helpMsg3" [placement]="'left'" [customClass]="'left'">
                                                </rob-tooltip>
                                            </aside>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span style="color: green; font-weight: bold;">:{{ _commService.currency_default_symbol}}{{((sum + i.total_fees_collected + i.total_fees_collected_other) - (k.expense_inventory
                                                + sumExpense)).toLocaleString('en-IN')}} </span>
                                        </li>
                                        <li class="table-for" *ngIf="((sum + i.total_fees_collected + i.total_fees_collected_other) - (k.expense_inventory + sumExpense)) < 0">
                                            Net Income
                                            <aside class="pull-left" style="position: relative; top: -1vh; left: 46vw;">
                                                <rob-tooltip [textMessage]="'?'" [message]="helpMsg2" [placement]="'left'" [customClass]="'left'">
                                                </rob-tooltip>
                                            </aside>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span style="color: red; font-weight: bold;">:{{ _commService.currency_default_symbol}}{{((sum + i.total_fees_collected + i.total_fees_collected_other) - (k.expense_inventory
                                                + sumExpense)).toLocaleString('en-IN')}} </span>
                                        </li>
                                    </ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </aside>
</div>