
body {
    background: #EEEEF4;
    color: #999;
}

h1 {
    font-weight: 100;
    font-size: 27pt;
    color: #E43;
}

p {
    font-weight: 300;
}

.warning-content {
    position: absolute;
    top: 150px;
    width: 100%;
    height: 300px;
    text-align: center;
    margin: 0;
}
.attendance-container{
    // height: 85vh;
    background: #efefef;
    padding: 5px;
    overflow: auto;
}
.filter-form{
    background: #fff;
    box-shadow: 0px 0px 2px 2px #dadada;
    border-radius: 10px;
    .row {
        margin: 5px 15px;
    }
    .madeRadio{
        label{
            &::before{
                top:3px;
                left: 3px;
            }
        }
    }
    .field-wrapper {
        position: relative;
        &.datePickerBox {
            .form-ctrl {
                cursor: pointer;
                position: relative;
                z-index: 1;
                background: transparent;
            }
            &:after {
                content: '';
                background: url('../../../../assets/images/calendar.svg') no-repeat;
                position: absolute;
                right: 19px;
                top: 17px;
                width: 21px;
                height: 21px;
                z-index: 0;
            }
        }
    }

}
.table-format{
    width: 32.99%;
    display: inline-block;
    background: white;
    text-align: center;
}
.table-display{
    margin-top: 2px;
    display: inline-block;
    background: white;
    width:100%;
}
.table-inner{
    height:30px;
    font-weight: bold;
}
.table-made{
    padding: 10px;
    height: 44px;
    width: 32.33%;
    margin-left: 5px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
}
.table-formation{
    padding: 10px;
    height: 44px;
    width: 100.33%;
    margin-left: 5px;
    text-align: center;
    border-bottom: #efefef;
}
.hrTag{
    margin: 14px -6px 0px -18px;
}
.table-form{
    width: 99.99%;
    /* display: inline-block; */
    background: white;
    text-align: center;
    font-size: 15px;
}
.table-for{
    width:100%;
    padding: 10px 0px 10px 0px;
}
.scrollB{
    margin-top:5vh;
    height: 486px;
    ::-webkit-scrollbar{
        display: block;
    }
    .scrollIn{
        height: 486px;
        overflow: auto;
        border: 1px solid #b7abab36;
    }
}