<div id="addPayerModal" class="modal fade" role="dialog" data-backdrop="static">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" style="margin-top: 10%;">
      <div class="modal-header">
        <button type="button" class="close" (click)="closePopups()">&times;</button>
        <h3 class="modal-title" *ngIf="isEditPayer">Update Customer</h3>
        <h3 class="modal-title" *ngIf="!isEditPayer">Create Customer</h3>
      </div>
      <div class="modal-body">
        <div class="payee-container">
          <div class="payee-item field-wrapper">
            <label for="">Title</label>
            <select class="form-ctrl" name="" [(ngModel)]="payerDetails.title">
              <option value="Mr.">Mr.</option>
              <option value="Ms.">Ms.</option>
            </select>
          </div>
          <div class="payee-item field-wrapper">
            <label for="">Payer Name</label>
            <input type="text" name="" value="" [(ngModel)]="payerDetails.name" placeholder="Enter Payer Name"
              class="form-ctrl">
          </div>
          <div class="payee-item field-wrapper">
            <label for="">Vendor Type</label>
            <select class="form-ctrl" name="" [(ngModel)]="payerDetails.vendorType">
              <option title="{{party.data_value}}" [value]="party.data_key" *ngFor="let party of partyDetails">
                {{ (party.data_value.length > 30) ? (party.data_value | slice:0:30) + '...' : party.data_value }}
              </option>
            </select>
          </div>
          <div class="payee-item field-wrapper">
            <label for="">Primary Contact No.</label>
            <input type="text" name="" value="" [(ngModel)]="payerDetails.primaryContactNo"
              onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" maxlength="10"
              placeholder="Enter Primary Contact Number" class="form-ctrl">
          </div>
          <div class="payee-item field-wrapper">
            <label for="">Company Name</label>
            <input type="text" name="" value="" [(ngModel)]="payerDetails.companyName" placeholder="Enter Company Name"
              class="form-ctrl">
          </div>
          <div class="payee-item field-wrapper">
            <label for="">Alternative Contact No.</label>
            <input type="text" name="" value="" [(ngModel)]="payerDetails.secondaryContactNo"
              onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" maxlength="10"
              placeholder="Enter Alternative Contact Number" class="form-ctrl">
          </div>
          <div class="payee-item field-wrapper">
            <label for="">Email ID</label>
            <input type="text" name="" value="" [(ngModel)]="payerDetails.emailId" placeholder="Enter Email Id"
              class="form-ctrl">
          </div>
          <div class="payee-item field-wrapper">
            <label for="">Display Name <span class="danger">*</span></label>
            <input type="text" name="" value="" [(ngModel)]="payerDetails.displayName" placeholder="Enter Display Name"
              class="form-ctrl">
          </div>
          <div class="payee-item field-wrapper">
            <label for="">Address</label>
            <input type="text" name="" value="" [(ngModel)]="payerDetails.address" placeholder="Enter Address"
              class="form-ctrl">
          </div>
          <div class="payee-item field-wrapper">
            <label for="">Notes</label>
            <input type="text" name="" value="" [(ngModel)]="payerDetails.notes" placeholder="Enter Notes"
              class="form-ctrl">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default" (click)="closePopups()">Close</button> -->
        <button type="button" class="btn btn-default add-area-btn" (click)="savepayerDetails()">Save</button>
      </div>
    </div>

  </div>
</div>