$color-base: #efefef;
$color-base: #efefef;
$color-highlight: lighten($color-base,
7%);
.skeleton {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 12px;
    background: $color-base;
    border-radius: 2px;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, $color-base, $color-highlight, $color-base);
        animation: progress 1s ease-in-out infinite;
  }
}

.table {
    tr {
        th{
            text-align: center !important;
            &.Message    {
                width: 20% !important;
            }
            &.Contact{
                text-align: left !important;
                width: 15% !important;
            }
            &.Date{
                text-align: right !important;
            }
            &.Id{
                text-align: right !important;
            }
            &.Name{
                text-align: left !important;
            }
            &.Marks{
                text-align: right !important;
            }
            &.Rank{
                text-align: right !important;
            }
        }
        td {
            text-align: center !important;
            &.Message    {
                width: 20% !important;
            }
            &.Contact{
                text-align: left !important;
                width: 15%;
            }
            &.Date{
                text-align: right !important;
            }
            &.Id{
                text-align: right !important;
            }
            &.Name{
                text-align: left !important;
            }
            &.Marks{
                text-align: right !important;
            }
            &.Rank{
                text-align: right !important;
            }
        }
    }
    
}
.first{
    color: red;
}
.second{
    color:green;
}
