<section style="padding-bottom: 0;padding-right: 2%;" class="clearFix">
  <!-- Library Menu -->
  <section class="menu_section">
    <div class="library_menu_container">
      <div class="library_menu_item" routerLink="/view/library/issue">
        <div class="lib_menu_img">
          <img src="./assets/images/library/gray/issue.svg" alt="issue" *ngIf="activeSession !='issue'">
          <img src="./assets/images/library/color/issue.svg" alt="issue" *ngIf="activeSession =='issue'">
        </div>
        <div class="lib_menu_name" [ngClass]="activeSession =='issue' ? 'activeMenu' : 'nonActive'">
          <i class="fa fa-circle-o ring" aria-hidden="true"></i>
          <span>Issue Book</span>
        </div>
      </div>
      <div class="library_menu_item" routerLink="/view/library/return">
        <div class="lib_menu_img">
          <img src="./assets/images/library/gray/return.svg" alt="return" *ngIf="activeSession !='return'">
          <img src="./assets/images/library/color/return.svg" alt="return" *ngIf="activeSession =='return'">
        </div>
        <div class="lib_menu_name" [ngClass]="activeSession =='return' ? 'activeMenu' : 'nonActive'">
          <i class="fa fa-circle-o ring" aria-hidden="true"></i>
          <span>Return Book</span>
        </div>
      </div>
      <div class="library_menu_item">
        <div class="lib_menu_img" routerLink="/view/library/add">
          <img src="./assets/images/library/gray/add.svg" alt="add" *ngIf="activeSession !='add'">
          <img src="./assets/images/library/color/add.svg" alt="add" *ngIf="activeSession =='add'">
        </div>
        <div class="lib_menu_name" [ngClass]="activeSession =='add' ? 'activeMenu' : 'nonActive'">
          <i class="fa fa-circle-o ring" aria-hidden="true"></i>
          <span>Add New Book</span>
        </div>
      </div>
      <!-- <div class="library_menu_item">
        <div class="lib_menu_img" (click)="menuChange('activity')">
          <img src="./assets/images/library/gray/activity.svg" alt="activity" *ngIf="!activity">
          <img src="./assets/images/library/color/activity.svg" alt="activity" *ngIf="activity">
        </div>
        <div class="lib_menu_name" [ngClass]="activity ? 'activeMenu' : 'nonActive'" (click)="menuChange('activity')">
          <i class="fa fa-circle-o ring" aria-hidden="true"></i>
          <span>Activity</span>
        </div>
      </div> -->
      <div class="library_menu_item">
        <div class="lib_menu_img" routerLink="/view/library/report/lost">
          <img src="./assets/images/library/gray/report.svg" alt="report" *ngIf="activeSession !='report'">
          <img src="./assets/images/library/color/report.svg" alt="report" *ngIf="activeSession =='report'">
        </div>
        <div class="lib_menu_name" [ngClass]="activeSession =='report' ? 'activeMenu' : 'nonActive'">
          <i class="fa fa-circle-o ring" aria-hidden="true"></i>
          <span>Report</span>
        </div>
      </div>
      <div class="library_menu_item">
        <div class="lib_menu_img" routerLink="/view/library/dashboard">
          <img src="./assets/images/library/gray/dashboard.svg" alt="dashboard" *ngIf="activeSession !='dashboard'">
          <img src="./assets/images/library/color/dashboard.svg" alt="dashboard" *ngIf="activeSession =='dashboard'">
        </div>
        <div class="lib_menu_name" [ngClass]="activeSession =='dashboard' ? 'activeMenu' : 'nonActive'">
          <i class="fa fa-circle-o ring" aria-hidden="true"></i>
          <span>Dashboard</span>
        </div>
      </div>
      <div class="library_menu_item">
        <div class="lib_menu_img" routerLink="/view/library/master">
          <img src="./assets/images/library/gray/master.svg" alt="dashboard" *ngIf="activeSession !='master'">
          <img src="./assets/images/library/color/master.svg" alt="dashboard" *ngIf="activeSession =='master'">
        </div>
        <div class="lib_menu_name" [ngClass]="activeSession =='master' ? 'activeMenu' : 'nonActive'">
          <i class="fa fa-circle-o ring" aria-hidden="true"></i>
          <span>Setup</span>
        </div>
      </div>
    </div>
  </section>

  <section class="middle">
    <router-outlet></router-outlet>
  </section>

</section>