<div class="row">
  <div class="head" id="addDiv" style="text-align: right">
    <button class="btn_addecourse" (click)="gotoAddTopic()">
      <i class="fa fa-plus" aria-hidden="true" style="font-size: 14px;"></i> Topic &nbsp;
    </button>
  </div>
</div>

<div>
    <div class="row">
        <div class="col-md-12 subject-wrapper" style="padding: 0;">
          <div class="subject-title">
            Subject List 
          </div>
          <div class="deleteFile" (click)="setRemoveDataFile()">
            Delete File
          </div>
        </div>
      </div>
      <div class="row" *ngIf="subjectList.length==0">
        <div class="col-md-12 subject-wrapper" style="margin: 2%;margin-left: 0;text-align: center;">
          <div>
            {{outputMessage}}
          </div>
        </div>
      </div>
      
      <div class="fluid-container data-wrapper">
        <div class="row main-topic-row" *ngFor="let topic of subjectList;">
          <div class="row singleton-row col-md-12 topic-data main-topic-data">
            <!-- <div class="field-checkbox-wrapper">
              <input type="checkbox" name="topicIds[]" id="topic{{topic.topic_id}}" class="topic-selector form-checkbox">
              <label for="topic{{topic.topic_id}}"></label>
            </div> -->
      
            <div class="col-md-12 topic-name">
              <div class="col-md-4">
              <span style="margin-right: 10px;">
              <button class="btn-ga-collapse">
                <i class="fa fa-minus" *ngIf="topic.isExpand" (click)="collapseAll(topic, false)"></i>
                <i class="fa fa-plus" *ngIf="!topic.isExpand" (click)="collapseAll(topic, true)"></i>
              </button> {{topic.subjectName}}</span>
              </div>
              <div class="col-md-7">
              <span *ngFor="let count of topic.category_count" title="{{count.category_name}}" class="category_name">
                <span *ngIf="count.category_name != 'VDOCipher' && count.category_name != 'Youtube URL'">{{(count.category_name.length > 13) ? (count.category_name | slice:0:13) + '...' : count.category_name}}</span>
                <span *ngIf="count.category_name == 'VDOCipher'">Video</span>
                <span *ngIf="count.category_name == 'Youtube URL'">Youtube Video</span>
                 - {{count.count}}
              </span>
              </div>
            </div>
            <div class="col-md-1">
              <div style="cursor: pointer;">
                <button class="btn btn-xs btn-ga-white" (click)="uploadPopupOpen(topic)"><i class="fa fa-upload" title="Upload"></i></button>
                <!-- <button class="btn btn-xs btn-ga-white" (click)="getToSubjectMaterials(topic)">view topic</button> -->
                <!-- <button class="btn btn-xs btn-ga-white">Add Topic</button> -->
              </div>
            </div>
          </div>
          <div class="row col-md-12 p-0" *ngIf="topic.isExpand">
            <div class="col-md-12 topic-material-data">
              <ng-container *ngTemplateOutlet="youtubeData; context:{$implicit: topic.studyMaterialMap.YoutubeURL, level: 1}"></ng-container>
              <ng-container *ngTemplateOutlet="VDOCipher ; context:{$implicit: topic.studyMaterialMap.VDOCipher , level: 1}"></ng-container>
              <ng-container *ngTemplateOutlet="assignmentData; context:{$implicit: topic.studyMaterialMap.Assignment, level: 1}">
              </ng-container>
              <ng-container *ngTemplateOutlet="imagelistData; context:{$implicit: topic.studyMaterialMap.Images, level: 1}"></ng-container>
              <ng-container *ngTemplateOutlet="audioNotesData; context:{$implicit: topic.studyMaterialMap.AudioNotes, level: 1}">
              </ng-container>
              <ng-container *ngTemplateOutlet="notesData; context:{$implicit: topic.studyMaterialMap.Notes, level: level+1}">
              </ng-container>
              <ng-container *ngTemplateOutlet="Vimeo; context:{$implicit: topic.studyMaterialMap.Vimeo, level: level+1}">
              </ng-container>
              <ng-container
                *ngTemplateOutlet="previousYearQuesListData; context:{$implicit: topic.studyMaterialMap.PreviousYearQuestionsPaper, level: level+1}">
              </ng-container>
              <ng-container *ngTemplateOutlet="slidesListData; context:{$implicit: topic.studyMaterialMap.Slides, level: level+1}">
              </ng-container>
              <ng-container
                *ngTemplateOutlet="studyMaterialList; context:{$implicit: topic.studyMaterialMap.EBook, level: level+1}">
              </ng-container>
            </div>
            <div class="row col-md-12 subTopics-data" *ngIf="topic.isExpand">
              <ng-container *ngTemplateOutlet="recursiveNodes; context: { $implicit: topic, subLevel: 1 } ">
              </ng-container>
            </div>
          </div>
        </div>
      </div>
</div>


<ng-template #recursiveNodes let-subTopics let-level="subLevel">
  <div class="row topic-row" *ngFor="let topic of subTopics.subtopicList">
    <div class="row singleton-row col-md-12 topic-data" style="background: #ebf6ff;">
      <div class="col-md-7 topic-name" [ngStyle]="{'padding-left': level+'em'}">
        <button class="btn-ga-collapse">
          <i class="fa fa-minus" *ngIf="topic.isExpand" (click)="toggleObject(topic)"></i>
          <i class="fa fa-plus" *ngIf="!topic.isExpand && (calculateStudyMaterialMapLength(topic)>0 || topic.subtopicList?.length>0)" (click)="toggleObject(topic)"></i>
        </button>
        <span class="txt-title"
          title="{{topic.topicName}}" style="font-weight: 600;">{{(topic.topicName?.length>60)?(topic.topicName | slice:0:60) + '...':(topic.topicName)}}</span>
        <!-- **{{topic.studyMaterialMapLength}}** {{topic.subtopicList.length}} -->
      </div>
      <div class="col-md-4">

      </div>
      <div class="col-md-1" style="padding-right: 0;">
        <div style="float: right;">
          <button class="btn btn-xs btn-ga-white" (click)="uploadTopicLevelPopupOpen(topic, subTopics)"><i class="fa fa-upload" title="Upload"></i></button>
          <!-- <button class="btn btn-xs btn-ga-white">Add Topic</button> -->
        </div>
      </div>
    </div>
    <div class="row col-md-12 p-0" *ngIf="topic.isExpand">
      <div class="row col-md-12 topic-material-data">
        <ng-container *ngTemplateOutlet="youtubeData; context:{$implicit: topic.studyMaterialMap.YoutubeURL, level: level+1}">
        </ng-container>
        <ng-container *ngTemplateOutlet="VDOCipher; context:{$implicit: topic.studyMaterialMap.VDOCipher, level: level+1}">
        </ng-container>
        <ng-container *ngTemplateOutlet="assignmentData; context:{$implicit: topic.studyMaterialMap.Assignment, level: level+1}">
        </ng-container>
        <ng-container *ngTemplateOutlet="imagelistData; context:{$implicit: topic.studyMaterialMap.Images, level: level+1}">
        </ng-container>
        <ng-container *ngTemplateOutlet="audioNotesData; context:{$implicit: topic.studyMaterialMap.AudioNotes, level: level+1}">
        </ng-container>
        <ng-container *ngTemplateOutlet="notesData; context:{$implicit: topic.studyMaterialMap.Notes, level: level+1}">
        </ng-container>
        <ng-container *ngTemplateOutlet="Vimeo; context:{$implicit: topic.studyMaterialMap.Vimeo, level: level+1}">
        </ng-container>
        <ng-container
          *ngTemplateOutlet="previousYearQuesListData; context:{$implicit: topic.studyMaterialMap.PreviousYearQuestionsPaper, level: level+1}">
        </ng-container>
        <ng-container *ngTemplateOutlet="slidesListData; context:{$implicit: topic.studyMaterialMap.Slides, level: level+1}">
        </ng-container>
        <ng-container
          *ngTemplateOutlet="studyMaterialList; context:{$implicit: topic.studyMaterialMap.EBook, level: level+1}">
        </ng-container>

      </div>
      <div class="row col-md-12 subTopics-data">
        <ng-container *ngTemplateOutlet="recursiveNodes; context: { $implicit: topic, subLevel: level+1 } ">
        </ng-container>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #youtubeData let-youtube let-level="level">
  <div class="row singleton-row material-row" *ngFor="let video of youtube">
    <div class="col-md-1" style="width: 1%;">
      <input type="checkbox" (change)="checkSelectedFile(video, $event.target.checked)" [(ngModel)]="video.selected" style="-webkit-appearance: checkbox;">
    </div>
    <div class="col-md-6 material-title txt-color" (click)="getVdocipherVideoOtp(video)" [ngStyle]="{'padding-left': level+'em'}">
      <h4 class="file__title" title="{{video.title}}">
        <img src="{{video.posterList[0].posterUrl}}" style="width:20px; height:20px;" aria-hidden="true" *ngIf="(video.posterList!=null && video.posterList?.length>0 && video.posterList[0].posterUrl!=null) && video.category_id==230">
        <i class="fa fa-youtube-play text-red" aria-hidden="true" *ngIf="(video.posterList==null || video.posterList?.length == 0 || video.posterList[0].posterUrl==null) && video.category_id==230"></i>        
        <!-- <div> -->
          <span
            title="{{video.title}}" class="txt-color txt-title" (click)="playYoutubeVideo(video)" style="cursor: pointer;">{{(video.title?.length>60)?(video.title | slice:0:60) + '...':(video.title)}}</span>
        <!-- </div> -->
      </h4>
    </div>
    <div class="col-md-1 txt-font">
      Youtube Video
    </div>
    <div class="col-md-1"><span style="font-size: 12px;color: #eb634b;" *ngIf="video.is_hide == 'Y'">Hidden</span></div>
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
    <div class="col-md-1" style="padding:0">
      <div class="action-buttons" style="float: right;">
        <button class="btn btn-xs btn-ga-white" (click)="editFile(video)">Edit</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #VDOCipher let-youtube let-level="level">
  <div class="row singleton-row material-row" *ngFor="let video of youtube">
    <div class="col-md-1" style="width: 1%;">
      <input type="checkbox" (change)="checkVDOCipherSelectedFile(video, $event.target.checked)" [(ngModel)]="video.selected" style="-webkit-appearance: checkbox;">
    </div>
    <div class="col-md-5 material-title txt-color" (click)="getVdocipherVideoOtp(video)" [ngStyle]="{'padding-left': level+'em'}">
      <h4 class="file__title" title="{{video.title}}">
        <img src="{{video.posterList[0].posterUrl}}" style="width:20px; height:20px;" aria-hidden="true" *ngIf="(video.posterList!=null && video.posterList?.length && video.posterList[0].posterUrl!=null)">
        <i class="fa fa-play-circle-o" aria-hidden="true" style="color: blue;font-size: 16px;" *ngIf="(video.posterList==null  || !video.posterList?.length || video.posterList[0].posterUrl==null)"></i>

        <a class="txt-color">
          <span class="txt-title"  style="cursor: pointer"
            title="{{video.title}}">{{(video.title?.length>60)?(video.title | slice:0:60) + '...':(video.title)}}</span>
        </a>
      </h4>
    </div>
    <div class="col-md-1 txt-font">
      <span *ngIf="video.video_status=='ready'">{{video.size | number:'.2-2'}}&nbsp;MB</span>
    </div>
    <div class="col-md-1 txt-font" style="padding-right: 0;">
      <span *ngIf="video.video_status=='ready'">{{video.watch_count}} &nbsp;viewed </span>
    </div>
    <div class="col-md-2 txt-font">
      <span [ngClass]="{'hide': video.video_time==null}" *ngIf="video.video_status=='ready'">  {{video.video_time }}&nbsp;Hr</span>
      <span style="font-size: 12px;color: #eb634b;" *ngIf="video.is_hide == 'Y'">Hidden</span>
    </div>
    <div class="col-md-1 txt-font" style="color:blue;" *ngIf="video.video_status=='ready'">
        {{video.video_status |titlecase}} &nbsp;
      </div>
      <div class="col-md-1 txt-font" style="color:blue;" *ngIf="video.video_status!='ready'">
        Processing &nbsp;
      </div>
    <div class="col-md-2" style="padding: 0;">
      <div class="action-buttons" style="float: right;">
        <button class="btn btn-xs btn-ga-white" (click)="editFile(video)">Edit</button>
        <button class="btn btn-xs btn-ga-white" *ngIf="video.is_video_linked!='N'" (click)="deleteVideoCipherFile(video,'unlink')">Unlink</button>
        <button class="btn btn-xs btn-ga-white" *ngIf="video.is_video_linked=='N'" (click)="deleteVideoCipherFile(video,'unlink all')">Unlink All</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #Vimeo let-youtube let-level="level">
  <div class="row singleton-row material-row" *ngFor="let video of youtube">
    <div class="col-md-1" style="width: 1%;">
      <input type="checkbox" (change)="checkVDOCipherSelectedFile(video, $event.target.checked)" [(ngModel)]="video.selected" style="-webkit-appearance: checkbox;">
    </div>
    <div class="col-md-5 material-title txt-color" (click)="playVimeoVideo(video)" [ngStyle]="{'padding-left': level+'em'}">
      <h4 class="file__title" title="{{video.title}}">
        <img src="{{video.posterList[0].posterUrl}}" style="width:20px; height:20px;" aria-hidden="true" *ngIf="(video.posterList!=null && video.posterList?.length && video.posterList[0].posterUrl!=null)">
        <i class="fa fa-play-circle-o" aria-hidden="true" style="color: blue;font-size: 16px;" *ngIf="(video.posterList==null  || !video.posterList?.length || video.posterList[0].posterUrl==null)"></i>

        <a class="txt-color">
          <span class="txt-title"  style="cursor: pointer"
            title="{{video.title}}">{{(video.title?.length>60)?(video.title | slice:0:60) + '...':(video.title)}}</span>
        </a>
      </h4>
    </div>
    <div class="col-md-1 txt-font">
      <span *ngIf="video.video_status=='ready'">{{video.size | number:'.2-2'}}&nbsp;MB</span>
    </div>
    <div class="col-md-1 txt-font" style="padding-right: 0;" (click)="viewUserListFun(video)">
      <span style="cursor: pointer;" *ngIf="video.video_status=='ready'">{{video.watch_count}} &nbsp;viewed </span>
    </div>
    <div class="col-md-2 txt-font">
      <span [ngClass]="{'hide': video.video_time==null}" *ngIf="video.video_status=='ready'">  {{video.video_time }}&nbsp;Hr &nbsp;</span>
      <span style="font-size: 12px;color: #eb634b;" *ngIf="video.is_hide == 'Y'">Hidden</span>
    </div>
    <div class="col-md-1 txt-font" style="color:blue;" *ngIf="video.video_status=='ready'">
        {{video.video_status |titlecase}} &nbsp;
      </div>
      <div class="col-md-1 txt-font" style="color:blue;" *ngIf="video.video_status!='ready'">
        Processing &nbsp;
      </div>
    <div class="col-md-2" style="padding: 0;">
      <div class="action-buttons" style="float: right;">
        <button style="margin-left: 0;" class="btn btn-xs btn-ga-white" (click)="editFile(video)">Edit</button>
        <button style="margin-left: 0;padding: 0;" class="btn btn-xs btn-ga-white" *ngIf="video.is_video_linked!='N'" (click)="deleteVideoCipherFile(video,'unlink')">Unlink</button>
        <button style="margin-left: 0;padding: 0;" class="btn btn-xs btn-ga-white" *ngIf="video.is_video_linked=='N'" (click)="deleteVideoCipherFile(video,'unlink all')">Unlink All</button>
        <button style="margin-left: 0;" class="btn btn-xs btn-ga-white" *ngIf="vimeo_video_downlodable" (click)="getVimeoDownloadData(video)">
          <i class="fa fa-download" title="Download"></i>
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #imagelistData let-image let-level="level">
  <div class="row singleton-row material-row" *ngFor="let file of image">
    <div class="col-md-1" style="width: 1%;">
      <input type="checkbox" (change)="checkSelectedFile(file, $event.target.checked)" [(ngModel)]="file.selected" style="-webkit-appearance: checkbox;">
    </div>
    <div class="col-md-6 material-title txt-color " [ngStyle]="{'padding-left': level+'em'}">
      <h4 class="file__title" title="{{file.title}}">
        <i [class]="file?.extension" aria-hidden="true"></i>
        <span class="txt-title"
          title="{{file.title}}">{{(file.title?.length>60)?(file.title | slice:0:60) + '...':(file.title)}}</span>
      </h4>
    </div>
    <div class="col-md-1 txt-font">
      {{file.size | number:'.2-2'}}&nbsp;MB
    </div>
    <div class="col-md-2 txt-font">
        {{file.downloads}} &nbsp;Downloads &nbsp;
      </div>
      <div class="col-md-1"><span style="font-size: 12px;color: #eb634b;" *ngIf="file.is_hide == 'Y'">Hidden</span></div>
    <div class="col-md-2" style="padding: 0;">
      <div class="action-buttons" style="float: right;">
        <button class="btn btn-xs btn-ga-white" (click)="editFile(file)">Edit</button>
        <button class="btn btn-xs btn-ga-white" (click)="addDownloadCount(file)">
          <a [href]="file.file_name" class="btn-ga-white-download" [download]="file.title"><i class="fa fa-download" title="Download"></i></a>
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #assignmentData let-assignment let-level="level">
  <div class="row singleton-row material-row" *ngFor="let file of assignment">
    <div class="col-md-1" style="width: 1%;">
      <input type="checkbox" (change)="checkSelectedFile(file, $event.target.checked)" [(ngModel)]="file.selected" style="-webkit-appearance: checkbox;">
    </div>
    <div class="col-md-6 material-title txt-color" [ngStyle]="{'padding-left': level+'em'}">
      <h4 class="file__title" title="{{file.title}}">
        <i [class]="file?.extension" aria-hidden="true"></i>
        <span class="txt-title"
          title="{{file.title}}">{{(file.title?.length>60)?(file.title | slice:0:60) + '...':(file.title)}}</span>
      </h4>
    </div>
    <div class="col-md-1 txt-font">
      {{file.size | number:'.2-2'}}&nbsp;MB
    </div>
    <div class="col-md-2 txt-font">
        {{file.downloads}} &nbsp;Downloads &nbsp;
      </div>
      <div class="col-md-1"><span style="font-size: 12px;color: #eb634b;" *ngIf="file.is_hide == 'Y'">Hidden</span></div>
    <div class="col-md-2" style="padding: 0;">
      <div class="action-buttons" style="float: right;">
        <button class="btn btn-xs btn-ga-white" (click)="editFile(file)">Edit</button>
        <button class="btn btn-xs btn-ga-white" (click)="addDownloadCount(file)">
          <a [href]="file.file_name" class="btn-ga-white-download" [download]="file.title"><i class="fa fa-download" title="Download"></i></a>
        </button>
        <!-- <button class="btn btn-xs btn-ga-white" (click)="setRemoveDataFile()"><i class="fa fa-trash" title="Delete"></i></button> -->
      </div>
    </div>
  </div>
</ng-template>

<ng-template #notesData let-notes let-level="level">
  <div class="row singleton-row material-row" *ngFor="let file of notes">
    <div class="col-md-1" style="width: 1%;">
      <input type="checkbox" (change)="checkSelectedFile(file, $event.target.checked)" [(ngModel)]="file.selected" style="-webkit-appearance: checkbox;">
    </div>
    <div class="col-md-6 material-title txt-color" [ngStyle]="{'padding-left': level+'em'}">
      <h4 class="file__title" title="{{file.title}}">
        <i [class]="file?.extension" aria-hidden="true"></i>
        <span class="txt-title"
          title="{{file.title}}">{{(file.title?.length>60)?(file.title | slice:0:60) + '...':(file.title)}}</span>
      </h4>
    </div>
    <div class="col-md-1 txt-font">
      {{file.size | number :'.2-2'}}&nbsp;MB
    </div>
    <div class="col-md-2 txt-font">
        {{file.downloads}} &nbsp;Downloads &nbsp;
      </div>
      <div class="col-md-1"><span style="font-size: 12px;color: #eb634b;" *ngIf="file.is_hide == 'Y'">Hidden</span></div>
    <div class="col-md-2" style="padding: 0;">
      <div class="action-buttons" style="float: right;">
        <button class="btn btn-xs btn-ga-white" (click)="editFile(file)">Edit</button>
        <button class="btn btn-xs btn-ga-white" (click)="addDownloadCount(file)">
          <a [href]="file.file_name" class="btn-ga-white-download" [download]="file.title"><i class="fa fa-download" title="Download"></i></a>
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #audioNotesData let-audios let-level="level">
  <div class="row singleton-row material-row" *ngFor="let audio of audios">
    <div class="col-md-1" style="width: 1%;">
      <input type="checkbox" (change)="checkSelectedFile(audio, $event.target.checked)" [(ngModel)]="audio.selected" style="-webkit-appearance: checkbox;">
    </div>
    <div class="col-md-6 material-title txt-color" [ngStyle]="{'padding-left': level+'em'}">
      <h4 class="file__title" title="{{audio.title}}">
        <i [class]="audio?.extension" aria-hidden="true"></i>
        <span class="txt-title"
          title="{{audio.title}}">{{(audio.title?.length>60)?(audio.title | slice:0:60) + '...':(audio.title)}}</span>
      </h4>
    </div>
    <div class="col-md-1 txt-font">
      {{audio.size | number :'.2-2'}}&nbsp;MB
    </div>
    <div class="col-md-2 txt-font">
        {{audio.downloads}} &nbsp;Downloads &nbsp;
      </div>
      <div class="col-md-1"><span style="font-size: 12px;color: #eb634b;" *ngIf="audio.is_hide == 'Y'">Hidden</span></div>
    <div class="col-md-2" style="padding: 0;">
      <div class="action-buttons" style="float: right;">
        <button class="btn btn-xs btn-ga-white" (click)="editFile(audio)">Edit</button>
        <button class="btn btn-xs btn-ga-white" (click)="addDownloadCount(audio)">
          <a [href]="audio.file_name" class="btn-ga-white" [download]="audio.title"><i class="fa fa-download" title="Download"></i></a>
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #previousYearQuesListData let-previousYearQuesList let-level="level">
  <div class="row singleton-row material-row" *ngFor="let file of previousYearQuesList">
    <div class="col-md-1" style="width: 1%;">
      <input type="checkbox" (change)="checkSelectedFile(file, $event.target.checked)" [(ngModel)]="file.selected" style="-webkit-appearance: checkbox;">
    </div>
    <div class="col-md-6 material-title txt-color" [ngStyle]="{'padding-left': level+'em'}">
      <h4 class="file__title" title="{{file.title}}">
        <i [class]="file?.extension" aria-hidden="true"></i>
        <span class="txt-title"
          title="{{file.title}}">{{(file.title?.length>60)?(file.title | slice:0:60) + '...':(file.title)}}</span>
      </h4>
    </div>
    <div class="col-md-1 txt-font">
      {{file.size | number :'.2-2'}}&nbsp;MB
    </div>
    <div class="col-md-2 txt-font">
        {{file.downloads}} &nbsp;Downloads &nbsp;
      </div>
      <div class="col-md-1"><span style="font-size: 12px;color: #eb634b;" *ngIf="file.is_hide == 'Y'">Hidden</span></div>
    <div class="col-md-2" style="padding: 0;">
      <div class="action-buttons" style="float: right;">
        <button class="btn btn-xs btn-ga-white" (click)="editFile(file)">Edit</button>
        <button class="btn btn-xs btn-ga-white" (click)="addDownloadCount(file)">
          <a [href]="file.file_name" class="btn-ga-white-download" [download]="file.title"><i class="fa fa-download" title="Download"></i></a>
        </button>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #slidesListData let-slidesList let-level="level">
  <div class="row singleton-row material-row" *ngFor="let file of slidesList">
    <div class="col-md-1" style="width: 1%;">
      <input type="checkbox" (change)="checkSelectedFile(file, $event.target.checked)" [(ngModel)]="file.selected" style="-webkit-appearance: checkbox;">
    </div>
    <div class="col-md-6 material-title txt-color" [ngStyle]="{'padding-left': level+'em'}">
      <h4 class="file__title" title="{{file.title}}">
        <i [class]="file?.extension" aria-hidden="true"></i>
        <span class="txt-title"
          title="{{file.title}}">{{(file.title?.length>60)?(file.title | slice:0:60) + '...':(file.title)}}</span>
      </h4>
    </div>
    <div class="col-md-1 txt-font">
      {{file.size | number:'.2-2'}}&nbsp;MB
    </div>
    <div class="col-md-2 txt-font">
        {{file.downloads}} &nbsp;Downloads &nbsp;
      </div>
      <div class="col-md-1"><span style="font-size: 12px;color: #eb634b;" *ngIf="file.is_hide == 'Y'">Hidden</span></div>
    <div class="col-md-2" style="padding: 0;">
      <div class="action-buttons" style="float: right;">
        <button class="btn btn-xs btn-ga-white" (click)="editFile(file)">Edit</button>
        <button class="btn btn-xs btn-ga-white" (click)="addDownloadCount(file)">
          <a [href]="file.file_name" class="btn-ga-white-download" [download]="file.title"><i class="fa fa-download" title="Download"></i></a>
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #studyMaterialList let-studyList let-level="level">
  <div class="row singleton-row material-row" *ngFor="let file of studyList">
    <div class="col-md-1" style="width: 1%;">
      <input type="checkbox" (change)="checkSelectedFile(file, $event.target.checked)" [(ngModel)]="file.selected" style="-webkit-appearance: checkbox;">
    </div>
    <div class="col-md-6 material-title txt-color" [ngStyle]="{'padding-left': level+'em'}">
      <h4 class="file__title" title="{{file.title}}">
        <i [class]="file?.extension" aria-hidden="true"></i>
        <span class="txt-title"
          title="{{file.title}}">{{(file.title?.length>60)?(file.title | slice:0:60) + '...':(file.title)}}</span>
      </h4>
    </div>
    <div class="col-md-1 txt-font">
      {{file.size | number:'.2-2'}}&nbsp;MB
    </div>
    <div class="col-md-2 txt-font">
        {{file.downloads}} &nbsp;Downloads
      </div>
      <div class="col-md-1"><span style="font-size: 12px;color: #eb634b;" *ngIf="file.is_hide == 'Y'">Hidden</span></div>
    <div class="col-md-2" style="padding: 0;">
      <div class="action-buttons" style="float: right;">
        <button class="btn btn-xs btn-ga-white" (click)="editFile(file)">Edit</button>
        <button class="btn btn-xs btn-ga-white" (click)="addDownloadCount(file)">
          <a [href]="file.file_name" class="btn-ga-white-download" [download]="file.title"><i class="fa fa-download" title="Download"></i></a>
        </button>
      </div>
    </div>
  </div>
</ng-template>

<div class="ga-modal-wrapper" *ngIf="showModal">
  <div class="ga-modal-container">
    <div class="ga-modal">
      <div class="ga-modal-head" *ngIf="type!='unlink all' && type!='unlink'">
        <span>Do you want to {{type}} this file ?</span>
      </div>
      <div class="ga-modal-head" *ngIf="type=='unlink all'">
        <span>Do you want to {{type}} video(s) ?</span>
      </div>
      <div class="ga-modal-head" *ngIf="type=='unlink'">
        <span>Do you want to {{type}} this video ?</span>
      </div>
      <div class="ga-modal-body">
        <div class="row upload-box">
          <div class="col-md-12 file-form">
            <button class="btn btn-xs btn-ga-white btn-border btn-type" (click)="removeData(type)">{{type|titlecase}}</button>
            <button class="btn btn-xs btn-ga-white btn-border" (click)="showModal = false">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ga-modal-wrapper" *ngIf="showEditModal">
  <div class="ga-modal-container">
    <div class="ga-modal" style="max-width: 50%;margin-top: 10%;">
      <div class="ga-modal-head">
        <span>Edit File</span>
      </div>
      <div class="ga-modal-body" style="text-align: left;">
        <div class="row upload-box">
          <div class="c-lg-12 field-wrapper">
            <label>Title</label>
            <input type="text" class="form-ctrl" style="margin-top: 5px;" placeholder="Please enter title" id="youtubeUrl" name="youtubeUrl" [(ngModel)]="editObj.title">
          </div>
          <div class="col-md-12 file-form" style="margin-top: 10px;" *ngIf="editObj.extension == 'fa fa-file-pdf-o pdf-color' || editObj.extension == 'fa fa-file-powerpoint-o text-blue' ">
            <div class="form-group">
              <input type="checkbox" style="-webkit-appearance: checkbox;" [(ngModel)]="editObj.is_readonly">
              <label class="title">Is Read-Only</label>
            </div>
          </div>
          <div class="col-md-12 file-form field-wrapper" style="display: -webkit-box;-webkit-box-align: center;" *ngIf="editObj.category_id == 235" style="margin-top: 10px;">
              <label>Watch Multiplier</label>
              <input type="text" class="form-ctrl" style="margin-top: 5px;" placeholder="Please enter watch multiplier" id="manual_multiplier_update" name="manual_multiplier_update" [(ngModel)]="editObj.watch_multiplier">
          </div>
          <div class="c-lg-12 field-wrapper" style="display: -webkit-box;-webkit-box-align: center;">
            <div class="c-lg-6" style="padding-left: 0;">
            <div class="c-md-4 main-setting" style="padding-left: 0;">
              <label for="ch18">File Hide</label>
            </div>
            <div class="c-md-5">
              <label class="switch switch-n">
                <input type="checkbox" [checked]="(editObj.is_hide)"
                  [(ngModel)]="editObj.is_hide" name="sFilter" class="form-radio" value="is_hide"
                  id="is_hide">
                <span class="slider round"></span>
              </label>
            </div>
          </div>
          <div class="c-lg-4" style="padding-left: 0;">
            <div class="field-wrapper datePickerBox has-value" style="padding-top: 8px;">
              <label for="fromDate" style="font-size: 13px; padding: 1px;">End Date</label>
              <input type="text" value="" id="fromDate" class="form-ctrl bsDatepicker" style="border: solid 1px #e2ebee;
              border-radius: 4px;" readonly="true" name="fromDate" [(ngModel)]="editObj.file_visibility_till_date" bsDatepicker />
            </div>
          </div>
          </div>
          <div class="col-md-12 file-form" style="text-align: right;margin-top: 10px;">
            <button class="btn btn-xs btn-ga-white btn-border btn-type" style="border: 1px solid #07f;background: #07f;color: white;" (click)="updateFile()">Update</button>
            <button class="btn btn-xs btn-ga-white btn-border" style="border: 1px solid #07f;color: #07f;" (click)="cancelEditFile()">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ga-modal-wrapper" [hidden]="showVideo">
  <div class="ga-modal-container">
    <div class="ga-modal" >
      <div class="ga-modal-head" style="text-align: left;padding:.5em 1em .5em 1em" >
        <span>{{tempData.title}}</span>


        <!-- <div class="btn_cross" >  -->
            <button  class="btn btn-xs btn-ga-white" style="float: right;font-size: 14px;" (click)="stopVideo()">X</button>
          <!-- </div> -->
      </div>
      <div class="ga-modal-body">
        <div class="row upload-box">
          <div id="embedBox" style="width:700px;max-width:100%;height:auto;"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal topic-add-model" id="addTopic" tabindex="-1" role="dialog" aria-hidden="true">	
  <div class="modal-dialog" role="document">	
    <div class="modal-content">	
      <div class="modal-header">	
        <h2 class="modal-title" id="addTopic">Add Topic</h2>	
        <button type="button" class="close" data-dismiss="modal" aria-label="Cancel" (click)="clearObject()">	
          <span aria-hidden="true">&times;</span>	
        </button>	
      </div>	
      <div class="modal-body">	
        <div class="model_body_div">	
          <div class="field-wrapper">	
            <label *ngIf="!isProfessional">Standard Name<span class="text-danger">*</span></label>	
            <label *ngIf="isProfessional">Master Course<span class="text-danger">*</span></label>	
            <div class="dropdown-div">	
              <select class="dropdown" [(ngModel)]="addTopic.standard_id" (change)="getAllSubjectList($event.target.value)">	
                <option value="-1">   Select Standard </option>	
                <option *ngFor="let standard of standardData;let i=index; " [value]="standard.standard_id" title="{{standard.standard_name}}">	
                  {{standard.standard_name.length>30 ?  (standard.standard_name | slice:0:30) + '...' : standard.standard_name}}</option>	
              </select>	
            </div>	
          </div>	
          <div class="field-wrapper">	
            <label *ngIf="!isProfessional">Subject Name<span class="text-danger">*</span></label>	
            <label *ngIf="isProfessional">Course<span class="text-danger">*</span></label>	
            <div class="dropdown-div">	
              <select class="dropdown"  [(ngModel)]="addTopic.subject_id">	
                <option value="-1"> Select Subject </option>	
                <option *ngFor="let subject of subjectTempData;let i=index; " [value]="subject.subject_id" title="{{subject.subject_name}}">	
                  {{subject.subject_name.length>30 ?  (subject.subject_name | slice:0:30) + '...' : subject.subject_name}}	
                </option>	
              </select>	
            </div>	
          </div>	
          <div class="field-wrapper">	
            <label>Topic Name <span class="text-danger">*</span></label>	
            <div class="dropdown-div">	
                <input class="dropdown" [(ngModel)]="addTopic.name" type="text" placeholder="  Enter Topic Name" />	
            </div>	
          </div>	
          <div class="field-wrapper">	
            <label>Duration (only minutes)</label>	
            <div class="dropdown-div">	
              <input class="dropdown" maxlength="3" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" [(ngModel)]="addTopic.estimated_time" type="text" placeholder="  Enter Estimated Time" />	
            </div>	
          </div>	
        </div>	
      </div>	
      <div class="modal-footer">	
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clearObject()">Cancel</button>	
        <button type="button" class="btn btn-primary fullBlue" [disabled]="(addTopic.name=='') ||(addTopic.standard_id==-1) || (addTopic.subject_id==-1)" (click)="Add_New_Topic_Details()">Save </button>	
      </div>	
    </div>	
  </div>	
</div>

<div class="videoplayer" *ngIf="videoplayer">
  <iframe width="650" height="400"
    [src]="currentProjectUrl"
    frameborder="0" style="border-radius: 10px;"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
  </iframe>
</div>

<div class="black-bg" id="black-bg" *ngIf="videoplayer" (click)="closePlayer()"></div>

<app-upload-file></app-upload-file>

<proctur-popup [sizeWidth]="'small'" *ngIf="deletePopup">

  <span class="closePopup pos-abs fbold show" close-button (click)="closeDeletePopup()">
    <svg  class="artdeco-icon" focusable="false" height="24px" preserveAspectRatio="xMinYMin meet" viewBox="0 0 24 24" width="24px" x="0" y="0">
      <path  class="large-icon" d="M20,5.32L13.32,12,20,18.68,18.66,20,12,13.33,5.34,20,4,18.68,10.68,12,4,5.32,5.32,4,12,10.69,18.68,4Z" style="fill: currentColor"></path>
    </svg>
  </span>
  <div popup-header class="popup-header-content">
    <h2>Delete Files ({{selectedRowCount}} Files Selected)</h2>
  </div>
  <div popup-content class="popup-header-content">
    <!-- <div class="row"> -->
      <div style="margin-bottom: 10px;">
      <span style="font-size: 14px;font-weight: 600;">Are you sure, you want to delete files?
        <span style="font-size: 14px;" *ngIf="fileSharedArray?.length>0"> As file is shared with following : </span></span>
      </div>
      <span *ngFor="let msg of fileSharedArray">
        <span> {{msg.errorMessage}}</span><br>
      </span>
    <!-- </div> -->
    <div style="text-align: right;margin-top: 10px;">
    <input type="button" value="Cancel" style="color: #0084f6;background: white;" class="btn fullBlue" (click)="closeDeletePopup()">
    <input type="button" value="Delete" class="btn fullBlue" (click)="confirmDelete()">
  </div>
  </div>
</proctur-popup>

<!-- 
  Developed by - Nalini
  To show watch user list
 -->
<section *ngIf="viewUserList">
  <div class="confirmation_popup download_popup">
    <div class="confirm_title" style="font-size: 14px;margin-bottom: 10px;">
      <!-- <span>{{download_links.session_name}}</span> -->
      <span style="cursor: pointer;float:right" (click)="viewUserList=false">X</span>
    </div>
    <section>
      <div class="table-container">
        <div class="heading-container">
          <div class="heading-item" style="width: 15%;">
            <span>Sr. No. </span>
          </div>
          <div class="heading-item" style="width: 75%;text-align: left;">
            <span>User Name</span>
          </div>
          <div class="heading-item" style="width: 10%;">
            <span>Count</span>
          </div>
        </div>
        <div class="value-outer-container">
          <div class="value-container" *ngFor="let data of video_watch_history_det;let i = index;">
            <div class="value-item" style="width: 15%;">
              {{i+1}}
            </div>
            <div class="value-item" style="width: 75%;text-align: left;">
              <span title="{{data?.user_name}}" *ngIf="data?.user_name!=null">{{data.user_name}}</span>
              <span *ngIf="data?.user_name==null">-</span>
            </div>
            <div class="value-item" style="width: 10%;">
              <span title="{{data.watch_count}}" *ngIf="data.watch_count!=null">{{data.watch_count}}</span>
              <span *ngIf="data.watch_count==null">-</span>
            </div>
        </div>
      </div>
      </div>
    </section>
  </div>
</section>

<div class="black-bg" id="black-bg" *ngIf="viewUserList" (click)="viewUserList=false"></div>

<!-- Download option pop up
  Developed by Nalini -->
<div id="downloadOption" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Please select the size for downloading</h4>
      </div>
      <div class="modal-body">
        <section>
          <div class="table-container">
            <div class="heading-container">
              <div class="heading-item" style="text-align: left;width: 10%;">
                <span></span>
              </div>
              <div class="heading-item" style="width: 45%;text-align: left;">
                <span>Dimension (Width x Height)</span>
              </div>
              <div class="heading-item" style="width: 45%;">
                <span>Size</span>
              </div>
            </div>
            <div class="value-outer-container">
              <div class="value-container" *ngFor="let data of vimeoDownloadLinks; let i = index;">
                <div class="value-item" style="text-align: left;width: 10%;">
                  <div class="field-radio-wrapper" style="width: 25%;margin: 0;">
                    <input type="radio" [value]="i" [id]="'bothRadio-'+i" class="form-radio" [(ngModel)]="data.selected"
                    (ngModelChange)="changeSelectedSize(data)" name="select" id="select">
                      <label></label>
                  </div>
                </div>
                <div class="value-item" style="text-align: left;width: 45%;">
                  <span title="{{data.width}}">{{data.width}} x {{data.height}}</span>
                </div>
                <div class="value-item" style="width: 45%;">
                  <span title="{{data.size_short}}">{{data.size_short}}</span>
                </div>
              </div>
            </div>
          </div>
        </section>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-default" (click)="downloadVimeoVdo()">Download</button>
      </div>
    </div>
  </div>
</div>