<div class=" clearFix" style="padding-right: 2%;">
  <section class="middle-top mb0 clearFix" style="margin-top: 10px;">
    <div>
      <div class="row">
        <div class="col-lg-12 col-12">
          <div class="row">
            <div class="col-lg-7 col-12">
              <div class="form-inline">
                <input type="text" #idAddRoom [(ngModel)]="enterclassdata" class="form-control input"
                  placeholder="Room Name*">
                <input type="text" #idAddDesc [(ngModel)]="enterclassdataDesc" class="form-control input description"
                  placeholder="Description*">
                <button (click)="addNewclassRoom(idAddRoom.value,idAddDesc.value)" class="add">Add Classroom</button>
              </div>
            </div>
            <div class="col-lg-5 col-12">
              <span class="right">
                <input type="text" name="search" [(ngModel)]="searchText" (keyup)="searchDatabase()"
                  placeholder="Search by Room Name/Description" class="input magnifying-glass">
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- <section class="middle-top mb0 clearFix" style="padding-bottom:0px;">
    <h1 class="pull-left marginhead">
      <div class="header-title">
        <h2>
          <a routerLink="/view/{{type}}" style="color: #0084f6;">
            {{ type | titlecase }}
          </a>
          <i style="font-family: 'FontAwesome';" class="fas fa-angle-right"></i>
          <a routerLink="/view/{{type}}/setup" style="color: #0084f6;">
            Data Setup
          </a>
          <i style="font-family: 'FontAwesome';" class="fas fa-angle-right"></i> Classroom
        </h2>
      </div>
    </h1>
    <div class="clearFix">

      <div class="pull-right">
        <div class="search-filter-wrapper">
          <input #search type="textbox" class="normal-field" placeholder="Search" [(ngModel)]="searchText"
            name="searchData" (keyup)="searchDatabase()">
        </div>
        <button class="btn" (click)="toggleCreateNewList()">
          <i id="showAddBtn" class="addBtnClass" style="border:none;">+</i>
          <i id="showCloseBtn" style="display:none;border:none;" class="closeBtnClass">-</i>
          <span>Add Classroom</span>
        </button>
      </div>



    </div>
  </section> -->

  <section class="middle-main clearFix">

    <!-- <div class="clearFix add-edit">
      <button class="btn" (click)="toggleCreateNewList()">
        <i id="showAddBtn" class="addBtnClass" style="border:none;">+</i>
        <i id="showCloseBtn" style="display:none;border:none;" class="closeBtnClass">-</i>
        <span>Add Classroom</span>
      </button>
      <div class="pull-right">
        <div class="search-filter-wrapper">
          <input #search type="textbox" class="normal-field" placeholder="Search" [(ngModel)]="searchText"
            name="searchData" (keyup)="searchDatabase()">
        </div>
      </div>

    </div> -->


    <section class="clearFix" *ngIf="CreateNewList">
      <form style="margin:0 ;">
        <div class="row ">
          <div class="c-lg-3 c-md-3 c-sm-3 c-sx-3 ">

            <div class="field-wrapper" [ngClass]="{'has-value': enterclassdata!= ''}">
              <label for="Classroom_Name">Classroom Name<span class="text-danger">*</span></label>
              <input type="text" #idAddRoom class="form-ctrl" [(ngModel)]="enterclassdata" name="Classroom_Name"
                id="Classroom_Name" style="border-radius: 4px;">

            </div>
          </div>
          <div class="c-lg-3 c-md-3 c-sm-3 c-sx-3">
            <div class="field-wrapper" [ngClass]="{'has-value': enterclassdataDesc!= ''}">
              <label for="ClassroomDesc">Classroom Description<span class="text-danger">*</span></label>
              <input type="text" #idAddDesc class="form-ctrl" [(ngModel)]="enterclassdataDesc" name="ClassroomDesc"
                id="ClassroomDesc" style="border-radius: 4px;">

            </div>
          </div>
          <div class="c-lg-6 c-md-6 c-sm-6 c-sx-6" style="margin-top:3rem;">
            <button class="btn" (click)="addNewclassRoom(idAddRoom.value,idAddDesc.value)">Save</button>
          </div>
        </div>

      </form>
    </section>

    <div id="divSlotTable">
      <div class="table-scroll-wrapper">
        <div class="table table-responsive">
          <table class="tableBodyScroll" style="margin-bottom: 0;">
            <thead>
              <tr>
                <th style="text-align: left;width: 10%;">
                  Id
                </th>
                <th style="width: 25%;">
                  Room Name
                </th>
                <th style="width: 40%;">
                  Description
                </th>
                <th style="text-align: center;">
                  Action
                </th>
              </tr>
            </thead>

            <tbody *ngIf="classRoomData.length !=0" style="min-height: 48vh;max-height: 48vh;">

              <tr style="box-shadow: -1px 1px 6px 0px rgb(0 0 0 / 10%);" id="row{{i}}" class="displayComp"
                *ngFor="let row of pagedclassRoomData; let i = index; trackBy: i;">

                <td style="text-align: left;width: 10%;">
                  {{i + 1}}
                </td>

                <td class=" view-comp" style="width: 25%;">
                  {{row.class_room_name}}
                </td>

                <td class="edit-comp" style="width: 25%;">
                  <div class="field-wrapper">
                    <textarea id="" class="form-ctrl editCellInput" [(ngModel)]="row.class_room_name"
                      style="overflow: hidden;margin: 0;" name="label" cols="1" rows="1"></textarea>
                    <!-- <input type="text" class="form-ctrl editCellInput" [(ngModel)]="row.class_room_name" name="label"> -->
                  </div>
                </td>

                <td class="view-comp" title="{{row.class_room_desc}}" style="text-align: left;width: 40%;">
                  {{ (row.class_room_desc?.length>50) ?
                    (row.class_room_desc | slice:0:50 ) + '...' :(row.class_room_desc) }}
                </td>

                <td class="edit-comp" style="text-align: left;width: 40%;">
                  <div class="field-wrapper">
                    <input type="text" class="form-ctrl editCellInput" [(ngModel)]="row.class_room_desc"
                      style="overflow: hidden;margin: 0;" name="label">
                  </div>
                </td>

                <td class="view-comp" style="text-align: center;">&nbsp;&nbsp;
                  <!-- <i class="fa fa-pencil" title="Edit" style="color: #0084f6;" aria-hidden="true"
                    (click)="editRowTable(row , i)"></i> -->
                  <img (click)="editRowTable(row , i)" src="../../../../assets/images/EDit.png">
                  <!-- <a class="anchorTagCursor" (click)="editRowTable(row , i)">Edit</a> -->
                </td>

                <td class="edit-comp" style="text-align: center;">&nbsp;&nbsp;&nbsp;
                  <i class="fa fa-floppy-o" title="Save" style="color: blue; margin-right: 10px;font-size: 18px;"
                    aria-hidden="true" (click)="saveclassRoomInfo(row , i)"></i>
                  <i class="fa fa-times" title="Cancel" style="color: red;font-size: 18px;" aria-hidden="true"
                    (click)="cancelRow(row , j)"></i>
                  <!-- <a class="anchorTagCursor" (click)="cancelRow(row , j)" style="margin-right: 5x;color:red;">Cancel</a>
                  <a class="anchorTagCursor" (click)="saveclassRoomInfo(row , i)">Update</a> -->
                </td>

              </tr>
            </tbody>
            <tbody *ngIf="classRoomData.length ==0 || totalRow == 0">
              <td colspan="4" style="text-align: center">
                No data found
              </td>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Paginator Here -->
    <div class="row filter-res pagination" style="width: 100%;margin-top: 0;margin-bottom: 0;">
      <div class="c-lg-12 c-md-12 c-sm-12 align-right">
        <pagination (goPage)="fetchTableDataByPage($event)" (goNext)="fetchNext()" (goPrev)="fetchPrevious()"
          [pagesToShow]="10" [page]="pageIndex" [perPage]="displayBatchSize" [count]="totalRow" [sizeArr]="sizeArr"
          (sizeChange)="updateTableBatchSize($event)">
        </pagination>
      </div>
    </div>
  </section>
</div>