$color-base: #efefef;
$color-highlight: lighten($color-base, 7%);
.skeleton {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 12px;
    background: $color-base;
    border-radius: 2px;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, $color-base, $color-highlight, $color-base);
        animation: progress 1s ease-in-out infinite;
    }
}

@keyframes progress {
    0% {
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        transform: translate3d(100%, 0, 0);
    }
}

// css for activity page
.activity-page {
    // background: #f2f2f2;
}

.activity-left {
    width: 100%;
    padding: 5px 12px 0px 12px;
}

.activity-right {
    max-width: 23%;
    width: 100%;
    background: #fff;
    box-sizing: border-box;
    overflow: hidden;
}

.act-top {
    padding-bottom: 10px;
    border-bottom: 1px solid #d3d4d5;
    margin-bottom: 16px;
    h1 {
        padding-top: 7px;
    }
    .btn {
        height: auto;
        padding: 1px 10px 1px 0px;
        border: 2px solid #0084f6;
        vertical-align: top;
        float: right;
        svg {
            display: inline-block;
            vertical-align: middle;
        }
    }
    .search-filter-wrapper {
        float: right;
        width: 322px;
        position: relative;
        .normal-field {
            width: 100%;
            height: 38px;
        }
        .btn {
            height: 38px;
            width: 100%;
            padding-right: 50px;
        }
    }
}

.act-right-sec {
    width: 60%;
    .btn.normal-btn {
        width: 40px;
        padding-right: 0;
        position: absolute;
        right: 0;
    }
}

.actb-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    &>li {
        // box-shadow: 0px 1px 3px 0px rgba(38, 0, 0, 0.2);
        background: #fff;
        margin-bottom: 16px;
        width: 100%;
        border-radius: 4px;
        overflow: hidden;
        &.enquiry-state,
        &.fees-state {
            width: 49%;
        }
        .actb-top-header {
            padding: 10px 12px;
            background: #fafafa;
            border-bottom: 1px solid #dedddd;
            span.heading {
                font-weight: 400;
                font-size: 16px;
                color: #414141;
                text-transform: uppercase;
                padding-top: 4px;
                display: inline-block;
            }
            button {
                background: transparent;
                &.drag-button {
                    cursor: all-scroll;
                    margin-left: 16px;
                }
            }
            .enquiry-state-date {
                font-size: 14px;
                color: #666;
                margin-right: 10px;
                padding-top: 4px;
                display: inline-block;
            }
        }
    }
}
.illustration-container {
    display: block;
    .illustration-img {
      width: 40%;
      margin-left: 25%;
    }
  }

.schedule-bottom {
    ::-webkit-scrollbar {
        display: inline-block;
        width: 7px;
        height: 7px;
    }
    .schedule-scroller {
        min-height: 58vh;
        max-height: 58vh;
        overflow-x: auto;
        overflow-y: auto;
    }
  
    ul {
        // border-bottom: 2px solid rgba(211, 212, 213, 0.5);
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.16);
        margin-bottom: 5px;
        margin-top: 5px;
        border-radius: 6px;
        border-left: 5px solid #e0eaec;
        background: #fff;
        display: flex;
        cursor: pointer;
        &.active,
        &:not(.sche-head):not(.ct-disabled):hover {
            background: rgba(27, 96, 163, 0.04);
        }
        &.active {
            li.cls-type {
                div {
                    position: relative;
                    &:before {
                        content: '';
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        background: #ff0000;
                        position: absolute;
                        left: -16px;
                        top: 7px;
                    }
                }
            }
        } // justify-content: space-between;
        li {
            padding: 16px 24px 12px;
            &.cls-type {
                width: 29%;
                text-align: left;
            }
            &:first-child {
                width: 16%;
                text-align: left;
            }
            &:nth-last-child(2) {
                width: 15%;
            }
            div {
                color: rgba(30, 35, 40, 0.7);
                font-size: 14px;
                margin-bottom: 8px;
            }
            p {
                font-size: 12px;
                color: rgba(102, 102, 102, 0.7);
                svg {
                    display: inline-block;
                    vertical-align: text-bottom;
                    position: relative;
                    margin-left: -18px;
                }
            }
        }
        &.sche-head {
            background:#e0eaec;
            li {
                width: 12%;
                padding: 20px 10px 10px 4px;
                text-transform: uppercase;
                color: black;
                background: transparent;
                font-size: 12px;
                font-weight: 600;
                text-align: center;
                &:first-child {
                    width: 10%;
                }
                &.selectCheckbox {
                    width: 5% !important;
                    padding: 20px 0px 10px 10px !important;
                }
                &.Fee {
                    &.Type {
                        text-align: left;
                    }
                    &.Total {
                        text-align: right;
                        padding-right: 18px;
                    }
                }
                &.Amount {
                    text-align: right !important;
                }
                &.ID {
                    text-align:left;
                    width: 11%;
                    padding-left: 18px;
                }
                &.Dues {
                    text-align:right;
                    padding-right: 18px;
                }
                &.Value {
                    width: 22%;
                }
                &.Type {
                    width: 22%;
                }
                &.Created {
                    &.On {
                        width: 22%;
                    }
                }
                &.Reason {}
            }
        }
        .class-type-status {
            font-size: 11px;
            padding: 4px 9px;
            display: inline-block;
            border-radius: 4px;
            line-height: 9px;
            height: 20px;
            box-sizing: border-box;
            vertical-align: middle;
            font-weight: 600;
        }
        &.ul-body {
            &.selected {
                transform: scale(1.01, 1);
                transition: 100ms ease-in;
                background: #e3f7f5;
                box-shadow: 0px 11px 8px -10px #CCC, 0px -11px 13px -9px #CCC;
            }
            li {
                width: 12%;
                text-transform: capitalize;
                color: black;
                margin-bottom: 5px;
                font-size: 14px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                padding: 10px 10px 0px 15px;
                text-align: left;
                &:first-child {
                    width: 10%;
                }
                &.selectCheckbox {
                    width: 5% !important;
                    padding: 10px 0px 0px 10px !important;
                }
                &.Name{
                    white-space: unset!important;
                    text-overflow: unset!important;
                }
                &.Fee {
                    &.Type {
                        text-align: left;
                    }
                    &.Total {
                        text-align:right;
                    }
                }
                &.Amount {
                    text-align: right;
                    padding-right: 0px;
                    &.Paid {
                        text-align: right;
                        color: #0084f6;
                        padding-right: 1px;
                    }
                }
                &.ID {
                    text-align: left;
                    width: 10%;
                }
                &.Dues {
                    text-align: right;
                    &.Past {
                        text-align: right;
                        color: #ff0000;
                    }
                }
                &.Due {
                    text-align: right;
                    &.Past {
                        text-align: right;
                        color: #ff0000;
                    }
                    &.Date {
                        text-align: left;
                    }
                }
                &.No {
                    text-align: left;
                    padding-right: 0px;
                    &.Receipt {
                        padding-right: 0px;
                    }
                }
                &.Value {
                    width: 22%;
                }
                &.Type {
                    width: 22%;
                }
                &.Created {
                    &.On {
                        width: 22%;
                    }
                }
                &.Reason {}
                &.option-menu {
                    white-space: nowrap;
                    overflow: visible;
                    text-overflow: unset;
                }
            }
        }
        &.ct-ongoing {
            .class-type-status {
                color: #568bf4;
                border: 1px solid #568bf4;
            }
        }
        &.ct-completed {
            .class-type-status {
                color: #78dd95;
                border: 1px solid #78dd95;
            }
        }
        &.ct-cancel {
            .class-type-status {
                color: #9b9b9b;
                border: 1px solid #9b9b9b;
            }
        }
    }
    div.ct-disable-wrapper {
        ul {
            opacity: 0.1;
        }
        .che-action {
            width: 100%;
            position: absolute;
            bottom: 16px;
            right: 40px;
            text-align: right;
            a {
                margin-left: 5%;
                font-size: 14px;
                font-weight: 600;
            }
        }
    }
}

.general-s-bottom {
    ul {
        display: flex;
        li {
            padding: 26px 24px 18px;
            label {
                display: block;
                color: rgba(102, 102, 102, 0.6);
                font-size: 12px;
                margin-bottom: 8px;
                text-transform: uppercase;
            }
            a {
                font-size: 18px;
                font-weight: 600;
                color: #0c8af6;
            }
            div {
                font-size: 18px;
                font-weight: 600;
                color: #1e2328;
            }
        }
    }
}

// right top section time line section
.tl-date {
    font-size: 10px;
    color: #666;
    background: #fdfdfd;
    border-radius: 12px;
    padding: 3px 5px;
    width: 80px;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    /* box-shadow: 0 1px 1px rgba(25, 31, 34, 0.156863); */
    border: 1px solid #dbdbdb;
}

.n-circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 12px; // border: 3px solid #f0f1f2;
    vertical-align: middle;
}

.n-circle img {
    padding: 4px;
}

.n-time {
    font-size: 12px;
    color: #666;
    display: inline-block;
    vertical-align: middle;
    font-weight: 500;
}

.n-icon {
    position: absolute;
    left: 9px;
}

.n-text {
    margin-left: 0;
    background: #fff;
    padding: 20px 16px 0px;
    color: #666;
    border-radius: 4px;
    font-size: 12px;
}

@media only screen and (max-width: 1200px) {
    .activity-left {
        max-width: none;
        padding: 24px 0px 24px 0px;
        box-sizing: border-box;
        .row {
            margin: 0;
            .activity-left {}
        }
    }
    .activity-page {
        padding: 0 15px;
        .row {
            margin: 0;
        }
    }
    .act-right-sec {
        width: 82%;
    }
    .activity-right {
        max-width: none;
        width: 100%;
    }
}

@media only screen and (max-width: 960px) {
    .actb-wrapper>li.enquiry-state,
    .actb-wrapper>li.fees-state {
        width: 100%;
    }
    .act-top .btn {
        margin-right: 0;
    }
    .act-right-sec {
        width: 58%;
    }
    .general-s-bottom ul li,
    .fees-state-bottom ul li {
        width: 100%;
        box-sizing: border-box;
    }
    .fees-state-bottom ul {
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1000px) {
    .act-right-sec {
        width: 75%;
    }
    .act-top .search-filter-wrapper {
        width: 55%;
        float: right;
        max-width: 322px;
        position: relative;
    }
    .fees-state-bottom ul li {
        width: 50%;
        box-sizing: border-box;
    }
}

@media only screen and (max-width: 767px) {
    .enq-state-bottom>div {
        width: 100%;
        margin-top: 20px;
        padding: 10px 20px;
        box-sizing: border-box;
        &:first-child {
            margin-top: 0;
        }
    }
    .actb-wrapper>li {
        &.schedule-state {
            overflow-x: auto;
            &>div {
                min-width: 700px;
            }
        }
    }
    .general-state {
        .general-s-bottom ul {
            flex-wrap: wrap;
            padding: 10px 0;
            li {
                width: 100%;
                padding: 10px 24px 10px;
            }
        }
    }
}
