.middle-section{
  padding: 1%;
}
.middle-top{
  width: 100%;
  padding: 10px 0px;
  border-bottom: 1px solid #ccc;
}

.section-title{
  margin: 10px 0px;
  font-weight: 600;
  font-size: 14px;
}

.teacher-table-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
  border-radius: 4px;
  border-top: 1px solid #ccc;
  font-size: 12px;
  .table-heading-container {
    display: flex;
    flex-direction: row;
    text-align: left;
    width: 100%;
    padding: 8px;
    padding-right: 18px;
    font-weight: 600;
    background: #FAFAFA;
    padding-left: 13px;
    .table-heading-item {
      width: 14.28%;
    }
  }
  .table-value-outer-container {
    display: flex;
    flex-direction: column;
    min-height: 33vh;
    max-height: 33vh;
    overflow-y: auto;
    .table-value-container {
      display: flex;
      flex-direction: row;
      width: 100%;
      padding: 8px;
      text-align: left;
      .table-value-item {
        width: 14.28%;
      }
    }
  }
}


.subject-wise-container{
  margin-top: 20px;
}
.subject-wise-table-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
  border-radius: 4px;
  border-top: 1px solid #ccc;
  font-size: 12px;
  .table-heading-container {
    display: flex;
    flex-direction: row;
    text-align: left;
    width: 100%;
    padding: 8px;
    padding-left: 13px;
    font-weight: 600;
    background: #FAFAFA;
    .table-heading-item {
      width: 10%;
    }
  }
  .table-value-outer-container {
    display: flex;
    flex-direction: column;
    min-height: 33vh;
    max-height: 33vh;
    overflow-y: auto;
    .table-value-container {
      display: flex;
      flex-direction: row;
      width: 100%;
      padding: 8px;
      text-align: left;
      .table-value-item {
        width: 10%;
      }
      .view-result-btn{
        padding: 2px 5px;
        background: #ffffff;
        border-radius: 4px;
        border: 1px solid #248CF5;
        color: #248CF5;
      }
    }
  }
}
.text-align-center{
  text-align: center;
}




.border-completed-class{
  border-left: 3px solid #00E172;
  background: #e6fff3;
}
.border-updated-class{
  border-left: 3px solid #8A2BE2;
}
.border-pending-class{
  border-left: 3px solid #8d8d8d;
}
.border-cancelled-class{
  border-left: 3px solid #df0d2f;
}
.border-upcoming-class{
  border-left: 3px solid #ff6c24;
}

.pending{
  color: #8d8d8d;
}
.mark_pending{
  color: #8A2BE2;
}
.cancelled{
  color: #df0d2f;
}
.completed{
  color: #00E172;
}
.upcoming{
  color: #ff6c24;
}
