<div class="fluid-container data-wrapper">
  <div class="row main-topic-row" style="margin-bottom: 10px;border: none;">
    <div class="form-group">
      <label class="text-bold">Description <span class="text-danger">*</span></label>
      <!-- <textarea [(ngModel)]="description" name="description" style="height:120px" maxLength="1500" class="form-control form-control-sm"
        placeholder="Write a description about this video lecture"></textarea> -->
      <editor
       [init]="editorConf" apiKey="xix5hq71alw64jp2ufl9fo6nddnhg91n6h7w2afn043v538t"   [(ngModel)]="description"
     ></editor>
    </div>
  </div>

  <div class="row main-topic-row" *ngFor="let ecourse of materialData;">
    <div class="row singleton-row col-md-12 topic-data main-topic-data">
      <div class="col-md-8 topic-name">
        <button class="btn-ga-collapse">
          <i class="fa fa-minus" *ngIf="ecourse.isExpand" (click)="subjectListToggle(ecourse)"></i>
          <i class="fa fa-plus" *ngIf="!ecourse.isExpand" (click)="subjectListToggle(ecourse)"></i>
        </button> {{ecourse.ecourse_name}}
      </div>
      <div class="col-md-4">
      </div>

    </div>
    <div class="row col-md-12 p-0" *ngIf="ecourse.isExpand">
      <div class="row col-md-12 subTopics-data">
        <ng-container *ngTemplateOutlet="subjectsNodes; context: { $implicit: ecourse.subjectsList, level: 1 } ">
        </ng-container>
        <div *ngIf="ecourse.subjectsList?.length==0">
          No data found
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="materialData?.length==0">
    {{outputMessage}}
  </div>

</div>


<ng-template #subjectsNodes let-subjectList let-level="level">
  <div class="row topic-row" *ngFor="let subject of subjectList">
    <div class="row singleton-row col-md-12 topic-data topic-name">
      <div class="col-md-12 topic-name" [ngStyle]="{'padding-left': level+'em'}">
        <div class="col-md-1">
        <button class="btn-ga-collapse">
          <i class="fa fa-minus" *ngIf="subject.isExpand" (click)="collapseAll(subject, false)"></i>
          <i class="fa fa-plus" *ngIf="!subject.isExpand" (click)="collapseAll(subject, true)"></i>
        </button>
        </div>
        <div class="col-md-4">
          {{subject.subjectName}}
        </div>
        <div class="cd-md-7" style="text-align: right;">
        <span *ngFor="let count of subject.category_count" title="{{count.category_name}}" class="category_name" style="font-size: 12px;font-weight: normal;">
          <span *ngIf="count.category_name != 'VDOCipher'">{{(count.category_name.length > 13) ? (count.category_name | slice:0:13) + '...' : count.category_name}}</span>
          <span *ngIf="count.category_name == 'VDOCipher'">Video</span>
           - {{count.count}}
        </span>
      </div>
      </div>
    </div>
    <div class="row col-md-12 p-0" *ngIf="subject.isExpand">
      <div class="row col-md-12 topic-material-data" [ngStyle]="{'padding-left': level+'em'}">
        <ng-container *ngTemplateOutlet="youtubeData; context:{$implicit: subject.studyMaterialMap.YoutubeURL, level: level+1}">
        </ng-container>
        <ng-container *ngTemplateOutlet="youtubeData; context:{$implicit: subject.studyMaterialMap.VDOCipher, level: level+1}">
        </ng-container>
        <ng-container *ngTemplateOutlet="youtubeData; context:{$implicit: subject.studyMaterialMap.Vimeo, level: level+1}">
        </ng-container>
      </div>
      <div class="row col-md-12 subTopics-data">
        <ng-container *ngTemplateOutlet="recursiveNodes; context: { $implicit: subject.subtopicList, level: level+1 } ">
        </ng-container>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #recursiveNodes let-subTopics let-level="level">
  <div class="row topic-row" *ngFor="let topic of subTopics">
    <div class="row singleton-row col-md-12 topic-data">
      <div class="col-md-8 topic-name" [ngStyle]="{'padding-left': level+'em'}">
        <button class="btn-ga-collapse">
          <i class="fa fa-minus" *ngIf="topic.isExpand" (click)="getTopicData(topic)"></i>
          <i class="fa fa-plus" *ngIf="!topic.isExpand && (calculateStudyMaterialMapLength(topic)>0 || topic.subtopicList?.length>0)" (click)="getTopicData(topic)"></i>
        </button> {{topic.topicName}}
      </div>
      <div class="col-md-4">
      </div>
    </div>
    <div class="row col-md-12 p-0" *ngIf="topic.isExpand">
      <div class="row col-md-12 topic-material-data">
        <ng-container *ngTemplateOutlet="youtubeData; context:{$implicit: topic.studyMaterialMap.YoutubeURL, level: level+1}">
        </ng-container>
        <ng-container *ngTemplateOutlet="youtubeData; context:{$implicit: topic.studyMaterialMap.VDOCipher, level: level+1}">
        </ng-container>
        <ng-container *ngTemplateOutlet="youtubeData; context:{$implicit: topic.studyMaterialMap.Vimeo, level: level+1}">
        </ng-container>
      </div>
      <div class="row col-md-12 subTopics-data">
        <ng-container *ngTemplateOutlet="recursiveNodes; context: { $implicit: topic.subtopicList, level: level+1 } ">
        </ng-container>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #youtubeData let-youtube let-level="level">
  <div class="row singleton-row material-row" *ngFor="let video of youtube">
    <div class="col-md-8 material-title txt-color" [ngStyle]="{'padding-left': level+'em'}">
      <div class="field-checkbox-wrapper">
        <input type="checkbox" [disabled]="video.is_existed_selected || (isPaid == 'Y' && video.category_name == 'Youtube URL')" class="form-checkbox" [(ngModel)]="video.selected"
          (ngModelChange)="selectAllDetails($event,video)" name="has_mock_tests" id="mock_test">
        <label for="ch2"></label>
      </div>
      <h4 class="file__title" title="{{video.title}}">
        <i class="fa fa-youtube-play text-red" *ngIf="video.category_name!='VDOCipher' && video.category_name!='Vimeo'"></i>
        <i class="fa fa-play-circle-o" aria-hidden="true" style="color: blue;font-size: 16px;" *ngIf="video.category_name=='VDOCipher' || video.category_name == 'Vimeo'"></i>
        <a target="_blank" class="txt-color">
          <span class="txt-title">{{video.title}}</span>
        </a>
      </h4>
    </div>
    <div class="col-md-4 txt-font">
      {{video.category_name=='VDOCipher' ? 'Video' : video.category_name}}
    </div>
  </div>
</ng-template>

<div class="basic-info-footer">
  <div class="col text-center">
    <button class="btn btn-outline-danger btn-round" (click)="gotoBack()" style="color:red;">Cancel</button>
    <button class="btn btn-primary btn-round" [disabled]="isRippleLoad" (click)="gotoNext()">Save & Next</button>
  </div>
</div>
