// .btn-round{
//     border-radius: 10em;
//     line-height: 1.6;
// }


.basic-info-footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1pt solid #f3f3f3;
    padding: 0.5em 0.8em;
    background: #fff;
    box-shadow: 0pt -2pt 6pt #e6e6e6;
    z-index: 5;
    background: #fafafa;
    width: 85.5%;
    margin-left: 14.5%;
    .btn-round{
        padding: 0.2em 1em;
        border-radius: 4px;
        margin: 0.2em;
    }
}
.black-bg{
  background: rgba(12, 11, 11, 0.3);
  position: fixed;
  top: 0px;
  height: 100%;
  left: 0px;
  z-index: 6;
  width: 100%;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.row {
    margin: 0;
  }

  .text-red {
    color: red;
  }

  .text-blue {
    color: #2680eb;
  }
  .img-color {
    color: blueviolet;
  }

  .doc-color {
    color: #3d89f0;
  }

  .assign-color {
    color: #c59441;
  }

  .btn-ga-white-download {
    color: #555;
  }
  .txt-notes{
    color: #3d89f0;
  }

  .audio-color{
    color: #9968be;
  }

  .pdf-color {
    color: #d55252;
  }
  .topic-name{
    color: #000;
    font-weight: bold;
  }
  .epub-color{
    color:#2bc38a;
  }

  i.fa {
    margin-right: .4em;
    margin-left: .9em;
    font-size: 18px;
  }

  .txt-color {
    color: #3f2e2e !important;
    text-decoration: none;
    .txt-title{
      font-weight: 400;
      font-size:12px;
      display: inline-block;
      overflow: hidden;
      width: 72%;
      text-overflow: ellipsis;
      line-height: 15px;
      white-space: nowrap;
    }
  }

  .txt-font{
    font-size:12px;
  }
  .btn-ga-collapse {
    vertical-align: middle;
    background: transparent;

    &:hover {
      color: #3f2e2e;//#07f;
    }
  }

  .btn-ga-white {
    padding: .2em .8em;
    height: auto;
    box-shadow: 1pt 1pt 0 #f1f1f1;
    color: #555;

    &:hover {
      color: #07f;
    }

    &:focus {
      outline: none;
    }

    &:active {
      box-shadow: none;
      color: #fff;
      background: #0084f6;
      border: 1px solid #0084f6;
    }
  }

  .btn-xs {
    font-size: .8em;
  }

  .field-checkbox-wrapper,
  .field-radio-wrapper {
    position: absolute;
    margin-left: -0.6em;
  }

  .singleton-row {
    .action-buttons {
      visibility: hidden;
    }

    &:hover {
      background: #ebf6ff;

      .action-buttons {
        visibility: visible;
      }
    }
  }

  .material-row,
  .topic-data {
    padding-left: 1.2em !important;
  }

  .main-topic-row {
    padding: 0;
    margin: 1em 0;
    border: 1pt solid #ddd;
    background: white;
  }

  .topic-row {
    padding: 0;
  }

  .topic-data {
    border-top: 1px solid #eee;
    padding: .4em 0;
    display: flex;

    .topic-name {
      margin: auto;
      // color: #0084f6;
    }
  }

  .main-topic-data {
    color: #000;
    font-weight: bold;
    padding-left: 0 !important;
  }

  .topic-material-data {
    padding: 0;

    .material-row {
      border-top: 1px solid #eee;
      padding: .4em 0;
      display: flex;

      .material-title {
        margin: auto;
        display: inline-block;
        line-height: 15px;
        padding: 0 7px;
        word-wrap: break-word;
      }
    }
  }

  .subTopics-data {
    padding: 0;
  }

  .ga-modal-wrapper {
    right: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background: rgba(136, 136, 136, 0.6);
    z-index: 999;

    .ga-modal-container {
      display: flex;
      overflow-y: auto;
      height: 100%;

      .ga-modal {
        margin: auto;
        background: #fff;
        border: 2pt solid #fff;
        border-radius: .2em;
        box-shadow: 0 2pt 3pt #999;
        min-width: 30%;

        .ga-modal-head {
          padding: .5em 1em;
          border-bottom: 1pt solid #ddd;
          font-weight: bold;
          text-align: center;
        }

        .ga-modal-body {
          padding: 1em;
          text-align: center;
        }
      }
    }
  }

  .p-0 {
    padding: 0 !important;
  }
