<div class="page-content">
    <div class=" shadow">
        <div class="head_padding">
            <div class="w98 display">
                <div class="page_heading">
                    <p>Teacher Attendance Details</p>
                </div>
                <div>
                    <a href="" class="mr10"><img src="../../../../../assets/img/email.svg" title="Send To Mail"></a>
                    <a href="" class="mr10"><img src="../../../../../assets/img/print.svg" title="Print"></a>
                    <a href="" class="mr10"><img src="../../../../../assets/img/pdf.svg" title="Download PDF"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="flex mt20">
        <div class="w20">
            <div class="blue-background">
                <div class=" inner_flex w60">
                    <img src="../../../../../assets/img/Group380.svg">
                </div>
                <div class="w40">
                    <span class="rollno">Reg&nbsp;No.<br><span class="number1">1244</span></span>
                </div>
            </div>
            <div class="wm70">
                <div class="flex5">
                    <div>
                        <div class="circle"></div>
                    </div>
                    <div class="padding">
                        <p class="blue_text"> Name</p>
                        <p class="black_text">{{nameData.userName}}</p>
                    </div>
                </div>
                <div class="width80"></div>
            </div>
            <div class="width70">
                <div class="flex6">
                    <div>
                        <div class="circle"></div>
                    </div>
                    <div class="padding">
                        <p class="blue_text">Mobaile</p>
                        <p class="black_text">{{nameData.userPhoneNo}}</p>
                    </div>
                </div>
                <div class="width80"></div>
            </div>
            <div class="wm70">
                <div class="flex7">
                    <div>
                        <div class="circle"></div>
                    </div>
                    <div class="padding">
                        <p class="blue_text">Role</p>
                        <p class="black_text">Teacher</p>
                    </div>
                </div>
            </div>
            <div class="width80"></div>
            <!-- <div class="padding4">
          <p class="course_text">Course assigned:</p>
          <div class="tag_wrapper">
            <div class="tag ">Bio</div>
            <div class="tag ">Course Name 1</div>
            <div class="tag ">12th</div>
          
            <div class="tag ">Stone_1</div>
            <div class="tag ">Testbugmaster1</div>
     
            <div class="tag ">Sanitacoursw</div>
            <div class="tag ">sev</div>
            <div class="tag ">PCB</div>
          </div>
        </div> -->
            <!-- <div class="padding4">
          <p class="course_text">Download:</p>
          <div >
            <a class="mr15"><img src="img/Group345.svg" title="Report Card"></a>
            <a class="mr15"><img src="img/Group343.svg" title="Manage Fees"></a>
            <a class="mr15"><img src="img/Group344.svg" title="ID Card"></a>
            <a class="mr15"><img src="img/Group346.svg" title="Certificate"></a>
            <a class="mr15"><img src="img/Group347.svg" title="View Report"></a>
          </div>
        </div> -->
            <br>
        </div>
        <div class="w50">
            <div class="w90">
                <div class="flex space">
                    <div class="previous">
                        <span> &#x3C;</span> Previous
                    </div>
                    <div class="month">
                        March 2021
                    </div>
                    <div class="next1">
                        Next&nbsp;<span>&#x3E;</span>
                    </div>
                </div>
                <div class="flex weekday_name">
                    <div>
                        Sunday
                    </div>
                    <div>
                        Monday
                    </div>
                    <div>
                        Tuesday
                    </div>
                    <div>
                        Wednesday
                    </div>
                    <div>
                        Thursday
                    </div>
                    <div>
                        Friday
                    </div>
                    <div>
                        Saturday
                    </div>
                </div>
                <div class="outter_border">
                    <div class="flex date">
                        <div class="previous_month">
                            <span>28</span>
                        </div>
                        <div class="content">
                            <span>1</span>
                            <div class="inner_date">
                                <span class="present1">P</span>
                            </div>
                        </div>
                        <div>
                            <span> 2</span>
                            <div class="inner_date">
                                <span class="present1">P</span>
                            </div>
                        </div>
                        <div>
                            <span>3</span>
                            <div class="inner_date">
                                <span class="present1">P</span>
                            </div>
                        </div>
                        <div>
                            <span> 4</span>
                            <div class="inner_date">
                                <span class="present1">P</span>
                            </div>
                        </div>
                        <div>
                            <span>5</span>
                            <div class="inner_date">
                                <span class="present1">P</span>
                            </div>
                        </div>
                        <div>
                            <span>6</span>
                            <div class="inner_date">
                                <span class="present1">P</span>
                            </div>
                        </div>
                    </div>
                    <div class="flex date">
                        <div class="holiday">
                            <span>7</span>
                            <div class="inner_date">
                                <span class="off">H</span>
                            </div>
                        </div>
                        <div class="content">
                            <span>8</span>
                            <div class="inner_date">
                                <span class="late_present1">LP</span>
                            </div>
                        </div>
                        <div>
                            <span> 9</span>
                            <div class="inner_date">
                                <span class="lpwe1">LE</span>
                            </div>
                        </div>
                        <div>
                            <span>10</span>
                            <div class="inner_date">
                                <span class="present1">P</span>
                            </div>
                        </div>
                        <div>
                            <span> 11</span>
                            <div class="inner_date">
                                <span class="lpwe1">LE</span>
                            </div>
                        </div>
                        <div>
                            <span>12</span>
                            <div class="inner_date">
                                <span class="lpwe1">LE</span>
                            </div>
                        </div>
                        <div>
                            <span>13</span>
                            <div class="inner_date">
                                <span class="lpwe1">LE</span>
                            </div>
                        </div>
                    </div>
                    <div class="flex date">
                        <div class="holiday">
                            <span>14</span>
                            <div class="inner_date">
                                <span class="off">H</span>
                            </div>
                        </div>
                        <div class="content">
                            <span>15</span>
                            <div class="inner_date">
                                <span class="lpwe1">LE</span>
                            </div>
                        </div>
                        <div>
                            <span> 16</span>
                            <div class="inner_date">
                                <span class="lpwe1">LE</span>
                            </div>
                        </div>
                        <div>
                            <span>17</span>
                            <div class="inner_date">
                                <span class="lpwe1">LE</span>
                            </div>
                        </div>
                        <div>
                            <span> 18</span>
                            <div class="inner_date">
                                <span class="lpwe1">LE</span>
                            </div>
                        </div>
                        <div>
                            <span>19</span>
                            <div class="inner_date">
                                <span class="lpwe1">LE</span>
                            </div>
                        </div>
                        <div>
                            <span>20</span>
                            <div class="inner_date">
                                <span class="lpwe1">LE</span>
                            </div>
                        </div>
                    </div>
                    <div class="flex date">
                        <div class="holiday">
                            <span>21</span>
                            <div class="inner_date">
                                <span class="off">H</span>
                            </div>
                        </div>
                        <div class="content absent_bg">
                            <span>22</span>
                            <div class="inner_date">
                                <span class="absent">A</span>
                            </div>
                        </div>
                        <div>
                            <span class="today"> 23</span>
                        </div>
                        <div>
                            <span>24</span>
                        </div>
                        <div>
                            <span> 25</span>
                        </div>
                        <div>
                            <span>26</span>
                        </div>
                        <div>
                            <span>27</span>
                        </div>
                    </div>
                    <div class="flex date">
                        <div class="holiday">
                            <span>28</span>
                            <div class="inner_date">
                                <span class="off">H</span>
                            </div>
                        </div>
                        <div class="content">
                            <span>29</span>
                        </div>
                        <div>
                            <span> 30</span>
                        </div>
                        <div>
                            <span>31</span>
                        </div>
                        <div class="previous_month">
                            <span> 1</span>
                        </div>
                        <div class="previous_month">
                            <span>2</span>
                        </div>
                        <div class="previous_month">
                            <span>3</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w30">
            <div class="summary">
                <p>Summary</p>
            </div>
            <div class="summary_div"></div>
            <div class="flex attendance_details">
                <!-- <div>
                    <p class="blue">30</p>
                    <p class="blue_text1">Total Working Days </p>
                </div> -->
                <div>
                    <p class="blue">30</p>
                    <p class="blue_text1">No of days Present</p>
                </div>
            </div>
            <div class="flex attendance_details">
                <div>
                    <p class="blue">12</p>
                    <p class="blue_text1"> Absent </p>

                </div>
                <div>
                    <p class="blue">18</p>
                    <p class="blue_text1"> Late In With Excuse</p>
                </div>
            </div>
            <div class="w98 flex attendance_details">
                <div>
                    <p class="blue">20</p>
                    <p class="blue_text1">Late In</p>
                </div>
                <!-- <div>
                    <p class="blue">0</p>
                    <p class="blue_text1">Holidays </p>
                </div> -->

            </div>
        </div>
    </div>
    <!--     <br> -->
</div>