<section id="popup" class="popupWrapper fadeIn">
    <div class="popup pos-abs">
      <div class="popup-wrapper pos-rel">
        <!-- Project content for close button here -->
        <ng-content select="[close-button]"></ng-content>
        <div class="popup-content">
          <!-- project content for header here -->
          <ng-content select="[popup-header]"></ng-content>
          
          <div class="update-enquiry-form overflowHidden">
            
            <!-- project content for popup here -->
            <ng-content select="[popup-content]"></ng-content>
  
            <!-- project footer for popup here -->
            <ng-content select="[popup-footer]"></ng-content>
            
          </div>
        </div>
      </div>
    </div>
  </section>