<div class="actb-top-header clearfix">
    <span class="heading">
        Lead Stats
    </span>
    <button class="pull-right drag-button hide">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path fill="#0C8AF6" fill-rule="nonzero" d="M19.723 11.927a.487.487 0 0 0-.107-.16l-1.683-1.684a.493.493 0 1 0-.698.697l.842.842h-5.7v-5.7l.878.879a.492.492 0 1 0 .698-.698l-1.72-1.72a.493.493 0 0 0-.697-.001L9.85 6.066a.494.494 0 0 0 .697.698l.843-.842-.001 5.7H5.692l.84-.842a.493.493 0 0 0-.697-.697l-1.683 1.684a.49.49 0 0 0 0 .697l1.72 1.72a.49.49 0 0 0 .698 0 .493.493 0 0 0 0-.697l-.88-.879h5.7v5.7l-.842-.841a.494.494 0 0 0-.697.697l1.684 1.684a.49.49 0 0 0 .697 0l1.721-1.721a.493.493 0 1 0-.698-.698l-.879.88v-5.7h5.702l-.88.878a.494.494 0 0 0 .698.698l1.72-1.72.004-.005a.506.506 0 0 0 .141-.345.496.496 0 0 0-.038-.188z"
            />
        </svg>
    </button>
    <button class="pull-right" (click)="openCalendar('enqWidDate')">

        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <g fill="#0084F6" fill-rule="nonzero">
                <path d="M18.667 5.5H16.5v-1a.5.5 0 1 0-1 0v1h-3v-1a.5.5 0 1 0-1 0v1h-3v-1a.5.5 0 1 0-1 0v1H5.333C4.598 5.5 4 6.096 4 6.833v11.833C4 19.403 4.597 20 5.333 20h13.334c.736 0 1.333-.597 1.333-1.334V6.833c0-.737-.596-1.333-1.333-1.333zM19 18.666c0 .184-.15.334-.333.334H5.333A.334.334 0 0 1 5 18.666V6.833c0-.184.15-.333.333-.333H7.5v1a.5.5 0 1 0 1 0v-1h3v1a.5.5 0 1 0 1 0v-1h3v1a.5.5 0 1 0 1 0v-1h2.167c.183 0 .333.15.333.333v11.833z"
                />
                <path d="M7.5 10h2v1.5h-2zM7.5 12.5h2V14h-2zM7.5 15h2v1.5h-2zM11 15h2v1.5h-2zM11 12.5h2V14h-2zM11 10h2v1.5h-2zM14.5 15h2v1.5h-2zM14.5 12.5h2V14h-2zM14.5 10h2v1.5h-2z"
                />
            </g>
        </svg>
    </button>
    <input type="text" value="" id="enqWidDate" class="widgetDatepicker bsDatepicker" name="enqWidDate" [(ngModel)]="enquiryDate"
        (ngModelChange)="updateEnqChartByDate($event)" readonly="true" bsDaterangepicker/>
    <span class="enquiry-state-date pull-right">
        {{getEnqStartDate()| date: 'dd MMM yyyy'}} To {{getEnqEndDate()| date: 'dd MMM yyyy'}}
    </span>
</div>

<div class="enq-state-bottom" [ngClass]="{'hide': enquiryZero}">
    <div class="enq-left">
        <div id="enqChart" [chart]="chart">
        </div>
    </div>
    <div class="enq-right">
        <div class="enq-state-details">
            <div class="enq">
                <div class="enqs-label">
                    <span class=""></span>
                    <label>
                        <a style="cursor: pointer;" (click)="navigateToEnquiry('total')">
                            Total Leads
                        </a>
                    </label>
                </div>
                <div class="enqs-value">
                    {{getDetails('total')}}
                </div>
            </div>
            <div class="enq">
                <div class="enqs-label">
                    <span class="open"></span>
                    <label>
                        <a style="cursor: pointer;" (click)="navigateToEnquiry('Open')">
                            Open
                        </a>
                    </label>
                </div>
                <div class="enqs-value">
                    {{getDetails('open')}}
                </div>
            </div>
            <div class="enq">
                <div class="enqs-label">
                    <span class="inprogress"></span>
                    <label>
                        <a style="cursor: pointer;" (click)="navigateToEnquiry('InProgress')">
                            In Progress
                        </a>
                    </label>
                </div>
                <div class="enqs-value">
                    {{getDetails('ip')}}
                </div>
            </div>
            <div class="enq">
                <div class="enqs-label">
                    <span class="admmited"></span>
                    <label>
                        <a style="cursor: pointer;" (click)="navigateToEnquiry('Admitted')">
                            Admitted
                        </a>
                    </label>
                </div>
                <div class="enqs-value">
                    {{getDetails('admitted')}}
                </div>
            </div>
            <div class="enq">
                <div class="enqs-label">
                    <span class="closed"></span>
                    <label>
                        <a style="cursor: pointer;" (click)="navigateToEnquiry('Closed')">
                            Closed
                        </a>
                    </label>
                </div>
                <div class="enqs-value">
                    {{getDetails('closed')}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="enq-state-bottom" [ngClass]="{'hide': !enquiryZero}">
    <div style="width:100%; height: 100%; padding: 20px; z-index: 10;">
        <h2 style="color: black;text-align: center;">No Enquiry Found</h2>
    </div>
</div>