@import "./src/assets/css/common/variables.scss";
.router-container {
    width: 100%;
}

.common-tab {
    padding-top: 5px;
    ul {
        font-size: 0;
        li {
            margin-right: 1px;
            display: inline-block;
            width: 8%;
            max-width: 158px;
            cursor: pointer;
            a {
                display: block;
                padding: 7px 5px;
                background: white;
                border: 1px solid #cccdcd;
                text-align: center;
                color: $common-blue;
                font-size: 14px;
                font-weight: 600;
            }
            &:hover,
            &.active {
                a {
                    background: #e1f3ff;
                    color: $common-blue;
                    border-color: $common-blue;
                }
            }
        }
    }
}

@media only screen and (max-width: 420px) {
    .common-tab ul li {
        width: auto;
        a {
            font-size: 10px;
        }
    }
    .field-checkbox-wrapper .form-checkbox+label {
        font-size: 12px;
    }
}

@media only screen and (max-width:767px) {
    .common-tab ul li {
        margin-right: 0;
        width: 20%;
        a {
            padding: 5px 5px;
            font-size: 12px;
        }
    }
}

.boxPadding15 {
  box-sizing: $border-box;
}

.middle-section {
    padding: 5px 15px;
    width: 100%;
    box-sizing: border-box;
}