<div class="clearFix" style="padding-right: 2%;">
    <section class="middle-top mb0 clearFix">
        <h1 class="pull-left">
            Manage Inventory
        </h1>
    </section>

    <section class="middle-main clearFix">
        <div class="common-tab" style="padding-top: 0;">
            <ul>
                <li id="item" (click)="switchActiveView('item')" class="active">
                    <a routerLink="/view/inventory/item">Item</a>
                </li>
                <li id="category" (click)="switchActiveView('category')">
                    <a routerLink="/view/inventory/category">Category</a>
                </li>
            </ul>
        </div>

        <div class="router-container">
            <router-outlet></router-outlet>
        </div>
    </section>

</div>