<div class="expenses-widget">

  <div class="expenses-header">
    <span style="font-weight:bold;">Manage Expenses</span>
    <!-- <span class="qInfoIcon">i</span>
    <div class="tooltip-box-field">
      Send message for todays homework OR If Last class Homework is Not Done/Incomplete
    </div> -->
  </div>

  <div class="expenses-input-container">
    <!-- <div class="expenses-radio-container">
      <div class="field-radio-wrapper">
        <input type="radio" [value]="false" [(ngModel)]="expenseFor" name="expenses" (ngModelChange)="changeExpenseType()" class="form-radio">
        <label for="expenses">Total Amount</label>
      </div>
      <div class="field-radio-wrapper">
        <input type="radio" [value]="true" [(ngModel)]="expenseFor" name="expenses" (ngModelChange)="changeExpenseType()" class="form-radio">
        <label for="expenses">Quantity</label>
      </div>
    </div> -->

    <div class="expense-form-container-for-total-amount">
      <div class="form-wrapper" >
        <select id="category" class="expense-form-ctrl select-box" name="item_cat" [(ngModel)]="expenses.category_id" (ngModelChange)="cat()">    <!--  [(ngModel)]="expensesCategory" (ngModelChange)="cat()"-->
          <option value="" disabled  selected="selected" hidden>Item Category</option>
          <option value="-1" class="addCategory"> + Add Category</option>
          <option value="{{category.category_id}}" *ngFor="let category of allCategory">{{category.category_name}}</option>
        </select>

        <div class="add-cat-container" [hidden]="changeCat">
            <span class="fa fa-check form-control-done" (click)="addNewCat()" title="Add Category"></span>
            <span class="fa fa-times form-control-cross" (click)="cancelAddNewCat()" title="Cancel"></span>
            <input type="text" class="expense-form-ctrl new-cat" style="" placeholder="Enter Name" [(ngModel)]="newExpenseCategory">
        </div>

      </div>
      <div class="form-wrapper" [hidden]="!expenseFor">
        <input type="number" class="expense-form-ctrl" style="width:80px;" placeholder="Quantity" [(ngModel)]="expenses.total_quantity" (ngModelChange)="calculateTotalAmount()">
      </div>
      <div class="form-wrapper" [hidden]="!expenseFor">
        <input type="number" class="expense-form-ctrl" style="width:80px;" placeholder="Rate" [(ngModel)]="expenses.rate_per_quantity" (ngModelChange)="calculateTotalAmount()">
      </div>
      <div class="form-wrapper">
        <input type="number" class="expense-form-ctrl" style="width:120px;" placeholder="Total Amount" [(ngModel)]="expenses.total_amount"><br>
      </div>
      <div class="form-wrapper calendar-container">
       <span id="changeDate">{{today | date: 'dd MMM yyyy'}}</span> &nbsp;&nbsp;
       <input  type="text" value="" id="addDate" class="widgetDatepicker bsDatepicker" name="addDate"
        [(ngModel)]="addDate" (ngModelChange)="addNewDate($event)" readonly="true" bsDatepicker  style="width:0px;margin-right: 10px;"/>
       <i class="fa fa-calendar" style="cursor: pointer;color: #1283f4;" (click)="openCalendar('addDate')"></i>
      </div>
      <div class="btn-Group">
        <button class="btn fullBlue" (click)="addExpense()">Add &nbsp;&nbsp;+</button>
      </div>
    </div>

    <div class="field-checkbox-wrapper" style="display: inline-block;left: 22.5%;margin:5px;">
      <input type="checkbox" name="expenses" [(ngModel)]="expenseFor" [value]="false" class="form-checkbox" id="qun">
      <label for="qun">Quantity</label>
    </div>
  </div>

  <div class="expenses-search-and-filter-container">
    <div class="expense-search-container">
      <select id="filterCategoryByName" class="filterCategoryByItem select-box" name="filterCategoryByName" [(ngModel)]="filterCategory" (ngModelChange)="filterExpenses()">
        <option value="-1" selected="selected">Filter By Category</option>
        <!-- <option value="-1" disabled  selected="selected" hidden>Filter By Category</option> -->
        <option value="{{category.category_id}}" *ngFor="let category of allCategory">{{category.category_name}}</option>
      </select>
    </div>

    <div class="sort-by-date-container">
      <select id="sortDate" class="filterCategoryByItem select-box" name="sortDate" [(ngModel)]="sortDate" (ngModelChange)="dateRangeChanges()">
        <!-- <option value="" disabled  selected="selected" hidden>Sort By Date</option> -->
        <option value="-1" disabled  selected="selected" hidden>Filter By Date</option>
        <option value="last_week">Last 7 Days</option>
        <option value="this_month">This Month</option>
        <option value="last_month">Last Month</option>
        <option value="last_three_month">Last 3 months</option>
        <option value="custom_date_range">Custom Date range</option>
        <option value="all">All</option>
      </select>
    </div>

    <div class="selected-date-range-container" [hidden]="filteredDate">
      <!-- <span style="font-weight: 600;">Date Range :</span> &nbsp;&nbsp; -->
      <span id="filteredDate"></span>
      <!-- <span (click)="resetSortByDate()" style="color:#87c0f9;cursor:pointer;text-decoration: underline;">clear</span> -->
    </div>

    <input  type="text" value="" id="dateRange" class="widgetDatepicker bsDatepicker" name="addDate"
      readonly="true" bsDaterangepicker  style="width:0px;margin-right: 10px;" [(ngModel)]="filterDateRange" (ngModelChange)="filteredDateRange()"/>

    <div class="export-excel-container">
      <button type="button" name="button" (click)="downloadExpenses()" class="export-excel">

        <i class="fa fa-file-excel-o" style="font-size:20px;float:right;display:inline-block;" title="Export to Excel"></i>

        &nbsp;
      </button>
    </div>

    <!-- <div class="expense-filter-container">
      <button aria-expanded="true" class="dropdown-trigger" (click)="openMenu(i)">
        <span class="svg-icon-wrap">
          <span class="visually-hidden"></span>
          <div aria-hidden="true" type="ellipsis-horizontal-icon">
            <svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon"
              focusable="false">
              <path d="M2,10H6v4H2V10Zm8,4h4V10H10v4Zm8-4v4h4V10H18Z" class="large-icon" style="fill: currentColor"></path>
            </svg>
          </div>
        </span>
      </button>

      <div id="menuList" class="dd-list-container hide">
        <div class="dropdown-list">
          <div class="dd-list-inner">
            <ul class="actions-menu">
              <li class="action-item" (click)="openCalendar('dateRange')">
                <span class="textContent">
                  <i class="fa fa-calendar" style="cursor: pointer;color: #1283f4;"></i>
                  &nbsp;Filter by Date Range
                </span>
              </li>
              <li class="action-item" (click)="downloadExpenses()">
                <span class="textContent">
                  <i class="fa fa-file-excel-o" style="cursor: pointer;color: #1283f4;"></i>
                  &nbsp;Export excel sheet
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div> -->

  </div>

  <div class="expenses-table-container">
    <table>
      <thead>
        <tr style="height: 35px;" id="table-header" class="displayComp">
          <th>Item</th>
          <th>Quantity</th>
          <th>Rate</th>
          <th>Total</th>
          <th>Date</th>
          <th *ngIf="limitedAccess">Source</th>
          <!-- <th *ngIf="limitedAccess">Remarks</th> -->
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let expense of allExpenses; let i = index" id="row{{i}}" class="displayComp">

          <!-- Item name -->
          <td class="edit-comp">
            <select id="" class="expense-edit-form-ctrl edit-select-box" name="item_cat" [(ngModel)]="editExpense.category_id">    <!--  [(ngModel)]="expensesCategory" (ngModelChange)="cat()"-->
              <option value="" disabled  selected="selected" hidden style="color: #cbcbcb;">Item Category</option>
              <option value="{{category.category_id}}" *ngFor="let category of allCategory">{{category.category_name}}</option>
            </select>
          </td>
          <td class="view-comp">
            <span>{{expense.category_name}}</span>
          </td>

          <!-- Rate -->
          <td class="edit-comp">
            <input type="number" class="expense-edit-form-ctrl" placeholder="Quantity" [(ngModel)]="editExpense.total_quantity" *ngIf="editExpense.expense_type == 1">
          </td>
          <td class="view-comp" style="text-align: center;">
            <span *ngIf="expense.total_quantity == null || expense.total_quantity == '' || expense.total_quantity == 0">-</span>
            <span *ngIf="expense.total_quantity != null && expense.total_quantity != '' && expense.total_quantity != 0">{{expense.total_quantity | number: '2.0'}}</span>
          </td>

          <!-- Quantity -->
          <td class="edit-comp">
            <input type="number" class="expense-edit-form-ctrl"  placeholder="Rate" [(ngModel)]="editExpense.rate_per_quantity"  *ngIf="editExpense.expense_type == 1">
          </td>
          <td class="view-comp" style="text-align: center;">
            <span *ngIf="expense.rate_per_quantity == null || expense.rate_per_quantity == '' || expense.rate_per_quantity == 0">-</span>
            <span *ngIf="expense.rate_per_quantity != null && expense.rate_per_quantity != '' && expense.rate_per_quantity != 0">{{expense.rate_per_quantity | number: '2.0'}}</span>
          </td>

          <!-- Total Amount -->
          <td class="edit-comp">
            <input type="number" style="width:120px;" class="expense-edit-form-ctrl" placeholder="Total Amount" [(ngModel)]="editExpense.total_amount">
          </td>
          <td class="view-comp" style="text-align: center;">
            <span >{{expense.total_amount | number: '2.0'}}</span>
          </td>

          <!-- Added Date -->
          <td class="edit-comp" style="position: relative;">
            <span id="changeDate_{{i}}">{{expense.added_date}}</span>
            <input  type="text" value="" [id]="'editDate-'+i" class="widgetDatepicker bsDatepicker" name="editDate"
             [(ngModel)]="editDate" (ngModelChange)="expenseEditDate($event)" readonly="true" bsDatepicker  style="width:0px;margin-right: 10px;"/>
            <i class="fa fa-calendar" style="cursor: pointer;color: #1283f4;" (click)="openCalendar('editDate-'+i)"></i>
          </td>
          <td class="view-comp">
            <span id="editDate">{{expense.added_date}}</span>
          </td>

          <!-- Source -->
          <td class="edit-comp" *ngIf="limitedAccess">
            <span>{{expense.userName}}</span>
          </td>
          <td class="view-comp" *ngIf="limitedAccess">
            <span id="debitFrom">{{expense.userName}}</span>
          </td>

          <!-- Remarks -->
          <!-- <td class="edit-comp" *ngIf="limitedAccess">
            <input type="text" style="width:120px;" class="expense-edit-form-ctrl" placeholder="Enter Remarks" [(ngModel)]="editExpense.total_amount">
          </td>
          <td class="view-comp" *ngIf="limitedAccess">
            <span id="">{{expense.userName}}</span>
          </td> -->

          <td class="table-action edit-comp">
            <a style="cursor:pointer" (click)="updateRow(expense.expense_id)">
              <i class="fas fa-check" style="font-family: FontAwesome ;font-size: 19px;" title="Update"></i>
            </a>
            <a style="cursor:pointer" (click)="cancelRow(i)">
              <i class="fas fa fa-times" style="font-family: FontAwesome ;font-size: 19px;" title="Cancel"></i>
            </a>
          </td>
          <td class="view-comp" *ngIf="expense.created_date == todayDateForEdit || limitedAccess">
            <i class="fa fa-pencil"  title="Edit Expense" style="color: #1283f4; cursor:pointer;" (click)="editCurrentExpense(i,expense)"></i>
          </td>
          <td class="view-comp" *ngIf="expense.created_date != todayDateForEdit">
            <!-- <i class="fa fa-pencil"  title="Edit Expense" style="color: #1283f4; cursor:pointer;" (click)="editCurrentExpense(i,expense)"></i> -->
          </td>
        </tr>

        <tr>
          <td colspan="7" style="text-align:center" [hidden]="noRecord">
            No Expenses Record
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="total-expenses-container">
    <span>Total Expense </span>
    <span class="total-expense-value">Rs {{total_expense | number}}/-</span>
  </div>

</div>
