<proctur-popup>

    <span class="closePopup pos-abs fbold show" id="popupCloseBtn" (click)="closePopups()" close-button>
      <svg  class="artdeco-icon" focusable="false" height="24px" preserveAspectRatio="xMinYMin meet" viewBox="0 0 24 24" width="24px" x="0" y="0">
       <path  class="large-icon" d="M20,5.32L13.32,12,20,18.68,18.66,20,12,13.33,5.34,20,4,18.68,10.68,12,4,5.32,5.32,4,12,10.69,18.68,4Z" style="fill: currentColor"></path>
     </svg>
    </span>

    <h2 popup-header style="margin-bottom:5px">Discount</h2>

    <div class="discount-wrapper" popup-content>

        <div class="common-tab row">
            <ul>
                <li id="addDiscountTab" #addDiscountTab (click)="switchActiveView('addDiscountTab')" class="active">
                    <a>Add</a>
                </li>
                <li id="removeDiscountTab" #removeDiscountTab (click)="switchActiveView('removeDiscountTab')" class="">
                    <a>Remove</a>
                </li>
                <li id="discountHistoryTab" #discountHistoryTab (click)="switchActiveView('discountHistoryTab')" class="">
                    <a>Discount History</a>
                </li>
            </ul>
        </div>

        <div class="row" *ngIf="showTab ==  'addDiscountTab' ||  showTab == 'removeDiscountTab'">

            <div class="c-lg-4 c-md-4 c-sm-4 c-xs-4 filter-section">

                <div class="field-wrapper">
                    <!-- <label for="masterCourse" *ngIf="isProfessional">Standard</label> -->
                    <label for="masterCourse" >Master Course</label>
                    <select id="masterCourse" name="masterCourse" [(ngModel)]="discountPopUpForm.masterCourseName"
                        class="form-ctrl" placeholder="Course" (ngModelChange)="masterCourseChange($event)">
                        <option value="-1">Select</option>
                        <option *ngFor="let item of masterCourseName" [value]="item">{{item}}</option>
                    </select>
                </div>

                <div class="field-wrapper">
                    <!-- <label for="masterCourse" *ngIf="isProfessional">Subject</label> -->
                    <label for="masterCourse" >Course</label>
                    <select id="courseNameDiv" name="courseNameDiv" [(ngModel)]="discountPopUpForm.coursename" class="form-ctrl"
                        placeholder="Course" (ngModelChange)="onCourseChange($event)">
                        <option value="-1">Select</option>
                        <option *ngFor="let item of courseName" [value]="item.course_id">{{item.course_subject_name}}</option>
                    </select>
                </div>

                <div class="field-wrapper">
                    <label for="dtype">Discount Type<span class="text-danger">*</span></label>
                    <select id="dtype" name="dtype" [(ngModel)]="discountPopUpForm.type" class="form-ctrl"
                        (ngModelChange)="onDiscountTypeChange(event)">
                        <option value="amount">Amount</option>
                        <option value="percentage">Percentage</option>
                    </select>
                    <p *ngIf="discountPopUpForm.type == 'percentage'">Discount amount is calculated based on the
                        percentage of actual initial fee amount i.e {{totalFeesAmount | commaSeprator:countryDetails.currency_code:countryDetails.country_code}}</p>

                </div>

                <div class="field-wrapper">
                    <label for="ref">Discount Value<span class="text-danger">*</span></label>
                    <input type="text" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" id="ref"
                        class="form-ctrl" name="ref" [(ngModel)]="discountPopUpForm.value" (ngModelChange)="onDiscountAmountChange($event)" />
                </div>

                <div class="field-wrapper">
                    <label for="discReason">Discount Reason<span class="text-danger">*</span></label>
                    <select id="discReason" name="discReason" [(ngModel)]="discountPopUpForm.reason" class="form-ctrl"
                        placeholder="Discount Reason">
                        <option value="-1">Discount Reason</option>
                        <option *ngFor="let item of discountReason" [value]="item.discount_reason_id" title={{item.reason}}>
                            {{ (item.reason.length > 30) ? (item.reason | slice:0:30) + '...' : item.reason }}
                        </option>
                    </select>
                </div>

                <!-- <div class="field-checkbox-wrapper hide">
                    <input type="checkbox" [(ngModel)]="discountPopUpForm.equalInAllInstall" value="" id="equalInAllInstall"
                        name="equalInAllInstall" class="form-checkbox" (ngModelChange)="onCheckboxApplyInAllClick($event)">
                    <label for="equalInAllInstall">Equal In All Installment</label>
                </div> -->

            </div>
            <div class="c-lg-8 c-md-8 c-sm-8 c-xs-8 table-section">
                <h3 *ngIf="showTab ==  'addDiscountTab'">
                    Select Installment(s) to apply discount of {{discountPopUpForm.discountAmount |
                        commaSeprator:countryDetails.currency_code:countryDetails.country_code}}
                </h3>

                <h3 *ngIf="showTab ==  'removeDiscountTab'">
                    Select Installment(s) to remove discount of {{discountPopUpForm.discountAmount |
                        commaSeprator:countryDetails.currency_code:countryDetails.country_code}}
                </h3>

                <table>
                    <thead>
                        <tr>
                            <th class="textAllignLeft">
                                <div class="field-checkbox-wrapper">
                                    <input type="checkbox" value="" class="form-checkbox" id="tableHeadChbx"
                                        [(ngModel)]="discountPopUpForm.tableHead" (ngModelChange)="onTableHeaderCheckbox($event)" />
                                    <label for="tableHeadChbx"></label>
                                </div>
                            </th>
                            <th>Installment No.</th>
                            <th>Course</th>
                            <th>Prev Discount</th>
                            <th class="textAllignRight">Balance Amount</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of installmentArray">
                            <td class="textAllignLeft">
                                <div class="field-checkbox-wrapper">
                                    <input type="checkbox" value="" class="form-checkbox" [(ngModel)]="item.uiSelected"
                                        (ngModelChange)="onRowCheckBoXClick()" />
                                    <label></label>
                                </div>
                            </td>
                            <td>{{item.installment_no}}</td>
                            <td>{{item.course_subject_name}}</td>
                            <td class="textAllignRight">{{item.discount | commaSeprator:countryDetails.currency_code:countryDetails.country_code}}</td>
                            <td class="textAllignRight" *ngIf="item.balance_amount == 0">
                                {{item.fees_amount | commaSeprator:countryDetails.currency_code:countryDetails.country_code}}</td>
                            <td class="textAllignRight" *ngIf="item.balance_amount != 0">
                                {{item.balance_amount | commaSeprator:countryDetails.currency_code:countryDetails.country_code}}</td>
                            <td class="status-amount" *ngIf="item.balance_amount == 0">
                                <span class="due">Unpaid</span></td>
                            <td class="status-amount" *ngIf="item.balance_amount != 0">
                                <span class="partial">Partially Paid</span></td>
                        </tr>
                        <tr *ngIf="installmentArray.length == 0">
                            <td colspan="6" *ngIf="showTab ==  'addDiscountTab'">
                                <h2>No Unpaid Installment Found</h2>
                            </td>
                            <td colspan="6" *ngIf="showTab ==  'removeDiscountTab'">
                                No installment on which amount is due and discount is applied found.
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>

        <div class="row history-table" *ngIf="showTab ==   'discountHistoryTab'">
            <table>
                <thead>
                    <tr>
                        <th>Installment No</th>
                        <th>Master Course</th>
                        <th>Course</th>
                        <th>Reason</th>
                        <th>Discount Type</th>
                        <!-- <th>Total Discount</th> -->
                        <th class="textAllignRight">Discount amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of discountHistory">
                        <td>{{item.installment_no}}</td>
                        <td>{{item.master_course_name}}</td>
                        <td>{{item.course_name}}</td>
                        <td>{{item.disount_reason}}</td>
                        <td>
                            <span *ngIf="item.discount_status == 1">Discount Added</span>
                            <span *ngIf="item.discount_status == 2">Discount Removed</span>
                        </td>
                        <!-- <td>{{item.total_discount_amount}}</td> -->
                        <td class="textAllignRight">{{item.discount_amount | commaSeprator:countryDetails.currency_code:countryDetails.country_code}}</td>
                    </tr>
                    <tr *ngIf="discountHistory?.length == 0">
                        <td colspan="6">
                            No Discount Applied or Removed
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="" popup-footer>
        <div class="clearfix">
            <aside class="pull-right popup-btn">
                <input type="button" value="Cancel" class="btn" (click)="closePopups()">
                <input *ngIf="showTab ==  'addDiscountTab'" type="button" #btnApplyDiscount value="Apply Discount"
                    (click)="applyAction()" class="fullBlue btn">
                <input *ngIf="showTab ==  'removeDiscountTab'" type="button" #btnRemoveDiscount value="Remove Discount"
                    (click)="removeDiscountAction()" class="fullBlue btn">
            </aside>
        </div>
    </div>

</proctur-popup>
