<div class="clearFix" style="padding-left: 15px;padding-right: 15px;">
    <section class="header-section">
        <div>
            <div class="header-title">
                <a routerLink="/view/website-configuration/images" style="padding:0px; ">
                    Website/ App
                </a>
                <i style="font-family: 'FontAwesome';color: black;" class="fas fa-angle-right"></i>
                <span style="color: black;">FAQ</span>
            </div>
        </div>
    </section>
    <aside class="middle-full">
        <section class="middle-main clearFix">
            <section class="activity-box-container">
                <div class="activity-container">

                    <div class="activity-item-container"
                        routerLink="/view/website-configuration/faq/category/list">
                        <div class="img_name_container">
                            <span>Category</span>
                        </div>
                        <div class="activity-description">
                            <!-- <span>Add / Manage products for selling or assigning to students directly.</span> -->
                        </div>
                    </div>
                    <div class="activity-item-container" routerLink="/view/website-configuration/faq/qa/list">
                        <div class="img_name_container">
                            <span>Q&A</span>
                        </div>
                        <div class="activity-description">
                            <!-- <span>Manage and communicate with registered users from App/Website.</span> -->
                        </div>
                    </div>

                </div>

            </section>
        </section>
    </aside>
</div>