<div class="middle-section clearFix" id="enquiryList" style="margin-top: -11px;">

  <section class="middle-top clearFix bulk-header" style="padding: 1%;border-bottom: 1px solid lightgrey;">

    <div class="row">
      <h1 class="pull-left">
        <a style="padding:0px; ">
          Leads
        </a>
        <i style="font-family: 'FontAwesome';" class="fas fa-angle-right"></i>
        <a routerLink="/view/leads/enquiry" style="padding:0px; ">
          Enquiries
        </a>
        <i style="font-family: 'FontAwesome';" class="fas fa-angle-right"></i>
        Upload Enquiry
      </h1>
      <aside class="pull-right">
        <input type="button" value="Upload Status Report" (click)="bulkStatusReporter()" class="btn"
          style="border-radius: 4px;border: 1px solid #3a66fa;box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);font-weight: 600;" />
        <a id="template_link">
          <input type="button" value="Download Template" class="btn" (click)="downloadTemplate()"
            id="btnDownloadTemplate"
            style="border-radius: 4px;border: 1px solid #3a66fa;box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);font-weight: 600;" />
        </a>
        <input type="button" value="Add Enquiry" routerLink='/view/leads/add' class="btn" id="btnAddEnquiry"
          style="border-radius: 4px;border: 1px solid #3a66fa;box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);font-weight: 600;" />
      </aside>
    </div>

  </section>



  <!--====================================middle <Main> section==========================-->
  <section class="middle-main clearFix" id="bulkEnquiryMain">
    <div class="file-upload-box">
      <div class="select-file-upload">
        <h5 style="margin-left: 1%;">Select a file to upload</h5>
        <div class="">
          <ul>
            <li>
              <!-- accept="application/vnd.ms-excel" -->
              <p-fileUpload customUpload="true" (uploadHandler)="uploadHandler($event)" [showCancelButton]="false">
              </p-fileUpload>

              <div class="uploadProcessAndFileName clearfix" *ngIf="isUploadingXls">
                <div class="file-uploaded">
                  {{fileLoading}}
                </div>
                <div class="progress-bar-wrapper">
                  <div class="upload-bar">
                    <div id="progress-width"></div>
                  </div>
                  <span>{{progress}} %</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </section>





  <!-- ================================================================================= -->
  <!-- ========================= Bulk Update Status =================================== -->
  <enquiry-pop-up [hidden]="!isBulkUploadStatus">

    <span class="closePopup pos-abs fbold " id="popupCloseBtn" (click)="closeBulkStatus()" close-button>
      <svg class="artdeco-icon" focusable="false" height="24px" preserveAspectRatio="xMinYMin meet" viewBox="0 0 24 24"
        width="24px" x="0" y="0">
        <path class="large-icon"
          d="M20,5.32L13.32,12,20,18.68,18.66,20,12,13.33,5.34,20,4,18.68,10.68,12,4,5.32,5.32,4,12,10.69,18.68,4Z"
          style="fill: currentColor"></path>
      </svg>
    </span>

    <h2 id="bulk-head" popup-header style="border-bottom: 1px solid lightgrey;padding-bottom: 6px;">Upload Enquiry
      Status</h2>

    <div class="bulk-enquiry-form" popup-content style="margin-top: -4%;margin-bottom: 1%;">

      <div class="row">
        <div class="table-responsive bulk-update-report">
          <table class="tableBodyScroll">
            <thead>
              <tr>
                <th style="width: 43%;">File Name</th>
                <th>Upload Date</th>
                <th>Total Count</th>
                <th>Success Count</th>
                <th>Failure Count</th>
                <!-- <th *ngIf="downloadEnquiryReportAccess">Action</th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let record of bulkUploadRecords">
                <td style="width: 43%;">{{record.list_name}}</td>
                <td style="width: 13%;">{{record.created_date}}</td>
                <td>{{record.total_count}}</td>
                <!-- <td>{{record.success_count}}</td>
                <td>{{record.failure_count}}</td>
                <td *ngIf="downloadEnquiryReportAccess">
                  <a *ngIf="record.failure_count != 0" [id]="record.list_id" title="Generate Report"
                    class="download-icon" (click)="downloadBulkStatusReport(record)" id="generateAnch5">
                  </a>
                </td> -->
                <td>
                  <span *ngIf="record.success_count != 0 " [id]="record.list_id" title="Download Success Report"
                    id="generateAnch5">{{record.success_count}}
                  </span>
                  <!-- <a *ngIf="record.success_count != 0 && downloadEnquiryReportAccess && record.success_path.includes('https://s3-')"
                    [id]="record.list_id" title="Download Success Report" href="{{record.success_path}}"
                    id="generateAnch5">{{record.success_count}}
                  </a>
                  <a *ngIf="record.success_count != 0 && downloadEnquiryReportAccess && !record.success_path.includes('https://s3-')"
                    [id]="record.list_id" title="Download Success Report" (click)="downloadBulkStatusReport(record)"
                    id="generateAnch5">{{record.success_count}}
                  </a>
                  <a *ngIf="record.failure_count != 0 && !downloadEnquiryReportAccess" id="success{{record.list_id}}">
                    {{record.success_count}}
                  </a> -->
                  <span *ngIf="record.success_count == 0">
                    {{record.success_count}}
                  </span>
                </td>

                <td>
                  <a *ngIf="record.failure_count != 0 && downloadEnquiryReportAccess && record.failure_path.includes('https://s3-')"
                    title="Download Failure Report" href="{{record.failure_path}}">
                    {{record.failure_count}}
                  </a>
                  <a *ngIf="record.failure_count != 0 && downloadEnquiryReportAccess && !record.failure_path.includes('https://s3-')"
                    [id]="record.list_id" title="Download Failure Report" (click)="downloadBulkStatusReport(record)"
                    id="generateAnch5">{{record.failure_count}}
                  </a>
                  <a *ngIf="record.failure_count != 0 && !downloadEnquiryReportAccess" id="failure{{record.list_id}}">
                    {{record.failure_count}}
                  </a>
                  <span *ngIf="record.failure_count == 0">
                    {{record.failure_count}}
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>

  </enquiry-pop-up>

</div>