<section class="middle-section" style="margin-top: -11px;">
  <!-- course module -->
  <section class="header-section" style="padding-left: 12px;">
    <div>
      <div class="header-title">
        <span *ngIf="(!isLangInstitue)">Class/Exam</span>
        <span *ngIf="(isLangInstitue)"> Batch</span>
      </div>
    </div>
  </section>
  <div class="course-menu-section-container" *ngIf="(!isLangInstitue)">
   <!-- <div class="course-menu-item" routerLink="/view/course/setup" *ngIf="jsonFlags.isShowSetup">
     <div class="menu-title">
        <img src="./assets/images/course/data-setup.svg" alt="data setup">
        <span>Data Setup</span>
      </div>
      <div class="menu-description">
        <span> One time setup of Academic Year, Faculty Details, Classrooms & Exam Grades.</span>
      </div>
    </div>-->
   <!-- <div class="course-menu-item" routerLink="/view/course/create" *ngIf="jsonFlags.isShowModel">
      <div class="menu-title">
        <img src="./assets/images/course/create-course.svg" alt="create course">
        <span>Manage {{schoolModel ? 'Section' : 'Course'}}</span>
      </div>
      <div class="menu-description">
        <span> Manage Standards / Subjects / Topics / Courses, along with Class & Exam Scheduling.</span>
      </div>
    </div>-->
   <!-- <div class="course-menu-item" routerLink="../ecourse-file-manager" *ngIf="jsonFlags.isEcourseFileManager">
      <div class="menu-title">
        <img src="./assets/images/activity/study_material.svg" alt="">
        <span>Study Material</span>
      </div>
      <div class="menu-description">
        <span>Study Material Repository - To be used for Sharing with Students in Offline / Online Courses and for
          Selling purpose.</span>
      </div>
    </div>-->
   <!-- <div class="course-menu-item" routerLink="/view/course/file-manager">
      <div class="menu-title">
        <img src="./assets/images/activity/file_manager.svg" alt="file manager">
        <span>File / Documents Manager</span>
      </div>
      <div class="menu-description">
        <span>Upload and Share Youtube Links / Assignments / Notes / Homework etc with Students.</span>
      </div>
    </div>-->
    <!--<div class="course-menu-item" routerLink="/view/course/online-assignment" *ngIf="jsonFlags.isShowOnlineAssignment">
      <div class="menu-title">
        <img src="./assets/images/course/reports.svg" alt="reports">
        <span>Online Assignment</span>
        <span class="new-keyword">New</span>
      </div>
      <div class="menu-description">
        <span>Share and evaluate student assignment</span>
      </div>
    </div>-->
    <div class="course-menu-item" routerLink="/view/course/coursePlanner/class" *ngIf="jsonFlags.isShowClassPlanner">
      <div class="menu-title">
        <img src="./assets/images/course/class-planner.svg" alt="class planner">
        <span>Class/Exam Planner</span>
      </div>
      <div class="menu-description">
        <span>Plan and Manage classes/exams for all courses at one place.</span>
      </div>
    </div>
    <!-- <div class="course-menu-item" routerLink="/view/course/coursePlanner/exam" *ngIf="jsonFlags.isShowClassPlanner">
      <div class="menu-title">
        <img src="./assets/images/course/exam-planner.svg" alt="exam planner">
        <span>Exam Planner</span>
      </div>
      <div class="menu-description">
        <span>Plan and Manage exams for all courses at one place.</span>
      </div>
    </div> -->
    <div class="course-menu-item" routerLink="/view/course/timeTable">
      <div class="menu-title">
        <img src="./assets/images/course/timetable.svg" alt="timetable">
        <span>Timetable</span>
      </div>
      <div class="menu-description">
        <span>Check and Print Timetable for the week.</span>
      </div>
    </div>

    <!--<div class="course-menu-item" routerLink="/view/course/reports">
      <div class="menu-title">
        <img src="./assets/images/course/reports.svg" alt="reports">
        <span>Reports</span>
      </div>
      <div class="menu-description">
        <span>Student Attendance & Exam Reports for Analysis and Printing.</span>
      </div>
    </div>-->
    <!--<div class="course-menu-item" routerLink="../master-tag">
      <div class="menu-title">
        <img src="./assets/images/activity/manage_tag.svg" alt="">
        <span>Manage Tag</span>
      </div>
      <div class="menu-description">
        <span>Tags are used in Online Exams for better analysis of student performance.</span>
      </div>
    </div>-->
    <div class="course-menu-item" *ngIf="jsonFlags.isShowEcourseMapping && !schoolModel" routerLink="../ecoursemapping">
      <div class="menu-title">
        <img src="./assets/images/activity/ecourse.svg" alt="">
        <span>eCourse Mapping</span>
      </div>
      <div class="menu-description">
        <span *ngIf="!isLangInstitue">Manage eCourse (Online Courses) for Online Tests, Study Material and eStore
          Products.</span>
        <span *ngIf="isLangInstitue">Manage eCourse (Online Courses) for Online Tests, Study Material and eStore
          Products.</span>
      </div>
    </div>
    <div class="course-menu-item" routerLink="/view/course/archiving" *ngIf="jsonFlags.isShowArchiving && !schoolModel">
      <div class="menu-title">
        <img src="./assets/images/activity/archive.svg" alt="archiving">
        <span>Course Deletion</span>
      </div>
      <div class="menu-description">
        <span *ngIf="(isLangInstitue)">Archive old batches and get the report.</span>
        <span *ngIf="(!isLangInstitue)">Archive old courses and get the report.</span>
      </div>
    </div>
    
    

  </div>

  <!-- batch module -->
  <div class="course-menu-section-container" *ngIf="(isLangInstitue)">
    <div class="course-menu-item" routerLink="/view/batch/setup" *ngIf="jsonFlags.isShowSetup">
      <div class="menu-title">
        <img src="./assets/images/course/data-setup.svg" alt="data setup">
        <span>Data Setup</span>
      </div>
      <div class="menu-description">
        <span> One time setup of Academic Year, Faculty Details, Classrooms & Exam Grades.</span>
      </div>
    </div>
    <div class="course-menu-item" routerLink="/view/batch/create" *ngIf="jsonFlags.isShowModel">
      <div class="menu-title">
        <img src="./assets/images/course/create-course.svg" alt="create batch">
        <span>Manage Batch</span>
      </div>
      <div class="menu-description">
        <span>Manage Standards / Subjects / Topics / Batches, along with Class / Exam Scheduling.</span>
      </div>
    </div>
    <div class="course-menu-item" routerLink="../ecourse-file-manager" *ngIf="jsonFlags.isEcourseFileManager">
      <div class="menu-title">
        <img src="./assets/images/activity/study_material.svg" alt="">
        <span>Study Material</span>
      </div>
      <div class="menu-description">
        <span>Study Material Repository - To be used for Sharing with Students in Offline / Online Courses and for
          Selling purpose.</span>
      </div>
    </div>
    <div class="course-menu-item" routerLink="/view/batch/file-manager" *ngIf="jsonFlags.isShowFileManager">
      <div class="menu-title">
        <img src="./assets/images/activity/file_manager.svg" alt="file manager">
        <span>File / Documents Manager</span>
      </div>
      <div class="menu-description">
        <span>Upload and Share Youtube Links / Assignments / Notes / Homework etc with Students.</span>
      </div>
    </div>
    <div class="course-menu-item" routerLink="/view/course/online-assignment" *ngIf="jsonFlags.isShowOnlineAssignment">
      <div class="menu-title">
        <img src="./assets/images/course/reports.svg" alt="reports">
        <span>Online Assignment </span>
        <span class="new-keyword">New</span>
      </div>
      <div class="menu-description">
        <span>Share and evaluate student assignment</span>
      </div>
    </div>
    <div class="course-menu-item" routerLink="/view/batch/coursePlanner/class" *ngIf="jsonFlags.isShowClassPlanner">
      <div class="menu-title">
        <img src="./assets/images/course/class-planner.svg" alt="class planner">
        <span>Class/Exam Planner</span>
      </div>
      <div class="menu-description">
        <span>Plan and manage classes/exams for all courses at one place.</span>
      </div>
    </div>
    <!-- <div class="course-menu-item" routerLink="/view/batch/coursePlanner/exam" *ngIf="jsonFlags.isShowClassPlanner">
      <div class="menu-title">
        <img src="./assets/images/course/exam-planner.svg" alt="exam planner">
        <span>Exam Planner</span>
      </div>
      <div class="menu-description">
        <span>Plan and manage exams for all courses at one place.</span>
      </div>
    </div> -->
    <div class="course-menu-item" routerLink="/view/batch/timeTable">
      <div class="menu-title">
        <img src="./assets/images/course/timetable.svg" alt="timetable">
        <span>Timetable</span>
      </div>
      <div class="menu-description">
        <span>Check and Print Timetable for the week.</span>
      </div>
    </div>
    <div class="course-menu-item" routerLink="/view/batch/reports">
      <div class="menu-title">
        <img src="./assets/images/course/reports.svg" alt="reports">
        <span>Reports</span>
      </div>
      <div class="menu-description">
        <span>Student Attendance & Exam Reports for Analysis and Printing.</span>
      </div>
    </div>
    <div class="course-menu-item" *ngIf="!schoolModel" routerLink="../master-tag">
      <div class="menu-title">
        <img src="./assets/images/activity/manage_tag.svg" alt="">
        <span>Manage Tag</span>
      </div>
      <div class="menu-description">
        <span>Tags are used in Online Exams for better analysis of student performance.</span>
      </div>
    </div>



    <div class="course-menu-item" *ngIf="jsonFlags.isShowEcourseMapping" routerLink="../ecoursemapping">
      <div class="menu-title">
        <img src="./assets/images/activity/ecourse.svg" alt="">
        <span>eCourse Mapping</span>
      </div>
      <div class="menu-description">
        <span *ngIf="!isLangInstitue">Manage eCourse (Online Courses) for Online Tests, Study Material and eStore
          Products.</span>
        <span *ngIf="isLangInstitue">Manage eCourse (Online Courses) for Online Tests, Study Material and eStore
          Products.</span>
      </div>
    </div>
    <div class="course-menu-item" routerLink="/view/batch/archiving" *ngIf="jsonFlags.isShowArchiving">
      <div class="menu-title">
        <img src="./assets/images/activity/archive.svg" alt="archiving">
        <span>Course Deletion</span>
      </div>
      <div class="menu-description">
        <span *ngIf="(isLangInstitue)">Archive old batches and get the report.</span>
        <span *ngIf="(!isLangInstitue)">Archive old courses and get the report.</span>
      </div>
    </div>


  </div>

</section>