@import "./src/assets/css/common/variables.scss";

.ga-modal-wrapper {
  right: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background: rgba(136, 136, 136, 0.6);
  z-index: 999;

  .ga-modal-container {
    display: flex;
    overflow-y: auto;
    height: 100%;

    .ga-modal {
      margin: auto;
      background: #fff;
      border: 2pt solid #fff;
      border-radius: .2em;
      box-shadow: 0 2pt 3pt #999;
      min-height: 80vh;
      max-height: 82vh;
      overflow-y: auto;
      overflow-x: hidden;
      min-width: 50%;

      .ga-modal-head {
        padding: .5em 1em;
        border-bottom: 1pt solid #ddd;
        font-weight: bold;

        .close {
          font-weight: bold;
          font-size: 1.2em;
          position: relative;
          right: -0.6em;
          top: -0.4em;
          background: #fff;
          border-radius: 100%;
          width: 24px;
          height: 24px;
          display: flex;
          opacity: 1;
          cursor: pointer;

          &:after {
            content: 'X';
            margin: auto;
            font-size: .85em;
          }
        }
      }

      .ga-modal-body {
        padding: 1em;
      }
    }
  }
}

.ga-form-input {
  border: 1pt solid #ddd;
  width: 100%;
  border-radius: 3px;
  padding: .2em;
  color: #334e4c;
  box-shadow: inset 0 0 2pt #f1f1f1;
}

.field-checkbox-wrapper, .field-radio-wrapper{
  position: relative;
   padding-left: 0px;
   margin-bottom: 0px;
}

.upload-box {
  display: flex;

  .file-form {}

  .file-drop-wrapper {
    padding: 0 1em;

    .drop-box {
      background: #ecf7ff;
      height: 100%;
      border: 1pt solid #9E9E9E;
      border-style: dashed;
      margin-bottom: 30px;
    }
  }
}

::ng-deep .ui-fileupload {
  width: 100%;
  cursor: pointer;
}

::ng-deep .ui-fileupload-buttonbar {
  background: $header-bg;
  width: auto;
}

::ng-deep .ui-fileupload-content {
  min-height: 200px;
  width: auto;
  padding: 5px;
  border-top: none;
  border-right: 3px dashed $border-common;
  border-bottom: 3px dashed $border-common;
  border-left: 3px dashed $border-common;
  cursor: pointer;

  &::after {
    content: "Drag & Drop Files Here";
    color: rgba(0, 0, 0, 0.09);
    position: absolute;
    top: 35%;
    left: 5%;
    font-size: 36px;
  }
}

.video-input {
  border: 1pt solid #ddd;
  width: 100%;
  border-radius: 3px;
  padding: 1em;
  color: #334e4c;
  -webkit-box-shadow: inset 0 0 2pt #f1f1f1;
}

.btn-div {
  float: right;
  margin-top: 3em;
  margin-right: 1em;
  margin-bottom: 1em;
}

.title{
  font-weight: 600;
}

.qInfoIcon {
  width: 20px;
  margin-left: 5px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 50%;
  display: block;
  text-align: center;
  box-sizing: border-box;
  line-height: 20px;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
  box-shadow: 0px 0px 1px 0px #ccc inset;
  color: #888;
  transition: all 0.2s linear;
  &:hover {
      border-color: $header-bg;
      box-shadow: 0px 0px 1px 0px $header-bg inset;
      color: $header-bg;
  }
}




    .tooltip-box-field {
      color:white;
      min-height: 22px;
      width: 300px !important;
      left: -300px !important;
      background:grey;
    }

    .active_toggle_button {
      color: #00a2ff;
    }

    .inactive_toggle_button {
      color: lightgray;
    }

    .qInfoIcon {
      width: 20px;
      margin-left: 5px;
      height: 20px;
      border: 1px solid #ccc;
      border-radius: 50%;
      display: block;
      text-align: center;
      box-sizing: border-box;
      line-height: 20px;
      font-weight: 600;
      font-size: 12px;
      cursor: pointer;
      box-shadow: 0px 0px 1px 0px #ccc inset;
      color: #888;
      transition: all 0.2s linear;
      &:hover {
          border-color: $header-bg;
          box-shadow: 0px 0px 1px 0px $header-bg inset;
          color: $header-bg;
      }
    }

    .toggle-switch {
      display: inline-block;
      background: #0084f6;
      border-radius: 16px;
      width: 46px;
      height: 16px;
      position: relative;
      vertical-align: middle;
      transition: background 0.25s;

      &:before,
      &:after {
        content: "";
      }

      &:before {
        display: block;
        background: linear-gradient(to bottom, #fff 0%, #eee 100%);
        border-radius: 50%;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
        width: 16px;
        height: 16px;
        position: absolute;
        transition: left 0.25s;
      }

      .toggle:hover &:before {
        background: linear-gradient(to bottom, #fff 0%, #fff 100%);
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
      }

      .toggle-checkbox:checked+& {
        background: #0084f6;

        &:before {
          left: 30px;
        }
      }
    }

    .field-wrapper{
      padding-left: 10px;
    }

    .black-bg{
      background: rgba(12, 11, 11, 0.3);
      position: fixed;
      top: 0px;
      height: 100%;
      left: 0px;
      z-index: 1100;
      width: 100%;
    }


    .progress-bar-wrapper {
        float: left;
        width: 100%;
    }

    .upload-bar {
        position: relative;
        height: 8px;
        width: 100%;
        background: #ccc;
        border-radius: 0;
        overflow: hidden;
        margin: 10px 0 5px;
        &>div {
            position: absolute;
            height: 100%;
            width: 0%;
            left: 0;
            background: #2680eb;
            top: 0;
            border-radius: 0;
            transition: all 0.5s ease;
        }
    }

    .uploadVimeo {
      border: 1px solid #2399e5;
      color: #FFFFFF;
      background: #2399e5;
      padding: 5px;
      border-radius: 4px;
      float: right;
      margin-right: 10px;
      cursor: pointer;
    }

    input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}