<!DOCTYPE HTML>
<html lang="en" style="margin-top: -48px;width: 100vw;margin-left: -18%;">
<head>
	<title>Proctur Website Builder</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	
	
	<!-- Font -->
	
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CPoppins:400,500" rel="stylesheet">
	
	
	<link href="../../../../coming/common-css/ionicons.css" rel="stylesheet">
	
	
	<link rel="stylesheet" href="../../../../coming/common-css/jquery.classycountdown.css" />
		
	<link href="../../../../coming/03-comming-soon/css/responsive.css" rel="stylesheet">
	
	<link href="../../../../coming/03-comming-soon/css/styles.css" rel="stylesheet">
	
</head>
<body>
	
	<div class="main-area center-text" style="background-image:url(../../../../assets/images/countdown-3-1600x900.jpg);">
		
		<div class="display-table">
			<div class="display-table-cell">
				<img src="https://proctur.com/assets/img/logo.svg" style="width: 250px; height: auto;" />
				<h1 class="title font-white"><b>Welcome to PROCTUR</b></h1>
				<p class="desc font-white">Thank you for using Proctur Admin Portal. Please contact our support team for installation of Admin Portal on your domain.</p>
				
				
				
			</div><!-- display-table -->
		</div><!-- display-table-cell -->
	</div><!-- main-area -->
	
</body>
</html>
