@import "../inventory-module.component.scss";

.lowstock{
    color: red !important;
    border-radius: 4px;
    
}

#deleteModalCat .modal-dialog {
    width: 350px;
    text-align: center;
}
@media (min-width: 576px){
 #deleteModalCat .modal-dialog {
    max-width:350px;
}
}
.alert_text{
    text-align: center;
}
