<div class="middle-section clearFix" id="enquiryList">
  <div id="myNav" class="overlay visible-xs" (click)="screenClicked()">
    <!-- Overlay content -->
    <div class="overlay-content">
      <a #liEnquiry routerLink="/view/enquiry">Enquiry</a>
      <a #liStudent routerLink="/view/students">Student</a>
      <a #liCourse routerLink="/view/course">Courses</a>
      <a #liActivity routerLink="/view/live-classes">Activity</a>
      <a #liEmployee routerLink="/view/employee">Employee</a>
      <a #liReports routerLink="/view/reports">Reports</a>
      <a #liInventory routerLink="/view/inventory">Inventory</a>
      <a #liCampaign routerLink="/view/campaign">Campaign</a>
      <a #liHelp routerLink="/view/help">Help Center</a>
      <a class="hide" #liExpense routerLink="expense">Expense</a>
      <a class="hide" #liExams routerLink="exams">Online Exam</a>
    </div>

  </div>
</div>