<section class="clearFix" style="padding-top: 2px;">
  <div class="act-top clearfix">
    <h1 class="pull-left">Training Videos</h1>
  </div>

  <div class="videos-outer-container">
    <div class="section-title-container">
      <span>Section 1 : Overview</span>
    </div>
    <div class="videos-container">
      <div class="video-item" (click)="showVideo('https://www.youtube.com/embed/-TAzwJWYMWg')">
        <div class="thumbnail-container">
          <div class="play-container fa fa-play-circle-o"></div>
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Overview of complete Proctur</span>
          </div>
          <div class="video-description-container">
            <span>Institute Management Solution and how to get started</span>
          </div>
        </div>
      </div>
    </div>

    <div class="section-title-container">
      <span>Section 2 : Data Setup</span>
    </div>

    <div class="videos-container">
      <div class="video-item" (click)="showVideo('https://www.youtube.com/embed/bo7sOh7X-ic')">
        <div class="thumbnail-container">
          <div class="play-container fa fa-play-circle-o"></div>
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Account Setup - Course Model</span>
          </div>
          <div class="video-description-container">
            <span>Setup your account in Proctur course model</span>
          </div>
        </div>
      </div>
      <div class="video-item" (click)="showVideo('https://www.youtube.com/embed/8RBkUAjsd_w')">
        <div class="thumbnail-container">
          <div class="play-container fa fa-play-circle-o"></div>
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Account Setup -Batch Model</span>
          </div>
          <div class="video-description-container">
            <span>Setup your account in Proctur batch model</span>
          </div>
        </div>
      </div>
      <div class="video-item" (click)="showVideo('https://www.youtube.com/embed/ywiy_GIicVk')">
        <div class="thumbnail-container">
          <div class="play-container fa fa-play-circle-o"></div>
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>General Settings</span>
          </div>
          <div class="video-description-container">
            <span>Settings of activities like reminders/notifications of fees, exams, attendance and others</span>
          </div>
        </div>
      </div>
      <div class="video-item" (click)="showVideo('https://www.youtube.com/embed/vxxvsIsiebI')">
        <div class="thumbnail-container">
          <div class="play-container fa fa-play-circle-o"></div>
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Users & Role Management</span>
          </div>
          <div class="video-description-container">
            <span>How to assign individual role to users</span>
          </div>
        </div>
      </div>
    </div>

    <div class="section-title-container">
      <span>Section 3 : Student Management</span>
    </div>
    <div class="videos-container">
      <div class="video-item" (click)="showVideo('https://www.youtube.com/embed/sOpLY1Zc-3E')">
        <div class="thumbnail-container">
          <div class="play-container fa fa-play-circle-o"></div>
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Student Admission</span>
          </div>
          <div class="video-description-container">
            <span>How to add student data in the system</span>
          </div>
        </div>
      </div>
      <div class="video-item" (click)="showVideo('https://www.youtube.com/embed/3IQS0M3wv_M')">
        <div class="thumbnail-container">
          <div class="play-container fa fa-play-circle-o"></div>
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Student data bulk upload</span>
          </div>
          <div class="video-description-container">
            <span>How to upload student information in bulk</span>
          </div>
        </div>
      </div>
      <div class="video-item" (click)="showVideo('https://www.youtube.com/embed/GdhZ9L89HyM')">
        <div class="thumbnail-container">
          <div class="play-container fa fa-play-circle-o"></div>
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Inventory Management & Allocation</span>
          </div>
          <div class="video-description-container">
            <span>How to manage inventory like bags, study material, stationary etc.</span>
          </div>
        </div>
      </div>
      <div class="video-item" (click)="showVideo('https://www.youtube.com/embed/XkC1SeAG-DQ')">
        <div class="thumbnail-container">
          <div class="play-container fa fa-play-circle-o"></div>
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Report Card and ID Card</span>
          </div>
          <div class="video-description-container">
            <span>How to download and view report card and ID card</span>
          </div>
        </div>
      </div>
    </div>

    <div class="section-title-container">
      <span>Section 4 : Communication</span>
    </div>
    <div class="videos-container">
      <div class="video-item" (click)="showVideo('https://www.youtube.com/embed/a9egDur_Brk')">
        <div class="thumbnail-container">
          <div class="play-container fa fa-play-circle-o"></div>
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Send Notifications</span>
          </div>
          <div class="video-description-container">
            <span>How to send notification to users through add/send notification option</span>
          </div>
        </div>
      </div>
      <div class="video-item" (click)="showVideo('https://www.youtube.com/embed/BXkEUAq57CQ')">
        <div class="thumbnail-container">
          <div class="play-container fa fa-play-circle-o"></div>
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Send Messages</span>
          </div>
          <div class="video-description-container">
            <span>How to view the sent notifications in report section</span>
          </div>
        </div>
      </div>
    </div>

    <div class="section-title-container">
      <span>Section 5 : Course Management</span>
    </div>
    <div class="videos-container">
      <div class="video-item" (click)="showVideo('https://www.youtube.com/embed/UH0Ew9SeAXI')">
        <div class="thumbnail-container">
          <div class="play-container fa fa-play-circle-o"></div>
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Course Planner </span>
          </div>
          <div class="video-description-container">
            <span>How to plan, manage and schedule classes and exams </span>
          </div>
        </div>
      </div>
      <div class="video-item" (click)="showVideo('https://www.youtube.com/embed/jSmWzoV6ckA')">
        <div class="thumbnail-container">
          <div class="play-container fa fa-play-circle-o"></div>
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Time Table</span>
          </div>
          <div class="video-description-container">
            <span>How to view and download a time table</span>
          </div>
        </div>
      </div>
      <div class="video-item" (click)="showVideo('https://www.youtube.com/embed/g7N1xnm1-4I')">
        <div class="thumbnail-container">
          <div class="play-container fa fa-play-circle-o"></div>
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>File Manager </span>
          </div>
          <div class="video-description-container">
            <span>How to upload and share files like pdf, images, powepoints, word docs etc. with the students</span>
          </div>
        </div>
      </div>
      <div class="video-item" (click)="showVideo('https://www.youtube.com/embed/5dCCRn0Det8')">
        <div class="thumbnail-container">
          <div class="play-container fa fa-play-circle-o"></div>
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Setup PTM -Parent Teacher Meetings</span>
          </div>
          <div class="video-description-container">
            <span>How to create,organise and manage Parent teacher meetings </span>
          </div>
        </div>
      </div>
    </div>

    <div class="section-title-container">
      <span>Section 6 : Lead Management</span>
    </div>
    <div class="videos-container">
      <div class="video-item" (click)="showVideo('https://www.youtube.com/embed/a3dyrW8dFRA')">
        <div class="thumbnail-container">
          <div class="play-container fa fa-play-circle-o"></div>
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>SMS camapaign</span>
          </div>
          <div class="video-description-container">
            <span>How to send promotional sms campaign</span>
          </div>
        </div>
      </div>
      <div class="video-item" (click)="showVideo('https://www.youtube.com/embed/xGJaK08a0cI')">
        <div class="thumbnail-container">
          <div class="play-container fa fa-play-circle-o"></div>
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Enquiry bulk upload</span>
          </div>
          <div class="video-description-container">
            <span>How to upload enquiries in bulk</span>
          </div>
        </div>
      </div>
      <div class="video-item" (click)="showVideo('https://www.youtube.com/embed/WamifzHsRTk')">
        <div class="thumbnail-container">
          <div class="play-container fa fa-play-circle-o"></div>
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Manage Enquiries</span>
          </div>
          <div class="video-description-container">
            <span>How to manage enquiries?</span>
          </div>
        </div>
      </div>
      <div class="video-item" (click)="showVideo('https://www.youtube.com/embed/FHhhVG5fBss')">
        <div class="thumbnail-container">
          <div class="play-container fa fa-play-circle-o"></div>
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Convert Enquiry to student</span>
          </div>
          <div class="video-description-container">
            <span>How to convert an enquiry directly into an admission</span>
          </div>
        </div>
      </div>
    </div>

    <div class="section-title-container">
      <span>Section 7 : Old Data Management</span>
    </div>
    <div class="videos-container">
      <div class="video-item" (click)="showVideo('https://www.youtube.com/embed/FJz44py00xg')">
        <div class="thumbnail-container">
          <div class="play-container fa fa-play-circle-o"></div>
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Archive student data</span>
          </div>
          <div class="video-description-container">
            <span>How to archive student data</span>
          </div>
        </div>
      </div>
      <div class="video-item" (click)="showVideo('https://www.youtube.com/embed/sPihWO-HVSE')">
        <div class="thumbnail-container">
          <div class="play-container fa fa-play-circle-o"></div>
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Archive courses</span>
          </div>
          <div class="video-description-container">
            <span>How to archive courses</span>
          </div>
        </div>
      </div>
    </div>

    <div class="section-title-container">
      <span>Section 8 : Fees Management</span>
    </div>
    <div class="videos-container">
      <div class="video-item" (click)="showVideo('https://www.youtube.com/embed/ubEBAtCCTF8')">
        <div class="thumbnail-container">
          <div class="play-container fa fa-play-circle-o"></div>
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Manage student fees</span>
          </div>
          <div class="video-description-container">
            <span>How to manage and update fees and post dated cheques</span>
          </div>
        </div>
      </div>
      <div class="video-item" (click)="showVideo('https://www.youtube.com/embed/K23_UVTLzO0')">
        <div class="thumbnail-container">
          <div class="play-container fa fa-play-circle-o"></div>
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Fee discount</span>
          </div>
          <div class="video-description-container">
            <span>How to provide discount to students?</span>
          </div>
        </div>
      </div>
      <div class="video-item" (click)="showVideo('https://www.youtube.com/embed/5bepoadfcEQ')">
        <div class="thumbnail-container">
          <div class="play-container fa fa-play-circle-o"></div>
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Reconfigure fees</span>
          </div>
          <div class="video-description-container">
            <span>How to reconfigure fees i.e make changes in installments/fees of Students</span>
          </div>
        </div>
      </div>
      <div class="video-item" (click)="showVideo('https://www.youtube.com/embed/rodO5EnxlVQ')">
        <div class="thumbnail-container">
          <div class="play-container fa fa-play-circle-o"></div>
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Fee Report</span>
          </div>
          <div class="video-description-container">
            <span>Complete information regarding fees with reports</span>
          </div>
        </div>
      </div>
      <div class="video-item" (click)="showVideo('https://www.youtube.com/embed/3CuoufweNlo')">
        <div class="thumbnail-container">
          <div class="play-container fa fa-play-circle-o"></div>
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Update Student's PDC</span>
          </div>
          <div class="video-description-container">
            <span>How to update cheque provided by students</span>
          </div>
        </div>
      </div>
    </div>

    <div class="section-title-container">
      <span>Section 8 : Proctur Live</span>
    </div>
    <div class="videos-container">
      <div class="video-item" (click)="showVideo('https://www.youtube.com/embed/XkYwgaUdZFQ')">
        <div class="thumbnail-container">
          <div class="play-container fa fa-play-circle-o"></div>
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Create Live Class</span>
          </div>
          <div class="video-description-container">
            <span>How to create Live Class</span>
          </div>
        </div>
      </div>
      <div class="video-item" (click)="showVideo('https://www.youtube.com/embed/zFMc8N-4Ye4')">
        <div class="thumbnail-container">
          <div class="play-container fa fa-play-circle-o"></div>
        </div>
        <div class="video-info-container">
          <div class="video-title-container">
            <span>Proctur Live - Official Demo Video</span>
          </div>
          <div class="video-description-container">
            <span>How to use Live Class</span>
          </div>
        </div>
      </div>
    </div>


  </div>

  <div class="modal fade" id="exampleModal" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <span>{{viewMoreText}}</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="videoplayer" *ngIf="videoplayer">
    <iframe width="650" height="400" [src]="currentProjectUrl" frameborder="0" style="border-radius: 10px;"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
  </div>

</section>

<div class="black-bg" id="black-bg" *ngIf="videoplayer" (click)="closePlayer()">

</div>