<div class="container-fluid product-wrapper p-0" style="padding-top: 2px;padding: 1%;">

  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12 form-group">
          <label class="text-bold"> Title
            <span class="text-danger">*</span>
          </label>
          <input type="text" placeholder="Title" [(ngModel)]="pageModel.page_title" class="form-control form-control-sm">
        </div>

        <div class="col-md-12 form-group">
          <label class="text-bold"> Page URL
            <span class="text-danger">*</span>
          </label>
          <input type="text" placeholder="Eg:registration" [(ngModel)]="pageModel.page_route" class="form-control form-control-sm">
        </div>

        <div class="col-md-12">
          <div class="col-md-12 form-group" style="padding-right: 0px;padding-left: 0px;width: 100%;">
            <label class="text-bold">Description</label>
              <editor [init]="editorConf" apiKey="xix5hq71alw64jp2ufl9fo6nddnhg91n6h7w2afn043v538t"
                [(ngModel)]="pageModel.page_data" placeholder="Content">
              </editor>
          </div>
        </div>

        <!-- <div class="row m-0"> -->
          <div class="col-md-12 form-group">
            <label class="text-bold">Status
            </label>
            <select id="country_id" class="form-control form-control-sm" [(ngModel)]="pageModel.page_status">
              <option value="">Select Status</option>
              <option [value]="data.Title" *ngFor='let data of statusData'>
                {{data.Title | titlecase}}
              </option>
            </select>
          </div>
        <!-- </div> -->

        <div class="col-md-12" style="margin-bottom: 15px;width: 50%;height: 64px;" *ngIf="selectedPageId && pageModel.banner_image_url!='' && pageModel.banner_image_url!=null">
          <div class="c-md-6" style="padding: 0;margin-top: 1%;margin-right: 5px;">
            <label class="text-bold"> Uploaded Image</label>
            <img style="width: 24%;vertical-align: middle;margin-left: 25px;" src="{{pageModel.banner_image_url}}">
          </div>
          <div class="c-md-1 clearFile" (click)="clearFile()">X</div>
        </div>

        <div class="col-md-12 form-group">
          <label class="text-bold"> Upload Image (Size (Width * Height) : 512px * 512px)
          </label>
          <input type="file" class="form-control form-control-sm" id="uploadFileControl" name="uploadFileBox"
            [disabled]="pageModel.banner_image_url!='' && pageModel.banner_image_url!=null" accept="image/*"
            [(ngModel)]="pageModel.image" />
        </div>


        <!-- <div class="col-md-6 form-group" style="padding-left: 0;margin-bottom: 0;margin-top: 10px;"> -->
          <div class="col-md-12 form-group" [ngStyle]="{'margin-top': (selectedPageId && pageModel.banner_image_url!='' && pageModel.banner_image_url!=null) ? '30px' : ''}">
            <input type="checkbox" id="inactive" class="form-ctrl" [(ngModel)]="pageModel.in_navbar"
              style="-webkit-appearance: checkbox !important;">&nbsp;
            <label for="inactive">Show on website</label>
          </div>
        <!-- </div> -->
      </div>

      <div class="go-btn-container">
        <button type="button" name="button" class="fullBlue add-class-btn" (click)="cancel()">Cancel</button>
        <button type="button" name="button" class="fullBlue gobtn" (click)="saveData()"
          [disabled]="auth.isRippleLoad.getValue()">Save</button>
      </div>
    </div>
  </div>
</div>